
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources

<div ng-if="lc.createUniversity" class="add-univeristy" ng-init="lc.countryCode = '@ViewBag.country'">
    <h2>@UniversityResources.UniversityAddSchoolTitle</h2>
    <form ng-submit="lc.createNewUniversity(createUniversity)" class="text-capitalize" novalidate name="createUniversity">
        <div class="fields">
            <md-input-container>
                <label>@UniversityResources.Country</label>
                <md-select ng-model="lc.countryCode" md-container-class="dd-list">
                    <md-option ng-value="country.iso" ng-repeat="country in ::lc.countries">{{ ::country.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-autocomplete required md-no-asterisk md-input-name="name"
                                 md-delay="350"
                                 md-input-minlength="2"
                                 md-no-cache="false"
                                 md-selected-item-change="lc.selectUniversity(item)"
                                 md-select-on-match="true"
                                 md-search-text="lc.universityName"
                                 md-items="item in lc.searchAutoComplete(lc.universityName,createUniversity)"
                                 md-item-text="item.name"
                                 md-floating-label="@UniversityResources.SchoolName">
                    <md-item-template>
                        <span md-highlight-text="lc.universityName">{{item.name}}</span>
                    </md-item-template>
                    <div ng-messages="createUniversity.name.$error" ng-if="createUniversity.name.$touched">
                        <div ng-message="required">@GeneralResources.RequiredField</div>
                        <div ng-message="minlength">@UniversityResources.EntryLength</div>
                        <div ng-message="server">{{lc.error}}</div>
                    </div>
                </md-autocomplete>
            </md-input-container>
        </div>
        <div class="buttons">
            <md-button class="cancel-btn" ng-click="lc.createCancel()" ga-track-event="['universityChoose', 'cancel new university']">
                @GeneralResources.Cancel
            </md-button>
            <md-button type="submit" class="action-btn space-before" ng-disabled="!createUniversity.$valid || lc.submitDisabled" ga-track-event="['universityChoose', 'create new university']">
                @GeneralResources.Create
            </md-button>
        </div>
    </form>
</div>
