
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources
<div class="box-style box-style-form" id="createCourse">
    <form name="createBox" novalidate ng-submit="l.createBox(createBox)">
        <md-content flex>
            <md-input-container flex ng-if="!l.secondStep">
                <label>@UniversityResources.EnterClassName</label>
                <input id="createClassInput" @*focus-me="l.focusCreateClass"*@ autocomplete="off" name="name" required md-no-asterisk ng-model="l.boxName" ng-change="createBox.professor.$setValidity('server',true)" />
                <div ng-messages="createBox.name.$error" ng-show="createBox.name.$dirty">
                    <div ng-message="required">@GeneralResources.RequiredField</div>
                </div>
            </md-input-container>
            <md-input-container flex ng-if="l.secondStep">
                <label>@UniversityResources.EnterCode</label>
                <input autocomplete="off" ng-model="l.code" ng-change="createBox.professor.$setValidity('server',true)" />
            </md-input-container>
            <md-input-container flex ng-if="l.secondStep">
                <label>@UniversityResources.Instructor</label>
                <input autocomplete="off" ng-model="l.professor" name="professor" ng-change="createBox.professor.$setValidity('server',true)" />
                <div ng-messages="createBox.professor.$error">
                    <div ng-message="server">{{l.error}}</div>
                </div>
            </md-input-container>
        </md-content>
        <div class="buttons text-capitalize" layout="row" layout-align="end stretch">
            <button type="reset" class="cancel-btn" ng-click="l.boxCancel()" ga-track-event="['university', 'cancel new class']">@GeneralResources.Cancel</button>
            <button type="button" class="action-btn space-before" ng-if="!l.secondStep" ng-disabled="!l.boxName" ng-click="l.boxNext()" ga-track-event="['university', 'next step new class']">@UniversityResources.Next</button>
            <button type="submit" class="action-btn space-before" ng-if="l.secondStep" ng-disabled="!createBox.$valid || l.submitDisabled" ga-track-event="['university', 'create new class']">@GeneralResources.Create</button>
        </div>
    </form>
</div>
