@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums

<form ng-submit="l.renameNode(nodeSettings)" novalidate name="nodeSettings" layout="row" layout-wrap>
    <md-input-container flex="100">
        <label class="text-capitalize">@GeneralResources.Rename</label>
        <input type="text" autocomplete="off" name="name" required md-no-asterisk ng-model="l.settings.name" ng-change="nodeSettings.name.$setValidity('server',true)" />
        <div ng-messages="nodeSettings.name.$error">
            <div ng-message="required">@GeneralResources.RequiredField</div>
            <div ng-message="server">{{l.error}}</div>
        </div>
    </md-input-container>
    <div class="set-private" ng-if="l.nodeDetail.state === 'open' && l.state.emptyNode && l.nodeDetail.parentUrl.indexOf('?id') === -1">
        <md-input-container flex="100" class="private-switch">
            <md-switch ng-model="l.settings.privacy" ng-true-value="'@LibraryNodeSetting.Closed.GetStringValueLowercase()'"
                       ng-false-value="'@Zbang.Zbox.Infrastructure.Enums.LibraryNodeSetting.Open.GetStringValueLowercase()'">@BoxResources.PrivacySwitchText</md-switch>
                </md-input-container>
                <div class="warning">@BoxResources.PrivacyOneWayClick</div>
            </div>
            <div layout="row" layout-align="end center" class="text-capitalize" flex="100">
                <button type="button" class="cancel-btn" ng-click="l.settingsOpen = false" ga-track-event="['university', 'cancel settings']">@GeneralResources.Cancel</button>
                <button type="submit" class="action-btn space-before" ng-disabled="l.submitDisabled" ga-track-event="['itemPage', 'save settings']">@GeneralResources.SaveChanges</button>
            </div>
        </form>
