
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources
<div ng-if="!lc.needCode && !lc.createUniversity" id="lib-choose">
    <div class="search-form-wrapper" ng-class="{'no-results': lc.term.length > 1 && lc.showNoResult}">
        <div class="intro-text-wrapper">
            <div ng-if="!lc.term">@UniversityResources.UniversitySearchTitle</div>
            <div ng-if="lc.term.length && lc.universities.length">@UniversityResources.UniversitySearchTitleTyping</div>
            <div ng-if="lc.term.length > 1 && lc.showNoResult">@UniversityResources.UniversitySearchTitleNoResult</div>
            <div ng-if="lc.term.length > 1 && lc.showNoResult" class="sub-text">@UniversityResources.UniversitySearchTitleNoResultSub</div>
        </div>
        <form name="libraryChooseForm" novalidate ng-submit="lc.universitySearch(libraryChooseForm)" layout="row" layout-wrap>
            <input spellcheck="false" autofocus required ng-disabled="lc.createUniversity" type="search" class="search-text" placeholder="@UniversityResources.UniversitySearchPlaceholder"
                   ng-model="lc.term" ng-model-options="{debounce : 350}" ng-change="lc.universitySearch(libraryChooseForm)" ng-minlength="2" />
            <button type="submit" class="search-button" ng-disabled="!lc.term.length">
                <md-icon md-svg-icon="t:searchIcon"></md-icon>
            </button>
        </form>
    </div>
    <div ng-if="!lc.createUniversity" srph-infinite-scroll="lc.paging()" class="results">
        <div ng-repeat="u in lc.universities track by u.id" ng-click="lc.selectUniversity(u)" class="univeristy" ga-track-event="['universityChoose', 'selected university']">
            <img class="img-circle" ng-src="{{::u.image}}" width="70" height="70" />
            <div>
                <span class="ellipsis color-1">{{::u.name}}</span>
                <ul class="list-inline">
                    <li ng-repeat="img in ::u.userImages track by $index">
                        <img ng-src="{{::img}}" width="30" height="30" />
                    </li>
                    <li ng-if="u.extraPeople">+{{::u.extraPeople}}</li>
                </ul>
            </div>
        </div>
        <div ng-if="lc.term.length && lc.universities.length" class="add-uni-btn">
            <div>@UniversityResources.NoMoreSchools</div>
            <md-button class="action-btn text-capitalize" ng-click="lc.createUniversity = true" ga-track-event="['universityChoose', 'add new university']">@UniversityResources.AddSchool</md-button>
        </div>
        <div ng-if="lc.term.length > 1 && lc.showNoResult" class="no-result">
            <img src="@Url.CdnContent("/Images/Site/no_uni.png?v=3")" alt="lama no university" />
            <md-button class="action-btn text-capitalize" ng-click="lc.createUniversity = true" ga-track-event="['universityChoose', 'add new university']">@UniversityResources.AddSchool</md-button>
        </div>
       
        <img ng-if="!lc.term" src="@Url.CdnContent("/Images/Site/search_uni.png?v=3")" alt="lama search" />
    </div>


</div>
@{ Html.RenderPartial("_ChooseCreateUniversity");}
@{ Html.RenderPartial("_ChooseEnterCode");}
