@using Zbang.Cloudents.Mvc4WebRole.Js.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources
<div collapse-header>
    <div class="explore" ng-if="!cc.showCreateClass">
        <div class="top-container">
            <div class="status-strip" ng-if="cc.selectedCourses.length && !cc.showCreateClass">
                <h2>You've added&nbsp;</h2><ng-pluralize count="cc.selectedCourses.length"
                                                         when="{
                     'one': '1 @GeneralResources.Class,',
                     'other': '{} @GeneralResources.Classes,'}">
                </ng-pluralize>
                <h2 ng-if="cc.selectedCourses.length == 1">&nbsp;continue selecting classes</h2>
                <h2 ng-if="cc.selectedCourses.length >= 2">
                    &nbsp;<a ui-sref="dashboard">click here</a>&nbsp;if you're done
                </h2>
            </div>
            <div class="title-strip">
                <h2 ng-if="!cc.selectedCourses.length">@UniversityResources.OnboardingHeaderStep1</h2>
            </div>
            <div class="wrapper" flex-gt-md="85">
                <h2 class="title" ng-if="!cc.selectedCourses.length">@UniversityResources.OnboardingHeaderStep1</h2>
                <h2 class="title" ng-if="cc.selectedCourses.length">@UniversityResources.OnboardingHeaderStep2</h2>
                <div class="top">
                    <form class="search-form" name="classChooseFrom" novalidate ng-submit="cc.classSearch()">
                        <input spellcheck="false" autofocus type="search" placeholder="@UniversityResources.OnboardingSearchContainer"
                               ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.classSearch()" />
                        <button type="submit" class="search-button">
                            <md-icon md-svg-icon="t:searchIcon"></md-icon>
                        </button>
                    </form>
                    <div id="selected-classes">
                        <button type="button" class="icon background angular-animate" color="{{::sc.departmentId}}" ng-click="cc.status($event, sc)" ng-repeat="sc in cc.selectedCourses | limitTo:6 track by sc.id "><span ng-bind="::sc.name.substr(0,2)"></span></button>
                        <div class="empty angular-animate" ng-if="cc.selectedCourses.length<6" ng-repeat="i in [1,2,3,4,5,6] | limitTo: (cc.selectedCourses.length - 6)" ng-bind="::i"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-container" flex-gt-md="85">
            <div class="grid-container">
                <ol class="results list-unstyled">
                    <li @*class="angular-animate animate-repeat"*@ ng-repeat="department in cc.data track by department.id">
                        <div class="closed-department" ng-if="::department.type === 'closed'" ng-include="'close-department.html'"></div>
                        <div ng-if="::department.type !== 'closed'" ng-include="'open-department.html'"></div>
                    </li>
                </ol>
            </div>
            <div class="create-class-wrapper" ng-if="cc.data.length !== 0">
                <div class="text">Dont see your class? Create it.</div>
                <button type="button" class="create-class action-btn" ng-click="cc.goCreateClass()">@UniversityResources.OnboardingCreateClass</button>
            </div>
            <div class="empty-state" ng-if="cc.data.length === 0">
                <h2>@GeneralResources.NoResultsTitle</h2>
                <div class="text">@UniversityResources.OnboardingSearchEmptyState</div>
                <button type="button" class="create-class action-btn" ng-click="cc.goCreateClass()">@UniversityResources.OnboardingCreateClass</button>
            </div>
        </div>
    </div>
    <div ng-if="cc.showCreateClass">
        <h2 class="title">@UniversityResources.OnboardingHeaderStep2</h2>
        <form name="createBox" flex="100" flex-gt-xs="50" flex-gt-md="30" novalidate ng-submit="cc.createClass(createBox)" class="create-class">
            <md-autocomplete required md-no-asterisk md-input-name="department"
                             md-delay="350"
                             md-min-length="0"
                             md-select-on-match="true"
                             md-match-case-insensitive="true"
                             md-search-text="cc.departmentName"
                             md-items="item in cc.queryDepartments(cc.departmentName)"
                             md-item-text="item.name"
                             md-floating-label="@UniversityResources.EnterDepName">
                <md-item-template>
                    <span md-highlight-text="cc.departmentName" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <div ng-messages="createBox.department.$error" ng-if="createBox.department.$touched">
                    <div ng-message="required">@GeneralResources.RequiredField</div>
                </div>
            </md-autocomplete>
            <md-input-container class="form-field">
                <label for="className">@UniversityResources.EnterClassName</label>
                <input ng-model="cc.create.name" id="className" required md-no-asterisk autocomplete="off" type="text" name="name" ng-change="createBox.name.$setValidity('server',true)"/>
                <div class="error" ng-messages="createBox.name.$error">
                    <div ng-message="required">@GeneralResources.RequiredField</div>
                    <div ng-message="server">{{cc.create.error}}</div>
                </div>
            </md-input-container>

            <md-input-container class="form-field">
                <label for="classNumber">@UniversityResources.EnterCode</label>
                <input ng-model="cc.create.number" id="classNumber" autocomplete="off" type="text" name="classNumber" ng-change="createBox.name.$setValidity('server',true)"/>
            </md-input-container>
            <md-input-container class="form-field">
                <label for="proffesor">@UniversityResources.Instructor</label>
                <input ng-model="cc.create.professor" id="proffesor" autocomplete="off" type="text" name="proffesor" ng-change="createBox.name.$setValidity('server',true)"/>
            </md-input-container>
            <div class="buttons">
                <button class="cancel-btn" type="reset" ng-click="cc.showCreateClass = false;">@GeneralResources.Cancel</button>
                <button class="action-btn space-before" type="submit" ng-disabled="cc.submitDisabled">@GeneralResources.Create</button>
            </div>
        </form>
    </div>
    <script type="text/ng-template" id="close-department.html">
        <div class="title">
            <div class="department-name ellipsis" ng-bind="::department.name" color="{{::department.id}}" title="{{::department.name}}"></div>
            <div class="lock">
                <md-icon md-svg-icon="t:closed-lock" class="lock fill" color="{{::department.id}}"></md-icon>
            </div>
        </div>
        <div class="box-style">
            <h5 color="{{::department.id}}">@JsResources.privateDepPopupTitle</h5>
            <div class="subtitle">@JsResources.privateDepPopupContent</div>
            <button type="button" class="action-btn" ng-click="cc.requestAccess(department)">@JsResources.privateDepPopupRequestButton</button>
        </div>

    </script>
    <script type="text/ng-template" id="open-department.html">
        <div class="title">
            <div dir="auto" class="department-name ellipsis" ng-bind="::department.name" color="{{::department.id}}" title="{{::department.name}}"></div>
        </div>
        <ol class="department-courses list-unstyled">
            <li class="" ng-repeat="e in department.boxes track by e.id" ng-if="!e.selected">
                <button class="angular-animate" cart-animation-to=".empty" cart-animation=".icon" ga-track-event="['course-choose', 'box']" ng-click="cc.choose(e,department)">
                    <div class="box-template box-style slim" ng-include="'slim-box-template.html'"></div>
                </button>
            </li>
        </ol>
    </script>
    <script type="text/ng-template" id="dialog.tmpl.html">
        <md-dialog class="selected-class-dialog">
            <md-toolbar layout="row" layout-align="space-between center">
                <img src="@Url.CdnContent("/Images/Site/course_choose_popup.png?v=1")" />
                <div class="title">Selected Class</div>
            </md-toolbar>
            <md-dialog-content>
                <div class="data-wrapper" ng-if="!cd.confirmStep">
                <div class="department-name ellipsis" dir="auto" color="{{::cd.course.departmentId}}" ng-bind="cd.course.department"></div>
                    <div class="box-container box-template box-style slim">
                            <div class="icon background" color="{{cd.course.departmentId}}" ng-bind="cd.course.name.substr(0,2) | lowercase"></div>
                        <div class="data">
                            <div class="details">
                                    <h5 class="name ellipsis" dir="auto" color="{{cd.course.departmentId}}" ng-bind="cd.course.name" title="{{cd.course.name}}"></h5>
                                <div class="metadata">
                                    <div class="code ellipsis" dir="auto" ng-bind="cd.course.courseCode"></div>
                                    <div class="professor ellipsis" dir="auto" ng-bind="cd.course.professor"></div>
                                </div>
                            </div>
                            <div class="stats">
                                <div class="users stat">
                                    <md-icon md-svg-icon="t:user"></md-icon>
                                    <div class="num" ng-bind="cd.course.members | megaNumber"></div>
                                </div>
                                <div class="docs stat">
                                    <md-icon md-svg-icon="t:docs"></md-icon>
                                    <div class="num" ng-bind="cd.course.items | megaNumber"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button ng-click="cd.close()" class="cancel-btn">@GeneralResources.Cancel</button>
                        <button ng-click="cd.confirmStep = true" class="action-btn">Remove</button>
                    </div>
                </div>
                <div class="confirm" ng-if="cd.confirmStep">
                    <md-icon md-svg-icon="t:alert"></md-icon>
                    <div class="text">Are you sure you want to remove this class?</div>
                    <div class="buttons">
                        <button ng-click="cd.close()" class="cancel-btn">No</button>
                        <button ng-click="cd.remove()" class="action-btn">Yes</button>
                    </div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </script>

    <script defer type="text/ng-template" id="slim-box-template.html">
        <div class="icon background" color="{{::department.id}}" ng-bind="::e.name.substr(0,2) | lowercase"></div>
        <div class="data">
            <div class="details">
                <h5 class="name ellipsis" dir="auto" color="{{::department.id}}" ng-bind="::e.name" title="{{::e.name}}"></h5>
                <div class="metadata">
                    <div class="code ellipsis" dir="auto" ng-bind="::e.courseId"></div>
                    <div class="professor ellipsis" dir="auto" ng-bind="::e.professor"></div>
                </div>
            </div>
            <div class="stats">
                <div class="users stat">
                    <md-icon md-svg-icon="t:user"></md-icon>
                    <div class="num" ng-bind="::e.members | megaNumber"></div>
                </div>
                <div class="docs stat">
                    <md-icon md-svg-icon="t:docs"></md-icon>
                    <div class="num" ng-bind="::e.items | megaNumber"></div>
                </div>
            </div>
        </div>
    </script>
</div>

@*<md-grid-list class="results" md-cols="4" md-row-height="72px"  md-gutter="12px">
        <md-grid-tile md-colspan="1" md-rowspan="{{value.length}}" ng-repeat="(key,value) in cc.data track by key">
            <md-grid-tile-header class="title">
                <div class="department-name ellipsis" ng-bind="::key" d-color="{{::key.length}}" title="{{::key}}"></div>
                <div class="lock">
                    <md-icon md-svg-icon="t:closed-lock" class="lock fill" d-color="{{::key.length}}"></md-icon>
                </div>
            </md-grid-tile-header>
            <ol class="department-courses list-unstyled">
                <li ng-style="{color: c.selected ? 'red' : 'initial'}" class="angular-animate animate-repeat" ng-repeat="e in value track by e.id" ng-include="'slim-box-template.html'">
                </li>
            </ol>
        </md-grid-tile>
    </md-grid-list>*@