@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources

<div ng-if="cc.selectedCourses.length">
    <h2>You've added </h2><ng-pluralize count="cc.selectedCourses.length"
                                        when="{
                     'one': '1 class,',
                     'other': '{} classes,'}">
    </ng-pluralize>
    <h2 ng-if="cc.selectedCourses.length == 1">continue selecting classes</h2>
    <h2 ng-if="cc.selectedCourses.length >= 2"><a ui-sref="dashboard">click here</a> if you're done</h2>
</div>

<div @*ng-switch="cc.step"*@ class="title">
    <h2 @*ng-switch-when="1"*@>@UniversityResources.OnboardingHeaderStep1</h2>
    @*<h2 ng-switch-when="2">@UniversityResources.OnboardingHeaderStep2</h2>
        <h2 ng-switch-when="3">@UniversityResources.OnboardingHeaderStep3</h2>
        <h2 ng-switch-when="4">@UniversityResources.OnboardingHeaderStep4</h2>
        <h2 ng-switch-when="5">@UniversityResources.OnboardingHeaderStep5</h2>
        <h2 ng-switch-when="6">@UniversityResources.OnboardingHeaderStep6</h2>
        <h2 ng-switch-when="7">@UniversityResources.OnboardingHeaderStep7</h2>
        <h2 ng-switch-when="8">@UniversityResources.OnboardingHeaderStep8</h2>*@
</div>
<div class="search-container" ng-if="!cc.showCreateClass">
    <div class="top">
        <form class="search-form" name="classChooseFrom" novalidate ng-submit="cc.classSearch()" layout="row" layout-wrap>
            <input spellcheck="false" autofocus type="search" placeholder="@UniversityResources.OnboardingSearchContainer"
                   ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.classSearch()" />
            <button type="submit" class="search-button">
                <md-icon md-svg-icon="lc:filter"></md-icon>
            </button>
        </form>
        <div class="selected-classes">
            <button type="button" class="icon background" d-color="{{::sc.department.length}}" ng-click="cc.status($event, sc)" ng-repeat="sc in cc.selectedCourses track by sc.id" ng-bind="::sc.name.substr(0,2)"></button>
            <div class="empty" ng-if="cc.selectedCourses.length<6" ng-repeat="i in [1,2,3,4,5,6] | limitTo: (cc.selectedCourses.length - 6)" ng-bind="::i"></div>
        </div>
    </div>



    @*<md-grid-list class="results" md-cols="4" md-row-height="72px"  md-gutter="12px">
            <md-grid-tile md-colspan="1" md-rowspan="{{value.length}}" ng-repeat="(key,value) in cc.data track by key">
                <md-grid-tile-header class="title">
                    <div class="department-name ellipsis" ng-bind="::key" d-color="{{::key.length}}" title="{{::key}}"></div>
                    <div class="lock">
                        <md-icon md-svg-icon="t:closed-lock" class="lock fill" d-color="{{::key.length}}"></md-icon>
                    </div>
                </md-grid-tile-header>
                <ol class="department-courses list-unstyled">
                    <li ng-style="{color: c.selected ? 'red' : 'initial'}" class="angular-animate animate-repeat" ng-repeat="e in value track by e.id" ng-include="'slim-box-template.html'">
                    </li>
                </ol>
            </md-grid-tile>
        </md-grid-list>*@



    <div class="grid-container">
        <ol class="results list-unstyled" @*vs-repeat vs-scroll-parent="window" vs-size="department.boxes.length * 72"*@>
            <li class="angular-animate animate-repeat" ng-repeat="department in cc.data track by department.id">
                <div class="title">
                    <div class="department-name ellipsis" ng-bind="::department.name" d-color="{{::department.name}}" title="{{::department.name}}"></div>
                    <div class="lock">
                        <md-icon md-svg-icon="t:closed-lock" class="lock fill" d-color="{{::department.name}}"></md-icon>
                    </div>
                </div>
                <ol class="department-courses list-unstyled">
                    <li @*ng-style="{color: c.selected ? 'red' : 'initial'}"*@ class="angular-animate animate-repeat" ng-repeat="e in department.boxes track by e.id" ng-if="!e.selected" ng-include="'slim-box-template.html'">
                    </li>
                </ol>
            </li>
        </ol>
    </div>


    <div class="empty-state" ng-if="cc.data.length===0">
        <h2>@GeneralResources.NoResultsTitle</h2>
        <div class="text">@UniversityResources.OnboardingSearchEmptyState</div>
        <button type="button" class="create-class action-btn" ng-click="cc.goCreateClass()">@UniversityResources.OnboardingCreateClass</button>
    </div>
</div>
<div ng-if="cc.showCreateClass">
    <form name="createBox" flex="50" flex-xs="100" novalidate ng-submit="cc.createClass(createBox)">
        <md-autocomplete required md-no-asterisk md-input-name="department"
                         md-delay="350"
                         md-min-length="0"
                         md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-search-text="cc.departmentName"
                         md-items="item in cc.queryDepartments(cc.departmentName)"
                         md-item-text="item.name"
                         md-floating-label="@UniversityResources.SchoolName">
            <md-item-template>
                <span md-highlight-text="cc.departmentName" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <div ng-messages="createBox.department.$error" ng-if="createBox.department.$touched">
                <div ng-message="required">@GeneralResources.RequiredField</div>
            </div>
        </md-autocomplete>
        <md-input-container class="form-field">
            <label for="className">@UniversityResources.EnterClassName</label>
            <input ng-model="cc.create.name" id="className" required md-no-asterisk autocomplete="off" type="text" name="name" ng-change="createBox.name.$setValidity('server',true)" />
            <div class="error" ng-messages="createBox.name.$error">
                <div ng-message="required">@GeneralResources.RequiredField</div>
                <div ng-message="server">{{cc.create.error}}</div>
            </div>
        </md-input-container>

        <md-input-container class="form-field">
            <label for="classNumber">@UniversityResources.EnterCode</label>
            <input ng-model="cc.create.number" id="classNumber" autocomplete="off" type="text" name="classNumber" ng-change="createBox.name.$setValidity('server',true)" />
        </md-input-container>
        <md-input-container class="form-field">
            <label for="proffesor">@UniversityResources.Instructor</label>
            <input ng-model="cc.create.professor" id="proffesor" autocomplete="off" type="text" name="proffesor" ng-change="createBox.name.$setValidity('server',true)" />
        </md-input-container>
        <div class="buttons">
            <button class="cancel-btn" type="reset" ng-click="cc.showCreateClass = false;">@GeneralResources.Cancel</button>
            <button class="action-btn space-before" type="submit" ng-disabled="cc.submitDisabled">@GeneralResources.Create</button>
        </div>
    </form>
</div>

<script type="text/ng-template" id="dialog.tmpl.html">
    <md-toolbar layout="row" layout-align="space-between center">
        <h2>Selected class</h2>
        <md-button aria-label="close" ng-click="close()">
            <md-icon md-svg-icon="t:close"></md-icon>
        </md-button>
    </md-toolbar>
    <div d-color="{{::key.length}}">{{courseData.department}}</div>
    <div ng-init="e = courseData" ng-include="'slim-box-template.html'"></div>
</script>

<script defer type="text/ng-template" id="slim-box-template.html">
    <button class="box-template box-style slim" ga-track-event="['course-choose', 'box']" ng-click="cc.choose(e)">
        <div class="icon background" d-color="{{::department.name}}" ng-bind="::e.name.substr(0,2) | lowercase"></div>
        <div class="data">
            <h5 class="name ellipsis" d-color="{{::department.name}}" ng-bind="::e.name" title="{{::e.name}}"></h5>
            <div class="metadata">
                <div class="code ellipsis" ng-bind="::e.courseId"></div>
                <div class="professor ellipsis" ng-bind="::e.professor"></div>
            </div>
        </div>
    </button>
</script>


