@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources

<div class="page-title">
    <div class="university" layout="row" layout-align="start center" univeristy-cover="{{::l.university.image}}">
        <h1 layout="row" layout-align="start center" style="">
            <img ng-src="{{::l.university.logo}}" height="60" width="60" alt="university-logo" />
            <span class="multi-line-ellipsis limit-two">{{::l.university.name}}</span>
        </h1>
    </div>
    <div class="course-nav" ng-if="l.nodeDetail && !l.settingsOpen" layout="row" layout-align="space-between center">
        <a href="{{::l.nodeDetail.parentUrl}}" ga-track-event="['university', 'back arrow']">
            <h2 layout="row">
                <span class="arrow back-arrow"><md-icon md-svg-icon="t:arrow"></md-icon></span>
                <span class="name ellipsis">
                    {{::l.nodeDetail.name}}
                </span>
            </h2>
        </a>
    </div>
</div>
<div uib-collapse="!l.settingsOpen" compile-html="l.settingsHtml" class="collapsible settings" ng-if="l.nodeDetail" ng-cloak></div>

@{
    Html.RenderPartial("_EmptyStateTopTree");
}

<div class="actions" layout="row" layout-padding layout-wrap flex="100">
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="10" class="create-box flex" ng-if="l.createDepartmentShowButton">
        <button type="button" ng-click="l.openCreateDepartment()" class="box-style action" ng-class="{'active':l.createDepartmentOn}" ga-track-event="['university', 'add new department']">
            <div class="wrapper">
                <md-icon md-svg-icon="t:add" class="icon"></md-icon>
                <span class="text">@UniversityResources.AddDepartment</span>
            </div>
        </button>
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="10" class="create-box flex" ng-if="l.createClassShow">
        <button focus-upon-click="createClassInput" type="button" ng-click="l.openCreateBox()" class="box-style action" ng-class="{'active':l.createBoxOn}" ga-track-event="['university', 'add new class']">
            <div class="wrapper">
                <md-icon md-svg-icon="t:add" class="icon"></md-icon>
                <span class="text">@UniversityResources.AddClass</span>
            </div>
        </button>
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="10" class="create-box flex" ng-if="l.nodeDetail">
        <button type="button" ng-click="l.toggleSettings()" class="settings-btn box-style action" ng-class="{'active':l.settingsOpen}" ga-track-event="['university', 'settings']">
            <div class="wrapper">
                <md-icon md-svg-icon="t:settings" class="icon"></md-icon>
                <span class="text">@UniversityResources.DepartmentSettings</span>
            </div>
        </button>
    </div>
</div>
<div ng-if="!l.state.emptyTopTree" layout="row" layout-padding layout-wrap class="library-list">
    <div id="createDepartment" flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" class="flex create-box" ng-show="l.createDepartmentOn">@{ Html.RenderPartial("_CreateDepartment");}</div>
    <div id="createCourse" flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" class="flex create-box" ng-show="l.createBoxOn">@{ Html.RenderPartial("_CreateCourse");}</div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" class="flex department-wrap" ng-repeat="dep in l.departments track by dep.id">
        <a ng-click="l.goToSubLib(dep,$event)" @*href="{{::dep.url}}"*@ ui-sref="departmentWithNode({ universityId : l.university.id, universityName: l.university.name, nodeName: dep.name , id:dep.id})" class="box-style" ga-track-event="['university', 'select department']">
            <h3 class="name ellipsis border" color="{{::dep.id}}">{{::dep.name}}</h3>
            <div class="status" layout="row" layout-align="space-between center">
                <div class="status-title">
                    {{::dep.noBoxes}} @GeneralResources.Courses
                </div>
                <div ng-if="::dep.state === 'closed'">
                    <div ng-if="::dep.userType !== 'subscribe' && dep.userType !== 'owner'">
                        <md-icon md-svg-icon="t:closed-lock" class="lock"></md-icon>
                    </div>
                    <div ng-if="::dep.userType === 'subscribe' || dep.userType === 'owner'">
                        <md-icon md-svg-icon="t:opened-lock" class="lock"></md-icon>
                    </div>
                </div>
            </div>
        </a>
        <md-menu ng-if="::l.canDelete(dep)">
            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['university', 'delete department']">
                <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
            </md-button>
            <md-menu-content width="1">
                <md-menu-item>
                    <md-button aria-label="remove department" ng-click="l.deleteDepartment($event,dep)" ga-track-event="['university', 'didDelete']">
                        @GeneralResources.Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" class="flex" ng-repeat="e in l.boxes" ng-include="'box-template.html'"></div>
</div>
<button type="button" class="add" hide show-xs ng-click="l.openCreateBox()"
        focus-upon-click="createClassInput"
        ng-if="l.state.withBoxes"
        ng-hide="l.createOn"
        ga-track-event="['dashboard', 'createbox', 'plus']">
    <md-icon md-svg-icon="t:add"></md-icon>
</button>
<button type="button" class="add" hide show-xs ng-click="l.openCreateDepartment()"
        focus-upon-click="createDepartmentInput"
        ng-if="!l.state.withBoxes && !l.state.emptyNode && !l.state.emptyTopTree"
        ng-hide="l.createOn"
        ga-track-event="['dashboard', 'createDepartment', 'plus']">
    <md-icon md-svg-icon="t:add"></md-icon>
</button>
