
@*<script defer type="text/ng-template" id="box-template.html">
    <a ng-href="{{::e.url}}" class="box-template-flex box-style" ga-track-event="['dashboard', 'box']">
        <div class="info">
            <div class="top">
                <div class="icon background" color="{{::e.departmentId}}" ng-bind="::e.name.substr(0,2) | lowercase"></div>
                <h5 class="multi-line-ellipsis limit-two" dir="auto" color="{{::e.departmentId}}" ng-bind="::e.name"></h5>
            </div>
            <div class="bottom">
                <span class="ellipsis" dir="auto" ng-bind="::e.professor"></span>
                <span class="ellipsis" dir="auto" ng-bind="::e.courseCode"></span>
            </div>
        </div>
        <div class="stats border" color="{{::e.departmentId}}">
            <div class="members-count ellipsis">
                <ng-pluralize count="e.membersCount"
                              when="{'one': '{} @GeneralResources.SingleMember',
                              'two': '{} @GeneralResources.Members',
                                          'other': '{} @GeneralResources.Members'}">
                </ng-pluralize>
            </div>
            <div class="items-count ellipsis">
                <ng-pluralize count="e.itemCount"
                              when="{'one': ' {} @BoxResources.SingleItem',
                              'two': '{} @IndexResources.Items',
                                          'other': '{} @IndexResources.Items'}">
                </ng-pluralize>
            </div>
        </div>
    </a>
</script>*@
<script defer type="text/ng-template" id="item-template.html">
    <div class="image color-border-{{ctrl.sec}}" ng-class="{'color-{{ctrl.sec}}':!e.img}"><img ng-if="e.img" width="100%" height="100%" ng-src="{{::e.img}}"/>
       
        <div class="default-image" width="100%" height="100%" ng-if="!e.img">
            <svg class="icon icon-{{ctrl.sec}}">
                <use xlink:href="{{'/App_Themes/Images/icons.svg#icon-'+ctrl.sec}}"></use>
            </svg>
        </div>
    </div>
    <div class="item-content">
        @*<div class="university">
            <div class="description">University of Michigan</div>
            <div class="university-class">Econ 102 / Introductory Microecono…</div>
        </div>*@
        <h2 class="Text-Style-2 color-text-{{ctrl.sec}}">{{::e.title}}</h2>
        <div class="description">
            {{::e.content}}
        </div>
    </div>
    <div class="source credit">Source : {{e.source}}</div>
    @*<a class="clearfix item item-template" ng-href="{{::e.url}}">
        <div class="base">
            <div class="item-ratio">
                <div class="content">
                    <img class="img-responsive" ng-src="{{e.thumbnail}}" width="368" height="520" alt="{{::e.nameExtension}}" />
                    <div class="extra" id="drag{{::$index}}">
                        <h2 class="multi-line-ellipsis" dir="auto" ng-bind-html="::e.nameExtension"></h2>
                    </div>
                </div>
            </div>
            <div class="stats" ng-hide="::e.numOfViews == undefined">
                <div class="views">
                    {{::e.numOfViews}} <md-icon md-svg-icon="b:eye"></md-icon>
                </div>
                <div class="likes">
                    {{::e.likes}} <md-icon md-svg-icon="b:like"></md-icon>
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>*@
</script>
<script defer type="text/ng-template" id="purchase-template.html">
    <div class="image" ng-class="{'color-{{ctrl.sec}}':!e.img}">
        <img ng-if="e.img" width="100%" height="100%" ng-src="{{::e.img}}" />

        <div class="default-image" ng-if="!e.img">
            <span>{{e.name|firstLetters|uppercase|limitTo : 2 }}</span>
        </div>
    </div>
    <div class="rest-details">
        <h2 class="name capitalize">{{::e.name}}</h2>
        <div class="rate-grid">
            <div>{{::e.rate}}</div>
            <div inline-flex class="rating-star">
            <div ng-repeat="i in [1,2,3,4,5]" class="star-five" ng-class="{'selected':(e.rate>i)}"></div></div>
            </div>
        <div class="location">{{::e.location}}</div>
        <div>{{::e.status}}</div>
    </div>       
</script>
<script defer type="text/ng-template" id="tutor-template.html">
    <div class="image" ng-class="{'color-{{ctrl.sec}}':!e.img}">
        <img ng-if="e.img" width="100%" height="100%" ng-src="{{::e.img}}" />

        <div class="default-image" ng-if="!e.img">
            <span>{{e.firstName.substring(0,1)+e.lastName.substring(0,1)|uppercase|limitTo : 2 }}</span>
        </div>
    </div>
    <div class="name">{{::e.firstName}} {{::e.lastName.substring(0,1)}}.</div>
    <div class="price">${{::e.price}}/hour</div>
    <div class="details">
        <div class="place">{{::e.place}}</div>
        <div>{{::e.distance}} miles</div>
        <div>Ofer {{::e.courseType}}</div>
    </div>
</script>
<script defer type="text/ng-template" id="jobs-template.html">
    <div class="title color-text-jobs">{{::e.title}}</div>
    <div class="description">Job description: <br> {{::e.desc}}</div>
    <div class="company">
        <span class="icon">
            <svg class="icon icon-company">
                <use xlink:href="/App_Themes/Images/icons.svg#icon-company"></use>
            </svg>
        </span>{{::e.company}}
    </div>
    <div class="jobType">
        <span class="icon">
            <svg class="icon icon-paid">
                <use xlink:href="/App_Themes/Images/icons.svg#icon-paid"></use>
            </svg>
        </span>{{::e.jobType}}
    </div>
    <div class="startTime">
        <span class="icon">
            <svg class="icon icon-calander">
                <use xlink:href="/App_Themes/Images/icons.svg#icon-calander"></use>
            </svg>
        </span>{{::e.startTime}}
    </div>
    <div class="location">
        <span class="icon">
            <svg class="icon icon-location">
                <use xlink:href="/App_Themes/Images/icons.svg#icon-location"></use>
            </svg>
        </span>{{::e.location}}
    </div>
</script>
<script defer type="text/ng-template" id="book-template.html">
    <div class="image" ng-class="{'color-{{ctrl.sec}}':!e.img}">
        <img ng-if="e.img" width="100%" height="100%" ng-src="{{::e.img}}" />
        <svg class="icon icon-{{ctrl.sec}}" ng-if="!e.img">
            <use xlink:href="{{'/App_Themes/Images/icons.svg#icon-'+ctrl.sec}}"></use>
        </svg>
    </div>
    <div class="title">{{::e.title}}</div>
    <div class="buttons"><button class="sell">Sell</button><button class="buyOrRent">Buy or Rent</button></div>
    <div class="details">
        <div><label class="capitalize">author : </label>{{::e.author}}</div>
        <div><label>{{"isbn10 : "|uppercase}}</label>{{::e.isbn10}}</div>
        <div><label>{{"isbn13 : "|uppercase}}</label>{{::e.isbn13}}</div>
        <div><label class="capitalize">edition : </label>{{::e.edition}}</div>
        <div><label class="capitalize">binding : </label>{{::e.binding}}</div>
    </div>
</script>
@*<script defer type="text/ng-template" id="quiz-template.html">
    <a class="quiz quiz-template" ng-href="{{::e.url}}">
        <div class="base">
            <div class="quiz-ratio">
                <div class="content">
                    <div ng-if="::e.publish" class="top background" d-color="{{::e.name.length}}">
                        <span class="first-letter" first-letter="{{::e.name}}"></span>
                    </div>
                    <div ng-if="::!e.publish" class="top draft-wpr">
                        <span class="draft">@IndexResources.Draft</span>
                    </div>
                    <div class="bottom">
                        <h2 class="name ellipsis" ng-bind-html="::e.name"></h2>
                    </div>
                </div>


            </div>
            <div class="stats" ng-hide="::e.numOfViews === underfined">
                <div class="views">
                    {{::e.numOfViews}} <md-icon md-svg-icon="b:eye"></md-icon>
                </div>
                <div class="likes">
                    {{::e.likes}} <md-icon md-svg-icon="b:like"></md-icon>
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>
</script>

<script defer type="text/ng-template" id="user-template.html">
    <a ui-sref="user({userId:e.id,userName:e.name})" class="member">
        <user-image class="img-circle" name="::e.name" image="::e.image" width="35" height="35"></user-image>
        <div class="info">
            <span class="member-name ellipsis" ng-bind="::e.name"></span>
            <div class="achievements">
                <span ng-bind="::e.score | megaNumber"></span>
                <span class="separator"></span>
                <ng-pluralize class="badges" count="e.badges" when="{
                                                'one': '{} @GamificationResources.Badge',
                                                'two': '{} @GamificationResources.Badges',
                                                'other' : '{} @GamificationResources.Badges'
                                                }"></ng-pluralize>
            </div>
        </div>
    </a>
</script>
<script defer type="text/ng-template" id="scrollToTopTemplate.html">
    <div class="scroll-to-top">
        <md-icon md-svg-icon="t:arrow"></md-icon>
    </div>
</script>
<script type="text/ng-template" id="flashcard-template.html">
    <a class="quiz quiz-template flashcard-element" ng-href="{{::e.url}}">
        <div class="base">
            <div class="quiz-ratio">
                <div class="content">
                    <div ng-if="::e.publish" class="top background" d-color="{{::e.name.length}}">
                        <md-icon md-svg-icon="b:flashcard-icon"></md-icon>
                    </div>
                    <div ng-if="::!e.publish" class="top draft-wpr">
                        <span class="draft">@IndexResources.Draft</span>
                    </div>
                    <div class="bottom">
                        @*because of search*@
                        @*<h2 class="name ellipsis" ng-bind-html="::e.name"></h2>
                    </div>
                </div>
            </div>
            <div class="stats" ng-hide="::e.numOfViews === underfined">
                <div class="views">
                    {{::e.numOfViews}} <md-icon md-svg-icon="b:eye"></md-icon>
                </div>
                <div class="likes">
                    {{::e.likes}} <md-icon md-svg-icon="b:like"></md-icon>
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>
</script>*@