@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<md-sidenav ng-cloak class="chat md-sidenav-right" disable-backdrop="true"
            md-component-id="chat" @*close-menu="right"*@>
    <md-content ng-cloak ng-controller="ChatController as c" ng-class="{stateChat: c.state === c.states.chat}">
        <div class="menu-content" @*ng-if="c.state !== c.states.chat && c.state > 0"*@>
            <div class="header">
                <div class="exit-icon" ng-click="c.close()">
                    @Html.Svg("~/images/site/icons.svg", "exit")
                </div>
                @*<div class="tabs">
                        <button type="button" ng-click="c.state = c.states.messages" ng-class="{active: c.state === c.states.messages}" class="messages tab">@ChatResources.MessagesHeader</button>
                        <button type="button" ng-click="c.friendsState()" class="friends tab" ng-class="{active: c.state === c.states.friends}">@ChatResources.FriendsHeader</button>
                    </div>*@
            </div>
            <div class="tab-content" ng-if="c.state === c.states.messages">
                @*<div class="empty-state">
                    @Html.Svg("~/images/site/icons.svg", "empty-chat")
                    <div class="text">
                        <span>@ChatResources.EmptyStateLine1</span>
                        @ChatResources.EmptyStateLine2
                    </div>
                </div>*@
                <form novalidate class="search-friend" @*ng-if="c.state === c.states.friends"*@ ng-submit="c.search()">
                    <input type="search" placeholder="@ChatResources.FriendSearchPlaceholder" ng-model="c.term" ng-change="c.search()" ng-model-options="{debounce : 300}" />
                    <button type="submit" class="search-btn">
                        @Html.Svg("~/images/site/icons.svg", "searchIcon", new { @class = "searchIcon" })
                    </button>
                </form>
                <ul class="users-list" disable-thouch ng-scrollbars ng-scrollbars-config="c.scrollSetting" @*ng-slimscroll height="calc(100vh - 119px)" color="#BBB" watch-content="true"*@>
                    <li ng-click="c.chat(e)" class="user" ng-repeat="e in c.users track by e.id" ng-class="::{online: e.online}">
                        <user-image class="img-circle" name="::e.name" image="::e.image" width="35" height="35"></user-image>
                        <div class="name-counter">
                            <div class="name-date">
                                <span class="member-name ellipsis" ng-bind="::e.name"></span>
                                <chat-time-ago ng-if="!e.online" class="comment-date" from-time="{{::e.lastSeen }}" format="mediumDate"></chat-time-ago>
                            </div>
                            <span ng-if="e.unread" class="chat-counter" ng-bind="e.unread"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="conversasion angular-animate" ng-if="c.state === c.states.chat">
            <div class="header">
                <div class="user-side">
                    <div class="back" ng-click="c.backFromChat()"></div>
                    <a href="{{::c.userChat.url}}" ng-class="::{online: c.userChat.online}" class="user">
                        <user-image class="img-circle" name="::c.userChat.name" image="::c.userChat.image" width="35" height="35"></user-image>

                        <span class="member-name ellipsis" ng-bind="::c.userChat.name"></span>

                    </a>
                </div>
                <a class="menu" plupload="c.upload.url" plupload-options="c.upload.options" plupload-callbacks="c.upload.callbacks" href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" }) </a>
                @*<nav class="menu">
                        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                        <label class="menu-open-button" for="menu-open">
                            @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" })
                        </label>



                        <a href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "dropbox", new { @class = "dropbox" }) </a>
                        <a href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "googleDrive", new { @class = "googleDrive" }) </a>
                        <a plupload="c.upload.url" plupload-options="c.upload.options" plupload-callbacks="c.upload.callbacks" href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" }) </a>



                    </nav>*@
                @*<div class="attach-menu" ng-cloak>
                        <md-fab-speed-dial md-open="c.open"   md-direction="down" class="md-fling angular-animate">
                            <md-fab-trigger aria-label="menu">
                                <md-button aria-label="add">
                                    @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" })
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <button>
                                    @Html.Svg("~/images/site/uploadIcons.svg", "dropbox", new { @class = "dropbox" })
                                </button>
                                <button>
                                    @Html.Svg("~/images/site/uploadIcons.svg", "googleDrive", new { @class = "googleDrive" })
                                </button>
                                <button>
                                    @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" })
                                </button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>*@
            </div>
            <div class="chat-content">
                @*<md-virtual-repeat-container id="vertical-container">
                    <ul md-virtual-repeat="e in c.messages" @*md-on-demand
                         class="messages">
                        <li class="message" ng-repeat="e in c.messages" ng-class="{partner: e.partner}">
                            <div ng-if="e.text" class="text" ng-bind-html="e.text"></div>
                            <div ng-if="e.blob" class="image" ng-click="c.dialog(e.blob, $event)">
                                <img ng-src="{{::e.thumb}}" alt="preview" />
                            </div>
                            <time-ago class="time" from-time="{{::e.time}}" format="mediumDate"></time-ago>
                        </li>
                    </ul>
                </md-virtual-repeat-container>*@
                <ul class="messages" disable-thouch ng-scrollbars ng-scrollbars-update="c.updateScrollbar" ng-scrollbars-config="c.scrollSetting" @*ng-slimscroll height="calc(100vh - 120px)" start="bottom" watch-content="true" color="#BBB"*@>
                    <li class="message" ng-repeat="e in c.messages" ng-class="{partner: e.partner}">
                        <div ng-if="e.text" class="text" ng-bind-html="::e.text | linky:'_blank'"></div>
                        <div ng-if="e.blob" class="image" ng-click="c.dialog(e.blob, $event)">
                            <img ng-src="{{e.thumb}}" width="208" height="138" alt="preview"/>
                        </div>
                        <time-ago class="time" from-time="{{::e.time}}" format="mediumDate"></time-ago>
                    </li>
                </ul>
                <div class="new-message">
                    <form name="chatDialog" novalidate ng-submit="c.send()">
                        <md-input-container md-no-float="false">
                            <textarea enter-submit="c.send()" autocomplete="off" type="text" required ng-model="c.newText" placeholder="@ChatResources.NewMessagePlaceholder"></textarea>
                        </md-input-container>
                        <button type="submit" class="btn blue-button" ng-disabled="c.disabled" @*ga-track-event="['box-new-commnet', 'postComment']"*@>
                            @Html.Svg("~/images/site/uploadIcons.svg", "post")
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>

