@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    const string svgUrl = "~/images/site/box-icons.svg";
}
<script type="text/ng-template" id="box-template.html">
    <a href="{{::e.url}}" class="dashboard-stat2">
        <span ng-if="e.recommended" class="ribbon background text-capitalize" d-color="{{::e.name.length}}">@IndexResources.Suggested</span>
        <div class="display">
            <div class="number">
                <h5 d-color="{{::e.name.length}}">{{::e.name}}</h5>
                <small>{{::e.professor}}</small><br />
                <small>{{::e.courseCode}}</small>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress background" d-color="{{::e.name.length}}">
            </div>
            <div class="status">
                <div class="status-title" ng-hide="::e.membersCount === undefined">
                    {{::e.membersCount}} @IndexResources.Members
                </div>
                <div class="status-number" ng-hide="::e.itemCount === undefined">
                    {{::e.itemCount}} @IndexResources.Items
                </div>
            </div>
        </div>
    </a>
</script>

<script type="text/ng-template" id="item-template.html">
    <a class="clearfix item" href="{{::e.url}}">
        <div class="base">
            <div class="item-ratio">
                <div class="content">
                    <img class="img-responsive" ng-src="{{::e.thumbnail}}" width="368" height="520" alt="thumbnail" />
                    <div class="extra" id="drag{{::$index}}">
                        <h5 class="multi-line-ellipsis color-override textColor3" ng-bind-html="::e.nameExtension"></h5>
                    </div>
                </div>
            </div>
            <div class="stats" ng-hide="::e.numOfViews == undefined">
                <div>
                    {{::e.numOfViews}} @Html.Svg(svgUrl, "eye")
                </div>
                <div>
                    {{::e.likes}} @Html.Svg(svgUrl, "like")
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>
</script>
<script type="text/ng-template" id="quiz-template.html">
    <a class="quiz" href="{{e.url}}">
        <div class="base">
            <div class="quiz-ratio">
                <div class="content">
                    <div ng-if="e.publish" class="top background" d-color="{{::e.name.length}}">
                        <span class="first-letter color-override textColor3 borderColor3" first-letter="{{::e.name}}"></span>
                    </div>
                    <div ng-if="!e.publish" class="top draft-wpr">
                        <span class="draft color-override textColor3">@IndexResources.Draft</span>
                    </div>
                    <div class="bottom color-override backgroundColor3">
                        <span class="name ellipsis color-override textColor7" ng-bind-html="::e.name"></span>
                        @Html.Svg(svgUrl, "corner", new { @class = "corner", viewBox = "0 0 70 70" })
                    </div>
                </div>


            </div>
            <div class="stats" ng-hide="::e.numOfViews === underfined">
                <div>
                    {{::e.numOfViews}} @Html.Svg(svgUrl, "eye")
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>
</script>
<script type="text/ng-template" id="user-template.html">
    <a href="{{::e.url}}" class="member">
        <user-image class="img-circle" name="::e.name" image="::e.image" width="35" height="35"></user-image>
        <span class="member-name ellipsis">{{::e.name}}</span>
    </a>
</script>