@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
<script defer type="text/ng-template" id="box-template.html">
    <a ng-href="{{::e.url}}" class="box-template-flex box-style" ga-track-event="['dashboard', 'box']">
        <div class="info">
            <div class="top">
                <div class="icon background" color="{{::e.departmentId}}" ng-bind="::e.name.substr(0,2) | lowercase"></div>
                <h5 class="multi-line-ellipsis limit-two" color="{{::e.departmentId}}" ng-bind="::e.name"></h5>
            </div>
            <div class="bottom">
                <span class="ellipsis" ng-bind="::e.professor"></span>
                <span class="ellipsis" ng-bind="::e.courseCode"></span>
            </div>
        </div>
        <div class="stats border" color="{{::e.departmentId}}">
            <div class="members-count" ng-hide="::e.membersCount === undefined">
                <ng-pluralize count="e.membersCount"
                              when="{'one': '@GeneralResources.SingleMember',
                                          'other': '{{::e.membersCount}} @GeneralResources.Members'}">
                </ng-pluralize>
            </div>
            <div class="items-count" ng-hide="::e.itemCount === undefined">
                <ng-pluralize count="e.itemCount"
                              when="{'one': '@BoxResources.SingleItem',
                                          'other': '{{::e.itemCount}} @IndexResources.Items'}">
                </ng-pluralize>
            </div>
        </div>
    </a>
</script>
<script defer type="text/ng-template" id="item-template.html">
    <a class="clearfix item item-template" ng-href="{{::e.url}}">
        <div class="base">
            <div class="item-ratio">
                <div class="content">
                    <img class="img-responsive" ng-src="{{e.thumbnail}}" width="368" height="520" alt="{{::e.nameExtension}}" />
                    <div class="extra" id="drag{{::$index}}">
                        <h2 class="multi-line-ellipsis" dir="auto" ng-bind-html="::e.nameExtension"></h2>
                    </div>
                </div>
            </div>
            <div class="stats" ng-hide="::e.numOfViews == undefined">
                <div class="views">
                    {{::e.numOfViews}} <md-icon md-svg-icon="b:eye"></md-icon>
                </div>
                <div class="likes">
                    {{::e.likes}} <md-icon md-svg-icon="b:like"></md-icon>
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>
</script>
<script defer type="text/ng-template" id="quiz-template.html">
    <a class="quiz quiz-template" ng-href="{{::e.url}}">
        <div class="base">
            <div class="quiz-ratio">
                <div class="content">
                    <div ng-if="::e.publish" class="top background" d-color="{{::e.name.length}}">
                        <span class="first-letter" first-letter="{{::e.name}}"></span>
                    </div>
                    <div ng-if="::!e.publish" class="top draft-wpr">
                        <span class="draft">@IndexResources.Draft</span>
                    </div>
                    <div class="bottom">
                        <h2 class="name ellipsis" ng-bind-html="::e.name"></h2>
                    </div>
                </div>


            </div>
            <div class="stats" ng-hide="::e.numOfViews === underfined">
                <div class="views">
                    {{::e.numOfViews}} <md-icon md-svg-icon="b:eye"></md-icon>
                </div>
            </div>
        </div>
        <div class="extra-details">
            <h5 ng-bind-html="::e.name"></h5>
            <span ng-bind-html="::e.content"></span>
        </div>
    </a>
</script>

<script defer type="text/ng-template" id="user-template.html">
    <a ui-sref="user({userId:e.id,userName:e.name})" class="member">
        <user-image class="img-circle" name="::e.name" image="::e.image" width="35" height="35"></user-image>
        <div class="info">
            <span class="member-name ellipsis" ng-bind="::e.name"></span>
            <div class="achievements">
                <span ng-bind="::e.score | megaNumber"></span>
                <span class="separator"></span>
                <ng-pluralize class="badges" count="e.badges" when="{
                                                'one': '{} @GamificationResources.Badge',
                                                'two': '{} @GamificationResources.Badges',
                                                'other' : '{} @GamificationResources.Badges'
                                                }"></ng-pluralize>
            </div>
        </div>
    </a>
</script>
<script defer type="text/ng-template" id="scrollToTopTemplate.html">
    <div class="scroll-to-top">
        <md-icon md-svg-icon="t:arrow"></md-icon>
    </div>
</script>
<script type="text/ng-template" id="flashcard-template.html">
    <a class="quiz quiz-template" ng-href="{{::e.url}}">
        <div class="base">
            <div class="quiz-ratio">
                <div class="content">
                    <div ng-if="::e.publish" class="top background" d-color="{{::e.name.length}}">
                        <md-icon md-svg-icon="b:flashcard-icon"></md-icon>
                    </div>
                    <div ng-if="::!e.publish" class="top draft-wpr">
                        <span class="draft">@IndexResources.Draft</span>
                    </div>
                    <div class="bottom">
                        <h2 class="name ellipsis" ng-bind="::e.name"></h2>
                    </div>
                </div>
            </div>
            <div class="stats" ng-hide="::e.numOfViews === underfined">
                <div class="views">
                    {{::e.numOfViews}} <md-icon md-svg-icon="b:eye"></md-icon>
                </div>
                <div class="likes">
                    {{::e.likes}} <md-icon md-svg-icon="b:like"></md-icon>
                </div>
            </div>
        </div>
    </a>
</script>