@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<a id="invite"></a>
<div class="portlet invite" ng-cloak ng-controller="inviteController as i">

    <div class="portlet-title">
        <div class="caption text-capitalize">
            @IndexResources.Invite
        </div>
    </div>
    <div class="body clearfix tabbable-line">
        <div class="clearfix" ng-show="i.inBox">
            <ul class="nav nav-tabs tab-from-r text-capitalize">
                <li class="mail" ng-class="{active: i.inMail}">
                    <a ng-click="i.mail()">@IndexResources.Mail</a>
                </li>
                <li ng-class="{active: !i.inMail}">
                    <a ng-click="i.system()">@GeneralResources.Spitball</a>
                </li>

            </ul>
        </div>
        <div layout="column" ng-cloak class="chipsdemoContactChips">
            <md-content class="md-padding autocomplete" layout="column">
                <md-contact-chips class="search-border" ng-model="i.contacts"
                                  md-contacts="i.querySearch($query)"
                                  md-contact-name="name"
                                  md-contact-image="image"
                                  md-contact-email="email"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  filter-selected="i.filterSelected"
                                  placeholder="@IndexResources.AddMail">
                </md-contact-chips>

                <md-list class="fixedRows" ng-if="i.allContacts.length">
                    <md-list-item ng-click="i.contactSelected(contact)" class="md-2-line contact-item" ng-repeat="(index, contact) in i.allContacts"
                                  ng-if="i.contacts.indexOf(contact) < 0">
                        <user-image class="md-avatar" name="contact.name" image="contact.image" width="40" height="40"></user-image>
                        <div class="md-list-item-text compact">
                            <h3>{{contact.name}}</h3>
                            @*<p>{{contact.email}}</p>*@
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in i.contacts">
                        <user-image class="md-avatar" name="contact.name" image="contact.image" width="40" height="40"></user-image>
                        <div class="md-list-item-text compact">
                            <h3>{{contact.name}}</h3>
                            @*<p>{{contact.email}}</p>*@
                        </div>
                    </md-list-item>
                </md-list>
                <button class="btn gmail text-capitalize" ng-click="i.importGoogleContract()" ng-if="!(i.allContacts.length) && i.inMail" type="button" ga-track-event="['invite', 'import gmail']">
                    @Html.Svg("/images/site/gmail.svg", "gmail")
                    <span>
                        @IndexResources.GmailContact
                    </span>
                </button>

            </md-content>
        </div>
        <button type="button" class="btn button-Blue btn-primary send pull-right text-capitalize" ga-track-event="['invite', 'send']" ng-click="i.sendInvite()" ng-disabled="!i.contacts.length || i.submitDisabled">@IndexResources.Send</button>
        <button type="button" class="btn btn-default text-capitalize pull-right" ng-click="i.closeInvite()" ga-track-event="['invite', 'cancel']">@Html.Svg("~/images/site/icons.svg", "close")</button>
    </div>
</div>

