@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using HomeResources = Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources.HomeResources

<div class="top-image">
    <div class="text">@AboutUsResources.Subtitle</div>
</div>
<div class="nav-bar-wrapper">
    <div class="nav-bar">
        <button type="button" class="nav-prev">@Html.Svg("~/images/site/box-icons.svg", "arrow")</button>
        <div class="items-container">
            <div><a href="@Url.RouteUrl("AboutUs")"><span>@HomeResources.AboutCloudents</span></a></div>
            <div><a href="@Url.RouteUrl("Help")"><span>@SharedResources.Help</span></a></div>
            <div><a href="@Url.RouteUrl("Privacy")"><span>@FooterResources.PrivacyPolicy</span></a></div>
            <div><a href="@Url.RouteUrl("TOS")"><span>@FooterResources.TermsOfService</span></a></div>
            <div><a href="@Url.RouteUrl("Advertise")"><span>@SharedResources.Advertise</span></a></div>
            <div><a href="@Url.RouteUrl("Jobs")"><span>@SharedResources.Jobs</span></a></div>
            <div><a href="@Url.RouteUrl("Blog2")"><span>@HomePageResources.A8</span></a></div>
        </div>
        <button type="button" class="nav-next">@Html.Svg("~/images/site/box-icons.svg", "arrow")</button>
    </div>
</div>