@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    const string socialIconsSvg = "~/images/site/social-icons.svg";
}
<footer class="static-page-footer">
    <div class="content">
        <div class="app">
            <div id="app-section" class="section-start"></div>
            <h3 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">@HomePageResources.F1</h3>
            <h4 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">@HomePageResources.F2</h4>
            <div class="app-links">
                @{
                    var queryString = string.Empty;
                    if (!string.IsNullOrEmpty(Request.QueryString["utm_medium"]))
                    {
                        queryString = string.Format("?af_prt=peachmedia&af_siteid={0}&pid={1}&c={2}", Request.QueryString["utm_medium"], Request.QueryString["utm_source"], Request.QueryString["utm_campaign"]);
                    }
                }
                <a target="_blank" href="@string.Format("https://app.appsflyer.com/id990911114{0}", queryString)" class="appSotre os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    @*<img src="@Url.CdnContent("~/Images/HomePage2/apple.png")" alt="apple" />*@
                </a>
                <a target="_blank" href="@string.Format("http://app.appsflyer.com/com.cloudents.zbox2{0}", queryString)" class="googlePlay os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                    @*<img src="@Url.CdnContent("~/Images/HomePage2/google.png")" alt="google" />*@
                </a>
            </div>
        </div>
        <div class="info">
            <div class="links os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                <div>
                    <h4>@HomePageResources.infoSection1</h4>
                    <a href="@Url.RouteUrl("AboutUs")">@HomeResources.AboutCloudents</a>
                    <a href="@Url.RouteUrl("Jobs")">@SharedResources.Jobs</a>
                    <a href="@Url.RouteUrl("Blog2")">@HomePageResources.A8</a>
                </div>
                <div>
                    <h4>@HomePageResources.infoSection2</h4>
                    <a href="@Url.RouteUrl("Privacy")">@FooterResources.PrivacyPolicy</a>
                    <a href="@Url.RouteUrl("TOS")">@FooterResources.TermsOfService</a>
                    <a href="@Url.RouteUrl("Help")">@SharedResources.Help</a>
                    <a href="@Url.RouteUrl("Advertise")" target="_blank">@SharedResources.Advertise</a>
                </div>
            </div>
            <div class="social-links os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s" dir="ltr">
                <a target="_blank" href="https://www.facebook.com/spitballstudy/">@Html.Svg(socialIconsSvg, "facebook")</a>
                <a target="_blank" href="https://twitter.com/SpitballStudy">@Html.Svg(socialIconsSvg, "twitter")</a>
                <a target="_blank" href="https://plus.google.com/+Cloudents">@Html.Svg(socialIconsSvg, "google")</a>
                <a target="_blank" href="https://www.youtube.com/channel/UCamYabfxHUP3A9EFt1p94Lg">@Html.Svg(socialIconsSvg, "youtube")</a>
                <a target="_blank" href="http://instagram.com/spitballstudy">@Html.Svg(socialIconsSvg, "instagram")</a>
            </div>
        </div>
    </div>
</footer>
