@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Culture
@{
    ViewBag.headerbackground = ViewBag.headerbackground ?? "#181c1d";
    ViewBag.signupColor = ViewBag.signupColor ?? "#EC610D";
}
@*<style>
        .static-page-header{
            background: @ViewBag.headerbackground !important;
        }
        .signup-btn{
            background: @ViewBag.signupColor !important;
        }
    </style>*@
<header class="static-page-header" style="background:@ViewBag.headerbackground">
    <nav>
        <div class="nav-content">
            <input type="checkbox" id="menu-toggle" />
            <div class="navbar-header">
                <div class="navbar-toggle toggle collapsed">
                    <label for="menu-toggle">@Html.Svg("~/images/site/icons.svg", "headerMenu", new { @class = "headerMenu" })</label>
                    <label for="menu-toggle" class="menu-close"></label>
                </div>
                <a class="logo-wrapper" href="@Url.RouteUrl("HomePage")">
                    <div class="logo"></div>
                    @Html.Svg("~/images/site/icons.svg", "smallLogo", new { @class = "logo-small" })
                </a>
            </div>
            <ul class="toggle">
                <li id="product">
                    <a href="@Url.RouteUrl("Product")">@HomePageResources.A3</a>
                </li>
                <li class="pipe"></li>
                <li id="features">
                    <a href="@Url.RouteUrl("Features")">@Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources.StaticPagesResources.FeaturesTitle</a>
                </li>
                <li class="pipe"></li>
                <li id="notes">
                    <a href="@Url.RouteUrl("ClassNotes")">@Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources.StaticPagesResources.ClassNotesTitle</a>
                </li>
                <li class="pipe"></li>
                <li id="courses">
                    <a href="@Url.RouteUrl("Courses")">@Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources.StaticPagesResources.CoursesTitle</a>
                </li>
                <li class="pipe"></li>
                <li id="apps">
                    <a href="@Url.RouteUrl("Apps")">@HomePageResources.A11</a>
                </li>
                <li class="pipe"></li>
                <li id="apps">
                    <a href="@Url.RouteUrl("Promotion")">@HomePageResources.A12</a>
                </li>

                <li class="language">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <input type="checkbox" id="language-menu" autocomplete="off"/>
                        <label class="language-toggle" for="language-menu"><span>@Languages.EnglishUsName</span><span class="arrow"></span></label>
                        <label class="language-close" for="language-menu"></label>
                        <ul class="dropdown-menu dropdown-menu-left ">
                            <li class="menu-item"> <button data-cookie="en-US">@Languages.EnglishUsName</button> </li>
                            <li class="menu-item"> <button data-cookie="he-il">@Languages.HebrewName</button> </li>
                        </ul>
                    }
                </li>

            </ul>
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="login-buttons">
                <a style="background:@ViewBag.signupColor" class="signup-btn action-btn toggle login-option signup os-animation" href="@Url.RouteUrl("HomePage", new { step = "signup" })" data-form-action="register">@LogOnResources.SignUp</a>
                <a class="cancel-btn signin-btn toggle login-option os-animation" href="@Url.RouteUrl("HomePage", new { step = "signin" })" data-form-action="login">@SharedResources.SignIn</a>
            </div>
        }
    </nav>
</header>

