@using Zbang.Cloudents.Mobile.Extensions
@using Zbang.Cloudents.Mobile.Views.Dashboard.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<section class="dashboard">
    <header>
        <button type="button" class="menuBtn lFloat">
            @Html.Svg("~/Images/Defs.svg", "menu", new { @class = "svg-menu" })
            <div class="msgCounter">5</div>
        </button>
        <h1>@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</h1>
    </header>
    @*Guy: Please add class 'closed' here when closeBtn is clicked*@
    <section class="welcome" ng-class="{closed : dashboard.welcomeClosed }">
        <h1>@SharedResources.WelcomeCloudents</h1>
        <h3>@DashboardResources.FreeOnline</h3>

        <a class="searchLink" ui-sref="root.search">
            <span class="searchLinkTxt">@SharedResources.FindClasses</span>
            @Html.Svg("~/Images/Defs.svg", "search", new { @class = "svg-search ltr" })
        </a>
        <div class="featureTxt">
            @Html.Svg("~/Images/Defs.svg", "document", new { @class = "svg-doc" })
            <span>@DashboardResources.ShareFiles</span>
        </div>
        <div class="featureTxt">
            @Html.Svg("~/Images/Defs.svg", "quizInner", new { @class = "svg-quizInner" })
            <span>@DashboardResources.CreateQuizzes</span>
        </div>
        <button type="button" class="closeBtn" ng-click="dashboard.closeWelcome()">
            @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
        </button>
    </section>

   <ul class="followedClasses" scroll-paging on-scroll="dashboard.getBoxList(true)">
        <li ng-repeat="box in dashboard.boxes">
            <a href="{{::box.url}}" class="ghost">
                <div class="details vCentered">
                    <div class="courseName elps">{{::box.name}}</div>
                    <span>{{::box.itemCount}}</span>
                    <span>{{::box.commentCount}}</span>
                </div>
                <img width="40" height="40" ng-src="{{::box.boxPicture}}" />
                @Html.Svg("~/Images/Defs.svg", "right", new { @class = "svg-right" })
            </a>
        </li>
    </ul>
    <section class="recommendedClasses">
        <h2>@DashboardResources.RecommendedCourses</h2>
        <ul class="recommendedList">
            <li class="recommendedItem" ng-repeat="recommendedBox in dashboard.recommendedBoxes">
                <a drag-view href="{{::recommendedBox.url}}" class="courseLink" analytics-on="click" analytics-event="Choose Box" analytics-category="Dashboard Recommended" analytics-label="User choosed a box on recommneded">
                    <div class="rcDetails ghost" ng-class="::{ rcFull : recommendedBox.professor && recommendedBox.courseCode }">
                        <div class="vCentered elps">
                            <div class="courseName">{{::recommendedBox.name}}</div>
                            <span class="prof elps">{{::recommendedBox.professor}}</span>
                            <span class="courseId elps">{{::recommendedBox.courseCode}}</span>
                        </div>
                        <img alt="" width="48" height="48" ng-src="{{::recommendedBox.picture}}" />
                    </div>
                </a>
                <div class="rcStats">
                    <div class="friends" data-friends-count="{{::recommendedBox.membersCount}}">
                        @Html.Svg("~/Images/Defs.svg", "user", new { @class = "svg-user" })
                        <span>@SharedResources.Friends</span>
                    </div>
                    <div class="files" data-files-count="{{::recommendedBox.itemCount}}">
                        @Html.Svg("~/Images/Defs.svg", "document", new { @class = "svg-doc" })
                        <span>@SharedResources.Files</span>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>