@using Zbang.Cloudents.Mobile.Views.Dashboard.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources

<section class="dashboard" id="dashboard">
    <header>
        <button type="button" class="menuBtn rFloat" id="menuBtn">
            @Html.Svg("~/Images/Defs.svg", "menu", new { @class = "svg-menu" })
            @*<div class="msgCounter">5</div>*@
        </button>
        <a ui-sref="root.dashboard"><h1>@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</h1></a>
    </header>
    <section class="welcome" ng-class="{closed : dashboard.welcomeClosed }">
        <h1>@SharedResources.WelcomeCloudents</h1>
        <h3>@DashboardResources.FreeOnline</h3>

        <a class="searchLink" ui-sref="root.search">
            <span class="searchLinkTxt">@SharedResources.FindClasses</span>
            @Html.Svg("~/Images/Defs.svg", "search", new { @class = "svg-search ltr" })
        </a>
        <div class="featureTxt">
            @Html.Svg("~/Images/Defs.svg", "document", new { @class = "svg-doc" })
            <span>@DashboardResources.ShareFiles</span>
        </div>
        <button type="button" class="closeBtn" ng-click="dashboard.closeWelcome()">
            @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
        </button>
    </section>     
    <div inner-scroll="{{dashboard.loading}}"></div>
    <ul class="list" scroll-paging on-scroll="dashboard.getBoxList(true)">
        <li ng-repeat="box in dashboard.boxes">
            <a href="{{::box.url}}" analytics-on analytics-event="Click on box" analytics-category="Dashboard page" analytics-label="User clicked on a box">                
                <div class="details vCentered" data-box-letter="{{::box.name[0]}}">
                    <div class="courseName elps">{{::box.name}}</div>
                    <span>{{::box.itemCount}}&nbsp;@SharedResources.Items</span>
                    <span>{{::box.commentCount}}&nbsp;@SharedResources.Comments</span>
                </div>
            </a>
        </li>
    </ul>
    <section class="recommendedClasses" ng-if="dashboard.showRecommended">
        <h2>@DashboardResources.RecommendedCourses</h2>
        <ul class="recommendedList list">
            <li class="recommendedItem" ng-repeat="recommendedBox in dashboard.recommendedBoxes">
                <a drag-view href="{{::recommendedBox.url}}" class="courseLink ghost" analytics-event="Click on Box" analytics-category="Dashboard" analytics-label="User clicked on a recommneded box">
                    <div class="rcDetails vCentered" ng-class="::{ rcFull : recommendedBox.professor && recommendedBox.courseCode }" data-box-letter="{{::recommendedBox.name[0]}}">
                        <div class="courseName elps">{{::recommendedBox.name}}</div>
                        <span class="prof elps">{{::recommendedBox.professor}}</span>
                        <span class="courseId elps">{{::recommendedBox.courseCode}}</span>
                    </div>
                </a>
                <div class="rcStats">
                    <div class="friends" data-friends-count="{{::recommendedBox.membersCount}}">
                        @Html.Svg("~/Images/Defs.svg", "user", new { @class = "svg-user" })
                        <span>@SharedResources.Friends</span>
                    </div>
                    <div class="files" data-files-count="{{::recommendedBox.itemCount}}">
                        @Html.Svg("~/Images/Defs.svg", "document", new { @class = "svg-doc" })
                        <span>@SharedResources.Files</span>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>
@{ Html.RenderPartial("_SideMenu");}