@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums

<div class="modal-header">
    <h3 class="modal-title"><span>{{info.name}}</span></h3>
</div>
<div class="modal-body" bindonce>
    <div class="popupTopBar" ng-class="params.state === 1 ? 'tabSettings' : 'tabMembers'">
        <button data-id="Settings" type="button" class="tabBtn" ng-click="params.state = 1">@DialogResources.Settings</button>
        <button data-id="Members" type="button" class="tabBtn" ng-click="params.state = 2">@SharedResources.Members</button>
        <a ng-href="{{info.inviteUrl}}" class="btn3 inviteBtn rFloat" target="_self">@IndexResources.Invite</a>
        <div class="arrow tabArrow"></div>
    </div>
    <form class="boxSettingsForm" name="boxSettingsForm" novalidate ng-submit="save(boxSettingsForm.$valid)">
        <div class="boxSettingsContent" bo-class="info.boxType === 'box' ? 'private' : 'academic'">
            <div class="boxSetting">
                <label>@SharedResources.Thumbnail:</label>
                <div class="thumbImg">
                    <img alt="{{info.name}}" bo-src="info.image" width="74" height="94" />
                </div>
            </div>
            <div class="boxSetting">
                <label for="boxSettingsName">@SharedResources.Name:</label>
                <input type="text" class="inputText editBoxName" id="boxSettingsName" ng-model="formData.name" @*ng-readonly="info.boxType === 'box' && info.userType !== 'owner'"*@ autocomplete="off"  />
            </div>

            <div class="boxSetting academic">
                <label for="boxSettingsCourse">@IndexResources.Number:</label>
                <input type="text" class="inputText" id="boxSettingsCourse" ng-model="formData.courseCode" placeholder="@IndexResources.CourseNumber" autocomplete="off" />
            </div>
            <div class="boxSetting academic">
                <label for="boxSettingsProfessor">@IndexResources.Lecturer:</label>
                <input type="text" class="inputText editLecturer" id="boxSettingsProfessor" ng-model="formData.professor" placeholder="@IndexResources.LecturerName" />
            </div>

            <div class="boxSetting private">
                <label>@SharedResources.Owner:</label>
                <span class="ownerName">{{info.ownerName}}</span>
            </div>
            <div id="privacySettings" class="boxSetting private" ng-if="info.userType === 'owner'">
                <label>@MainViewResources.Privacy:</label>
                <div>
                    <input type="radio"
                           id="privacy_membersOnly"
                           name="BoxPrivacy"
                           ng-model="formData.boxPrivacy"
                           value="@BoxPrivacySettings.MembersOnly.GetStringValueLowerCase()" />
                    <label class="privacyLabel" for="privacy_membersOnly">@BoxPrivacySettings.MembersOnly.GetEnumDescription()</label>
                    <div class="labelExplain">@SharedResources.OnlyPeople</div>

                    <input type="radio"
                           id="privacy_anyoneWithUrl"
                           name="BoxPrivacy"
                           ng-model="formData.boxPrivacy"
                           value="@BoxPrivacySettings.AnyoneWithUrl.GetStringValueLowerCase()" />

                    <label class="privacyLabel" for="privacy_anyoneWithUrl">@BoxPrivacySettings.AnyoneWithUrl.GetEnumDescription()</label>
                    <div class="labelExplain">@SharedResources.AnyoneWho</div>
                </div>
            </div>

            <div class="boxSetting">
                <label>@IndexResources.NotifyMe</label>
                <div class="radioBtns">
                    <input id="noti_OnEveryChange" type="radio" name="Notification" ng-model="formData.notification" value="@NotificationSettings.OnEveryChange" /><label for="noti_OnEveryChange">@NotificationSettings.OnEveryChange.GetEnumDescription()</label>
                    <input id="noti_OnceADay" type="radio" name="Notification" ng-model="formData.notification" value="@NotificationSettings.OnceADay" /><label for="noti_OnceADay">@NotificationSettings.OnceADay.GetEnumDescription()</label>
                    <input id="noti_OnceAWeek" type="radio" name="Notification" ng-model="formData.notification" value="@NotificationSettings.OnceAWeek" /><label for="noti_OnceAWeek">@NotificationSettings.OnceAWeek.GetEnumDescription()</label>
                    <input id="noti_Off" type="radio" name="Notification" ng-model="formData.notification" value="@NotificationSettings.Off" /><label for="noti_Off">@NotificationSettings.Off.GetEnumDescription()</label>
                </div>
            </div>
        </div>

        <input type="submit" class="btn1 next" value="@SharedResources.Save" />
        <button type="reset" class="btn2 cancel" ng-click="cancel()">@DialogResources.Cancel</button>
        <button type="button" class="btn2 rFloat" ng-click="delete()" ng-bind="deleteOrUnfollow()">@SharedResources.Delete</button>
    </form>
    <div class="membersContent">
        <div class="membersTop">
            <div class="searchWpr lFloat">
                <span class="membersCount lFloat">{{info.allMembers.length + ' @SharedResources.Members'}}</span>
                <div class="inputWpr">
                    <input class="membersSearch" ng-model="params.search" type="search" placeholder="@IndexResources.SearchMember" />
                </div>
            </div>
        </div>
        <ul class="membersList" >
            <li class="memberItem" ng-controller="MemberCtrl" ng-class="{reinvited: member.reinvited,uninvited: member.uninvited}" ng-hide="isExcludedByFilter" ng-repeat="member in info.allMembers | orderByFilter:{field: 'name', input:params.search}" ng-include="'memberItem'">
            </li>
        </ul>
    </div>

    <button type="button" class="closeDialog" ng-click="cancel()"></button>
</div>

<script type="text/ng-template" id="memberItem">
    <a bo-href="member.url"><img class="friendImg" alt="" bo-src="member.image" width="34" height="34" /></a>
    <span class="memberName elps" bo-text="member.name"></span>
    <span class="memberStatus" bo-class="{memberPending : member.sUserStatus === 'Invite'}" bo-if="member.sUserStatus !== 'Owner'">
        {{userStatus(member.sUserStatus)}}
        <span class="reinvite" ng-if="member.reinvitedItem">@IndexResources.Reinvited</span>
        <span class="uninvite" ng-if="member.uninvitedItem">@IndexResources.Uninvited</span>
    </span>
    <span class="rFloat memberActions">
        <button bo-if="member.uid !== info.user.id" type="button"  title="@DialogResources.SendMessage" class="inviteUserBtn" ng-click="sendUserMessage(member)"></button>
        <button bo-if="member.uid !== info.user.id && info.ownerId === info.user.id" type="button" title="@SharedResources.Remove" class="removeUserBtn" ng-click="removeUser(member)" ng-disabled="member.action"></button>
        <button bo-if="member.sUserStatus === 'Invite'" type="button" class="reinviteUserBtn btn1" ng-click="reinviteUser(member)" ng-disabled="member.action">@IndexResources.Reinvite</button>
    </span>
</script>
