@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources

<div layout="row" layout-padding layout-wrap class="feed-wrapper">
    <div class="feed" flex="100" flex-md="66" flex-lg="60" flex-gt-lg="60">
        <div class="box-options">
            <div class="option-wrapper" ng-class="{disabled: !b.canInvite, active: b.inviteOpen}">
                <button ng-disabled="!b.canInvite" type="button" ng-click="b.inviteToBox()" class="option invite" scroll-to-top ga-track-event="['box-feed', 'inviteFriends']">
                    <div>
                        <md-icon md-svg-icon="t:invite" class="option-icon"></md-icon>
                        <span class="text">@BoxResources.InviteFriendsMember</span>
                    </div>
                </button>
            </div>
            <div class="option-wrapper">
                @*<input id="open-share" type="checkbox" user-not-register-popup="click" />
                    <label class="title" for="open-share" ng-click="b.share()">
                    </label>
                                <share-box class="option share"></share-box>
                                <label class="backdrop" for="open-share"></label>*@
                <button class="option share" type="button" scroll-to-top ng-click="b.share()">
                    <div>
                        <md-icon md-svg-icon="t:share" class="option-icon"></md-icon>
                        <span class="text">@UserResources.Share</span>
                    </div>
                </button>
            </div>
            <div class="option-wrapper" ng-class="{disabled: b.needFollow, active: b.settingsOpen}">
                <button ng-disabled="b.needFollow" class="option box-settings" flex="none" type="button" ng-click="b.toggleSettings()" scroll-to-top ga-track-event="['box', 'settings']">
                    <div>
                        <md-icon md-svg-icon="t:settingMenu" class="option-icon"></md-icon>
                        <span class="text">@IndexResources.Settings</span>
                    </div>
                </button>
            </div>
        </div>
        @{ Html.RenderPartial("_FeedAddComment");}
        <ol class="list-unstyled posts-list" srph-infinite-scroll="f.myPagingFunction()" threshold="600">
            <li ng-repeat="post in f.data track by post.id" class="post comment">
                <div class="comments-wrapper">
                    <div class="info" layout="row" align-items="start-center">
                        <a ui-sref="user({userId:post.userId, userName:post.userName})" class="userblock" layout="row" layout-align="start center" ga-track-event="['box-feed', 'userNameImage']">
                            <user-image class="c-img" name="::post.userName" image="::post.userImage" width="52" height="52"></user-image>
                            <span class="user-name ellipsis" ng-bind="::post.userName"></span>
                        </a>
                        <time-ago class="comment-date" from-time="{{::post.creationTime }}" format="mediumDate"></time-ago>
                        <span ng-bind="::post.score | megaNumber"></span>&#x25CF;<ng-pluralize count="post.badges" when="{
                                                                                     'one': '{} @GamificationResources.Badge',
                                                                                     'two': '{} @GamificationResources.Badges',
                                                                                     'other' : '{} @GamificationResources.Badges'
                                                                                     }"></ng-pluralize>
                    </div>
                    <md-menu ng-if="::b.canDelete(post.userId)">
                        <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['box-feed', 'deletePost']">
                            <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                        </md-button>
                        <md-menu-content width="1">
                            <md-menu-item>
                                <md-button ng-click="f.deleteComment($event,post)" ga-track-event="['box-feed', 'didDelete']">
                                    @GeneralResources.Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <div ng-bind-html="::post.content | linky:'_blank'" class="indent content-text"></div>
                    <div class="indent items-slider" ng-if="::post.files.length">
                        <div class="items-container" max-element="post">
                            <div class="feed-item" ng-repeat="e in ::post.files | limitTo: post.limitFiles track by e.id" ng-include="f.postItemTemplate(e)"></div>
                            <a ui-sref="box.items" class="feed-item more-items" ng-if="::post.needMore">
                                <md-icon md-svg-icon="t:documents"></md-icon>
                                <div class="counter">+{{::post.needMore | megaNumber}}</div>
                            </a>
                        </div>
                    </div>
                    <div class="ribbon-wrapper" ng-if="::post.isNew">
                        <span class="ribbon">@BoxResources.RibbonNew</span>
                    </div>
                </div>
                <div class="counters">
                    <div ng-if="post.likesCount" class="like-btn indent">
                        <md-icon md-svg-icon="b:like" class="like-icon"></md-icon>
                        <input type="button" value="{{post.likesCount}}" class="like-count" user-not-register-popup="click" ng-click="f.likeCommentDialog(post,$event)" />
                    </div>
                    <div class="show-more" ng-if="post.repliesCount > 4 && !post.expandReplies">
                        <ng-pluralize count="post.repliesCount" offset="4" ng-click="f.openReply(post)"
                                      when="{'one': '@BoxResources.SingleComment',
                                            'other': '@GeneralResources.View {{post.repliesCount-4}} @BoxResources.Comments'}">
                        </ng-pluralize>
                    </div>
                </div>
                <div class="actions-wrapper">
                    <div class="indent actions text-capitalize" layout="row" layout-align="start center">
                        <button class="comment-btn" user-not-register-popup="click" type="button" layout="row" layout-align="start center" ng-click="f.reply(post)" ga-track-event="['box-feed', 'comment-icons']">
                            <span class="comment-icon"><md-icon md-svg-icon="b:comment"></md-icon>@*@Html.Svg("~/images/site/box-icons.svg", "comment")*@</span><span>@BoxResources.Comment</span>
                        </button>
                        <div layout="row" layout-align="start center">
                            <button class="like-btn" user-not-register-popup="click" type="button" layout="row" layout-align="start center" ng-disabled="f.add.disabled" ng-class="{liked :post.isLiked}" ng-click="f.likeComment(post)" ga-track-event="['box-feed', 'comment-like-icon']">
                                <md-icon md-svg-icon="b:like" class="like-icon"></md-icon> @GeneralResources.Like
                            </button>
                        </div>
                    </div>
                </div>
                <ol class="list-unstyled replies" ng-if="post.replies.length">
                    <li ng-repeat="reply in post.replies track by reply.id" class="reply" ng-if="post.expandReplies || $index < 4" @*ng-if="$last || post.showReplies"*@>
                        <div class="info">
                            <a ui-sref="user({userId:reply.userId, userName:reply.userName})" layout="row" layout-align="start center" class="userblock username" ga-track-event="['box-feed', 'replyUserNameImg']">
                                <user-image class="c-img" name="::reply.userName" image="::reply.userImage" width="40" height="40"></user-image>
                                <span class="user-name ellipsis" ng-bind="::reply.userName"></span>
                            </a>
                            <span ng-bind="::reply.score | megaNumber"></span>&#x25CF;<ng-pluralize count="reply.badges" when="{
                                                                                     'one': '{} @GamificationResources.Badge',
                                                                                     'two': '{} @GamificationResources.Badges',
                                                                                     'other' : '{} @GamificationResources.Badges'
                                                                                     }"></ng-pluralize>
                        </div>
                        <md-menu ng-if="::b.canDelete(reply.userId)">
                            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['box-feed', 'deletePost']">
                                <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                            </md-button>
                            <md-menu-content width="1">
                                <md-menu-item>
                                    <md-button ng-click="f.deleteReply($event,post,reply)" ga-track-event="['box-feed', 'didDelete']">
                                        @GeneralResources.Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <div ng-bind-html="::reply.content | linky:'_blank'" class="indent content-text"></div>
                        <div class="indent items-slider" ng-if="::reply.files.length">
                            <div class="items-container" max-element="reply">
                                <div class="feed-item" ng-repeat="e in ::reply.files | limitTo: reply.limitFiles track by e.id" ng-include="f.postItemTemplate(e)"></div>
                                <a ui-sref="box.items" class="feed-item more-items" ng-if="::reply.needMore">
                                    <md-icon md-svg-icon="t:documents"></md-icon>
                                    <div class="counter">+{{::reply.needMore | megaNumber}}</div>
                                </a>
                            </div>
                        </div>
                        <div class="indent actions-wrapper">
                            <div class="like-btn actions" layout="row" ng-class="{liked :reply.isLiked}" layout-align="start center">
                                <button type="button" ng-if="reply.likesCount" ng-click="f.likeReplyDialog(reply,$event)">
                                    <span class="like-count" ng-bind="reply.likesCount"></span>
                                </button>
                                <button type="button" ng-disabled="f.add.disabled" ng-click="f.likeReply(reply)" ga-track-event="['box-feed', 'comment-like-icon']" layout="row" layout-align="start center">
                                    <span class="like-icon"><md-icon md-svg-icon="b:like"></md-icon>@*@Html.Svg("~/images/site/box-icons.svg", "like")*@</span>
                                    <span>@GeneralResources.Like</span>
                                </button>
                                <time-ago class="comment-date" from-time="{{::reply.creationTime }}" format="mediumDate"></time-ago>
                            </div>
                            <span class="ribbon" ng-if="reply.isNew">@BoxResources.RibbonNew</span>
                        </div>
                    </li>
                </ol>
                <div class="add-reply-wrapper" ng-if="post.expandReplies">
                    <form class="add-comment add-reply" ng-submit="f.add.createReply(post)">
                        <div class="reply-wrapper">
                            <md-input-container md-no-float>
                                <textarea user-not-register-popup="focus" focus-me="post.focusReply" ng-model="f.add.newReplyText" placeholder="@BoxResources.replyPostPlaceholder"></textarea>
                            </md-input-container>
                            <ul class="list-inline file-upload-area" ng-if="f.add.files.length">
                                <li class="file-upload" ng-repeat="file in f.add.files | filter:{postId: post.id}" ng-include="'file-upload.html'">
                            </ul>
                        </div>
                        <div class="reply-actions" layout="row" layout-align="space-between center">
                            <div class="upload-options feed-upload" layout="row" layout-wrap layout-align="space-between start">
                                <a user-not-register-popup="click" plupload="f.add.fileUpload.url" @*ng-click="f.add.upload(post.id)"*@
                                   plupload-options="f.add.fileUpload.options(post.id)" plupload-callbacks="f.add.fileUpload.callbacks" ga-track-event="['box-feed', 'addFile']">
                                    <md-icon md-svg-icon="u:file" class="file"></md-icon>
                                </a>
                                <button user-not-register-popup="click" type="button" class="google" ng-mouseover="f.add.init()" ng-disabled="f.add.googleDisabled" ng-click="f.add.google(post.id)" ga-track-event="['box-feed', 'googleDrive']">
                                    <md-icon md-svg-icon="u:googleDrive"></md-icon>
                                    <md-icon md-svg-icon="u:googleDriveClean"></md-icon>
                                </button>
                                <button user-not-register-popup="click" class="dropbox" type="button" ng-mouseover="f.add.init()" ng-disabled="f.add.dropboxDisabled" ng-click="f.add.dropbox(post.id)" ga-track-event="['box-feed', 'dropbox']">
                                    <md-icon md-svg-icon="u:dropbox"></md-icon>
                                </button>
                            </div>
                            <button type="submit" class="action-btn no-text post-comment" ng-disabled="f.add.disabled" ga-track-event="['box-feed', 'postReply']">
                                <md-icon md-svg-icon="u:post"></md-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </li>
        </ol>
    </div>
    <div class="boxes-side-area flex" layout-padding flex="100" flex-md="33" flex-lg="30" flex-gt-lg="30">
            <div flex="100" flex-sm="50" @*ng-if="b.showLeaderboard"*@ class="flex community" ng-controller="Leaderboard as g">
                @* ReSharper disable once Mvc.PartialViewNotResolved *@
                @{ Html.RenderPartial("_LeaderBoard");}
            @*<div class="suggested flex" flex="100" flex-gt-md="100" flex-sm="50" ng-repeat="e in ::r.boxes track by e.boxId" ng-include="'box-template.html'"></div>*@
        </div>
    </div>
</div>
