@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    const string url = "~/images/site/uploadIcons.svg";
}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="portlet light">
            <div class="portlet-body feed">
                <form class="add-comment" ng-submit="f.add.createComment()">
                    <div class="new-comment-border">
                        <md-input-container md-no-float>
                            <textarea ng-model="f.add.newText" placeholder="@BoxResources.Whats"></textarea>
                        </md-input-container>
                        @*<textarea ng-model="f.add.newText" placeholder="what's on your mind?"></textarea>*@
                        <ul class="list-inline" ng-if=" f.add.files.length">
                            @*<li class="file-upload">
                                    <span class="check-mark">@Html.Svg(url, "checkMark")</span>
                                    <div class="file-name">
                                        Some doc.docx
                                        <div class="progress file-upload-progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 50 + '%'}">
                                                <span class="sr-only">{{50*20}}% Complete</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="file-size">25mb</div>
                                    <button type="button">remove file</button>
                                </li>*@
                            <li class="file-upload" ng-repeat="file in f.add.files" ng-include="'file-upload.html'">
                        </ul>
                    </div>
                    <div class="actions" layout="row" layout-align="space-between center">
                        <div class="upload-options">
                            <a plupload="f.add.fileUpload.url"
                               plupload-options="f.add.fileUpload.options" plupload-callbacks="f.add.fileUpload.callbacks">
                                @Html.Svg(url, "file", new { @class = "file" })
                            </a>
                            <button type="button" ng-disabled="f.add.googleDisabled" ng-click="f.add.google()">@Html.Svg(url, "googleDrive")</button>
                            <button type="button" ng-disabled="f.add.dropboxDisabled" ng-click="f.add.dropbox()">@Html.Svg(url, "dropbox", new { @class = "dropbox" })</button>
                        </div>
                        <div class="submit area-options" layout="row" layout-align="space-between center">
                            <input type="checkbox" ng-model="f.add.anonymous" id="anonymous" />
                            <label for="anonymous">@Html.Svg("~/images/site/box-icons.svg", "anonymous", new { @class = "anonymous" })</label>
                            <button type="submit" class="btn pull-right text-uppercase" ng-disabled="f.add.disabled">@BoxResources.Post</button>
                        </div>
                    </div>
                </form>
                <ol class="list-unstyled posts-list" infinite-scroll="f.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
                    <li ng-repeat="post in f.viewData" class="post comment">

                        <div class="top" layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center" class="username">
                                <user-image class="img-circle c-img" name="::post.userName" image="::post.userImage" width="54" height="54"></user-image>
                                <span class="user-name">{{::post.userName}}</span>
                            </div>
                        </div>
                        <md-menu ng-if="b.canDelete(post.userId)">
                            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)">
                                @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
                            </md-button>
                            <md-menu-content width="1">
                                <md-menu-item>
                                    <md-button aria-label="delete post" ng-click="f.deleteComment($event,post)">
                                        @GeneralResources.Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <div ng-bind-html="::post.content" class="content-text"></div>
                        <ul class="list-inline items-container">
                            <li ng-repeat="e in post.files" ng-include="f.postItemTemplate(e)"></li>
                        </ul>
                        <span class="comment-date">{{::post.creationTime | date : 'MMM d,yyyy H:m'}}</span>
                        <div class="actions">
                            @*<button type="button" class="text-capitalize like margins">15 @Html.Svg("~/images/site/box-icons.svg", "like")</button>*@
                            <button type="button" class=" text-capitalize margins" show-form>@BoxResources.Comment</button>
                            @*<button type="button" class="margins share">@Html.Svg("~/images/site/box-icons.svg", "share")</button>*@
                            <span class="ribbon" ng-if="post.isNew">New</span>
                        </div>
                        <ol class="list-unstyled replies" ng-if="post.answers.length">
                            <li ng-repeat="reply in post.answers" class="reply">
                                <md-menu ng-if="b.canDelete(reply.userId)">
                                    <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)">
                                        @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
                                    </md-button>
                                    <md-menu-content width="1">
                                        <md-menu-item>
                                            <md-button aria-label="delete reply" ng-click="f.deleteReply($event,post,reply)">
                                                @GeneralResources.Delete
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <div class="top">
                                    <div layout="row" layout-align="start center" class="username">
                                        <user-image class="img-circle c-img" name="::reply.userName" image="::reply.userImage" width="40" height="40"></user-image>
                                        <span class="user-name">{{::reply.userName}}</span> @*at*@
                                    </div>
                                    <div ng-bind-html="::reply.content" class="content-text"></div>
                                </div>
                                <ul class="list-inline items-container">
                                    <li ng-repeat="e in reply.files" ng-include="'item-template.html'">
                                        @*<a class="item" href="{{::item.url}}">
                                <div class="content">
                                    <img class="img-responsive" ng-src="{{::item.thumbnail}}" alt="">
                                    <div class="extra">
                                        <h5>{{::item.name}}</h5>
                                        <img src="http://lorempixel.com/30/30/" alt="" />

                                    </div>
                                </div>
                            </a>*@
                                    </li>
                                </ul>
                                <span class="comment-date">{{::reply.creationTime | date : 'MMM d,yyyy H:m'}}</span>
                                <div class="actions padding">
                                    @*<button type="button" class="text-capitalize like margins">15 @Html.Svg("~/images/site/box-icons.svg", "like")</button>
                        <button type="button" class="margins">@Html.Svg("~/images/site/box-icons.svg", "share")</button>*@
                                    <span class="ribbon" ng-if="post.isNew">New</span>
                                </div>
                            </li>
                        </ol>

                        <form class="add-comment add-reply" ng-submit="f.add.createReply(post)">
                            <div class="reply-wrapper">
                                <textarea ng-model="f.add.newText" type="text" placeholder="what's on your mind?"></textarea>
                                <ul class="list-inline">
                                    <li class="file-upload" ng-repeat="file in f.add.files" ng-include="'file-upload.html'">
                                </ul>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <div class="upload-options">
                                    <a plupload="f.add.fileUpload.url"
                                       plupload-options="f.add.fileUpload.options" plupload-callbacks="f.add.fileUpload.callbacks">
                                        @Html.Svg(url, "file", new { @class = "file" })
                                    </a>
                                    <button type="button" ng-disabled="f.add.googleDisabled" ng-click="f.add.google()">@Html.Svg(url, "googleDrive")</button>
                                    <button type="button" ng-disabled="f.add.dropboxDisabled" ng-click="f.add.dropbox()">@Html.Svg(url, "dropbox", new { @class = "dropbox" })</button>
                                </div>
                                <div class="submit area-options" layout="row" layout-align="space-between center">
                                    <button type="submit" class="btn btn-primary pull-right text-uppercase" ng-disabled="f.add.disabled">@BoxResources.Post</button>
                                    @*<input type="checkbox" ng-model="f.add.anonymous" id="anonymous" />
                        <label for="anonymous" class="pull-right">@Html.Svg("~/images/site/box-icons.svg", "anonymous", new { @class = "anonymous" })</label>*@
                                </div>
                            </div>
                        </form>
                    </li>
                </ol>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12">
        @{ Html.RenderPartial("_LeaderBoard");}

        <div class="portlet light invite">
            <button type="button" ng-click="b.inviteToBox()" class="portlet-body">
                @Html.Svg("~/images/site/icons.svg", "invite")
                @BoxResources.InviteFriends
            </button>
        </div>

        <div class="row margin-top-10" ng-controller="RecommendedController as r" ng-hide="r.isPrivate">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="e in r.boxes" ng-include="'box-template.html'"></div>
        </div>
    </div>
</div>
