@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<section class="boxFeed" ng-controller="QnACtrl" ng-init="focused=false" ng-click="focused=false">
    <form class="feedForm" name="qnaQform" focus-form="feedOpen" 
          ng-submit="postQuestion(qnaQform.$valid);" novalidate>

        <img ng-src="{{info.userImage}}" class="feedImg lFloat" alt="" width="40" height="40" />
        <textarea  text-direction name="content" class="feedTA" ng-placeholder="@IndexResources.OnYourMind" required ng-model="qFormData.content"
                   ng-focus="checkAuth()"></textarea>
        <ul class="attachedList">
            <li class="attachedItem" ng-repeat="file in qFormData.files">
                <span class="attachName elps">{{file.name}}</span>
                <button class="removeAttach" ng-click="removeQuestionAttachment(file)"></button>
            </li>
        </ul>
        <div class="bottomTA" tabindex="0">
            <button type="submit" class="rFloat btn1" ng-disabled="!qnaQform.$valid ">@SharedResources.Post</button>
        </div>
        <button type="button" class="lFloat attachBtn" ng-click="addQuestionAttachment()">
            <svg class="svg-attachment"><use xlink:href="~/Images/Defs.svg#attachment" /></svg>
        </button>
    </form>
    


    <ul class="boxFeedList">
        <li class="" ng-repeat="question in info.questions" ng-class="{hasAttached: question.files.length}">
            <img class="feedImg lFloat" alt="" width="40" height="40" ng-src="{{question.userImage}}" user-tooltip-popup="{{question.userId}}" />

            <div class="feedWpr">
                <time class="createTime rFloat" display-time="{{question.createTime}}"></time>
                <div class="userName elps">{{question.userName}}</div>

                <div class="feedContent" ng-bind-html="question.content"></div>
                <ul class="attachedList">
                    <li class="attachedItem" ng-repeat="file in qFormData.files">
                        <span class="attachName elps">{{file.name}}</span>
                        <button class="removeAttach" ng-click="removeQuestionAttachment(file)"></button>
                    </li>
                </ul>

                <div class="shareBtn lFloat">
                    <input class="checkbox" type="checkbox" id="boxShare" ng-model="popup.share" />
                    <label for="boxShare" class="shareBtnTxt iconTop">@SharedResources.Share</label>
                    <div class="dropDown shareDD">
                        <label class="closeItem rFloat" for="boxShare"></label>
                        <div class="arrow shareArrow"></div>
                        <h4 class="semiFont">{{strings.share}}</h4>
                        <div class="shareTxt">{{strings.invite}}</div>
                        <ul class="shareList">
                            <li class="shareItem"><button type="button" class="fbShare" ng-click="shareFacebook()">@SharedResources.Facebook</button></li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="shareItem"><button type="button" class="emailShare" ng-click="shareEmail()">@SharedResources.Email</button></li>
                            }
                        </ul>
                        <div class="shareTxt">@SharedResources.OrCopyLink</div>
                        <input type="text" class="linkShare" ng-model="info.url" readonly="readonly" select-on-click />
                    </div>
                </div>
                <button type="button" class="trash">
                    <svg class="svg-trash"><use xlink:href="~/Images/Defs.svg#trash" /></svg>
                </button>
                @*<span user-tooltip-popup="{{comment.userId}}" class="user-name">{{comment.userName}}</span>
                    <time display-time="{{comment.creationDate}}"></time>
                    <p>{{comment.comment}}</p>*@
            </div>
            <ul class="feedReplies rFloat">
                <li ng-repeat="answer in question.answers">
                    <img class="feedImg rFloat" user-tooltip-popup="{{question.userId}}" ng-src="{{answer.userImage}}" alt="" width="40" height="40" />
                    <div class="feedWpr">
                        <time class="createTime rFloat" display-time="{{answer.createTime}}"></time>
                        <div class="userName elps">{{answer.userName}}</div>
                        <div class="feedContent" ng-bind-html="answer.content"></div>
                        <ul class="qaAttach">
                            <li class="qaAttachItem" ng-repeat="file in answer.files">
                                <a ng-href="{{file.itemUrl}}"><img ng-src="{{file.thumbnail}}" alt="" width="100" height="125" /></a>
                                <div class="attachActions">
                                    <a class="attachFull" ng-href="{{file.itemUrl}}"></a>
                                    <button class="attachDelete" type="button" ng-if="file.isVisible" ng-click="removeAttachment(answer,file)"></button>
                                    <a class="attachDownload" target="_blank" ng-href="{{item.download}}"></a>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="trash">
                            <svg class="svg-trash"><use xlink:href="~/Images/Defs.svg#trash" /></svg>
                        </button>
                    </div>
                </li>
            </ul>
            @*<form name="addReplyF" novalidate ng-submit="addReply(comment)" class="clearfix itemCommentsForm" ng-show="comment.showReplyF">*@
            <div ng-form="qnaAform" focus-form="feedOpen" class="feedForm" novalidate>
                <img class="feedImg rFloat" ng-src="{{info.userImage}}" alt="" width="40" height="40" />

                <textarea text-direction name="content" required class="feedTA" ng-placeholder="@SharedResources.WriteComment" ng-model="question.aFormData.content" ng-focus="checkAuth()"></textarea>
                <ul class="attachedList">
                    <li class="attachedItem" ng-repeat="file in question.aFormData.files">
                        <span class="attachName elps">{{file.name}}</span>
                        <button class="removeAttach" ng-click="removeAnswerAttachment(question,file)"></button>
                    </li>
                </ul>
                <div class="bottomTA">
                    <button class="btn1 rFloat" type="submit" ng-click="postAnswer(question)" ng-disabled="!qnaAform.$valid">@SharedResources.Post</button>
                </div>
                <button type="button" class="lFloat attachBtn" ng-click="addAnswerAttachment(question)">
                    <svg class="svg-attachment"><use xlink:href="~/Images/Defs.svg#attachment" /></svg>
                </button>
            </div>
            @*</form>*@
        </li>
    </ul>

</section>
