@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div ng-controller="QnACtrl">
    <section class="boxFeed lFloat">
        <form class="feedForm" name="qnaQform" focus-form="feedOpen"
              ng-submit="postQuestion(qnaQform.$valid)" novalidate>

            <img ng-src="{{info.userImage}}" class="feedImg lFloat" alt="" width="40" height="40" />
            <textarea text-direction name="content" class="feedTA" ng-placeholder="@IndexResources.OnYourMind" ng-model="qFormData.content"
                      ng-focus="checkAuth()"></textarea>
            <ul class="attachedList">
                <li class="attachedItem" ng-repeat="file in qFormData.files">
                    <span class="attachName elps">{{file.name}}</span>
                    <button class="removeAttach" ng-click="removeQuestionAttachment(file)"></button>
                </li>
            </ul>
            <div class="bottomTA" tabindex="0">
                <button type="submit" class="rFloat btn1" ng-disabled="!(qFormData.files || qFormData.content)">@SharedResources.Post</button>
            </div>
            <button type="button" class="lFloat attachBtn" ng-click="addQuestionAttachment()">
                @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
            </button>
        </form>

        <ul class="boxFeedList">
            <li class="" ng-repeat="question in info.questions track by question.id" ng-class="{hasAttached: question.files.length}">
                <img class="feedImg lFloat" alt="" width="40" height="40" ng-src="{{question.userImage}}" user-tooltip-popup="{{question.userId}}" />

                <div class="feedWpr">
                    <time class="createTime rFloat" display-time="{{question.createTime}}"></time>
                    <div class="userName elps">{{question.userName}}</div>

                    <div class="feedContent" ng-bind-html="question.content"></div>
                    <ul class="qaAttach">
                        <li class="qaAttachItem" ng-repeat="file in question.files">
                            <a ng-href="{{file.itemUrl}}"><img ng-src="{{file.thumbnail}}" alt="" width="100" height="125" /></a>
                            <div class="attachActions">
                                <a class="attachFull" ng-href="{{file.itemUrl}}"></a>
                                <button class="attachDelete" type="button" ng-if="file.isVisible" ng-click="removeQuestionAttachment(file)"></button>
                                <a class="attachDownload" target="_blank" ng-href="{{file.download}}"></a>
                            </div>
                        </li>
                    </ul>

                    <div class="shareBtn lFloat">
                        <label for="boxShare" class="iconTop">@SharedResources.Share</label>
                    </div>
                    <button type="button" class="trash" ng-click="deleteQuestion(question)" ng-if="canDelete(question)">
                        @Html.Svg("~/Images/Defs.svg", "trash", new { @class = "svg-trash" })
                    </button>
                </div>
                <ul class="feedReplies rFloat">
                    <li ng-repeat="answer in question.answers track by answer.id">
                        <img class="feedImg rFloat" user-tooltip-popup="{{answer.userId}}" ng-src="{{answer.userImage}}" alt="" width="40" height="40" />
                        <div class="feedWpr">
                            <time class="createTime rFloat" display-time="{{answer.createTime}}"></time>
                            <div class="userName elps">{{answer.userName}}</div>
                            <div class="feedContent" ng-bind-html="answer.content"></div>
                            <ul class="qaAttach">
                                <li class="qaAttachItem" ng-repeat="file in answer.files">
                                    <a ng-href="{{file.itemUrl}}"><img ng-src="{{file.thumbnail}}" alt="" width="100" height="125" /></a>
                                    <div class="attachActions">
                                        <a class="attachFull" ng-href="{{file.itemUrl}}"></a>
                                        <button class="attachDelete" type="button" ng-if="file.isVisible" ng-click="removeAttachment(answer,file)"></button>
                                        <a class="attachDownload" target="_blank" ng-href="{{file.download}}"></a>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="trash" ng-click="deleteAnswer(question,answer)" ng-if="canDelete(answer)">
                                @Html.Svg("~/Images/Defs.svg", "trash", new { @class = "svg-trash" })
                            </button>
                        </div>
                    </li>
                </ul>
                <form name="qnaAform" focus-form="feedOpen" class="feedForm" novalidate>
                    <img class="feedImg rFloat" ng-src="{{info.userImage}}" alt="" width="40" height="40" />
                    <textarea text-direction name="content" class="feedTA" ng-placeholder="@SharedResources.WriteComment" ng-model="question.aFormData.content" ng-focus="checkAuth()"></textarea>
                    <ul class="attachedList">
                        <li class="attachedItem" ng-repeat="file in question.aFormData.files">
                            <span class="attachName elps">{{file.name}}</span>
                            <button class="removeAttach" ng-click="removeAnswerAttachment(question,file)"></button>
                        </li>
                    </ul>
                    <div class="bottomTA">
                        <button class="btn1 rFloat" type="submit" ng-click="postAnswer(question)" ng-disabled="!(question.aFormData.files || question.aFormData.content)" analytics-on="click" analytics-event="New answer" analytics-category="Box Feed" analytics-label="User posted a new answer">@SharedResources.Post</button>
                    </div>
                    <button type="button" class="lFloat attachBtn" ng-click="addAnswerAttachment(question)">
                        @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
                    </button>
                </form>
            </li>

        </ul>

        <div class="emptyFeed ghost"><span class="vCentered">@MainViewResources.FeedEmpty</span></div>

    </section>
    <div class="boxSideBar" ng-controller="SideBarCtrl">
        <section class="leaderBoard">
            <header>
                @Html.Svg("~/Images/Defs.svg", "leaderBoard")&nbsp;
                <span class="lbText">@SharedResources.BestInSchool</span>
            </header>
            <ol class="bestUserList" bindonce>
                <li class="firstUser" ng-if="leaderBoard.first">
                    <img class="top3Img" bo-src="leaderBoard.first.image" user-tooltip-popup="{{leaderBoard.first.id}}" alt="" width="82" height="82" />
                    <div class="rep" data-pts="@SharedResources.Pts" bo-text="leaderBoard.first.score | number"></div>
                    <div bo-text="leaderBoard.first.name"></div>
                    @Html.Svg("~/Images/Defs.svg", "crown", new { @class = "svg-crown" })
                </li>
                <li class="secondUser lFloat" ng-if="leaderBoard.second">
                    <img class="top3Img" bo-src="leaderBoard.second.image" user-tooltip-popup="{{leaderBoard.second.id}}" alt="" width="72" height="72" />
                    <div class="rep" data-pts="@SharedResources.Pts" bo-text="leaderBoard.second.score | number"></div>
                    <div bo-text="leaderBoard.second.name"></div>
                    @Html.Svg("~/Images/Defs.svg", "trophy", new { @class = "svg-trophy" })
                </li>
                <li class="thirdUser rFloat" ng-if="leaderBoard.third">
                    <img class="top3Img" bo-src="leaderBoard.third.image" user-tooltip-popup="{{leaderBoard.third.id}}" alt="" width="62" height="62" />
                    <div class="rep" data-pts="@SharedResources.Pts" bo-text="leaderBoard.third.score | number"></div>
                    <div bo-text="leaderBoard.third.name"></div>
                    @Html.Svg("~/Images/Defs.svg", "badge", new { @class = "svg-badge" })
                </li>
                <li ng-if="leaderBoard.fourth">
                    <img bo-src="leaderBoard.fourth.image" user-tooltip-popup="{{leaderBoard.fourth.id}}" alt="" width="38" height="38" />
                    <span class="elps" bo-text="leaderBoard.fourth.name"></span>
                    <span class="rep rFloat" bo-text="leaderBoard.fourth.score | number"></span>
                </li>
                <li ng-if="leaderBoard.fifth">
                    <img bo-src="leaderBoard.fifth.image" user-tooltip-popup="{{leaderBoard.fifth.id}}" alt="" width="38" height="38" />
                    <span class="elps" bo-text="leaderBoard.fifth.name"></span>
                    <span class="rep rFloat" bo-text="leaderBoard.fifth.score | number"></span>
                </li>
            </ol>
        </section>
        <section class="recommendedWpr" ng-if="recommendedCourses.length">
            @*ng-if="recommendedCourses.length"*@
            <header>@Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources.IndexResources.RecommendedCourses</header>
            <ul>
                <li class="recommended" ng-repeat="course in recommendedCourses" bindonce>
                    <a bo-href="course.url" class="courseLink">
                        <div class="rFloat">
                            <div class="friends" bo-attr bo-attr-data-friends-count="{{course.membersCount}}">@SharedResources.Friends</div>
                            <div class="files" bo-attr bo-attr-data-files-count="{{course.itemCount}}">@SharedResources.Files</div>
                        </div>
                        <img bo-src="course.picture" alt="" width="68" height="68" />
                        <div class="elps courseName" bo-text="course.name"></div>
                        <div class="elps" bo-text="course.courseCode"></div>
                        <div class="prof elps" bo-text="course.professor"></div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>