@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    const string url = "~/images/site/uploadIcons.svg";
}
<div layout="row" layout-padding layout-wrap class="feed-wrapper">
    <div class="feed" flex="100" flex-md="66" flex-lg="60" flex-gt-lg="60">
        @{ Html.RenderPartial("_FeedAddComment");}
        <ol class="list-unstyled posts-list" srph-infinite-scroll="f.myPagingFunction()" threshold="600">
            <li ng-repeat="post in f.data track by post.id" class="post comment">
                <div class="comments-wrapper">
                    <div class="info" layout="row" align-items="start-center">
                        <a href="{{::post.url}}" class="userblock" layout="row" layout-align="start center" ga-track-event="['box-feed', 'userNameImage']">
                            <user-image class="c-img" name="::post.userName" image="::post.userImage" width="52" height="52"></user-image>
                            <span class="user-name" ng-bind="::post.userName"></span>
                        </a>
                        <span class="comment-date" ng-bind="::post.creationTime"></span>
                    </div>
                    <md-menu ng-if="::b.canDelete(post.userId)">
                        <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['box-feed', 'deletePost']">
                            @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3 color-override svgColor6" })
                        </md-button>
                        <md-menu-content width="1">
                            <md-menu-item>
                                <md-button ng-click="f.deleteComment($event,post)" ga-track-event="['box-feed', 'didDelete']">
                                    @GeneralResources.Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <div ng-bind-html="::post.content" class="content-text"></div>
                    <div class="items-slider" ng-if="::post.files.length">
                        <button ng-if="::post.files.length > 2" type="button" class="items-prev">@Html.Svg("~/images/site/box-icons.svg", "arrow")</button>
                        <div class="items-container">
                            <div bx-slider>
                                <div bx-slider-item class="feed-item" ng-repeat="e in ::post.files track by e.id" ng-include="f.postItemTemplate(e)"></div>
                            </div>
                        </div>
                        <button ng-if="::post.files.length > 2" type="button" class="items-next">@Html.Svg("~/images/site/box-icons.svg", "arrow")</button>
                    </div>
                    <div class="actions-wrapper">
                        <div class="indent actions text-capitalize" layout="row" layout-align="start center">
                            <button class="comment-btn" user-not-register-popup="click" type="button" layout="row" layout-align="start center" ng-click="f.reply(post)" ga-track-event="['box-feed', 'comment-icons']">
                                <span ng-if="post.repliesCount" class="reply-count" ng-bind="post.repliesCount"></span><span class="comment-icon">@Html.Svg("~/images/site/box-icons.svg", "comment")</span><span>@BoxResources.Comment</span>
                            </button>
                            <div layout="row" layout-align="start center">
                                <input type="button" value="{{post.likesCount}}" class="like-count" user-not-register-popup="click" ng-click="f.likeCommentDialog(post,$event)"/>
                                <button class="like-btn" user-not-register-popup="click" type="button" layout="row" layout-align="start center" ng-disabled="f.add.disabled" ng-click="f.likeComment(post)" ga-track-event="['box-feed', 'comment-like-icon']">
                                    @Html.Svg("~/images/site/box-icons.svg", "like" ,new { @class="like-icon", ng_if= "!post.isLiked" })
                                    @Html.Svg("~/images/site/box-icons.svg", "activeLike", new { @class = "like-icon", ng_if = "post.isLiked" }) @GeneralResources.Like
                                </button>
                            </div>
                            <share-box></share-box>
                        </div>
                        <span class="ribbon" ng-if="::post.isNew">@BoxResources.RibbonNew</span>
                    </div>
                </div>
                <ol class="list-unstyled replies" ng-if="post.replies.length">
                    <li class="show-more" ng-if="post.repliesCount > 1 && !post.showReplies">
                        <span ng-click="f.openReply(post)"> @BoxResources.ViewComments {{post.repliesCount-1}} @BoxResources.Comments</span>
                    </li>
                    <li ng-repeat="reply in post.replies track by reply.id" class="reply" ng-if="$last || post.showReplies">
                        <div class="indent info">
                            <a href="{{::reply.url}}" layout="row" layout-align="start center" class="userblock username" ga-track-event="['box-feed', 'replyUserNameImg']">
                                <user-image class="c-img" name="::reply.userName" image="::reply.userImage" width="52" height="52"></user-image>
                                <span class="user-name" ng-bind="::reply.userName"></span>
                            </a>
                            <span class="comment-date" ng-bind="::reply.creationTime"></span>
                        </div>
                        <md-menu ng-if="::b.canDelete(reply.userId)">
                            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['box-feed', 'deletePost']">
                                @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3 color-override svgColor6" })
                            </md-button>
                            <md-menu-content width="1">
                                <md-menu-item>
                                    <md-button ng-click="f.deleteReply($event,post,reply)" ga-track-event="['box-feed', 'didDelete']">
                                        @GeneralResources.Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <div ng-bind-html="::reply.content" class="indent content-text"></div>
                        <div class="items-slider" ng-if="::reply.files.length">
                            <button type="button" ng-if="::reply.files.length > 2" class="items-prev">@Html.Svg("~/images/site/box-icons.svg", "arrow")</button>
                            <div class="items-container">
                                <div bx-slider>
                                    <div bx-slider-item class="feed-item" ng-repeat="e in ::reply.files track by e.id" ng-include="f.postItemTemplate(e)"></div>
                                </div>
                            </div>
                            <button type="button" ng-if="::reply.files.length > 2" class="items-next">@Html.Svg("~/images/site/box-icons.svg", "arrow")</button>
                        </div>
                        <div class="actions-wrapper">
                            <div class="like-btn actions" layout="row" layout-align="start center">
                                <button type="button" ng-if="reply.likesCount" ng-click="f.likeReplyDialog(reply,$event)">
                                    <span class="like-count" ng-bind="reply.likesCount"></span>
                                </button>
                                <button type="button" ng-disabled="f.add.disabled" ng-click="f.likeReply(reply)" ga-track-event="['box-feed', 'comment-like-icon']" layout="row" layout-align="start center">
                                    <span class="like-icon" ng-if="!reply.isLiked">@Html.Svg("~/images/site/box-icons.svg", "like")</span>
                                    <span class="like-icon" ng-if="reply.isLiked">@Html.Svg("~/images/site/box-icons.svg", "activeLike")</span>
                                    <span>@GeneralResources.Like</span>
                                </button>
                            </div>
                            <span class="ribbon" ng-if="reply.isNew">@BoxResources.RibbonNew</span>
                        </div>
                    </li>
                </ol>
                <div class="add-reply-wrapper" ng-if="post.showReplies">
                    <form class="add-comment add-reply" ng-submit="f.add.createReply(post)">
                        <div class="reply-wrapper">
                            <md-input-container md-no-float>
                                <textarea user-not-register-popup="focus" focus-me="post.focusReply" ng-model="f.add.newReplyText" placeholder="@BoxResources.replyPostPlaceholder" class="color-override inputColor12 textColor7"></textarea>
                            </md-input-container>
                            <ul class="list-inline file-upload-area" ng-if="f.add.files.length">
                                <li class="file-upload" ng-repeat="file in f.add.files | filter:{postId: post.id}" ng-include="'file-upload.html'">
                            </ul>
                        </div>
                        <div class="reply-actions" layout="row" layout-align="space-between center">
                            <div class="upload-options feed-upload" layout="row" layout-wrap layout-align="space-between start">
                                <a user-not-register-popup="click" plupload="f.add.fileUpload.url" ng-click="f.add.upload(post.id)"
                                   plupload-options="f.add.fileUpload.options" plupload-callbacks="f.add.fileUpload.callbacks" ga-track-event="['box-feed', 'addFile']">
                                    @Html.Svg(url, "file", new { @class = "file color-override hoverSvgColor2" })
                                </a>
                                <button user-not-register-popup="click" type="button" class="google" ng-mouseover="f.add.init()" ng-disabled="f.add.googleDisabled" ng-click="f.add.google(post.id)" ga-track-event="['box-feed', 'googleDrive']">
                                    @Html.Svg(url, "googleDrive")
                                    @Html.Svg(url, "googleDriveClean")
                                </button>
                                <button user-not-register-popup="click" type="button" ng-mouseover="f.add.init()" ng-disabled="f.add.dropboxDisabled" ng-click="f.add.dropbox(post.id)" ga-track-event="['box-feed', 'dropbox']">@Html.Svg(url, "dropbox", new { @class = "dropbox" })</button>
                            </div>
                            <button type="submit" class="btn button-Blue btn-primary text-uppercase post-comment" ng-disabled="f.add.disabled" ga-track-event="['box-feed', 'postReply']">
                                @Html.Svg(url, "post")
                            </button>
                        </div>
                    </form>
                </div>
            </li>
        </ol>
    </div>
    <div class="right-side-area flex" layout-padding flex="100" flex-md="33" flex-lg="30" flex-gt-lg="30">
        <div layout-wrap layout-padding layout="row" layout-align="space-between stretch">
            <div flex="100" flex-sm="50" ng-if="b.showLeaderboard" class="flex leaderboard-container">
                @* ReSharper disable once Mvc.PartialViewNotResolved *@
                @{ Html.RenderPartial("_LeaderBoard", IndexResources.Best);}
            </div>
            <div class="invite-container flex" flex ng-if="b.canInvite" ng-class="{hideMobile: b.inviteOpen}">
                <div class="flex portlet light invite button-Blue">
                    <button type="button" ng-click="b.inviteToBox()" class="portlet-body color-override textColor3" ga-track-event="['box-feed', 'inviteFriends']">
                        @Html.Svg("~/images/site/icons.svg", "invite")
                        <span class="text">@BoxResources.InviteFriends</span>
                    </button>
                </div>
            </div>
            <div class="recomanded" layout="row" layout-padding layout-wrap layout-align="space-between center" flex="100" ng-controller="RecommendedController as r" ng-hide="r.isPrivate">
                <div flex="100" flex-gt-md="100" flex-sm="50" class="flex" ng-repeat="e in ::r.boxes track by e.boxId" ng-include="'box-template.html'"></div>
            </div>
        </div>
    </div>
</div>
