@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div ng-controller="QnACtrl" class="feedfullWpr" pl-dropzone-uploader="boxFeed" id="boxFeed">
    <div id="dropzoneBtn" style="display:none;"></div>
    <section class="boxFeed lFloat">
        <form class="feedForm" name="qnaQform" focus-form="feedOpen"
              ng-submit="postQuestion(qnaQform.$valid)" novalidate>

            <img ng-src="{{info.userImage | defaultImage:'user'}}" class="feedImg lFloat" alt="" width="40" height="40" />
            <textarea text-direction name="content" class="feedTA dropzone" ng-placeholder="@IndexResources.OnYourMind" ng-model="qFormData.content"
                      ng-focus="checkAuth()" pl-dropzone new-question="true" box-id="{{boxId}}"></textarea>
            <ul class="attachedList">
                <li class="attachedItem" ng-repeat="file in qFormData.files">
                    <span class="attachName elps">{{file.name}}</span>
                    <button class="removeAttach" ng-click="removeQuestionAttachment(file)"></button>
                </li>
            </ul>
            <div class="bottomTA" tabindex="0">
                <button type="submit" class="rFloat btn1" ng-disabled="!(qFormData.files || qFormData.content)">@SharedResources.Post</button>
            </div>
            <button type="button" class="lFloat attachBtn" ng-click="addQuestionAttachment()">
                @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
            </button>
        </form>

        <ul class="boxFeedList">
            <li class="" ng-repeat="question in info.questions track by question.id" ng-class="{hasAttached: question.files.length}">
                <img class="feedImg lFloat" alt="" width="40" height="40" ng-src="{{question.userImage | defaultImage:'user'}}" user-tooltip-popup="{{question.userId}}" />

                <div class="feedWpr">
                    <time class="createTime rFloat" display-time="{{question.createTime}}"></time>
                    <div class="userName elps">{{question.userName}}</div>

                    <div class="feedContent" ng-bind-html="question.content"></div>
                    <ul class="qaAttach">
                        <li class="qaAttachItem" ng-repeat="file in question.files">
                            <a ng-href="{{file.itemUrl}}"><img ng-src="{{file.thumbnail}}" alt="" width="100" height="125" /></a>
                            <div class="attachActions">
                                <a class="attachFull" ng-href="{{file.itemUrl}}"></a>
                                <button class="attachDelete" type="button" ng-if="file.isVisible" ng-click="removeQuestionAttachment(file)"></button>
                                <a class="attachDownload" target="_blank" ng-href="{{file.download}}"></a>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <button class="commentBtn" type="button" ng-click="displayComment(question)">@SharedResources.Comment</button>
                        <div class="shareBtn">
                            <label for="boxShare" class="iconTop">@SharedResources.Share</label>
                        </div>
                    </div>

                    <button type="button" class="trash" ng-click="deleteQuestion(question)" ng-if="canDelete(question)">
                        @Html.Svg("~/Images/Defs.svg", "trash", new { @class = "svg-trash" })
                    </button>
                </div>
                <ul class="feedReplies rFloat">
                    <li ng-repeat="answer in question.answers track by answer.id">
                        <img class="feedImg rFloat" user-tooltip-popup="{{answer.userId}}" ng-src="{{answer.userImage | defaultImage:'user'}}" alt="" width="40" height="40" />
                        <div class="feedWpr">
                            <time class="createTime rFloat" display-time="{{answer.createTime}}"></time>
                            <div class="userName elps">{{answer.userName}}</div>
                            <div class="feedContent" ng-bind-html="answer.content"></div>
                            <ul class="qaAttach">
                                <li class="qaAttachItem" ng-repeat="file in answer.files">
                                    <a ng-href="{{file.itemUrl}}"><img ng-src="{{file.thumbnail}}" alt="" width="100" height="125" /></a>
                                    <div class="attachActions">
                                        <a class="attachFull" ng-href="{{file.itemUrl}}"></a>
                                        <button class="attachDelete" type="button" ng-if="file.isVisible" ng-click="removeAttachment(answer,file)"></button>
                                        <a class="attachDownload" target="_blank" ng-href="{{file.download}}"></a>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="trash" ng-click="deleteAnswer(question,answer)" ng-if="canDelete(answer)">
                                @Html.Svg("~/Images/Defs.svg", "trash", new { @class = "svg-trash" })
                            </button>
                        </div>
                    </li>
                </ul>
                <form ng-if="question.displayComment" name="qnaAform" focus-form="feedOpen" class="feedForm" novalidate>
                    <img class="feedImg rFloat" ng-src="{{info.userImage | defaultImage:'user'}}" alt="" width="40" height="40" />
                    <textarea text-direction name="content" class="feedTA dropzone" ng-placeholder="@SharedResources.WriteComment" ng-model="question.aFormData.content" ng-focus="checkAuth()" pl-dropzone question-id="{{question.id}}" box-id="{{boxId}}"></textarea>
                    <ul class="attachedList">
                        <li class="attachedItem" ng-repeat="file in question.aFormData.files">
                            <span class="attachName elps">{{file.name}}</span>
                            <button class="removeAttach" ng-click="removeAnswerAttachment(question,file)"></button>
                        </li>
                    </ul>
                    <div class="bottomTA">
                        <button class="btn1 rFloat" type="submit" ng-click="postAnswer(question)" ng-disabled="!(question.aFormData.files || question.aFormData.content)" analytics-on="click" analytics-event="New answer" analytics-category="Box Feed" analytics-label="User posted a new answer">@SharedResources.Post</button>
                    </div>
                    <button type="button" class="lFloat attachBtn" ng-click="addAnswerAttachment(question)">
                        @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
                    </button>
                </form>
            </li>

        </ul>

        <div ng-show="info.questions.length===0" class="emptyFeed ghost"><span class="vCentered">@MainViewResources.FeedEmpty</span></div>

    </section>
    <div class="boxSideBar" ng-controller="SideBarCtrl">
        <section class="leaderBoard" ng-if="::leaderBoard.first">
            <header>
                @Html.Svg("~/Images/Defs.svg", "leaderBoard")&nbsp;
                <span class="lbText">@IndexResources.BestInClass</span>
            </header>
            <div class="podium"></div>
            <ol class="bestUserList">
                <li ng-if="::leaderBoard.first" class="firstUser">
                    <a ng-href="{{::leaderBoard.first.url}}" analytics-on="click" analytics-event="Choose User" analytics-category="Box Leaderboard" analytics-label="User clicked first place">
                        <img class="top3Img" ng-src="{{::leaderBoard.first.image| defaultImage:'user'}}" alt="" width="48" height="48" user-tooltip-popup="{{::leaderBoard.first.id}}" />
                    </a>
                    @Html.Svg("~/Images/Defs.svg", "crown", new { @class = "svg-crown" })
                    <div class="rep" data-pts="@SharedResources.Pts">{{::leaderBoard.first.score | kNumber}}</div>
                </li>
                <li ng-switch="leaderBoard.secondExist">
                    <div ng-switch-when="true" class="secondUser lFloat">
                        <a ng-href="{{::leaderBoard.second.url}}" analytics-on="click" analytics-event="Choose User" analytics-category="Box Leaderboard" analytics-label="User clicked second place">
                            <img class="top3Img" ng-src="{{::leaderBoard.second.image | defaultImage:'user'}}" alt="" width="48" height="48" user-tooltip-popup="{{::leaderBoard.second.id}}" />
                        </a>
                        @Html.Svg("~/Images/Defs.svg", "trophy", new { @class = "svg-trophy" })
                        <div class="rep" data-pts="@SharedResources.Pts">{{::leaderBoard.second.score | kNumber}}</div>
                    </div>
                    <div ng-switch-when="false" class="secondUser empty lFloat">
                        <span class="top3Img">@Html.Svg("~/Images/Defs.svg", "user", new { @class = "svg-user" })</span>
                        @Html.Svg("~/Images/Defs.svg", "trophy", new { @class = "svg-trophy" })
                </li>

                <li ng-switch="leaderBoard.thirdExist">
                    <div ng-switch-when="true" class="thirdUser rFloat">
                        <a ng-href="{{::leaderBoard.third.url}}" analytics-on="click" analytics-event="Choose User" analytics-category="Box Leaderboard" analytics-label="User clicked third place">
                            <img class="top3Img" ng-src="{{::leaderBoard.third.image| defaultImage:'user'}}" alt="" width="48" height="48" user-tooltip-popup="{{::leaderBoard.third.id}}" />
                        </a>
                        @Html.Svg("~/Images/Defs.svg", "badge", new { @class = "svg-badge" })
                        <div class="rep" data-pts="@SharedResources.Pts">{{::leaderBoard.third.score | kNumber}}</div>
                    </div>
                    <div ng-switch-when="false" class="thirdUser empty rFloat">
                        <span class="top3Img">@Html.Svg("~/Images/Defs.svg", "user", new { @class = "svg-user" })</span>
                        @Html.Svg("~/Images/Defs.svg", "badge", new { @class = "svg-badge" })
                    </div>
                </li>

                <li ng-if="::leaderBoard.fourth" analytics-on="click" analytics-event="Choose User" analytics-category="Box Leaderboard" analytics-label="User clicked fourth place">
                    <a ng-href="{{::leaderBoard.fourth.url}}"><img ng-src="{{::leaderBoard.fourth.image | defaultImage:'user'}}" user-tooltip-popup="{{::leaderBoard.fourth.id}}" alt="" width="38" height="38" /></a>
                    <span class="elps">{{::leaderBoard.fourth.name}}</span>
                    <span class="rep">{{::leaderBoard.fourth.score | kNumber}}</span>
                </li>
                <li ng-if="::leaderBoard.fifth">
                    <a ng-href="{{::leaderBoard.fifth.url}}" analytics-on="click" analytics-event="Choose User" analytics-category="Box Leaderboard" analytics-label="User clicked fifth place">
                        <img ng-src="{{::leaderBoard.fifth.image | defaultImage:'user'}}" user-tooltip-popup="{{::leaderBoard.fifth.id}}" alt="" width="38" height="38" />
                    </a>
                    <span class="elps">{{::leaderBoard.fifth.name}}</span>
                    <span class="rep">{{::leaderBoard.fifth.score | kNumber}}</span>
                </li>
            </ol>
        </section>
        <section class="recommendedWpr" ng-if="::recommendedCourses.length">
            <header>@Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources.IndexResources.RecommendedCourses</header>
            <ul>
                <li class="recommended" ng-repeat="course in ::recommendedCourses">
                    <a ng-href="{{::course.url}}" class="courseLink" analytics-on="click" analytics-event="Choose Box" analytics-category="Box Recommended" analytics-label="User choosed a box on recommneded">
                        <div class="rcDetails ghost">
                            <div class="vCentered">
                                <div class="courseName">{{::course.name}}</div>
                                <span class="prof elps">{{::course.professor}}</span>
                                <span class="elps">{{::course.courseCode}}</span>
                            </div>
                            <img alt="" width="48" height="48" ng-src="{{::course.picture}}" />
                        </div>
                        <div class="rcStats">
                            <div class="friends" data-friends-count="{{::course.membersCount}}">
                                @Html.Svg("~/Images/Defs.svg", "user", new { @class = "svg-user" })
                                <span>@SharedResources.Friends</span>
                            </div>
                            <div class="files" data-files-count="{{::course.itemCount}}">
                                @Html.Svg("~/Images/Defs.svg", "document", new { @class = "svg-doc" })
                                <span>@SharedResources.Files</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>