@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<form novalidate remove-keyboard ng-submit="i.filter()" class="search-box">
    <input user-not-register-popup="focus" type="search" placeholder="@BoxResources.Search" ng-model="i.term" ng-model-options="{debounce : 250}" ng-change="i.filter()" ng-minlength="2" />
</form>
@{ Html.RenderPartial("_Tabs");}


<ul layout="row" layout-padding layout-fill layout-wrap class="list-unstyled" srph-infinite-scroll="i.myPagingFunction()">
    <li flex-gt-lg="10" flex-lg="20" flex-md="25" flex-sm="33" hide-xs class="item-animate add-button "  ng-click="i.openUpload()" ga-track-event="['box-items', 'addFile']">
        <div class="content ">
            <button type="button">
                @Html.Svg("~/images/site/icons.svg", "add")
                @BoxResources.UploadFiles
            </button>
        </div>
    </li>
    <li flex-gt-lg="10" flex-lg="20" flex-md="25" flex-sm="33" flex-xs="50" class="item-animate i-q-wrapper" ng-repeat="e in i.items track by e.id ">
        <div  ng-include="'item-template.html'"></div>
        <md-menu>
            <md-button aria-label="open menu"  class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['box-items', 'deleteFile']">
                @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3" })
            </md-button>
            <md-menu-content width="1">
                <md-menu-item ng-if="b.canDelete(e.ownerId)">
                    <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)" ga-track-event="['box-items', 'didDelete']">
                        @GeneralResources.Delete
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="download item" ng-href="{{::e.downloadLink}}" ga-track-event="['box-items', 'download']">
                        @GeneralResources.Download
                    </md-button>
            </md-menu-item>
        </md-menu-content>
        </md-menu>
    </li>
</ul>
<button type="button" class="add" hide show-xs ng-click="i.openUpload()" ng-show="i.uploadShow" ga-track-event="['box-items', 'addFile']">
    @Html.Svg("~/images/site/icons.svg", "add")
</button>
