@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<div layout="row" class="location-search-area" layout-align="space-between end">
    <div class="folder" flex="50">
        <div layout="row" layout-align="start center" ng-if="i.tabSelected.id">
            <div layout="row" layout-align="none  center" class="arrow" ng-click="i.upDir()">@Html.Svg("~/images/site/icons.svg", "arrow")</div>
            <div flex class="folder-name">
                <div layout="row" layout-align="space-between center">
                    <div class="name-and-icon" layout="row" layout-align="start center">
                        <div layout="row" class="icon">@Html.Svg("~/images/folder_icon.svg", "folder")</div>
                        <div class="text ellipsis">
                            {{i.tabSelected.name}}
                        </div>
                    </div>
                    <md-menu ng-if="b.canDelete(e.ownerId)">
                        <md-button aria-label="open menu" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
                            @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
                        </md-button>
                        <md-menu-content width="1">
                            <md-menu-item>
                                <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)">
                                    @GeneralResources.Delete
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)">
                                    @GeneralResources.Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="search-box" flex="50">
        <md-input-container>
            <label class="text-capitalize">@BoxResources.Search</label>
            <input type="search" ng-model="i.term" ng-model-options="{debounce : 250}" ng-change="i.filter()" ng-minlength="2" />
        </md-input-container>
    </div>
</div>
<ul ayout-fill layout-wrap class="list-unstyled folders" layout="row" layout-align="start center" ng-if="!i.tabSelected.id">
    <li flex-gt-lg="15" flex-lg="20" flex-md="25" flex-sm="50" hide-sm class="add-folder folder-name item-animate i-q-wrapper" ng-click="i.opened=true" ng-init="i.opened=false">
        <div class="content" ng-if="!i.opened">
            <button layout="row" layout-align="start center" type="button">
                @Html.Svg("~/images/site/icons.svg", "add")
                <span>
                    Add folder
                </span>
            </button>
        </div>
        <div class="content" ng-if="i.opened">
            <form>
                <input focus-me="true" type="text"/>
            </form>
        </div>
    </li>

    <li flex-gt-lg="15" flex-lg="20" flex-md="25" flex-sm="50" hide-sm ui-on-drop="i.test($event,$data)" flex class="folder-name" ng-repeat="e in i.tabs" ng-click="i.tabChange(e)">
        <div layout="row" layout-align="space-between center">
            <div class="name-and-icon" layout="row" layout-align="start center">
                <div layout="row" class="icon">@Html.Svg("~/images/folder_icon.svg", "folder")</div>
                <div class="text ellipsis">
                    {{:: e.name}}
                </div>
            </div>
        </div>
    </li>
</ul>

<ul layout="row" layout-fill layout-wrap class="list-unstyled" infinite-scroll="i.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
    <li flex-gt-lg="15" flex-lg="20" flex-md="25" flex-sm="50" hide-sm class="item-animate add-button i-q-wrapper" ng-click="i.openUpload()">
        <div class="content">
            <button type="button">
                @Html.Svg("~/images/site/icons.svg", "add")
                @BoxResources.UploadFiles
            </button>
        </div>
    </li>
    <li flex-gt-lg="15" flex-lg="20" flex-md="25" flex-sm="50" class="item-animate i-q-wrapper" ng-repeat="e in i.items track by e.id ">
        <div ui-draggable="true" ng-include="'item-template.html'"></div>
        <md-menu ng-if="b.canDelete(e.ownerId)">
            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)">
                @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
            </md-button>
            <md-menu-content width="1">
                <md-menu-item>
                    <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)">
                        @GeneralResources.Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </li>
</ul>
<button type="button" class="add visible-xs-block" ng-click="i.openUpload()" ng-show="i.uploadShow">@Html.Svg("~/images/site/icons.svg", "add")</button>
