@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="boxItems clearfix">
    <div class="dropZoneOpacity" id="up_dropZone">
        <div class="dropZone">
            <div class="dropMsg boldFont">@DialogResources.DropToUpload</div>
        </div>
    </div>
    <div class="boxItemsHeader">

        <div class="lFloat boxManage" ng-if="options.manageTab">
            @MainViewResources.ChooseFiles
            <button class="btn1" type="button" ng-click="manageSave()">@MainViewResources.Save</button>
            <button class="btn2" type="button" ng-click="manageCancel()">@MainViewResources.Cancel</button>
        </div>

        <button type="button" ng-click="openUploadPopup()" class="iconTxt btn1 lFloat" ng-show="filteredItems.length > 0 && !options.manageTab">@DialogResources.UploadFiles</button>
        <button type="button" class="iconTxt btn1 lFloat quizBtn" ng-show="!options.manageTab">@QuizResources.CreateQuiz</button>

        <button type="button" ng-class="{ currentState : options.currentView === 'list'}" class="listViewBtn rFloat boxItemsViewToggle" ng-click="changeView('list')" ng-show="filteredItems.length > 0"></button>
        <button type="button" ng-class="{ currentState : options.currentView === 'thumb'}" class="thumbViewBtn rFloat boxItemsViewToggle" ng-click="changeView('thumb')" ng-show="filteredItems.length > 0"></button>
    </div>

    <div class="boxEmpty" ng-if="!filteredItems.length">
        <h2>@MainViewResources.BoxEmpty</h2>
        <br />
        <div>@IndexResources.Syllabus</div>
        <div>@IndexResources.LinksTo</div>

        <div class="emptyBoxDrop">
            <span class="emptyBoxDropText">@DialogResources.DragAndDrop</span>
            <button ng-click="openUploadPopup()" type="button" class="uploadFilesBtn btn1">@DialogResources.ChooseFiles</button>
        </div>
    </div>


    <ol id="BoxItemList" class="boxItemList clearfix" infinite-scroll="addItems()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
        <li ng-repeat="item in filteredItems | limitTo : options.itemsLimit" class="{{options.currentView + 'Item'}}" ng-class="{quizItem : item.type === 'Quiz' , draft : !item.publish }"
            ng-include="getView(item)" ui-draggable="{{!options.manageTab && item.type !== 'Quiz'}}" drag="item" drag-channel="boxItem">
        </li>
    </ol> @*add drag option*@
</div>

<script type="text/ng-template" id="itemThumbView">
    <p class="thumbContent">{{item.description}}</p>
    <a class="boxLink" ng-click="selectItem($event,item)" ng-href="{{item.url}}">
        <img ng-if="item.sponsored" ng-style="{'background-image':'url('item.thumbnail')'}" alt="" width="479" height="188" />
        <img ng-if="!item.sponsored" ng-src="{{item.thumbnail}}" alt="{{item.name}} | {{boxName}} | {{uniName}}" width="148" height="188" />
        <span ng-if="item.isNew" class="tag">@SharedResources.New</span>
        <div class="boxName clamp2">{{item.name}}</div>
        <div class="stars">
            <div class="full" ng-style="{width: options.starsWidth / options.starsLength * item.rate + 'px'}"></div>
        </div>
        <div data-title="@SharedResources.Views" class="views">{{item.numOfViews}}</div>
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="actionBtns">
            <a class="lFloat downloadBtn" target="_blank" data-title="@IndexResources.Download" ng-href="{{item.downloadUrl}}"></a>
            <button ng-if="deleteAllow(item)" type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" ng-click="deleteItem(item)"></button>
            @*<input type="hidden" data-bind="value: linkUrl" />*@ @*needed?????*@
        </div>
    }

    <span ng-if="options.manageTab">
        <input id="{{'item_' + item.id}}" type="checkbox" class="cbManage" ng-checked="item.isCheck">
        <div></div>
        @*empty div used for green outline*@
        <label for="{{'item_' + item.id}}" class="cbLabel" ng-model="item.isCheck"></label>
    </span>
</script>

<script type="text/ng-template" id="itemListView">
    <a class="boxLink" ng-click="selectItem($event,item)" ng-href="{{item.url}}">
        <img class="imgBorder" ng-if="item.sponsored" ng-style="{'background-image':'url('item.thumbnail')'}" alt=" " width=" 236" height="143" />
        <img class="imgBorder" ng-if="!item.sponsored" ng-src="{{item.thumbnail}}" alt="{{item.name}} | {{boxName}} | {{uniName}}" alt="" width="112" height="143" />
        <div class="boxName semiFont elps">{{item.name}}</div>
        <p class="itemContent">{{item.description}}</p>
        <div class="stars">
            <div class="full" ng-style="{width: options.starsWidth / options.starsLength * item.rate + 'px'}"></div>
        </div>
        <div data-title="@SharedResources.Views" class="views">{{item.numOfViews}}</div>
        <span class="tag" ng-if="item.isNew">@SharedResources.New</span>
    </a>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="actionBtns">
        <a class="lFloat downloadBtn" target="_blank" data-title="@IndexResources.Download" ng-href="{{item.downloadUrl}}"></a>
        <button ng-if="deleteAllow(item)" type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" ng-click="deleteItem(item)"></button>
    </div>
    }
</script>

<script type="text/ng-template" id="quizThumbView">
    <a class="boxLink" ng-click="selectItem(item)" ng-href="{{item.url}}">

        <div class="boxName" ng-bind-html="item.name | trustedHtml"></div>

        <span class="tag" ng-if="item.publish && item.isNew">@SharedResources.New</span>
        
        <span class="tag" ng-if="!item.publish">@SharedResources.Draft</span>
        
        <div class="quizOwner" data-quiz-owner="@SharedResources.Owner:">{{item.ownerName}}</div>
        <div class="stars">
            <div class="full" ng-style="{width: options.starsWidth / options.starsLength * item.rate + 'px'}"></div>
        </div>
        <div data-title="@SharedResources.Views" class="views">{{item.numOfViews}}</div>
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="actionBtns" ng-if="deleteAllow(item)">
            <button type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" ng-click="deleteItem(item)"></button>
        </div>
    }
    <span ng-if="options.manageTab">
        <input id="{{'item_' + item.uid}}" type="checkbox" class="cbManage" ng-checked="item.isCheck">
        <div></div>
        @*empty div used for green outline*@
        <label for="{{'item_' + item.uid}}" class="cbLabel" ng-model="item.isCheck"></label>
    </span>   
</script>

<script type="text/ng-template" id="quizListView">
    <a class="boxLink" ng-click="selectItem(item)" ng-href="{{item.url}}">
        <div class="imgBorder"></div>
        <div class="boxName semiFont elps" ng-bind-html="item.name | trustedHtml"></div>

        <p class="itemContent">{{item.description}}</p>
        <div class="quizOwner elps" data-quiz-owner="@SharedResources.Owner:">{{item.ownerName}}</div>
        <div class="stars">
            <div class="full" ng-style="{width: options.starsWidth / options.starsLength * item.rate + 'px'}"></div>
        </div>
        <div data-title="@SharedResources.Views" class="views">{{item.numOfView}}</div>
        <span class="tag" ng-if="item.publish && item.isNew">@SharedResources.New</span>               
        <span class="tag" ng-if="!item.publish">@SharedResources.Draft</span>        
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="actionBtns" ng-if="deleteAllow(item)">
            <button type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" ng-click="deleteItem(item)"></button>
        </div>
    }
    </li>
</script>





<script type="text/html" id="boxItemTooltipTemplate">
    <div class="boxItemTt{{noPreview}}">
        <div class="itemName">{{name}}</div>
        <div class="arrow downArrow"></div>
        <div class="ttTop">
            <div class="moreFilesThumb {{extensionColor}}">{{extension}}</div>
            <div class="detailsWpr">
                <div class="lFloat ttDetail">@SharedResources.Owner</div>
                <a href="{{ownerUrl}}" data-navigation="user" class="ttLink elps">{{ownerName}}</a>

                <div class="lFloat ttDetail">@SharedResources.Uploaded</div>
                <div data-time="{{date}}"></div>
            </div>
            <div class="lFloat ttDetail" data-numdownload="{{numOfDownloads}}">@SharedResources.Downloads</div>
            <div class="rFloat ttDetail" data-numcommment="{{commentsCount}}">@SharedResources.Comments</div>
        </div>
        <div class="ttPreview">
            {{description}}
        </div>
    </div>
</script>

<script type="text/html" id="boxQuizTooltipTemplate">
    <div class="boxItemTt">
        <div class="itemName">{{name}}</div>
        <div class="arrow downArrow"></div>
        <div class="ttTop">
            <div class="moreFilesThumb"></div>
            <div class="detailsWpr">
                <div class="lFloat ttDetail">@SharedResources.Owner</div>
                <a href="{{ownerUrl}}" data-navigation="user" class="ttLink elps">{{ownerName}}</a>

                <div class="lFloat ttDetail">@SharedResources.Created:</div>
                <div data-time="{{date}}"></div>
            </div>
            <div class="lFloat ttDetail" data-numdownload="{{numOfViews}}">@SharedResources.Views</div>
            <div class="rFloat ttDetail" data-numcommment="{{commentsCount}}">@SharedResources.Comments</div>
        </div>
        <div class="ttPreview">
            {{description}}
        </div>
    </div>
</script>