@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums

<div class="boxItems clearfix" id="box_items">
    <div class="dropZoneOpacity" id="up_dropZone">
        <div class="dropZone">
            <div class="dropMsg boldFont">@DialogResources.DropToUpload</div>
        </div>
    </div>
    <div class="boxItemsHeader">

        <!--ko if:manageTab-->
        <div class="lFloat boxManage">
            @MainViewResources.ChooseFiles
            <button class="btn1" type="button" data-click="manageSave">@MainViewResources.Save</button>
            <button class="btn2" type="button" data-click="managedecline">@MainViewResources.Cancel</button>
        </div>
        <!--/ko-->
        <button type="button" data-click="addItem" class="iconTxt btn1 lFloat" data-bind="visible: !manageTab() && !emptyState()">@DialogResources.UploadFiles</button>
        <button type="button" class="iconTxt btn1 lFloat quizBtn" id="addQuiz" data-bind="visible: !manageTab()">Create a quiz</button>

        <!--ko ifnot:emptyState-->
        <button id="listViewBtn" type="button" class="listViewBtn rFloat boxItemsViewToggle" data-template="BoxItemsListViewTempalte"></button>
        <button id="thumbViewBtn" type="button" class="thumbViewBtn rFloat boxItemsViewToggle currentState" data-template="BoxItemsThumbViewTemplate"></button>
        <!--/ko-->
    </div>

    <!--ko if:emptyState-->
    <div class="boxEmpty">
        <h2>@MainViewResources.BoxEmpty</h2>
        <br />
        <div>@IndexResources.Syllabus</div>
        <div>@IndexResources.LinksTo</div>

        <div class="emptyBoxDrop">
            <span class="emptyBoxDropText">@DialogResources.DragAndDrop</span>
            <button data-bind="click: addItem" type="button" class="uploadFilesBtn btn1">@DialogResources.ChooseFiles</button>
        </div>
    </div>
    <!--/ko-->


    <ol id="BoxItemList" class="boxItemList clearfix"
        data-bind="fadeVisible: loadedAnimation,
                   template: { name : viewMode, foreach:items,afterAdd:edrag}"></ol>
</div>

<script type="text/html" id="BoxItemsThumbViewTemplate">
    <li class="boxItem" data-bind="attr: { id: uid }">        
        <a class="boxLink" data-navigation="Item" data-click="itmSlct" data-bind="attr: { href: itemUrl }">
            <!--ko if:sponsored-->
            <img data-bind="style: { backgroundImage: 'url('+thumbnailUrl+')' }" alt="" width="479" height="188" />
            <!--/ko-->
            <!--ko ifnot: sponsored-->
            <img data-bind="attr: { 'data-src': thumbnailUrl }" alt="" width="148" height="188" />
            <!--/ko-->

            <span class="tag" data-bind="visible : isNew">@SharedResources.New</span>
            <div class="boxName clamp2" data-bind="text: name"></div>
            <div class="stars">
                <div class="full" data-bind="style: { width: rate + 'px' }"></div>
            </div>
            <div data-title="@SharedResources.Views" class="views" data-bind="text: numOfViews"></div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="actionBtns">
                <a data-bind="attr: { href: download }" target="_blank" data-title="@IndexResources.Download" class="lFloat downloadBtn"></a>
                @*<!--ko if:deleteAllow-->*@
                <button type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" data-click="removeItem" data-bind="visible: deleteAllow"></button>
                @*<!--/ko-->*@
                <input type="hidden" data-bind="value: linkUrl" />
            </div>
        }
        <!--ko if:$root.manageTab-->
        <input class="cbManage" data-bind="attr: { id: 'c_' + uid }, checked: isCheck" type="checkbox">
        <div></div>
        @*empty div used for green outline*@
        <label class="cbLabel" data-bind="attr: { for: 'c_' + uid }"></label>
        <!--/ko-->
    </li>
</script>


<script type="text/html" id="BoxItemsListViewTempalte">
    <li class="listItem" data-bind="attr: { id: uid }">
        <a class="boxLink" data-navigation="Item" data-click="itmSlct" data-bind="attr: { href: itemUrl }">
            <!--ko if:sponsored-->
            <img class="imgBorder" data-bind="style: { backgroundImage: 'url(' + thumbnailUrl + ')' }" alt="" width="112" height="143" />
            <!--/ko-->
            <!--ko ifnot: sponsored-->
            <img class="imgBorder" data-bind="attr: { 'data-src': thumbnailUrl }" alt="" width="112" height="143" />
            <!--/ko-->

            <div class="boxName semiFont elps" data-bind="text: name"></div>
            

            <p class="itemContent" data-bind="text: description">                
            </p>
            <div class="quizOwner elps" data-quiz-owner="@SharedResources.Owner:">Owner name here</div>
            <div class="stars">
                <div class="full" data-bind="style: { width: rate + 'px' }"></div>
            </div>
            <div data-title="@SharedResources.Views" class="views" data-bind="text: numOfViews"></div>
            <span class="tag" data-bind="visible: isNew">@SharedResources.New</span>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="actionBtns">
                <a data-bind="attr: { href: download }" target="_blank" data-title="@IndexResources.Download" class="lFloat downloadBtn"></a>
                @*<!--ko if:deleteAllow-->*@
                <button type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" data-click="removeItem" data-bind="visible: deleteAllow"></button>
                @*<!--/ko-->*@
                <input type="hidden" data-bind="value: linkUrl" />
            </div>
        }
    </li>
</script>

<script type="text/html" id="QuizItemsThumbViewTemplate">
    <li class="boxItem quizItem" data-bind="attr: { id: uid }, css : { draft : !publish }">
        <a class="boxLink" data-navigation="quiz" data-click="quizSlct" data-bind="attr: { href: itemUrl }">

            <div class="boxName" data-bind="text: name"></div>
            <!--ko if:publish-->
            <span class="tag" data-bind="visible: isNew">@SharedResources.New</span>
            <!--/ko-->
            <!--ko ifnot:publish-->
            <span class="tag">@SharedResources.Draft</span>
            <!--/ko-->            <div class="quizOwner" data-quiz-owner="@SharedResources.Owner:" data-bind="text : ownerName"></div>
            <div class="stars">
                <div class="full" data-bind="style: { width: rate + 'px' }"></div>
            </div>
            <div data-title="@SharedResources.Views" class="views" data-bind="text: numOfViews"></div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="actionBtns">
                <a href="#"  class="lFloat editBtn"></a>
                @*<!--ko if:deleteAllow-->*@
                <button type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" data-click="removeItem" data-bind="visible: deleteAllow"></button>
                @*<!--/ko-->*@
            </div>
        }
        <!--ko if:$root.manageTab-->
        <input class="cbManage" data-bind="attr: { id: 'c_' + uid }, checked: isCheck" type="checkbox">
        <div></div>
        @*empty div used for green outline*@
        <label class="cbLabel" data-bind="attr: { for: 'c_' + uid }"></label>
        <!--/ko-->
    </li>
</script>


<script type="text/html" id="QuizItemsListViewTempalte">
    <li class="listItem quizItem" data-bind="attr: { id: uid }, css : { draft : !publish }">        
        <a class="boxLink" data-navigation="quiz" data-click="quizSlct" data-bind="attr: { href: itemUrl }">
            <div class="imgBorder"></div>
            <div class="boxName semiFont elps" data-bind="text: name"></div>

            <p class="itemContent" data-bind="text: description">
            </p>
            <div class="stars">
                <div class="full" data-bind="style: { width: rate + 'px' }"></div>
            </div>
            <div data-title="@SharedResources.Views" class="views" data-bind="text: numOfViews"></div>
            <!--ko if:publish-->
            <span class="tag" data-bind="visible: isNew">@SharedResources.New</span>
            <!--/ko-->
            <!--ko ifnot:publish-->
            <span class="tag">@SharedResources.Draft</span>
            <!--/ko-->
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="actionBtns">
                <a href="#" class="lFloat editBtn"></a>
                @*<!--ko if:deleteAllow-->*@
                <button type="button" class="lFloat deleteBtn" data-title="@IndexResources.Delete" data-click="removeItem" data-bind="visible: deleteAllow"></button>
                @*<!--/ko-->*@
            </div>
        }
    </li>
</script>


<script type="text/html" id="boxItemTooltipTemplate">
    <div class="boxItemTt{{noPreview}}">
        <div class="arrow downArrow"></div>
        <div class="ttTop">
            <div class="moreFilesThumb {{extensionColor}}">{{extension}}</div>
            <div class="detailsWpr">
                <div class="lFloat ttDetail">@SharedResources.Owner</div>
                <a href="{{ownerUrl}}" data-navigation="user" class="ttLink elps">{{ownerName}}</a>

                <div class="lFloat ttDetail">@SharedResources.Uploaded</div>
                <div data-time="{{date}}"></div>
            </div>
            <div class="lFloat ttDetail" data-numdownload="{{numOfDownloads}}">@SharedResources.Downloads</div>
            <div class="rFloat ttDetail" data-numcommment="{{commentsCount}}">@SharedResources.Comments</div>
        </div>
        <div class="ttPreview">
            {{description}}
        </div>
    </div>
</script>