@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums

<div class="boxItems clearfix" id="box_items">
    <div class="dropZoneOpacity" id="up_dropZone">
        <div class="dropZone">
            <div class="dropMsg boldFont">@DialogResources.DropToUpload</div>
        </div>
    </div>
    <div class="boxItemsHeader">

        <!--ko if:manageTab-->
        <div class="lFloat boxManage">
            @MainViewResources.ChooseFiles
            <button class="btn1" type="button" data-click="manageSave">@MainViewResources.Save</button>
            <button class="btn2" type="button" data-click="managedecline">@MainViewResources.Cancel</button>
        </div>
        <!--/ko-->
        <button type="button" data-click="addItem" class="iconTxt btn1 lFloat" data-bind="visible: !manageTab() && !emptyState()">@DialogResources.UploadFiles</button>
        <button type="button" class="listViewBtn rFloat boxItemsViewToggle" data-template="BoxItemsListViewTempalte"></button>
        <button type="button" class="thumbViewBtn rFloat boxItemsViewToggle currentState" data-template="BoxItemsThumbViewTemplate"></button>
    </div>

    <!--ko if:emptyState-->
    <div class="boxEmpty">
        <h2>@MainViewResources.BoxEmpty</h2>
        <br />
        <div>@IndexResources.Syllabus</div>
        <div>@IndexResources.LinksTo</div>

        <div class="emptyBoxDrop">
            <span class="emptyBoxDropText">@DialogResources.DragAndDrop</span>
            <button data-bind="click: addItem" type="button" class="uploadFilesBtn btn1">@DialogResources.ChooseFiles</button>
        </div>
    </div>
    <!--/ko-->


    <ol id="BoxItemList" class="boxItemList clearfix"
        data-bind="fadeVisible: loadedAnimation,
                   template: { name : viewMode, foreach:items,afterAdd:edrag}"></ol>
</div>

<script type="text/html" id="BoxItemsThumbViewTemplate">
    <li class="boxItem" data-bind="attr: { id: uid }">
        <a class="boxLink" data-navigation="Item" data-click="itmSlct" data-bind="attr: { href: itemUrl, title: name }">
            <!--ko if:sponsored-->
            <img data-bind="style: { backgroundImage: 'url('+thumbnailUrl+')' }" alt="" width="479" height="188" />
            <!--/ko-->
            <!--ko ifnot: sponsored-->
            <img data-bind="attr: { 'data-src': thumbnailUrl }" alt="" width="148" height="188" />
            <!--/ko-->


            <div class="boxName clamp2" data-bind="text: name"></div>
            <div class="stars">
                <div class="full" data-bind="style: { width: rate + 'px' }"></div>
            </div>
            <div title="@SharedResources.Views" class="views" data-bind="text: numOfViews"></div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="actionBtns">
                <a data-bind="attr: { href: download }" target="_blank" title="@IndexResources.Download" class="lFloat downloadBtn"></a>
                @*<!--ko if:deleteAllow-->*@
                <button type="button" class="lFloat deleteBtn" title="@IndexResources.Delete" data-click="removeItem" data-bind="visible: deleteAllow"></button>
                @*<!--/ko-->*@
            </div>
        }
        <!--ko if:$root.manageTab-->
        <input class="cbManage" data-bind="attr: { id: 'c_' + uid }, checked: isCheck" type="checkbox">
        <div></div>
        @*empty div used for green outline*@
        <label class="cbLabel" data-bind="attr: { for: 'c_' + uid }"></label>
        <!--/ko-->
    </li>
</script>


<script type="text/html" id="BoxItemsListViewTempalte">
    <li class="listItem" data-bind="attr: { id: uid }">
        <a class="boxLink" data-navigation="Item" data-click="itmSlct" data-bind="attr: { href: itemUrl, title: name }">
            <!--ko if:sponsored-->
            <img class="imgBorder" data-bind="style: { backgroundImage: 'url(' + thumbnailUrl + ')' }" alt="" width="112" height="143" />
            <!--/ko-->
            <!--ko ifnot: sponsored-->
            <img class="imgBorder" data-bind="attr: { 'data-src': thumbnailUrl }" alt="" width="112" height="143" />
            <!--/ko-->

            <div class="boxName semiFont elps" data-bind="text: name"></div>
            <span class="tag">@SharedResources.New</span>

            <p class="itemContent">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar rhoncus risus, vel ornare lacus sagittis sit amet. Duis vel sem magna. Proin pulvinar velit eleifend ligula ultrices vestibulum. Nunc posuere dolor eu mauris feugiat dignissim.
            </p>
            <div class="stars">
                <div class="full" data-bind="style: { width: rate + 'px' }"></div>
            </div>
            <div title="@SharedResources.Views" class="views" data-bind="text: numOfViews"></div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="actionBtns">
                <a data-bind="attr: { href: download }" target="_blank" title="@IndexResources.Download" class="lFloat downloadBtn"></a>
                @*<!--ko if:deleteAllow-->*@
                <button type="button" class="lFloat deleteBtn" title="@IndexResources.Delete" data-click="removeItem" data-bind="visible: deleteAllow"></button>
                @*<!--/ko-->*@
            </div>
        }
    </li>

</script>