@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Zbox.Infrastructure.Enums

<!--ko if:follow-->
<div class="boxFollow">
    @MainViewResources.FollowBox
    <button data-bind="click:followbox">@MainViewResources.Follow</button>
    <button data-bind="click:decline">@MainViewResources.Nothanks</button>
</div>
<!--/ko-->
<div class="boxBack">
    <a data-bind="attr: { href: parent().url}" data-navigation="Dashboard" class="back">
        @ItemsResources.Backto<span data-bind="text: parent().name"></span>
    </a>
</div>
<div class="leftPanel lFloat">
    <div id="box_Name" class="title elps" data-bind="text: name, click: rename, attr: { title: name, 'data-name': name }"></div>

    <span class="boxDesc bar" id="box_Desc" data-bind="text:boxDesc"></span>

    <div class="viewsAction">
        @*<div class="lFloat views"><span>82</span>&nbsp;@ItemsResources.Views</div>*@
        <button class="lFloat inviteFriends" title="@MainViewResources.ShareFriends" data-bind="click: invite">@MainViewResources.InviteFriends</button>
    </div>

    <ul class="friends bar">
        <!-- ko foreach:members-->
        <li>
            <img class="friendImg calloutTrgr" alt="" data-bind="attr: { src: image, 'data-img': image, 'data-name': name, 'data-uid': id }" width="32" height="32" />
            
        </li>
        <!-- /ko -->
        <!--ko if:members().length===0-->
        <li class="noFriends">@MainViewResources.NooneHere&nbsp;<button data-bind="click: invite">@MainViewResources.Invite</button>@MainViewResources.Someone</li>
        <!--/ko-->
        <!--ko if:membersC()>6-->
        <li class="showAll rFloat" title="@MainViewResources.ShowAll" data-bind="click: viewAll"><span data-bind="text: '+' + subMemerbs()"></span></li>
        <!--/ko-->
    </ul>

    <div class="actions">
        <button class="itemDownload bar" type="button" id="box_Download" data-link="@Url.Action("DownloadAll", "File")">@MainViewResources.DownloadFiles</button>
        <button id="box_FS" class="fbAction" type="button">@ItemsResources.ShareFacebook</button>
        <button class="unfollow bar" type="button" data-bind="text: removeB, click: removeBA">@MainViewResources.Unfollow</button>
        <button class="emailAction" id="box_msg" type="button">@ItemsResources.ShareEmail</button>

        <button class="notifies bar" type="button" data-bind="click: notification">@MainViewResources.Notifications</button>
        <button class="linkAction copylk" type="button">@ItemsResources.CopyLink</button>
        <!--ko if:userType()===3-->
        <button class="privacy bar" data-bind="click: cPrivacy">@MainViewResources.Privacy</button>
        <!-- /ko -->
    </div>
    @*<div class="friendsTitle">@MainViewResources.Friends</div>*@
    
    

    <!-- ko stopBinding:true-->
    <div class="activitySection" id="box_Comment">
        <h4 class="sectiontitle">@MainViewResources.Discussion</h4>
        @{Html.RenderPartial("~/Views/Comment/_Comments.cshtml");}
    </div>
    <!-- /ko -->
</div>

<div class="boxRight">

    <form class="boxSearch">
        <input id="box_SearchQuery" type="search"
            name="query" class="searchInput" placeholder="Search" />
        <button class="flipH" type="submit"></button>
    </form>

    <div class="box-content">
        <aside class="boxAside">
            <ul class="boxFilters" id="box_filters">
                <li class="current" data-bind="click:$root.switchTab, css:{current: $root.currentTab()==null}">@MainViewResources.All</li>
                <!-- ko foreach :{data: tabs ,afterAdd: myDrag} -->
                <li data-bind="click: $root.switchTab, css:{current: isSelected}">
                    <span class="tabName elps" data-bind="text:name, attr:{title: name}"></span>
                    <div class="editTab rFloat" data-bind="visible: isAction, click: $root.tabMenu">

                        <ul class="boxMenu">
                            <li>
                                <button data-bind="click:$root.tabRename">@MainViewResources.Rename</button>
                            </li>
                            <li>
                                <button data-bind="click:$root.tabManage">@MainViewResources.Manage</button>
                            </li>
                            <li>
                                <button data-bind="click:$root.tabDelete">@MainViewResources.Delete</button>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- /ko -->
                <li class="createTab" data-bind="click:addTab">@MainViewResources.CreateTab</li>
            </ul>
            <div class="extra">placeholder</div>
        </aside>

        <div>
            <!-- ko stopBinding:true-->
            @{Html.RenderPartial("~/Views/Box/_Items2.cshtml");}
            <!-- /ko -->
        </div>
    </div>
</div>

@{
    Html.RenderPartial("~/Views/Box/_CreateTab.cshtml", new Zbang.Cloudents.Mvc4WebRole.Models.Tabs.CreateBoxItemTab());
    Html.RenderPartial("~/Views/Box/_SettingPopUps.cshtml", Zbang.Zbox.Infrastructure.Enums.NotificationSettings.Off);
    Html.RenderPartial("~/Views/Box/_Members.cshtml");
}