@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources

<div class="boxItems" ng-controller="BoxQuizzesCtrl">
    
    <div class="boxItemsHeader">
        <button type="button" ng-class="{ currentState : qOptions.currentView === 'list'}" class="listViewBtn rFloat" ng-click="changeView('list')" ng-show="quizzes.length > 0">
            <svg><use xlink:href="~/Images/Defs.svg#listView" /></svg>
        </button>
        <button type="button" ng-class="{ currentState : qOptions.currentView === 'thumb'}" class="thumbViewBtn rFloat" ng-click="changeView('thumb')" ng-show="quizzes.length > 0">
            <svg><use xlink:href="~/Images/Defs.svg#thumbView" /></svg>
        </button>
    </div>

    <div class="quizEmptyWpr" ng-if="!quizzes.length && !options.loader">
        <p>@MainViewResources.QuizEmpty</p>
        <div class="quizEmpty">
            <svg><use xlink:href="~/Images/Defs.svg#quiz1" /></svg>
        </div>
    </div>

    <button type="button" class="btn1 lFloat quizBtn" ng-disabled="$root.options.quizOpen" ng-show="!options.managetab" ng-click="addQuiz()">@QuizResources.CreateQuiz</button>

    <ol class="boxItemList clearfix" infinite-scroll="addItems()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
        <li ng-repeat="item in quizzes" class="quizItem {{qOptions.currentView + 'Item'}}"
            ng-class="{draft:!item.publish}"
            ng-include="getView(item)"
            popover-template="boxQuizTooltip"
            popover-trigger="{{ !item.publish ? 'none' : 'mouseenter'}}" popover-placement="right">
        </li>
    </ol>
</div>



<script type="text/ng-template" id="quizThumbView">
    <a class="boxLink" ng-click="selectQuiz($event,item)" ng-href="{{item.url}}">
        <div class="boxName" ng-bind-html="item.name | trustedHtml"></div>
        <span class="tag" ng-if="item.publish && item.isNew">@SharedResources.New</span>
        <span class="tag" ng-if="!item.publish">@SharedResources.Draft</span>
        @*<div class="quizOwner" data-quiz-owner="@SharedResources.Owner:">{{item.ownerName}}</div>*@
        <div class="stars">
            <div class="full" ng-style="{width: qOptions.starsWidth / qOptions.starsLength * item.rate + 'px'}"></div>
        </div>
        <div tooltip="@SharedResources.Views" class="views">{{item.numOfViews}}</div>
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="actionBtns" ng-if="deleteAllow(item)">
            <button type="button" class="lFloat deleteBtn" tooltip="@IndexResources.Delete" ng-click="deleteItem(item)"></button>
        </div>
    }
</script>

<script type="text/ng-template" id="quizListView">
    <a class="boxLink" ng-click="selectQuiz($event,item)" ng-href="{{item.url}}">
        <div class="imgBorder"></div>
        <div class="boxName semiFont elps" ng-bind-html="item.name | trustedHtml"></div>

        <p class="itemContent">{{item.description}}</p>
        <div class="quizOwner elps" data-quiz-owner="@SharedResources.Owner:">{{item.ownerName}}</div>
        <div class="stars">
            <div class="full" ng-style="{width: qOptions.starsWidth / qOptions.starsLength * item.rate + 'px'}"></div>
        </div>
        <div tooltip="@SharedResources.Views" class="views">{{item.numOfView}}</div>
        <span class="tag" ng-if="item.publish && item.isNew">@SharedResources.New</span>
        <span class="tag" ng-if="!item.publish">@SharedResources.Draft</span>
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="actionBtns" ng-if="deleteAllow(item)">
            <button type="button" class="lFloat deleteBtn" tooltip="@IndexResources.Delete" ng-click="deleteItem(item)"></button>
        </div>
    }
    </li>
</script>

<script type="text/ng-template" id="boxQuizTooltip">
    <div bo-class="{noPreview : !item.description}" class="boxItemTt" bindonce>
        <div class="itemName" bo-text="item.name"></div>
        <div class="ttTop">
            <div class="moreFilesThumb quiz"></div>
            <div class="detailsWpr">
                <div class="lFloat ttDetail">@SharedResources.Owner</div>
                <a bo-href="item.userUrl" class="ttLink elps" bo-text="item.owner"></a>
                <div class="lFloat ttDetail">@SharedResources.Created:</div>
                <div>{{item.date | displayTimeFilter}}</div>
            </div>
            <div class="lFloat ttDetail" data-numdownload="{{item.numOfViews}}">@SharedResources.Views</div>
            <div class="rFloat ttDetail" data-numcommment="{{item.commentsCount}}">@SharedResources.Comments</div>
        </div>
        <div class="ttPreview" bo-text="item.description"></div>

    </div>
</script>