@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums
<div id="box_notification" class="boxNotification" data-title="@DialogResources.Notification">
    <label>@DialogResources.ChooseNotification</label>
    <select class="inputText">
        <option value="@NotificationSettings.Off.GetEnumDescription()">@NotificationSettings.Off.GetEnumDescription()</option>
        <option value="@NotificationSettings.OnEveryChange.GetEnumDescription()">@NotificationSettings.OnEveryChange.GetEnumDescription()</option>
        <option value="@NotificationSettings.OnceADay.GetEnumDescription()">@NotificationSettings.OnceADay.GetEnumDescription()</option>
        <option value="@NotificationSettings.OnceAWeek.GetEnumDescription()">@NotificationSettings.OnceAWeek.GetEnumDescription()</option>
    </select>
</div>
 <!--ko if:userType()===3-->
<div id="box_privacy" class="boxPrivacy" data-title="@DialogResources.PrivacySettings">
    <label>@DialogResources.ChangePrivacy</label>
    <select class="inputText">
        <option value="@BoxPrivacySettings.AnyoneWithUrl.GetEnumDescription()">@BoxPrivacySettings.AnyoneWithUrl.GetEnumDescription()</option>
        <option selected value="@BoxPrivacySettings.MembersOnly.GetEnumDescription()">@BoxPrivacySettings.MembersOnly.GetEnumDescription()</option>
    </select>
</div>
<!-- /ko -->
<input type="button" id="boxSettingsSave" class="btn1 rFloat" value="@SharedResources.Save">
<input type="button" id="boxSettingsCancel" class="btn2 rFloat" value="@SharedResources.Cancel">
