@using Zbang.Zbox.Infrastructure.Enums
<form novalidate ng-submit="b.updateBox(updateBoxForm)" name="updateBoxForm">
    <md-input-container>
        <label>Name:</label>
        <input type="text" autocomplete="off" name="name" ng-model="b.settings.name" required md-maxlength="250" />
    </md-input-container>

    <div layout="row" ng-if="b.isAcademic">
        <md-input-container flex="100" flex-gt-md="33" class="padding">
            <label>Number:</label>
            <input type="text" autocomplete="off" name="number" ng-model="b.settings.courseId" />
        </md-input-container>

        <md-input-container flex="100" flex-gt-md="66">
            <label>Lecturer</label>
            <input type="text" autocomplete="off" name="lecturer" ng-model="b.settings.professorName" />
        </md-input-container>
    </div>
    <div layout="row" ng-if="!b.isAcademic && b.owner">
        <md-input-container flex="100">
            <label>Privacy settings:</label>
            <md-select name="notification" ng-model="b.settings.privacy" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                <md-option value="@BoxPrivacySettings.AnyoneWithUrl.GetStringValueLowerCase()">@BoxPrivacySettings.AnyoneWithUrl.GetEnumDescription()</md-option>
                <md-option value="@BoxPrivacySettings.MembersOnly.GetStringValueLowerCase()">@BoxPrivacySettings.MembersOnly.GetEnumDescription()</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="100" flex-gt-md="33" class="padding">
            <label>Notify Me:</label>
            <md-select name="notification" ng-model="b.settings.notificationSettings" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                <md-option value="@NotificationSettings.Off.GetStringValueLowerCase()">@NotificationSettings.Off.GetEnumDescription()</md-option>
                <md-option value="@NotificationSettings.OnEveryChange.GetStringValueLowerCase()">@NotificationSettings.OnEveryChange.GetEnumDescription()</md-option>
                <md-option value="@NotificationSettings.OnceADay.GetStringValueLowerCase()">@NotificationSettings.OnceADay.GetEnumDescription()</md-option>
                <md-option value="@NotificationSettings.OnceAWeek.GetStringValueLowerCase()">@NotificationSettings.OnceAWeek.GetEnumDescription()</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="100" flex-gt-md="33">
            <label>Status:</label>
            <md-select name="follow" ng-model="b.settings.needFollow" md-container-class="dd-list">
                <md-option ng-value="false">Follow</md-option>
                <md-option ng-value="true">UnFollow</md-option>
            </md-select>
        </md-input-container>
        <div layout="row" layout-align="end center" layout-align-gt-md="end center" flex="100" flex-gt-md="33">
            <button type="button" class="btn btn-default" ng-click="b.settingsOpen = false">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</form>


