@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@using Zbang.Zbox.Infrastructure.Enums
<form novalidate ng-submit="b.updateBox(updateBoxForm)" name="updateBoxForm" class="text-capitalize">
    <md-input-container>
        <label>@BoxResources.Name</label>
        <input type="text" autocomplete="off" name="name" ng-model="b.settings.name" required />
        <div ng-messages="updateBoxForm.name.$error" ng-show="updateBoxForm.name.$dirty">
            <div ng-message="required">@GeneralResources.RequiredField</div>
        </div>
    </md-input-container>

    <div layout="row" layout-wrap ng-if="b.isAcademic">
        <md-input-container flex="100" flex-gt-md="33" class="padding">
            <label>@BoxResources.Number</label>
            <input type="text" autocomplete="off" name="number" ng-model="b.settings.courseId" />
        </md-input-container>

        <md-input-container flex="100" flex-gt-md="66">
            <label>@BoxResources.Lecturer</label>
            <input type="text" autocomplete="off" name="lecturer" ng-model="b.settings.professorName" />
        </md-input-container>
    </div>
    <div layout="row" ng-if="!b.isAcademic && b.owner">
        <md-input-container flex="100">
            <label>@BoxResources.Privacy</label>
            <md-select name="notification" ng-model="b.settings.privacy" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                <md-option value="@BoxPrivacySetting.AnyoneWithUrl.GetStringValueLowerCase()">@BoxPrivacySetting.AnyoneWithUrl.GetEnumDescription()</md-option>
                <md-option value="@BoxPrivacySetting.MembersOnly.GetStringValueLowerCase()">@BoxPrivacySetting.MembersOnly.GetEnumDescription()</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-md="33" class="padding">
            <label>@BoxResources.Notify</label>
            <md-select name="notification" ng-model="b.settings.notificationSettings" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                <md-option value="@NotificationSettings.Off.GetStringValueLowerCase()">@NotificationSettings.Off.GetEnumDescription()</md-option>
                @*<md-option value="@NotificationSettings.OnEveryChange.GetStringValueLowerCase()">@NotificationSettings.OnEveryChange.GetEnumDescription()</md-option>*@
                <md-option value="@NotificationSettings.OnceADay.GetStringValueLowerCase()">@NotificationSettings.OnceADay.GetEnumDescription()</md-option>
                <md-option value="@NotificationSettings.OnceAWeek.GetStringValueLowerCase()">@NotificationSettings.OnceAWeek.GetEnumDescription()</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="100" flex-gt-md="33">
            <label>@BoxResources.Status</label>
            <md-select name="follow" ng-model="b.settings.needFollow" md-container-class="dd-list">
                <md-option ng-value="false">@BoxResources.Follow</md-option>
                <md-option ng-value="true">@BoxResources.Unfollow</md-option>
            </md-select>
        </md-input-container>
        <md-input-container layout="row" layout-align="end center" flex="100" flex-gt-md="33">
            <button type="button" scroll-to-top class="cancel-btn" ng-click="b.settingsOpen = false" ga-track-event="['box-settings', 'cancel']">@GeneralResources.Cancel</button>
            <button type="submit" class="action-btn space-left" ng-disabled="b.settings.submitDisabled || !updateBoxForm.$valid" ga-track-event="['box-settings', 'save']">@GeneralResources.SaveChanges</button>
        </md-input-container>
    </div>
</form>


