@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<div class="modal-header">
    <h3 class="modal-title"><span>@DialogResources.UploadFiles</span></h3>
</div>
<div id="uploadModal" class="modal-body" ng-controller="UploadCtrl">
    <div class="step3">
        <div class="dragDropBox" id="fileZone">
            <div class="dragDropTxtE">@DialogResources.DragAndDrop</div>
            <button pl-upload  box-id="{{boxId}}" tab-id="{{tabId}}" question-id="{{questionId}}" new-question="{{newQuestion}}" destroy drop-area="fileZone" class="btn1" analytics-on="click" analytics-category="Box upload" analytics-event="Choose Files">@DialogResources.ChooseFile</button>            
        </div>
    </div>
    <div class="chooseFrom">
        <span class="seprtr">@SharedResources.Or</span>
        <ul class="choices">
            <li class="source">
                <button type="button" class="btn link" ng-click="saveLink()">@DialogResources.SiteLink</button>
            </li>
            <li class="source">
                <button type="button" class="btn dropBox" ng-click="saveDropbox()" ng-disabled="!sources.dropboxLoaded">Dropbox</button>
            </li>
            <li class="source">
                <button type="button" class="btn drive" ng-click="saveGoogleDrive()" ng-disabled="!sources.googleDriveLoaded">Google Drive</button>
            </li>
            <li class="source">
                <button type="button" class="btn sky" ng-click="saveSkyDrive()">Sky Drive</button>
            </li>
        </ul>
    </div>
    <button class="closeModal" ng-click="cancel()" >
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </button>
</div>