@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<div class="modal-header">
    <h3 class="modal-title"><span>@DialogResources.UploadFiles</span></h3>
</div>
<div id="uploadModal" class="modal-body" ng-init="$root.$broadcast('uploadBox')">
    <div class="step3">
        <div class="dragDropBox">
            <div class="dragDropTxtE">@DialogResources.DragAndDrop</div>
            <a href="#" id="AddFiles" class="btn1">@DialogResources.ChooseFile</a>
            @*<input id="AddFiles" class="btn1" type="file" multiple value="@DialogResources.ChooseFile" />*@
        </div>
    </div>
    <div class="chooseFrom">
        <span class="seprtr">@SharedResources.Or</span>
        <ul class="choices">
            <li class="source">
                <button type="button" class="btn link" ng-click="saveLink()">@DialogResources.SiteLink</button>
            </li>
            <li class="source">
                <button type="button" class="btn dropBox" ng-click="saveDropbox()" ng-disabled="!sources.dropboxLoaded">Dropbox</button>
            </li>
            <li class="source">
                <button type="button" class="btn drive" ng-click="saveGoogleDrive()" ng-disabled="!sources.googleDriveLoaded">Google Drive</button>
            </li>
            <li class="source">
                <button type="button" class="btn sky" ng-click="saveSkyDrive()">Sky Drive</button>
            </li>
        </ul>
    </div>
    <button class="closeDialog" ng-click="cancel()"></button>
</div>