@model Zbang.Cloudents.Mvc4WebRole.Models.AddLink
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div id="AddLink" class="addLink" data-diag="link">
    <div class="popupWrppr uploadUrl">
        <header class="popupHeader lFloat">@DialogResources.AddLink</header>

        @using (Html.BeginForm("Link","Upload",FormMethod.Post,new { @class = "addUrlHolder", id = "fAddLink" })) 
        {
                        @Html.ValidationSummary()   
    
           // @Html.AntiForgeryToken()
            @Html.TextBoxFor(m => m.Url, new { placeholder = DialogResources.AddUrl, @class = "inputText addUrl" })
            <button id="submitUrl" type="submit" class="btn1">@DialogResources.Add</button>

        }
        <button type="button" data-closeDiag="close" class="closeDialog"></button>
    </div>
    <div class="modal2"></div>
</div>
