@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Flashcard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@*<div class="ad">
    <adsense ad-client="ca-pub-1215688692145777" ad-slot="4261002151" inline-style="display:block;" ad-format="auto"></adsense>
</div>*@
@*<div class="ad" data-ng-dfp-ad-container>
        <div data-ng-dfp-ad="div-gpt-ad-1461243129238-3" data-ng-dfp-ad-hide-when-empty></div>
    </div>*@
<div uib-collapse="!b.inviteOpen" compile-html="b.html" expanding="b.inviteExpand()" class="collapsible indent-content"></div>
<div class="page-head indent-content">
    <div layout="row" layout-align="start start" ng-hide="b.settingsOpen" class="page-title box-title" ng-class="{'need-follow' : b.needFollow}">
        <h1 class="multi-line-ellipsis limit-two">{{b.data.name}}</h1>
        <button ng-if="b.needFollow" type="button" ng-click="b.follow()" class="angular-animate notificationButton text-capitalize" ga-track-event="['box', 'follow']">@BoxResources.JoinClass</button>
    </div>
</div>
<div uib-collapse="!b.settingsOpen" compile-html="b.settingsHtml" class="collapsible settings indent-content"></div>
<div>
    <md-tabs class="box-nav-bar page-tabs indent-content" @*md-enable-disconnect="true"*@>
        <md-tab ui-sref="box.feed" md-active="b.isActiveState('box.feed')">
            <md-tab-label><span>@BoxResources.Feed</span></md-tab-label>
        </md-tab>
        <md-tab ui-sref="box.items" md-active="b.isActiveState('box.items')">
            <md-tab-label><span>@IndexResources.Items</span></md-tab-label>
        </md-tab>
        <md-tab ui-sref="box.flashcards" md-active="b.isActiveState('box.flashcards')">
            <md-tab-label><span class="flashcard-title">@FlashcardResources.CardsLabel</span></md-tab-label>
        </md-tab>
        <md-tab ui-sref="box.quiz" md-active="b.isActiveState('box.quiz')">
            <md-tab-label><span>@GeneralResources.Quizzes</span></md-tab-label>
        </md-tab>
        <md-tab ui-sref="box.members" md-active="b.isActiveState('box.members')">
            <md-tab-label><span>@GeneralResources.Members</span></md-tab-label>
        </md-tab>
    </md-tabs>
</div>
<div ui-view></div>
@*<script defer type="text/ng-template" id="shareBoxTemplate.html">
        <div class="share-section">
            <div class="share-options">
                <button type="button" class="share-btn share-fb" aria-label="share" ga-track-event="['box-feed', 'share']">
                    <md-icon class="fb" md-svg-icon="b:facebook-colored"></md-icon>
                </button>
                <a class="share-btn share-whatsapp" aria-label="share" target="_blank" href="" ga-track-event="['box-feed', 'share']">
                    <md-icon class="whatsapp" md-svg-icon="b:whatsapp"></md-icon>
                </a>
            </div>
        </div>
    </script>*@
