@{
    //ViewBag.headerTitle = @IndexResources.Box;
    ViewBag.data = ViewBag.data ?? null;
}
@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
<div id="box" class="page box" data-data="@ViewBag.data">
    @{
        Html.RenderPartial("_Invite", new Zbang.Cloudents.Mvc4WebRole.Models.Share.Invite());
        Html.RenderPartial("_Settings");
    }

    <div class="boxTop">
        <div class="boxDetails">
            <div id="box_Name" data-bind="text: name" class="courseName boldFont elps"></div>
            <span data-bind="text:boxDesc"></span>
            @*<span class="box-prof" data-bind="text:proffesor"></span><span class="box-seperator">&nbsp;|&nbsp;</span><span class="box-code" data-bind="text:courseId"></span>*@

            <!--ko ifnot:follow-->
            <button type="button" data-modelNav="settings" class="boxSprite boxSettingsBtn"></button>
            <!--/ko-->

        </div>
        <div class="friends">
            <ul class="friendsList">
                <li><button class="boxSprite addFriend" data-bind="click: invite" data-modelNav="boxInvite"></button></li>
                <li class="inviteBtn"><button type="button" data-modelNav="boxInvite" class="boldFont" data-bind="click: invite">@MobileBoxResources.InviteFriends</button></li>
                <!-- ko foreach:members-->
                <li class="lFloat friendItem"><img data-bind="attr: { src: image }" alt="" width="32" height="32"></li>
                <!-- /ko -->
                @*<li><a class="moreFriends" href="#friendsPage" data-bind="text: '+' + subMemerbs()"></a></li>*@
            </ul>
        </div>
    </div>
    
    <!--ko if:follow-->
    <button data-bind="click: followbox" class="followBtn boldFont" type="button">@MobileBoxResources.FollowCourse</button>
    <!--/ko-->

    <div class="boxContent">
        <!-- ko stopBinding:true-->
        <div id="box_items" class="boxItems">
            @{Html.RenderPartial("_Items2");}
        </div>
        <!-- /ko -->
        <!-- ko stopBinding:true-->
        <div id="box_Comment" class="boxComments">
            @{Html.RenderAction("Comments", "Comment");}
        </div>
        <!-- /ko -->

        <button type="button" data-elem="box_items" class="itemsBtn tabToggle">@IndexResources.Items&nbsp;<span class="regFont">(<span id="box_items_count"></span>)</span></button>
        <button type="button" data-elem="box_Comment" class="commentsBtn tabToggle">@IndexResources.Comments&nbsp;<span class="regFont">(<span id="box_comment_count"></span>)</span></button>
    </div>
</div>
