@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div id="box" class="page boxPage" ng-controller="BoxCtrl" ng-init="init('@Url.Action("Index", "Dashboard")', '@SharedResources.Dashboard')">
    <header class="siteHeader">
        <a class="siteLogo lFloat" href="@Url.Action("Index", "Dashboard")">
            @Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })
        </a>

        <div class="headerRightWpr">
            <a class="backWpr lFloat" ng-href="{{$root.back.url}}">
                @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back" })
            </a>
            @{Html.RenderPartial("_BarSearch");}
            <button class="inviteButton" type="button" title="@SharedResources.Invite" ng-click="inviteFriends()">
                @Html.Svg("~/Images/Defs.svg", "inviteUser", new { @class = "svg-inviteUser" })
            </button>
            <section class="shareBtn">
                <input class="checkbox" type="checkbox" id="boxShare" ng-model="popup.share" />
                <label for="boxShare" tooltip="@SharedResources.Share" class="shareBtnTxt iconTop">
                    @Html.Svg("~/Images/Defs.svg", "share", new { @class = "svg-share" })
                </label>
                <div class="dropDown shareDD">
                    <label class="closeItem rFloat" for="boxShare"></label>
                    <div class="arrow shareArrow"></div>
                    <h4 class="semiFont">{{strings.share}}</h4>
                    <div class="shareTxt">{{strings.invite}}</div>
                    <ul class="shareList">
                        <li class="shareItem"><button type="button" class="fbShare" ng-click="shareFacebook()">@SharedResources.Facebook</button></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="shareItem"><button type="button" class="emailShare" ng-click="shareEmail()">@SharedResources.Email</button></li>
                        }
                    </ul>
                    <div class="shareTxt">@SharedResources.OrCopyLink</div>
                    <input type="text" class="linkShare" ng-model="info.url" readonly="readonly" select-on-click />
                </div>
            </section>
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderPartial("_UserDetail3");
                    }
                </ul>
            </nav>            
            @{Html.RenderPartial("_BarActions");}
        </div>
    </header>
    <div class="leftPanel lFloat">
        <div class="boxTop">
            <img class="imgBorder" ng-src="{{info.image | defaultImage:'box'}}" alt="" width="86" height="86" />
            <h1 class="boxName" id="box_Name" tooltip-placement="top" tooltip-append-to-body="true" tooltip="{{info.name}}">{{info.name}}</h1>
            <div class="boxDetail elps" ng-if="info.boxType === 'academic'">{{ info.courseId}}</div>
            <div class="boxDetail elps" ng-if="info.boxType === 'box'" user-tooltip-popup="{{info.ownerId}}">{{info.ownerName}}</div>
            <span class="boxDetail elps">{{ info.boxType === 'academic' ? info.professor : info.date | date:'d MMMM yyyy' }}</span>
            <span class="following" ng-if="isUserFollowing()">
                @Html.Svg("~/Images/Defs.svg", "tick", new { @class = "svg-tick" })&nbsp;<span>@SharedResources.Following</span>
            </span>
            <button class="followBtn" type="button" ng-if="!(isUserFollowing())" ng-click="followBox()" analytics-on="click" analytics-event="Follow box" analytics-category="Box" analytics-label="User followed a box">
                @Html.Svg("~/Images/Defs.svg", "plus", new { @class = "svg-plus" })&nbsp;<span>@SharedResources.Follow</span>
            </button>

            <button type="button" class="boxRename" tooltip-append-to-body="true" tooltip="@IndexResources.BoxSettings" ng-click="openBoxSettings('settings')" analytics-on="click" analytics-event="Box settings" analytics-category="Box" analytics-label="User clicked on box settings">
                @Html.Svg("~/Images/Defs.svg", "cloudentsSettings", new { @class = "svg-settings" })
            </button>
        </div>

        <ul class="newActivity">
            @*<li class="boxTab lFloat" ng-class="{current: options.activeTab === states.feed}" ng-click="setTab(states.feed)" analytics-on="click" analytics-event="Feed" analytics-category="Box" analytics-label="Top bar">@SharedResources.Feed<div ng-if="params.newFeed > 0" class="notify">{{params.newFeed}}</div></li>*@
            <li class="feedTab" ng-class="{current: options.activeTab === states.feed}" ng-click="setTab(states.feed)" analytics-on="click" analytics-event="Feed" analytics-category="Box" analytics-label="Side bar">
                <span class="rFloat newPosts">{{info.feedLength}}</span>
                <div class="elps">@SharedResources.Feed</div>
                <div ng-if="params.newFeed > 0" class="notify">{{params.newFeed}}</div>
            </li>
            <li class="itemTab" ng-class="{current: options.activeTab === states.items}" ng-click="setTab('items')" analytics-on="click" analytics-event="Items" analytics-category="Box" analytics-label="Side bar">
                <span class="rFloat newPosts">{{info.itemsLength}}</span>
                <div class="elps">@SharedResources.Items</div>
                <div ng-if="params.newItems > 0" class="notify">{{params.newItems}}</div>
            </li>
            <li class="quizTab" ng-class="{current: options.activeTab === states.quizzes}" ng-click="setTab('quizzes')" analytics-on="click" analytics-event="Quizzes" analytics-category="Box" analytics-label="Side bar">
                <span class="rFloat newPosts">{{info.quizLength}}</span>
                <div class=" elps">@SharedResources.Quizzes</div>
                <div ng-if="params.newQuizzes > 0" class="notify">{{params.newQuizzes}}</div>
            </li>
            <li ng-class="{current: options.activeTab === states.members}" ng-click="setTab('members')" analytics-on="click" analytics-event="Members" analytics-category="Box" analytics-label="Side bar">
                <span class="rFloat newPosts">{{info.membersLength}}</span>
                <div class="sectionLabel elps">@SharedResources.Members</div>
            </li>
        </ul>

        <div class="boxFolders" ng-if="options.activeTab === 'items'" ng-controller="BoxTabsCtrl">
            <div class="sectionHeader">@IndexResources.Folders</div>
            <div m-custom-scrollbar bottom="0">
                <ul class="boxFolderList">
                    <li class="current boxFolder" ng-class="{current : !params.currentTab }">
                        <span class="boxFolderName elps" ng-click="selectTab()">@SharedResources.All</span>
                        <span class="tabBorder"></span>
                    </li>
                    <li ng-repeat="tab in params.tabs track by tab.id" class="boxFolder" ng-class="{ current: tab.id === params.currentTab.id}" dropdown ui-on-drop="addDraggedItem($data,tab.id)" drop-channel="boxItem">

                        <button type="button" tooltip="@SharedResources.Menu" class="editFolder rFloat" dropdown-toggle ng-show="tab.id === params.currentTab.id && info.userType === 'owner' || info.userType === 'subscribe'"></button>
                        <span class="boxFolderName elps" ng-click="selectTab(tab)">{{tab.name}}</span>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <button type="button" ng-click="renameTab(tab)">@SharedResources.Rename</button>
                            </li>
                            <li>
                                <button type="button" ng-click="manageTab(tab)">@MainViewResources.Manage</button>
                            </li>
                            <li>
                                <button type="button" ng-click="deleteTab(tab)">@MainViewResources.Delete</button>
                            </li>
                        </ul>
                    </li>

                    <li class="createFolder">
                        <span class="createFolderText elps" ng-click="createTab()">@MainViewResources.CreateTab</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        @*<div class="boxTopBar topBar barShadow">
                <a class="backWpr lFloat" ng-href="{{$root.back.url}}">
                    @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back" })
                </a>

                <ul class="boxTabs">
                    <li class="boxTab lFloat" ng-class="{current: options.activeTab === states.feed}" ng-click="setTab(states.feed)" analytics-on="click" analytics-event="Feed" analytics-category="Box" analytics-label="Top bar">@SharedResources.Feed<div ng-if="params.newFeed > 0" class="notify">{{params.newFeed}}</div></li>
                    <li class="boxTab lFloat" ng-class="{current: options.activeTab === states.items}" ng-click="setTab(states.items)" analytics-on="click" analytics-event="Items" analytics-category="Box" analytics-label="Top bar">@SharedResources.Items<div ng-if="params.newItems > 0" class="notify">{{params.newItems}}</div></li>
                    <li class="boxTab lFloat" ng-class="{current: options.activeTab === states.quizzes}" ng-click="setTab(states.quizzes)" analytics-on="click" analytics-event="Quizzes" analytics-category="Box" analytics-label="Top bar">@SharedResources.Quizzes<div ng-if="params.newQuizzes > 0" class="notify">{{params.newQuizzes}}</div></li>
                    <li class="boxTab lFloat" ng-class="{current: options.activeTab === states.members}" ng-click="setTab(states.members)" analytics-on="click" analytics-event="Members" analytics-category="Box" analytics-label="Top bar">@SharedResources.Members</li>
                </ul>

                <div class="boxActions rFloat">
                    <section class="shareBtn rFloat">
                        <input class="checkbox" type="checkbox" id="boxShare" ng-model="popup.share" />
                        <label for="boxShare" tooltip="@SharedResources.Share" class="shareBtnTxt iconTop">
                            @Html.Svg("~/Images/Defs.svg", "share", new { @class = "svg-share" })
                        </label>
                        <div class="dropDown shareDD">
                            <label class="closeItem rFloat" for="boxShare"></label>
                            <div class="arrow shareArrow"></div>
                            <h4 class="semiFont">{{strings.share}}</h4>
                            <div class="shareTxt">{{strings.invite}}</div>
                            <ul class="shareList">
                                <li class="shareItem"><button type="button" class="fbShare" ng-click="shareFacebook()">@SharedResources.Facebook</button></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="shareItem"><button type="button" class="emailShare" ng-click="shareEmail()">@SharedResources.Email</button></li>
                                }
                            </ul>
                            <div class="shareTxt">@SharedResources.OrCopyLink</div>
                            <input type="text" class="linkShare" ng-model="info.url" readonly="readonly" select-on-click />
                        </div>
                    </section>

                    <button type="button" class="rFloat inviteFriendsBtn" tooltip="@IndexResources.Invite" ng-click="inviteFriends()">
                        @Html.Svg("~/Images/Defs.svg", "inviteUser", new { @class = "svg-inviteUser" })
                    </button>
                </div>
            </div>*@
        <div class="box-content" ng-switch="options.activeTab" load-spinner="options.loader" load-spinner-type="init">
            <div ng-switch-when="feed">
                @{Html.RenderPartial("_Feed");}
            </div>
            <div ng-switch-when="items">
                @{Html.RenderPartial("_Items2");}
            </div>
            <div ng-switch-when="quizzes">
                @{Html.RenderPartial("_Quizzes");}
            </div>
            <div ng-switch-when="members">
                @{Html.RenderPartial("_Members");}
            </div>
        </div>
    </div>
</div>
