@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div uib-collapse="!b.inviteOpen" compile-html="b.html" expanding="b.inviteExpand()">
</div>
<div class="google-ad">
    <div data-ng-dfp-ad="div-gpt-ad-1459950737650-2"></div>
</div>
<div class="page-head">
    <div layout="row" layout-align="space-between center" ng-hide="b.settingsOpen" class="page-title box-title" ng-class="{'need-follow' : b.needFollow}">
        <h1 flex class="multi-line-ellipsis limit-two">{{b.data.name}}</h1>
        <div ng-if="b.canShare" ng-cloak add-to-any></div>
        <button flex="none" ng-if="b.needFollow" type="button" ng-click="b.follow()" class="invite-btn text-capitalize color-override backgroundColor8" ga-track-event="['box', 'follow']">@BoxResources.Follow</button>
        <button class="box-settings" flex="none" ng-if="!b.needFollow" type="button" ng-click="b.toggleSettings()" ga-track-event="['box', 'settings']">@Html.Svg("/images/site/box-icons.svg", "settings", new { @class = "svgTC15" })</button>
    </div>
</div>
<div uib-collapse="!b.settingsOpen" class="settings" ng-cloak>
    @{Html.RenderPartial("_Settings");}
</div>
<md-tabs class="box-nav-bar">
    <md-tab ui-sref="box.feed" md-active="b.isActiveState('box.feed')">
        <md-tab-label>@BoxResources.Feed</md-tab-label>
    </md-tab>
    <md-tab ui-sref="box.items" md-active="b.isActiveState('box.items')">
        <md-tab-label>@BoxResources.Items</md-tab-label>
    </md-tab>
    <md-tab ui-sref="box.quiz" md-active="b.isActiveState('box.quiz')">
        <md-tab-label>@GeneralResources.Quizzes</md-tab-label>
    </md-tab>
    <md-tab ui-sref="box.members" md-active="b.isActiveState('box.members')">
        <md-tab-label>@GeneralResources.Members</md-tab-label>
    </md-tab>
</md-tabs>
<div class="page-animation" ui-view></div>

<script type="text/ng-template" id="addToAnyTemplate.html">
    <div class="share-social a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="facebook a2a_button_facebook" data-a2a-url="{{url}}">
            @Html.Svg("/Images/Site/social-icons.svg", "facebook-colored")
        </a>
        <a hide show-xs class="whatsapp a2a_button_whatsapp" data-a2a-url="{{url}}">
            @Html.Svg("/Images/Site/social-icons.svg", "whatsapp")
        </a>
    </div>
</script>


