@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources

<div uib-collapse="!b.inviteOpen">
    @{Html.RenderPartial("_Invite");}
</div>

<div class="class">
    <div class="page-head">
        <div layout="row" layout-align="space-between center" ng-hide="b.settingsOpen" class="page-title" ng-class="{'need-follow' : b.needFollow}">
            <h1 flex>{{b.data.name}}</h1>
            <button flex="none" ng-if="b.needFollow" type="button" ng-click="b.follow()" class="invite-btn text-capitalize">@BoxResources.Follow</button>
            <button flex="none" ng-if="!b.needFollow" type="button" ng-click="b.toggleSettings()">@Html.Svg("/images/site/box-icons.svg", "settings")</button>
        </div>
    </div>
    <div uib-collapse="!b.settingsOpen" class="settings">
        @{Html.RenderPartial("_Settings");}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box">
                <div class="portlet-body">
                    <ul class="nav nav-tabs tabbable">
                        <li class="text-capitalize" ui-sref-active="active"><a ui-sref="box.feed">@BoxResources.Feed</a></li>
                        <li class="text-capitalize" ui-sref-active="active"><a ui-sref="box.items">@BoxResources.Items</a></li>
                        <li class="text-capitalize" ui-sref-active="active"><a ui-sref="box.quiz">@BoxResources.Quizzes</a></li>
                        <li class="text-capitalize" ui-sref-active="active"><a ui-sref="box.members">@BoxResources.Members</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>

