@model Zbang.Cloudents.Mvc4WebRole.Models.CreateAcademicBox
@using Zbang.Cloudents.Mobile.Views.Shared.Resources

<div id="addAcademicBox" class="addAcademic popup">
    <div class="popupWpr">
        <div class="subTitle topContent">@DialogResources.CreateCourse</div>

        @using (Html.BeginForm("CreateBox", "Library", FormMethod.Post, new { id = "Academic" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            @Html.LabelFor(m => m.CourseName)
            @Html.TextBoxFor(m => m.CourseName, new { @class = "inputText", id = "academicBoxName" ,autofocus="autofocus"})

            @Html.LabelFor(m => m.CourseId)
            @Html.TextBoxFor(m => m.CourseId, new { @class = "inputText" })


            @Html.LabelFor(m => m.Professor)
            @Html.TextBoxFor(m => m.Professor, new { @class = "inputText" })

            <input type="submit" class="btn1 rFloat"  value="@DialogResources.Create"/>
        }
    </div>    
</div>
