

@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings.University

<div id="libEnterCode" class="enterCode popup">
    <h1 class="boldFont">שלום, <span>@ViewBag.userName</span></h1>
    @using (Html.BeginForm("UpdateUniversity","Account"))
    {
        Html.RenderAction("AntiForgeryToken", "Home", true);
        <p>ההצטרפות לקבוצת הלימוד של <span class="boldFont">"@ViewBag.AgudaName"</span> נעשית ע"י
הזנת קוד משתמש אישי הניתן דרך אגודת הסטודנטים.</p>
            
        @Html.HiddenFor(m=>m.UniversityId)
        @Html.ValidationMessageFor(m=>m.Code)
        @Html.LabelFor(m => m.Code)
        @Html.TextBoxFor(m=>m.Code, new { @class = "inputText noFade", placeholder="הזן את הקוד כאן" , id="insertCode", autofocus="autofocus"})

        <input id="codeSubmit"  type="submit" class="btn1" disabled="disabled" value="המשך"/>
    }
    <div class="noCode">
        <div class="boldFont">אין לך קוד משתמש?</div>
        <p>
            לקבלת קוד משתמש אישי יש לשלוח דוא"ל ל<a class="codeLink" href="mailto:@ViewBag.AgudaMail">@ViewBag.AgudaMail</a>
            <br />
            עם <span class="boldFont">הפרטים הבאים</span> :
        </p>  
        <div>      
            - שם פרטי ומשפחה<br />
            - כתובת מייל (אליו ישלח הקוד)<br />
            - מספר טלפון<br /><br />

            או צרו קשר ישירות עם מזכירות האגודה בטלפון <a class="codeLink" href="tel:@ViewBag.AgudaPhone">@ViewBag.AgudaPhone.</a>
        </div>
    </div>
</div>
    