@using Zbang.Cloudents.Mobile.Views.Box.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources

<section class="box">
    <header>
        @*<button type="button" class="inviteBtn rFloat">
                @Html.Svg("~/Images/Defs.svg", "inviteUser", new { @class = "svg-invite" })
            </button>*@
        <button type="button" class="backBtn lFloat" ui-sref="root.dashboard">
            @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
        </button>
        <a ui-sref="root.dashboard"><h1>@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</h1></a>
    </header>
    <div class="boxDetails">
        <h2>{{::box.name}}</h2>
        <span class="boxDetail">{{::box.professorName}}</span>
        <span class="boxDetail">{{::box.courseId}}</span>
    </div>

    <div class="tabs">
        <span class="tab" ng-click="box.setCurrentTab('feed')" ng-class="{active : box.currentTab === 'feed'}">@BoxResources.Feed</span>
        <span class="tab" ng-click="box.setCurrentTab('items')" ng-class="{active : box.currentTab === 'items'}">@SharedResources.Items</span>
    </div>
    <div ng-switch="box.currentTab">
        <div class="feed" ng-switch-when="feed" ng-controller="FeedController as feed" pl-uploader inner-scroll="{{feed.loading}}">
            <span id="plfakebtn" style="display:none;"></span>
            <form class="feedForm" name="addQuestionForm" ng-submit="feed.addQuestion()" novalidate sticky-form>
                <textarea name="content" class="feedTA" placeholder="What on your mind?" ng-model="feed.questionFormData.content" msd-elastic text-direction></textarea>
                <ul class="attachedList">
                    <li class="attachedItem" ng-repeat="file in feed.questionFormData.files">
                        <span class="attachName elps">{{::file.name}}</span>
                    </li>
                </ul>
                <button ng-if="feed.questionFormData.content.length" type="submit" class="postBtn">
                    @Html.Svg("~/Images/Defs.svg", "post", new { @class = "svg-post ltr" })
                </button>
                <button ng-if="!feed.questionFormData.content.length" type="button" class="attachBtn" pl-fileinput>
                    @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
                </button>
            </form>

            <ul class="boxFeedList" scroll-paging on-scroll="feed.getFeedPage()">
                <li ng-repeat="question in feed.list">
                    <div class="feedWpr">
                        <div class="feedTop">
                            <time class="createTime rFloat" display-time="{{::question.creationTime}}"></time>
                            <img class="feedImg lFloat" alt="" width="27" height="27" ng-src="{{::question.userImage || '/images/emptystate/user.svg'}}" />
                            <div class="userName elps">{{::question.userName}}</div>
                        </div>
                        <div class="feedContent" ng-bind-html="::question.content"></div>
                        <ul class="qaAttach">
                            <li class="qaAttachItem" ng-repeat="file in question.files">
                                <a href="{{::file.url}}" target="_self"
                                   analytics-on analytics-event="Click on file" analytics-category="Feed page" analytics-label="User clicked on a question file">
                                    <img ng-src="{{::file.thumbnail}}" alt="" width="100" height="125" />
                                </a>
                            </li>
                        </ul>
                        <button class="commentBtn" type="button" ng-click="feed.toggleComment(question)" focus-comment>@BoxResources.Comment</button>
                    </div>

                    <ul class="feedReplies">
                        <li ng-repeat="answer in question.answers">
                            <div class="feedWpr">
                                <div class="feedTop">
                                    <time class="createTime lFloat" display-time="{{::answer.creationTime}}"></time>
                                    <div class="userName elps">{{::answer.userName}}</div>
                                </div>

                                <div class="feedContent" ng-bind-html="::answer.content"></div>
                                <ul class="qaAttach">
                                    <li class="qaAttachItem" ng-repeat="file in answer.files">
                                        <a target="_self" href="{{file.url}}"
                                           analytics-on analytics-event="Click on file" analytics-category="Feed page" analytics-label="User clicked on a question file">
                                            <img ng-src="{{file.thumbnail}}" alt="" width="100" height="125">
                                        </a>
                                    </li>
                                </ul>
                                <img class="feedImg rFloat" ng-src="{{::answer.userImage || '/images/emptystate/user.svg'}}" alt="" width="27" height="27" />
                            </div>
                        </li>
                    </ul>

                    <form ng-if="question.displayComment" name="answerForm" class="feedForm" ng-submit="feed.addAnswer(question)" novalidate>
                        <textarea name="content" class="feedTA" placeholder="What on your mind" ng-model="question.aFormData.content" text-direction></textarea>
                        <ul class="attachedList">
                            <li class="attachedItem" ng-repeat="file in question.aFormData.files">
                                <span class="attachName elps">{{::file.name}}</span>
                            </li>
                        </ul>
                        <button ng-if="question.aFormData.content.length" class="postBtn" type="submit">
                            @Html.Svg("~/Images/Defs.svg", "post", new { @class = "svg-post ltr" })
                        </button>
                        <button ng-if="!question.aFormData.content" type="button" class="attachBtn" pl-fileinput>
                            @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
                        </button>
                    </form>
                </li>
            </ul>

            <div ng-show="!feed.list.length" class="emptyFeed ghost"><span class="vCentered">@BoxResources.FeedEmpty</span></div>
        </div>

        <div class="boxItems" ng-switch-when="items" ng-controller="ItemsController as boxItems" inner-scroll="{{boxItems.loading}}">
            <select ng-model="boxItems.currentTabId" ng-change="boxItems.getItems(false)">
                <option value="">@BoxResources.AllItems</option>
                <option ng-repeat="tab in boxItems.tabs" value="{{tab.id}}">{{tab.name}}</option>
            </select>
            <ul class="boxList" scroll-paging on-scroll="boxItems.getItems(true)">
                <li ng-repeat="item in boxItems.items">
                    <a class="boxLink" href="{{::item.url}}" target="_self"
                       analytics-on analytics-event="Click on item" analytics-category="Box items page" analytics-label="User clicked on a item">
                        <img ng-src="{{::item.thumbnail}}" />
                    </a>
                    <div class="itemName">{{::item.name}}</div>
                    <div class="elps itemOwner">{{::item.owner}}</div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="box.uploading" style="position:fixed; top:0; left:0; background:#fff;width:100%;height:100%;z-index:2;">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                </rect>
        <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                </rect>
        <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                </rect>
              </svg>
        Uploading
    </div>
</section>