@using Zbang.Cloudents.Mobile.Views.Box.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<section class="box">
    <header>
        @*<button type="button" class="inviteBtn rFloat">
                @Html.Svg("~/Images/Defs.svg", "inviteUser", new { @class = "svg-invite" })
            </button>*@
        <button type="button" class="backBtn lFloat" ng-click="box.goBack()">
            @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
        </button>
        <h1>@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</h1>
    </header>
    <div class="boxDetails">
        <h2>{{::box.name}}</h2>
        <span class="boxDetail">{{::box.professorName}}</span>
        <span class="boxDetail">{{::box.courseId}}</span>
    </div>

    <div class="tabs">
        <span class="tab" ng-click="box.setCurrentTab('feed')" ng-class="{active : box.currentTab === 'feed'}">@BoxResources.Feed</span>
        <span class="tab" ng-click="box.setCurrentTab('items')" ng-class="{active : box.currentTab === 'items'}">@SharedResources.Items</span>
    </div>
    <div ng-switch="box.currentTab">
        <div class="feed" ng-switch-when="feed" ng-controller="FeedController as feed">
            <form class="feedForm" name="addQuestionForm" ng-submit="feed.addQuestion()" novalidate>
                <img ng-src="{{root.user.image}}" class="feedImg lFloat" alt="" width="27" height="27" />
                <textarea name="content" class="feedTA" ng-placeholder="OnYourMind" ng-model="feed.questionFormData.content" msd-elastic></textarea>
                <ul class="attachedList">
                    <li class="attachedItem" ng-repeat="file in feed.questionFormData.files">
                        <span class="attachName elps">{{::file.name}}</span>
                        <button class="removeAttach" ng-click="feed.removeQuestionAttachment(file)"></button>
                    </li>
                </ul>
                <button ng-if="feed.questionFormData.content.length" type="submit" class="lFloat">P</button>
                <button ng-if="!feed.questionFormData.content.length" type=" button" class="lFloat attachBtn" ng-click="feed.uploadFile()">
                    @Html.Svg("~/Images/Defs.svg", "camera", new { @class = "svg-attachment" })
                </button>
            </form>

            <ul class="boxFeedList">
                <li ng-repeat="question in feed.list">
                    <img class="feedImg lFloat" alt="" width="27" height="27" ng-src="{{::question.userImage}}" />

                    <div class="feedWpr">
                        <time class="createTime rFloat" display-time="{{::question.createTime}}"></time>
                        <div class="userName elps">{{::question.userName}}</div>

                        <div class="feedContent" ng-bind-html="::question.content"></div>
                        <ul class="qaAttach">
                            <li class="qaAttachItem" ng-repeat="file in question.files">
                                <a href="{{::file.url}}"><img ng-src="{{::file.thumbnail}}" alt="" width="100" height="125" /></a>
                            </li>
                            @*<li class="qaAttachItem qaAttchQuiz" ng-repeat="file in question.quizes">
                                    <a ng-href="{{::file.itemUrl}}">@Html.Svg("~/Images/Defs.svg", "quiz-bg", new { @class = "svg-quizBg" })</a>

                                </li>*@
                        </ul>

                        <button type="button" ng-click="feed.toggleComment(question)">@BoxResources.Comment</button>


                        @*<button type="button" class="trash" ng-click="deleteQuestion(question)" ng-if="canDelete(question)">
                                @Html.Svg("~/Images/Defs.svg", "trash", new { @class = "svg-trash" })
                            </button>*@
                    </div>
                    <ul class="feedReplies rFloat">
                        <li ng-repeat="answer in question.answers">
                            <img class="feedImg rFloat" ng-src="{{::answer.userImage}}" alt="" width="27" height="27" />
                            <div class="feedWpr">
                                <time class="createTime rFloat" display-time="{{::answer.createTime}}"></time>
                                <div class="userName elps">{{::answer.userName}}</div>
                                <div class="feedContent" ng-bind-html="::answer.content"></div>
                                <ul class="qaAttach">
                                    <li class="qaAttachItem" ng-repeat="file in answer.files">
                                        <a href="{{file.url}}"><img ng-src="{{file.thumbnail}}" alt="" width="100" height="125"></a>
                                        @*<div class="attachActions">
                                                <a class="attachFull" ng-href="/item/my/61212/open-university/172645/6971.png/" href="/item/my/61212/open-university/172645/6971.png/"></a>
                                                <a class="attachDownload" ng-click="followBox()" target="_blank" ng-href="/item/my/61212/open-university/172645/6971.png/download/" href="/item/my/61212/open-university/172645/6971.png/download/"></a>
                                            </div>*@
                                    </li>
                                </ul>
                                @*<button type="button" class="trash" ng-click="deleteAnswer(question,answer)" ng-if="canDelete(answer)">
                                        @Html.Svg("~/Images/Defs.svg", "trash", new { @class = "svg-trash" })
                                    </button>*@
                            </div>
                        </li>
                    </ul>
                    <form ng-if="question.displayComment" name="answerForm" class="feedForm" ng-submit="feed.addAnswer(question)" novalidate>
                        <img class="feedImg rFloat" ng-src="{{::root.user.image}}" alt="" width="27" height="27" />
                        <textarea text-direction name="content" class="feedTA" ng-placeholder="WriteComment" ng-model="question.aFormData.content"></textarea>
                        <ul class="attachedList">
                            <li class="attachedItem" ng-repeat="file in question.aFormData.files">
                                <span class="attachName elps">{{::file.name}}</span>
                            </li>
                        </ul>
                        <button ng-if="question.aFormData.content.length" class="lFloat" type="submit">P</button>
                        <button ng-if="!question.aFormData.content" type="button" class="lFloat attachBtn" ng-click="feed.uploadFile()">
                            @Html.Svg("~/Images/Defs.svg", "camera", new { @class = "svg-attachment" })
                        </button>

                    </form>
                </li>

            </ul>

            <div ng-show="!feed.questions.length" class="emptyFeed ghost"><span class="vCentered">@BoxResources.FeedEmpty</span></div>
        </div>


        <div class="boxItems" ng-switch-when="items" ng-controller="ItemsController as boxItems">
            <select ng-model="boxItems.currentTabId" ng-change="boxItems.getItems(false)">
                <option value="">@BoxResources.AllItems</option>
                <option ng-repeat="tab in boxItems.tabs" value="{{tab.id}}">{{tab.name}}</option>
            </select>
            <ul class="boxList" scroll-paging on-scroll="boxItems.getItems(true)">
                <li ng-repeat="item in boxItems.items">
                    <a class="boxLink" href="{{::item.url}}">
                        <img ng-src="{{::item.thumbnail}}" />
                    </a>
                    <div class="itemName">{{::item.name}}</div>
                    <div class="elps">{{::item.owner}}</div>
                </li>
            </ul>
        </div>
    </div>
</section>