@model Zbang.Cloudents.Mvc4WebRole.Models.BoxSetting
@using Zbang.Cloudents.Mobile.Views.Shared.Resources

@{
    ViewBag.footerVisible = false;
}
<div id="settings" class="boxSettings" data-navigation="false">
    <div class="subTitle topContent"><q>@Model.Name</q> @DialogResources.Settings</div>

    @*@using (Html.BeginForm("", "Box", FormMethod.Post, new { id = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)


    *@
    <form class="settingsForm">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "inputText" })

        @Html.LabelFor(m=>m.Notification)
        @*<label>@DialogResources.ChooseNotification</label>*@

        @Html.EditorFor(m => m.Notification, new { @class = "inputText" })
        @*<select class="inputText">
            <option value="@NotificationSettings.Off.ToString("g")">@NotificationSettings.Off.GetEnumDescription()</option>
            <option value="@NotificationSettings.OnEveryChange.ToString("g")">@NotificationSettings.OnEveryChange.GetEnumDescription()</option>
            <option value="@NotificationSettings.OnceADay.ToString("g")">@NotificationSettings.OnceADay.GetEnumDescription()</option>
            <option value="@NotificationSettings.OnceAWeek.ToString("g")">@NotificationSettings.OnceAWeek.GetEnumDescription()</option>
        </select>*@
        <button data-event="submit" class="btn1 rFloat">@Zbang.Cloudents.Mobile.Views.Box.Resources.MainViewResources.Save</button>
    </form>
    @*}*@
    <button class="unfollow"></button>
</div>
