@model Zbang.Zbox.ViewModel.Dto.UserDtos.UserDetailDto
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
@if (User != null && User.Identity.IsAuthenticated)
{
    <div class="userNav">
        <a href="@Model.Url" class="userAnchor">
            <img id="userImg" src="@Model.Image" class="lFloat userImg" alt="user image" width="36" height="36" />
            @*data-id we need for old code*@
            <div id="userName" class="userName elps" data-id="@Model.Id" title="@Model.Name">@Model.Name.Split(' ')[0]</div>
            <div id="userPts" class="userPts" data-points="&nbsp;@SharedResources.Pts">@Model.Score</div>
        </a>
    </div>
    Html.RenderPartial("_SettingsAuth");
}

else
{
    <div class="userNav signUp">
        <button type="button" class="btn addRegister">@LogOnResources.SignUp</button>
        <button type="button" class="btn addConnect">@SharedResources.SignIn</button>
    </div>
    Html.RenderPartial("_SettingsUnauth", false);
}

