@{
	Layout = null;
}
<!doctype html>
<html class="no-js">
<head>
    @*@Html.Css2("alex")*@
    <link href="~/alex/home.css" asp-append-version="true" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Spitball</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body class="home-page fader">

<div class="page-overlay-wrapper">
	<div class="fade-gradient_NOPE"></div>

</div>

<div class="header-wrapper">
	<header class="header fluid-width mobile-full-width">
		<a class="fader-link close-overlay" href="@Url.RouteUrl("Alex")">
			<h1 class="spitball-logo float-left">spitball</h1>
		</a>
		<div class="header-nav-links">
			<a class="header-nav-link hover-color about-link about-header-link" href="@Url.RouteUrl("Alex_ABOUT")">About Us</a>
			<a class="header-nav-link hover-color faq-link faq-header-link" href="@Url.RouteUrl("Alex_FAQ")">FAQ</a>
			<a class="header-nav-link hover-color tos-link tos-header-link" href="@Url.RouteUrl("Alex_TOS")">Terms</a>
            <a class="header-nav-link hover-color privacy-link privacy-header-link" href="@Url.RouteUrl("Alex_PRIVACY")">Privacy</a>
			<a class="header-nav-link hover-color money-link privacy-header-link" href="@Url.RouteUrl("Alex_MONEY")">Win Money</a>
		</div>
		<a class="menu">menu</a>
	</header>
	<nav class="mobile-nav">
		<a class="mobile-nav-link js-ga-track about-link" data-ga-label="About" href="@Url.RouteUrl("Alex_ABOUT")">About Us</a>
		<a class="mobile-nav-link js-ga-track faq-link" data-ga-label="FAQ" href="@Url.RouteUrl("Alex_FAQ")">FAQ</a>
		<a class="mobile-nav-link js-ga-track tos-link" data-ga-label="TOS" href="@Url.RouteUrl("Alex_TOS")">Terms</a>
        <a class="mobile-nav-link js-ga-track privacy-link" data-ga-label="PRIVACY" href="@Url.RouteUrl("Alex_PRIVACY")">Privacy</a>
		<a class="mobile-nav-link js-ga-track money-link" data-ga-label="MONEY" href="@Url.RouteUrl("Alex_MONEY")">Win Money</a>
	</nav>
</div>

<section class="fixed-content fluid-width">
	<div class="content">
		<div class="constrain" id="slide-menu">
			<header class="no-mobile title" data-slide="0">
				<h1>Your All-in-One College Assistant</h1>
				<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
					<img src="~/Alex/appIcon.png" />
				</a>
			</header>
			<section class="active no-mobile" data-slide="0" style="float: right;">
				<article class="textbook menu-anchor" data-section="2">
					<h2 class="js-animate-this">Textbooks</h2>
					<div class="js-animate-this">
						Rent, buy, or sell textbooks at the best prices
					</div>
				</article>
				<article class="tutor menu-anchor" data-section="4">
					<h2 class="js-animate-this">Tutors</h2>
					<div class="js-animate-this">
						Online and in-person tutors 24/7
					</div>
				</article>
				<article class="local-business menu-anchor">
					<h2 class="js-animate-this">Local Businesses</h2>
					<div class="js-animate-this">
						Find the best places to eat, drink, and hang out by campus
					</div>
				</article>
			</section>
			<div class="content-text">
				<div class="text-slide active mobile" data-slide="0">
					<h2 class="js-animate-this">Your All-in-One College Assistant</h2>
					<div class="js-animate-this">
						Class Material, Flashcards, Jobs, Textbooks, Tutors, Local Businesses
					</div>
					<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
						<img src="~/Alex/appIcon.png"/>
					</a>
				</div>
				<div class="text-slide active" data-slide="1">
					<h2 class="js-animate-this">Class Materials</h2>
					<div class="js-animate-this">
						Tests, study guides, notes, homeworks and more!
					</div>
					<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
						<img src="~/Alex/appIcon.png"/>
					</a>
				</div>
				<div class="text-slide" data-slide="2">
					<h2 class="js-animate-this">Textbooks</h2>
					<div class="js-animate-this">
						Rent, buy or sell textbooks at the best prices
					</div>
					<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
						<img src="~/Alex/appIcon.png"/>
					</a>
				</div>
				<div class="text-slide" data-slide="3">
					<h2 class="js-animate-this">Flashcards</h2>
					<div class="js-animate-this">
						Test yourself with our student-made flashcards
					</div>
					<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
						<img src="~/Alex/appIcon.png"/>
					</a>
				</div>
				<div class="text-slide" data-slide="4">
					<h2 class="js-animate-this">Tutors</h2>
					<div class="js-animate-this">
						24/7 help from in-person or online experts
					</div>
					<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
						<img src="~/Alex/appIcon.png"/>
					</a>
				</div>

			</div>
				<div class="device-frame">
					<div class="image-slides mobile">
						<img id="screen0" class="image-slide init-image" alt="Content - Welcome to our sude" src="~/Alex/content_241.png" />
						<img id="screen1" class="image-slide init-image" alt="Docs - How Remarketing Keeps Customers Coming Back" src="~/Alex/Docs_241px.png" />
						<img id="screen2" class="image-slide init-image" alt="Content - Get Customers Interested by Telling a Great Story" src="~/Alex/unnamed_241px.png" />
						<img id="screen3" class="image-slide init-image" alt="Flashcard- How Remarketing Keeps Customers Coming Back" src="~/Alex/FC_241px.png" />
						<img id="screen4" class="image-slide init-image" alt="Tutor - Advertising Content Measurement Strategy" src="~/Alex/tutor_241px.png" />
					</div>
					<img class="init-image device mobile" src="~/Alex/iphone_300px.png" />
					<section class="active no-mobile" data-slide="0" style="float: left">
						<article class="class-material menu-anchor" data-section="1">
								<h2 class="js-animate-this">Class Materials</h2>
								<div class="js-animate-this">
									Tests, study guides, notes, homeworks and more!
								</div>
						</article>
						<article class="flashcard menu-anchor" data-section="3">
							<h2 class="js-animate-this">Flashcards</h2>
							<div class="js-animate-this">
								Test yourself using
								student-made flashcards
							</div>
						</article>
						<article class="jobs menu-anchor">
							<h2 class="js-animate-this">Jobs and Internships</h2>
							<div class="js-animate-this">
								Summer internships, part-time jobs, and more at your fingertips
							</div>
						</article>
					</section>
					<div  class="no-mobile iphone">
						<div class="image-slides">
							<img id="screen0" class="image-slide init-image" alt="Content - Welcome to our sude" src="~/Alex/content_240px.png" />
							<img id="screen1" class="image-slide init-image" alt="Docs - How Remarketing Keeps Customers Coming Back" src="~/Alex/Docs_241px.png" />
							<img id="screen2" class="image-slide init-image" alt="Content - Get Customers Interested by Telling a Great Story" src="~/Alex/unnamed_241px.png" />
							<img id="screen3" class="image-slide init-image" alt="Flashcard- How Remarketing Keeps Customers Coming Back" src="~/Alex/FC_241px.png" />
							<img id="screen4" class="image-slide init-image" alt="Tutor - Advertising Content Measurement Strategy" src="~/Alex/tutor_241px.png" />
						</div>
						<img class="init-image device" src="~/Alex/iphone_300px.png" />
					</div>
				</div>
			</div>
	</div>

</section>
<section class="scroll-container">
	<section class="scroll-section scroll-section-zero"  data-from-time="0.01" data-to-time="1.33" data-reverse-from-time="" data-reverse-to-time="">
		<div class="scroll-section-content">
		</div>
	</section>
	<section class="scroll-section scroll-section-one" data-from-time="0.01" data-to-time="1.33" data-reverse-from-time="" data-reverse-to-time="">
		<div class="scroll-section-content">
			<picture>
				<source class="layer-object apple init-image" srcset="~/Alex/apple_360px.png" media="(min-width: 769px)">
				<img class="layer-object apple  init-image" src="~/Alex/appIcon.png"/>
			</picture>
			<picture>
				<source class="layer-object headphones  init-image" srcset="~/Alex/headphone_620px.png" media="(min-width: 769px)">
				<img class="layer-object headphones  init-image" src="~/Alex/appIcon.png"/>
			</picture>
			<picture>
				<source class="layer-object spinner  init-image" srcset="~/Alex/spinner_small_350.png" media="(min-width: 769px)">
				<img class="layer-object spinner  init-image" src="~/Alex/appIcon.png"/>
			</picture>
		</div>
	</section>
	<section class="scroll-section scroll-section-two"  data-from-time="1.50" data-to-time="2.67" data-reverse-from-time="6.73" data-reverse-to-time="8.07">
		<div class="scroll-section-content">
			<img class="layer-object book" src="~/Alex/Book_small_550px.png"/>
			<img class="layer-object coffee" src="~/Alex/coffee2_500px.png"/>
			<img class="layer-object sp-note" src="~/Alex/notebook_pencil_small_750px.png"/>
		</div>

	</section>
	<section class="scroll-section scroll-section-three"  data-from-time="2.83" data-to-time="4.00" data-reverse-from-time="5.40" data-reverse-to-time="6.57">
		<div class="scroll-section-content">
			<img class="layer-object folder" src="~/Alex/red_folder_850px.png"/>
			<img class="layer-object sun-glasses" src="~/Alex/sun_glasses_small_350px.png"/>
			<img class="layer-object pizza" src="~/Alex/pizza_crop.png"/>
		</div>

	</section>
	<section class="scroll-section scroll-section-four"  data-from-time="" data-to-time="" data-reverse-from-time="4.06" data-reverse-to-time="5.23">
		<div class="scroll-section-content">
			<img class="layer-object doc" src="~/Alex/Doc_small_45px.png"/>
			<img class="layer-object coffee" src="~/Alex/coffee2_500px.png"/>
			<img class="layer-object mac" src="~/Alex/mac_small_790.png"/>
			<img class="layer-object calc" src="~/Alex/calculator_380px.png"/>
		</div>
	</section>
</section>

<footer class="footer fluid-width mobile-full-width">
	<a href="" data-ga-label="DownArrow" class="down-arrow hover-fill js-ga-track">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="43" viewBox="0 0 24 43">
			<g fill="#FFF" fill-rule="nonzero">
				<path d="M12 32C5.373 32 0 26.627 0 20v-8C0 5.373 5.373 0 12 0s12 5.373 12 12v8a12 12 0 0 1-12 12zm0-30C6.477 2 2 6.477 2 12v8c0 5.523 4.477 10 10 10s10-4.477 10-10v-8A10 10 0 0 0 12 2zM12 42.41l-5.66-5.65a1 1 0 0 1 1.41-1.41L12 39.59l4.24-4.24a1 1 0 0 1 1.41 1.41L12 42.41z"/>
				<path d="M12 13a1 1 0 0 1-1-1V6a1 1 0 0 1 2 0v6a1 1 0 0 1-1 1z"/>
			</g>
		</svg>
	</a>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/alex/helpers.js"></script>
<script src="~/alex/normal.js"></script>
</body>
</html>