@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.StoreOrder

<form class="userDetails">
    <h2>@StoreResources.YourOrder</h2>
    <div class="detailsTxt">@StoreResources.FillDetails</div>
    <div class="lFloat">
        @Html.LabelFor(f=>f.FirstName)
        @Html.TextBoxFor(f => f.FirstName, new { @class = "inputText", required = "required" })
    </div>
    <div class="rFloat">
        @Html.LabelFor(f => f.LastName)
        @Html.TextBoxFor(f => f.LastName, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        @Html.LabelFor(f => f.Phone1) 1
        @Html.TextBoxFor(f => f.Phone1, new { @class = "inputText" })
    </div>
    <div class="rFloat">
        @Html.LabelFor(f => f.Phone2) 2
        @Html.TextBoxFor(f => f.Phone2, new { @class = "inputText" })
    </div>
    <div class="lFloat wideInput">
        @Html.LabelFor(f => f.Email)
        @Html.TextBoxFor(f => f.Email, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        @Html.LabelFor(f => f.City)
        @Html.TextBoxFor(f => f.City, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        @Html.LabelFor(f => f.Address)
        @Html.TextBoxFor(f => f.Address, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        @Html.LabelFor(f => f.IdentityNumber)
        @Html.TextBoxFor(f => f.IdentityNumber, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        @Html.LabelFor(f => f.CreditCardNumber)
        @Html.TextBoxFor(f => f.CreditCardNumber, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        <label>@StoreResources.Vaildity</label>
        <select>
            <option selected>שנה</option>
            <option value="08">2008</option>
            <option value="09">2009</option>
            <option value="10">2010</option>
            <option value="11">2011</option>
            <option value="12">2012</option>
            <option value="13">2013</option>
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
            <option value="20">2020</option>
        </select>
        <select>
            <option selected>חודש</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="rFloat secureCode">
        @Html.LabelFor(f => f.SecurityCode)
        <span class="rFloat">@StoreResources.WhatIsThis</span>
        @Html.TextBoxFor(f => f.SecurityCode, new { @class = "inputText" })
        <div class="cardHover">
            <div class="cardHoverTxt">@StoreResources.SecurityCode</div>
        </div>
    </div>
    <div class="lFloat">
        @Html.LabelFor(f => f.CreditCardOwnerName)
        @Html.TextBoxFor(f => f.CreditCardOwnerName, new { @class = "inputText" })
    </div>
    <div class="rFloat">
        @Html.LabelFor(f => f.CreditCardOwnerId)
        @Html.TextBoxFor(f => f.CreditCardOwnerId, new { @class = "inputText" })
    </div>
    <div class="lFloat wideInput">
        @Html.LabelFor(f => f.Comments)
        @Html.TextBoxFor(f => f.Comments, new { @class = "inputText" })
    </div>
    <div class="lFloat">
        @Html.CheckBoxFor(f => f.AcceptTermOfService, new { @class = "checkbox"})
        @Html.LabelFor(f => f.AcceptTermOfService, new { @class = "cbLabel" })
        @*<input type="checkbox" class="checkbox" id="storeCb" />
        <label class="cbLabel" for="storeCb">@StoreResources.IReadIt</label>*@
    </div>
    <div class="rFloat">
        <span>@StoreResources.BillMe</span>
        @*Ram: Should this be hard-coded?*@
        <select>
            <option value="1" selected>1</option>
            <option value="2">2</option>
        </select>
        <span>@StoreResources.Installments</span>
    </div>
    <div class="lFloat secureTxt">@StoreResources.SecuredPage</div>
    <button class="rFloat btn1" type="submit">@StoreResources.Order</button>
</form>