@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@model Zbang.Zbox.ViewModel.Dto.Store.ProductCheckOutDto
           
<form class="userOrder" bag-data="@ViewBag.data" ng-show="page.step === 1">
    <h2>@StoreResources.YourOrder</h2>
    <table class="orderTable">
        <thead>
            <tr>
                <th></th>
                <th>@StoreResources.ProductName</th>
                <th>@StoreResources.RegPrice</th>
            </tr>
        </thead>
        <tr>
            <td><img src="@Model.Picture" alt="" height="48" width="48" /></td>
            <td>
                <div class="pType">@Model.Name</div>
                <div class="pName">@Model.ExtraDetails</div>
            </td>
            <td>
                @Model.SalePrice ₪
            </td>
        </tr>

        <tr>
            <td>@StoreResources.CouponCode</td>
            <td><input ng-model="coupon.code" type="text" class="inputText" /></td>
            <td>
                <div class="couponBtn" ng-class="{activated: coupon.valid}">
                    <button type="button" class="btn3" ng-disabled="coupon.buttonDisabled" ng-click="validateCoupon()">@StoreResources.ActivateCoupon</button>
                    <button type="button" disabled class="btn3">@StoreResources.CouponActivated</button>
                </div>
               
                <span class="userHelp">?</span>
                <div class="helpPopup">@StoreResources.ToGetACoupon</div>
            </td>
        </tr>
        <tr ng-repeat="(categoryName,category) in product.categories">
            <td>{{categoryName}}</td>            
            <td>
                <select ng-model="formData.features[categoryName]" ng-options="feature.description for feature in category">
                    <option value="">@StoreResources.None</option>
                </select>
            </td>
            <td>
                @*<button type="button" style="vis" class="btn3">@StoreResources.AddToPurchase</button>*@
            </td>
        </tr>        
        <tr>
            <td></td>
            <td></td>
            <td class="invoice">
                <ul ng-if="product.salePrice > 0">
                    <li><span>@StoreResources.ProductPrice:</span><span>@Model.SalePrice</span><span>₪</span></li>
                    <li><span>@StoreResources.Coupon:</span><span ng-class="{minus: coupon.valid}" ng-bind="couponDiscount()"></span><span>₪</span></li>
                    <li><span>@StoreResources.Upgrades:</span><span ng-bind="upgradeCost()"></span><span>₪</span></li>
                    @*<li><span>@StoreResources.Vat:</span><span class="">252</span><span>₪</span></li>*@
                    <li><span>@StoreResources.ShippingCost:</span><span>{{product.deliveryPrice}}</span><span>₪</span></li>
                    <li><span>@StoreResources.TotalPrice:</span><span ng-bind="totalPrice()"></span><span>₪</span></li>
                </ul>
                <button type="submit" class="btn1" ng-click="nextStep()">@StoreResources.ProceedTo</button>
            </td>
        </tr>
    </table>
</form>