@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@model Zbang.Zbox.ViewModel.Dto.Store.ProductCheckOutDto
           
<form class="userOrder" bag-data="@ViewBag.data">
    {{product.name}}
    <h2>@StoreResources.YourOrder</h2>
    <table class="orderTable">
        <thead>
            <tr>
                <th></th>
                <th>@StoreResources.ProductName</th>
                <th>@StoreResources.RegPrice</th>
            </tr>
        </thead>
        <tr>
            <td><img src="@Model.Picture" alt="" height="48" width="48" /></td>
            <td>
                <div class="pType">@Model.Name</div>
                <div class="pName">@Model.ExtraDetails</div>
            </td>
            <td>
                @Model.SalePrice ₪
            </td>
        </tr>
        <tr>
            <td>@StoreResources.CouponCode</td>
            <td><input ng-model="formData.couponCode" type="text" class="inputText" /></td>
            <td>
                @*Guy: Please add class 'activated' here if user enters code successfully*@ 
                <div class="couponBtn">
                    <button type="button" class="btn3">@StoreResources.ActivateCoupon</button>
                    <div class="btn3">@StoreResources.CouponActivated</div>
                </div>
               
                <span class="userHelp">?</span>
                <div class="helpPopup">@StoreResources.ToGetACoupon</div>
            </td>
        </tr>
        <tr ng-repeat="category in product.categories">
            <td>{{category}}</td>
            <td>
                <select>
                    <option selected>None</option>
                
                </select>
            </td>

        </tr>
        @*@foreach (var categories in Model.Features.GroupBy(s => s.Category))
        {
            <tr>
                <td>@category.FirstOrDefault().Category</td>
                <td>
                    <select>
                        <option selected>None</option>
                        @foreach (var feature in category)
                        {
                            <option data-price="@feature.Price" value="@feature.Id">@feature.Description</option>
                        }
                    </select>
                </td>
                <td>
                    @*<button type="button" style="vis" class="btn3">@StoreResources.AddToPurchase</button>
                </td>
            </tr>
        }*@
        <tr>
            <td></td>
            <td></td>
            <td class="invoice">
                <ul>
                    <li><span>@StoreResources.ProductPrice:</span><span>@Model.SalePrice</span><span>₪</span></li>
                    <li><span>@StoreResources.Coupon:</span><span class="minus">@Model.Coupon</span><span>₪</span></li>
                    <li><span>@StoreResources.Upgrades:</span><span>{UpgradeCostHere}</span><span>₪</span></li>
                    @*<li><span>@StoreResources.Vat:</span><span class="">252</span><span>₪</span></li>*@
                    <li><span>@StoreResources.ShippingCost:</span><span>@Model.DeliveryPrice</span><span>₪</span></li>
                    <li><span>@StoreResources.TotalPrice:</span><span>{TotalPriceHere}</span><span>₪</span></li>
                </ul>
                <button type="submit" class="btn1">@StoreResources.ProceedTo</button>
            </td>
        </tr>
    </table>
</form>