@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

@*Add class big to show the bigger version of the widget*@
<div class="widget">
    <div class="widgetWpr">
        <div class="lFloat">
            <img alt="university name" src="http://lorempixel.com/98/96/food" />
            <h3>University name here</h3>
        </div>
        <h2>Exclusive benefits to our students</h2>
        <button type="button" class="rFloat">Get coupon code</button>
    </div>
</div>


<div class="about">
    <div class="txt1">@StoreResources.BeforeYouBuy</div>
    <h2>@StoreResources.SecurePurchase</h2>
    <p>@StoreResources.SitePoweredBy</p>
    <h2>@StoreResources.WholeToRetail</h2>
    <p>@StoreResources.CheapPrices</p>

    <h2>@StoreResources.SafeDelivery</h2>
    <p>@StoreResources.WeCommit</p>

    <h2>@StoreResources.Security</h2>
    <p>@StoreResources.SecureSite</p>
</div>