@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@model Zbang.Zbox.ViewModel.Dto.Store.BannerDto
<div class="storeWpr page">
    @{Html.RenderPartial("_Navigation");}
    <div class="widget">
        <div class="lFloat banner">
            @{
                if (Model != null)
                {
                    if (string.IsNullOrEmpty(Model.Url))
                    {
                        <img src="@Model.ImageUrl" alt="" />
                    }
                    else
                    {
                        <a href="@Model.Url" target="_blank">
                            <img src="@Model.ImageUrl" alt="" />
                        </a>
                    }
                }
            }
        </div>
    </div>

    <div class="about">
        <div class="txt1">@StoreResources.BeforeYouBuy</div>
        <h2>@StoreResources.SecurePurchase</h2>
        <p>@StoreResources.SitePoweredBy</p>
        <h2>@StoreResources.WholeToRetail</h2>
        <p>@StoreResources.CheapPrices</p>

        <h2>@StoreResources.SafeDelivery</h2>
        <p>@StoreResources.WeCommit</p>

        <h2>@StoreResources.Security</h2>
        <p>@StoreResources.SecureSite</p>
    </div>

    @{Html.RenderPartial("_Footer");}
</div>