@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutShopping.cshtml";
}


<form class="userOrder">
    <h2>@StoreResources.YourOrder</h2>
    <table class="orderTable">
        <thead>
            <tr>
                <th></th>
                <th>@StoreResources.ProductName</th>
                <th>@StoreResources.RegPrice</th>
            </tr>
        </thead>
        <tr>
            <td><img src="http://lorempixel.com/98/96/food" alt="" height="48" /></td>
            <td>
                <div class="pType">Product Type</div>
                <div class="pName">Product name and short description</div>
            </td>
            <td>
                1540
            </td>
        </tr>
        <tr>
            <td>@StoreResources.Coupon 40</td>
            <td><input type="text" class="inputText" /></td>
            <td>
                <button type="button" class="btn3">@StoreResources.ActivateCoupon</button>
                <span class="userHelp"></span>
            </td>
        </tr>
        <tr>
            <td>@StoreResources.Upgrades</td>
            <td>
                <select>
                    <option selected>None</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn3">@StoreResources.AddToPurchase</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div>@StoreResources.ProductPrice:<span class="rFloat">00</span></div>
                <div>@StoreResources.Coupon:<span class="rFloat">00</span></div>
                <div>@StoreResources.Upgrades:<span class="rFloat">00</span></div>
                <div>@StoreResources.Vat:<span class="rFloat">00</span></div>
                <div>@StoreResources.ShippingCost:<span class="rFloat">00</span></div>
                <div>@StoreResources.TotalPrice:<span class="rFloat">00</span></div>
                <button type="submit" class="btn1">@StoreResources.ProceedTo</button>
            </td>
        </tr>
    </table>

</form>

<form class="userDetails">
    <h2>@StoreResources.YourOrder</h2>
    <div>@StoreResources.FillDetails</div>

    <div class="lFloat">
        <label>@SharedResources.FirstName</label>
        <input type="text" class="inputText" />
    </div>
    <div class="rFloat">
        <label>@SharedResources.LastName</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.Telephone 1</label>
        <input type="text" class="inputText" />
    </div>
    <div class="rFloat">
        <label>@StoreResources.Telephone 2</label>
        <input type="text" class="inputText" />
    </div>
    <div>
        <label>@SharedResources.Email</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.City</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.Address</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.IdentityNo</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.CreditCardNo</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.Vaildity</label>
        <select></select>
        <select></select>
    </div>
    <div class="rFloat">
        <label>@StoreResources.ThreeDigits</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@StoreResources.CardOwnerName</label>
        <input type="text" class="inputText" />
    </div>
    <div class="rFloat">
        <label>@StoreResources.CardOwnerNo</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@SharedResources.Comments</label>
        <textarea class="inputText" />
    </div>
    <div class="lFloat">
        <label class="cbLabel">@StoreResources.IReadIt</label>
        <input type="checkbox" class="cb" />
    </div>

    <div class="rFloat">
        <span>@StoreResources.BillMe</span>
        <select></select>
        <span>@StoreResources.Installments</span>
    </div>

    <div class="lFloat">@StoreResources.SecuredPage</div>
    <button class="rFloat" type="submit">@StoreResources.Order</button>
</form>

