@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.StoreContact
@{
    ViewBag.Title = "Contact Us";
}

<header class="siteHeader">
    @{Html.RenderPartial("_Header");}
</header>

<div class="storeWpr page">
    @{Html.RenderPartial("_Navigation");}

    <div class="widget">
        <div class="lFloat banner">
           @{
               var banner = ViewBag.banner as Zbang.Zbox.ViewModel.Dto.Store.BannerDto;
               if (banner != null)
               {
                   if (string.IsNullOrEmpty(banner.Url))
                   {
                    <img src="@banner.ImageUrl" alt="" />
                   }
                   else
                   {
                    <a href="@banner.Url" target="_blank">
                        <img src="@banner.ImageUrl" alt="" />
                    </a>
                   }
               }
        }
        </div>
    </div>

    <form class="contact" name="contactForm" novalidate ng-submit="submit(contactForm.$valid)">
        <h2 class="top">@StoreResources.GetHelp</h2>
        <div class="lFloat" ng-class="{error : submitted && contactForm.Name.$error.required}">
            @Html.LabelFor(l => l.Name)&nbsp;
            <span class="required">@DialogResources.RequiredField</span>
            @*<label>@SharedResources.Name:</label>*@
            @Html.TextBoxFor(f => f.Name, new { @class = "inputText" , required="required", ng_model = "formData.name"})
        </div>
        <div class="rFloat" ng-class="{error : submitted && contactForm.Phone.$error.required}">
            @Html.LabelFor(l => l.Phone)&nbsp;
            <span class="required">@DialogResources.RequiredField</span>
            @*<label>@StoreResources.Telephone:</label>*@
            @Html.TextBoxFor(f => f.Phone, new { @class = "inputText", required = "required", ng_model = "formData.phone" })
        </div>
        <div class="lFloat">
            @Html.LabelFor(l => l.University)
            @*<label>@SharedResources.School:</label>*@
            @Html.TextBoxFor(f => f.University, new { @class = "inputText", ng_model = "formData.university" })
        </div>
        <div class="rFloat" ng-class="{error : submitted && contactForm.Email.$error.required || contactForm.Email.$error.email}">
            @Html.LabelFor(l => l.Email)&nbsp;
            <span class="required">@DialogResources.RequiredField</span>
            @*<label>@SharedResources.Email:</label>*@
            @Html.TextBoxFor(f => f.Email, new { @class = "inputText", type = "Email", required = "required", ng_model = "formData.email" })
        </div>
        <div class="lFloat wideInput" ng-class="{error : submitted && contactForm.Text.$error.required}">
            @Html.LabelFor(l => l.Text)&nbsp;
            <span class="required">@DialogResources.RequiredField</span>
            @*<label>@SharedResources.Message:</label>*@
            @Html.TextAreaFor(f => f.Text, new { @class = "inputText", required="required", ng_model = "formData.text" })
        </div>
        <button type="submit" class="rFloat btn1 btn3" ng-click="submitted = true">@DialogResources.Send</button>
    </form>

    @{Html.RenderPartial("_Footer");}
</div>