@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    ViewBag.Title = "Contact Us";
    //Layout = "~/Views/Shared/_LayoutShopping.cshtml";
}
@*Add class big to show the bigger version of the widget*@
<div class="widget">
    <div class="widgetWpr">
        <div class="lFloat">
            <img alt="university name" src="http://lorempixel.com/98/96/food" />
            <h3>University name here</h3>
        </div>
        <h2>Exclusive benefits to our students</h2>
        <button type="button" class="rFloat">Get coupon code</button>
    </div>
</div>

<form class="contact">
    <h2 class="top">@StoreResources.GetHelp</h2>
    <div class="lFloat">
        <label>@SharedResources.Name</label>
        <input type="text" class="inputText" />
    </div>
    <div class="rFloat">
        <label>@StoreResources.Telephone</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat">
        <label>@SharedResources.School</label>
        <input type="text" class="inputText" />
    </div>
    <div class="rFloat">
        <label>@SharedResources.Email</label>
        <input type="text" class="inputText" />
    </div>
    <div class="lFloat wideInput">
        <label>@SharedResources.Message</label>
        <textarea class="inputText"></textarea>
    </div>
    <button type="submit" class="lFloat btn1">@DialogResources.Send</button>
</form>