
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

@*Add class big to show the bigger version of the widget*@
<div class="widget">
    <div class="widgetWpr">
        <div class="lFloat">
            <img alt="university name" src="http://lorempixel.com/98/96/food" />
            <h3>University name here</h3>
        </div>
        <h2>Exclusive benefits to our students</h2>
        <button type="button" class="rFloat">Get coupon code</button>
    </div>
</div>
@*Add class "showResults" to show the results of the search query (and hide original product list)*@
<form class="searchForm" id="">
    <input id="search" autocomplete="off" type="search" class="inputSearch" placeholder="@StoreResources.WhatProduct">
    <button type="submit" class="searchProducts">@StoreResources.Search</button>
</form>

<ul class="productsList" bindonce infinite-scroll="addProducts()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
    <li ng-repeat="product in products | limitTo: params.maxProducts">
        <img bo-src="product.pictureUrl" alt="" />
        <div class="desc" bo-text="product.name"></div>
        <table>
            <tr>
                <td>@StoreResources.RegPrice:</td>
                <td bo-text="product.salePrice"></td>
            </tr>
            <tr>
                <td>@StoreResources.Coupon:</td>
                <td bo-text="product.coupon"></td>
            </tr>
            <tr>
                <td>@StoreResources.StudentPrice:</td>
                <td bo-text="product.salePrice - product.coupon"></td>
            </tr>
        </table>
        <div class="hover">
            <p bo-text="product.extraDetails"></p>
            <span class="lFloat" bo-text="product.numberOfSales + ' @StoreResources.Sold'"></span>
            <span class="lFloat sale" bo-text="product.coupon / product.salePrice | percentage:0:'@StoreResources.Off'"></span> @*0 is the digits after the dot, % off is suffix*@
            <div class="moreDetailsWpr">
                <a bo-href="product.url">@StoreResources.MoreDetails</a>
            </div>
        </div>
    </li>
</ul>
@*<ul class="productsList searchResultsList"></ul>*@
