@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.ViewModel.Dto.Store
@model IList<BannerDto>

<div class="storeWpr page" ng-class="{noBanners : hideBanners()}">
    @{Html.RenderPartial("_Navigation");}


    @*<div class="widget">
            <div class="lFloat banner">
                @{
                    var banner = Model.FirstOrDefault(f => f.Location == Zbang.Zbox.Infrastructure.Enums.StoreBannerLocation.Top);
                    if (banner != null)
                    {
                        if (string.IsNullOrEmpty(banner.Url))
                        {
                            <img src="@banner.ImageUrl" alt="" />
                        }
                        else
                        {
                            <a href="@banner.Url" target="_blank">
                                <img src="@banner.ImageUrl" alt="" />
                            </a>
                        }
                    }
                }
            </div>
        </div>*@

    @*Add class big to show the bigger version of the widget*@
    <div class="widget big">
        <div class="lFloat banner">
            @*<img alt="" width="320" height="210" src="http://placehold.it/320x210" />*@
            @{
                var topRightBanner = Model.FirstOrDefault(f => f.Location == Zbang.Zbox.Infrastructure.Enums.StoreBannerLocation.TopRight);
                if (topRightBanner != null)
                {
                    if (string.IsNullOrEmpty(topRightBanner.Url))
                    {
                        <img src="@topRightBanner.ImageUrl" alt="" width="320" height="210" />
                    }
                    else
                    {
                        <a href="@topRightBanner.Url" target="_blank">
                            <img src="@topRightBanner.ImageUrl" alt="" width="320" height="210" />
                        </a>
                    }
                }
            }
        </div>
        @{
            var imageIndex = 0;
        }
        <div category-link class="lFloat carousel" ng-controller="CarouselCtrl" ng-init="params.slidesLength = @Model.Count(f => f.Location == Zbang.Zbox.Infrastructure.Enums.StoreBannerLocation.TopLeft)" ng-class="{reverse: params.reverse}">
            @foreach (var image in Model.Where(f => f.Location == Zbang.Zbox.Infrastructure.Enums.StoreBannerLocation.TopLeft))
            {
                if (string.IsNullOrEmpty(image.Url))
                {
                    <img class="slide" src="@image.ImageUrl" alt="" ng-show="isActive(@imageIndex)" />
                }
                else
                {

                    <a href="@image.Url" rel="cat" target="_blank">
                        <img class="slide" src="@image.ImageUrl" alt="" ng-show="isActive(@imageIndex)" />
                    </a>
                }
                imageIndex++;
            }

            <div class="carouselBtns">
                @for (int i = 0; i < imageIndex; i++)
                {
                    <button type="button" ng-click="select(@i)" ng-class="{selected: isActive(@i)}"></button>
                }
            </div>

        </div>

    </div>
    <div class="searchCategoriesWpr">
        <button type="button" class="lFloat" products-menu>@StoreResources.Categories</button>
        <form class="searchForm rFloat">
            <input id="search" autocomplete="off" type="search" class="inputSearch" placeholder="@StoreResources.WhatProduct" ng-model="params.search" @*ng-keyup="search()"*@ />
            <button type="submit" class="searchProducts" ng-click="search($event)" ng-disabled="params.isSearching || !params.search.length">@StoreResources.Search</button>
        </form>
       @{
           var model = ViewBag.categories as IList<CategoryDto>
                       ?? new List<CategoryDto>
                           ();
           @_Categories.ProductCategories(model)
       }
      
</div>
    <div class="productsListWpr">
        <ul class="productsList" bindonce infinite-scroll="addProducts()" infinite-scroll-distance="2" infinite-scroll-immediate-check="false">
            <li ng-repeat="product in products | limitTo: params.maxProducts">
                <a bo-href="product.url + urlQueryString()" href="">
                    <img bo-src="product.pictureUrl" alt="" />
                    <div class="pContent">
                        <div class="desc">
                            <div class="" bo-text="product.name"></div>
                            <p class="hoverDesc" bo-text="product.extraDetails"></p>
                        </div>
                        <table bo-if="product.salePrice > 0">
                            <tr>
                                <td>@StoreResources.RegPrice:</td>
                                <td bo-text="(product.salePrice | currency:'').slice(0,-4)"></td>
                                <td>₪</td>
                            </tr>
                            <tr>
                                <td>@StoreResources.StudentPrice:</td>
                                <td bo-text="(product.salePrice - product.coupon | currency:'').slice(0,-4)"></td>
                                <td>₪</td>
                            </tr>
                        </table>
                    </div>
                    <div class="productHover">

                        <span class="lFloat" bo-if="product.salePrice > 0" bo-text="product.numberOfSales + ' @StoreResources.Sold'"></span>
                        <span class="lFloat sale" bo-if="product.salePrice > 0" bo-text="product.coupon / product.salePrice | percentage:0:'@StoreResources.Off'"></span> @*0 is the digits after the dot, % off is suffix*@
                        <div class="moreDetailsWpr">
                            @StoreResources.MoreDetails
                        </div>
                    </div>
                </a>
            </li>
            <li class="noResults"><div class="emptySearch">@SharedResources.NoResults</div></li>
        </ul>
        @*@foreach (var banner in Model.Where(w => w.Location == Zbang.Zbox.Infrastructure.Enums.StoreBannerLocation.Center))
            {
                <div class="placeholder">
                    @if (string.IsNullOrEmpty(banner.Url))
                    {
                        <img src="@banner.ImageUrl" alt="Banner" />
                    }
                    else
                    {
                        <a href="@banner.Url" target="_blank">
                            <img src="@banner.ImageUrl" alt="Banner" />
                        </a>
                    }
                </div>
            }*@
    </div>
    @{Html.RenderPartial("_Footer");}
</div>

@*<ul class="productsList searchResultsList"></ul>*@
