@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

@model Zbang.Zbox.ViewModel.Dto.Store.ProductWithDetailDto

@*Add class big to show the bigger version of the widget*@
<div class="widget">
    <div class="widgetWpr">
        <div class="lFloat">
            <img alt="university name" src="http://lorempixel.com/98/96/food" />
            <h3>University name here</h3>
        </div>
        <h2>Exclusive benefits to our students</h2>
        <button type="button" class="rFloat">Get coupon code</button>
    </div>
</div>

<div class="productWpr">    
    <div class="left">
        <div class="productInfoWpr">
            <table class="productPrice">
                <tr>
                    <td>@StoreResources.StudentPrice:</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Shipping:</td>
                    <td>@Model.DeliveryPrice</td>
                </tr>
                <tr>
                    <td>Total (Including shipping):</td>
                    <td>@Model.TotalPrice</td>
                </tr>
            </table>
            <a href="#" class="btn3">Purchase now</a>
            <table class="productDetails">
                <tr>
                    <td>Item No:</td>
                    <td>@Model.CatalogNumber</td>
                </tr>
                <tr>
                    <td>Payment conditions:</td>
                    <td>Up to @Model.NumberofPayments installments no interest</td>
                </tr>
                <tr>
                    <td>Warranty:</td>
                    <td>1 year - by the official importer</td>
                </tr>
                <tr>
                    <td>Delivery time:</td>
                    <td>Up to @Model.SupplyTime working days</td>
                </tr>
                <tr>
                    <td>Name of supplier:</td>
                    <td>New Vision Digital LTD</td>
                </tr>
                <tr>
                    <td>Further details:</td>
                    <td>09-8989567 <small>Mon-Thurs between 9:00AM and 4:00PM</small></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="right">
        <img alt="" src="http://placehold.it/425x275" />
        <div class="pNameWpr">
            <h1>@Model.Name</h1>
            <h3>@Model.ExtraDetails</h3>
        </div>
    </div>
    <div class="pDesc">
        @Html.Raw(Model.Description)
    </div>
</div>

<section>
    <header>Similar products of interest</header>
    <button type="button" class="prev"></button>
    <ul class="moreProductsList">
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=one" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=two" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=three" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=four" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=five" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=six" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=seven" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=eight" alt="" />
            </a>
        </li>
        <li>
            <a href="#"><img src="http://placehold.it/150x150&text=nine" alt="" /></a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=ten" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=eleven" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=twelve" alt="" />
            </a>
        </li>
    </ul>
    <button type="button" class="next"></button>
</section>

