@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

@model Zbang.Zbox.ViewModel.Dto.Store.ProductWithDetailDto

<div class="storeWpr page">
    @{Html.RenderPartial("_Navigation");}

    <div class="widget">
        <div class="lFloat banner">
            @{
                var banner = ViewBag.banner as Zbang.Zbox.ViewModel.Dto.Store.BannerDto;
                if (banner != null)
                {
                    if (string.IsNullOrEmpty(banner.Url))
                    {
                        <img src="@banner.ImageUrl" alt="" />
                    }
                    else
                    {
                        <a href="@banner.Url" target="_blank">
                            <img src="@banner.ImageUrl" alt="" />
                        </a>
                    }
                }
            }
        </div>
    </div>

    <div class="productWpr">
        <h1>@Model.Name</h1>
        @if (Model.Price > 0)
        {
            <div class="left">
                <div class="productInfoWpr">

                    <table class="productPrice">
                        <tr>
                            <td>@StoreResources.StudentPrice:</td>
                            <td>@Model.Price.ToString("n0")</td>
                            <td>₪</td>
                        </tr>
                        <tr>
                            <td>@StoreResources.Shipping:</td>
                            <td>@Model.DeliveryPrice.ToString("n0")</td>
                            <td>₪</td>
                        </tr>
                        <tr>
                            <td>@StoreResources.CostWithShipping:</td>
                            <td>@Model.TotalPrice.ToString("n0")</td>
                            <td>₪</td>
                        </tr>
                    </table>

                    <a href="@Url.RouteUrl("StoreCheckout", new {id = Model.Id, universityid = Request.QueryString["universityId"], producerId = Request.QueryString["producerId"]})" class="btn3">@StoreResources.PurchaseNow</a>
                    <table class="productDetails">
                        <tr>
                            <td>@StoreResources.SerialNo:</td>
                            <td>@Model.CatalogNumber</td>
                        </tr>
                        <tr>
                            <td>@StoreResources.PaymentCond:</td>
                            <td>@StoreResources.UpTo&nbsp;@Model.NumberofPayments&nbsp;@StoreResources.NoInterestInstall</td>
                        </tr>
                        @*<tr>
                                <td>@StoreResources.Warranty:</td>
                                <td>1 year - by the official importer</td>
                            </tr>*@
                        <tr>
                            <td>@StoreResources.DeliveryTime:</td>
                            <td>@StoreResources.UpTo&nbsp;@Model.SupplyTime&nbsp;@StoreResources.WorkDays</td>
                        </tr>
                        <tr>
                            <td>@StoreResources.Supplier:</td>
                            <td>@Model.ProducerName</td>
                        </tr>
                        <tr>
                            <td>@StoreResources.AdditionalInfo:</td>
                            <td>09-8989567 <small>@StoreResources.WorkHours</small></td>
                        </tr>
                    </table>
                </div>
            </div>
       
            <div class="right">
                <div class="imgWpr">
                    <img alt="" src="@Model.Picture" />
                </div>
                @*<img alt="" src="@Model.Picture" width="425" height="281" />*@
                <div class="pNameWpr">
                    <h3>@Model.ExtraDetails</h3>
                </div>
            </div>
        }
            <div class="pDesc" category-link>
                @Html.Raw(Model.Description)
            </div>
        
    </div>

    @{Html.RenderPartial("_Footer");}
</div>
