@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Enums
<div class="notifications" ng-controller="NotificationSettingsCtrl" infinite-scroll="addBoxes()"
     infinite-scroll-distance="1" infinite-scroll-immediate-check="false" ng-class="{ emptyState: boxes.length == 0}">
    <ul class="boxesList">
        <li ng-repeat="box in ::boxes | limitTo: params.boxListLength">
            <div class="settingsBox">
                <a class="elps semiFont" ng-href="{{box.url}}">{{box.name}}</a>
                <div>@SharedResources.Owner:&nbsp;<span>{{box.owner}}</span></div>
            </div>
            <div class="select rFloat">
                <select class="inputText" ng-model="box.notifications" ng-change="updateNotification(box)">
                    <option value="@NotificationSettings.Off.GetStringValueLowerCase()">@NotificationSettings.Off.GetEnumDescription()</option>
                    <option value="@NotificationSettings.OnEveryChange.GetStringValueLowerCase()">@NotificationSettings.OnEveryChange.GetEnumDescription()</option>
                    <option value="@NotificationSettings.OnceADay.GetStringValueLowerCase()">@NotificationSettings.OnceADay.GetEnumDescription()</option>
                    <option value="@NotificationSettings.OnceAWeek.GetStringValueLowerCase()">@NotificationSettings.OnceAWeek.GetEnumDescription()</option>
                </select>
            </div>
        </li>
    </ul>
    <div class="empty">
        <div class="cloudIcon">
            @Html.Svg("~/Images/Defs.svg", "notificationCloud", new { @class = "svg-notificationCloud" })
            @Html.Svg("~/Images/Defs.svg", "notification", new { @class = "svg-notification" })
        </div>
        @AccountSettingsResources.NoNoifications
    </div>
</div>
