@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<form id="profile" name="userProfileForm" class="settingsTab profileInfo" novalidate ng-submit="saveUserInfo(userProfileForm.$valid)">    
    <label>Name:</label>
    <div class="nameWpr" ng-class="{error : submitted && userProfileForm.FirstName.$error.required }">
        <input type="text" class="inputText" placeholder="@SharedResources.FirstName" id="FirstName" name="FirstName" ng-model="formData.firstName" required />
        <label class="errorLabel">Firstname is required</label>
    </div>

    <input type="text" class="inputText" placeholder="@SharedResources.MiddleName" id="MiddleName" name="MiddleName" ng-model="formData.middleName" />

    <div class="lastnameWpr" ng-class="{error : submitted && userProfileForm.LastName.$error.required }">
        <input type="text" class="inputText" placeholder="@SharedResources.LastName" id="LastName" name="LastName" ng-model="formData.lastName" required />
        <label class="errorLabel">Lastname is required</label>
    </div>
    <div class="section">
        <label>Photo:</label>
        <img class="profilePhoto" width="100" height="100" ng-src="{{data.image}}" alt="" />
        <button type="button" class="photoBtn" pl-upload-standalone url="/Upload/ProfilePicture/" container="profile" on-error="onError(error)" on-uploaded="onUploaded(response)" on-files-added="onFilesAdded(files)">@AccountSettingsResources.UploadImage</button>
    </div>
    <div class="schoolSection" bindonce>
        <label>School:</label>
        <div class="schoolWpr">
            <img class="imgBorder" width="32" height="32" alt="School logo" ng-src="{{data.universityPic}}" />
            <div class="propValue">{{data.university}}</div>
            <a class="changeUni regFont" href="@Url.Action("Choose", "Library")">@AccountSettingsResources.ChangeUni</a>
        </div>
    </div>
    <input type="submit" class="btn1" value="@AccountSettingsResources.Save" ng-click="submitted=true" />
</form>