@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings.Storage
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

<div class="settingsTab storage" id="Storage">
    <div class="header boldFont">@AccountSettingsResources.Space</div>
    <div id="storageBar" class="storageBar">
        <span class="your"></span>
        @*<span class="shared"></span>*@ @*<------ temporarily not used*@
    </div>
    <div class="key">
        <span id="your" class="your lFloat" data-used="@Model.Percent">@AccountSettingsResources.InUse<span class="percent boldFont">@Model.Percent%</span></span>
        @*<span class="shared">Shared boxes<span class="percent">10%</span></span> *@ @*<------ temporarily not used*@
        <span class="free">@AccountSettingsResources.Free<span class="percent">@Model.Free%</span></span>
    </div>
    @*<div class="seeMore">Buy more storage</div>*@ @*<------ temporarily not used*@
</div>
