@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings.AccountSettings
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{ViewContext.FormContext = new FormContext();}
<div class="settingsTab accountSettings" id="AccountSetting">
    @*@using (Ajax.BeginForm("ChangeSettings", null, new AjaxOptions(), new { @class = "accountSettings", id = "tab1" }))
        { *@


    @Html.LabelFor(m => m.Email)
    <div class="changeEmail">
        @*<input type="text" class="inputText" value="@Model.Email" disabled />*@
        <div class="propValue">@Model.Email</div>
        <button type="button" class="btnTxt" id="ChangeEmail">@AccountSettingsResources.ChangeEmail</button>
        <div class="newEmail">
            @Html.TextBoxFor(m => m.NewEmail.Email, new { @class = "inputText", placeholder = AccountSettingsResources.EnterEmail, id = "newEmail" })
            @*<input type="text" class="inputText" placeholder="@AccountSettingsResources.EnterEmail" />*@
            <button type="button" class="btnTxt" id="AddBtn">@SharedResources.Change</button>
            <span id="emailerr" class="validation-summary-errors"></span>
            <div class="checkMailMsg">
                <div class="semiFont">@AccountSettingsResources.CheckMail</div>
                <div class="checkMailTxt">@AccountSettingsResources.CodeSent</div>
            </div>
        </div>
    </div>

    <div class="section">
        <label>@AccountSettingsResources.Password</label>
        <div class="changePwd">
            <span id="passerr" class="validation-summary-errors"></span>  
            @Html.LabelFor(m => m.Password.CurrentPassword)
            @Html.PasswordFor(m => m.Password.CurrentPassword, new { @class = "inputText", id = "oldpsw" })
            @*@Html.ValidationMessageFor(m => m.Password.CurrentPassword)*@
            @Html.LabelFor(m => m.Password.NewPassword)
            @Html.PasswordFor(m => m.Password.NewPassword, new { @class = "inputText", id = "newpsw" })
            @*@Html.ValidationMessageFor(m => m.Password.NewPassword)*@

        </div>
        <button type="button" class="btnTxt" id="ChangePwd">@AccountSettingsResources.ChangePwd</button>
    </div>

    <div class="section">
        @Html.LabelFor(m => m.Language)
        @Html.DropDownListFor(m => m.Language.Language,
            Zbang.Zbox.Infrastructure.Culture.Languages.SupportedCultures.Select(s =>
                {
                    return new SelectListItem
                    {
                        Selected = s.Culture == Model.Language.Language,
                        Text = s.Name,
                        Value = s.Culture
                    };
                }
         ), new { @class = "inputText", id = "language" })
    </div>

    <input id="ChangeLanguage" type="button" class="btn1" value="@AccountSettingsResources.Save" />
    @*<button class="btn2">@AccountSettingsResources.Cancel</button>*@

</div>
