@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums
<div class="notifications" ng-controller="NotificationSettingsCtrl" infinite-scroll="addBoxes()"
     infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
    <ul class="boxesList" ng-repeat="box in boxes | limitTo: params.boxListLength" bindonce>
        <li>
            <div class="settingsBox">
                <a class="elps semiFont" bo-href="box.url" bo-text="box.name"></a>
                <div>@SharedResources.Owner:&nbsp;<span bo-text="box.owner"></span></div>
            </div>
            <div class="select rFloat">
                <select class="inputText" ng-model="box.notifications" ng-change="updateNotification(box)">
                    <option value="@NotificationSettings.Off.GetStringValueLowerCase()">@NotificationSettings.Off.GetEnumDescription()</option>
                    <option value="@NotificationSettings.OnEveryChange.GetStringValueLowerCase()">@NotificationSettings.OnEveryChange.GetEnumDescription()</option>
                    <option value="@NotificationSettings.OnceADay.GetStringValueLowerCase()">@NotificationSettings.OnceADay.GetEnumDescription()</option>
                    <option value="@NotificationSettings.OnceAWeek.GetStringValueLowerCase()">@NotificationSettings.OnceAWeek.GetEnumDescription()</option>
                </select>
            </div>
        </li>
    </ul>
</div>
