@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings.Profile


<form id="profile" name="userProfileForm" class="profileInfo" novalidate ng-submit="saveUserInfo(userProfileForm.$valid)">
    @Html.LabelFor(m=>m.FirstName)    
    <div class="nameWpr" ng-class="{error : submitted && userProfileForm.FirstName.$error.required }">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "inputText", ng_placeholder = @SharedResources.FirstName, id = "FirstName", ng_model = "formData.firstName", required = "required" })
        <label class="errorLabel">Firstname is required</label>
    </div>
    
    @Html.TextBoxFor(m => m.MiddleName, new { @class = "inputText", ng_placeholder = @SharedResources.MiddleName, id = "MiddleName", ng_model = "formData.middleName" })

    <div class="lastnameWpr" ng-class="{error : submitted && userProfileForm.LastName.$error.required }">
        @Html.TextBoxFor(m => m.LastName, new { @class = "inputText", ng_placeholder = @SharedResources.LastName, id = "LastName", ng_model = "formData.lastName", required = "required" })
        <label class="errorLabel">Lastname is required</label>
    </div>
    <div class="section">
        @Html.LabelFor(m=>m.Image)
        <img class="profilePhoto" width="100" height="100" ng-src="{{data.image | defaultImage:'user'}}" alt="" />
        <button type="button" class="photoBtn" pl-upload-standalone url="/Upload/ProfilePicture/" container="main" on-error="onError(error)" on-uploaded="onUploaded(response)" on-files-added="onFilesAdded(files)" analytics-onanalytics-on="click" analytics-event="Upload image" analytics-category="Settings" analytics-label="User clicked upload image">@AccountSettingsResources.UploadImage</button>
    </div>
    <div class="schoolSection" bindonce>
        @Html.LabelFor(m=>m.University)
        <div class="schoolWpr">
            <img class="imgBorder" width="32" height="32" alt="School logo" ng-src="{{data.universityPic|default:'uni'}}" />
            <div class="propValue">{{data.university}}</div>
            <a class="changeUni regFont" href="@Url.Action("Choose", "Library")">@AccountSettingsResources.ChangeUni</a>
        </div>
    </div>
    <input type="submit" class="btn1" value="@AccountSettingsResources.Save" ng-click="submitted=true" />
</form>