@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="splitHR"><span class="splitHRText">@LogOnResources.ByEmail</span></div>

<div class="signIn">
    <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
        <div class="loginError">{{params.loginServerError}}</div>
        <div class="ng-message-errors" ng-messages="(loginSubmitted || loginForm.email.$touched) && loginForm.email.$error">
            <span class="ng-message-error" ng-message="required">@ValidationResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="pattern">@ValidationResources.InvalidEmail</span>
        </div>
        <input type="text" class="inputText" ng-class="{error: (loginSubmitted || loginForm.email.$touched) && loginForm.email.$error}" 
               name="email" tabindex="1" placeholder="@SharedResources.EmailAddress" required ng-model="formData.login.email"
               ng-pattern="params.pattern" />

        <div class="ng-message-errors" ng-messages="(loginSubmitted || loginForm.password.$touched) && loginForm.password.$error">
            <span class="ng-message-error" ng-message="required">@ValidationResources.FieldRequired</span>
        </div>        
        <input name="password" type="password" ng-class="{error: (loginSubmitted || loginForm.password.$touched) && loginForm.password.$error}" 
               class="inputText" tabindex="2" placeholder="@LogOnResources.Password" required ng-model="formData.login.password" />
        <a class="forgot rFloat" href="@Url.Action("ResetPassword","Account")" target="_self">@LogOnResources.ForgotYourPassword</a>
        <input type="checkbox" ng-checked="true" class="checkbox" id="RememberMe" name="RememberMe" tabindex="3" ng-model="formData.login.rememberMe" />
        <label class="cbLabel lFloat" for="RememberMe">@LogOnResources.RememberMe</label>
        <input ng-disabled="disabled" class="lFloat btn1" tabindex="4" type="submit" value="@SharedResources.SignIn" ng-click="loginSubmitted = true">
    </form> 
</div>
