
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="splitHR"><span class="splitHRText">@LogOnResources.ByEmail</span></div>

<div class="signIn">
    <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate >

        <div class="ng-message-errors" ng-messages="(loginSubmitted || loginForm.email.$touched) && loginForm.email.$error">
            <span class="ng-message-error" ng-message="required">Required</span>
            <span class="ng-message-error" ng-message="email">Email</span>
        </div>
        <input type="email" class="inputText" ng-class="{error: (loginSubmitted || loginForm.email.$touched) && loginForm.email.$error}" name="email" tabindex="1" placeholder="@SharedResources.EmailAddress" required ng-model="formData.login.email" />

        <div class="ng-message-errors" ng-messages="(loginSubmitted || loginForm.password.$touched) && loginForm.password.$error">
            <span class="ng-message-error" ng-message="required">Required</span>
        </div>        
        <input name="password" type="password" ng-class="{error: (loginSubmitted || loginForm.password.$touched) && loginForm.password.$error}" class="inputText" tabindex="2" placeholder="@LogOnResources.Password" required ng-model="formData.login.password" />
        <a class="forgot rFloat" href="@Url.Action("ResetPassword","Account")">@LogOnResources.ForgotYourPassword</a>
        <input type="checkbox" checked class="checkbox" id="RememberMe" name="RememberMe" tabindex="3" ng-model="formData.login.rememberMe" />
        <label class="cbLabel lFloat" for="RememberMe">זכור אותי</label>
        <input class="lFloat btn1" tabindex="4" type="submit" value="@SharedResources.SignIn" ng-click="loginSubmitted = true">
    </form>
</div>

@*<div class="signIn">

        @using (Html.BeginForm("LogIn", "Account", new { returnUrl = ViewBag.returnUrl },
        FormMethod.Post, new { id = "login", name = "loginForm" })
       )
        {
            Html.RenderAction("AntiForgeryToken", "Home", true);

            @Html.ValidationMessageFor(model => model.Email, null)
            @Html.TextBoxFor(model => model.Email, new
            {
                @class = "inputText",
                type = "email",
                //autofocus = "autofocus",
                tabindex = 1,
                placeholder = @SharedResources.EmailAddress
            })

            @Html.ValidationMessageFor(model => model.Password, null)
            @Html.PasswordFor(model => model.Password, new
            {
                @class = "inputText",
                tabindex = 2,
                placeholder = @LogOnResources.Password
            })

            @Html.ActionLink(@LogOnResources.ForgotYourPassword, "ResetPassword", "Account", null, new { @class = "forgot rFloat", target = "_self" })



            @Html.CheckBoxFor(m => m.RememberMe, new { id = "RememberMe", @class = "checkbox", tabindex = "3" })

            @Html.LabelFor(model => model.RememberMe, new { @class = "cbLabel lFloat" })

            <input class="lFloat btn1" tabindex="4" type="submit" value="@SharedResources.SignIn" />
        }
    </div>*@


