@model Zbang.Zbox.ViewModel.Dto.UserDtos.UserDetailDto
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@if (User != null && User.Identity.IsAuthenticated)
{
    <li class="navItem navUser" ng-init="initDetails(@ViewBag.userDetail)">
        @*//uid*@
        <a href="@Model.Url" class="userAnchor">
            <img id="userImg" src="@Model.Image" class="lFloat userImg" alt="user image" width="32" height="32" />

            @*data-id we need for old code*@
            <div id="userName" class="userName elps" data-id="@Model.Id" title="@Model.Name">@Model.Name.Split(' ')[0]</div>
            <div id="userPts" class="userPts" data-points="&nbsp;@SharedResources.Pts">@Model.Score</div>

        </a>
    </li>
    <li class="navItem userSettings" id="userDetails" data-menu="user" dropdown>
        <div tooltip="@DialogResources.Settings" tooltip-placement="right-bottom" class="userDrpSettings" dropdown-toggle></div>        
        <ul class="userMenu dropdown-menu" role="menu">
            <li class="menuItem">
                <a class="menuLink" data-navigation="account" href="@Url.Action("Settings", "Account")" target="_self">@UserDetailResources.AccountSettings</a>
            </li>
            <li class="menuItem">
                <a class="menuLink" target="_self" href="@Url.Action("Help","Home")">@UserDetailResources.Feedback</a>
                
            </li>
            <li class="menuItem">
                
                @Html.ActionLink(FooterResources.AboutUs, "AboutUs", "Home", null, new { @class = "menuLink" , target="_self" })
            </li>
            <li class="menuItem">
                @Html.ActionLink(FooterResources.ContactUs, "ContactUs", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                @Html.ActionLink(FooterResources.PrivacyPolicy, "Privacy", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                @Html.ActionLink(FooterResources.TermsOfService, "TermsOfService", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                <a id="logOut" target="_self" class="menuLink" href="@Url.Action("LogOff", "Account")">@UserDetailResources.LogOut</a>
            </li>
        </ul>
    </li>
}

else
{
    <li class="navItem signUp" ng-init="initDetails()">
        <button class="btn addRegister">@LogOnResources.SignUp</button>
        <button class="btn addConnect">@SharedResources.SignIn</button>
    </li>
}
