@using Zbang.Cloudents.Mvc4WebRole.Models
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Culture

<div id="homepage" class="page homepage">

    <div class="topImg" home-scroll tabindex="-1">
        <div class="headerWpr">
            <div class="logo lFloat"></div>
            <input class="checkbox sidebarCb" type="checkbox" id="sidebarCb" />
            <div class="headerActions rFloat">
                <label for="sidebarCb" class="headerSettings rFloat">
                    @Html.Svg("~/Images/Defs.svg", "menu", new { @class = "svg-menu" })
                </label>
                <a href="@Url.Action("jobs","home")" target="_self" class="btn">@SharedResources.Jobs</a>
                <button type="button" class="btn addConnect" ng-click="login()">@SharedResources.SignIn</button>
                
                @{Html.RenderPartial("_SettingsUnauth", new SettingsUnauth { ShowLanguage = true });}
            </div>
        </div>

        <div class="headingTexts">
            <h1>@HomeResources.SocialStudy</h1>
            <h3>@HomeResources.StudyPlatform</h3>

            <div id="facebookLogin" class="facebook" login-btn="facebook">
                <span class="fbImg">
                    <svg class="svg-fb" viewBox="0 0 11.861 23.303">
                        @*width="11.861" height="23.303"*@
                        <path d="M11.861,8.323H7.594V6.243c0,0-0.239-1.978,1.144-1.978c1.563,0,2.811,0,2.811,0V0H6.763c0,0-4.005-0.017-4.005,4.005   c0,0.864-0.004,2.437-0.01,4.318H0v3.434h2.741c-0.016,5.46-0.035,11.545-0.035,11.545h4.888V11.757h3.226L11.861,8.323z" />
                    </svg>
                </span>@SharedResources.FacebookSignUp
            </div>
            <button type="button" class="email addRegister" ng-click="register()">
                <span class="emailImg">
                    <svg class="svg-email" viewBox="-49 205 512 384">
                        <path d="M463,525c0,11.2-3.2,21.6-8.2,30.8L293.1,374.9L453,235c6.2,9.9,10,21.5,10,34V525z M207,407.8l222.5-194.7
	                    c-9.1-5-19.4-8.1-30.5-8.1H15c-11.1,0-21.4,3.1-30.5,8.1L207,407.8z M269,396l-51.5,45.1c-3,2.6-6.8,3.9-10.5,3.9s-7.5-1.3-10.5-3.9
	                    L145,396L-18.8,579.2c9.8,6.2,21.3,9.8,33.8,9.8h384c12.4,0,23.9-3.7,33.8-9.8L269,396z M-39,235c-6.2,9.9-10,21.5-10,34v256
	                    c0,11.2,3.1,21.6,8.2,30.8l161.6-180.9L-39,235z" />
                    </svg>
                </span>@SharedResources.EmailSignUp
            </button>
        </div>
        <div id="playButton" data-playtext="@HomeResources.PlayVideo" class="videoWpr" home-video></div>
        <div class="videoWrapper" id="videoWpr">
            <video preload="none" id="homeVideo" class="video" controls>
                <source src="https://zboxstorage.blob.core.windows.net/videos/homeScreenVideo.mp4" type="video/mp4">
                Your browser does not support video element
            </video>
        </div>
        <div class="language @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name)">
            <button type="button" ng-click="changeLocale('@Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture')" @*href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture })"*@ title="English (US)">@Languages.EnglishUsName</button>
            <button type="button" ng-click="changeLocale('@Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture')" @*href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture })"*@ title="English (UK)">@Languages.EnglishGbName</button>
            <button type="button" ng-click="changeLocale('@Languages.GetLanguageDetailByName(Languages.RussianName).Culture')" @*href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.RussianName).Culture })"*@ title="Russian Site">@Languages.RussianName</button>
            <button type="button" ng-click="changeLocale('@Languages.GetLanguageDetailByName(Languages.HebrewName).Culture')" @*href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.HebrewName).Culture })"*@ title="Hebrew Site">@Languages.HebrewName</button>
            <button type="button" ng-click="changeLocale('@Languages.GetLanguageDetailByName(Languages.ArabicName).Culture')" @*href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.ArabicName).Culture })"*@ title="Arabic Site">@Languages.ArabicName</button>
            <button type="button" ng-click="changeLocale('@Languages.GetLanguageDetailByName(Languages.ChineseName).Culture')" @*href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.ChineseName).Culture })"*@ title="Chinese Site">@Languages.ChineseName</button>
            @*<input type="checkbox" id="cbGradeback" class="checkbox" />*@
            <section class="gradeback">
                @*<label for="cbGradeback" class="labelGradeback"></label>*@
                <h3>@HomeResources.AppToGrade</h3>
                <h4>@HomeResources.YouAsked</h4>
                <a href="https://itunes.apple.com/us/app/gradeback/id938067560?ls=1&mt=8" analytics-on="click" analytics-event="Apple" analytics-category="Gradeback" target="_blank">
                    <svg class="svg-apple" viewBox="0 0 512 512">
                        <path d="M395.749,272.046c-0.647-64.841,52.879-95.938,55.271-97.483c-30.075-44.01-76.925-50.039-93.62-50.736
	c-39.871-4.037-77.798,23.474-98.033,23.474c-20.184,0-51.409-22.877-84.476-22.276c-43.458,0.646-83.529,25.269-105.906,64.19
	c-45.152,78.35-11.563,194.42,32.445,257.963c21.504,31.103,47.146,66.038,80.813,64.79c32.421-1.294,44.681-20.979,83.878-20.979
	c39.196,0,50.214,20.979,84.524,20.335c34.888-0.648,56.991-31.699,78.347-62.898c24.694-36.084,34.862-71.019,35.462-72.812
	C463.679,375.26,396.423,349.495,395.749,272.046z M331.281,81.761C349.15,60.082,361.211,30.005,357.921,0
	c-25.739,1.048-56.938,17.145-75.405,38.775c-16.57,19.188-31.074,49.813-27.187,79.218
	C284.062,120.235,313.393,103.391,331.281,81.761z" />
                    </svg>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.concept.gradeback" target="_blank" analytics-on="click" analytics-event="Android" analytics-category="Gradeback">
                    <svg class="svg-android" viewBox="0 0 19.975 23.42">
                        <path d="M1.456,7.636H1.396C0.627,7.636,0,8.265,0,9.032v6.078c0,0.77,0.627,1.397,1.396,1.397h0.061
		c0.769,0,1.396-0.629,1.396-1.397V9.032C2.852,8.265,2.224,7.636,1.456,7.636z" />
                        <path d="M3.521,17.456c0,0.706,0.577,1.281,1.283,1.281h1.371v3.283c0,0.771,0.629,1.398,1.396,1.398h0.06
		c0.77,0,1.398-0.628,1.398-1.398v-3.283h1.916v3.283c0,0.771,0.631,1.398,1.398,1.398h0.059c0.77,0,1.397-0.628,1.397-1.398v-3.283
		h1.372c0.705,0,1.282-0.575,1.282-1.281V7.859H3.521V17.456z" />
                        <path d="M13.208,2.039l1.089-1.681c0.07-0.106,0.039-0.251-0.068-0.32c-0.106-0.07-0.251-0.041-0.32,0.068L12.78,1.845
		c-0.847-0.347-1.793-0.542-2.792-0.542c-1,0-1.944,0.195-2.793,0.542L6.068,0.106C5.999-0.003,5.853-0.032,5.746,0.038
		c-0.107,0.069-0.138,0.214-0.068,0.32l1.09,1.681c-1.965,0.963-3.29,2.778-3.29,4.86c0,0.128,0.008,0.254,0.019,0.379H16.48
		c0.011-0.125,0.018-0.251,0.018-0.379C16.498,4.817,15.172,3.002,13.208,2.039z M6.978,5.049c-0.345,0-0.625-0.278-0.625-0.624
		c0-0.346,0.28-0.623,0.625-0.623c0.347,0,0.625,0.277,0.625,0.623C7.603,4.771,7.323,5.049,6.978,5.049z M12.997,5.049
		c-0.345,0-0.625-0.278-0.625-0.624c0-0.346,0.28-0.623,0.625-0.623c0.346,0,0.624,0.277,0.624,0.623
		C13.621,4.771,13.343,5.049,12.997,5.049z" />
                        <path d="M18.578,7.636H18.52c-0.769,0-1.398,0.629-1.398,1.396v6.078c0,0.77,0.63,1.397,1.398,1.397h0.059
		c0.77,0,1.396-0.629,1.396-1.397V9.032C19.975,8.265,19.347,7.636,18.578,7.636z" />
                    </svg>
                </a>
                <a href="http://www.gradeback.com/" target="_blank" analytics-on="click" analytics-event="Site" analytics-category="Gradeback">
                    <svg class="svg-world" viewBox="0 0 96 96">
                        <path d="M88.51,37.542C83.854,19.519,67.458,6.166,48,6.166S12.146,19.519,7.49,37.542H0.662v20.917H7.49
	C12.146,76.481,28.542,89.834,48,89.834s35.854-13.353,40.51-31.375h6.828V37.542H88.51z M82.586,62.268
	c-3.323,1.411-8.345-2.205-11.468,1.329s-1.468,4.77-4.404,11.192c-2.936,6.422,1.101-8.256-9.908-5.688
	c-8.124,1.896-1.463,10.281,2.587,14.548C55.8,84.801,51.973,85.431,48,85.431c-5.415,0-10.562-1.16-15.212-3.239
	c0.171-1.056-0.284-2.73-2.035-5.385c-5.321-8.073,0.917-0.734,0-9.725c-0.78-7.641-13.747-6.138-17.623-5.515
	c-0.397-1.016-0.755-2.052-1.063-3.109h71.866C83.553,59.76,83.099,61.029,82.586,62.268z M19.377,40.712h3.526l1.103,6.012
	c0.324,1.73,0.627,3.611,0.864,5.082h0.043c0.239-1.578,0.584-3.33,0.952-5.125l1.232-5.969h3.504l1.167,6.142
	c0.324,1.708,0.562,3.266,0.778,4.887h0.044c0.215-1.621,0.541-3.331,0.843-5.061l1.188-5.969h3.353l-3.763,14.576h-3.569
	l-1.233-6.271c-0.28-1.471-0.52-2.834-0.692-4.5h-0.042c-0.261,1.644-0.499,3.029-0.843,4.5l-1.385,6.271h-3.612L19.377,40.712z
	 M38.7,40.712h3.525l1.102,6.012c0.326,1.73,0.629,3.611,0.867,5.082h0.042c0.237-1.578,0.584-3.33,0.953-5.125l1.232-5.969h3.502
	l1.167,6.142c0.326,1.708,0.564,3.266,0.778,4.887h0.044c0.216-1.621,0.541-3.331,0.844-5.061l1.19-5.969h3.351l-3.763,14.576
	h-3.568l-1.232-6.271c-0.282-1.471-0.519-2.834-0.692-4.5H48c-0.259,1.644-0.497,3.029-0.844,4.5l-1.384,6.271H42.16L38.7,40.712z
	 M58.023,40.712h3.525l1.103,6.012c0.326,1.73,0.629,3.611,0.866,5.082h0.042c0.238-1.578,0.585-3.33,0.953-5.125l1.232-5.969h3.503
	l1.167,6.142c0.326,1.708,0.563,3.266,0.78,4.887h0.042c0.217-1.621,0.541-3.331,0.843-5.061l1.188-5.969h3.354l-3.764,14.576
	h-3.567l-1.232-6.271c-0.282-1.471-0.52-2.834-0.692-4.5h-0.044c-0.258,1.644-0.496,3.029-0.843,4.5l-1.384,6.271h-3.612
	L58.023,40.712z M12.067,37.542c2.607-8.941,8.468-16.505,16.206-21.328c2.455,1.05,7.322,4.054,7.067,9.402
	C34.973,33.322,48,23.597,48,23.597s6.055-4.771,9.174,2.936c1.879,4.642,3.98-9.292,7.798-11.878
	c1.057,0.541,2.087,1.126,3.083,1.762l0.396,0.257c7.379,4.838,12.956,12.208,15.481,20.868H12.067z" />
                    </svg>
                </a>
            </section>
        </div>
    </div>
    <div class="popupWrppr welcome" ng-if="params.showLogin">
        @{Html.RenderPartial("_WelcomeAngular");}
        <div class="modal2"></div>
    </div>

    <section class="available">
        <div class="sectionWpr">
            <h2>@HomeResources.Available</h2>
            <div class="sectionText">@HomeResources.WhenItSuits</div>
        </div>
    </section>

    <section class="qna">
        <div class="sectionWpr">
            <h2>@HomeResources.QA</h2>
            <div class="sectionText">@HomeResources.GetAnwers</div>
        </div>
    </section>

    <section class="watch">
        <div class="sectionWpr">
            <h2>@HomeResources.WatchShare</h2>
            <div class="sectionText">@HomeResources.LetsYouShare</div>
        </div>
    </section>
    <section id="unions">
        <h2>@HomeResources.JoinUnions</h2>
        <ul>
            <li class="gsb row1">
            </li>
            <li class="idius row1">
            </li>
            <li class="srvu row1">
            </li>
            <li class="asva row1">
            </li>
            <li class="asc row1 last">
            </li>
            <li class="peres">
            </li>
            <li class="berl">
            </li>
            <li class="globe">
            </li>
            <li class="achva">
            </li>
            <li class="open last">
                @*<div class="uName">Open university student union</div>
                    <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
            </li>
        </ul>
        <a href="@Url.Action("ContactUs", "Home")" target="_self" class="btn">@HomeResources.BecomePartner</a>
    </section>
    <div class="statsWpr">
        <div class="stats">
            <span class="cell"><span class="boldFont">16,601</span> | @HomeResources.DailyViews</span>
            <span class="cell"><span class="boldFont">568</span> | @HomeResources.QuestionsAdded</span>
            <span class="cell last"><span class="boldFont">1,024</span> | @HomeResources.FilesAdded</span>
        </div>
    </div>
</div>
@{Html.RenderPartial("_Footer");}