@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Zbox.Infrastructure.Culture;
@{

    Layout = null;

}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> Landing</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @*<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700&amp;subset=latin" rel="stylesheet" type="text/css">*@
    @Html.Css2("homePage")
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="SHORTCUT ICON" href="~/favicon.ico?v=2" />
</head>
<body class="transparent-header pace-on pace-dot">
    <div class="pace-overlay"></div>
    <div id="masthead" class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky text-none" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a href="@Url.Action("Index")" class="navbar-brand"> <img src="@Url.CdnContent("/Images/HomePage2/logo.png")" alt="logo"> </a>
            </div>
            <div class="nav-container">
                <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right" role="navigation">
                    <div class="menu-container">
                        <ul id="menu-main" class="nav navbar-nav">
                            <li class="menu-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/restaurant-index.html">English</a>
                                <ul class="dropdown-menu dropdown-menu-left ">
                                    <li class="menu-item"> <a href="@Url.Action("Index", new { lang = "en-US"})">@Languages.EnglishUsName</a> </li>
                                    <li class="menu-item"> <a href="@Url.Action("Index", new { lang = "en-UK"})">@Languages.EnglishGbName</a> </li>
                                    <li class="menu-item"> <a href="@Url.Action("Index", new { lang = "he-IL"})">@Languages.HebrewName</a> </li>
                                    <li class="menu-item"> <a href="@Url.Action("Index", new { lang = "ru-RU" })">@Languages.RussianName</a> </li>
                                    <li class="menu-item"> <a href="@Url.Action("Index", new { lang = "ar-AE" })">@Languages.ArabicName</a> </li>
                                </ul>
                            </li>
                            <li class="menu-item "> <a href="@Url.Action("SignIn")">Log in</a> </li>
                            <li class="menu-item  nav-highlight-ghost "> <a href="/restaurant-reservations.html">Get it</a> </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
    @*<div id="masthead" class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky text-caps" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="@Url.Action("Index")" class="navbar-brand"> <img src="@Url.CdnContent("/Images/HomePage2/logo.png")" alt="Logo">Spitball</a>
                </div>
                <div class="nav-container">
                    <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right" role="navigation">
                        <div class="menu-container">
                            <ul id="menu-main" class="nav navbar-nav">
                                <li class="menu-item"> <a href="#home">About</a> </li>
                                <li class="menu-item"> <a href="#features">Features</a> </li>
                                <li class="menu-item"> <a href="#design">Design</a> </li>
                                <li class="menu-item"> <a href="#screenshots">Screenshots</a> </li>
                                <li class="menu-item"> <a href="#testimonials">Testimonials</a> </li>
                                <li class="menu-item nav-highlight-ghost"> <a href="#buy"><i class="menu-icon fa fa-shopping-cart"></i>&nbsp;Get it</a> </li>
                            </ul>
                        </div>
                        <div class="menu-sidebar"></div>
                    </nav>
                </div>
            </div>
        </div>*@
    <div id="content" role="main">
        <article>
            <section class="section">
                <div class="background-media" style="background-image: url(@Url.CdnContent("/Images/HomePage2/landingbg.png")); background-attachment: fixed; background-size: cover; " data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -85px">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-11  text-center">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-50"></div>
                                <div class="visible-sm element-height-100"></div>
                                <div class="visible-md element-height-240"></div>
                                <div class="visible-lg element-height-240"></div>
                            </div>
                            <div class="col-text-1 text-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p class="bigger text-light">@HomePageResources.A4</p>

                                <a href="@Url.Action("SignIn")" style="background:#3293F6" class="btn btn-primary btn-lg  text-center bold margin-right element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    @HomePageResources.A5
                                </a>

                                <p class="text-light">@HomePageResources.A6</p>
                            </div>
                            @*<h1 class="text-center  element-top-0 element-bottom-0 text-light os-animation hyper" data-os-animation="fadeIn" data-os-animation-delay="0.1s">the right ingredients</h1>
                                <h1 class="text-center element-top-0 element-bottom-20 text-light os-animation hyper" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    for the right food
                                </h1>*@
                            @*<div class="figure element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0.3s">
                                    <span class="figure-image">
                                        <img src="http://d169hzb81ub7u3.cloudfront.net/restaurant/wp-content/uploads/sites/14/2014/12/decor-1-big-white.png" alt="image">
                                    </span>
                                </div>
                                <div class="divider-wrapper">
                                    <div class="visible-xs element-height-30"></div>
                                    <div class="visible-sm element-height-30"></div>
                                    <div class="visible-md element-height-30"></div>
                                    <div class="visible-lg element-height-30"></div>
                                </div> <a href="#book" class="btn btn-link btn-lg  text-light  btn-header scroll-to-id element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                    BOOK A TABLE
                                </a> &nbsp; <a href="restaurant-menu.html" class="btn btn-warning btn-lg   btn-header element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.7s">
                                    SEE THE MENU
                                </a>*@
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-50"></div>
                                <div class="visible-sm element-height-100"></div>
                                <div class="visible-md element-height-100"></div>
                                <div class="visible-lg element-height-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @*<section class="section" id="home">
                    <div class="background-media" style="background-image: url('@Url.CdnContent("/Images/HomePage2/landingbg.png")'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;" data-start="background-position: 50% 0px"
                         data-0-top-bottom="background-position: 50% 300px"></div>
                    <div class="container container-vertical-middle">
                        <div class="row vertical-middle" style="height:800px;">
                            <div class="col-md-7 text-left small-screen-center">
                                @*<h1 class="text-default element-top-20 element-bottom-20 text-light os-animation super light" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                    LAMBDA
                                </h1>
                                <div class="col-text-1 text-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <p class="bigger text-light">@HomePageResources.A4</p>

                                    <a href="" style="background:#3293F6" class="btn btn-primary btn-lg  text-center bold margin-right element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                        @HomePageResources.A5@*<i class="fa fa-apple" data-animation="none"></i>
                                    </a>

                                    <p class="text-light">@HomePageResources.A6</p>
                                </div>
                                @*<a href="" class="btn btn-primary btn-lg text-normal btn-icon-right  element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    ANDROID<i class="fa fa-android" data-animation="none"></i>
                                </a>
                            </div>
                            @*<div class="col-md-5 text-center small-screen-default">
                            <div class="figure element-top-40 element-bottom-40 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.4s">
                                <span class="figure-image">
                                    <img src="assets/images/landing/app-02.png" alt="" />
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>*@
            <section class="section" id="features">
                <div class="container container-vertical-default">
                    <div class="row vertical-default">
                        <div class="col-md-2 text-default small-screen-default"></div>
                        <div class="col-md-8 text-default small-screen-default">
                            <h1 class="text-center element-top-60 element-bottom-20 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                @HomePageResources.B1
                            </h1>
                            <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="divider-border-inner"></div>
                            </div>
                            <p class="lead text-center center text-normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                @HomePageResources.B2
                            </p>
                        </div>
                        <div class="col-md-2 text-default small-screen-default"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container container-vertical-middle">
                    <div class="row vertical-middle">
                        <div class="col-md-4 text-default small-screen-default">
                            <ul class="features-list text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <li class=" element-top-40 element-bottom-40 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                                    <div class="features-list-icon box-animate" data-animation="" style="background-color:#72b4b6;"> <i class="icon-volume" style="color:#ffffff;"></i> </div>
                                    <h3>@HomePageResources.B3</h3>
                                    <p>@HomePageResources.B4</p>
                                </li>
                                <li class="element-top-40 element-bottom-40 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                                    <div class="features-list-icon box-animate" data-animation="" style="background-color:#72b4b6"> <i class="icon-reload" style="color:#ffffff;"></i> </div>
                                    <h3>@HomePageResources.B5</h3>
                                    <p>@HomePageResources.B6</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center small-screen-default">
                            <div class="figure element-top-20 element-bottom-20 scroll-to-id os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                                <a href="#buy" class="figure-image" target="_self"> <img src="@Url.CdnContent("/Images/HomePage2/computer.png")" alt="" /> </a>
                            </div>
                        </div>
                        <div class="col-md-4 text-default small-screen-default">
                            <ul class="features-list text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <li class=" element-top-40 element-bottom-40 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                                    <div class="features-list-icon box-animate" data-animation="" style="background-color:#72b4b6"> <i class="icon-monitor" style="color:#ffffff;"></i> </div>
                                    <h3>@HomePageResources.B7</h3>
                                    <p>@HomePageResources.B8</p>
                                </li>
                                <li class="element-top-40 element-bottom-40 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
                                    <div class="features-list-icon box-animate" data-animation="" style="background-color:#72b4b6"> <i class="icon-battery" style="color:#ffffff;"></i> </div>
                                    <h3>@HomePageResources.B9</h3>
                                    <p>@HomePageResources.B10</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="design">
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(240,240,240,1);"></div>
                <div class="container container-vertical-default">
                    <div class="row vertical-default">
                        <div class="col-md-12 text-default small-screen-default">
                            <div class="row">
                                <div class="col-md-2 text-default small-screen-default"></div>
                                <div class="col-md-8 text-default small-screen-default">
                                    <h1 class="text-center element-top-60 element-bottom-20 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                        Amazing design
                                    </h1>
                                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                        <div class="divider-border-inner"></div>
                                    </div>
                                    <p class="lead text-center center text-normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> Lambda is the world’s most advanced theme. And with incredible new capabilities and features designed to make the most out of creativity. </p>
                                </div>
                                <div class="col-md-2 text-default small-screen-default"></div>
                            </div>
                            <div class="figure element-top-20 element-bottom-0 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                                <a href="assets/images/landing/app-04.png" class="figure-image magnific" target="_self"> <img src="assets/images/landing/app-04.png" alt="" /> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="screenshots">
                <div class="background-overlay grid-overlay-0 " style="background-color: rgba(240,240,240,0);"></div>
                <div class="container-fullwidth container-vertical-default">
                    <div class="row vertical-default">
                        <div class="col-md-12 text-default small-screen-default">
                            <div class="row">
                                <div class="col-md-2 text-default small-screen-default"></div>
                                <div class="col-md-8 text-default small-screen-default">
                                    <h1 class="text-center element-top-60 element-bottom-20 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                        Screenshots
                                    </h1>
                                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                        <div class="divider-border-inner"></div>
                                    </div>
                                    <p class="lead text-center center text-normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                        We worked hard to make a product that will stand out from the crowd.
                                        <br /> Take a look at some of these cool features that makes Lambda so unique.
                                    </p>
                                </div>
                                <div class="col-md-2 text-default small-screen-default"></div>
                            </div>
                            <div class="portfolio-container element-top-20 element-bottom-20 text-normal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portfolio-header clearfix">
                                            <div class="portfolio-filters pull-right"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio masonry no-transition" data-padding="15" data-col-xs="2" data-col-sm="4" data-col-md="4" data-col-lg="6" data-layout="fitRows">
                                    <div class="masonry-item portfolio-item filter-screens" data-menu-order="1" data-date="2014-11-06T14:25:57+00:00" data-title="screen01" data-comments="0">
                                        <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                            <a href="assets/images/landing/app-p-01.jpg" class="figure-image magnific" data-links="" target="_self">
                                                <img src="assets/images/landing/app-p-01.jpg" alt="screen01" class="normalwidth" />
                                                <div class="figure-overlay grid-overlay-0">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption"> <i class="icon-plus"></i> </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="masonry-item portfolio-item filter-screens" data-menu-order="2" data-date="2014-11-06T14:25:57+00:00" data-title="screen02" data-comments="0">
                                        <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                            <a href="assets/images/landing/app-p-02.jpg" class="figure-image magnific" data-links="" target="_self">
                                                <img src="assets/images/landing/app-p-02.jpg" alt="screen02" class="normalwidth" />
                                                <div class="figure-overlay grid-overlay-0">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption"> <i class="icon-plus"></i> </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="masonry-item portfolio-item filter-screens" data-menu-order="3" data-date="2014-11-06T14:25:57+00:00" data-title="screen03" data-comments="0">
                                        <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                            <a href="assets/images/landing/app-p-03.jpg" class="figure-image magnific" data-links="" target="_self">
                                                <img src="assets/images/landing/app-p-03.jpg" alt="screen03" class="normalwidth" />
                                                <div class="figure-overlay grid-overlay-0">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption"> <i class="icon-plus"></i> </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="masonry-item portfolio-item filter-screens" data-menu-order="4" data-date="2014-11-06T14:25:57+00:00" data-title="screen04" data-comments="0">
                                        <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                            <a href="assets/images/landing/app-p-04.jpg" class="figure-image magnific" data-links="" target="_self">
                                                <img src="assets/images/landing/app-p-04.jpg" alt="screen04" class="normalwidth" />
                                                <div class="figure-overlay grid-overlay-0">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption"> <i class="icon-plus"></i> </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="masonry-item portfolio-item filter-screens" data-menu-order="5" data-date="2014-11-06T14:51:39+00:00" data-title="screen05" data-comments="0">
                                        <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                            <a href="assets/images/landing/app-p-05.jpg" class="figure-image magnific" data-links="" target="_self">
                                                <img src="assets/images/landing/app-p-05.jpg" alt="screen05" class="normalwidth" />
                                                <div class="figure-overlay grid-overlay-0">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption"> <i class="icon-plus"></i> </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="masonry-item portfolio-item filter-screens" data-menu-order="6" data-date="2014-11-06T14:52:04+00:00" data-title="screen06" data-comments="0">
                                        <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                            <a href="assets/images/landing/app-p-06.jpg" class="figure-image magnific" data-links="" target="_self">
                                                <img src="assets/images/landing/app-p-06.jpg" alt="screen06" class="normalwidth" />
                                                <div class="figure-overlay grid-overlay-0">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption"> <i class="icon-plus"></i> </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-overlay grid-overlay-20" style="background-color: #353E4D"></div>
                <div class="container container-vertical-middle">
                    <div class="row vertical-middle">
                        <div class="col-md-6 text-default small-screen-default">
                            <div class="figure element-top-20 element-bottom-0 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                                <a href="assets/images/landing/app-06.png" class="figure-image magnific" target="_self"> <img src="@Url.CdnContent("/Images/HomePage2/mobile.png")" alt="app-06" /> </a>
                            </div>
                        </div>
                        <div class="col-md-6 text-left small-screen-center">
                            <h1 class="text-default element-top-60 element-bottom-20 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Best App, ever
                            </h1>
                            <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="divider-border-inner"></div>
                            </div>
                            <p class="lead text-left left text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                Lambda is the world’s most advanced theme. Built with incredible new capabilities and features designed to make the most out of your creativity. As with all of our products you&#8217;ll get <strong>100% solid support</strong>.
                            </p>
                            <ul class="skills-list lead element-top-20 element-bottom-40 text-normal os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <li>Awesome design</li>
                                <li>Retina ready</li>
                                <li>WooCommerce ready</li>
                                <li>Cool animations</li>
                                <li>Speed optimised</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" id="testimonials">
                <div class="background-overlay grid-overlay-0 " style="background-color: rgba(240,240,240,1);"></div>
                <div class="container container-vertical-middle">
                    <div class="row vertical-middle">
                        <div class="col-md-1 text-left small-screen-center"></div>
                        <div class="col-md-10 text-default small-screen-default">
                            <div id="flexslider-120" class="element-top-80 element-bottom-80 text-center text-normal os-animation flexslider feature-slider" data-os-animation="fadeIn" data-os-animation-delay="0s" data-flex-animation="slide" data-flex-controls-position="outside"
                                 data-flex-controlsalign="center" data-flex-directions="hide" data-flex-speed="7000" data-flex-controls="show" data-flex-slideshow="true">
                                <ul class="slides">
                                    <li>
                                        <blockquote>
                                            <p>
                                                I have spent loads of money and bought almost half page of the top themes in this place , none of like this one! Instant help no question asked. That's what I call top theme quality. It's all about service,
                                                especially when the theme is amazingly designed, too highly recommend.
                                            </p>
                                            <div class="box box-small box-round">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner"> <img width="150" height="150" src="assets/images/landing/app-t-01.jpg" class="attachment-thumbnail wp-post-image" alt="app-t-01" /> </div>
                                            </div>
                                            <footer>Nicholas Thomas<cite title="E-texon">E-texon</cite></footer>
                                        </blockquote>
                                    </li>
                                    <li>
                                        <blockquote>
                                            <p>
                                                Christos Pantazis is the quickest and most helpful guy I've ever met on Themeforest. His theme is awesome and if you need to alter it under the hood, he responds so quickly. I could hardly believe. Big plus
                                                for his support and a big plus for his amazing theme. Keep it up.
                                            </p>
                                            <div class="box box-small box-round">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner"> <img width="150" height="150" src="assets/images/landing/app-t-02.jpg" class="attachment-thumbnail wp-post-image" alt="app-t-02" /> </div>
                                            </div>
                                            <footer>Jennifer Stewart<cite title="Stimware">Stimware</cite></footer>
                                        </blockquote>
                                    </li>
                                    <li>
                                        <blockquote>
                                            <p>
                                                I've been a long time themeforest buyer and i have bought dozens of themes and i can't express to you how powerful beautiful and dynamic this theme is let alone the great customer service and you get a them
                                                that is a must. Whether you have a theme you like or not, you must get this theme!
                                            </p>
                                            <div class="box box-small box-round">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner"> <img width="150" height="150" src="assets/images/landing/app-t-03.jpg" class="attachment-thumbnail wp-post-image" alt="app-t-03" /> </div>
                                            </div>
                                            <footer>Billy Thompson<cite title="overplex.com">overplex.com</cite></footer>
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1 text-default small-screen-default"></div>
                    </div>
                </div>
            </section>
            <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" id="buy">
                <div class="background-media" style="background-image: url('/Images/HomePage2/landingbg.png'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% 0px"
                     data-0-top-bottom="background-position: 50% -84px"></div>
                <div class="background-overlay"></div>
                <div class="container container-vertical-top">
                    <div class="row vertical-top">
                        <div class="col-md-1 text-left small-screen-center"></div>
                        <div class="col-md-10 text-center small-screen-default">
                            <h1 class="text-default element-top-100 element-bottom-20 text-light os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Get it now
                            </h1>
                            <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.76); "></div>
                            </div>
                            <div class="col-text-1 text-light big element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <p>
                                    Lambda is available now exclusively on themeforest.
                                    <br />Start creating your website now!
                                </p>
                            </div> <a href="" class="btn btn-primary btn-lg text-light btn-icon-right margin-right element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                IPHONE<i class="fa fa-apple" data-animation="none"></i>
                            </a> <a href="" class="btn btn-primary btn-lg text-normal btn-icon-right  element-top-20 element-bottom-20 os-animation" target="_self" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                ANDROID<i class="fa fa-android" data-animation="none"></i>
                            </a>
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-40"></div>
                                <div class="visible-sm element-height-40"></div>
                                <div class="visible-md element-height-40"></div>
                                <div class="visible-lg element-height-40"></div>
                            </div>
                            <div class="element-top-20 element-bottom-60" data-os-animation="none" data-os-animation-delay="0s">
                                <ul class="social-icons text-light social-lg social-simple social-circle ">
                                    <li>
                                        <a href="https://twitter.com/share?url=http://lambda.oxygenna.com/landing/" target="_blank" data-iconcolor="#00acee"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/share?url=http://lambda.oxygenna.com/landing/" target="_blank" data-iconcolor="#dd1812"> <i class="fa fa-google-plus"></i> </a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/sharer.php?u=http://lambda.oxygenna.com/landing/" target="_blank" data-iconcolor="#3b5998"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a href="//pinterest.com/pin/create/button/?url=http://lambda.oxygenna.com/landing/&#038;description=Home" target="_blank" data-iconcolor="#C92228"> <i class="fa fa-pinterest"></i> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-40"></div>
                                <div class="visible-sm element-height-40"></div>
                                <div class="visible-md element-height-40"></div>
                                <div class="visible-lg element-height-40"></div>
                            </div>
                        </div>
                        <div class="col-md-1 text-default small-screen-default"></div>
                    </div>
                </div>
            </section>
            <div class="bullet-nav" data-show-tooltips="off">
                <ul></ul>
            </div>
        </article>
    </div>
    <a class="go-top go-top-circle" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 100,
            navbarScrolled: 90,
            navbarScrolledPoint: 30,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu:
            {
                hoverActive: false,
                hoverDelay: 200,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        window.onload = function () {

            var val = getCookie('l2');
            var text = document.querySelector('[href$="' + val + '/"]').text;
            //document.getElementById('lang').value = val;
            document.querySelector('[data-toggle=dropdown]').text = text;
        }
    </script>
    @Html.Script2("homePage")
</body>
</html>