@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Culture

<div class="topImg">
    <div class="headerWpr">
        <div class="logo lFloat"></div>
        <div class="headerActions rFloat">
            <a id="homeLogin" href="@Url.ActionHash("Welcome", "Account", new { universityId = ViewBag.universityId }, "connect")" class="btn">@SharedResources.SignIn</a>
            <button type="button" class="headerSettings"></button>
        </div>
    </div>
    <div class="headingTexts">
        <h1>@HomeResources.SocialStudy</h1>
        <h3>@HomeResources.StudyPlatform</h3>
        <div class="facebook"><span class="fbImg"></span>@HomeResources.FacebookSignUp</div>
        <a id="homeRegister" href="@Url.ActionHash("Welcome","Account", new { universityId = ViewBag.universityId }, "register")" class="email">@HomeResources.EmailSignUp</a>
        <div class="signinText">@LogOnResources.AlreadyHave&nbsp;<a href="@Url.ActionHash("Welcome", "Account", new { universityId = ViewBag.universityId }, "connect")" class="loginLink">@SharedResources.SignIn</a></div>
    </div>

    

    <div id="VideoWpr" class="videoWpr">
    </div>
    <div class="vidoeWrapper" id="mVideo">
        <video preload="none" id="homeVideo" class="video" controls>
            <source src="https://zboxstorage.blob.core.windows.net/videos/homeScreenVideo.mp4" type="video/mp4">
            <source src="https://zboxstorage.blob.core.windows.net/videos/CloudentsHomeScreen.webm" type="video/webm" />
            Your browser does not support video element
        </video>
    </div>
    <div class="language">
        <a data-language="@Languages.GetLanguageDetailByName(Languages.EnglishName).Culture" href="@Url.Action("Index", "Account")" title="English site">@Languages.EnglishName</a>
        <a data-language="@Languages.GetLanguageDetailByName(Languages.RussianName).Culture" href="@Url.Action("Index", "Account")" title="Russian site">@Languages.RussianName</a>
        <a data-language="@Languages.GetLanguageDetailByName(Languages.HebrewName).Culture" href="@Url.Action("Index", "Account")" title="Hebrew site">@Languages.HebrewName</a>
        <a data-language="@Languages.GetLanguageDetailByName(Languages.ArabicName).Culture" href="@Url.Action("Index", "Account")" title="Arabic site">@Languages.ArabicName</a>
        <a class="lastLang" data-language="@Languages.GetLanguageDetailByName(Languages.ChineseName).Culture" href="@Url.Action("Index", "Account")" title="Chinese site">@Languages.ChineseName</a>
    </div>
    <aside class="sideBar">
        <button class="closeMenu" type="button"></button>
        <ul>
            <li><a href="~/">@HomeResources.Homepage</a></li>
            <li><a href="@Url.Action("AboutUs", "Home")">@HomeResources.AboutCloudents</a></li>
            <li><a href="@Url.Action("Help", "Home")">@SharedResources.Help</a></li>
            <li><a href="@Url.Action("Privacy", "Home")">@FooterResources.PrivacyPolicy</a></li>
            <li><a href="@Url.Action("TermsOfService", "Home")">@FooterResources.TermsOfService</a></li>
            <li class="last"><a href="@Url.Action("ContactUs", "Home")">@FooterResources.ContactUs</a></li>
            <li><a class="sideBarSignupBtn" href="@Url.ActionHash("Welcome","Account", new { universityId = ViewBag.universityId }, "register")">@LogOnResources.SignUp</a></li>
            <li class="last"><a href="@Url.ActionHash("Welcome", "Account", new { universityId = ViewBag.universityId }, "connect")">@SharedResources.SignIn</a></li>
            <li><a data-language="@Languages.GetLanguageDetailByName(Languages.EnglishName).Culture" href="@Url.Action("Index", "Account")" title="English site">@Languages.EnglishName</a></li>
            <li><a data-language="@Languages.GetLanguageDetailByName(Languages.RussianName).Culture" href="@Url.Action("Index", "Account")" title="Russian site">@Languages.RussianName</a></li>
            <li><a data-language="@Languages.GetLanguageDetailByName(Languages.HebrewName).Culture" href="@Url.Action("Index", "Account")" title="Hebrew site">@Languages.HebrewName</a></li>
            <li><a data-language="@Languages.GetLanguageDetailByName(Languages.ArabicName).Culture" href="@Url.Action("Index", "Account")" title="Arabic site">@Languages.ArabicName</a></li>
            <li class="last"><a data-language="@Languages.GetLanguageDetailByName(Languages.ChineseName).Culture" href="@Url.Action("Index", "Account")" title="Chinese site">@Languages.ChineseName</a></li>
        </ul>
    </aside>
</div>

<section class="available">
    <div class="sectionWpr">
        <h2>@HomeResources.Available</h2>
        <div class="sectionText">@HomeResources.WhenItSuits</div>
    </div>
</section>

<section class="qna">
    <div class="sectionWpr">
        <h2>@HomeResources.QA</h2>
        <div class="sectionText">@HomeResources.GetAnwers</div>
    </div>

</section>

<section class="watch">
    <div class="sectionWpr">
        <h2>@HomeResources.WatchShare</h2>
        <div class="sectionText">@HomeResources.LetsYouShare</div>
    </div>
</section>
<section class="unions">
    <h2>@HomeResources.JoinUnions</h2>
    <ul>
        <li class="union gsb row1">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union idius row1">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union srvu row1">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union asva row1">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union asc row1 last">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union peres">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union berl">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union globe">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union achva">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
        <li class="union open last">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
    </ul>
    <a href="@Url.Action("ContactUs", "Home")" class="btn">@HomeResources.BecomePartner</a>
</section>
<div class="statsWpr">
    <div class="stats">
        <span class="cell"><span class="boldFont">16,601</span> | @HomeResources.DailyViews</span>
        <span class="cell"><span class="boldFont">568</span> | @HomeResources.QuestionsAdded</span>
        <span class="cell last"><span class="boldFont">1,024</span> | @HomeResources.FilesAdded</span>
    </div>
</div>

