@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Culture

<div class="topImg">
    <div class="headerWpr">
        <div class="logo lFloat"></div>
        <input class="checkbox sidebarCb" type="checkbox" id="sidebarCb" />
        <div class="headerActions rFloat">
            <label for="sidebarCb" class="headerSettings rFloat">
                @Html.Svg("~/Images/Defs.svg", "menu", new { @class = "svg-menu" })
            </label>
            <button type="button" id="homeLogin" class="btn addConnect">@SharedResources.SignIn</button>
            @{Html.RenderPartial("_SettingsBar");}
        </div>
    </div>
   
    <div class="headingTexts">
        <h1>@HomeResources.SocialStudy</h1>
        <h3>@HomeResources.StudyPlatform</h3>
        <div id="facebookLogin" class="facebook"><span class="fbImg"></span>@SharedResources.FacebookSignUp</div>
        <button type="button" id="homeRegister" class="email addRegister"><span class="emailImg"></span>@SharedResources.EmailSignUp</button>
    </div>

    <div id="VideoWpr" data-playtext="@HomeResources.PlayVideo" class="videoWpr"></div>
    <div class="videoWrapper" id="mVideo">
        <video preload="none" id="homeVideo" class="video" controls>
            <source src="https://zboxstorage.blob.core.windows.net/videos/homeScreenVideo.mp4" type="video/mp4">
            <source src="https://zboxstorage.blob.core.windows.net/videos/CloudentsHomeScreen.webm" type="video/webm" />
            Your browser does not support video element
        </video>
    </div>
    <div class="language @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name)" >
        <a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture })" title="English (US)">@Languages.EnglishUsName</a>
        <a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture })" title="English (UK)">@Languages.EnglishGbName</a>
        <a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.RussianName).Culture })" title="Russian Site">@Languages.RussianName</a>
        <a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.HebrewName).Culture })" title="Hebrew Site">@Languages.HebrewName</a>
        <a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.ArabicName).Culture })" title="Arabic Site">@Languages.ArabicName</a>
        <a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.ChineseName).Culture })" title="Chinese Site">@Languages.ChineseName</a>
    </div>
</div>

<section class="available">
    <div class="sectionWpr">
        <h2>@HomeResources.Available</h2>
        <div class="sectionText">@HomeResources.WhenItSuits</div>
    </div>
</section>

<section class="qna">
    <div class="sectionWpr">
        <h2>@HomeResources.QA</h2>
        <div class="sectionText">@HomeResources.GetAnwers</div>
    </div>
</section>

<section class="watch">
    <div class="sectionWpr">
        <h2>@HomeResources.WatchShare</h2>
        <div class="sectionText">@HomeResources.LetsYouShare</div>
    </div>
</section>
<section class="unions">
    <h2>@HomeResources.JoinUnions</h2>
    <ul>
        <li class="union gsb row1">
        </li>
        <li class="union idius row1">
        </li>
        <li class="union srvu row1">
        </li>
        <li class="union asva row1">
        </li>
        <li class="union asc row1 last">
        </li>
        <li class="union peres">
        </li>
        <li class="union berl">
        </li>
        <li class="union globe">
        </li>
        <li class="union achva">
        </li>
        <li class="union open last">
            @*<div class="uName">Open university student union</div>
            <div class="uStats"><span>5132</span>&nbsp;@HomeResources.Students</div>*@
        </li>
    </ul>
    <a href="@Url.Action("ContactUs", "Home")" class="btn">@HomeResources.BecomePartner</a>
</section>
<div class="statsWpr">
    <div class="stats">
        <span class="cell"><span class="boldFont">16,601</span> | @HomeResources.DailyViews</span>
        <span class="cell"><span class="boldFont">568</span> | @HomeResources.QuestionsAdded</span>
        <span class="cell last"><span class="boldFont">1,024</span> | @HomeResources.FilesAdded</span>
    </div>
</div>

