@using Zbang.Zbox.Infrastructure.Enums
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="tab-pane active" id="info">
    <div class="form-group">
        <div class="fileinput text-capitalize" data-provides="fileinput">
            <h2>@AccountResource.Profile</h2>
            <div class="thumbnail" style="width: 150px; height: 150px;">

                <img src="{{i.data.image}}" alt="" width="150" height="150" />
                <a plupload="i.fileUpload.url" plupload-options="i.fileUpload.options" class="ontop text-capitalize" plupload-callbacks="i.fileUpload.callbacks">
                    @AccountResource.SelectImg
                </a>
            </div>

        </div>
        <form role="form" ng-submit="i.submit()">
            <div ng-if="i.done" class="alert alert-success text-capitalize" role="alert">@AccountResource.Saved</div>
            <div layout layout-sm="column">
                <md-input-container flex class="left-flex">
                    <label class="text-capitalize">@AccountResource.First</label>
                    <input type="text" autocomplete="off" ng-model="i.data.firstName" />
                </md-input-container>
                <md-input-container flex>
                    <label class="text-capitalize">@AccountResource.Last</label>
                    <input type="text" autocomplete="off" ng-model="i.data.lastName" />
                </md-input-container>
            </div>
            <div class="margin-top-10 text-right">
                <button type="reset" class="btn btn-default text-capitalize">@GeneralResources.Cancel</button>
                <button type="submit" class="btn btn-primary text-capitalize">@GeneralResources.SaveChanges</button>
            </div>
            @*<div layout layout-sm="column">*@
                <md-input-container>
                    <label class="control-label text-capitalize" for="email">@AccountResource.ChangeMail</label>
                    <input type="email" id="email" ng-model="i.data.email" class="form-control" />
                </md-input-container>
            <div class="margin-top-10 text-right">
                <button type="reset" class="btn btn-default text-capitalize">@GeneralResources.Cancel</button>
                <button type="submit" class="btn btn-primary text-capitalize">@GeneralResources.SaveChanges</button>
            </div>
                @*<md-input-container flex>
                    <label class="control-label text-capitalize">@AccountResource.EnterCode</label>
                    <input type="text" autocomplete="off" />
                </md-input-container>*@
            @*</div>*@
            <div layout layout-sm="column">
                <div flex layout="row" layout-align="start center" class="left-flex">
                    <img src="{{i.data.image}}" class="uni-image" alt="" width="50" height="50" />
                    <div layout="column">
                        <span class="uni-name">University of life</span>
                        <a ui-sref="universityChoose" flex>change univeristy</a>
                    </div>
                </div>
                <md-input-container flex>
                    <label>@AccountResource.Lang</label>
                    <md-select name="notification" md-on-close="i.changeLanguage()" ng-model="i.data.language" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                        @foreach (var lang in Zbang.Zbox.Infrastructure.Culture.Languages.SpitballSupportedCultures)
                        {
                            <md-option value="@lang.Culture">@lang.Name</md-option>
                        }
                    </md-select>
                </md-input-container>
            </div>
        </form>
    </div>
</div>
