@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="tab-pane active" id="info">
    <div class="section text-capitalize" layout="row" layout-wrap id="section-1">
        <div class="fileinput" flex="50" flex-xs="100">
            <h2>@AccountResource.Profile</h2>
            <div class="thumbnail">
                <user-image name="i.data.firstName" image="i.data.image" width="96" height="96" noremove="true"></user-image>
                <div class="ov-hidden">
                    <a plupload="i.fileUpload.url" plupload-options="i.fileUpload.options" class="ontop" plupload-callbacks="i.fileUpload.callbacks" ga-track-event="['settings', 'change user image']">
                        @AccountResource.SelectImg
                    </a>
                </div>
            </div>
        </div>
        <div flex="50" flex-xs="100">
            <div flex layout="row" flex-xs="100" layout-align="start center" class="left-flex university">
                <img ng-src="{{::i.data.universityImage}}" class="uni-image" alt="university logo" width="50" height="50" />
                <a layout="column" ui-sref="universityChoose" ga-track-event="['settings', 'change university']">
                    <span class="change-uni">@AccountResource.changeUniversityBtn</span>
                    <span class="uni-name">{{::i.data.university}}</span>
                </a>
            </div>
            <md-input-container>
                <label>@AccountResource.Lang</label>
                <md-select name="notification" md-on-close="i.changeLanguage()" ng-model="i.data.language" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}" ga-track-event="['settings', 'change language']">
                    @foreach (var lang in Zbang.Zbox.Infrastructure.Culture.Languages.SupportedCultures)
                    {
                        <md-option value="@lang.Culture.First()">@lang.Name</md-option>
                    }
                </md-select>
            </md-input-container>
        </div>

    </div>
    <div>
        <div class="section" id="section-2">
            <form name="changeName" class="text-capitalize" ng-submit="i.submit()">
                <div layout layout-sm="column">
                    <md-input-container flex class="left-flex">
                        <label>@AccountResource.First</label>
                        <input required md-no-asterisk autocomplete="off" type="text" name="firstName" maxlength="35" ng-model="i.data.firstName" />
                        <div ng-messages="changeName.firstName.$error" ng-show="changeName.firstName.$dirty">
                            <div ng-message="required">@GeneralResources.RequiredField</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>@SharedResources.LastName</label>
                        <input required md-no-asterisk autocomplete="off" type="text" name="lastName" maxlength="35" ng-model="i.data.lastName" />
                        <div ng-messages="changeName.lastName.$error" ng-show="changeName.lastName.$dirty">
                            <div ng-message="required">@GeneralResources.RequiredField</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="text-right">
                    <button type="button" ng-disabled="!changeName.$valid || (i.data.lastName === i.original.lastName && i.data.firstName === i.original.firstName)" class="cancel-btn" ng-click="i.cancelChangeName()" ga-track-event="['settings', 'cancel changes']">@GeneralResources.Cancel</button>
                    <button type="submit" ng-disabled="!changeName.$valid || (i.data.lastName === i.original.lastName && i.data.firstName === i.original.firstName)" class="action-btn space-before" ga-track-event="['settings', 'save changes']">@GeneralResources.SaveChanges</button>
                </div>
            </form>
        </div>
        <div class="section" id="section-3">
            <form name="changeEmail" ng-submit="i.changeEmail()">
                <md-input-container>
                    <label class="text-capitalize">@AccountResource.ChangeMail</label>
                    <input type="email" autocomplete="off" required md-no-asterisk ng-model="i.data.email" />
                </md-input-container>
                <div class="text-right text-capitalize">
                    <button type="button" class="cancel-btn" ng-disabled="!changeEmail.$valid || i.data.email === i.original.email" ng-click="i.cancelChangeEmail()" ga-track-event="['settings', 'cancel changes']">@GeneralResources.Cancel</button>
                    <button type="submit" class="action-btn space-before" ng-disabled="!changeEmail.$valid || i.data.email === i.original.email" ga-track-event="['settings', 'save changes']">@GeneralResources.SaveChanges</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="change-email-template.html">
    <div class="change-email-dialog">
        <div class="icon">
            <md-icon md-svg-icon="i:info"></md-icon>
            @*@Html.Svg("~/images/site/itemIcons.svg", "info")*@
        </div>
        <div class="content">
            <div class="text">
                <span>@LogOnResources.CheckEmailTitle</span>
                <br />@AccountResource.VerificationCode
            </div>
            <form ng-submit="ic.submitCode(insertCode)" novalidate name="insertCode">
                <md-input-container>
                    <label>@AccountResource.EnterVerification</label>
                    <input type="number" autocomplete="off" required md-no-asterisk ng-model="ic.code" name="code" ng-change="insertCode.code.$setValidity('server',true)" />
                    <div ng-messages="insertCode.code.$error" ng-show="insertCode.code.$dirty">
                        <div ng-message="required">@GeneralResources.RequiredField</div>
                        <div ng-message="server">{{ic.error}}</div>
                    </div>
                </md-input-container>
                <div class="text-right">
                    <button type="button" ng-click="ic.cancel()" class="cancel-btn text-capitalize" ng-disabled="!insertCode.$valid">@GeneralResources.Cancel</button>
                    <button type="submit" class="action-btn space-before text-capitalize" ng-disabled="!insertCode.$valid">@ItemsResources.Save</button>
                </div>
            </form>
        </div>
    </div>
</script>
