@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Zbox.Infrastructure.Enums
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="tab-pane active" id="info">
    <div class="form-group">
        <div class="fileinput text-capitalize" data-provides="fileinput">
            <h2>@AccountResource.Profile</h2>
            <div class="thumbnail" style="width: 150px; height: 150px;">

                <img src="{{i.data.image}}" alt="" width="150" height="150" />
                <a plupload="i.fileUpload.url" plupload-options="i.fileUpload.options" class="ontop text-capitalize" plupload-callbacks="i.fileUpload.callbacks">
                    @AccountResource.SelectImg
                </a>
            </div>
        </div>
        <form name="changeName" g-submit="i.submit()">
            <div ng-if="i.done" class="alert alert-success text-capitalize" role="alert">@AccountResource.Saved</div>
            <div layout layout-sm="column">
                <md-input-container flex class="left-flex">
                    <label class="text-capitalize">@AccountResource.First</label>
                    <input required autocomplete="off" type="text" autocomplete="off" ng-model="i.data.firstName" />
                </md-input-container>
                <md-input-container flex>
                    <label class="text-capitalize">@AccountResource.Last</label>
                    <input required autocomplete="off" type="text" autocomplete="off" ng-model="i.data.lastName" />
                </md-input-container>
            </div>
            <div class="text-right">
                <button type="reset" class="btn btn-default text-capitalize">@GeneralResources.Cancel</button>
                <button type="submit" ng-disabled="!changeName.$valid" class="btn btn-primary text-capitalize">@GeneralResources.SaveChanges</button>
            </div>
        </form>
        <form name="changeEmail" ng-submit="i.changeEmail()">
            @*<div layout layout-sm="column">*@
            <md-input-container>
                <label class="text-capitalize">@AccountResource.ChangeMail</label>
                <input type="email" autocomplete="off" required ng-model="i.data.email" />
            </md-input-container>
            <div class="text-right">
                <button type="button" class="btn btn-default text-capitalize" ng-click="i.cancelChangeEmail()">@GeneralResources.Cancel</button>
                <button type="submit" class="btn btn-primary text-capitalize" ng-disabled="!changeEmail.$valid || i.data.email === i.original.email">@GeneralResources.SaveChanges</button>
            </div>
        </form>

        <div layout layout-sm="column">
            <div flex layout="row" layout-align="start center" class="left-flex">
                <img src="{{::i.data.image}}" class="uni-image" alt="university logo" width="50" height="50" />
                <div layout="column">
                    <span class="uni-name">{{::i.data.university}}</span>
                    <a ui-sref="universityChoose" flex>change univeristy</a>
                </div>
            </div>
            <md-input-container flex>
                <label>@AccountResource.Lang</label>
                <md-select name="notification" md-on-close="i.changeLanguage()" ng-model="i.data.language" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                    @foreach (var lang in Zbang.Zbox.Infrastructure.Culture.Languages.SpitballSupportedCultures)
                    {
                        <md-option value="@lang.Culture">@lang.Name</md-option>
                    }
                </md-select>
            </md-input-container>
        </div>

    </div>
</div>

<script type="text/ng-template" id="change-email-template.html">
    <div class="change-email-dialog">
        <div class="icon">@Html.Svg("~/images/site/itemIcons.svg", "info")</div>
        <div class="content">
            <div class="text">
                <span>Check your email</span>
                <br />A verification code was sent to your new email
            </div>
            <form ng-submit="ic.submitCode()" novalidate name="insertCode">
                <md-input-container>
                    <label>Enter verification code</label>
                    <input type="number" autocomplete="off" required ng-model="ic.code" />
                </md-input-container>
                <div class="margin-top-10 text-right">
                    <button type="button" ng-click="ic.cancel()" class="btn-default text-capitalize">@GeneralResources.Cancel</button>
                    <button type="submit" class="btn-primary text-capitalize" ng-disabled="!insertCode.$valid">@ItemsResources.Save</button>
                </div>
            </form>
        </div>
    </div>


</script>
