@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Enums

<div class="tab-pane" id="notification">
    <div class="section">
        <ul class="list-unstyled notification-list">
            <li ng-repeat="box in ::n.notifications track by box.id" class="clearfix" layout-wrap>
                <div class="box-data" d-color="{{::box.name.length}}">
                    <div class="name ellipsis" ng-bind="::box.name"></div>
                    <div class="owner">@AccountResource.NotificationOwner: {{::box.userName}}</div>
                </div>
                <md-input-container flex-xs="100" flex-gt-xs="30">
                    <md-select aria-label="notification" md-container-class="dd-list" ng-model="box.notifications" ng-change="n.updateNotification(box)" ga-track-event="['notifications', 'change notification timing']">
                        <md-option value="@NotificationSettings.Off.GetStringValueLowerCase()">@NotificationSettings.Off.GetEnumDescription()</md-option>
                        <md-option value="@NotificationSettings.OnceADay.GetStringValueLowerCase()">@NotificationSettings.OnceADay.GetEnumDescription()</md-option>
                        <md-option value="@NotificationSettings.OnceAWeek.GetStringValueLowerCase()">@NotificationSettings.OnceAWeek.GetEnumDescription()</md-option>
                    </md-select>
                </md-input-container>
            </li>
            <li class="clearfix subscription" layout-wrap ng-if="n.emailNotification === '@EmailSend.CanSend.GetStringValueLowerCase()' || n.emailNotification === '@EmailSend.Unsubscribe.GetStringValueLowerCase()'">
                <div class="box-data name ellipsis">@AccountResource.EmailNotification</div>
                <md-input-container flex-xs="100" flex-gt-xs="30">
                    <md-select md-container-class="dd-list" ng-model="n.emailNotification" ng-change="n.updateSubsription()" ga-track-event="['notifications', 'change email settings']">
                        <md-option value="@EmailSend.CanSend.GetStringValueLowerCase()">@AccountResource.EmailSettingsSubscribe</md-option>
                        <md-option value="@EmailSend.Unsubscribe.GetStringValueLowerCase()">@AccountResource.EmailSettingsUnsubscribe</md-option>
                    </md-select>
                </md-input-container>
            </li>
        </ul>
    </div>
</div>