@{
    ViewBag.Title = "PasswordUpdate.mobile";
    Layout = "~/Views/Shared/_LayoutStatic.mobile.cshtml";
}
@model Zbang.Cloudents.Mvc4WebRole.Models.Account.NewPassword
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

<div class="newPwd">
    <h1 class="boldFont">@ForgotPasswordResources.ChoosePwd</h1>

    @using (Html.BeginForm("PasswordUpdate", "Account", new {key=Request.QueryString["key"] }))
    {
               
        Html.RenderAction("AntiForgeryToken", "Home", true);
        @Html.ValidationSummary(true)

        @Html.LabelFor(m => m.Password)
        @Html.ValidationMessageFor(m=>m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "inputText", autofocus = "autofocus" });
                
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m=>m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputText" });
              
        <button type="submit" class="btn1">@ForgotPasswordResources.Submit</button>
            
    }
</div>

