@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="tab-pane" id="password">
    <form name="passwordForm" class="text-capitalize" novalidate ng-submit="p.submit(passwordForm)">
        <md-input-container>
            <label>@AccountResource.CurrentPassword</label>
            <input required name="old" minlength="6" type="password" ng-model="p.old" ng-focus="passwordForm.old.$setValidity('server', true);" />
            <div ng-messages="passwordForm.old.$error" ng-show="passwordForm.old.$dirty">
                <div ng-message="required">@GeneralResources.RequiredField</div>
                <div ng-message="minlength">@GeneralResources.TooShort</div>
                <div ng-message="server">{{p.error}}</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>@AccountResource.NewPassword</label>
            <input required minlength="6" name="new" type="password" ng-model="p.new" />
            <div ng-messages="passwordForm.new.$error" ng-show="passwordForm.new.$dirty">
                <div ng-message="required">@GeneralResources.RequiredField</div>
                <div ng-message="minlength">@GeneralResources.TooShort</div>
            </div>
        </md-input-container>
        <div class="text-right">
            <button type="reset" class="btn grey" ng-click="app.resetForm(passwordForm)">@GeneralResources.Cancel</button>
            <button type="submit" class="btn blue" ng-disabled="!passwordForm.$valid">@GeneralResources.SaveChanges</button>
        </div>
    </form>
</div>
