@model Zbang.Cloudents.Mvc4WebRole.Models.Account.NewPassword
@using Zbang.Cloudents.Mvc4WebRole.Models.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="login">
    <div class="content">
        @using (Html.BeginForm("passwordupdate", "account", new { key = Request.QueryString["key"] }, FormMethod.Post, new { @class = "password-update-form" }))
        {
            //Html.RenderAction("AntiForgeryToken", "Home", true);
            @Html.ValidationSummary(true)


            <h3 class="form-title">@AccountSettingsResources.ChoosePassword</h3>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control",required="required", autofocus = "autofocus", placeholder = @AccountSettingsResources.NewPassword })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m=>m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required", placeholder = @AccountSettingsResources.ConfirmPassword })
            </div>
            <div class="form-actions">
                <button type="submit" class="action-btn pull-right">
                    @GeneralResources.Submit
                </button>
                <a href="@Url.Action("index","home")" class="cancel-btn pull-right">
                    @GeneralResources.Cancel
                </a>
            </div>
            <div class="create-account"></div>
        }
    </div>
</div>
