@model Zbang.Cloudents.Mvc4WebRole.Models.Account.NewPassword
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div class="login">
        <div class="content">
            <form class="login-form" action="" method="post">
                @{ Html.RenderAction("AntiForgeryToken", "Home", true);}
                <h3 class="form-title">@LogOnResources.LoginToAccount</h3>
                @*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@

                <div id="login_alert_text" class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="@LogOnResources.Email" name="email" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="@LogOnResources.Password" name="password" />
                </div>
                <div class="form-actions">
                    @*<label class="checkbox">
                            <input type="checkbox" name="rememberMe" value="true" /> @LogOnResources.RememberMe
                        </label>*@

                    @*<div class="checkbox-design"></div>
                        <label class="remember-me" for="remember-me"></label>
                        <input type="checkbox" name="rememberMe" value="true" id="remember-me">
                        <span>Remember me</span>*@

                    <div class="checkbox-design">
                        <input type="checkbox" name="rememberMe" value="true" id="remember-me">
                        <label class="remember-me" for="remember-me"></label>
                        <span>@LogOnResources.RememberMe</span>
                    </div>


                    @* CHECKBOX *@

                    @*<label for="toggle-1">Do Something</label>
                        <input type="checkbox" id="toggle-1">
                        <div>Control me</div>*@



                    @* CHECKBOX END *@
                    <button type="submit" class="btn blue pull-right">
                        @LogOnResources.LogIn
                    </button>
                </div>
                <div class="forget-password">
                    <h4>@LogOnResources.ForgotYourPassword</h4>
                    <p>
                        @LogOnResources.NoWorries <a href="@Url.Action("ResetPassword","Account")" id="forget-password">
                            @LogOnResources.Here
                        </a>
                        @LogOnResources.ToResetPassword.
                    </p>
                </div>
                <div class="login-options">
                    <h4>@LogOnResources.OrLoginWith</h4>
                    <button type="button" class="google">@Html.Svg("/images/signin/loginOptions.svg", "google")</button>
                    <button type="button" class="facebook">@Html.Svg("/images/signin/loginOptions.svg", "facebook")</button>
                </div>
                <div class="create-account">
                    <p>
                        @LogOnResources.DontHaveAnAccount&nbsp; <a href="javascript:;" id="register-btn">
                            @LogOnResources.CreateAccount
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
