@{
    ViewBag.Title = @MobileResources.Password;
    Layout = "~/Views/Shared/_LayoutStatic.mobile.cshtml";
}

@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Account.ForgotPassword



<div class="forgot">
    <h1 class="boldFont">@ForgotPasswordResources.ForgotPassword</h1>
    <p>@ForgotPasswordResources.JustEnter</p>
     <p>@ForgotPasswordResources.LocateAccount</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.LabelFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)
        
        
        @Html.TextBoxFor(m => m.Email, new { @class = "inputText", autofocus = "autofocus", type="email" })
        <button type="submit" class="btn1">@ForgotPasswordResources.Submit</button>
        
        @Html.ValidationSummary(true)    
    }
</div>
@*@section script{
    <script>
        $('#h_back').show().addClass('left').attr('href', '/');
    </script>
}*@


