@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    ViewBag.Title = "Forgot Password | Cloudents";
}

@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Account.ForgotPassword

<div class="forgotPwd">
    <div class="staticTitle">@ForgotPasswordResources.ForgotPassword</div>
    <div class="staticWpr">
        <div class="innerContent">
            <p class="firstP">@ForgotPasswordResources.JustEnter</p>
            <p class="lastP">@ForgotPasswordResources.LocateAccount</p>
            
            @using (Html.BeginForm())
            {
                Html.RenderAction("AntiForgeryToken", "Home", true);
        
                @Html.LabelFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)

                @Html.TextBoxFor(m => m.Email, new { @class = "inputText", autofocus="autofocus"})
                <input id="submitBtn" type="submit" class="btn1" value="@ForgotPasswordResources.Submit"/>
 
                @Html.ValidationSummary(true)    
            }
        </div>
    </div>
</div>
@section scripts
{
<script>
    $(document).on('invalid-form.validate', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.removeAttr('disabled');
        }, 1);
    });
    $(document).on('submit', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.attr('disabled', 'disabled');
        }, 0);
    });
</script>
  
}
