@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

<div class="accountPage-wrapper">
    <div class="page-head">
        <div class="page-title">
            <h1>@Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources.IndexResources.Settings</h1>
        </div>
    </div>
    <md-tabs class="page-tabs">
        <md-tab ui-sref="settings.profile" md-active="a.isActiveState('settings.profile')">
            <md-tab-label>@AccountResource.ProfileAccount</md-tab-label>
        </md-tab>
        <md-tab ng-if="a.canChangePassword" ui-sref="settings.password" md-active="a.isActiveState('settings.password')">
            <md-tab-label>@AccountResource.ChangePassword</md-tab-label>
        </md-tab>
        
        <md-tab ui-sref="settings.notification" md-active="a.isActiveState('settings.notification')">
            <md-tab-label>@AccountResource.Notifications</md-tab-label>
        </md-tab>
        <md-tab ui-sref="settings.department" md-active="a.isActiveState('settings.department')">
            <md-tab-label>@AccountResource.Department</md-tab-label>
        </md-tab>
    </md-tabs>
    <div class="page-animation" ui-view></div>
</div>


