@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<div class="login">
    <div class="wrapper">
        <div class="logo">
            <a href="@Url.Action("Index", "Account")">
                @Html.Svg("~/images/site/icons.svg", "logo")
                @*<img src="~/Images/signin/signup_logo.png" alt="" />*@
            </a>
        </div>

        <div class="content" style="display:none;">
            <form class="login-form" action="" method="post">
                @*@{ Html.RenderAction("AntiForgeryToken", "Home", true);}*@
                <h3 class="form-title">@LogOnResources.LoginToAccount</h3>

                <div id="login_alert_text" class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <div class="form-group">
                    <input class="form-control" required type="email" placeholder="@LogOnResources.Email" name="email" />
                </div>
                <div class="form-group">
                    <input class="form-control" required type="password" placeholder="@LogOnResources.Password" name="password" />
                </div>
                <div class="form-actions">
                    <div class="checkbox-design">
                        @Html.CheckBox("RememberMe", true, new { id = "rememberMe" })
                        <label class="remember-me" for="rememberMe"></label>
                        <label for="rememberMe">@LogOnResources.RememberMe</label>
                    </div>

                    <button type="submit" class="btn button-Blue btn-primary pull-right">
                        @LogOnResources.LogIn
                    </button>
                </div>
                <div class="forget-password">
                    <h4>@LogOnResources.ForgotYourPassword</h4>
                    <p>
                        @LogOnResources.NoWorries <span id="forget-password">
                            @LogOnResources.Here
                        </span>
                        @LogOnResources.ToResetPassword.
                    </p>
                </div>
                <div class="login-options">
                    <h4>@LogOnResources.OrLoginWith</h4>
                    <button type="button" class="google">@Html.Svg("/images/signin/loginOptions.svg", "google")</button>
                    <button type="button" class="facebook">@Html.Svg("/images/signin/loginOptions.svg", "facebook")</button>
                </div>
                <div class="create-account">
                    <p>
                        @LogOnResources.DontHaveAnAccount&nbsp; <a href="javascript:;" id="register-btn">
                            @LogOnResources.CreateAccount
                        </a>
                    </p>
                </div>
            </form>


            <form id="f-forgot-password" class="forgot-password-form" action="" method="post" style="display:none;">
                <h3 class="form-title">
                    @LogOnResources.ForgotYourPassword
                </h3>
                <div id="resetPassword_alert_text" class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <div class="text">
                    <p>@AccountResource.EmailToReset</p>
                </div>
                <div class="form-group">
                    <input class="form-control" required type="email" placeholder="@LogOnResources.Email" name="email" />
                </div>
                <div class="form-actions">
                    <button type="reset" class="btn btn-default pull-right cancel">@GeneralResources.Cancel</button>
                    <button type="submit" class="btn button-Blue btn-primary pull-right">@GeneralResources.Submit</button>
                </div>
                <div class="create-account"></div>
            </form>

            <div class="check-email-message" style="display:none;">
                <h3 class=" form-title">
                    @LogOnResources.CheckEmailTitle
                </h3>
                <div class="text">
                    <p>@AccountResource.EmailedPassword<br />@AccountResource.ResetInstructions</p>
                    @Html.Svg("/images/Site/icons.svg", "info")
                    <p>
                        <span class="bold">@AccountResource.DidntReceivedEmail</span><br />
                        @AccountResource.CheckEmailSpam<br />

                        <button id="resendRequest">@AccountResource.AnotherRequest</button>
                    </p>
                </div>
                <div class="create-account"></div>
            </div>

            <form class="register-form" action="" method="post">
                @*@{ Html.RenderAction("AntiForgeryToken", "Home", true);}*@
                <h3>@LogOnResources.CreateAccount</h3>
                <div id="register_alert_text" class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <div class="form-group first">
                    <input class="form-control" type="text" required placeholder="@AccountResource.First" name="firstName" />
                </div>
                <div class="form-group second">
                    <input class="form-control" type="text" required placeholder="@SharedResources.LastName" name="lastName" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" required placeholder="@LogOnResources.Email" name="NewEmail" id="register_email" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" required autocomplete="off" placeholder="@LogOnResources.Password" name="Password" />
                </div>

                <div class="form-actions-container" layout="row" layout-align="center center">
                    <div class="form-group">
                        <label>
                            @RegisterResources.IAgree
                            <a class="tos" target="_blank" href="@Url.RouteUrl("TOS")">&nbsp;@RegisterResources.TermsOfServices</a>&nbsp;@RegisterResources.And&nbsp;<a target="_blank" href="@Url.RouteUrl("Privacy")">@RegisterResources.PrivacyPolicy</a>&nbsp;@RegisterResources.ofZbang
                        </label>
                    </div>

                    <div class="form-actions">
                        <button type="submit" id="register-submit-btn" class="btn button-Blue btn-primary">
                            @LogOnResources.SignUp
                        </button>
                    </div>
                </div>

                <div class="login-options">
                    <h4>@LogOnResources.OrSignupWith</h4>
                    <button type="button" class="google">@Html.Svg("/images/signin/loginOptions.svg", "google")</button>
                    <button type="button" class="facebook">@Html.Svg("/images/signin/loginOptions.svg", "facebook")</button>
                </div>
                <div class="login-account">
                    <p>
                        @LogOnResources.AlreadyHave&nbsp;<a href="javascript:;" id="login-btn">@SharedResources.SignIn</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
        });
    </script>
}
