@{
    Layout = null;
}

@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Culture;

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    @{Html.RenderPartial("_Head");}
    @Html.Css2("signin")

    <meta name="google-signin-client_id" content="997823384046-ddhrphigu0hsgkk1dglajaifcg2rggbm.apps.googleusercontent.com">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-md login @Html.ClassOfRtl()">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="@Url.Action("Index","Account")">
            <img src="~/Images/signin/signup_logo.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="content" style="display:none;">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="" method="post">
            <h3 class="form-title">@LogOnResources.LoginToAccount</h3>
            <div class="login-options">
                <button type="button" class="facebook"><img src="~/Images/signin/facebook.svg" alt="Facebook" title="Facebook" /> @LogOnResources.Facebook</button>
                <button type="button" class="google"><img src="~/Images/signin/facebook.svg" alt="Facebook" title="Facebook" /> Google</button>
            </div>
            
            @*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@

            <div id="login_alert_text" class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span></span>
            </div>
            <div class="form-group">
                <h4>@LogOnResources.OrLoginWith</h4>
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">@LogOnResources.Email</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="@LogOnResources.Email" name="email" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@LogOnResources.Email</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@LogOnResources.Password" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" /> @LogOnResources.RememberMe
                </label>
                <button type="submit" class="btn blue pull-right">
                    @LogOnResources.LogIn <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="forget-password">
                <h4>@LogOnResources.ForgotYourPassword</h4>
                <p>
                    @LogOnResources.NoWorries <a href="@Url.Action("ResetPassword","Account")" id="forget-password">
                        @LogOnResources.Here
                    </a>
                    @LogOnResources.ToResetPassword.
                </p>
            </div>
            <div class="create-account">
                <p>
                    @LogOnResources.DontHaveAnAccount&nbsp; <a href="javascript:;" id="register-btn">
                        @LogOnResources.CreateAccount
                    </a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        @*<!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="forget-form" action="index.html" method="post">
                <h3>Forget Password ?</h3>
                <p>
                    Enter your e-mail address below to reset your password.
                </p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
                    <button type="submit" class="btn blue pull-right">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
            <!-- END FORGOT PASSWORD FORM -->*@
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="" method="post">
            <h3>@LogOnResources.CreateAccount</h3>
            <div class="login-options">
                <button type="button" class="facebook"><img src="~/Images/signin/facebook.svg" alt="Facebook" title="Facebook" /> @LogOnResources.FacebookSignUp</button>
                <button type="button" class="google"><img src="~/Images/signin/facebook.svg" alt="Facebook" title="Facebook" /> Google</button>
            </div>
            <div id="register_alert_text" class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span></span>
            </div>
            <div class="form-group">
                <h4>@LogOnResources.OrSignupWith</h4>
                <label class="control-label visible-ie8 visible-ie9">@SharedResources.FirstName</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="@SharedResources.FirstName" name="firstname" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@SharedResources.LastName</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="@SharedResources.LastName" name="lastname" />
                </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">@SharedResources.Email</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="@SharedResources.Email" name="email" id="register_email" />
                </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">@RegisterResources.VerifyEmail</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="@RegisterResources.VerifyEmail" name="confirmemail" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@LogOnResources.Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@LogOnResources.Password" name="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-globe"></i>
                    <select class="bs-select form-control" id="lang_select">
                        <option value="en-us" data-href="@Url.Action("Signup","Account", new { lang = "en-US"})">@Languages.EnglishUsName</option>
                        <option value="en-uk" data-href="@Url.Action("Signup", "Account", new { lang = "en-UK" })">@Languages.EnglishGbName</option>
                        <option value="he-il" data-href="@Url.Action("Signup", "Account", new { lang = "he-IL" })">@Languages.HebrewName</option>
                        <option value="ru-ru" data-href="@Url.Action("Signup", "Account", new { lang = "ru-RU" })">@Languages.RussianName</option>
                        <option value="ar-ae" data-href="@Url.Action("Signup", "Account", new { lang = "ar-AE" })">@Languages.ArabicName</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>
                    @RegisterResources.IAgree
                    <a class="tos" target="_blank" href="@Url.Action("TermsOfService", "Home")">&nbsp;@RegisterResources.TermsOfServices</a>&nbsp;@RegisterResources.And&nbsp;<a target="_blank" href="@Url.Action("Privacy", "Home")">@RegisterResources.PrivacyPolicy</a>&nbsp;@RegisterResources.ofZbang
                </label>
            </div>
            <div class="form-actions pull-right">
                @*<button id="register-back-btn" type="button" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>*@
                <button type="submit" id="register-submit-btn" class="btn blue">
                    @LogOnResources.SignUp <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="login-account">
                <p>
                    @LogOnResources.AlreadyHave&nbsp;<a href="javascript:;" id="login-btn">@SharedResources.SignIn</a>
                </p>
            </div>

        </form>
        <!-- END REGISTRATION FORM -->
    </div>

    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    @*<div class="copyright">
            2014 &copy; Metronic - Admin Dashboard Template.
        </div>*@
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Html.Script2("signin")
    @Html.JqueryValidateLocale()
    <script src="https://apis.google.com/js/platform.js" onload="googleLoad()" async defer></script>
    <script>
        function googleLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '450314258355338',
                status: true,
                cookie: true,
                xfbml: true,
                version: 'v2.4'
            });
        };
        (function (d) {
            var js, id = 'facebook-jssdk';
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
      
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-9850006-3', 'auto');
        ga('send', 'pageview');
       
       
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();
            // init background slide images
            $.backstretch([
             "/images/signin/1a.png",
             "/images/signin/2a.png",
             "/images/signin/3a.png"
            ], {
                fade: 1000,
                duration: 8000
            }
         );
        });

        
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>