@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources

<div layout="row" layout-align="center center" flex="none">
    @*TODO remove that*@
    <button type="button" toggle-chat user-not-register-popup="click" class="chat-icon" hide-gt-sm>
        <md-icon md-svg-icon="t:chat"></md-icon>
        <div class="chat-counter"></div>
    </button>
    <md-menu class="user-md-menu" hide-xs md-offset="10 80">
        <md-button ng-click="$mdOpenMenu($event)" aria-label="Open menu">
            <div class="md-icon-button">
                <md-icon md-menu-origin>
                    <user-image class="img-circle" name="ud.name" image="ud.image" width="39" height="39" noremove="true"></user-image>
                </md-icon>
                <span ng-bind="::ud.score | megaNumber"></span>&#x25CF;<ng-pluralize count="ud.badges" when="{
                                                                                     'one': '{} @GamificationResources.Badge',
                                                                                     'two': '{} @GamificationResources.Badges',
                                                                                     'other' : '{} @GamificationResources.Badges'
                                                                                     }"></ng-pluralize>
            </div>
        </md-button>
        <md-menu-content md-menu-align-target class="md-user-menu">
            <md-menu-item class="user-menu-item">
                <a class="md-button" ui-sref="user({userId:ud.id, userName:ud.name})" ga-track-event="['header', 'user activities']">
                    <md-icon md-menu-align-target md-svg-icon="t:userMenu"></md-icon>
                    @IndexResources.User
                </a>
            </md-menu-item>
            <md-menu-item class="user-menu-item">
                <md-button href="@Url.RouteUrl("AccountSettings")" ga-track-event="['header', 'settings']">
                    <md-icon md-menu-align-target md-svg-icon="t:settingMenu"></md-icon>
                    @IndexResources.Settings
                </md-button>
            </md-menu-item>
            <md-menu-item class="user-menu-item">
                <md-button id="Intercom" href="mailto:njmpgayv@incoming.intercom.io">
                    <md-icon md-menu-align-target md-svg-icon="t:intercom"></md-icon>
                    @IndexResources.Intercom
                </md-button>
            </md-menu-item>
            <md-menu-item class="user-menu-item">
                <md-button href="@Url.RouteUrl("Help")" target="_self" ga-track-event="['header', 'help']">
                    <md-icon md-menu-align-target md-svg-icon="t:headerHelp"></md-icon>
                    @SharedResources.Help
                </md-button>
            </md-menu-item>
            <md-menu-item class="user-menu-item">
                <md-button ng-click="ud.logOut()" target="_self" href="@Url.Action("logoff", "account")" ga-track-event="['header', 'logout']">
                    <md-icon md-menu-align-target md-svg-icon="t:logOffMenu"></md-icon>
                    @IndexResources.Logout
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>

