@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

@section Header
{
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
}

@{
    ViewBag.url = Url.Action("Index", "Account");
}
<div class="specialPage">
    <div class="verifyAccount">@VerifyAccountResources.VerifyAccount</div>
    <div>@VerifyAccountResources.ToVerifyAccount</div>
    @VerifyAccountResources.IfYouDontReceive&nbsp
    <a href="@Url.Action("ResendEmailVerification")">@VerifyAccountResources.Resend</a>&nbsp
    @VerifyAccountResources.TheInstructions
</div>
