@model string
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Get better at studies, access teachers and experts online to help you out with your difficulties, preparation, homework and more!";
    ViewBag.fbImage = ViewBag.fbImage ?? "/images/3rdParty/fbShare_Frymo.jpg";
    ViewBag.imageSrc = ViewBag.imageSrc ?? "/images/3rdParty/fbShare_Frymo.jpg";
    ViewBag.title = ViewBag.title ?? "Study smarter, go digital with Frymo";
}
<title>@ViewBag.title</title>
<meta name="title" content="@ViewBag.title" />
<meta name="description" content="@ViewBag.metaDescription" />
<link rel="image_src" href="@ViewBag.imageSrc" />
<meta property="fb:app_id" content="450314258355338" />
<meta property="og:site_name" content="Frymo" />
<meta property="og:image" content="@("https://" +Context.Request.Host + ViewBag.fbImage)" />
<meta property="og:description" content="@ViewBag.metaDescription" />
<meta property="og:title" content="@ViewBag.title" />
<meta property="og:url" content="@Context.Request.GetEncodedUrl()" />
<meta property="og:type" content="website" />

<link rel="apple-touch-icon" sizes="57x57" href="@Model/Images/frymoFavIcons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="@Model/Images/frymoFavIcons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="@Model/Images/frymoFavIcons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="@Model/Images/frymoFavIcons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="@Model/Images/frymoFavIcons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="@Model/Images/frymoFavIcons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="@Model/Images/frymoFavIcons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="@Model/Images/frymoFavIcons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="@Model/Images/frymoFavIcons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="@Model/Images/frymoFavIcons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="@Model/Images/frymoFavIcons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="@Model/Images/frymoFavIcons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="@Model/Images/frymoFavIcons/favicon-16x16.png">
<link rel="manifest" href="@Model/Images/frymoFavIcons/manifest.json">
<meta name="msapplication-itemColor" content="#ffffff">
<meta name="msapplication-itemImage" content="@Model/Images/frymoFavIcons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

