@using System.Reflection
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    const string themeColor = "#4190b";
    ViewBag.title = ViewBag.title ?? "Spitball";
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Join the social studying revolution at Spitball";
    ViewBag.fbImage = ViewBag.fbImage ?? "/images/3rdParty/fbShare.png";
    ViewBag.imageSrc = ViewBag.imageSrc ?? "/images/3rdParty/fbShare.png";

}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.title</title>

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <base href="~/" />
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>

    <meta charset="utf-8">
    <meta name="theme-color" content="@themeColor">
    <meta name="msapplication-navbutton-color" content="@themeColor">
    <meta name="apple-mobile-web-app-status-bar-style" content="@themeColor">
    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="@ViewBag.metaDescription" />

    <meta name="apple-itunes-app" content="app-id=990911114">
    <link rel="image_src" href="@ViewBag.imageSrc" />

    <meta property="fb:app_id" content="450314258355338" />
    <meta property="og:site_name" content="Spitball" />
    <meta property="og:image" name="og:image" content="@ViewBag.fbImage" />
    <meta property="og:description" name="og:description" content="@ViewBag.metaDescription" />
    <meta property="og:title" name="og:title" content="@ViewBag.title" />
    <meta property="og:url" content="https://www.spitball.co/@Context.Request.Path" />
    <meta property="og:type" content="website" />
    <link href="https://plus.google.com/116999550356569810034" rel="publisher" />

    <link rel="apple-touch-icon" sizes="57x57" href="Images/favIcons/favicon_114.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/favIcons/favicon_57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/favicon_60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/favicon_72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/favicon_76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/favicon_114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/favicon_120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/favicon_144.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/favicon_96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicons/favicon_16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script>
        (function () {
            var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else {
                var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() {
                    var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true;
                    s.src = 'https://widget.intercom.io/widget/njmpgayv';
                    var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); }
            }
            Intercom('boot', { app_id: 'njmpgayv' })
        })()
    </script>
    <script>
    window.version = '@Assembly.GetEntryAssembly().GetName().Version.ToString(3)';
    </script>
    @await RenderSectionAsync("scripts", required: false).ConfigureAwait(false)
</body>
</html>
