@model string
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewBag.metaDescription = ViewBag.metaDescription ?? "עזרה בשיעורי בית והכנה למבחנים? מאות אלפי סיכומים ומורים פרטיים לכל המקצועות ";
    ViewBag.ogImage = ViewBag.imageSrc ?? "https://" +Context.Request.Host + "/images/3rdParty/fbShare.jpg";

    ViewBag.ogImageWidth = ViewBag.ogImageWidth ?? 1493;
    ViewBag.ogImageHeight = ViewBag.ogImageHeight ?? 939;

    const string themeColor = "#4190b";
    ViewBag.title = ViewBag.title ?? "להצליח במבחנים בעזרת מיטב הסיכומים והמורים הפרטיים | ספיטבול";
}
<title>@ViewBag.title</title>
<meta name="theme-color" content="@themeColor">

<meta name="msapplication-navbutton-color" content="@themeColor">
<meta name="apple-mobile-web-app-status-bar-style" content="@themeColor">
<meta name="title" content="@ViewBag.title" />
<meta name="description" content="@ViewBag.metaDescription" />
@*<link rel="image_src" href="@ViewBag.imageSrc" />*@
<meta property="fb:app_id" content="450314258355338" />
<meta property="og:site_name" content="Spitball" />
<meta property="og:image" content="@ViewBag.ogImage" />
<meta property="og:image:width" content="@ViewBag.ogImageWidth"/>
<meta property="og:image:height" content="@ViewBag.ogImageHeight" />
<meta property="og:description" content="@ViewBag.metaDescription" />
<meta property="og:title" content="@ViewBag.title" />
<meta property="og:url" content="@Context.Request.GetEncodedUrl()" />
<meta property="og:type" content="website" />
<link href="https://plus.google.com/116999550356569810034" rel="publisher" />


<link rel="apple-touch-icon" sizes="57x57" href="@Model/images/favIcons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="@Model/images/favIcons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="@Model/images/favIcons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="@Model/images/favIcons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="@Model/images/favIcons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="@Model/images/favIcons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="@Model/images/favIcons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="@Model/images/favIcons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="@Model/images/favIcons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="@Model/images/favIcons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="@Model/images/favIcons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="@Model/images/favIcons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="@Model/images/favIcons/favicon-16x16.png">
<link rel="manifest" href="@Model/images/favIcons/manifest.json">
<meta name="msapplication-itemColor" content="#ffffff">
<meta name="msapplication-itemImage" content="@Model/images/favIcons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


