@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

<div id="welcomeDialog">
    <div class="popupWrppr welcome">
        <button type="button" class="closeDialog"></button>
        <button type="button" class="btnPrev"></button>
        <button type="button" class="btnNext"></button>
        <div class="step1" data-step="">
            <div class="welcomeHeader1">@WelcomeResources.step1Header</div>
            <div>@WelcomeResources.step1Text</div>
        </div>
        <div class="step2" data-step="">
            <div class="welcomeHeader2">@WelcomeResources.step2Header</div>
            <div class="section1 find">
                <div class="sectionDiv boldFont">@WelcomeResources.step2FindTitle</div>
                @WelcomeResources.step2FindText 
            </div>
            <div class="section2 follow">
                <div class="sectionDiv boldFont">@WelcomeResources.step2FollowTitle</div>
                @WelcomeResources.step2FollowText
            </div>

        </div>
        <div class="step3" data-step="">
            <div class="welcomeHeader2">@WelcomeResources.step3Header</div>
            <div class="section1 wellUpload">
                <div class="sectionDiv boldFont">@WelcomeResources.step3UploadTitle</div>
                @WelcomeResources.step3UploadText
            </div>
            <div class="section2 wellDiscuss">
                <div class="sectionDiv boldFont">@WelcomeResources.step3DiscussTitle</div>
                <span>@WelcomeResources.step3DiscussText</span>
            </div>
        </div>
        <div class="step4" data-step="">           
            <input type="button" id="wellClose" class="closeBtn cancel" value="@WelcomeResources.Close" />
            <div class="welcomeHeader2">@WelcomeResources.step4Header</div>
            <div class="section1 welInv">
                <div class="sectionDiv boldFont">@WelcomeResources.step4InviteTitle</div>
                @WelcomeResources.step4InviteText
            </div>
            <div class="section2 welSoc">
                <div class="sectionDiv boldFont">@WelcomeResources.step4SocialTitle</div>
                @WelcomeResources.step4SocialText
            </div>
        </div>
        <div class="radioBtns">
            <input id="rad1" type="radio" name="welcome" checked /><label for="rad1"></label>
            <input id="rad2" type="radio" name="welcome" /><label for="rad2"></label>
            <input id="rad3" type="radio" name="welcome" /><label for="rad3"></label>
            <input id="rad4" type="radio" name="welcome" /><label for="rad4"></label>
        </div>
    </div>
    
    <div class="modal2"></div>
</div>