@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.Title = "About Us | Spitball";
}

<div class="aboutUs-page">
    <div class="row margin-bottom-40 about-header">
        <div class="col-md-12">
            <h1>@AboutUsResources.Title</h1>
            <h2>@AboutUsResources.Subtitle</h2>
        </div>
    </div>
    <div class="advantages row margin-bottom-20">
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon web">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "web")
                </div>
                <div class="card-title">
                    <span>@HomePageResources.B3</span>
                </div>
                <div class="card-desc">
                    <span>
                        @HomePageResources.B4
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon speech">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "speech")
                </div>
                <div class="card-title">
                    <span>@HomePageResources.B5</span>
                </div>
                <div class="card-desc">
                    <span>
                        @HomePageResources.B6
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon social-network">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "social-network")
                </div>
                <div class="card-title">
                    <span>@HomePageResources.B7</span>
                </div>
                <div class="card-desc">
                    <span>
                        @HomePageResources.B8
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="card-icon hand">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "hand214")
                </div>
                <div class="card-title">
                    <span>@HomePageResources.B9</span>
                </div>
                <div class="card-desc">
                    <span>
                        @HomePageResources.B10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-area margin-bottom-40" layout="row" layout-align="space-between start" layout-wrap>
        <div class="about-text-wrapper" flex-xs="100" flex-gt-xs="45">
            <div class="portlet light about-text">
                <h4>
                    @AboutUsResources.DescriptionQ1
                </h4>
                <div>
                    <p>
                        @AboutUsResources.DescriptionA1
                    </p>
                </div>
                <h4>
                    @AboutUsResources.DescriptionQ2
                </h4>
                <div>
                    <p>
                        @AboutUsResources.DescriptionA2
                    </p>
                </div>
                <h4>
                    @AboutUsResources.DescriptionQ3
                </h4>
                <div>
                    <p>
                        @AboutUsResources.DescriptionA3
                    </p>
                </div>
                <h4>
                    @AboutUsResources.DescriptionQ4
                </h4>
                <div>
                    <p>
                        @AboutUsResources.DescriptionA4
                    </p>
                </div>
            </div>
        </div>
        <div flex-xs="100" flex-gt-xs="50">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/69daYsNqNUA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-40 team-header" data-auto-height="true">
        <div class="col-md-12 margin-top-20">
            <h1>@AboutUsResources.TeamHeader</h1>
        </div>
    </div>
    <div class="row margin-bottom-40 team">
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/eidan.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamCEOName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamCEO</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/matan.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamCOOName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamCOO</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/ram.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamCTOName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamCTO</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/shlomi.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamDesignerName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamDesigner</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/irena.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamWebDevName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamWebDev</span>
                </div>
            </div>
        </div>
    </div>
</div>

