@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.Title = "About Us | Spitball";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="static-page">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title text-capitalize">@HomeResources.ModalTitle</h4>
                </div>
                <div class="modal-body">
                    @HomeResources.WidgetSettings
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">@HomeResources.SaveChanges</button>
                    <button type="button" class="btn default" data-dismiss="modal">@HomeResources.Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <!-- BEGIN PAGE TITLE -->

    <h1>@GeneralResources.AboutUs</h1>

    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->

    <!-- END PAGE TOOLBAR -->
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div>
        <p>The thext will go here</p>
    </div>
</div>
<!-- END PAGE CONTENT-->
