@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<div class="aboutUs-page static-page">
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{Html.RenderPartial("_StaticPageNav");}
    <div class="page-content">
        <div class="middle-area" layout="row" layout-align="space-between start" layout-wrap>
            <div class="about-text-wrapper" flex="100" flex-gt-sm="45">
                <div class="portlet light about-text">
                    <h1 class="headline">@AboutUsResources.DescriptionQ1</h1>
                    <div class="content">
                        <div>
                            <span style="white-space:pre-line;">@AboutUsResources.DescriptionA1a</span>
                            <a href="@Url.RouteUrl("Features")">@AboutUsResources.DescriptionA1b</a>
                            @AboutUsResources.DescriptionA1c
                            <a href="@Url.RouteUrl("Courses")">@GeneralResources.Courses</a>
                            @AboutUsResources.DescriptionA1e
                            <a href="@Url.RouteUrl("ClassNotes")">@AboutUsResources.DescriptionA1f</a>
                            @AboutUsResources.DescriptionA1g
                    </div>
                </div>
                <h2 class="headline">@AboutUsResources.DescriptionQ2</h2>
                <div class="content">
                    <div style="white-space:pre-line;">@AboutUsResources.DescriptionA2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-header" data-auto-height="true">
        <div flex-md="100">
            <h2 class="headline">@AboutUsResources.TeamHeader</h2>
        </div>
    </div>
    <div class="team layout-wrap layout-align-space-between-start layout-row">
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/eidan.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamCEOName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamCEO</span>
                </div>
            </div>
        </div>
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/ram.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamCTOName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamCTO</span>
                </div>
            </div>
        </div>
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/shlomi.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamDesignerName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamDesigner</span>
                </div>
            </div>
        </div>

        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="photo">
                    <img src="/images/aboutUs/irena.png" alt="" class="img-responsive" />
                </div>
                <div class="title">
                    <span>@AboutUsResources.TeamWebDevName</span>
                </div>
                <div class="desc">
                    <span>@AboutUsResources.TeamWebDev</span>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages layout-wrap layout-align-space-between-start layout-row">
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="card-icon web">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "web")
                </div>
                <div class="card-data">
                    <div class="card-title">
                        <span>@HomePageResources.B3</span>
                    </div>
                    <div class="card-desc">
                        <span>
                            @HomePageResources.B4a
                            <a href="@Url.RouteUrl("Apps")">@HomePageResources.B4b</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="card-icon speech">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "speech")
                </div>
                <div class="card-data">
                    <div class="card-title">
                        <span>@HomePageResources.B5</span>
                    </div>
                    <div class="card-desc">
                        <span>
                            @HomePageResources.B6
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="card-icon social-network">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "social-network")
                </div>
                <div class="card-data">
                    <div class="card-title">
                        <span>@HomePageResources.B7</span>
                    </div>
                    <div class="card-desc">
                        <span>
                            @HomePageResources.B8
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-50 flex-gt-md-25 flex-xs-100">
            <div class="portlet light">
                <div class="card-icon hand">
                    @Html.Svg("/images/homepage2/homePageIcons.svg", "hand214")
                </div>
                <div class="card-data">
                    <div class="card-title">
                        <span>@HomePageResources.B9</span>
                    </div>
                    <div class="card-desc">
                        <span>
                            @HomePageResources.B10
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
