@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="static-page apps-page">
    <div class="top-image">
        <div class="text"></div>
    </div>
    <section class="download-app">
        <div class="section-wrapper">
            <div class="text-wrapper">
                <div>
                    <h1>@StaticPagesResources.AppsTitle</h1>
                    <h2>@StaticPagesResources.AppsSubtitle</h2>
                </div>
                <div class="app-links">
                    <a target="_blank" href="https://itunes.apple.com/app/id990911114?utm_source=SB%20Homepage&utm_medium=Apple%20IOS%20App&utm_campaign=HomePage" class="appSotre os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    </a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.cloudents.zbox2&utm_source=SB%20Homepage&utm_medium=Google%20play%20App&utm_campaign=HomePage" class="googlePlay os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                    </a>
                </div>

            </div>
            <div class="phone-wrapper">
                <img src="@Url.CdnContent("~/Images/HomePage2/app_mobile.png")" alt="Download the spitball app"/>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="wrapper">
            <img src="@Url.CdnContent("~/Images/HomePage2/app_screen1.png?v=2")" alt="Find your school on spitball" />
            <div class="text">
                <h3>@StaticPagesResources.AppsSectionTitle1</h3>
                <div class="description">
                    @StaticPagesResources.AppsSectionText1A
                    <a href="@Url.RouteUrl("ClassNotes")">@StaticPagesResources.AppsSectionText1B</a>
                    @StaticPagesResources.AppsSectionText1C
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="wrapper">
            <img src="@Url.CdnContent("~/Images/HomePage2/app_screen2.png?v=2")" alt="Get input from your peers on Spitball" />
            <div class="text">
                <h3>@StaticPagesResources.AppsSectionTitle2</h3>
                <div class="description">@StaticPagesResources.AppsSectionText2</div>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="wrapper">
            <img src="@Url.CdnContent("~/Images/HomePage2/app_screen3.png")" alt="Access thousands of class notes on Spitball" />
            <div class="text">
                <h3>
                    @StaticPagesResources.AppsSectionTitle3A
                <a href="@Url.RouteUrl("ClassNotes")">@StaticPagesResources.FeaturesDescriptionB</a>
            </h3>
                <div class="description">@StaticPagesResources.AppsSectionText3</div>
            </div>
        </div>
    </section>
</div>