@model IEnumerable<Zbang.Zbox.ViewModel.Dto.ItemDtos.ItemDto>

@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";

}
<div class="static-page class-notes-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.ClassNotesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>
            @StaticPagesResources.ClassNotesSubtitleA
            <a href="@Url.RouteUrl("signup")" target="_blank">@StaticPagesResources.SignUpForFree</a>
            @StaticPagesResources.ClassNotesSubtitleB
        </h2>
        <ul class="items">

            @foreach (var item in Model)
            {
                <li>
                    <a class="clearfix item" href="@item.Url">
                        <div class="wrapper">
                            <div class="data">
                                <img data-source="@item.Source" src="" width="368" height="520" alt="@item.Name" />
                                <div class="extra">
                                    <h3 class="item-name multi-line-ellipsis">@item.Name</h3>
                                </div>
                            </div>
                            <div class="stats">
                                <div>
                                    @item.NumOfViews<svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                                </div>
                                <div>
                                    @item.Likes <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
