@*@model IEnumerable<Zbang.Zbox.ViewModel.Dto.ItemDtos.ItemDto>*@

@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    var lang = (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "he") ? "he" : "en";


}
<div class="static-page class-notes-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.ClassNotesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>
            @StaticPagesResources.ClassNotesSubtitleA
            <a href="@Url.RouteUrl("signup")" target="_blank">@StaticPagesResources.SignUpForFree</a>
            @StaticPagesResources.ClassNotesSubtitleB
        </h2>
        <div class="gallery-images">
            <ul class="thumbnails">
                @{
                    for (var i = 1; i < 20; i++)
                    {
                        <li id="thumb-@i">
                            <img src="@Url.CdnContent("~/images/ClassNotes/thumbnails/" + @lang +"/"+ @i + ".png")" data-image="@Url.CdnContent("~/images/ClassNotes/items/" + @lang +"/" + @i + ".png")" alt="Class note thumbnail" />
                        </li>
                    }
                    <li class="signup-container">
                        <div>
                            <span>@StaticPagesResources.ClassNotesFindDocText</span>
                            <a class="sign-up" href="@Url.RouteUrl("signup")">@StaticPagesResources.CoursesSigningUp</a>
                        </div>
                    </li>
                    <li></li>
                }
            </ul>
        </div>
    </div>
</div>
