@*@model IEnumerable<Zbang.Zbox.ViewModel.Dto.ItemDtos.ItemDto>*@

@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";

}
<div class="static-page class-notes-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.ClassNotesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>
            @StaticPagesResources.ClassNotesSubtitleA
            <a href="@Url.RouteUrl("signup")" target="_blank">@StaticPagesResources.SignUpForFree</a>
            @StaticPagesResources.ClassNotesSubtitleB
        </h2>
        <div class="gallery-images">
            <ul class="thumbnails">
                @{
                    for (var i = 1; i < 21; i++)
                    {
                        <li id="thumb-@i">
                            <img src="@Url.CdnContent("~/images/ClassNotes/thumbnails/" + @i + ".png")" data-image="@Url.CdnContent("~/images/ClassNotes/items/" + @i + ".png")" alt="Class note thumbnail" />
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
