@model IEnumerable<Zbang.Zbox.ViewModel.Dto.BoxDtos.RecommendBoxDto>

@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";

}
<div class="static-page courses-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.CoursesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>
            @StaticPagesResources.CoursesSubtitleA
            <a href="@Url.RouteUrl("homePage",new {step="signup"})">@StaticPagesResources.SignUpForFree</a>
            @StaticPagesResources.CoursesSubtitleB
        </h2>
        <div class="boxes">
            @foreach (var box in Model)
            {
                var boxClass = "color" + (box.Name.Length) % 11;
                <a href="@box.Url" class="box os-animation box-style" data-os-animation="fadeIn" data-os-animation-delay="0.1s">

                    <h2 class="@boxClass">@box.Name</h2>
                    <div class="course-info">
                        <div class="lecturer">@box.Professor</div>
                        <div class="course-num">@box.CourseCode</div>
                    </div>
                    <hr class="background @boxClass" />
                    <div class="box-info">
                        <div>@box.MembersCount&nbsp;@GeneralResources.Members</div>
                        <div>@box.ItemCount&nbsp;@IndexResources.Items</div>
                    </div>

                </a>
            }
            
            <div href="@Url.RouteUrl("homePage",new {step="signup"})" class="box os-animation signup-container" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                <div>
                    <div>@StaticPagesResources.CoursesExtra</div>&nbsp;<a class="sign-up" href="@Url.RouteUrl("homePage",new {step="signup"})">@StaticPagesResources.CoursesSigningUp</a>
                </div>
            </div>
           
        </div>

    </div>
</div>
