@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="static-page features-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.FeaturesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>@StaticPagesResources.FeaturesSubTitle</h2>
        <div class="description">
            @StaticPagesResources.FeaturesDescriptionA
            <a href="@Url.RouteUrl("ClassNotes")">@StaticPagesResources.FeaturesDescriptionB</a>
            @StaticPagesResources.FeaturesDescriptionC
            <a href="@Url.RouteUrl("homePage",new {step="signup"})">@StaticPagesResources.SignUpForFree</a>
            @StaticPagesResources.FeaturesDescriptionE
        </div>
        <section id="schools">
            <h3>@StaticPagesResources.FeaturesSectionTitle5</h3>
            <div class="intro-text">
                @StaticPagesResources.FeaturesSectionText5A
                @StaticPagesResources.FeaturesSectionText5B
                @StaticPagesResources.FeaturesSectionText5C
                <a href="@Url.RouteUrl("Courses")" class="lowercase">@GeneralResources.Courses</a>
                @StaticPagesResources.FeaturesSectionText5E
            </div>
            <img src="@Url.CdnContent("https://zboxstorage.blob.core.windows.net/zboxhelp/uni_" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + ".png")" alt="Spitball's Schools" />
        </section>
        <section id="courses">
            <h3>@GeneralResources.Courses</h3>
            <div class="intro-text">
                @StaticPagesResources.FeaturesSectionText3A
                <a href="@Url.RouteUrl("Courses")">@StaticPagesResources.ProductTextD</a>
                @StaticPagesResources.FeaturesSectionText3C
            </div>
            <a href="@Url.RouteUrl("Courses")"><img src="@Url.CdnContent("/images/Features/courses_" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + ".png?v=3")" alt="Spitball's Courses" /></a>
        </section>
        <section id="class_notes">
            <h3>@StaticPagesResources.FeaturesSectionTitle1</h3>
            <div class="intro-text">
                @StaticPagesResources.FeaturesSectionText1A
                <a href="@Url.RouteUrl("ClassNotes")">@StaticPagesResources.FeaturesSectionText1B</a>
                @StaticPagesResources.FeaturesSectionText1C
            </div>
            <a href="@Url.RouteUrl("ClassNotes")"><img src="@Url.CdnContent("/images/Features/doc_" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + ".png?v=2")" alt="Spitball's Class Notes" /></a>
        </section>
        <section id="quizzes">
            <h3>@GeneralResources.Quizzes</h3>
            <div class="intro-text">@StaticPagesResources.FeaturesSectionText2</div>
            <img src="@Url.CdnContent("/images/Features/quiz_" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + ".png?v=2")" alt="Spitball's Quizzes" />
        </section>
        <section id="class_feed">
            <h3>@StaticPagesResources.FeaturesSectionTitle4</h3>
            <div class="intro-text">@StaticPagesResources.FeaturesSectionText4</div>
            <img src="@Url.CdnContent("/images/Features/feed_" + System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName + ".png?v=3")" alt="Spitball's Class feed" />
        </section>
        <section id="app">
            <h3>@StaticPagesResources.FeaturesSectionTitle6</h3>
            <div class="intro-text">
                @StaticPagesResources.FeaturesSectionText6A
                <a href="@Url.RouteUrl("Apps")">@StaticPagesResources.FeaturesSectionText6B</a>
                @StaticPagesResources.FeaturesSectionText6C
            </div>
            <a href="@Url.RouteUrl("Apps")"><img class="app" src="@Url.CdnContent("/images/Features/app.png?v=1")" alt="Spitball's App" /></a>
        </section>
    </div>
</div>
