@model IEnumerable<Zbang.Cloudents.Mvc4WebRole.Models.FAQ.Category>
<div class="help-page">
    <div class="portlet light color-override backgroundTransparent">
        <div class="caption caption-md">
            <h2 class="caption-subject uppercase">@ViewBag.pageTitle</h2>
        </div>
        <md-tabs md-enable-disconnect md-dynamic-height>
            @{
                int i = 1;

                foreach (var category in Model)
                {
                    var active = i == 1 ? "active" : null;
                    var j = 1;
                    <md-tab ui-sref="#tab_@i" md-active="i == 1">
                        <md-tab-label class="text-capitalize">@category.Name</md-tab-label>
                        <md-tab-body>
                            <div id="tab_@i" class="tab-pane @active">
                                <div id="accordion@(i)" class="panel-group">
                                    @foreach (var faq in category.QuestionNAnswers)
                                    {
                                        var inClass = j == 1 ? "in" : null;
                                        var collapsed = j != 1 ? "collapsed" : null;
                                        <div class="panel panel-default">
                                            <a class="accordion-toggle @collapsed" data-toggle="collapse" data-parent="#accordion@(i)" href="#accordion@(i)_@j" ga-track-event="['help', 'click on collapsed']">
                                                <div class="panel-heading color-override textColor3">
                                                    <h4 class="panel-title">
                                                        @faq.Question
                                                    </h4>
                                                </div>
                                            </a>
                                            <div id="accordion@(i)_@j" class="panel-collapse collapse @inClass">
                                                <div class="panel-body">
                                                    @Html.Raw(faq.Answer)
                                                </div>
                                            </div>
                                        </div>
                                        j++;
                                    }
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                                    i++;
                }
            }
        </md-tabs>
    </div>
</div>
