@model IEnumerable<Zbang.Cloudents.Mvc4WebRole.Models.FAQ.Category>
@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="help-page">
    @*<div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@ViewBag.pageTitle <small>general faq sample</small></h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE BREADCRUMB -->*@
    <div class="portlet light">
        <div class="portlet-title tabbable-line">
            <div layout="row" layout-align="space-between center">
                <div class="caption caption-md">
                    <span class="caption-subject">@HomeResources.Help</span>
                </div>
                <ul class="nav nav-tabs tab-from-right">
                    
                    
                    @{
                             int i = 1;

                            foreach (var category in Model)
                            {
                                var active = i == 1 ? "active" : null;

                                <li ui-sref-active="@active">
                                    <a class="text-capitalize" ui-sref="#tab_@i" data-toggle="tab">@category.Name</a>
                                </li>
                                i++;
                            }
                    }
                </ul>
            </div>
        </div>

        
        
        


        <!-- END PAGE BREADCRUMB -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="tab-content">
                        @{
                            i = 1;
                            foreach (var category in Model)
                            {
                                var active = i == 1 ? "active" : null;
                                var j = 1;
                                <div id="tab_@i" class="tab-pane @active">
                                    <div id="accordion@(i)" class="panel-group">
                                        @foreach (var faq in category.QuestionNAnswers)
                                        {
                                            var inClass = j == 1 ? "in" : null;
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion@(i)" href="#accordion@(i)_@j">
                                                            @faq.Question
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div id="accordion@(i)_@j" class="panel-collapse collapse @inClass">
                                                    <div class="panel-body">
                                                        @Html.Raw(faq.Answer)
                                                    </div>
                                                </div>
                                            </div>
                                            j++;
                                        }
                                    </div>
                                </div>
                                        i++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END PAGE CONTENT-->
