@model IEnumerable<Zbang.Cloudents.Mvc4WebRole.Models.FAQ.Category>
<div class="help-page">
    <div class="portlet light color-override backgroundTransparent">
        <div class="caption caption-md">
            <h2 class="caption-subject uppercase">@ViewBag.pageTitle</h2>
        </div>
        <md-tabs md-enable-disconnect md-dynamic-height>
            @{
                int i = 1;

                foreach (var category in Model)
                {
                    var active = i == 1 ? "active" : null;
                    var j = 1;
                    <md-tab ui-sref="#tab_@i" md-active="i == 1">
                        <md-tab-label class="text-capitalize">@category.Name</md-tab-label>
                        <md-tab-body>
                            <uib-accordion>
                                @foreach (var faq in category.QuestionNAnswers)
                                {
                                    <uib-accordion-group heading="@faq.Question" is-open="@(j==1 ? "true" :"false")">
                                        @Html.Raw(faq.Answer)
                                    </uib-accordion-group>
                                    j++;
                                }
                            </uib-accordion>
                            
                        </md-tab-body>
                    </md-tab>
                                    i++;
                }
            }
        </md-tabs>
    </div>
</div>
