@model IEnumerable<Zbang.Cloudents.Mvc4WebRole.Models.FAQ.Category>
@{
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="help-page static-page">
    <div class="static-body">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @{Html.RenderPartial("_StaticPageNav");}
        <div class="page-content">
            <div class="panel-group" id="main-accordion" role="tablist" aria-multiselectable="true">
                @{
                    int i = 1;

                    foreach (var category in Model)
                    {
                        var active = i == 1 ? "in" : null;
                        var expanded = i == 1 ? "expanded" : null;
                        var j = 1;

                        <div class="panel panel-default @expanded">
                            <div class="panel-heading" role="tab" id="heading-@i">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#main-accordion" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                                        @category.Name
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-@i" class="panel-collapse collapse @active" role="tabpanel" aria-labelledby="heading-@i">
                                <div class="panel-body">
                                    <div class="panel-group" id="accordion-@i" role="tablist" aria-multiselectable="true">
                                        @foreach (var faq in category.QuestionNAnswers)
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading-@i@j">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion-@i" href="#collapse-@i@j" aria-expanded="true" aria-controls="collapse-@i@j">
                                                            @faq.Question
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse-@i@j" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-@i@j">
                                                    <div class="panel-body">
                                                        @Html.Raw(faq.Answer)
                                                    </div>
                                                </div>
                                            </div>
                                            j++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                                        i++;
                    }
                }
            </div>
        </div>
    </div>
</div>
