@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    Layout = null;
    const string svgUrl = "~/images/site/icons.svg";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IFrame</title>
    <style type="text/css">
        html, body {
            height: 100%;
        }

        body {
            background: url(/Images/iframeBg.png?v=1) center center no-repeat;
            background-size: cover;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: Arial;
            color: #fff;
        }

        .siteLogo {
            display: block;
            padding-top: 40px;
        }

        .siteLogo svg {
            fill: #f5f5f5;
        }

        .logo {
            fill: #fff;
            width: 206px;
            height: 37px;
        }

        h1 {
            font-weight: normal;
            font-size: 24px;
            color: #fff;
            display: inline-block;
            width: 300px;
            /*white-space: pre-wrap;*/
        }

        .actions {
            position: absolute;
            bottom: 40px;
            margin: auto;
            left: 0;
            right: 0;
            width: 290px;
        }

        .facebook, .email {
            width: 228px;
            margin: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .facebook {
            font-size: 15px;
            margin: 35px auto 10px;
            cursor: pointer;
            padding: 8px 15px 9px 55px;
            border-radius: 5px;
            position: relative;
            line-height: 25px;
            background: #3b5998;
            color: #fff;
        }

        .fbImg, .emailImg {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: inline-block;
            left: 16px;
        }

            .fbImg:after, .emailImg:after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 30px;
                background: #fff;
                position: relative;
                left: 12px;
                top: 6px;
                opacity: .5;
            }

        .svg-fb {
            width: 11px;
            height: 22px;
            fill: #fff;
            position: relative;
            top: 2px;
        }

        .email {
            color: #676767;
            background: #fff;
            border: 1px solid #fff;
            padding: 7px 15px 8px 53px;
            cursor: pointer;
            font-size: 15px;
            border-radius: 5px;
            position: relative;
            display: block;
            line-height: 25px;
        }

        .emailImg {
            left: 8px;
        }

            .emailImg:after {
                background: #676767;
                top: 5px;
                left: 6px;
            }

        .svg-email {
            width: 24px;
            height: 20px;
            fill: silver;
        }

        .connect {
            margin-top: 15px;
        }

        .addConnect {
            color: #3293f6;
            background: transparent;
            outline: none;
            border: none;
            font-weight: bold;
        }

        a {
            background-color: transparent;
            outline: none;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            display: inline-block;
        }
    </style>
</head>
<body>
    <a class="siteLogo lFloat" href="~/" target="_blank">
        @Html.Svg(svgUrl, "logo", new { @class = "logo-default" })
    </a>

    <h1>@HomeResources.SocialStudy</h1>
    <div class="actions">
        <a href="~/account/#facebook" target="_blank" id="facebookLogin" class="facebook" login-btn="facebook">
            <span class="fbImg">
                <svg class="svg-fb" viewBox="0 0 11.861 23.303">
                    @*width="11.861" height="23.303"*@
                    <path d="M11.861,8.323H7.594V6.243c0,0-0.239-1.978,1.144-1.978c1.563,0,2.811,0,2.811,0V0H6.763c0,0-4.005-0.017-4.005,4.005   c0,0.864-0.004,2.437-0.01,4.318H0v3.434h2.741c-0.016,5.46-0.035,11.545-0.035,11.545h4.888V11.757h3.226L11.861,8.323z" />
                </svg>
            </span>@SharedResources.FacebookSignUp
        </a>

        <a href="~/account/#register" target="_blank" class="email addRegister" login-btn="register">
            <span class="emailImg">
                <svg class="svg-email" viewBox="-49 205 512 384">
                    <path d="M463,525c0,11.2-3.2,21.6-8.2,30.8L293.1,374.9L453,235c6.2,9.9,10,21.5,10,34V525z M207,407.8l222.5-194.7
	                    c-9.1-5-19.4-8.1-30.5-8.1H15c-11.1,0-21.4,3.1-30.5,8.1L207,407.8z M269,396l-51.5,45.1c-3,2.6-6.8,3.9-10.5,3.9s-7.5-1.3-10.5-3.9
	                    L145,396L-18.8,579.2c9.8,6.2,21.3,9.8,33.8,9.8h384c12.4,0,23.9-3.7,33.8-9.8L269,396z M-39,235c-6.2,9.9-10,21.5-10,34v256
	                    c0,11.2,3.1,21.6,8.2,30.8l161.6-180.9L-39,235z" />
                </svg>
            </span>@SharedResources.EmailSignUp
        </a>

        <div class="connect">
            <span>@LogOnResources.AlreadyHave</span>&nbsp;<a href="~/account/#login" class="addConnect" target="_blank">@SharedResources.SignIn</a>
        </div>
    </div>
</body>
</html>
