@model Zbang.Zbox.ViewModel.Dto.HomePageDataDto
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources;
@{
    Layout = null;
    const string socialIconsSvg = "~/images/site/social-icons.svg";
    ViewBag.headerbackground = Model.HomePageUniversityData.HeaderBackgroundColor;
    ViewBag.signupColor = Model.HomePageUniversityData.SignupColor;
    Model.HomePageUniversityData.Logo = Model.HomePageUniversityData.Logo ?? Url.CdnContent("/images/site/logo_spitball.png");
}
<!doctype html>
<html>
<head>
    @Html.Css2("homePage")
    @*@Styles.Render("~/homePage")*@

    @{Html.RenderPartial("_Head");}

    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="google-signin-client_id" content="997823384046-ddhrphigu0hsgkk1dglajaifcg2rggbm.apps.googleusercontent.com" />
    <style>
        .intro{
            background: @Model.HomePageUniversityData.VideoBackgroundColor !important;
        }

        @*We need not important due to js changes*@
        .login-option.signup{
            background-color: @ViewBag.signupColor;
        }
        .main-signup {
            background-color: @Model.HomePageUniversityData.MainSignupColor !important;
        }

        .intro .text{
            color:@Model.HomePageUniversityData.VideoFontColor !important;
        }

        .sb-logo{
            background-image: url("@Model.HomePageUniversityData.Logo");
        }
        .static-page-header{
        background: @ViewBag.headerbackground !important;
    }
    .signup-btn{
        background: @ViewBag.signupColor !important;
    }
    </style>
</head>
<body class="homePage">
    <div class="page-content">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @{Html.RenderPartial("_StaticPageHeader");}
        <div class="home-page-body" background-cover data-image="@Model.HomePageUniversityData.BackgroundImage">
            <section class="main">
                <div class="forms">
                    <div class="loader">
                        <div class="backdrop"></div>
                        <div class="sk-fading-circle selected">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div class="loader-text">@SharedResources.LoaderText</div>
                    </div>
                    <div class="login-wrapper form-wrapper" style="display:none;">
                        <button type="button" class="close-form">@Html.Svg("~/images/site/icons.svg", "close")</button>
                        <h3 class="form-title">@LogOnResources.LoginToAccount</h3>
                        <div class="signin-options">
                            <button type="button" class="facebook">
                                <div class="login-option">
                                    <div class="icon">
                                        @Html.Svg(socialIconsSvg, "facebook")
                                    </div>
                                    <div class="text">@LogOnResources.ExternalProvider</div>
                                </div>
                            </button>
                            <button type="button" class="google">
                                <div class="login-option">
                                    <div class="icon">
                                        @Html.Svg(socialIconsSvg, "google")
                                    </div>
                                    <div class="text">@LogOnResources.ExternalProvider</div>
                                </div>
                            </button>
                        </div>
                        <form class="login" action="" method="post">
                            <div class="form-group">
                                <input class="form-control" required type="email" placeholder="@LogOnResources.Email" name="email" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" required type="password" placeholder="@LogOnResources.Password" name="password" />
                            </div>
                            <div id="login_alert_text" class="alert alert-danger display-hide">
                                <span></span>
                            </div>
                            <div class="form-actions">
                                <div class="custom-checkbox">
                                    @Html.CheckBox("RememberMe", true, new { id = "rememberMe" })
                                    <label class="remember-me" for="rememberMe"></label>
                                    <label for="rememberMe">@LogOnResources.RememberMe</label>
                                </div>

                                <button type="submit" class="action-btn">
                                    @LogOnResources.LogIn
                                </button>
                            </div>
                        </form>
                        <div class="forgot-password-text">
                            <h4>@LogOnResources.ForgotYourPassword</h4>
                            <p>
                                @LogOnResources.NoWorries &nbsp;<span id="forgot-password-link" data-form-action="forgot-password">@LogOnResources.Here</span>
                                @LogOnResources.ToResetPassword.
                            </p>
                        </div>
                        <p class="bottom-strip">
                            @LogOnResources.DontHaveAnAccount&nbsp; <a href="javascript:;" id="register-btn" data-form-action="register">@LogOnResources.CreateAccount</a>
                        </p>
                    </div>
                    <div class="forgot-password-wrapper form-wrapper" style="display:none;">
                        <button type="button" class="close-form">@Html.Svg("~/images/site/icons.svg", "close")</button>
                        <h3 class="form-title">@LogOnResources.ForgotYourPassword</h3>
                        <form class="forgot-password" action="" method="post">
                            <div class="text">
                                <p>@AccountResource.EmailToReset</p>
                                <p>@AccountResource.EmailUnsubscribeWarning</p>
                            </div>
                            <div class="form-group last">
                                <input class="form-control" required type="email" placeholder="@LogOnResources.Email" name="email" />
                            </div>
                            <div id="resetPassword_alert_text" class="alert alert-danger display-hide">
                                <span></span>
                            </div>
                            <div class="form-actions">
                                <button type="reset" class="cancel-btn" data-form-action="login">@GeneralResources.Cancel</button>
                                <button type="submit" class="action-btn space-before">@GeneralResources.Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="check-email-message-wrapper form-wrapper" style="display:none;">
                        <button type="button" class="close-form">@Html.Svg("~/images/site/icons.svg", "close")</button>
                        <h3 class="form-title">
                            @LogOnResources.CheckEmailTitle
                        </h3>

                        <div class="text">
                            <p>@AccountResource.EmailedPassword<br />@AccountResource.ResetInstructions</p>
                            @Html.Svg("/images/Site/icons.svg", "info")
                            <p>
                                <span class="bold">@AccountResource.DidntReceivedEmail</span><br />
                                <span>@AccountResource.CheckEmailSpam</span><br />

                                <button id="resendRequest" data-response="@HomePageResources.resetPassEmailSent">@AccountResource.AnotherRequest</button>
                            </p>
                        </div>
                        <div class="create-account"></div>
                    </div>
                    <div class="register-wrapper form-wrapper" style="display:none;">
                        <button type="button" class="close-form">@Html.Svg("~/images/site/icons.svg", "close")</button>
                        <h3 class="form-title">@LogOnResources.CreateAccountFormHeader</h3>
                        <div class="signin-options">
                            <button type="button" class="facebook">
                                <div class="login-option">
                                    <div class="icon">
                                        @Html.Svg(socialIconsSvg, "facebook")
                                    </div>
                                    <div class="text">@LogOnResources.ExternalProvider</div>
                                </div>
                            </button>
                            <button type="button" class="google">
                                <div class="login-option">
                                    <div class="icon">
                                        @Html.Svg(socialIconsSvg, "google")
                                    </div>
                                    <div class="text">@LogOnResources.ExternalProvider</div>
                                </div>
                            </button>
                        </div>
                        <input type="checkbox" id="show-fields" />
                        <label for="show-fields">@LogOnResources.OrSignupWith&nbsp;@LogOnResources.Email</label>
                        <form class="register" action="" method="post">
                            <div class="form-group first">
                                <input class="form-control" type="text" required placeholder="@AccountResource.First" name="firstName" />
                            </div>
                            <div class="form-group second">
                                <input class="form-control" type="text" required placeholder="@SharedResources.LastName" name="lastName" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" required placeholder="@LogOnResources.Email" name="NewEmail" id="register_email" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" required autocomplete="off" placeholder="@LogOnResources.Password" name="Password" />
                            </div>
                            <div class="form-group sex last">
                                <input type="radio" required name="sex" value="@Zbang.Zbox.Infrastructure.Enums.Sex.Male.GetStringValueLowercase()" id="male" /><label for="male">@Zbang.Zbox.Infrastructure.Enums.Sex.Male.GetEnumDescription()</label>
                                <input type="radio" required name="sex" value="@Zbang.Zbox.Infrastructure.Enums.Sex.Female.GetStringValueLowercase()" id="female" /><label for="female">@Zbang.Zbox.Infrastructure.Enums.Sex.Female.GetEnumDescription()</label>
                            </div>
                            <div id="register_alert_text" class="alert alert-danger display-hide">
                                <span></span>
                            </div>

                            <div class="form-actions" layout="row" layout-align="center center">
                                <div class="terms">
                                    @RegisterResources.IAgree&nbsp;
                                    <a class="tos" target="_blank" href="@Url.RouteUrl("TOS")">@RegisterResources.TermsOfServices</a>&nbsp;@RegisterResources.And&nbsp;<a target="_blank" href="@Url.RouteUrl("Privacy")">@RegisterResources.PrivacyPolicy</a>&nbsp;@RegisterResources.ofZbang
                                </div>

                                <button type="submit" id="register-submit-btn" class="action-btn">
                                    @LogOnResources.SignUp
                                </button>
                            </div>

                        </form>
                        <p class="bottom-strip">
                            @LogOnResources.AlreadyHave&nbsp;<a href="javascript:;" id="login-btn" data-form-action="login">@SharedResources.SignIn</a>
                        </p>
                    </div>
                </div>
                <div id="main-wrapper">
                    <div class="welcome-text">
                        <h1 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">@Model.HomePageUniversityData.UniversityName <br /> @HomePageResources.A4</h1>
                        <div class="uni-logo-wrapper">
                            <div class="sb-logo">
                            </div>
                        </div>
                    </div>
                    <div class="statistics os-animation toggle" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                        <h3 class="statistic">
                            <span id="students" class="value" data-value="@Model.HomePageStats.StudentsCount"></span><span>@HomePageResources.statsStudents</span>
                        </h3>
                        <h3 class="statistic">
                            <a href="@Url.RouteUrl("ClassNotes")"><span id="documents" class="value" data-value="@Model.HomePageStats.DocumentCount"></span><span>@HomePageResources.statsDocuments</span></a>
                        </h3>
                        <h3 class="statistic">
                            <span id="quizzes" class="value" data-value="@Model.HomePageStats.BoxesCount"></span><span>@GeneralResources.Classes</span>
                        </h3>
                    </div>
                </div>

            </section>

            <section class="intro">
                <button type="button" class="login-option signup toggle main-signup" data-form-action="register">
                    @HomePageResources.SignUpForFree
                </button>
                <div class="text">@HomePageResources.A6&nbsp;<b>@HomePageResources.Free</b></div>
                <div class="video-wrapper offset-bottom">
                    <input type="checkbox" id="showVideo" />
                    <label id="open-video" for="showVideo">
                        <span class="desktop-wrapper"><span class="video-image desktop os-animation" alt="Spitball video" data-os-animation="fadeIn" data-os-animation-delay="0.5s"></span></span>
                        <span class="mobile-wrapper"><span class="video-image mobile os-animation" alt="Spitball video" data-os-animation="fadeIn" data-os-animation-delay="0.5s"></span></span>
                        @*<div class="video-image mobile os-animation" background='url(@Url.CdnContent("~/Images/HomePage2/homepage-mobile.png"))' alt="Spitball video" data-os-animation="fadeIn" data-os-animation-delay="0.5s"></div>*@
                    </label>
                    <div class="shadowbox os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="video-section">
                            <div id="video"></div>
                        </div>
                        <label id="close-video" for="showVideo"></label>
                    </div>
                </div>
            </section>
            <section class="check-us">
                <div id="check-us-section" class="section-start"></div>
                <h2 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">@HomePageResources.C1</h2>
                <div class="boxes os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s"></div>
            </section>
            <section class="about">
                <h2 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">@HomePageResources.D1</h2>
                <div class="description os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <p>@HomePageResources.D2</p>
                    <div class="features">
                        <section class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                            <h4>@HomePageResources.D3H</h4>
                            <a href="@Url.RouteUrl("Features")#class_feed">@HomePageResources.D3</a>
                        </section>
                        <section class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                            <h4>@HomePageResources.D5H</h4>
                            <a href="@Url.RouteUrl("Apps")">@HomePageResources.D5</a>
                        </section>
                        <section class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                            <h4>@HomePageResources.D4H</h4>
                            <a href="@Url.RouteUrl("ClassNotes")">@HomePageResources.D4</a>
                        </section>
                        <section class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
                            <h4>@HomePageResources.D6H</h4>
                            <a href="@Url.RouteUrl("Features")">@HomePageResources.D6</a>
                        </section>
                    </div>
                </div>
            </section>
            <section class="reviews">
                <ul class="bxslider box os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial1Person </span>
                                    <cite title="@HomePageResources.Testimonial1Title">@HomePageResources.Testimonial1Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial1<span>"</span>
                            </p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial2Person</span>
                                    <cite title="@HomePageResources.Testimonial2Title">@HomePageResources.Testimonial2Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial2<span>"</span>
                            </p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial3Person </span>
                                    <cite title="@HomePageResources.Testimonial3Title">@HomePageResources.Testimonial3Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial3<span>"</span>
                            </p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial4Person </span>
                                    <cite title="@HomePageResources.Testimonial4Title">@HomePageResources.Testimonial4Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial4<span>"</span>
                            </p>
                        </blockquote>
                    </li>
                </ul>
            </section>
            @{ // ReSharper disable once Mvc.PartialViewNotResolved
                Html.RenderPartial("_StaticPageFooter");}
        </div>

    </div>
    <div class="page-footer">
        <div class="scroll-to-top">
            @Html.Svg("~/images/site/icons.svg", "arrow")
        </div>
    </div>
    <div id="cssCheck"></div>

    @Html.Script2("jsHomePage")
    @Html.JqueryValidateLocale()

    <script defer type="text/template" id="box-template">
        <a href="{boxUrl}" class="box box-style" ga-track-event="['home-page', 'box']">
            <h2 class="{boxClass}">{boxName}</h2>
            <div class="course-info">
                <div class="lecturer">{boxProfessor}</div>
                <div class="course-num">{boxCourseCode}</div>
            </div>
            <hr class="background {boxClass}" />
            <div class="box-info">
                <div>{boxItemCount} @IndexResources.Items</div>
            </div>
        </a>
    </script>


    <script defer type="text/ng-template" id="box-template-flex">
        <a href="{boxUrl}" class="box box-template-flex box-style" ga-track-event="['home-page', 'box']">
            <div class="info">
                <div class="top">
                    <div class="icon background {boxClass}">{boxLetters}</div>
                    <h5 class="multi-line-ellipsis limit-two {boxClass}">{boxName}</h5>
                </div>
                <div class="bottom">
                    <span class="ellipsis">{boxProfessor}</span>
                    <span class="ellipsis">{boxCourseCode}</span>
                </div>
            </div>
            <div class="stats border {boxClass}">
                <div class="items-count">
                    {boxItemCount} @IndexResources.Items
                </div>
            </div>
        </a>
    </script>
    <script type="text/javascript" src="~/js/CDNFallbackWithoutAngular.js?v=@VersionHelper.CurrentVersion(true)" defer></script>
</body>
</html>