@model Zbang.Zbox.ViewModel.Dto.HomePageDataDto
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources;
@using Zbang.Zbox.Infrastructure.Culture;
@{

    Layout = null;
    ViewBag.metaDescription = HomePageResources.A4;
    var socialIconsSvg = "~/images/site/social-icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;

    var logoLink = User.Identity.IsAuthenticated ? Url.Action("Index", "dashboard") : Url.RouteUrl("homePage");

}
<!doctype html>
<html>
<head>
    @{Html.RenderPartial("_Head");}
    @Html.Css2("homePage")
    <link href="/Content/jquery.bxslider.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="google-signin-client_id" content="997823384046-ddhrphigu0hsgkk1dglajaifcg2rggbm.apps.googleusercontent.com" />
</head>
<body class="homePage">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NDZLW7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');
    </script>
    <div class="page-content">
        <header>
            <nav>
                <div class="navbar-header">
                    <div class="navbar-toggle collapsed">
                        <label for="menu-toggle">@Html.Svg("~/images/site/icons.svg", "headerMenu", new { @class = "headerMenu" })</label>
                    </div>
                    <a class="logo-wrapper" href="@logoLink" @shouldPostBack ga-track-event="['header', 'logo']">
                        <div class="logo"></div>
                        @Html.Svg("~/images/site/icons.svg", "smallLogo", new { @class = "logo-small"})
                    </a>
                </div>
                    <input type="checkbox" id="menu-toggle" />
                    <ul>
                        <li id="product">
                            <a href="@Url.RouteUrl("Product")">@HomePageResources.A3</a>
                        </li>
                        <li id="features">
                            <a href="#about-section">@HomePageResources.A9</a>
                        </li>
                        <li id="meet">
                            <a href="#check-us-section">@HomePageResources.A10</a>
                        </li>
                        <li id="apps">
                            <a href="#app-section">@HomePageResources.A11</a>
                        </li>
                        <li class="language">
                            <input type="checkbox" id="language-menu" />
                            <label class="language-toggle" for="language-menu"><span>@Languages.EnglishUsName</span><span class="arrow"></span></label>
                            <label class="language-close" for="language-menu"></label>
                            <ul class="dropdown-menu dropdown-menu-left ">
                                <li class="menu-item"> <a href="@Url.RouteUrl("AccountLanguage", new { lang = "en-us" })">@Languages.EnglishUsName</a> </li>
                                <li class="menu-item"> <a href="@Url.RouteUrl("AccountLanguage", new { lang = "he-il" })">@Languages.HebrewName</a> </li>
                            </ul>
                        </li>
                    </ul>

                    <span class="signin-btn">@HomePageResources.A1</span>
            </nav>
        </header>
        <div class="home-page-body">
            <section class="main">
                <div id="main-wrapper">
                    <div class="welcome-text">
                        <h1 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">@HomePageResources.A4</h1>
                        <h2 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">@HomePageResources.A6</h2>
                    </div>
                    <div class="login-wrapper login">
                        <div class="wrapper">
                            <div class="content" style="display:none;">
                                <form class="login-form" action="" method="post">
                                    @{ Html.RenderAction("AntiForgeryToken", "Home", true);}
                                    <button type="button" class="close-form">@Html.Svg("~/images/site/icons.svg", "close")</button>
                                    <h3 class="form-title">@LogOnResources.LoginToAccount</h3>
                                    <div class="form-group">
                                        <input class="form-control" required type="email" placeholder="@LogOnResources.Email" name="email" />
                                    </div>
                                    <div class="form-group last">
                                        <input class="form-control" required type="password" placeholder="@LogOnResources.Password" name="password" />
                                    </div>
                                    <div id="login_alert_text" class="alert alert-danger display-hide">
                                        @*<button class="close" data-close="alert"></button>*@
                                        <span></span>
                                    </div>
                                    <div class="form-actions">
                                        <div class="checkbox-design">
                                            @Html.CheckBox("RememberMe", true, new { id = "rememberMe" })
                                            <label class="remember-me" for="rememberMe"></label>
                                            <label for="rememberMe">@LogOnResources.RememberMe</label>
                                        </div>

                                        <button type="submit" class="btn button-Blue btn-primary pull-right">
                                            @LogOnResources.LogIn
                                        </button>
                                        <div class="loader">
                                            <li class="sk-fading-circle selected">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="forget-password">
                                        <h4>@LogOnResources.ForgotYourPassword</h4>
                                        <p>
                                            @LogOnResources.NoWorries <span id="forget-password">
                                                @LogOnResources.Here
                                            </span>
                                            @LogOnResources.ToResetPassword.
                                        </p>
                                    </div>
                                    <div class="signin-options">
                                        <div class="social-text">@HomePageResources.A7</div>
                                        <button type="button" class="login-option facebook">
                                            <div>
                                                @Html.Svg(socialIconsSvg, "facebook")
                                            </div>
                                        </button>
                                        <button type="button" class="login-option google">
                                            <div>
                                                @Html.Svg(socialIconsSvg, "google")
                                            </div>
                                        </button>
                                    </div>



                                    <div class="create-account">
                                        <p>
                                            @LogOnResources.DontHaveAnAccount&nbsp; <a href="javascript:;" id="register-btn">
                                                @LogOnResources.CreateAccount
                                            </a>
                                        </p>
                                    </div>
                                </form>


                                <form id="f-forgot-password" class="forgot-password-form" action="" method="post" style="display:none;">
                                    <h3 class="form-title">
                                        @LogOnResources.ForgotYourPassword
                                    </h3>
                                    <div class="text">
                                        <p>@AccountResource.EmailToReset</p>
                                    </div>
                                    <div class="form-group last">
                                        <input class="form-control" required type="email" placeholder="@LogOnResources.Email" name="email" />
                                    </div>

                                    <div id="resetPassword_alert_text" class="alert alert-danger display-hide">
                                        <span></span>
                                    </div>
                                    <div class="form-actions">
                                        <button type="reset" class="btn btn-default pull-right cancel">@GeneralResources.Cancel</button>
                                        <button type="submit" class="btn button-Blue btn-primary pull-right">@LogOnResources.Submit</button>
                                        <div class="loader">Loading...</div>
                                    </div>
                                    <div class="create-account"></div>
                                </form>

                                <div class="check-email-message" style="display:none;">
                                    <h3 class=" form-title">
                                        @LogOnResources.CheckEmailTitle
                                    </h3>
                                    <div class="text">
                                        <p>@AccountResource.EmailedPassword<br />@AccountResource.ResetInstructions</p>
                                        @Html.Svg("/images/Site/icons.svg", "info")
                                        <p>
                                            <span class="bold">@AccountResource.DidntReceivedEmail</span><br />
                                            @AccountResource.CheckEmailSpam<br />

                                            <button id="resendRequest">@AccountResource.AnotherRequest</button>
                                        </p>
                                    </div>
                                    <div class="create-account"></div>
                                </div>

                                <form class="register-form" action="" method="post">
                                    @{ Html.RenderAction("AntiForgeryToken", "Home", true);}
                                    <button type="button" class="close-form">@Html.Svg("~/images/site/icons.svg", "close")</button>
                                    <h3>@LogOnResources.CreateAccountFormHeader</h3>
                                    <div class="form-group first">
                                        <input class="form-control" type="text" required placeholder="@AccountResource.First" name="firstName" />
                                    </div>
                                    <div class="form-group second">
                                        <input class="form-control" type="text" required placeholder="@SharedResources.LastName" name="lastName" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="email" required placeholder="@SharedResources.Email" name="NewEmail" id="register_email" />
                                    </div>
                                    <div class="form-group last">
                                        <input class="form-control" type="password" required autocomplete="off" placeholder="@LogOnResources.Password" name="Password" />
                                    </div>
                                    <div id="register_alert_text" class="alert alert-danger display-hide">
                                        <span></span>
                                    </div>

                                    <div class="form-actions-container" layout="row" layout-align="center center">
                                        <div class="form-group">
                                            <label>
                                                @RegisterResources.IAgree
                                                <a class="tos" target="_blank" href="@Url.Action("TermsOfService", "Home")">&nbsp;@RegisterResources.TermsOfServices</a>&nbsp;@RegisterResources.And&nbsp;<a target="_blank" href="@Url.RouteUrl("Privacy")">@RegisterResources.PrivacyPolicy</a>&nbsp;@RegisterResources.ofZbang
                                            </label>
                                        </div>

                                        <div class="form-actions">
                                            <button type="submit" id="register-submit-btn" class="btn button-Blue btn-primary">
                                                @LogOnResources.SignUp
                                            </button>
                                            <div class="loader">Loading...</div>
                                        </div>
                                    </div>
                                    <div class="signin-options">
                                        <div class="social-text">@HomePageResources.A7</div>
                                        <button type="button" class="login-option facebook">
                                            <div>
                                                @Html.Svg(socialIconsSvg, "facebook")
                                            </div>
                                        </button>
                                        <button type="button" class="login-option google">
                                            <div>
                                                @Html.Svg(socialIconsSvg, "google")
                                            </div>
                                        </button>
                                    </div>
                                    <div class="login-account">
                                        <p>
                                            @LogOnResources.AlreadyHave&nbsp;<a href="javascript:;" id="login-btn">@SharedResources.SignIn</a>
                                        </p>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="signin-options">
                        <div class="social-signin">
                            <button type="button" class="login-option facebook os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <div>
                                    @Html.Svg(socialIconsSvg, "facebook")
                                    <span>@LogOnResources.ExternalProvider</span>
                                </div>
                            </button>
                            <button type="button" class="login-option google os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <div>
                                    @Html.Svg(socialIconsSvg, "google")
                                    <span>@LogOnResources.ExternalProvider</span>
                                </div>
                            </button>
                        </div>
                        <button type="button" class="login-option signup os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            @HomePageResources.A5
                        </button>
                    </div>
                    <div class="statistics os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                        @*<h5 count-up id="points" end-val="{{u.details.score}}" duration="3"></h5>*@
                        <div id="students" data-statistic="@HomePageResources.statsStudents" data-value="@Model.StudentsCount"></div>
                        <div id="documents" data-statistic="@HomePageResources.statsDocuments" data-value="@Model.DocumentCount"></div>
                        <div id="quizzes" data-statistic="@HomePageResources.statsQuizzes" data-value="@Model.QuizzesCount"></div>
                    </div>
                    <div class="social-links os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                        <div class="wrapper" dir="ltr">
                            <a target="_blank" href="https://www.facebook.com/cloudents.il">@Html.Svg(socialIconsSvg, "facebook")</a>
                            <a target="_blank" href="https://twitter.com/SpitballStudy">@Html.Svg(socialIconsSvg, "twitter")</a>
                            <a target="_blank" href="https://plus.google.com/+Cloudents">@Html.Svg(socialIconsSvg, "google")</a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCamYabfxHUP3A9EFt1p94Lg">@Html.Svg(socialIconsSvg, "youtube")</a>
                            <a target="_blank" href="http://instagram.com/spitballstudy">@Html.Svg(socialIconsSvg, "instagram")</a>
                        </div>
                    </div>
                </div>

            </section>

            <section class="about">
                <div id="about-section" class="section-start"></div>
                <h1 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">@HomePageResources.D1</h1>
                <div class="description os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <p>@HomePageResources.D2</p>
                    <div class="features">
                        <ul>
                            <li class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">@HomePageResources.D3</li>
                            <li class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">@HomePageResources.D5</li>
                        </ul>
                        <ul>
                            <li class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.3s">@HomePageResources.D4</li>
                            <li class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.4s">@HomePageResources.D6</li>
                        </ul>
                    </div>
                </div>
                @*<div class="video-section os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                        <div class="video">
                            <iframe src="https://www.youtube.com/embed/69daYsNqNUA" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>*@
                <div class="video-wrapper">
                    <input type="checkbox" id="showVideo" />
                    <label id="open-video" for="showVideo">
                        <img class="video-image os-animation" src="@Url.CdnContent("~/Images/HomePage2/video.png")" alt="Spitball video" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                    </label>
                    <div class="shadowbox os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="video-section">
                            <div id="video"></div>
                        </div>
                        <label id="close-video" for="showVideo"></label>
                    </div>
                </div>

            </section>
            <section class="check-us">
                <div id="check-us-section" class="section-start"></div>
                <h1 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">@HomePageResources.C1</h1>
                <div class="boxes">
                    @foreach (var box in Model.Boxes)
                    {
                        var boxClass = "color" + (box.Name.Length) % 11;
                        <a href="@box.Url" class="box os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">

                            <h2 class="@boxClass">@box.Name</h2>
                            <div class="course-info">
                                <div class="lecturer">@box.Professor</div>
                                <div class="course-num">@box.CourseCode</div>
                            </div>
                            <hr class="background @boxClass" />
                            <div class="box-info">
                                @*resources*@<div>@box.MembersCount Members</div>
                                @*resources*@<div>@box.ItemCount items</div>
                            </div>

                        </a>
                    }
                </div>
            </section>
            <section class="reviews">
                <ul class="bxslider box os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial1Person </span>
                                    <cite title="@HomePageResources.Testimonial1Title">@HomePageResources.Testimonial1Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial1
                            </p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial2Person</span>
                                    <cite title="@HomePageResources.Testimonial2Title">@HomePageResources.Testimonial2Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial2
                            </p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial3Person </span>
                                    <cite title="@HomePageResources.Testimonial3Title">@HomePageResources.Testimonial3Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial3
                            </p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <div class="reviewer">
                                <div class="user-image"></div>
                                <div class="details">
                                    <span>@HomePageResources.Testimonial4Person </span>
                                    <cite title="@HomePageResources.Testimonial4Title">@HomePageResources.Testimonial4Title</cite>
                                </div>
                            </div>
                            <p class="comment">
                                <span>"</span>@HomePageResources.Testimonial4
                            </p>
                        </blockquote>
                    </li>
                </ul>
            </section>
            <footer>
                <div class="content">
                    <div class="app">
                        <div id="app-section" class="section-start"></div>
                        <h1 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">@HomePageResources.F1</h1>
                        <h2 class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">@HomePageResources.F2</h2>
                        <div class="app-links">
                            @{
                                var queryString = string.Empty;
                                if (!string.IsNullOrEmpty(Request.QueryString["utm_medium"]))
                                {
                                    queryString = string.Format("?af_prt=peachmedia&af_siteid={0}&pid={1}&c={2}", Request.QueryString["utm_medium"], Request.QueryString["utm_source"], Request.QueryString["utm_campaign"]);
                                }
                            }
                            <a target="_blank" href="@string.Format("https://app.appsflyer.com/id990911114{0}", queryString)" class="appSotre os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                @*<img src="@Url.CdnContent("~/Images/HomePage2/apple.png")" alt="apple" />*@
                            </a>
                            <a target="_blank" href="@string.Format("http://app.appsflyer.com/com.cloudents.zbox2{0}", queryString)" class="googlePlay os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                @*<img src="@Url.CdnContent("~/Images/HomePage2/google.png")" alt="google" />*@
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="links os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                            <div class="company">
                                <h2>@HomePageResources.infoSection1</h2>
                                <a href="@Url.RouteUrl("AboutUs")">@HomeResources.AboutCloudents</a>
                                <a href="@Url.RouteUrl("Jobs")">@SharedResources.Jobs</a>
                                <a href="@Url.RouteUrl("Blog2")">@HomePageResources.A8</a>
                            </div>
                            <div class="support">
                                <h2>@HomePageResources.infoSection2</h2>
                                <a href="@Url.RouteUrl("Privacy")">@FooterResources.PrivacyPolicy</a>
                                <a href="@Url.RouteUrl("TOS")">@FooterResources.TermsOfService</a>
                                <a href="@Url.RouteUrl("Help")">@SharedResources.Help</a>
                                <a href="https://az32006.vo.msecnd.net/zboxhelp/SB.pdf" target="_blank">@SharedResources.Advertise</a>
                            </div>
                        </div>
                        <div class="social-links os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s" dir="ltr">
                            <a target="_blank" href="https://www.facebook.com/cloudents.il">@Html.Svg(socialIconsSvg, "facebook")</a>
                            <a target="_blank" href="https://twitter.com/SpitballStudy">@Html.Svg(socialIconsSvg, "twitter")</a>
                            <a target="_blank" href="https://plus.google.com/+Cloudents">@Html.Svg(socialIconsSvg, "google")</a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCamYabfxHUP3A9EFt1p94Lg">@Html.Svg(socialIconsSvg, "youtube")</a>
                            <a target="_blank" href="http://instagram.com/spitballstudy">@Html.Svg(socialIconsSvg, "instagram")</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <div class="page-footer">
        <div class="scroll-to-top">
            @Html.Svg("~/images/site/icons.svg", "arrow")
        </div>
    </div>
    <div id="cssCheck"></div>
    <script type="text/javascript" src="~/js/CDNFallbackWithoutAngular.js?v=@VersionHelper.CurrentVersion(true)"></script>
    @Html.Script2("homePage")
    <script src="https://apis.google.com/js/platform.js" onload="googleLoad()" async defer></script>
    <script type="text/javascript">
        Login.initExternalLogin();
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('require', 'displayfeatures');

        ga('create', 'UA-9850006-3', {
            'siteSpeedSampleRate': 70,
            'cookieDomain': 'spitball.co',
            'alwaysSendReferrer': true
        });
    </script>

</body>
</html>