@model Zbang.Cloudents.Mvc4WebRole.Models.InsertUser
@{
    var x = Request.QueryString["complete"];
    Layout = null;
}
<!DOCTYPE html>

<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" dir="rtl">
<head>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/favicon.ico")" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    <style>
        .success {
            display: none;
        }

        .complete .success {
            display: block;
        }
    </style>

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NDZLW7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');</script>
    <!-- End Google Tag Manager -->
    <!--[if IE]>
        <script>
            if (!window.document.documentMode || window.document.documentMode < 10) {
                window.location = "/error/unsupported/";
            }
        </script>
    <![endif]-->
    <div>
        <h1>
            טופס משתמש חדש לספיטבול
            <br />
            אגודת הסטודנטים המכללה למינהל
        </h1>
        <div style="line-height: 40px;">
            @using (Html.BeginForm("InsertUser", "home", FormMethod.Post, new { @class = x }))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, null, new { autocomplete = "off" })
                <br />

                @Html.ValidationMessageFor(m => m.LastName)
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, null, new { autocomplete = "off" })
                <br />

                @Html.ValidationMessageFor(m => m.Id)
                @Html.LabelFor(m => m.Id)
                @Html.TextBoxFor(m => m.Id, null, new { autocomplete = "off" })
                <br />
                <input type="submit" value="עדכן" class="btn1" id="insert" />
                <div class="success">הפרטים שהזנת עודכנו בהצלחה!</div>
            }
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        window.setTimeout(function () {
            $('form').removeClass('complete');

        }, 2000);
        if (window.history && window.history.replaceState) {
            window.history.replaceState(null, '', location.origin + location.pathname);
        }
    </script>
</body>
</html>
