@model IEnumerable<Zbang.Cloudents.Mvc4WebRole.Models.FAQ.Category>


<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>FAQ <small>general faq sample</small></h1>
    </div>
    <!-- END PAGE TITLE -->
  
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Pages</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">FAQ</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="ver-inline-menu tabbable margin-bottom-10">
                    @{
                        int i = 1;

                        foreach (var category in Model)
                        {
                            var active = i == 1 ? "active" : null;
                            <li class="@active">
                                <a data-toggle="tab" href="#tab_@i">
                                    <i class="fa fa-leaf"></i> @category.Name
                                </a>
                            </li>
                            i++;
                        }
                    }
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    @{
                        i = 1;
                        foreach (var category in Model)
                        {
                            var active = i == 1 ? "active" : null;
                            var j = 1;
                            <div id="tab_@i" class="tab-pane @active">
                                <div id="accordion@(i)" class="panel-group">
                                    @foreach (var faq in category.Name)
                                    {
                                        var inClass = j == 1 ? "in" : null;
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion@(i)" href="#accordion@(i)_@j">
                                                        @category.Name
                                                    </a>
                                                </h4>
                                            </div>

                                            <div id="accordion@(i)_@j" class="panel-collapse collapse @inClass">
                                                <div class="panel-body">
                                                    @Html.Raw(faq)
                                                </div>
                                            </div>
                                        </div>
                                        j++;
                                    }
                                </div>
                            </div>
                                    i++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

