@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@{
    //Layout = null;
    ViewBag.Title = "Product | Spitball";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    var imageSrc = (ViewBag.lang == "he") ? @Url.CdnContent("/images/HomePage2/infographics_heb.png?v=1") : @Url.CdnContent("/images/HomePage2/infographics_eng.png?v=1");

}
<div class="static-page product-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.ProductTitle</h1></div>
    </div>
    <div class="page-content">
        <div class="intro-text">@StaticPagesResources.ProductText</div>
        <img class="infographic" src="@imageSrc" />
    </div>
</div>
