@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    var imageSrc = (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "he") ? @Url.CdnContent("/images/HomePage2/infographics_he.png") : @Url.CdnContent("/images/HomePage2/infographics_en.png?v=2");

}
<div class="static-page product-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.ProductTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>@StaticPagesResources.ProductTextBegining</h2>
        <img class="infographic" src="@imageSrc" alt="Use Spitball's study app like a pro" />
        <div class="intro-text">
            @StaticPagesResources.ProductTextA
            @StaticPagesResources.ProductTextB
            @StaticPagesResources.ProductTextC
            <a href="@Url.RouteUrl("Courses")">@StaticPagesResources.ProductTextD</a>
            @StaticPagesResources.ProductTextE
            <a href="@Url.RouteUrl("ClassNotes")">@StaticPagesResources.ProductTextF</a>
            @StaticPagesResources.ProductTextG
            <a href="@Url.RouteUrl("Features")">@StaticPagesResources.ProductTextH</a>
            @StaticPagesResources.ProductTextI
            <a href="@Url.RouteUrl("signup")">@StaticPagesResources.ProductTextJ</a>
        </div>
    </div>
</div>
