@model Zbang.Zbox.ViewModel.Dto.HomePageDataDto
@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    const string iconsSvg = "~/images/site/icons.svg";
    const string boxIconsSvg = "~/images/site/box-icons.svg";
    ViewBag.headerbackground = Model.HomePageUniversityData.HeaderBackgroundColor;
    ViewBag.signupColor = Model.HomePageUniversityData.SignupColor;
}
<style>
    .intro{
            background: @Model.HomePageUniversityData.VideoBackgroundColor !important;
        }

        @*We need not important due to js changes*@
        .login-option.signup{
            background-color: @ViewBag.signupColor;
        }

    .main-signup, .promo-page .rules ul li .icon-wrapper {
            background-color: @Model.HomePageUniversityData.MainSignupColor !important;
        }

        .intro .text{
            color:@Model.HomePageUniversityData.VideoFontColor !important;
        }

        .sb-logo{
            background-image: url("@Model.HomePageUniversityData.Logo");
        }
        .static-page-header{
        background: @ViewBag.headerbackground !important;
    }
    .signup-btn{
        background: @ViewBag.signupColor !important;
    }
    .promo-page .prizes .text p{
        color: @Model.HomePageUniversityData.VideoBackgroundColor !important;
    }

</style>

<div class="static-page promo-page">
    <div>
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @{Html.RenderPartial("_StaticPageHeader");}
        <div background-cover data-image="@Model.HomePageUniversityData.BackgroundImage">
        </div>
        <div class="home-page-body">
            <section class="main">
                <div id="main-wrapper">
                    <img class="promo-title" alt="win 500$ on your spitball flashcard" src="@Url.CdnContent("~/Images/Site/promo.png?v=1")"/>
                    <div class="welcome-text">
                        <div class="uni-logo-wrapper">
                            <div class="sb-logo">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="intro">
                <a href="@Url.RouteUrl("HomePage", new { step = "signup" })" class="login-option signup toggle main-signup" data-form-action="register">
                    Sign Up, It's Free!
                </a>
                <div class="text">
                    <h1>Flashcard Launch Contest</h1>
                    <h2>November 28th - December 15th</h2>
                </div>
                <div class="description offset-bottom">
                    <div>Create a flashcard set on Spitball for any class to study for finals.</div>
                    <div>Share your study set to receive as many “likes” as you can.</div>
                    <div>The top 3 students with the most “likes” on their flashcard set will win cash prizes of $500, $250 and $100!</div>
                </div>
            </section>
            <section class="prizes">
                <div class="text">
                    <h1>Cash Prizes</h1>
                    <p>Each winner will also receive a goodie bag of Spitball swag!</p>
                </div>
                <div class="prize-list">
                    <div class="prize">
                        <div class="place">2<sup>nd</sup>
                        </div>
                        <div class="value-wrapper">
                            <div class="card"></div>
                            <div class="value">$250</div>
                        </div>
                        @Html.Svg(iconsSvg, "promo-2nd-place")
                    </div>
                    <div class="prize">
                        <div class="place">1<sup>st</sup>
                        </div>
                        <div class="value-wrapper">
                            <div class="card"></div>
                            <div class="value">$500</div>
                        </div>
                        @Html.Svg(iconsSvg, "promo-1st-place")
                    </div>
                    <div class="prize">
                        <div class="place">3<sup>rd</sup>
                        </div>
                        <div class="value-wrapper">
                            <div class="card"></div>
                            <div class="value">$100</div>
                        </div>
                        @Html.Svg(iconsSvg, "promo-3rd-place")
                    </div>
                </div>
            </section>
            <section class="rules">
                <h1>Rules</h1>
                <ul>
                    <li>
                        <div class="icon-wrapper uni">@Html.Svg(iconsSvg, "universityMenu", new {@class = "icon"})</div>
                        <div class="rule">You must be currently enrolled as a student at the University of Michigan</div>
                    </li>
                    <li>
                        <div class="icon-wrapper like">@Html.Svg(boxIconsSvg, "like", new {@class = "icon"})</div>
                        <div class="rule">The flashcard set must have a minimum of 10 likes to be considered a valid entry</div>
                    </li>
                    <li>
                        <div class="icon-wrapper original">@Html.Svg(iconsSvg, "original", new {@class = "icon"})</div>
                        <div class="rule">Flashcards must contain original content and cannot be duplicated from another site or source</div>
                    </li>
                    <li>
                        <div class="icon-wrapper spy">@Html.Svg(iconsSvg, "spy", new {@class = "icon"})</div>
                        <div class="rule">The contest will run until December 15, 2016, at which point the winners will be notified</div>
                    </li>
                </ul>
            </section>
            <section class="signup-area">
                <a href="@Url.RouteUrl("HomePage", new { step = "signup" })" type="button" class="login-option signup toggle main-signup">
                    Sign Up, It's Free!
                </a>
            </section>
        </div>
    </div>
</div>
@Html.Script2("staticPage")