@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<md-sidenav ng-cloak class="chat md-sidenav-right"
            md-component-id="chat" close-menu="right">
    <md-content ng-cloak ng-controller="ChatController as c" ng-class="{stateChat: c.state === c.states.chat}">
        <div class="menu-content" @*ng-if="c.state !== c.states.chat && c.state > 0"*@>
            <div class="header">
                <div class="chat-icon" ng-click="c.close()">
                    @Html.Svg("~/images/site/icons.svg", "chat")
                    <div class="chat-counter">{{c.unread}}</div>
                </div>
                @*<div class="tabs">
                    <button type="button" ng-click="c.state = c.states.messages" ng-class="{active: c.state === c.states.messages}" class="messages tab">@ChatResources.MessagesHeader</button>
                    <button type="button" ng-click="c.friendsState()" class="friends tab" ng-class="{active: c.state === c.states.friends}">@ChatResources.FriendsHeader</button>
                </div>*@
            </div>
            <div class="tab-content" ng-class="{noChats: c.state === c.states.messages && !c.users.length}">
                <div class="empty-state">
                    @Html.Svg("~/images/site/icons.svg", "empty-chat")
                    <div class="text">
                        <span>@ChatResources.EmptyStateLine1</span>
                        @ChatResources.EmptyStateLine2
                    </div>
                </div>
                <form novalidate class="search-friend" @*ng-if="c.state === c.states.friends"*@ ng-submit="c.search()">
                    <input type="search" placeholder="@ChatResources.FriendSearchPlaceholder" ng-model="c.term" ng-change="c.search()" ng-model-options="{debounce : 300}" />
                    <button type="submit" class="search-btn">
                        @Html.Svg("~/images/site/icons.svg", "searchIcon", new { @class = "searchIcon" })
                    </button>
                </form>
                <ul class="users-list" ng-slimscroll height="calc(100vh - 155px)" color="#BBB" watch-content="true">
                    <li ng-click="c.chat(e)" class="user" ng-repeat="e in c.users track by e.id" ng-class="::{online: e.online}">
                        <user-image class="img-circle" name="::e.name" image="::e.image" width="35" height="35"></user-image>
                        <div class="name-counter">
                            <span class="member-name ellipsis" ng-bind="::e.name"></span>
                            <span class="chat-counter" ng-if="e.unread" ng-bind="::e.unread"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="conversasion angular-animate" ng-if="c.state === c.states.chat">
            <div class="header">
                <div class="user-side">
                    <div class="back" ng-click="c.backFromChat()"></div>
                    <a href="{{::c.userChat.url}}" ng-class="::{online: c.userChat.online}" class="user">
                        <user-image class="img-circle" name="::c.userChat.name" image="::c.userChat.image" width="35" height="35"></user-image>
                        <span class="member-name ellipsis" ng-bind="::c.userChat.name"></span>
                    </a>
                </div>
                <nav class="menu">
                    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                    <label class="menu-open-button" for="menu-open">
                        @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" })
                    </label>

                    <a href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "dropbox", new { @class = "dropbox" }) </a>
                    <a href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "googleDrive", new { @class = "googleDrive" }) </a>
                    <a href="#" class="menu-item"> @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" }) </a>



                </nav>
                @*<div class="attach-menu" ng-cloak>
                        <md-fab-speed-dial md-open="c.open"   md-direction="down" class="md-fling angular-animate">
                            <md-fab-trigger aria-label="menu">
                                <md-button aria-label="add">
                                    @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" })
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <button>
                                    @Html.Svg("~/images/site/uploadIcons.svg", "dropbox", new { @class = "dropbox" })
                                </button>
                                <button>
                                    @Html.Svg("~/images/site/uploadIcons.svg", "googleDrive", new { @class = "googleDrive" })
                                </button>
                                <button>
                                    @Html.Svg("~/images/site/uploadIcons.svg", "file", new { @class = "attach" })
                                </button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>*@
            </div>
            <div class="chat-content">
                <ul class="messages" ng-slimscroll height="calc(100vh - 140px)" start="bottom" watch-content="true" color="#BBB">
                    @*<li class="partner message">
                            <div class="content text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="self message">
                            <div class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="partner message">
                            <div class="content text">to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like</div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="self message">
                            <div class="text">Aldus PageMaker including versions of Lorem Ipsum. <a href="https://www.spitball.co/">https://www.spitball.co/</a></div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="partner message">
                            <div class="image"><img src="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg" /></div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="self message">
                            <div class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="partner message">
                            <div class="text">to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like</div>
                            <div class="time">22 min ago</div>
                        </li>
                        <li class="self message">
                            <div class="text">Aldus PageMaker including versions of Lorem Ipsum. <a href="https://www.spitball.co/">https://www.spitball.co/</a>
                            </div>
                            <div class="time">22 min ago</div>
                        </li>*@
                    <li class="message" ng-repeat="e in c.messages" ng-class="{partner: e.partner}">
                        <div class="text" ng-bind-html="e.text"></div>
                        <time-ago class="time" from-time="{{::e.time}}" format="mediumDate"></time-ago>
                    </li>
                </ul>
                <div class="new-message">
                    <form name="chatDialog" novalidate ng-submit="c.send()">
                        @*<div class="textarea" contenteditable="true"></div>*@
                        <md-input-container md-no-float="false">
                            <textarea enter-submit="c.send()" autocomplete="off" type="text" required ng-model="c.newText" placeholder="@ChatResources.NewMessagePlaceholder"></textarea>
                        </md-input-container>
                        <button type="submit" class="btn button-Blue" ng-disabled="c.disabled" @*ga-track-event="['box-new-commnet', 'postComment']"*@>
                            @Html.Svg("~/images/site/uploadIcons.svg", "post")
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>