@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/favicon.ico")"/>

    
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
     @*For ipad user scalable fix bug of position fixed - bug 260*@
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    @*<meta name="viewport" content="width=device-width, maximum-scale=1.0" />*@
    
    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="Join the social studying revolution at Cloudents" />
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">
   

    @Html.Css2("newcore3")
    @Html.CssRtl("newrtl3")
    @Html.CssCulture("lang")

   @* @if (ViewBag.firstTime)
    {
        @Html.Css2("welcome")
        @Html.CssRtl("welcomeRtl")
    }*@

</head>