@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{

    const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;

    var logoLink = Url.Action("Index", "dashboard"); //: Url.RouteUrl("homePage");
}
<!DOCTYPE html>
<!--[if IE]>
   <script>
       if (!window.document.documentMode || window.document.documentMode < 10) {
           window.location = "/Error/Unsupported";
       }
   </script>
   <![endif]-->
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName" ng-app="app" @*ng-strict-di*@>

<head>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    @Html.Css2("site4")
    @{Html.RenderPartial("_Head");}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no," name="viewport" />
    <base href="/" />
</head>
<body @*md-layout-css*@ ng-controller="AppController as app"
      class="{{app.theme}} color-override backgroundColor1 clearfix" ng-class="{menuOpened: app.menuOpened, fixedBgColor: app.fixedBgColor}">
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');</script>
    <!-- End Google Tag Manager -->

    <div ng-spinner-bar class="sb-loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>

    <header id="main-nav" class="nav-bar color-override backgroundColor2" ng-class="{'expand-search': app.expandSearch}" layout="row" ng-cloak>
        <div class="logo-search" layout="row" layout-align="start center" flex="100">
            <button type="button" ng-if="app.showMenu" ng-click="app.toggleMenu()" class="menu-toggler responsive-toggler" ga-track-event="['header', 'open menu']">
                @Html.Svg(svgUrl, "headerMenu", new { @class = "headerMenu svgTC17 hoverSvgTC18" })
            </button>
            <div class="logo">
                <div class="page-logo">
                    <a href="@logoLink" @shouldPostBack ga-track-event="['header', 'logo']">
                        @Html.Svg(svgUrl, "logo", new { @class = "logo-default", hide_xs = "" })
                        @Html.Svg(svgUrl, "smallLogo", new { @class = "logo-small", hide = "", show_xs = "" })
                    </a>
                </div>
            </div>
            <form ng-controller="SearchTriggerController as st" ng-show="st.show"
                  ng-submit="st.search(searchTrigger.$valid)" name="searchTrigger"
                  novalidate class="search-form search-form-expanded" ng-if="app.showSearch">
                <div class="search-area color-override backgroundColor4">
                    <input required ng-change="st.change(searchTrigger.$valid)"
                           ng-focus="app.expandSearch = true"
                           ng-blur="app.expandSearch = false"
                           ng-model="st.term"
                           ng-minlength="2"
                           ng-model-options="{debounce : 1000}"
                           type="search" class="text"
                           user-not-register-popup="focus" placeholder="@GeneralResources.Search" />
                    <button type="submit" class="search-btn color-override backgroundColor11" ng-disabled="!st.term.length">
                        <span>@Html.Svg(svgUrl, "searchIcon", new { @class = "searchIcon color-override svgColor3" })</span>
                    </button>
                </div>
            </form>
        </div>
        <div layout="row" layout-align="center center" flex="none" ng-cloak ng-show="ud.loaded" ng-controller="UserDetailsController as ud">
            <md-menu class="user-md-menu color-override textColor1 hoverBackgroundColor4" ng-if="ud.isLoggedIn" md-offset="-115 80">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open menu">
                    {{ud.name}}
                    <md-icon md-menu-origin>
                        <user-image class="img-circle" name="ud.name" image="ud.image" width="39" height="39" noremove="true"></user-image>
                    </md-icon>
                </md-button>
                <md-menu-content md-menu-align-target class="md-user-menu">
                    <md-menu-item class="user-menu-item">
                        <md-button href="{{::ud.url}}" @shouldPostBack ga-track-event="['header', 'user activities']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "userMenu", new { @class = "svgTC16" })</md-icon>
                            @IndexResources.User
                        </md-button>
                    </md-menu-item>
                    <md-menu-item class="user-menu-item">
                        <md-button href="@Url.RouteUrl("AccountSettings")" @shouldPostBack ga-track-event="['header', 'settings']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "settingMenu", new { @class = "svgTC16" })</md-icon>
                            @IndexResources.Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-item class="user-menu-item">
                        <md-button href="@Url.RouteUrl("Help")" target="_self" ga-track-event="['header', 'help']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "headerHelp", new { @class = "svgTC16" })</md-icon>
                            @SharedResources.Help
                        </md-button>
                    </md-menu-item>
                    <md-menu-item class="user-menu-item">
                        <md-button ng-click="app.logOut()" target="_self" href="@Url.Action("logoff","account")" @shouldPostBack ga-track-event="['header', 'logout']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "logOffMenu", new { @class = "svgTC16" })</md-icon>
                            @IndexResources.Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            @{
                var returnUrl = Request.QueryString["returnUrl"] ?? Request.Url.ToString();
                var invId = Request.QueryString["invId"];

            }
            <div class="login-buttons" ng-if="!ud.isLoggedIn">
                <a class="btn btn-default" target="_self" href="@Url.RouteUrl("signup", new { returnUrl, invId })" ga-track-event="['header', 'sign up']">@IndexResources.Signup</a>
                <a class="btn button-Blue btn-primary" target="_self" href="@Url.RouteUrl("signin", new { returnUrl, invId })" ga-track-event="['header', 'log in']">@IndexResources.Login</a>
            </div>
        </div>
    </header>


    <div class="page-body">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    <div class="page-footer">
        <div class="scroll-to-top">
            @Html.Svg(svgUrl, "arrow")
        </div>
    </div>
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{
        Html.RenderPartial("_UnregView");
        Html.RenderPartial("_commonTemplate");
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    @Html.Script2("site4")
    @*<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js" ></script>
    <script type="text/javascript" src="/scripts/Modernizr.js" ></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js" ></script>
    <script type="text/javascript" src="/bower_components/ui-router/release/angular-ui-router.js" ></script>
    <script type="text/javascript" src="/bower_components/angular-messages/angular-messages.js" ></script>
    <script type="text/javascript" src="/bower_components/textAngular/dist/textAngular-rangy.min.js" ></script>
    <script type="text/javascript" src="/bower_components/angular-cache/dist/angular-cache.js" ></script>
    <script type="text/javascript" src="/bower_components/textAngular/dist/textAngular-sanitize.min.js" ></script>
    <script type="text/javascript" src="/bower_components/ngSlimscroll/src/js/ngSlimscroll.js" ></script>
    <script type="text/javascript" src="/bower_components/angular-google-analytics/dist/angular-google-analytics.js" ></script>
    <script type="text/javascript" src="/scripts/textAngularSetup.js" ></script>
    <script type="text/javascript" src="/bower_components/textAngular/dist/textAngular.js" ></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js" ></script>
    <script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js" ></script>
    <script type="text/javascript" src="/bower_components/angular-material/angular-material.js" ></script>
    <script type="text/javascript" src="/scripts/angular-srph-infinite-scroll.js" ></script>
    <script type="text/javascript" src="/scripts/plupload2/moxie.min.js" ></script>
    <script type="text/javascript" src="/scripts/plupload2/plupload.dev.js" ></script>
    <script type="text/javascript" src="/scripts/plupload2/angular-plupload2.js" ></script>
    <script type="text/javascript" src="/scripts/ui-bootstrap-custom-tpls-1.2.1.min.js" ></script>
    <script type="text/javascript" src="/scripts/svg4everybody.js" ></script>
    <script type="text/javascript" src="/scripts/angular-countUp.js" ></script>
    <script type="text/javascript" src="/scripts/draganddrop.js" ></script>
    <script type="text/javascript" src="/scripts/angular-dfp.js" ></script>
    <script type="text/javascript" src="/scripts/jquery.bxslider.js" ></script>
    <script type="text/javascript" src="/js/polyfills.js" ></script>
    <script type="text/javascript" src="/js/signin/layout.js" ></script>
    <script type="text/javascript" src="/js/app.js" ></script>
    <script type="text/javascript" src="/js/app.config.js" ></script>
    <script type="text/javascript" src="/js/doubleclick.config.js" ></script>
    <script type="text/javascript" src="/js/routerHelperProvider.js" ></script>
    <script type="text/javascript" src="/js/app.route.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/stopwatch.module.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/stopwatch.filter.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/stopwatch.directive.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/popup/quiz.challenge.module.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/popup/quiz.score.module.js" ></script>
    <script type="text/javascript" src="/js/components/userdetails/userdetails.module.js" ></script>
    <script type="text/javascript" src="/js/components/user/userdetails.controller.js" ></script>
    <script type="text/javascript" src="/js/components/user/user.controller.js" ></script>
    <script type="text/javascript" src="/js/components/user/user.routes.js" ></script>
    <script type="text/javascript" src="/js/components/user/user.service.js" ></script>
    <script type="text/javascript" src="/js/components/user/updates.service.js" ></script>
    <script type="text/javascript" src="/js/components/dashboard/dashboard.service.js" ></script>
    <script type="text/javascript" src="/js/components/dashboard/dashboard.controller.js" ></script>
    <script type="text/javascript" src="/js/components/dashboard/dashboard.routes.js" ></script>
    <script type="text/javascript" src="/js/components/dashboard/university.controller.js" ></script>
    <script type="text/javascript" src="/js/components/dashboard/createBox.controller.js" ></script>
    <script type="text/javascript" src="/js/menu/menulink.directive.js" ></script>
    <script type="text/javascript" src="/js/menu/sidemenu.controller.js" ></script>
    <script type="text/javascript" src="/js/menu/nospace.filter.js" ></script>
    <script type="text/javascript" src="/js/components/box/box.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/addToAny.directive.js" ></script>
    <script type="text/javascript" src="/js/components/box/tab.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/box.routes.js" ></script>
    <script type="text/javascript" src="/js/components/box/shareBox.directive.js" ></script>
    <script type="text/javascript" src="/js/components/box/feed.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/feed.likes.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/item.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/quizzes.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/members.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/box.service.js" ></script>
    <script type="text/javascript" src="/js/components/box/recommended.controller.js" ></script>
    <script type="text/javascript" src="/js/components/box/slideit.directive.js" ></script>
    <script type="text/javascript" src="/js/components/account/account.controller.js" ></script>
    <script type="text/javascript" src="/js/components/account/notification.controller.js" ></script>
    <script type="text/javascript" src="/js/components/account/password.controller.js" ></script>
    <script type="text/javascript" src="/js/components/account/info.controller.js" ></script>
    <script type="text/javascript" src="/js/components/account/account.service.js" ></script>
    <script type="text/javascript" src="/js/components/account/account.routes.js" ></script>
    <script type="text/javascript" src="/js/components/account/unregister.controller.js" ></script>
    <script type="text/javascript" src="/js/components/account/unregisterShow.directive.js" ></script>
    <script type="text/javascript" src="/js/components/account/department.controller.js" ></script>
    <script type="text/javascript" src="/js/components/search/search.controller.js" ></script>
    <script type="text/javascript" src="/js/components/search/searchTrigger.controller.js" ></script>
    <script type="text/javascript" src="/js/components/search/search.service.js" ></script>
    <script type="text/javascript" src="/js/components/leaderboard.controller.js" ></script>
    <script type="text/javascript" src="/js/components/library/library.controller.js" ></script>
    <script type="text/javascript" src="/js/components/library/libraryChoose.controller.js" ></script>
    <script type="text/javascript" src="/js/components/library/library.routes.js" ></script>
    <script type="text/javascript" src="/js/components/library/library.service.js" ></script>
    <script type="text/javascript" src="/js/components/library/countryService.service.js" ></script>
    <script type="text/javascript" src="/js/components/share/invite.controller.js" ></script>
    <script type="text/javascript" src="/js/components/share/share.service.js" ></script>
    <script type="text/javascript" src="/js/components/item/item.controller.js" ></script>
    <script type="text/javascript" src="/js/components/item/comments.controller.js" ></script>
    <script type="text/javascript" src="/js/components/item/item.service.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/quiz.controller.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/popup/quiz.challenge.controller.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/popup/quiz.score.controller.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/quiz.service.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/quiz.routes.js" ></script>
    <script type="text/javascript" src="/js/components/quiz/quizCreate.controller.js" ></script>
    <script type="text/javascript" src="/js/components/app.controller.js" ></script>
    <script type="text/javascript" src="/js/shared/ajaxService.js" ></script>
    <script type="text/javascript" src="/js/shared/colorOnLength.js" ></script>
    <script type="text/javascript" src="/js/shared/loader.js" ></script>
    <script type="text/javascript" src="/js/shared/userimage.js" ></script>
    <script type="text/javascript" src="/js/shared/megaNumbers.js" ></script>
    <script type="text/javascript" src="/js/shared/focusMe.js" ></script>
    <script type="text/javascript" src="/js/shared/userDetails.js" ></script>
    <script type="text/javascript" src="/js/shared/fileReader.js" ></script>
    <script type="text/javascript" src="/js/shared/animationClass.js" ></script>
    <script type="text/javascript" src="/js/shared/removeKeyboard.js" ></script>
    <script type="text/javascript" src="/js/shared/firstLetter.js" ></script>
    <script type="text/javascript" src="/js/shared/history.js" ></script>
    <script type="text/javascript" src="/js/shared/itemThumbnail.js" ></script>
    <script type="text/javascript" src="/js/components/item/upload.controller.js" ></script>
    <script type="text/javascript" src="/js/components/item/externalProviderUpload.service.js" ></script>
    <script type="text/javascript" src="/js/shared/dropbox.js" ></script>
    <script type="text/javascript" src="/js/shared/google.js" ></script>
    <script type="text/javascript" src="/js/shared/facebook.js" ></script>
    <script type="text/javascript" src="/js/shared/resourceManager.js" ></script>
    <script type="text/javascript" src="/js/shared/versionChecker.js" ></script>
    <script type="text/javascript" src="/js/shared/intercom.js" ></script>*@



    <script>
        window.version = '@VersionHelper.CurrentVersion(true)';
        @if (User != null)
        {
            <text>
        window.id = @User.GetUserId(false);
        </text>
        }
    </script>
    @RenderSection("scripts", false)
    <script>
        inlineManualOptions = { language: '@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName' };
    </script>
</body>
</html>
