@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Extensions

@{

    const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;

    var logoLink = Url.Action("Index", "dashboard"); //: Url.RouteUrl("homePage");
}
<!DOCTYPE html>
<!--[if IE]>
   <script>
       if (!window.document.documentMode || window.document.documentMode < 10) {
           window.location = "/Error/Unsupported";
       }
   </script>
   <![endif]-->
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName" ng-app="app" @*ng-strict-di*@>

<head>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    @Html.Css2("site4")
    @{Html.RenderPartial("_Head");}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no," name="viewport" />
    <base href="/" />
</head>
<body @*md-layout-css*@ ng-controller="AppController as app"
      class="{{app.theme}} color-override backgroundColor1 clearfix" ng-class="{menuOpened: app.menuOpened, collapseHeader: app.collapsedHeader}">
    @{ Html.RenderPartial("_Body");}

    <div ng-spinner-bar class="sb-loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>

    <header id="main-nav" class="nav-bar color-override backgroundColor2" ng-class="{'expand-search': app.expandSearch}" layout="row" ng-cloak>
        <div class="logo-search" layout="row" layout-align="start center" flex="100">
            <button type="button" ng-if="app.showMenu" ng-click="app.toggleMenu()" class="menu-toggler responsive-toggler" hide-chat-on-mobile="click" ga-track-event="['header', 'open menu']">
                @Html.Svg(svgUrl, "headerMenu", new {@class = "headerMenu svgTC17 hoverSvgTC18"})
            </button>
            <div class="logo">
                <div class="page-logo">
                    <a href="@logoLink" @shouldPostBack ga-track-event="['header', 'logo']" hide-chat-on-mobile="click">
                        @Html.Svg(svgUrl, "logo", new {@class = "logo-default", hide_xs = ""})
                        @Html.Svg(svgUrl, "smallLogo", new {@class = "logo-small", hide = "", show_xs = ""})
                    </a>
                </div>
            </div>
            <form ng-controller="SearchTriggerController as st" ng-show="st.show"
                  ng-submit="st.search(searchTrigger.$valid)" name="searchTrigger"
                  novalidate class="search-form search-form-expanded" ng-if="app.showSearch">
                <div class="search-area color-override backgroundColor4">
                    <input required ng-change="st.change(searchTrigger.$valid)"
                           ng-focus="app.expandSearch = true;"
                           ng-blur="app.expandSearch = false"
                           ng-model="st.term"
                           ng-minlength="2"
                           ng-model-options="{debounce : 1000}"
                           hide-chat-on-mobile="focus"
                           type="search" class="text"
                           user-not-register-popup="focus" placeholder="@GeneralResources.Search"/>
                    <button type="submit" class="search-btn color-override backgroundColor11" ng-disabled="!st.term.length">
                        <span>@Html.Svg(svgUrl, "searchIcon", new {@class = "searchIcon color-override svgColor3"})</span>
                    </button>
                </div>
            </form>
        </div>
        <div ui-view="user-profile"></div>
        
    </header>

    @*'hidden-chat' : app.chatDisplayState === 0,*@
    <div class="page-body">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    <div class="page-footer">
        <scroll-to-top></scroll-to-top>
    </div>
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{
        Html.RenderPartial("_UnregView");
        Html.RenderPartial("_commonTemplate");
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    @Html.Script2("site4")



    <script>
        window.version = '@VersionHelper.CurrentVersion(true)';
        @if (User != null)
        {
            <text>
        window.id = @User.GetUserId(false);
        window.dChat = '@ConfigFetcher.Fetch("signalR")';
        </text>
        }
    </script>



    @RenderSection("scripts", false)
    @*<script>
            inlineManualOptions = { language: '@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName' };
        </script>*@

    @*<script>!function(){var e=document.createElement("script"),t=document.getElementsByTagName("script")[0];e.async=1,e.src="https://inlinemanual.com/embed/player.48877e35a515f4d5093914d5e9e51176.js",e.charset="UTF-8",t.parentNode.insertBefore(e,t)}();</script>*@

</body>
</html>
