@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.ViewModel.DTOs.Store
@{
    var model = ViewBag.categories as IList<CategoryDto> ?? new List<CategoryDto>();

    
}
@helper Category(IEnumerable<CategoryDto> categories)
{
    <ul>
        @foreach (var sub in categories)
        {
        <li><a href="@Url.RouteUrl("storeCategory", new { categoryid = sub.Id, categoryname="ram"})">@sub.Name</a></li>
        }
    </ul>
}
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Html.Css2("shopping")
    @Html.CssRtl("shoppingRtl")
    @Html.CssCulture("lang")
</head>
<body ng-controller="MainCtrl">
    <header role="banner">
        <div class="rFloat">
            <button type="button" class="login">Log in</button> /
            <button type="button" class="signup">Sign up</button>
            <div class="language">
                <button type="button" title="English (US)" ng-class="{currentItem === info.currentLanguage}" ng-click="'en-US'">English‎</button>
                <button type="button" title="Russian site" ng-class="{currentItem === info.currentLanguage}" ng-click="'ru-RU'">Pусский</button>
                <button type="button" title="Hebrew site" ng-class="{currentItem === info.currentLanguage}" ng-click="'he-IL'">עברית</button>
                <button type="button" title="Arabic site" ng-class="{currentItem === info.currentLanguage}" ng-click="'ar-AE'">العربية</button>
            </div>
        </div>
        <h1 class="logo">Product discounts exclusively for students </h1>
    </header>
    @*Ram: When click on products button - add class "showProducts" to nav*@
    <nav>
        <ul class="navLinks">
            <li><a href="~/Shopping">Home</a></li>
            <li><button type="button" class="">Products</button></li>
            <li><a href="~/Shopping/Sales">Hot sales</a></li>
            <li><a href="~/Shopping/About">About</a></li>
            <li><a href="~/Shopping/Contact">Contact us</a></li>
        </ul>
        <div class="categoryDD">
            <ul class="categoryList">
                <li class="spr-computer">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 613))
                       
                </li>
                <!--
                -->
                <li class="spr-cal">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 697))
                       
                </li>
                <!--
                -->
                <li class="spr-dic">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 699))
                       
                </li>
                <!--
                -->
                <li class="spr-smartphone">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 675))
                        
                </li>
                <!--
                -->
                <li class="spr-printers">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 612))
                       
                </li>
                <!--
                -->
                <li class="spr-covers">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 703))
                       
                </li>
                <!--
                -->
                <li class="spr-chair">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 690))
                        
                </li>
                <!--
                -->
                <li class="spr-martini">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 622))
                       
                </li>
                <!--
                -->
                <li class="spr-tv">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 629))
                       
                </li>
                <!--
                -->
                <li class="spr-eco">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 669))
                        
                </li>
                <!--
                -->
                <li>
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 631))
                        
                </li>
                <!--
                -->
                <li class="spr-house">
                    <h3>PC / Tablet</h3>
                        @Category(model.Where(w => w.ParentId == 633))
                       
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer role="contentinfo">
        <div class="wpr">
            <div>
                <h3>PC / Tablet</h3>
                    @Category(model.Where(w => w.ParentId == 613))
                   
                <h3>Calculators</h3>
                    @Category(model.Where(w => w.ParentId == 697))
            </div>

            <div>
                <h3>Electronic dictionaries</h3>
                    @Category(model.Where(w => w.ParentId == 699))
                    
                <h3>Cell phones</h3>
                    @Category(model.Where(w => w.ParentId == 675))
                   
                <h3>Computer equipment</h3>
                    @Category(model.Where(w => w.ParentId == 612))
            </div>

            <div>
                <h3>PC / Tablet</h3>
                    @Category(model.Where(w => w.ParentId == 703))
                <h3>Calculators</h3>
                    @Category(model.Where(w => w.ParentId == 690))
            </div>

            <div>
                <h3>Electronic dictionaries</h3>
                    @Category(model.Where(w => w.ParentId == 622))
                <h3>Cell phones</h3>
                    @Category(model.Where(w => w.ParentId == 629))
                <h3>Computer equipment</h3>
                    @Category(model.Where(w => w.ParentId == 669))
            </div>

            <div>
                <h3>PC / Tablet</h3>
                    @Category(model.Where(w => w.ParentId == 631))
                <h3>Calculators</h3>
                    @Category(model.Where(w => w.ParentId == 633))
            </div>

            @*<div>
                    <h3>Electronic dictionaries</h3>
                    <ul>
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                    </ul>
                    <h3>Cell phones</h3>
                    <ul>
                        <li><a href="#">one</a></li>
                    </ul>
                    <h3>Computer equipment</h3>
                    <ul>
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                        <li><a href="#">three</a></li>
                    </ul>
                </div>

                <div>
                    <h3>PC / Tablet</h3>
                    <ul>
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                        <li><a href="#">three</a></li>
                        <li><a href="#">four</a></li>
                        <li><a href="#">five</a></li>
                        <li><a href="#">six</a></li>
                    </ul>
                    <h3>Calculators</h3>
                    <ul>
                        <li><a href="#">one</a></li>
                    </ul>
                </div>*@
        </div>
        <div class="bottom">
            <div class="wpr logo">
                <div class="social rFloat">
                    <button class="fb" type="button"></button>
                    <button class="twtr" type="button"></button>
                    <button class="ytube" type="button"></button>
                </div>
                <ul>
                    <li><a href="#">About Cloudents</a> |</li>
                    <li><a href="#">Contact us</a> |</li>
                    <li><a href="#">Terms and services</a></li>
                </ul>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", false)
</body>
</html>
