@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{

    const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;

    var logoLink = Url.Action("Index", "dashboard"); //: Url.RouteUrl("homePage");
}
<!DOCTYPE html>
<!--[if IE]>
   <script>
       if (!window.document.documentMode || window.document.documentMode < 10) {
           window.location = "/Error/Unsupported";
       }
   </script>
   <![endif]-->
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName" ng-app="app" @*ng-strict-di*@>

<head>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    @Html.Css2("site4")
    @{Html.RenderPartial("_Head");}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no," name="viewport" />
    <base href="/" />
</head>
<body @*md-layout-css*@ ng-controller="AppController as app"
      class="{{app.theme}} color-override backgroundColor1 clearfix" ng-class="{menuOpened: app.menuOpened, fixedBgColor: app.fixedBgColor, collapseHeader: app.collapsedHeader}">
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');</script>
    <!-- End Google Tag Manager -->

    <div ng-spinner-bar class="sb-loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>

    <header id="main-nav" class="nav-bar color-override backgroundColor2" ng-class="{'expand-search': app.expandSearch}" layout="row" ng-cloak>
        <div class="logo-search" layout="row" layout-align="start center" flex="100">
            <button type="button" ng-if="app.showMenu" ng-click="app.toggleMenu()" class="menu-toggler responsive-toggler" ga-track-event="['header', 'open menu']">
                @Html.Svg(svgUrl, "headerMenu", new { @class = "headerMenu svgTC17 hoverSvgTC18" })
            </button>
            <div class="logo">
                <div class="page-logo">
                    <a href="@logoLink" @shouldPostBack ga-track-event="['header', 'logo']">
                        @Html.Svg(svgUrl, "logo", new { @class = "logo-default", hide_xs = "" })
                        @Html.Svg(svgUrl, "smallLogo", new { @class = "logo-small", hide = "", show_xs = "" })
                    </a>
                </div>
            </div>
            <form ng-controller="SearchTriggerController as st" ng-show="st.show"
                  ng-submit="st.search(searchTrigger.$valid)" name="searchTrigger"
                  novalidate class="search-form search-form-expanded" ng-if="app.showSearch">
                <div class="search-area color-override backgroundColor4">
                    <input required ng-change="st.change(searchTrigger.$valid)"
                           ng-focus="app.expandSearch = true"
                           ng-blur="app.expandSearch = false"
                           ng-model="st.term"
                           ng-minlength="2"
                           ng-model-options="{debounce : 1000}"
                           type="search" class="text"
                           user-not-register-popup="focus" placeholder="@GeneralResources.Search" />
                    <button type="submit" class="search-btn color-override backgroundColor11" ng-disabled="!st.term.length">
                        <span>@Html.Svg(svgUrl, "searchIcon", new { @class = "searchIcon color-override svgColor3" })</span>
                    </button>
                </div>
            </form>
        </div>
        <div layout="row" layout-align="center center" flex="none" ng-cloak ng-show="ud.loaded" ng-controller="UserDetailsController as ud">
            <md-menu class="user-md-menu color-override textColor1 hoverBackgroundColor4" ng-if="ud.isLoggedIn" md-offset="-115 80">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open menu">
                    {{ud.name}}
                    <md-icon md-menu-origin>
                        <user-image class="img-circle" name="ud.name" image="ud.image" width="39" height="39" noremove="true"></user-image>
                    </md-icon>
                </md-button>
                <md-menu-content md-menu-align-target class="md-user-menu">
                    <md-menu-item class="user-menu-item">
                        <md-button href="{{::ud.url}}" @shouldPostBack ga-track-event="['header', 'user activities']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "userMenu", new { @class = "svgTC16" })</md-icon>
                            @IndexResources.User
                        </md-button>
                    </md-menu-item>
                    <md-menu-item class="user-menu-item">
                        <md-button href="@Url.RouteUrl("AccountSettings")" @shouldPostBack ga-track-event="['header', 'settings']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "settingMenu", new { @class = "svgTC16" })</md-icon>
                            @IndexResources.Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-item class="user-menu-item">
                        <md-button href="@Url.RouteUrl("Help")" target="_self" ga-track-event="['header', 'help']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "headerHelp", new { @class = "svgTC16" })</md-icon>
                            @SharedResources.Help
                        </md-button>
                    </md-menu-item>
                    <md-menu-item class="user-menu-item">
                        <md-button ng-click="app.logOut()" target="_self" href="@Url.Action("logoff","account")" @shouldPostBack ga-track-event="['header', 'logout']">
                            <md-icon md-menu-align-target>@Html.Svg(svgUrl, "logOffMenu", new { @class = "svgTC16" })</md-icon>
                            @IndexResources.Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            @{
                var returnUrl = Request.QueryString["returnUrl"] ?? Request.Url.ToString();
                var invId = Request.QueryString["invId"];

            }
            <div class="login-buttons" ng-if="!ud.isLoggedIn">
                <a ng-click="ud.signup($event)" class="btn btn-default" target="_self" href="@Url.RouteUrl("signup", new { returnUrl, invId })" ga-track-event="['header', 'sign up']">@IndexResources.Signup</a>
                <a ng-click="ud.signup($event)" class="btn button-Blue btn-primary" target="_self" href="@Url.RouteUrl("signin", new { returnUrl, invId })" ga-track-event="['header', 'log in']">@IndexResources.Login</a>
            </div>

            @if (ViewBag.errorPage == null || !ViewBag.errorPage)
            {
                <div ng-controller="chatIndicatorController as cc" user-not-register-popup="click" class="chat-icon" ng-click="cc.openChat()" ng-if="app.showChat">
                    @Html.Svg("~/images/site/icons.svg", "chat")
                    <div class="chat-counter" ng-if="cc.unread() > 0">{{cc.unread()}}</div>
                </div>
            }
        </div>
    </header>


    <div class="page-body">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    <div class="page-footer">
        <scroll-to-top></scroll-to-top>
    </div>
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{
        Html.RenderPartial("_UnregView");
        Html.RenderPartial("_commonTemplate");
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    @Html.Script2("site4")



    <script>
        window.version = '@VersionHelper.CurrentVersion(true)';
        @if (User != null)
        {
            <text>
        window.id = @User.GetUserId(false);
        window.dChat = '@Zbang.Zbox.Infrastructure.Extensions.ConfigFetcher.Fetch("signalR")';
        </text>
        }
    </script>



    @RenderSection("scripts", false)

    @*<script>
            inlineManualOptions = { language: '@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName' };
        </script>*@

    @*<script>!function(){var e=document.createElement("script"),t=document.getElementsByTagName("script")[0];e.async=1,e.src="https://inlinemanual.com/embed/player.48877e35a515f4d5093914d5e9e51176.js",e.charset="UTF-8",t.parentNode.insertBefore(e,t)}();</script>*@

</body>
</html>
