@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Join the social studying revolution at Cloudents";
    ViewBag.fLib = ViewBag.fLib ?? false;
    ViewBag.fDash = ViewBag.fDash ?? false;
    ViewBag.fBox = ViewBag.fBox ?? false;
    ViewBag.fItem = ViewBag.fItem ?? false;
}
<!DOCTYPE html>

<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" ng-app="main">
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />

    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" || System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*For ipad user scalable fix bug of position fixed - bug 260*@
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="@ViewBag.metaDescription" />
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">

    @Html.Css2("newcore3")
    @Html.CssRtl("newrtl3")
    @Html.CssCulture("lang")

</head>
<body data-pic="@Url.CdnContent("/Images/EmptyState/user-pic.png")">
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->
    <noscript>
        <div>
            Cloudents works best with javascript enabled
        </div>
    </noscript>
    <header class="siteHeader">
        <a class="siteLogo lFloat" data-version="@VersionHelper.CurrentVersion()" data-navigation="Dashboard"
           @*href="@Url.Action("Index", "Dashboard")?r=siteheader"*@
           href="@Url.Action("Index", "Dashboard")"></a>
        <div class="headerRightWpr rFloat">
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderAction("GetUserDetail3", "Account", true);
                    }
                </ul>
            </nav>

            <form class="dashLibSearch" id="g_search">
                <input id="g_searchQ" autocomplete="off"
                       type="search" name="query" class="dashLibSearchInput" placeholder="@SharedResources.Search" />
                <button id="searchDropDownBtn" disabled type="submit"></button>
                <div class="searchDD allResults">
                    <h3>@SharedResources.Courses / @SharedResources.GroupBoxes</h3>
                    <ul class="searchList boxes"></ul>
                    <h3>@SharedResources.Materials</h3>
                    <ul class="searchList items"></ul>
                    <h3>@SharedResources.People</h3>
                    <ul class="searchList people"></ul>
                    <h3>@SharedResources.ResultsOther</h3>
                    <ul class="searchList university"></ul>
                    <a class="showAll" data-navigation="search">@SharedResources.AllResults&nbsp;<q></q></a>
                    <div class="emptySearch">@SharedResources.NoResults</div>
                </div>
            </form>
        </div>
    </header>

    <div class="bodyContent noQuiz" id="main" ng-controller="MainController">
        @RenderBody()

        <div id="fb-root"></div>

        <div id="quizCreate" ng-controller="QuizCreateController">
            <div ng-if="params.showCreateQuiz">
                <div ng-include="'/Quiz/CreateQuiz'" onload="showQuiz()"></div>
            </div>

        </div>
        @*@{ViewBag.fBox = true; }*@
        <span id="firstTime" data-libf="@ViewBag.fLib.ToString().ToLower()"
              data-myf="@ViewBag.fDash.ToString().ToLower()"
              data-boxf="@ViewBag.fBox.ToString().ToLower()"
              data-itemf="@ViewBag.fItem.ToString().ToLower()"></span>
    </div>

    <div id="mLoading" class="loading">
        <div class="spinner"></div>
    </div>
    @*Guy: Please add the class 'ptsAnim' when necessary, and after 3.5s apply the points counter animation (duration: 1s) on
        the userPts element (see Account/_UserDetail3) with the addition of the the #points*@
    <div class="ptsPopup" id="ptsPopup" data-pts-before="@SharedResources.SweetPoints" data-pts-after="@SharedResources.Pts">
        <div class="digitWpr"></div>
    </div>


    <div class="uploads" id="uploads">
        @*collapsed*@
        <div class="uploadTop" id="uploads_title">
            <span id="uploadsTT" class="lFloat" data-finish="@DialogResources.UploadedFiles" data-maintitle="@DialogResources.UploadingFiles" data-minimizetile="@DialogResources.Uploading"></span>
            <span id="uploadsTF" class="uploadDetails elps"><q></q></span>
            <span id="uploadsTP" class="uploadPercent"></span>
            <div class="uploadBtns">
                @*<button type="button" class="minimize" id="uploads_minimize"></button>*@
                <button type="button" class="stopUpload" id="uploads_close"></button>
            </div>

        </div>
        <ul class="uploadList" id="uploadList"></ul>
    </div>
    @{
        Html.RenderPartial("_Message", new Zbang.Cloudents.Mvc4WebRole.Models.Share.Message());
        if (!User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Welcome");
        }
    }
    @RenderSection("templates", false)
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    <script type="text/javascript" src="~/Js/CDNFallback.js"></script>

    <script type="text/html" id="userToolTipTempalte">
        <a data-navigation="User" href="{{url}}">
            <img class="ttImg" src="{{image}}" width="99" height="99" />
        </a>
        <a class="ttUsername elps" data-navigation="User" href="{{url}}">{{name}}</a>
        <div class="ttSchool elps">{{university}}</div>
        <span class="ttPoints lFloat" data-tt-points="{{score}}">&nbsp;@SharedResources.Points</span>
        <button type="button" class="btn3 rFloat">@SharedResources.Message</button>
    </script>
    <script type="text/html" id="templateUpload">
        <li class="uploadItem" id="{{id}}">
            <span class="fileName elps">{{name}}</span>
            <span class="fileSize">({{size}})</span>
            <div class="uploadProgress">
                <button type="button" class="fileCancel rFloat">@DialogResources.Cancel</button>
                <button type="button" class="fileDone rFloat" disabled="disabled"></button>
                <button type="button" class="fileError rFloat" disabled="disabled"></button>
                <span class="progress rFloat" data-percentage="0"><span class="progressFill"></span></span>
            </div>
        </li>
    </script>
    <script type="text/html" id="titleToolTipTempalte">
        <div class="titleTooltip">
            <div style="position: relative">
                <div class="toolTipContent">
                    {{title}}<div class="ttArrow"></div>
                </div>
            </div>
        </div>

    </script>
    @*@Search*@
    <script type="text/html" id="boxesSearchTemplate">
        <li>
            <a href="{{url}}" data-navigation="box" class="searchItem">
                <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
                <div class="searchDetails">
                    <div class="searchTitle semiFont elps">{{name}}</div>
                    <span class="searchDetail {{allDetails}}">{{proffessor}}</span>
                    <span class="searchDetail">{{courseCode}}</span>
                </div>
            </a>
        </li>
    </script>
    <script type="text/html" id="itemsSearchTemplate">
        <li>
            <a href="{{url}}" data-navigation="item" class="searchItem">
                <div class="otherUni semiFont">{{universityName}}</div>
                <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
                <div class="searchDetails">
                    <div class="searchTitle semiFont elps">{{name}}</div>
                    <div class="boxLoc searchDetail" data-ignore-rtl="true" data-search-in="@SharedResources.In">{{boxName}}</div>
                </div>
            </a>
        </li>
    </script>
    <script type="text/html" id="peopleSearchTemplate">
        <li>
            <a href="{{url}}" data-navigation="user" class="searchItem">
                <img class="lFloat imgBorder userImg" src="{{image}}" alt="" width="33" height="33" />
                <div class="searchTitle semiFont elps">{{name}}</div>
            </a>
        </li>
    </script>
    @*If the tooltip has btns add class btns and extra markup
        If arrow is on top no class needed otherwise add class bottom,left,right as needed*@
    @{
        if (ViewBag.fBox)
        {
            <div id="quizGuideTemplate" class="steps quizGuideTemplate" style="display:none">
                  <div class="tooltip btns" data-step="0" data-tt-position="#addQuiz" data-arrow-position="left">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>בקלאודנטס  בנינו עבורכם כלי אינטראקטיבי ליצירת קוויזים (שאלון אמריקאי) בו תוכלו ליצור ולשתף מבחנים שאתם בניתם ולתרגל איתם כחלק מהכנה לבחינת הקורס.</div>
                        <ul>
                            <li>יצירת הקוויז על גבי מסמכים קיימים בקלאודנטס</li>
                            <li>אפשרות לשמירה של קובץ טיוטה</li>
                            <li>סימון תשובות נכונות</li>
                            <li>שמירה אוטומטית של התוכן בענן</li>
                            <li>יצירת הקוויז על גבי מסמכים קיימים בקלאודנטס</li>
                            <li>שיתוף של הקוויז עם החברים</li>
                        </ul>
                        <div>הקווזים של קלאודנטס  - צרו, שתפו, תרגלו והצליחו במבחן!</div>
                        <div class="ttBtns">
                            <button type="button" data-next class="rFloat btn3">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tooltip" data-step="1" data-tt-position=".quizItem" , data-arrow-position="top">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        בקופסה שלפניכם קיים קוויז שיעזור לכם להתכונן טוב יותר לבחינה, נסו אותו!
                        הקוויז של קלאודנטס הוא מבחן המורכב משאלות סגורות המאפשר לתרגל בחינות באופן אינטראקטיבי:
                        •	קבלת ציון משוכלל של הבחינה
                        •	קבלת פידבק מהחברים האחרים בקורס
                        •	שיתוף של הבחינה עם חברים כדי שתוכלו ללמוד ביחד
                        •	דיון בין חברי הקורס על שאלות ספציפיות ודברים לא מובנים בבחינה
                        •	מדידה של כמה זמן לקח לכם לפתור את הקוויז
                        למה אתה מחכים, שיהיה בהצלחה!

                    </div>
                </div>
            </div>

        }
    }

    @*@Search*@
    @*<script type="text/javascript" src="@Url.UICultureContent("~/Js/Resources/ZboxResources.js")"></script>*@
    <script type="text/javascript" src="@Url.Action("JsResources", "Home")"></script>
    @Html.Script2("General")
    @*@Html.Script2("angular")*@
    @Html.Script2("cd1")
    @RenderSection("scripts", false)

    @if (User.Identity.IsAuthenticated)
    {
        <iframe id="fconnect" src="@System.Configuration.ConfigurationManager.AppSettings["pushUrl"]"></iframe>

    }

</body>

</html>
