@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
    ViewBag.fLib = ViewBag.fLib ?? false;
    ViewBag.fDash = ViewBag.fDash ?? false;
    ViewBag.fBox = ViewBag.fBox ?? false;
    ViewBag.fItem = ViewBag.fItem ?? false;
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico"/>
    
     @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" || System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*For ipad user scalable fix bug of position fixed - bug 260*@
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="Join the social studying revolution at Cloudents" />
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">

    @Html.Css2("newcore3")
    @Html.CssRtl("newrtl3")
    @Html.CssCulture("lang")

</head>
<body>
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->
    <noscript>
        <div>
            Cloudents works best with javascript enabled
        </div>
    </noscript>
    <header class="siteHeader">
        <a class="siteLogo lFloat" data-version="@VersionHelper.CurrentVersion()" data-navigation="Dashboard"
           href="@Url.Action("Index", "Dashboard")?r=siteheader"></a>
        <div class="headerRightWpr rFloat">
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderAction("GetUserDetail3", "Account", true);
                    }
                </ul>
            </nav>

            <form class="dashLibSearch" id="g_search">
                <input id="g_searchQ" autocomplete="off"
                       type="search" name="query" class="dashLibSearchInput" placeholder="@SharedResources.Search" />
                <button type="submit"></button>
                @*Guy: please add the class 'allResults' when the show all button needs to appear at the end of the list*@
                @*Guy: please add the class 'noResults' when user query produces no search results*@
                <div class="searchDD allResults">
                    <h3>Course / Departments</h3>
                    <ul class="searchList boxes">
                        @*courseResults*@

                        @*<li class="searchItem dpt">
                            <div class="searchDetails">
                                <div class="searchTitle semiFont elps"><span class="boldPart">a</span>nt</div>
                                <div class="searchDetail">Department with&nbsp;<span data-search-numcourses="6">courses</span></div>
                            </div>
                            </li>*@
                    </ul>
                    <h3>Materials</h3>
                    <ul class="searchList items">
                        @*itemResults*@

                    </ul>
                    <h3>People</h3>
                    <ul class="searchList people">
                        @*peopleList*@
                    </ul>
                    <h3>Results from other universities</h3>
                    <ul class="searchList university">
                        @*otherResults*@
                   
                    </ul>
                    <a class="showAll" href="~/search">Show all results for <q>math</q></a>
                    <div class="emptySearch">No results were found</div>
                </div>
            </form>
        </div>
    </header>

    <div class="bodyContent" id="main">
        @RenderBody()
        <div id="fb-root"></div>

        <span id="firstTime" data-libf="@ViewBag.fLib.ToString().ToLower()" 
            data-myf="@ViewBag.fDash.ToString().ToLower()" 
            data-boxf="@ViewBag.fBox.ToString().ToLower()" 
            data-itemf="@ViewBag.fItem.ToString().ToLower()"></span>

    </div>

    <div id="mLoading" class="loading">
        <div class="spinner"></div>
    </div>
    <div class="uploads" id="uploads">
        @*collapsed*@
        <div class="uploadTop" id="uploads_title">
            <span id="uploadsTT" class="lFloat" data-finish="@DialogResources.UploadedFiles" data-maintitle="@DialogResources.UploadingFiles" data-minimizetile="@DialogResources.Uploading"></span>
            <span id="uploadsTF" class="uploadDetails elps"><q></q></span>
            <span id="uploadsTP" class="uploadPercent"></span>
            <div class="uploadBtns">
                @*<button type="button" class="minimize" id="uploads_minimize"></button>*@
                <button type="button" class="stopUpload" id="uploads_close"></button>
            </div>

        </div>
        <ul class="uploadList" id="uploadList"></ul>
    </div>
    @{ 
        Html.RenderPartial("_Message", new Zbang.Cloudents.Mvc4WebRole.Models.Share.Message());

        if (!User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_RegisterPopUp");
        }
    }

    @RenderSection("templates", false)
    <div id="cssCheck"></div>
    <script type="text/javascript" src="~/Js/CDNFallback.js"></script>


    <script type="text/html" id="userToolTipTempalte">
        <a data-navigation="User" href="{{url}}"><img class="ttImg" src="{{image}}" width="99" height="99" /></a>
        <a class="ttUsername elps" data-navigation="User" href="{{url}}">{{name}}</a>
        <div class="ttSchool elps">{{university}}</div>
        <span class="ttPoints lFloat" data-tt-points="{{score}}">&nbsp;@SharedResources.Points</span>
        <button type="button" class="btn3 rFloat">@SharedResources.Message</button>
    </script>
    <script type="text/html" id="templateUpload">
        <li class="uploadItem" id="{{id}}">
            <span class="fileName elps">{{name}}</span>
            <span class="fileSize">({{size}})</span>
            <div class="uploadProgress">
                <button type="button" class="fileCancel rFloat">@DialogResources.Cancel</button>
                <button type="button" class="fileDone rFloat"></button>
                <span class="progress rFloat" data-percentage="0"><span class="progressFill"></span></span>
            </div>
        </li>
    </script>

    @*@Search*@
    <script type="text/html" id="boxesSearchTemplate">
        <li class="searchItem">
            <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{name}}</div>
                <span class="searchDetail {{allDetails}}">{{proffessor}}</span>
                <span class="searchDetail">{{courseCode}}</span>
            </div>
        </li>
    </script>
    <script type="text/html" id="itemsSearchTemplate">
        <li class="searchItem">
            <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{name}}</div>
                <div class="boxLoc searchDetail" data-search-in="In:">{{boxName}}</div>
            </div>
        </li>
    </script>
    <script type="text/html" id="peopleSearchTemplate">
        <li class="searchItem">
            <img class="lFloat imgBorder userImg" src="{{image}}" alt="" width="33" height="33" />
            <div class="searchTitle semiFont elps">{{name}}</div>
        </li>
    </script>
    @*@Search*@
    <script type="text/javascript" src="@Url.UICultureContent("~/Js/Resources/ZboxResources.js")"></script>
    <script type="text/javascript" src="@Url.Action("JsResources", "Home")"></script>
    @Html.Script2("General")
    @Html.Script2("cd1")
    @RenderSection("scripts", false)

    @if (User.Identity.IsAuthenticated)
    {
        <iframe id="fconnect" src="@System.Configuration.ConfigurationManager.AppSettings["pushUrl"]"></iframe>
    }

</body>
</html>
