 @using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Join the social studying revolution at Cloudents";
    ViewBag.fLib = ViewBag.fLib ?? false;
    ViewBag.fDash = ViewBag.fDash ?? false;
    ViewBag.fBox = ViewBag.fBox ?? false;
    ViewBag.fItem = ViewBag.fItem ?? false;
}
<!DOCTYPE html>

<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />

    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" || System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*For ipad user scalable fix bug of position fixed - bug 260*@
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="@ViewBag.metaDescription" />
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">

    @Html.Css2("newcore3")
    @Html.CssRtl("newrtl3")
    @Html.CssCulture("lang")

</head>
<body data-pic="@Url.CdnContent("/Images/EmptyState/user-pic.png")">
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->
    <noscript>
        <div>
            Cloudents works best with javascript enabled
        </div>
    </noscript>
    <header class="siteHeader">
        <a class="siteLogo lFloat" data-version="@VersionHelper.CurrentVersion()" data-navigation="Dashboard"
           @*href="@Url.Action("Index", "Dashboard")?r=siteheader"*@
           href="@Url.Action("Index", "Dashboard")"></a>
        <div class="headerRightWpr rFloat">
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderAction("GetUserDetail3", "Account", true);
                    }
                </ul>
            </nav>

            <form class="dashLibSearch" id="g_search">
                <input id="g_searchQ" autocomplete="off"
                       type="search" name="query" class="dashLibSearchInput" placeholder="@SharedResources.Search" />
                <button id="searchDropDownBtn" disabled type="submit"></button>
                <div class="searchDD allResults">
                    <h3>@SharedResources.Courses / @SharedResources.GroupBoxes</h3>
                    <ul class="searchList boxes"></ul>
                    <h3>@SharedResources.Materials</h3>
                    <ul class="searchList items"></ul>
                    <h3>@SharedResources.People</h3>
                    <ul class="searchList people"></ul>
                    <h3>@SharedResources.ResultsOther</h3>
                    <ul class="searchList university"></ul>
                    <a class="showAll" data-navigation="search">@SharedResources.AllResults&nbsp;<q></q></a>
                    <div class="emptySearch">@SharedResources.NoResults</div>
                </div>
            </form>
        </div>
    </header>

    <div class="bodyContent noQuiz" id="main">
        @RenderBody()
        <input id="quizToggle" type="checkbox" class="checkbox" />
        <label for="quizToggle" class="toggleQuiz"></label>
        <aside id="quizSideBar" class="quizSideBar error nameReq">
            <section class="quiz">
                <header>@QuizResources.CreateQuiz
                    <button class="closeDialog"></button>
                </header>
                <div class="quizWpr">
                    <div data-quizin="@SharedResources.In" class="quizLoc">Course name here</div>
                    <input type="text" class="inputText quizName" placeholder="@QuizResources.ChooseName" />
                    <ul class="quizQuestionList" id="quizQuestionList"></ul>
                    <button class="quizAddQuestion iconTxt" id="quizAddQuestion">@QuizResources.AddQuestion</button>
                </div>
                <div class="quizBottom">
                    <button id="saveQuiz" class="saveQuiz btn1 lFloat">@QuizResources.Publish</button>
                    <span class="error">@QuizResources.CheckQuiz</span>
                    <button class="quizPreviewBtn rFloat" id="quizPreview">@QuizResources.PreviewQuiz</button>
                </div>
            </section>
        </aside>
        <div id="fb-root"></div>

        <span id="firstTime" data-libf="@ViewBag.fLib.ToString().ToLower()"
              data-myf="@ViewBag.fDash.ToString().ToLower()"
              data-boxf="@ViewBag.fBox.ToString().ToLower()"
              data-itemf="@ViewBag.fItem.ToString().ToLower()"></span>

    </div>

    <div class="quizPreview" id="preview1">
        <h2>Quiz name here</h2>
        <div class="quizTitle" data-questioncount="4">multiple choice questions</div>
        <div class="quizPrevWpr">
           
            <ul class="quizQList">
                <li>
                    <div>Why did the duck cross the road</div>
                    <ul class="quizAList">
                        <li>To get to the other side</li>
                        <li class="correct">To prove he's no chicken</li>
                        <li>because it was the chicken's day off</li>
                    </ul>
                </li>
                <li>
                    <div>Why did the duck cross the road</div>
                    <ul class="quizAList">
                        <li>To get to the other side</li>
                        <li class="correct">To prove he's no chicken</li>
                        <li>because it was the chicken's day off</li>
                    </ul>
                </li>
                <li>
                    <div>Why did the duck cross the road</div>
                    <ul class="quizAList">
                        <li>To get to the other side</li>
                        <li class="correct">To prove he's no chicken</li>
                        <li>because it was the chicken's day off</li>
                    </ul>
                </li>
                <li>
                    <div>Why did the duck cross the road</div>
                    <ul class="quizAList">
                        <li>To get to the other side</li>
                        <li class="correct">To prove he's no chicken</li>
                        <li>because it was the chicken's day off</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="mLoading" class="loading">
        <div class="spinner"></div>
    </div>
    @*Guy: Please add the class 'ptsAnim' when necessary, and after 3.5s apply the points counter animation (duration: 1s) on
        the userPts element (see Account/_UserDetail3) with the addition of the the #points*@
    <div class="ptsPopup" id="ptsPopup" data-pts-before="@SharedResources.SweetPoints" data-pts-after="@SharedResources.Pts">
        <div class="digitWpr"></div>
    </div>


    <div class="uploads" id="uploads">
        @*collapsed*@
        <div class="uploadTop" id="uploads_title">
            <span id="uploadsTT" class="lFloat" data-finish="@DialogResources.UploadedFiles" data-maintitle="@DialogResources.UploadingFiles" data-minimizetile="@DialogResources.Uploading"></span>
            <span id="uploadsTF" class="uploadDetails elps"><q></q></span>
            <span id="uploadsTP" class="uploadPercent"></span>
            <div class="uploadBtns">
                @*<button type="button" class="minimize" id="uploads_minimize"></button>*@
                <button type="button" class="stopUpload" id="uploads_close"></button>
            </div>

        </div>
        <ul class="uploadList" id="uploadList"></ul>
    </div>
    @{
        Html.RenderPartial("_Message", new Zbang.Cloudents.Mvc4WebRole.Models.Share.Message());
        if (!User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Welcome");
        }
    }
    @RenderSection("templates", false)
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    <script type="text/javascript" src="~/Js/CDNFallback.js"></script>

    <script type="text/html" id="quizQuestionTemplate">
        <li class="questionHolder correctReq answerReq questionReq">
            <form>
                <button class="closeDialog quizRemoveQuestion"></button>
                <textarea class="inputText questionText" placeholder="@SharedResources.Question #{{index}}"></textarea>
                <span class="rFloat error addQuestion">@QuizResources.AddQuestion</span>
                <div class="lFloat answers">@SharedResources.Answers:</div>
                <span class="lFloat error addAnswer">@QuizResources.AddAnswer</span>
                <div class="rFloat correct">@QuizResources.CorrectAnswer</div>
                <ul class="quizAnswersList">
                    <li class="quizAnswer">
                       <textarea class="inputText questionAnswer" placeholder="@SharedResources.Answer 1" ></textarea>
                       <input id="quizRadio{{index}}1" type="radio" class="correctAnswer" name="quizRadio" />
                       <label for="quizRadio{{index}}1"></label>
                    </li>
                    <li class="quizAnswer">
                        <textarea class="inputText questionAnswer" placeholder="@SharedResources.Answer 2"></textarea>
                        <input id="quizRadio{{index}}2" type="radio" class="correctAnswer" name="quizRadio" />
                        <label for="quizRadio{{index}}2"></label>
                    </li>
                    <li class="quizAnswer disabled">
                       <textarea class="inputText questionAnswer" placeholder="@QuizResources.AddAnswer" readonly="readonly" ></textarea>
                       <input type="radio" class="correctAnswer" disabled="disabled" name="quizRadio" />
                       <label></label>
                    </li>
                </ul>
            </form>
        </li>
    </script>

    <script type="text/html" id="quizAnswerTemplate">
        <li class="quizAnswer">
            <textarea class="inputText questionAnswer" placeholder="@SharedResources.Answer {{index}}" ></textarea>
            <input id="quizRadio{{topIndex}}{{index}}" type="radio" class="correctAnswer" disabled="disabled" name="quizRadio" />
            <label for="quizRadio{{topIndex}}{{index}}"></label>
        </li>
    </script>

    <script type="text/html" id="quizPreviewTemplate">
        <div id="preview">
            <div class="quizPrevWpr">
                <h2>{{name}}</h2>
                <div></div>
                <ul>{{questions}}</ul>
            </div>
        </div>
    </script>

    <script type="text/html" id="quizQuestionPreviewTemplate">
        <li>
            <div>{{text}}</div>
            <ul>{{answers}}</ul>
        </li>
    </script>

    <script type="text/html" id="quizAnswerPreviewTemplate">
        <li class="previewAnswer{{correct}}">{{text}}</li>
    </script>

    <script type="text/html" id="userToolTipTempalte">
        <a data-navigation="User" href="{{url}}">
            <img class="ttImg" src="{{image}}" width="99" height="99" />
        </a>
        <a class="ttUsername elps" data-navigation="User" href="{{url}}">{{name}}</a>
        <div class="ttSchool elps">{{university}}</div>
        <span class="ttPoints lFloat" data-tt-points="{{score}}">&nbsp;@SharedResources.Points</span>
        <button type="button" class="btn3 rFloat">@SharedResources.Message</button>
    </script>
    <script type="text/html" id="templateUpload">
        <li class="uploadItem" id="{{id}}">
            <span class="fileName elps">{{name}}</span>
            <span class="fileSize">({{size}})</span>
            <div class="uploadProgress">
                <button type="button" class="fileCancel rFloat">@DialogResources.Cancel</button>
                <button type="button" class="fileDone rFloat" disabled="disabled"></button>
                <button type="button" class="fileError rFloat" disabled="disabled"></button>
                <span class="progress rFloat" data-percentage="0"><span class="progressFill"></span></span>
            </div>
        </li>
    </script>
    <script type="text/html" id="titleToolTipTempalte">
        <div class="titleTooltip">
            <div style="position: relative">
                <div class="toolTipContent">
                    {{title}}<div class="ttArrow"></div>
                </div>
            </div>
        </div>

    </script>
    @*@Search*@
    <script type="text/html" id="boxesSearchTemplate">
        <li>
            <a href="{{url}}" data-navigation="box" class="searchItem">
                <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
                <div class="searchDetails">
                    <div class="searchTitle semiFont elps">{{name}}</div>
                    <span class="searchDetail {{allDetails}}">{{proffessor}}</span>
                    <span class="searchDetail">{{courseCode}}</span>
                </div>
            </a>
        </li>
    </script>
    <script type="text/html" id="itemsSearchTemplate">
        <li>
            <a href="{{url}}" data-navigation="item" class="searchItem">
                <div class="otherUni semiFont">{{universityName}}</div>
                <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
                <div class="searchDetails">
                    <div class="searchTitle semiFont elps">{{name}}</div>
                    <div class="boxLoc searchDetail" data-ignore-rtl="true" data-search-in="@SharedResources.In">{{boxName}}</div>
                </div>
            </a>
        </li>
    </script>
    <script type="text/html" id="peopleSearchTemplate">
        <li>
            <a href="{{url}}" data-navigation="user" class="searchItem">
                <img class="lFloat imgBorder userImg" src="{{image}}" alt="" width="33" height="33" />
                <div class="searchTitle semiFont elps">{{name}}</div>
            </a>
        </li>
    </script>
    <div style="position: absolute; z-index: 1000; background-color: #fff; width: 200px; height: 100px; display: none;" id="genericTooltipGuide">
        <div class="stepTip" data-step="0" style="display=none;">
            <div class="titleTip">text number 1</div>
            <div class="textTip">this is some first text</div>
            <button class="nextStep">next</button>
            <button class="closeTip">close</button>
        </div>
        <div class="stepTip" data-step="1" style="display=none;">
            <div class="titleTip">text number 2</div>
            <div class="textTip">this is some second text</div>
            <button class="prevStep">prev</button>
            <button class="nextStep">next</button>
            <button class="closeTip">close</button>
        </div>
        <div class="stepTip" data-step="2" style="display=none;">
            <div class="titleTip">text number 3</div>
            <div class="textTip">this is some third text</div>
            <button class="prevStep">prev</button>
            <button class="doneStep">done</button>
            <button class="closeTip">close</button>
        </div>


    </div>



    @*@Search*@
    <script type="text/javascript" src="@Url.UICultureContent("~/Js/Resources/ZboxResources.js")"></script>
    <script type="text/javascript" src="@Url.Action("JsResources", "Home")"></script>
    @Html.Script2("General")
    @Html.Script2("cd1")
    @RenderSection("scripts", false)

    @if (User.Identity.IsAuthenticated)
    {
        <iframe id="fconnect" src="@System.Configuration.ConfigurationManager.AppSettings["pushUrl"]"></iframe>
    }

</body>
</html>
