@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Join the social studying revolution at Cloudents";
    ViewBag.viewport = ViewBag.viewport ?? true;
    ViewBag.fBox = ViewBag.fBox ?? false;
}
<!DOCTYPE html>
<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" ng-app="app">
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />

    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" ||
        System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*For ipad user scalable fix bug of position fixed - bug 260*@
    @if (ViewBag.viewport)
    {
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
    }

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="@ViewBag.metaDescription" />
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">
    @*<base href="/dashboard/" />*@
    <base href="/">

    @Html.Css2("newcore3")
    @Html.CssRtl("newrtl3")
    @Html.CssCulture("lang")
</head>
<body ng-class="{store: $root.isStore(), quiz: $root.isQuiz(),'jsDark jsCreateDashboard' : $root.params.createBoxWizard}">

    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->

    <div class="bodyContent" data-version="@VersionHelper.CurrentVersion(true)" id="main" ng-class="{noQuiz: !$root.options.quizOpen}" ng-controller="MainCtrl"
         bag-data="@{@ViewBag.firstTime}" bag-data-property="firstTime">

        @RenderBody()
        <div id="fb-root"></div>
    </div>
    <div id="mLoading" class="loading" data-loader>
        <div class="spinner"></div>
    </div>
    <div class="ptsPopup" id="ptsPopup" user-points-popup data-pts-before="@SharedResources.SweetPoints" data-pts-after="@SharedResources.Pts">
        <div class="digitWpr"></div>
    </div>
    <div class="uploads" id="uploads" ng-controller="UploadListCtrl" ng-class="{collapsed : uploader.collapsed }" ng-style="{display: uploader.init ? 'block' : 'none'}">
        @*collapsed*@
        <div class="uploadTop" ng-click="toggleCollapse()">
            <span class="lFloat">{{uploader.title}}</span>
            <span class="uploadDetails elps" ng-show="uploader.collapsed && uploader.currentFile"><q>{{uploader.currentFile.name}}</q></span>
            <span class="uploadPercent" ng-show="uploader.collapsed && uploader.currentFile">{{uploader.currentFile.percent}}%</span>
            <div class="uploadBtns">
                @*<button type="button" class="minimize" id="uploads_minimize"></button>*@<button type="button" class="minimize" id="uploads_minimize"></button>
                <button type="button" class="stopUpload" ng-click="closeView()" ng-style="{display: !uploader.uploading ? 'inline-block' : 'none' }"></button>
            </div>
        </div>
        <ul class="uploadList" id="uploadList" m-custom-scrollbar scroll-disabled="uploader.scrollDisabled">
            <li class="uploadItem" ng-repeat="file in uploader.fileList track by file.id">
                <span class="fileName elps">{{::file.name}}</span>
                <span class="fileSize">{{::file.size | fileSize:true}}</span>
                <div class="uploadProgress">
                    <button type="button" class="fileCancel rFloat" ng-style="{ display: file.plupload ? 'block' : 'none'}" ng-hide="file.uploaded || file.error" ng-click="cancelUpload(file)">@DialogResources.Cancel</button>
                    <button type="button" class="fileDone rFloat" disabled="disabled" ng-style="{display : file.uploaded ? 'inline-block' : 'none' }"></button>
                    <button type="button" class="fileError rFloat" disabled="disabled" ng-style="{display : file.error ? 'inline-block' : 'none' }"></button>
                    <span class="progress rFloat"><span class="progressFill" ng-style="{ width: file.progressWidth }"></span></span>
                </div>
            </li>
        </ul>
    </div>

    @RenderSection("templates", false)
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    @*
        If arrow is on top no class needed otherwise add class bottom,left,right as needed*@
    @{
        if (ViewBag.fBox)
        {
            <div id="quizGuideTemplate" class="steps quizGuideTemplate">
                <div class="tooltip1 left tall" data-step="0" data-tt-position="#addQuiz" data-arrow-position="left">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>@SharedResources.CreateShare</div>
                        <ul>
                            <li>@SharedResources.ExamQuestion</li>
                            <li>@SharedResources.MultipleAnswers</li>
                            <li>@SharedResources.UseMaterial</li>
                            <li>@SharedResources.PublishQuiz</li>
                        </ul>
                        <div>@SharedResources.CloudentsQuizzes</div>
                        <div class="ttBtns">
                            <button type="button" data-done class="rFloat btn3">@SharedResources.Dismiss</button>
                            <button type="button" data-next class="rFloat btn3">@DialogResources.Next</button>
                        </div>
                    </div>
                </div>
                <div class="tooltip1" data-step="1" data-tt-position=".quizItem:not(.draft)" data-arrow-position="top">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>@SharedResources.PrepareExam</div>
                        <ul>
                            <li>@SharedResources.SeeScore</li>
                            <li>@SharedResources.ShareQuiz</li>
                            <li>@SharedResources.DiscussQuiz</li>
                        </ul>
                        <div>@SharedResources.TryIt</div>
                        <div class="ttBtns">
                            <button type="button" data-prev class="lFloat btn3">@SharedResources.Previous</button>
                            <button type="button" data-done class="rFloat btn3">@SharedResources.Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <script type="text/javascript" src="~/js/CDNFallback.js"></script>
    <script type="text/ng-template" id="userToolTip.html">
        <div class="userTooltip" ng-class="::{hidePoints : user.score <= 0}">
            <a ng-href="{{::user.url}}" ng-click="$root.checkReg($event)">
                <img class="ttImg" ng-src="{{::user.image | defaultImage:'user'}}" width="99" height="99" />
            </a>
            <a class="ttUsername elps" ng-href="{{::user.url}}" ng-click="$root.checkReg($event)">{{::user.name}}</a>
            <div class="ttSchool elps">{{::user.universityName}}</div>
            <span class="ttPoints lFloat" data-tt-points="{{::user.score}}">&nbsp;@SharedResources.Points</span>
            <button type="button" class="btn3 rFloat" ng-click="sendUserMessage(user)">@SharedResources.Message</button>
        </div>
    </script>

    @*@Search*@
    <script type="text/ng-template" id="boxHeaderSearch">
        <a ng-href="{{::box.url}}" class="searchItem">
            <img class="lFloat imgBorder" width="40" height="50" ng-src="{{::box.image | defaultImage:'box'}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps" ng-bind-html="::box.name | highlight:formData.query:false" dir="{{::params.textDirection}}"></div>
                <span class="searchDetail" ng-style="::{allDetails: box.proffessor && box.courseCode}" ng-bind-html="::box.proffessor | highlight:formData.query:false" dir="{{::params.textDirection}}"></span>
                <span class="searchDetail" ng-bind-html="::box.courseCode | highlight:formData.query:false"></span>
            </div>
        </a>
    </script>
    <script type="text/ng-template" id="itemHeaderSearch">
        <a ng-href="{{::item.url}}" class="searchItem">
            <div class="otherUni semiFont" ng-if="::item.universityName">{{::item.universityName}}</div>
            <img class="lFloat imgBorder" width="40" height="50" ng-src="{{::item.image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps" ng-bind-html="::item.name | highlight:formData.query:false" dir="{{::params.textDirection}}"></div>
                <div class="boxLoc searchDetail" data-search-in="@SharedResources.In">{{::item.boxname}}</div>
            </div>
        </a>
    </script>
    <script type="text/ng-template" id="personHeaderSearch">
        <a ng-href="{{::person.url}}" class="searchItem">
            <img class="lFloat imgBorder userImg" ng-src="{{person.image | defaultImage:'user'}}" alt="" width="33" height="33" />
            <div class="searchTitle semiFont elps" ng-bind-html="::person.name | highlight:formData.query:false" dir="{{::params.txetDirection}}"></div>
        </a>
    </script>

    @*@Search*@
    <script type="text/javascript" src="@Url.Action("jsresources", "Home" )"></script>
    @RenderSection("scripts", false)
    @*@if (User.Identity.IsAuthenticated)
        {
            <iframe id="fconnect" data-src="@System.Configuration.ConfigurationManager.AppSettings["pushUrl"]"></iframe>
        }*@
</body>
</html>
