@using Zbang.Cloudents.SiteExtension
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{

    const string svgUrl = "~/images/site/icons.svg";

    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;
}
<!DOCTYPE html>
<!--[if IE]>
   <script>
       if (!window.document.documentMode || window.document.documentMode < 10) {
           window.location = "/Error/Unsupported";
       }
   </script>
   <![endif]-->
<html lang="en" class="no-js" ng-app="app">

<head>
    @{Html.RenderPartial("_Head");}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    @Html.Css2("site4")
    <base href="/" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/njmpgayv';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</head>
<body ng-controller="AppController as app" class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo page-sidebar-fixed">

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NDZLW7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');</script>
    <!-- End Google Tag Manager -->
    <div ng-spinner-bar class="sb-loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>

    <div class="nav-bar" layout="row">
        <div class="logo-search" layout="row" layout-align="start center" flex="100">
            <div class="logo">
                <div class="page-logo">
                    <a ui-sref="dashboard" @shouldPostBack ga-track-event="['header', 'logo']" user-not-register-popup="click">
                        @Html.Svg(svgUrl, "logo", new { @class = "logo-default", hide_xs = "" })
                        @Html.Svg(svgUrl, "smallLogo", new { @class = "logo-small", hide = "", show_xs = "" })
                    </a>
                    @*<div class="menu-toggler sidebar-toggler">
                            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                        </div>*@
                </div>
            </div>
            <a href="@Url.Action("Index","Search")" @shouldPostBack class="search-form search-form-expanded" ng-hide="app.hideSearch" ga-track-event="['header', 'search']" user-not-register-popup="click">
                <div class="search-area">
                    <span type="text" class="text" input-sm">@IndexResources.Search</span>
                    <span class="search-btn">
                        @Html.Svg(svgUrl, "searchIcon", new { @class = "searchIcon" })
                    </span>
                </div>
            </a>
        </div>

        <div class="user-menu" ng-cloak ng-show="ud.loaded" ng-controller="UserDetailsController as ud">
            <a ng-if="ud.isLoggedIn" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ga-track-event="['header', 'open menu']">
                <span class="username username-hide-on-mobile">
                    {{ud.name}}
                    @*<span class="headerPoints">{{ud.score}}</span>*@
                </span>
                <user-image class="img-circle" name="ud.name" image="ud.image" width="39" height="39" noremove="true"></user-image>
            </a>
            <ul class="menu-items">
                <li>
                    <a href="{{::ud.url}}" @shouldPostBack ga-track-event="['header', 'user activities']">
                        <div>@Html.Svg(svgUrl, "userMenu")</div>
                        <span>@IndexResources.Activities</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("AccountSettings")" @shouldPostBack ga-track-event="['header', 'settings']">
                        <div>@Html.Svg(svgUrl, "settingMenu")</div>
                        <span>@IndexResources.Settings</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Help")" ga-track-event="['header', 'help']">
                        <div>@Html.Svg(svgUrl, "headerHelp")</div>
                        <span>@SharedResources.Help</span>
                    </a>
                </li>

                <li>
                    <a target="_self" href="@Url.Action("logoff","account")" @shouldPostBack ga-track-event="['header', 'logout']">
                        <div>@Html.Svg(svgUrl, "logOffMenu")</div>
                        <span>@IndexResources.Logout</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>


    <div class="clearfix">
    </div>
    <div class="page-container">
        @RenderBody()
    </div>
    <div class="page-footer">
        <div class="scroll-to-top">
            @Html.Svg(svgUrl, "arrow")
        </div>
    </div>
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{
        Html.RenderPartial("_commonTemplate");
        Html.RenderPartial("_UnregView");
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>


    @Html.Script2("site4")

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.initHeader();
            Layout.initSidebar();
            Layout.initFooter();
            //Layout.init(); // init layout
            //Demo.init(); // init demo features
            //QuickSidebar.init(); // init quick sidebar
            //Index.init(); // init index page
            //Tasks.initDashboardWidget(); // init tash dashboard widget
        });
        window.version = '@VersionHelper.CurrentVersion(true)';
        @if (User != null)
        {
            <text>
        window.id = @User.GetUserId(false);
        </text>
        }

    </script>
    @RenderSection("scripts", false)
</body>
</html>
