@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/favicon.ico")" />


    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, maximum-scale=1.0" />*@

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="Join the social studying revolution at Cloudents" />
    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" || System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">
    <meta property="og:site_name" content="Cloudents" />
    <meta property="og:image" content="@Url.CdnContent("/Images/cloudents.png")" />
    <meta property="og:title" content="Cloudents" />
    <meta property="og:type" content="website" />
    <meta id="fb_ShareLink" property="og:url" content="@Request.Url.AbsoluteUri" />

    @Html.Css2("static")
    @Html.CssRtl("staticRtl")
    @Html.CssCulture("lang")
</head>
<body>
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->

    <noscript>
        <div>
            Cloudents works best with javascript enabled
        </div>
    </noscript>
    <div class="wrap">
        @{
            var url = Url.Action("Index", "Account");
            if (User != null && User.Identity.IsAuthenticated)
            {
                url = Url.Action("Index", "Dashboard");
            }
        }
        <header class="siteHeader">
            <input class="checkbox sidebarCb" type="checkbox" id="sidebarCb" />
            <div class="headerActions rFloat">
                <label for="sidebarCb" class="headerSettings rFloat">
                    @Html.Svg("~/Images/Defs.svg", "menu", new { @class = "svg-menu" })
                </label>
                @{Html.RenderAction("GetUserDetail3", "Account", true);}
            </div>
            <a class="siteLogo" data-version="@VersionHelper.CurrentVersion(true)" href="@Url.Action("Index", "Dashboard")">
                @Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })
            </a>
        </header>
        <div class="staticContent">
            @RenderBody()
        </div>
    </div>

    <script type="text/html" id="titleToolTipTempalte">
        <div class="titleTooltip">
            <div style="position: relative">
                <div class="toolTipContent">
                    {{title}}<div class="ttArrow"></div>
                </div>
            </div>
        </div>

    </script>
    @{
        Html.RenderPartial("_Footer");
        if (User != null && !User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Welcome");
        }
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>

    <script type="text/javascript" src="~/Js/CDNFallback.min.js"></script>
    <script type="text/javascript" src="@Url.Action("JsResources", "Home")"></script>
    @*@Html.Script2("General")*@
    @RenderSection("scripts", false)
    @Html.Script2("static")

</body>

</html>
