@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Extensions

@{

    //const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;
    var logoLink = Url.Action("Index", "dashboard"); //: Url.RouteUrl("homePage");
}
<!DOCTYPE html>
<!--[if IE]>
   <script>
       if (!window.document.documentMode || window.document.documentMode < 10) {
           window.location = "/Error/Unsupported";
       }
   </script>
   <![endif]-->
<html dir="@(System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName" class="expanded-chat" @*ng-app="app"*@ @*ng-strict-di*@>

<head>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    @Html.Css2("site4")
    @{Html.RenderPartial("_Head");}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <base href="/" />
</head>
<body @*md-layout-css*@ ng-controller="AppController as app"
      class="clearfix" @*ng-class="{menuOpened: app.menuOpened}"*@>
    @{ Html.RenderPartial("_Body");}

    <div ng-spinner-bar class="sb-loader hide">
        <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    </div>

    <header id="main-nav" class="nav-bar" ng-class="{'expand-search': app.expandSearch}" layout="row" ng-cloak>
        <div class="logo-search" layout="row" layout-align="start center">
            <button hide-gt-sm type="button" ng-click="app.toggleMenu()" class="menu-toggler responsive-toggler" hide-chat-on-mobile="click" ga-track-event="['header', 'open menu']">
                <md-icon md-svg-icon="t:headerMenu" class="headerMenu"></md-icon>
                @*@Html.Svg(svgUrl, "headerMenu", new {@class = "headerMenu"})*@
            </button>
            <div class="logo">
                <div class="page-logo">
                    <a tabindex="-1" href="@logoLink" @shouldPostBack ga-track-event="['header', 'logo']" hide-chat-on-mobile="click">
                        <md-icon md-svg-icon="t:logo" class="logo-default" hide-xs></md-icon>
                        <md-icon md-svg-icon="t:smallLogo" class="logo-small" hide show-xs></md-icon>
                        @*@Html.Svg(svgUrl, "logo", new {@class = "logo-default", hide_xs = ""})
                        @Html.Svg(svgUrl, "smallLogo", new {@class = "logo-small", hide = "", show_xs = ""})*@
                    </a>
                </div>
            </div>
            <div class="search-form-wrapper" ui-view="search-bar"></div>

        </div>
        <div ui-view="user-profile"></div>
    </header>

    @*'hidden-chat' : app.chatDisplayState === 0,*@
    <div class="page-body">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    <div class="page-footer">
        <scroll-to-top></scroll-to-top>
    </div>
    <script type="text/ng-template" id="search-bar.html">
        <form ng-submit="st.search(searchTrigger.$valid)" name="searchTrigger"
              novalidate class="search-form search-form-expanded">
            <div class="search-area">
                <input required ng-change="st.change(searchTrigger.$valid)"
                       ng-focus="app.expandSearch = true;"
                       ng-blur="app.expandSearch = false"
                       ng-model="st.term"
                       ng-minlength="2"
                       ng-model-options="{debounce : 1000}"
                       hide-chat-on-mobile="focus"
                       type="search" class="text"
                       user-not-register-popup="focus" placeholder="@GeneralResources.Search" placeholder-mobile="@GeneralResources.SearchMobile" />
                <button type="submit" class="search-btn" ng-disabled="!st.term.length">
                    <span><md-icon md-svg-icon="t:searchIcon" class="searchIcon"></md-icon>@*@Html.Svg(svgUrl, "searchIcon", new { @class = "searchIcon" })*@</span>
                </button>
            </div>
        </form>
    </script>
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{
        Html.RenderPartial("_UnregView");
        Html.RenderPartial("_commonTemplate");
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>

    @Html.Script2("jsSite4")

    <script>
    @if (User != null)
    {
        <text>
        window.id = @User.GetUserId(false);
        window.version = '@VersionHelper.CurrentVersion(true)';
        window.dChat = '@ConfigFetcher.Fetch("signalR")';
        </text>
    }

    </script>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NDZLW7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');</script>
    @RenderSection("scripts", false)
</body>
</html>
