@using Zbang.Cloudents.SiteExtension
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    
    const string svgUrl = "~/images/site/icons.svg";

    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;
}
<!DOCTYPE html>
<!--[if IE]>
   <script>
       if (!window.document.documentMode || window.document.documentMode < 10) {
           window.location = "/Error/Unsupported";
       }
   </script>
   <![endif]-->
<html lang="en" class="no-js" ng-app="app">

<head>
    @{Html.RenderPartial("_Head");}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    @Html.Css2("site4")
    <base href="/" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="AppController as app" class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo page-sidebar-fixed">

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NDZLW7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDZLW7');</script>
    <!-- End Google Tag Manager -->
    <div ng-spinner-bar class="sb-loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>
    <div class="page-header navbar navbar-fixed-top">
        <div layout="row" layout-align="space-between center" class="page-header-inner">
            <div layout="row" layout-align="space-between center">
                <div class="page-logo">
                    <a ui-sref="dashboard" @shouldPostBack ga-track-event="['header', 'logo']">
                        @Html.Svg(svgUrl, "logo", new { @class = "logo-default", hide_xs = "" })
                        @Html.Svg(svgUrl, "smallLogo", new { @class = "logo-default", hide = "", show_xs = "" })
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>

                <a href="@Url.Action("Index","Search")" @shouldPostBack class="search-form search-form-expanded" ng-hide="app.hideSearch" ga-track-event="['header', 'search']">
                    <div class="input-group">
                        <span type="text" class="form-control input-sm">@IndexResources.Search</span>
                        <span class="input-group-btn">
                            @Html.Svg(svgUrl, "searchIcon", new { @class = "searchIcon" })
                        </span>
                    </div>
                </a>
            </div>
            <div layout="row" layout-align="space-between center" class="page-top-wrapper">
                <div class="page-top">
                    <div class="top-menu">
                        <ul class="nav navbar-nav">
                            @*<li class="separator hide">
                                </li>*@
                            @*<li>
                                    @Html.Svg(svgUrl, "headerInvite")
                                </li>*@
                            @*<li class="separator hide">
                                </li>
                                <li class="separator hide">
                                </li>*@

                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user dropdown-dark" ng-cloak ng-show="ud.loaded" ng-controller="UserDetailsController as ud">
                                <a layout="row" layout-align="space-between center" ng-if="ud.isLoggedIn" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ga-track-event="['header', 'open menu']">
                                    <span class="username username-hide-on-mobile">
                                        {{ud.name}}
                                        @*<span class="headerPoints">{{ud.score}}</span>*@
                                    </span>
                                    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                    <user-image class="img-circle" name="ud.name" image="ud.image" width="39" height="39"></user-image>
                                </a>
                                <ul ng-if="ud.isLoggedIn" class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{{::ud.url}}" @shouldPostBack ga-track-event="['header', 'user activities']">
                                            @Html.Svg(svgUrl, "userMenu")<span>@IndexResources.Activities</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.RouteUrl("AccountSettings")" @shouldPostBack ga-track-event="['header', 'settings']">
                                            @Html.Svg(svgUrl, "settingMenu") <span>@IndexResources.Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.RouteUrl("Help")" ga-track-event="['header', 'help']">
                                            @Html.Svg(svgUrl, "headerHelp") <span>@SharedResources.Help</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a target="_self" href="@Url.Action("logoff","account")" @shouldPostBack ga-track-event="['header', 'logout']">
                                            @Html.Svg(svgUrl, "logOffMenu") <span>@IndexResources.Logout</span>
                                        </a>
                                    </li>

                                </ul>
                                <a class="btn" target="_self" href="@Url.Action("SignUp", "Account")" ng-if="!ud.isLoggedIn" ga-track-event="['header', 'sign up']">@IndexResources.Signup</a>
                                <a class="btn btn-primary" target="_self" href="@Url.Action("SignIn","Account")" ng-if="!ud.isLoggedIn" ga-track-event="['header', 'log in']">@IndexResources.Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse" ga-track-event="['header', 'open menu']">
                    @Html.Svg(svgUrl, "headerMenu", new { @class = "headerMenu" })
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        @RenderBody()
    </div>
    <div class="page-footer">
        <div class="scroll-to-top">
            @Html.Svg(svgUrl, "arrow")
        </div>
    </div>
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{
        Html.RenderPartial("_commonTemplate");
        Html.RenderPartial("_UnregView");
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>

    
    @Html.Script2("site4")

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.initHeader();
            Layout.initSidebar();
            Layout.initFooter();
            //Layout.init(); // init layout
            //Demo.init(); // init demo features
            //QuickSidebar.init(); // init quick sidebar
            //Index.init(); // init index page
            //Tasks.initDashboardWidget(); // init tash dashboard widget
        });
        window.version = '@VersionHelper.CurrentVersion(true)';
        @if (User != null)
        {
            <text>
        window.id = @User.GetUserId(false);
        </text>
        }

    </script>
    @RenderSection("scripts", false)
</body>
</html>
