
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Zbox.ViewModel.Dto.Store
@{
    var model = ViewBag.categories as IList<CategoryDto> ?? new List<CategoryDto>();


}
@helper Category(IEnumerable<CategoryDto> categories)
{
    <ul>
        @foreach (var sub in categories)
        {
            <li><a href="@sub.Url">@sub.Name</a></li>
        }
    </ul>
}
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>@StoreResources.ProductDiscounts</title>
    <meta name="title" content="@StoreResources.Description" />
    @*<meta name="description" content="@StoreResources.ProductDiscounts" />*@
    @Html.Css2("shopping")
    @Html.CssRtl("shoppingRtl")
    @Html.CssCulture("lang")
</head>
<body ng-controller="MainCtrl">
    <header class="siteHeader" role="banner">
        <a class="siteLogo lFloat" data-version="@VersionHelper.CurrentVersion()"
           href="@Url.Action("Index", "Dashboard")"></a>
        <div class="headerRightWpr rFloat">
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderAction("GetUserDetail3", "Account", true);
                    }
                </ul>
            </nav>
        </div>
        <h1>@StoreResources.Description</h1>
    </header>
    

    <main role="main">
        @RenderBody()
    </main>

    
    @RenderSection("scripts", false)
</body>
</html>
