@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.title = ViewBag.title ?? "Spitball";
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Join the social studying revolution at Spitball";
    ViewBag.fbImage = ViewBag.fbImage ?? @Url.CdnContent("/images/cloudents-share-fb-1.png?v=1");
    ViewBag.imageSrc = ViewBag.imageSrc ?? @Url.CdnContent("/images/cloudents.png?v=1");
    ViewBag.viewport = ViewBag.viewport ?? true;
    ViewBag.fBox = ViewBag.fBox ?? false;
}
<!DOCTYPE html>
<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" ng-app="app">
<head prefix="og: http://ogp.me/ns#">
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />

    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" ||
        System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*For ipad user scalable fix bug of position fixed - bug 260*@
    @if (ViewBag.viewport)
    {
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
    }

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="@ViewBag.metaDescription" />
    <link rel="image_src" href="@ViewBag.imageSrc" />

    <meta property="fb:app_id" content="450314258355338" />
    <meta property="og:site_name" content="Spitball" />
    <meta property="og:image" name="og:image" content="@ViewBag.fbImage" />
    <meta property="og:description" name="og:description" content="@ViewBag.metaDescription" />
    <meta property="og:title" name="og:title" content="@ViewBag.title" />
    <meta property="og:url" content="@Request.Url" />

  

    <base href="/">
    @Html.Css2("newcore3")
    @Html.CssCulture("lang")
    <link href="https://plus.google.com/116999550356569810034" rel="publisher" />
</head>
<body class="@Html.ClassOfRtl() {{$root.currentRoute}}" ng-class="{store: $root.isStore(), quiz: $root.isQuiz(),'jsDark jsCreateDashboard' : $root.params.createBoxWizard}">

    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 10) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->
    @*this is for seo*@
    @if (ViewBag.Description != null)
    {
        <h1 class="pageHeading">@ViewBag.Description</h1>
    }
    
    <div ng-show="$root.openSearch" ng-style="$root.loadedStyle" id="searchPopup" class="searchPopup" ng-controller="SearchCtrl">
        @{Html.RenderPartial("_BarSearch");}
    </div>

    <div class="bodyContent" data-version="@VersionHelper.CurrentVersion(true)" id="main" ng-controller="MainCtrl">

        @RenderBody()
        <div id="fb-root"></div>
    </div>
    <div id="mLoading" class="loading" data-loader>
        <svg class="svg-loaderCloud" viewBox="0 0 157 122.3" enable-background="new 0 0 157 122.3" xml:space="preserve">
            <path d="M150.3,65.1c0-13.9-9.4-25.2-21.3-26c-2.4-6.3-6.7-11.4-12.1-14.3c-4-11.7-13.8-20-25.4-20
	            c-6.2,0-11.9,2.4-16.4,6.3c-4.2-2.5-8.9-3.9-14-3.9C45.3,7.2,32.4,21,30.9,38.6c-0.7-0.1-1.5-0.1-2.2-0.1C15.9,38.5,5.5,50.4,5.5,65
	            c0,13.7,9,24.7,20.6,26.1v0c0.1,0,0.2,0,0.3,0c0.7,0.1,1.4,0.1,2.2,0.1c0.7,0,1.5,0,2.2-0.1c2.2,0,5.3,0,9.5,0
	            c3.2,0-0.1,26.4,3.2,26.4c5.9,0,26.9-26.4,32.8-26.4c18,0,41.3,0,49.9,0c0.4,0,0.9,0,1.3,0c0.4,0,0.9,0,1.3,0c0.5,0,0.8,0,0.8,0V91
	            C141.2,89.8,150.3,78.7,150.3,65.1z" />
        </svg>
        <div class="spinner"></div>
    </div>
    <div class="ptsPopup" id="ptsPopup" user-points-popup data-pts-before="@SharedResources.SweetPoints" data-pts-after="@SharedResources.Pts">
        <div class="digitWpr"></div>
    </div>
    <div class="uploads" id="uploads" ng-controller="UploadListCtrl" ng-class="{collapsed : uploader.collapsed }" ng-style="{display: uploader.init ? 'block' : 'none'}">
        @*collapsed*@
        <div class="uploadTop" ng-click="toggleCollapse()">
            <span class="lFloat">{{uploader.title}}</span>
            <span class="uploadDetails elps" ng-show="uploader.collapsed && uploader.currentFile"><q>{{uploader.currentFile.name}}</q></span>
            <span class="uploadPercent" ng-show="uploader.collapsed && uploader.currentFile">{{uploader.currentFile.percent}}%</span>
            <div class="uploadBtns">
                @*<button type="button" class="minimize" id="uploads_minimize"></button>*@<button type="button" class="minimize" id="uploads_minimize"></button>
                <button type="button" class="stopUpload" ng-click="closeView()" ng-style="{display: !uploader.uploading ? 'inline-block' : 'none' }"></button>
            </div>
        </div>
        <ul class="uploadList" id="uploadList" m-custom-scrollbar scroll-disabled="uploader.scrollDisabled">
            <li class="uploadItem" ng-repeat="file in uploader.fileList track by file.id">
                <span class="fileName elps">{{::file.name}}</span>
                <span class="fileSize">{{::file.size | fileSize:true}}</span>
                <div class="uploadProgress">
                    <button type="button" class="fileCancel rFloat" ng-style="{ display: file.plupload ? 'block' : 'none'}" ng-hide="file.uploaded || file.error" ng-click="cancelUpload(file)">@DialogResources.Cancel</button>
                    <button type="button" class="fileDone rFloat" disabled="disabled" ng-style="{display : file.uploaded ? 'inline-block' : 'none' }"></button>
                    <button type="button" class="fileError rFloat" disabled="disabled" ng-style="{display : file.error ? 'inline-block' : 'none' }"></button>
                    <span class="progress rFloat"><span class="progressFill" ng-style="{ width: file.progressWidth }"></span></span>
                </div>
            </li>
        </ul>
    </div>

    @RenderSection("templates", false)
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    @*
        If arrow is on top no class needed otherwise add class bottom,left,right as needed*@
    @{
        if (ViewBag.fBox)
        {
            <div id="quizGuideTemplate" class="steps quizGuideTemplate">
                <div class="tooltip1 left tall" data-step="0" data-tt-position="#addQuiz" data-arrow-position="left">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>@SharedResources.CreateShare</div>
                        <ul>
                            <li>@SharedResources.ExamQuestion</li>
                            <li>@SharedResources.MultipleAnswers</li>
                            <li>@SharedResources.UseMaterial</li>
                            <li>@SharedResources.PublishQuiz</li>
                        </ul>
                        <div>@SharedResources.CloudentsQuizzes</div>
                        <div class="ttBtns">
                            <button type="button" data-done class="rFloat btn3">@SharedResources.Dismiss</button>
                            <button type="button" data-next class="rFloat btn3">@DialogResources.Next</button>
                        </div>
                    </div>
                </div>
                <div class="tooltip1" data-step="1" data-tt-position=".quizItem:not(.draft)" data-arrow-position="top">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>@SharedResources.PrepareExam</div>
                        <ul>
                            <li>@SharedResources.SeeScore</li>
                            <li>@SharedResources.ShareQuiz</li>
                            <li>@SharedResources.DiscussQuiz</li>
                        </ul>
                        <div>@SharedResources.TryIt</div>
                        <div class="ttBtns">
                            <button type="button" data-prev class="lFloat btn3">@SharedResources.Previous</button>
                            <button type="button" data-done class="rFloat btn3">@SharedResources.Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <script type="text/javascript" src="~/js/CDNFallback.js?v=@VersionHelper.CurrentVersion(true)"></script>
    <script type="text/ng-template" id="userToolTip.html">
        <div class="userTooltip" ng-class="::{hidePoints : user.score <= 0}">
            <a ng-href="{{::user.url}}" ng-click="$root.checkReg($event)">
                <user-image name="user.name" image="user.image" width="70" height="70"></user-image>
            </a>
            <a class="ttUsername elps" ng-href="{{::user.url}}" ng-click="$root.checkReg($event)">{{::user.name}}</a>
            <div class="ttSchool elps">{{::user.universityName}}</div>
            <span class="ttPoints lFloat" data-tt-points="{{::user.score}}">&nbsp;@SharedResources.Points</span>
            <button type="button" class="btn3 rFloat" ng-click="sendUserMessage(user)">@SharedResources.Message</button>
        </div>
    </script>
    <script>
        //check for iframe
        try {
            if (window.self !== window.top) {
                window.iframe = true;
                window.location.href = '/home/iframe/';
            }
        } catch (ex) {
            window.location.href = '/home/iframe/';
            window.iframe = true;
        }
    </script>
    @*@Search*@

    @{
        Html.RenderPartial("_DashLibItem");
        Html.RenderPartial("_SearchTemplate");
    }
    @RenderSection("scripts", false)

</body>
</html>
