@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
    ViewBag.metaDescription = ViewBag.metaDescription ?? "Join the social studying revolution at Cloudents";
    ViewBag.fLib = ViewBag.fLib ?? false;
    ViewBag.fDash = ViewBag.fDash ?? false;
    ViewBag.fBox = ViewBag.fBox ?? false;
    ViewBag.fItem = ViewBag.fItem ?? false;
}
<!DOCTYPE html>

<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <title>@ViewBag.title</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />

    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" || System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*For ipad user scalable fix bug of position fixed - bug 260*@
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />

    <meta name="title" content="@ViewBag.title" />
    <meta name="description" content="@ViewBag.metaDescription" />
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">
    @*<base href="/dashboard/" />*@

    @Html.Css2("newcore3")
    @Html.CssRtl("newrtl3")
    @Html.CssCulture("lang")

</head>
<body data-pic="@Url.CdnContent("/Images/EmptyState/user-pic.png")">
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->
    <noscript>
        <div>
            Cloudents works best with javascript enabled
        </div>
    </noscript>
    <header class="siteHeader">
        <a class="siteLogo lFloat" data-version="@VersionHelper.CurrentVersion()"
           href="@Url.Action("Index", "Dashboard")"></a>
        <div class="headerRightWpr rFloat">
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderAction("GetUserDetail3", "Account", true);
                    }
                </ul>
            </nav>

            <form name="searchHeaderForm" class="dashLibSearch" @*ng-controller="SearchHeaderCtrl"*@ novalidate>
                <input autocomplete="off"
                       type="search" name="formData.query" class="dashLibSearchInput" ng-placeholder="@SharedResources.Search" />
                <button id="searchDropDownBtn" ng-disabled="!formData.query.length" type="submit"></button>
                <div class="searchDD allResults" ng-show="params.showDropdown" ng-class="{noResults : emptyResults()}">
                    <span ng-if="searchResults.boxes.length">
                        <h3>@SharedResources.Courses / @SharedResources.GroupBoxes</h3>
                        <ul class="searchList boxes">
                            <li ng-repeat="box in searchResults.boxes" ng-include="'boxHeaderSearch'"></li>
                        </ul>
                    </span>
                    <span ng-if="searchResults.items.length">
                        <h3>@SharedResources.Materials</h3>
                        <ul class="searchList items">
                            <li ng-repeat="item in searchResults.items" ng-include="'itemHeaderSearch'"></li>
                        </ul>
                    </span>
                    <span ng-if="searchResults.people.length">
                        <h3>@SharedResources.People</h3>
                        <ul class="searchList people">
                            <li ng-repeat="person in searchResults.people" ng-include="personHeaderSearch"></li>
                        </ul>
                    </span>
                    <span ng-if="searchResults.otherItems.length">
                        <h3>@SharedResources.ResultsOther</h3>
                        <ul class="searchList university">
                            <li ng-repeat="item in searchResults.otherItems" ng-include="'itemHeaderSearch'"></li>
                        </ul>
                    </span>
                    <a class="showAll" ng-href="{{'/search/q=' + formData.query}}" target="_self">@SharedResources.AllResults&nbsp;<q>{{formData.query}}</q></a>
                    <div class="emptySearch">@SharedResources.NoResults</div>
                </div>
            </form>
        </div>
    </header>

    <div class="bodyContent noQuiz" id="main" ng-controller="MainCtrl">
        @RenderBody()

        <div id="fb-root"></div>

        @*<div id="quizCreate" ng-controller="QuizCreateController">
            <div ng-if="params.loadCreateQuiz">
                <div ng-show="params.showCreateQuiz" ng-include="'/Quiz/CreateQuiz'" onload="showQuiz()"></div>
            </div>
        </div>*@

        <span id="firstTime" data-libf="@ViewBag.fLib.ToString().ToLower()"
              data-myf="@ViewBag.fDash.ToString().ToLower()"
              data-boxf="@ViewBag.fBox.ToString().ToLower()"
              data-itemf="@ViewBag.fItem.ToString().ToLower()"></span>
    </div>

    <div id="mLoading" class="loading" data-loader>
        <div class="spinner"></div>
    </div>
    <div class="ptsPopup" id="ptsPopup" data-pts-before="@SharedResources.SweetPoints" data-pts-after="@SharedResources.Pts">
        <div class="digitWpr"></div>
    </div>


    <div class="uploads" id="uploads">
        @*collapsed*@
        <div class="uploadTop" id="uploads_title">
            <span id="uploadsTT" class="lFloat" data-finish="@DialogResources.UploadedFiles" data-maintitle="@DialogResources.UploadingFiles" data-minimizetile="@DialogResources.Uploading"></span>
            <span id="uploadsTF" class="uploadDetails elps"><q></q></span>
            <span id="uploadsTP" class="uploadPercent"></span>
            <div class="uploadBtns">
                @*<button type="button" class="minimize" id="uploads_minimize"></button>*@
                <button type="button" class="stopUpload" id="uploads_close"></button>
            </div>

        </div>
        <ul class="uploadList" id="uploadList"></ul>
    </div>
    @{
        //Html.RenderPartial("_Message", new Zbang.Cloudents.Mvc4WebRole.Models.Share.Message());
        if (!User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Welcome");
        }
    }
    @RenderSection("templates", false)
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>
    @*
        If arrow is on top no class needed otherwise add class bottom,left,right as needed*@
    @{
        if (ViewBag.fBox)
        {
            <div id="quizGuideTemplate" class="steps quizGuideTemplate">
                <div class="tooltip left tall" data-step="0" data-tt-position="#addQuiz" data-arrow-position="left">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>@SharedResources.CreateShare</div>
                        <ul>
                            <li>@SharedResources.ExamQuestion</li>
                            <li>@SharedResources.MultipleAnswers</li>
                            <li>@SharedResources.UseMaterial</li>
                            <li>@SharedResources.PublishQuiz</li>
                        </ul>
                        <div>@SharedResources.CloudentsQuizzes</div>
                        <div class="ttBtns">
                            <button type="button" data-done class="rFloat btn3">@SharedResources.Dismiss</button>
                            <button type="button" data-next class="rFloat btn3">@DialogResources.Next</button>
                        </div>
                    </div>
                </div>
                <div class="tooltip" data-step="1" data-tt-position=".quizItem:not(.draft)" data-arrow-position="top">
                    <button type="button" class="closeDialog"></button>
                    <div class="stepTip">
                        <div>@SharedResources.PrepareExam</div>
                        <ul>
                            <li>@SharedResources.SeeScore</li>
                            <li>@SharedResources.ShareQuiz</li>
                            <li>@SharedResources.DiscussQuiz</li>
                        </ul>
                        <div>@SharedResources.TryIt</div>
                        <div class="ttBtns">
                            <button type="button" data-prev class="lFloat btn3">@SharedResources.Previous</button>
                            <button type="button" data-done class="rFloat btn3">@SharedResources.Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <script type="text/javascript" src="~/Js/CDNFallback.min.js"></script>

    <script type="text/html" id="userToolTipTempalte">
        <a data-navigation="User" href="{{url}}" target="_self">
            <img class="ttImg" src="{{image}}" width="99" height="99" />
        </a>
        <a class="ttUsername elps" data-navigation="User" href="{{url}}">{{name}}</a>
        <div class="ttSchool elps">{{university}}</div>
        <span class="ttPoints lFloat" data-tt-points="{{score}}">&nbsp;@SharedResources.Points</span>
        <button type="button" class="btn3 rFloat">@SharedResources.Message</button>
    </script>
    <script type="text/html" id="templateUpload">
        <li class="uploadItem" id="{{id}}">
            <span class="fileName elps">{{name}}</span>
            <span class="fileSize">({{size}})</span>
            <div class="uploadProgress">
                <button type="button" class="fileCancel rFloat">@DialogResources.Cancel</button>
                <button type="button" class="fileDone rFloat" disabled="disabled"></button>
                <button type="button" class="fileError rFloat" disabled="disabled"></button>
                <span class="progress rFloat" data-percentage="0"><span class="progressFill"></span></span>
            </div>
        </li>
    </script>
    <script type="text/html" id="titleToolTipTempalte">
        <div class="titleTooltip">
            <div style="position: relative">
                <div class="toolTipContent">
                    {{title}}<div class="ttArrow"></div>
                </div>
            </div>
        </div>

    </script>
    @*@Search*@
    <script type="text/ng-template" id=" boxheadersearch">
        <a ng-href="{{box.url}}" class="searchItem" target="_self">
            <img class="lFloat imgBorder" width="40" height="50" src="{{box.image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{box.name}}</div>
                <span class="searchDetail" ng-style="{allDetails: box.proffessor && box.courseCode}">{{box.proffessor}}</span>
                <span class="searchDetail">{{box.courseCode}}</span>
            </div>
        </a>
    </script>
    <script type="text/ng-template" id="itemHeaderSearch">
        <a ng-href="{{item.url}}" class="searchItem" target="_self">
            <div class="otherUni semiFont" ng-if="item.universityName">{{item.universityName}}</div>
            <img class="lFloat imgBorder" width="40" height="50" ng-src="{{item.image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{item.name}}</div>
                <div class="boxLoc searchDetail" data-search-in="@SharedResources.In">{{item.boxName}}</div>
            </div>
        </a>
    </script>
    <script type="text/ng-template" id="personHeaderSearch">
        <a ng-href="{{person.url}}" class="searchItem" target="_self">
            <img class="lFloat imgBorder userImg" ng-src="{{person.image}}" alt="" width="33" height="33" />
            <div class="searchTitle semiFont elps">{{person.name}}</div>
        </a>
    </script>
  

    @*@Search*@
    <script type="text/javascript" src="@Url.Action("JsResources", "Home")"></script>
    
    @RenderSection("scripts", false)

   
   


    @if (User.Identity.IsAuthenticated)
    {
        <iframe  id="fconnect" data-src="@System.Configuration.ConfigurationManager.AppSettings["pushUrl"]"></iframe>
    }
</body>
</html>
