@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@*@using Zbang.Zbox.Infrastructure.Culture*@

@{
    ViewBag.title = ViewBag.title ?? "Cloudents";
}

<!DOCTYPE html>

<html>
<head>
    <title>Cloudents</title>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/favicon.ico")" />


    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, maximum-scale=1.0" />*@

    <meta name="title" content="Cloudents" />
    <meta name="description" content="Join the social studying revolution at Cloudents" />
    @if (System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "en" || System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == "ru")
    {
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    }
    <link rel="image_src" href="@Url.CdnContent("/Images/cloudents.png")" />

    <meta property="fb:app_id" content="450314258355338">
    <meta property="og:site_name" content="Cloudents" />
    <meta property="og:image" content="@Url.CdnContent("/Images/cloudents.png")" />
    <meta property="og:title" content="Cloudents" />
    <meta property="og:type" content="website" />
    <meta id="fb_ShareLink" property="og:url" content="@Request.Url.AbsoluteUri" />

    @Html.Css2("static")
    @Html.CssRtl("staticRtl")
    @Html.CssCulture("lang")
</head>
<body>
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 9) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->

    <noscript>
        <div>
            Cloudents works best with javascript enabled
        </div>
    </noscript>
    <div class="wrap">
        <header class="siteHeader headerWpr">
            @{
                var url = Url.Action("Index", "Account");
                if (User != null && User.Identity.IsAuthenticated)
                {
                    url = Url.Action("Index", "Dashboard");// + "?r=siteheader";
                }
            }

            <div class="headerActions rFloat">
                <ul class="userNav">
                    @{Html.RenderAction("GetUserDetail3", "Account", true);}

                    @if (User == null || !(User.Identity.IsAuthenticated))
                    {
                        <li class="navItem">
                            <button type="button" class="headerSettings"></button>
                            <aside class="sideBar">
                                <button class="closeMenu" type="button"></button>
                                <ul>
                                    <li><a href="~/">@HomeResources.Homepage</a></li>
                                    <li><a href="@Url.Action("AboutUs", "Home")">@HomeResources.AboutCloudents</a></li>
                                    <li><a href="@Url.Action("Help", "Home")">@SharedResources.Help</a></li>
                                    <li><a href="@Url.Action("Privacy", "Home")">@FooterResources.PrivacyPolicy</a></li>
                                    <li><a href="@Url.Action("TermsOfService", "Home")">@FooterResources.TermsOfService</a></li>

                                    <li class="last"><a href="@Url.Action("ContactUs", "Home")">@FooterResources.ContactUs</a></li>
                                    <li class="sideBarSignupBtn addRegister" data-university="@ViewBag.universityId">@LogOnResources.SignUp</li>
                                    <li class="last addConnect" data-university="@ViewBag.universityId">@SharedResources.SignIn</li>   
                                </ul>
                            </aside>
                        </li>
                    }
                </ul>

            </div>
            <a class="siteLogo" data-version="@VersionHelper.CurrentVersion()" data-navigation="Dashboard" href="@Url.Action("Index", "Dashboard")"></a>
        </header>
        <div class="staticContent">
            @RenderBody()
        </div>
    </div>

    <script type="text/html" id="titleToolTipTempalte">
        <div class="titleTooltip">
            <div style="position: relative">
                <div class="toolTipContent">
                    {{title}}<div class="ttArrow"></div>
                </div>
            </div>
        </div>

    </script>
    @{
        Html.RenderPartial("_Footer");
        if (!User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Welcome");
        }
    }
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>

    <script type="text/javascript" src="~/Js/CDNFallback.min.js"></script>
    <script type="text/javascript" src="@Url.Action("JsResources", "Home")"></script>
    @Html.Script2("General")
    @RenderSection("scripts", false)
    @Html.Script2("home")


</body>
</html>
