
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Zbox.ViewModel.Dto.Store
@{
    var model = ViewBag.categories as IList<CategoryDto> ?? new List<CategoryDto>();


}
@helper Category(IEnumerable<CategoryDto> categories)
{
    <ul>
        @foreach (var sub in categories)
        {
            <li><a href="@sub.Url">@sub.Name</a></li>
        }
    </ul>
}
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>@StoreResources.ProductDiscounts</title>
    <meta name="title" content="@StoreResources.Description" />
    @*<meta name="description" content="@StoreResources.ProductDiscounts" />*@
    @Html.Css2("shopping")
    @Html.CssRtl("shoppingRtl")
    @Html.CssCulture("lang")
</head>
<body ng-controller="MainCtrl">
    @*<header role="banner">
        <div class="rFloat">
            <button type="button" class="login">@StoreResources.Login</button> /
            <button type="button" class="signup">@StoreResources.Signup</button>

            <div dropdown class="language">
                <button type="button" class="currentLang" dropdown-toggle>{{info.currentLanguageDisplay}}</button>
                <ul class="langMenu dropdown-menu" role="menu">
                    <li class="menuItem">
                        <button type="button" title="English (US)" ng-if="'en-US' !== info.currentLanguage" ng-click="setLanguage('en-US')">English‎</button>
                    </li>
                    <li class="menuItem">
                        <button type="button" title="Russian site" ng-if="'ru-RU' !== info.currentLanguage" ng-click="setLanguage('ru-RU')">Pусский</button>
                    </li>
                    <li class="menuItem">
                        <button type="button" title="Hebrew site" ng-if="'he-IL' !== info.currentLanguage" ng-click="setLanguage('he-IL')">עברית</button>
                    </li>
                    <li class="menuItem">
                        <button type="button" title="Arabic site" ng-if="'ar-AE' !== info.currentLanguage" ng-click="setLanguage('ar-AE')">العربية</button>
                    </li>
                </ul>
            </div>
        </div>
        <h1 class="logo">@StoreResources.Description</h1>
    </header>*@
    <header class="siteHeader">
        <a class="siteLogo lFloat" data-version="@VersionHelper.CurrentVersion()"
           href="@Url.Action("Index", "Dashboard")"></a>
        <div class="headerRightWpr rFloat">
            <nav class="userSection rFloat">
                <ul class="userNav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderPartial("TopMenu/_Actions");
                        }
                        Html.RenderAction("GetUserDetail3", "Account", true);
                    }
                </ul>
            </nav>
        </div>
        <h1>@StoreResources.Description</h1>
    </header>
    @*Ram: When click on products button - add class "showProducts" to nav*@
    <nav class="storeNav">
        <ul class="navLinks">
            <li ng-class="{current : info.currentTab === 'home'}"><a href="~/store/">@StoreResources.Home</a></li>
            <li ng-class="{current : info.currentTab === 'products'}"><button type="button" products-menu>@StoreResources.Products</button></li>
            <li ng-class="{current : info.currentTab === 'sales'}"><a href="@Url.RouteUrl("storeCategory", new  { categoryid = 646, categoryname = "מבצעים-חמים" })">@StoreResources.HotSales</a></li>
            <li ng-class="{current : info.currentTab === 'about'}"><a href="~/store/about/">@StoreResources.About</a></li>
            <li ng-class="{current : info.currentTab === 'contact'}"><a href="~/store/contact/">@StoreResources.ContactUs</a></li>
        </ul>
        <div class="categoryDD">
            <ul class="categoryList">
                <li class="spr-computer">
                    <h3>מחשבים \ טאבלטים</h3>
                    @Category(model.Where(w => w.ParentId == 613))

                </li><!--
                --><li class="spr-cal">
                    <h3>מחשבונים</h3>
                    @Category(model.Where(w => w.ParentId == 697))

                </li><!--
                
                --><li class="spr-dic">
                    <h3>מילונים \ אנגלית</h3>
                    @Category(model.Where(w => w.ParentId == 699))
                </li><!--

                --><li class="spr-smartphone">
                    <h3>סלולר</h3>
                    @Category(model.Where(w => w.ParentId == 675))

                </li><!--
                --><li class="spr-printers">
                    <h3>ציוד היקפי מחשב</h3>
                    @Category(model.Where(w => w.ParentId == 612))
                </li><!--
                --><li class="spr-covers">
                    <h3>כריכת חוברות</h3>
                    @Category(model.Where(w => w.ParentId == 703))

                </li><!--
                --><li class="spr-chair">
                    <h3>ריהוט משרדי</h3>
                        @Category(model.Where(w => w.ParentId == 690))  
                </li><!--
                
                
                --><li class="spr-martini">
                    <h3>פנאי ובילויים</h3>
                        @Category(model.Where(w => w.ParentId == 622))
                </li><!--
                --><li class="spr-tv">
                    <h3>מוצרי חשמל</h3>
                    @Category(model.Where(w => w.ParentId == 629))
                </li><!--
                --><li class="spr-eco">
                    <h3>מערכות שמע</h3>
                    @Category(model.Where(w => w.ParentId == 669))
                </li><!--
                 --><li>
                    <h3>ספורט</h3>
                        @Category(model.Where(w => w.ParentId == 631)) 
                </li><!--
                --><li class="spr-house">
                    <h3>מוצרים לבית</h3>
                    @Category(model.Where(w => w.ParentId == 633))
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer role="contentinfo">
        <div class="wpr">
            <div>
                <h3>מחשבים \ טאבלטים</h3>
                @Category(model.Where(w => w.ParentId == 613))

                <h3>מחשבונים</h3>
                @Category(model.Where(w => w.ParentId == 697))
            </div>
            <div>
                <h3>מילונים \ אנגלית</h3>
                @Category(model.Where(w => w.ParentId == 699))

                <h3>סלולר</h3>
                @Category(model.Where(w => w.ParentId == 675))

                <h3>כריכת חוברות</h3>
                @Category(model.Where(w => w.ParentId == 703))              
            </div>

            <div>
                <h3>ציוד היקפי מחשב</h3>
                @Category(model.Where(w => w.ParentId == 612))
            </div>
            <div>
                <h3>פנאי ובילויים</h3>
                @Category(model.Where(w => w.ParentId == 622))

                <h3>מוצרי חשמל</h3>
                @Category(model.Where(w => w.ParentId == 629))
            </div>

            <div>
                <h3>מערכות שמע</h3>
                @Category(model.Where(w => w.ParentId == 669))
                <h3>ריהוט משרדי</h3>
                @Category(model.Where(w => w.ParentId == 690))
            </div>
            <div>
                <h3>ספורט</h3>
                @Category(model.Where(w => w.ParentId == 631))
            </div>
            <div>
                <h3>מוצרים לבית</h3>
                @Category(model.Where(w => w.ParentId == 633))
            </div>
        </div>
        <div class="bottom">
            <div class="wpr logo">
                <div class="social rFloat">
                    <button class="fb" type="button"></button>
                    <button class="twtr" type="button"></button>
                    <button class="ytube" type="button"></button>
                </div>
                <ul>
                    <li><a href="~/store/about/">@StoreResources.AboutCloudents</a> |</li>
                    <li><a href="~/store/contact/">@StoreResources.ContactUs</a> |</li>
                    <li><a href="#">@StoreResources.TermsOfService</a></li>
                </ul>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", false)
</body>
</html>
