@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;
}

<md-sidenav ng-cloak class="main-md-sidenav color-override backgroundColor1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-content role="navigation" ng-controller="SideMenu as d">
        <ul class="side-menu" ng-slimscroll height="calc(100vh - 90px)" color="#BBB">
            <li class="dashboard nav-item">
                <md-button user-not-register-popup="click" ng-class="{active: d.isSectionSelected('@Url.Action("Index","Dashboard")')}" @shouldPostBack href="@Url.Action("Index","Dashboard")">
                    <span class="icon">@Html.Svg(svgUrl, "houseMenu")</span>
                    @IndexResources.Dashboard
                </md-button>
            </li>
            <li class="expendable nav-item">
                <md-button class="md-button-toggle" ng-click="d.toggleCourses()">
                    <div flex layout="row" layout-align="start center">
                        <span class="arrow icon" ng-class="{toggled:d.coursesOpen}">
                            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow")
                        </span>
                        <span class="title">
                            @IndexResources.Classes
                        </span>
                    </div>
                </md-button>
                <ul ng-show="d.coursesOpen" id="side-menu-courses" class="menu-toggle-list">
                    <li ng-repeat="box in d.courses track by box.id">
                        <menu-link class="ellipsis" section="box"></menu-link>
                    </li>
                </ul>
            </li>
            <li class="expendable nav-item">
                <md-button class="md-button-toggle" ng-click="d.toggleBoxes()">
                    <div flex layout="row" layout-align="start center">
                        <span class="arrow icon" ng-class="{toggled:d.boxesOpen}">
                            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow")
                        </span>
                        <span class="title">
                            @IndexResources.Group
                        </span>
                    </div>
                </md-button>
                <ul ng-show="d.boxesOpen" id="side-menu-boxes" class="menu-toggle-list">
                    <li ng-repeat="box in d.privateBoxes track by box.id">
                        <menu-link class="ellipsis" section="box"></menu-link>
                    </li>
                </ul>
            </li>
            <li class="uni nav-item">
                <md-button class="ellipsis" user-not-register-popup="click" ng-class="{active: d.isSectionSelected('@Url.RouteUrl("LibraryDesktop")')}" @shouldPostBack href="@Url.RouteUrl("LibraryDesktop")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "universityMenu")
                    </span>
                    @IndexResources.Uni
                </md-button>
            </li>
            <li class="user nav-item">
                <md-button user-not-register-popup="click" ng-class="{active:d.isSectionSelected(d.userUrl)}" @shouldPostBack href="{{::d.userUrl}}">
                    <span class="icon">
                        @Html.Svg(svgUrl, "userMenu")
                    </span>
                    @IndexResources.User
                </md-button>
            </li>
            <li class="settings nav-item">
                <md-button user-not-register-popup="click" ng-class="{active:d.isSectionSelected('@Url.RouteUrl("AccountSettings")')}" @shouldPostBack href="@Url.RouteUrl("AccountSettings")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "settingMenu")
                    </span>
                    @IndexResources.Settings
                </md-button>
            </li>
            <li class="help nav-item">
                <md-button ng-class="{active: d.isSectionSelected('@Url.RouteUrl("Help")')}" @shouldPostBack href="@Url.RouteUrl("Help")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "headerHelp")
                    </span>
                    @SharedResources.Help
                </md-button>
            </li>
            <li class="blog nav-item">
                <md-button ng-class="{active:d.isSectionSelected('@Url.RouteUrl("Blog2")')}" @shouldPostBack href="@Url.RouteUrl("Blog2")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "blog")
                    </span>
                    @GeneralResources.Blog
                </md-button>
            </li>
            <li class="logout nav-item">
                <md-button target="_self" ng-click="app.logOut()" user-not-register-popup="click" href="@Url.Action("logoff","account")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "logOffMenu")
                    </span>
                    @IndexResources.Logout
                </md-button>
            </li>


            @*<li class="parent-list-item">
                    <menu-toggle section="courses"></menu-toggle>
                </li>*@
            @*<li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>*@
        </ul>
    </md-content>
</md-sidenav>
<script type="text/ng-template" id="partials/menu-link.tmpl.html">
    <md-button ng-class="{ active: isSectionSelected(section.url)}" href="{{::section.url}}">
        {{::section.name}}
    </md-button>
</script>