@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
   // const string svgUrl = "~/images/site/icons.svg";
   // var shouldPostBack = ViewBag.postBag == true ? "target=_self" : string.Empty;
}
<script type="text/ng-template" id="menu.html">
    <md-sidenav class="main-md-sidenav"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" close-menu="left">
        <md-content role="navigation" class="scrollbar" >
            <ul class="side-menu" sb-scroll @*ng-scrollbars-config="d.updateScrollbar"*@ ng-scrollbars>
                <li class="dashboard nav-item">
                    <a class="md-button" user-not-register-popup="click" ng-class="{active: d.isSectionSelected('@Url.Action("Index", "Dashboard")')}" ui-sref="dashboard">
                        <span class="icon"><md-icon md-svg-icon="t:houseMenu"></md-icon></span>
                        <span>@IndexResources.Dashboard</span>
                    </a>
                </li>
                <li class="expendable nav-item" ng-if="d.showBoxesNodes">
                    <button type="button" user-not-register-popup="click" class="md-button md-button-toggle" ng-click="d.toggleCourses()">
                        <div flex layout="row" layout-align="start center">
                            <span class="arrow icon" ng-class="{toggled:d.coursesOpen}">
                                <md-icon md-svg-icon="t:sideMenuArrow"></md-icon>
                            </span>
                            <span class="title">
                                @IndexResources.Classes
                            </span>
                        </div>
                    </button>
                    <ul ng-if="d.coursesOpen" id="side-menu-courses" class="menu-toggle-list">
                        <li ng-repeat="box in d.courses track by box.id">
                            <menu-link class="ellipsis" section="box"></menu-link>
                        </li>
                    </ul>
                </li>
                <li class="expendable nav-item" ng-if="d.showBoxesNodes">
                    <button type="button" user-not-register-popup="click" class="md-button md-button-toggle" ng-click="d.toggleBoxes()">
                        <div flex layout="row" layout-align="start center">
                            <span class="arrow icon" ng-class="{toggled:d.boxesOpen}">
                                <md-icon md-svg-icon="t:sideMenuArrow"></md-icon>
                            </span>
                            <span class="title">
                                @IndexResources.Group
                            </span>
                        </div>
                    </button>
                    <ul ng-if="d.boxesOpen" id="side-menu-boxes" class="menu-toggle-list">
                        <li ng-repeat="box in d.privateBoxes track by box.id">
                            <menu-link class="ellipsis" section="box"></menu-link>
                        </li>
                    </ul>
                </li>
                <li class="uni nav-item">

                    <button type="button" ng-click="d.univeristyClick()" user-not-register-popup="click" class="md-button ellipsis" ng-class="{active: d.isSectionSelected('/university')}" @*href="@Url.RouteUrl("LibraryDesktop")"*@>
                        <div flex layout="row" layout-align="start center">
                            <span class="icon">
                                <md-icon md-svg-icon="t:universityMenu"></md-icon>
                            </span>
                            <span class="title">
                                @GeneralResources.BrowseClasses
                            </span>
                        </div>
                    </button>

                </li>
                <li class="user nav-item">
                    <a class="md-button" user-not-register-popup="click" ng-class="{active:d.isSectionSelected(d.userUrl)}" href="{{::d.userUrl}}">
                        <span class="icon">
                            <md-icon md-svg-icon="t:userMenu"></md-icon>
                        </span>
                        <span>@IndexResources.User</span>
                    </a>
                </li>
                <li class="settings nav-item">
                    <a class="md-button" user-not-register-popup="click" ng-class="{active:d.isSectionSelected('@Url.RouteUrl("AccountSettings")')}" href="@Url.RouteUrl("AccountSettings")">
                        <span class="icon">
                            <md-icon md-svg-icon="t:settingMenu"></md-icon>
                        </span>
                        <span>@IndexResources.Settings</span>
                    </a>
                </li>
                <li class="help nav-item" hide-gt-xs>
                    <a class="md-button" ng-class="{active: d.isSectionSelected('@Url.RouteUrl("Help")')}" target="_self" href="@Url.RouteUrl("Help")">
                        <span class="icon">
                            <md-icon md-svg-icon="t:headerHelp"></md-icon>
                        </span>
                        <span>@SharedResources.Help</span>
                    </a>
                </li>
                <li class="logout nav-item" hide-gt-xs>
                    <a class="md-button" user-not-register-popup="click" target="_self" ng-click="app.logOut()" href="@Url.Action("logoff", "account")">
                        <span class="icon">
                            <md-icon md-svg-icon="t:logOffMenu"></md-icon>
                        </span>
                        <span>@IndexResources.Logout</span>
                    </a>
                </li>
                <adsense ad-client="ca-pub-1215688692145777" ad-slot="5179332155" inline-style="display:inline-block;width:200px;height:200px"></adsense>
            </ul>
        </md-content>
    </md-sidenav>
</script>
<script type="text/ng-template" id="partials/menu-link.tmpl.html">
    <a class="md-button" ng-class="{active: isSectionSelected(section.url)}" ng-href="{{::section.url}}">
        <span ng-bind="::section.name"></span>
        <span class="badge badge-danger" ng-if="section.updates === 0"><span>{{section.updates > 99 ? "99+" : section.updates}}</span></span>
    </a>
</script>