@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;
}

<md-sidenav ng-cloak class="main-md-sidenav color-override backgroundColor1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-content role="navigation" ng-controller="SideMenu as d">
        <ul class="side-menu" ng-slimscroll height="calc(100vh - 90px)" color="#BBB">
            <li class="dashboard nav-item">
                <md-button user-not-register-popup="click" ng-class="{active: d.isSectionSelected('@Url.Action("Index","Dashboard")')}" @shouldPostBack href="@Url.Action("Index","Dashboard")">
                    <span class="icon">@Html.Svg(svgUrl, "houseMenu")</span>
                    @IndexResources.Dashboard
                </md-button>
            </li>
            <li class="expendable nav-item">
                <md-button class="md-button-toggle" ng-click="d.toggleCourses()">
                    <div flex layout="row" layout-align="start center">
                        <span class="arrow icon" ng-class="{toggled:d.coursesOpen}">
                            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow")
                        </span>
                        <span class="title">
                            @IndexResources.Classes
                        </span>
                    </div>
                </md-button>
                <ul ng-show="d.coursesOpen" id="side-menu-courses" class="menu-toggle-list">
                    <li ng-repeat="box in d.courses track by box.id">
                        <menu-link class="ellipsis" section="box"></menu-link>
                    </li>
                </ul>
            </li>
            <li class="expendable nav-item">
                <md-button class="md-button-toggle" ng-click="d.toggleBoxes()">
                    <div flex layout="row" layout-align="start center">
                        <span class="arrow icon" ng-class="{toggled:d.boxesOpen}">
                            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow")
                        </span>
                        <span class="title">
                            @IndexResources.Group
                        </span>
                    </div>
                </md-button>
                <ul ng-show="d.boxesOpen" id="side-menu-boxes" class="menu-toggle-list">
                    <li ng-repeat="box in d.privateBoxes track by box.id">
                        <menu-link class="ellipsis" section="box"></menu-link>
                    </li>
                </ul>
            </li>
            <li class="uni nav-item">
                <md-button class="ellipsis" user-not-register-popup="click" ng-class="{active: d.isSectionSelected('@Url.RouteUrl("LibraryDesktop")')}" @shouldPostBack href="@Url.RouteUrl("LibraryDesktop")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "universityMenu")
                    </span>
                    @IndexResources.Uni
                </md-button>
            </li>
            <li class="user nav-item">
                <md-button user-not-register-popup="click" ng-class="{active:d.isSectionSelected(d.userUrl)}" @shouldPostBack href="{{::d.userUrl}}">
                    <span class="icon">
                        @Html.Svg(svgUrl, "userMenu")
                    </span>
                    @IndexResources.User
                </md-button>
            </li>
            <li class="settings nav-item">
                <md-button user-not-register-popup="click" ng-class="{active:d.isSectionSelected('@Url.RouteUrl("AccountSettings")')}" @shouldPostBack href="@Url.RouteUrl("AccountSettings")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "settingMenu")
                    </span>
                    @IndexResources.Settings
                </md-button>
            </li>
            <li class="help nav-item">
                <md-button ng-class="{active: d.isSectionSelected('@Url.RouteUrl("Help")')}" @shouldPostBack href="@Url.RouteUrl("Help")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "headerHelp")
                    </span>
                    @SharedResources.Help
                </md-button>
            </li>
            <li class="blog nav-item">
                <md-button ng-class="{active:d.isSectionSelected('@Url.RouteUrl("Blog2")')}" @shouldPostBack href="@Url.RouteUrl("Blog2")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "blog")
                    </span>
                    @GeneralResources.Blog
                </md-button>
            </li>
            <li class="logout nav-item">
                <md-button target="_self" ng-click="app.logOut()" user-not-register-popup="click" href="@Url.Action("logoff","account")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "logOffMenu")
                    </span>
                    @IndexResources.Logout
                </md-button>
            </li>


            @*<li class="parent-list-item">
                    <menu-toggle section="courses"></menu-toggle>
                </li>*@
            @*<li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>*@
        </ul>
    </md-content>
</md-sidenav>
<script type="text/ng-template" id="partials/menu-link.tmpl.html">
    <md-button ng-class="{ active: isSectionSelected(section.url)}" href="{{::section.url}}">
        {{::section.name}}
    </md-button>
</script>
@*<script type="text/ng-template" id="partials/menu-toggle.tmpl.html">
        <md-button class="md-button-toggle" ng-click="toggle()" flex layout="row">
            {{section.name}}
            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow", new { ng_class = "{toggled:isopen()}" })
        </md-button>
        <ul ng-show="isOpen()" id="side-menu-{{section.name | nospace}}" class="menu-toggle-list">
            <li ng-repeat="page in section.pages">
                <menu-link section="page"></menu-link>
            </li>
        </ul>
    </script>*@
@*<div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200" ng-controller="SideMenu as d">
                <li class="start">
                    <a user-not-register-popup="click" @shouldPostBack href="@Url.Action("Index","Dashboard")" ga-track-event="['sidebar', 'dashboard']">
                        <span class="dashboard icon">@Html.Svg(svgUrl, "houseMenu")</span>
                        <span class="title">@IndexResources.Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="d.open()" ga-track-event="['sidebar', 'classes']">
                        <span class="arrow icon">@Html.Svg("~/images/site/icons.svg", "sideMenuArrow")</span>
                        <span class="title">@IndexResources.Classes</span>
                    </a>
                    <ul class="sub-menu">
                        <li ng-repeat="box in d.courses track by box.id" id="menubox{{::box.id}}">
                            <a class="ellipsis" href="{{::box.url}}" ga-track-event="['sidebar', 'selected class']">
                                <span class="badge badge-danger" ng-if="box.updates !== 0">{{box.updates}}</span>
                                {{::box.name}}
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;" ng-click="d.open()" ga-track-event="['sidebar', 'group']">
                        <span class="arrow icon">@Html.Svg("~/images/site/icons.svg", "sideMenuArrow")</span>
                        <span class="title">@IndexResources.Group</span>
                    </a>
                    <ul class="sub-menu">
                        <li ng-repeat="box in d.privateBoxes track by box.id" id="menubox{{::box.id}}">
                            <a class="ellipsis" href="{{::box.url}}" ga-track-event="['sidebar', 'selected group']">
                                <span class="badge badge-danger" ng-if="box.updates !== 0">{{box.updates}}</span>
                                {{::box.name}}
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a user-not-register-popup="click" @shouldPostBack href="@Url.RouteUrl("LibraryDesktop")" ga-track-event="['sidebar', 'university']">
                        <span class="uni icon"> @Html.Svg(svgUrl, "universityMenu")</span>
                        <span class="title">@IndexResources.Uni</span>
                    </a>
                </li>
                <li>
                    <a user-not-register-popup="click" @shouldPostBack href="{{::d.userUrl}}" ga-track-event="['sidebar', 'user']">
                        <span class="user icon">@Html.Svg(svgUrl, "userMenu")</span>
                        <span class="title">@IndexResources.User</span>
                    </a>
                </li>
                <li>
                    <a user-not-register-popup="click" @shouldPostBack href="@Url.RouteUrl("AccountSettings")" ga-track-event="['sidebar', 'settings']">
                        <span class="settings icon">@Html.Svg(svgUrl, "settingMenu")</span>
                        <span class="title">@IndexResources.Settings</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Help")" ga-track-event="['sidebar', 'help']">
                        <span class="help icon">@Html.Svg(svgUrl, "headerHelp")</span>
                        <span class="title">@SharedResources.Help</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Blog2")" ga-track-event="['sidebar', 'blog']">
                        <span class="blog icon">@Html.Svg(svgUrl, "blog")</span>
                        <span class="title">@GeneralResources.Blog</span>
                    </a>
                </li>
                <li class="last ">
                    <a user-not-register-popup="click" target="_self" href="@Url.Action("logoff","account")" ga-track-event="['sidebar', 'logout']">
                        <span class="logout icon">@Html.Svg(svgUrl, "logOffMenu")</span>
                        <span class="title">@IndexResources.Logout</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>*@
