@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    const string svgUrl = "~/images/site/icons.svg";
    var shouldPostBack = @ViewBag.postBag == true ? "target=_self" : string.Empty;
}

<md-sidenav ng-show="app.showMenu" ng-cloak class="main-md-sidenav"
            md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" close-menu="left">
    <md-content role="navigation" ng-controller="SideMenu as d">
        <ul class="side-menu" ng-scrollbars ng-scrollbars-config="d.updateScrollbar" disable-thouch>
            <li class="dashboard nav-item">
                <md-button user-not-register-popup="click" ng-class="{active: d.isSectionSelected('@Url.Action("Index","Dashboard")')}" @shouldPostBack href="@Url.Action("Index","Dashboard")">
                    <span class="icon">@Html.Svg(svgUrl, "houseMenu", new { @class = "svgTC16" })</span>
                    @IndexResources.Dashboard
                </md-button>
            </li>
            <li class="expendable nav-item">
                <md-button user-not-register-popup="click" class="md-button-toggle" ng-click="d.toggleCourses()">
                    <div flex layout="row" layout-align="start center">
                        <span class="arrow icon" ng-class="{toggled:d.coursesOpen}">
                            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow", new { @class = "svgTC16" })
                        </span>
                        <span class="title">
                            @IndexResources.Classes
                        </span>
                    </div>
                </md-button>
                <ul ng-if="d.coursesOpen" id="side-menu-courses" class="menu-toggle-list">
                    <li ng-repeat="box in d.courses track by box.id">
                        <menu-link class="ellipsis" section="box"></menu-link>
                    </li>
                </ul>
            </li>
            <li class="expendable nav-item">
                <md-button user-not-register-popup="click" class="md-button-toggle" ng-click="d.toggleBoxes()">
                    <div flex layout="row" layout-align="start center">
                        <span class="arrow icon" ng-class="{toggled:d.boxesOpen}">
                            @Html.Svg("~/images/site/icons.svg", "sideMenuArrow", new { @class = "svgTC16" })
                        </span>
                        <span class="title">
                            @IndexResources.Group
                        </span>
                    </div>
                </md-button>
                <ul ng-if="d.boxesOpen" id="side-menu-boxes" class="menu-toggle-list">
                    <li ng-repeat="box in d.privateBoxes track by box.id">
                        <menu-link class="ellipsis" section="box"></menu-link>
                    </li>
                </ul>
            </li>
            <li class="uni nav-item">
                <md-button user-not-register-popup="click" class="ellipsis" ng-class="{active: d.isSectionSelected('@Url.RouteUrl("LibraryDesktop")')}" @shouldPostBack href="@Url.RouteUrl("LibraryDesktop")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "universityMenu", new { @class = "svgTC16" })
                    </span>
                    @IndexResources.Uni
                </md-button>
            </li>
            <li class="user nav-item">
                <md-button user-not-register-popup="click" ng-class="{active:d.isSectionSelected(d.userUrl)}" @shouldPostBack href="{{::d.userUrl}}">
                    <span class="icon">
                        @Html.Svg(svgUrl, "userMenu", new { @class = "svgTC16" })
                    </span>
                    @IndexResources.User
                </md-button>
            </li>
            <li class="settings nav-item">
                <md-button user-not-register-popup="click" ng-class="{active:d.isSectionSelected('@Url.RouteUrl("AccountSettings")')}" @shouldPostBack href="@Url.RouteUrl("AccountSettings")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "settingMenu", new { @class = "svgTC16" })
                    </span>
                    @IndexResources.Settings
                </md-button>
            </li>
            <li class="help nav-item" hide-gt-xs>
                <md-button ng-class="{active: d.isSectionSelected('@Url.RouteUrl("Help")')}" target="_self" href="@Url.RouteUrl("Help")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "headerHelp", new { @class = "svgTC16" })
                    </span>
                    @SharedResources.Help
                </md-button>
            </li>
            <li class="logout nav-item" hide-gt-xs>
                <md-button user-not-register-popup="click" target="_self" ng-click="app.logOut()" href="@Url.Action("logoff","account")">
                    <span class="icon">
                        @Html.Svg(svgUrl, "logOffMenu", new { @class = "svgTC16" })
                    </span>
                    @IndexResources.Logout
                </md-button>
            </li>
            <li class="ad nav-item" hide-xs data-ng-dfp-ad-container>
                <div ng-if="app.showBoxAd" data-ng-dfp-ad="div-gpt-ad-1461243129238-1" data-ng-dfp-ad-hide-when-empty></div>
                <div ng-if="!app.showBoxAd" data-ng-dfp-ad="div-gpt-ad-1461243129238-2" data-ng-dfp-ad-hide-when-empty></div>

            </li>
        </ul>
    </md-content>
</md-sidenav>
<script type="text/ng-template" id="partials/menu-link.tmpl.html">
    <a class="md-button" ng-class="{active: isSectionSelected(section.url)}" ng-href="{{::section.url}}">
        <span>{{::section.name}}</span>
        <span class="badge badge-danger" ng-if="section.updates !== 0">{{section.updates > 99 ? "99+" : section.updates}}</span>
    </a>
</script>