@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.postBag = ViewBag.postBag ?? false;
    var socialIconsSvg = "~/images/site/social-icons.svg";
}
@if (User != null && !User.Identity.IsAuthenticated && !ViewBag.postBag)
{
    <div class="unreg-user">
        <div class="content-wrapper noHeight text-center" unregister-show>
            <div class="content" ng-controller="UnregisterShowController as ur">
                <div class="text">
                    <p class="large">@HomePageResources.A4</p>
                    <p class="normal">@GeneralResources.UnregSubtitle</p>
                </div>
                <div class="signin-options-section">
                    <div class="social-signin">
                        <button type="button" class="login-option facebook os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div>
                                @Html.Svg(socialIconsSvg, "facebook")
                                <span>@LogOnResources.ExternalProvider</span>
                            </div>
                        </button>
                        <button type="button" class="login-option google os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div>
                                @Html.Svg(socialIconsSvg, "google")
                                <span>@LogOnResources.ExternalProvider</span>
                            </div>
                        </button>
                    </div>
                    <button type="button" class="login-option signup os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        @HomePageResources.A5
                    </button>
                </div>
                </div>
            </div>
        </div>
        }
