@model Zbang.Cloudents.Mvc4WebRole.Models.CreateAcademicBox
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources

@*<div class="modal-header">
    <h3 class="modal-title"><span>@DialogResources.CreateCourse</span></h3>
</div>
<div class="modal-body">
    <form name="createAcademicBox" novalidate ng-submit="create(createAcademicBox.$valid)">
        Html.AntiForgeryToken()        
        <div class="section">
            <div class="courseName" ng-class="{error : submitted && createAcademicBox.CourseName.$error.required}">
                @Html.LabelFor(m => m.CourseName)
                <span class="error">CourseName required</span>
                @Html.TextBoxFor(m => m.CourseName, new { @class = "inputText", ng_model = "formData.courseName", required = "required" })
            </div>
            <div>
                @Html.LabelFor(m => m.CourseId)
                @Html.TextBoxFor(m => m.CourseId, new { @class = "inputText", ng_model = "formData.courseId" })
            </div>
        </div>
        <div class="section">
            <div class="professor">
                @Html.LabelFor(m => m.Professor)
                @Html.TextBoxFor(m => m.Professor, new { @class = "inputText", ng_model = "formData.professor" })
            </div>
        </div>
        <input type="submit" class="btn1 next" value="@DialogResources.Create" ng-click="submitted=true" />
    </form>
    <button type="button" class="closeDialog" ng-click="cancel()"></button>
</div>*@
<form name="createAcademicBox" novalidate ng-submit="create(createAcademicBox.$valid)">
    @Html.AntiForgeryToken()

    <div class="department" ng-class="{error : submitted && createAcademicBox.CourseName.$error.required}">
        @Html.LabelFor(m => m.Department)
        <span class="error">Department name required</span>
        @Html.TextBoxFor(m => m.CourseName, new { @class = "inputText", ng_model = "formData.courseName", required = "required", disabled="disabled" })
        <button class="changeDeptBtn" type="button">@IndexResources.ChangeDept</button>
    </div>

    <div class="courseName" ng-class="{error : submitted && createAcademicBox.CourseName.$error.required}">
        @Html.LabelFor(m => m.CourseName)
        <span class="error">CourseName required</span>
        @Html.TextBoxFor(m => m.CourseName, new { @class = "inputText", ng_model = "formData.courseName", required = "required" })
    </div>
    <div class="lFloat courseId">
        @Html.LabelFor(m => m.CourseId)
        @Html.TextBoxFor(m => m.CourseId, new { @class = "inputText", ng_model = "formData.courseId" })
    </div>


    <div class="professor rFloat">
        @Html.LabelFor(m => m.Professor)
        @Html.TextBoxFor(m => m.Professor, new { @class = "inputText", ng_model = "formData.professor" })
    </div>

    <input type="submit" class="btn1 next" value="@DialogResources.Create" ng-click="submitted=true" />
    <button type="reset" class="btn2 cancel" ng-click="cancel()">@SharedResources.Back</button>
</form>