<!DOCTYPE html>
<html>
<head>
    @using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
    <title>@SharedResources.MultiMiCloud</title>
    @Html.Css2("upload")
    @Html.CssRtl("rtl")
    @Html.Script2("jquery")
</head>
<body>
    <div class="wrap">
        <div id="Header" class="ZboxTitle">
            <img src="@Url.CdnContent("/images/logo.jpg")" alt="@SharedResources.MultiMiCloud" title="@SharedResources.MultiMiCloud" />
            <span class="verTitle">@SharedResources.Beta</span>
        </div>
        <div id="MainContent">
            @RenderBody()
        </div>
    </div>

    @Html.Script2("upload")
    <script type="text/javascript" src="@Url.UICultureContent("~/Js/Resource/ZboxResources.js")" ></script>
    @RenderSection("script", false)
</body>
</html>
