@using Zbang.Cloudents.Mvc4WebRole.Views.Error.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.Title = "Internal server error";
}

<div class="error-500-page">
    <img src="@Url.CdnContent("~/Images/Site/500_image.png")" alt="Internal server error">
    <div class="text">
        <h2>
            @IndexResources.Oops<br />@IndexResources.WentWrong
        </h2>
        @if (User != null && !User.Identity.IsAuthenticated)
        {
            <a target="_self" href="@Url.Action("Index", "Home")" class="text-capitalize">@ErrorResources.BackToHome</a>
        }
        else
        {
            <a target="_self" href="@Url.Action("Index", "Dashboard")" class="text-capitalize">@ErrorResources.Back</a>
        }
    </div>
</div>