@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using System.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cloudents.Admin2</title>
    <base href="~/" />

    <!-- <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
    @RenderSection("head",required:false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()
    @*<script src="~/dist/vendor.js" asp-append-version="true"></script>*@
    @RenderSection("scripts", required: false)
<script>
window.version = '@Assembly.GetExecutingAssembly().GetName().Version.ToString(4)';  
</script>
</body>
</html>
