@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model bool
@{
    var direction = System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft ? "right" : "left";
}
<div ng-controller="ChatController as c">
    <div class="chat">
        <div class="content" ng-class="{stateChat: c.state === 3}">
            <div class="error" ng-class="{disconnected : !c.connected}">
                <div>@ChatResources.DisconnectedHeader</div>
                <div>
                    <span>@ChatResources.DisconnectedText</span>
                </div>
            </div>
            <div class="menu-content angular-animate">
                <div class="tab-content" ng-if="c.state === 1" ng-controller="chatUsers as cu">
                    <form novalidate class="search-friend" ng-submit="cu.search(cu.term)">
                        <button type="button" class="search-btn" ng-click="cu.expandSearch()">
                            <md-icon md-svg-icon="t:searchIcon" class="searchIcon"></md-icon>
                            @*@Html.Svg("~/images/site/icons.svg", "searchIcon", new {@class = "searchIcon"})*@
                        </button>
                        <input type="search" focus-me="cu.focusSearch" placeholder="@ChatResources.FriendSearchPlaceholder" ng-model="cu.term" ng-change="cu.search(cu.term)" ng-model-options="{debounce : 300}"/>
                        <button type="reset" ng-if="cu.term.length" class="reset-btn" ng-click="cu.search()">
                            <md-icon md-svg-icon="t:close" class="resetIcon"></md-icon>
                        </button>
                    </form>
                    <div class="users-list scrollbar" sb-scroll ng-scrollbars ng-scrollbars-paging ng-scrollbars-paging-function="cu.usersPaging" ng-scrollbars-config="c.scrollSetting" ng-scrollbars-update="c.updateScrollbar2" srph-infinite-scroll="cu.usersPaging()" container="true">
                        <section class="favorits" ng-show="favorites.length">
                            <div class="header">
                                <md-icon md-svg-icon="t:star"></md-icon>
                                <h1>@ChatResources.FavoritsHeader</h1>
                                <md-tooltip class="chat-tooltip" md-direction="@direction">
                                    <div>@ChatResources.FavoritsHeader</div>
                                </md-tooltip>
                            </div>
                            <ul class="users-sub-list">
                                <li ng-click="cu.chat(e)" class="user" ng-repeat="e in favorites = (cu.users | filter: {section : 1 }) track by e.id" ng-class="{online: e.online}" ga-track-event="['chat', 'started-conversation']" ng-include="'chat-user-template.html'">
                                </li>
                            </ul>
                        </section>
                        <section class="classmates" ng-show="classmates.length">
                            <div class="header">
                                <md-icon md-svg-icon="t:group"></md-icon>
                                @*@Html.Svg("~/images/site/icons.svg", "group")*@
                                <h1>@ChatResources.ClassmatesHeader</h1>
                                <md-tooltip class="chat-tooltip" md-direction="@direction">
                                    <div>@ChatResources.ClassmatesHeader</div>
                                </md-tooltip>
                            </div>
                            <ul class="users-sub-list">
                                <li ng-click="cu.chat(e)" class="user" ng-repeat="e in classmates = (cu.users | filter: {section : 2 }) track by e.id" ng-class="{online: e.online}" ga-track-event="['chat', 'started-conversation']" ng-include="'chat-user-template.html'">
                                </li>
                            </ul>
                        </section>
                        <section class="schoolmates" ng-show="schoolmates.length">
                            <div class="header">
                                <md-icon md-svg-icon="t:crowd"></md-icon>
                                @*@Html.Svg("~/images/site/icons.svg", "crowd")*@
                                <h1>@ChatResources.SchoolmatesHeader</h1>
                                <md-tooltip class="chat-tooltip" md-direction="@direction">
                                    <div>@ChatResources.SchoolmatesHeader</div>
                                    <div>{{e.name}}</div>
                                </md-tooltip>
                            </div>
                            <ul class="users-sub-list">
                                <li ng-click="cu.chat(e)" class="user" ng-repeat="e in schoolmates = (cu.users | filter: {section : 3 }) track by e.id" ng-class="{online: e.online}" ga-track-event="['chat', 'started-conversation']" ng-include="'chat-user-template.html'">
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="empty-state" ng-if="!cu.users.length && cu.term">
                        <div>
                            <md-icon md-svg-icon="t:sad-student-smiley"></md-icon>
                            @*@Html.Svg("~/images/site/icons.svg", "sad-student-smiley")*@
                        </div>
                        <span class="title">@ChatResources.EmptyStateTitle</span>
                        <span class="subtitle">@ChatResources.EmptyStateSubtitle</span>
                    </div>
                </div>
            </div>
            <div class="conversasion angular-animate" ng-if="c.state === 3" ng-controller="conversation as cv">
                <div class="header">
                    <a ng-href="{{cv.userChat.url}}" ng-class="{online: cv.userChat.online}" class="user" ga-track-event="['chat', 'opened-partners-profile']">
                        <user-image class="img-circle" name="cv.userChat.name" image="cv.userChat.image" width="35" height="35" noremove="true"></user-image>
                        <span class="member-name ellipsis" ng-bind="cv.userChat.name"></span>

                    </a>
                    <div class="back" ng-click="c.backFromChat()">
                        <div class="close"></div>
                    </div>
                </div>
                <div class="chat-content">
                    <ul class="messages scrollbar" sb-scroll chat-scroll-buttom="scrollToBotton"
                        ng-scrollbars ng-scrollbars-update="c.updateScrollbar" ng-scrollbars-config="c.scrollSetting">
                        <li>
                            <md-button id="chatLoadMore" ng-if="!cv.lastPage" ng-click="cv.loadMoreMessages()">@ChatResources.LoadMore</md-button>
                        </li>
                        <li ng-attr-id="{{::e.id ? 'chatMessage_' + e.id : undefined}}" class="message" ng-repeat="e in cv.messages" ng-class="{partner: e.partner}">
                            <div ng-if="e.text" class="text" ng-bind-html="::e.text | linky:'_blank'"></div>
                            <div ng-if="e.blob" class="image" ng-click="cv.dialog(e.blob, $event)" ga-track-event="['chat', 'opened-attachment']">
                                <img ng-src="{{e.thumb}}" width="256" height="138" alt="preview"/>
                            </div>
                            <time-ago class="time" from-time="{{::e.time}}" format="mediumDate"></time-ago>
                        </li>
                    </ul>
                    <div class="new-message">
                        <a class="menu menu-item" plupload="cv.upload.url" plupload-options="cv.upload.options" plupload-callbacks="cv.upload.callbacks" href="#" ga-track-event="['chat', 'upload-file']">
                            <md-icon md-svg-icon="u:file" class="attach"></md-icon>
                            @*@Html.Svg("~/images/site/uploadIcons.svg", "file", new {@class = "attach"})*@
                        </a>

                        <form name="chatDialog" novalidate ng-submit="cv.send()">
                            <md-input-container md-no-float>
                                <textarea md-no-asterisk autofocus class="scrollbar _md" enter-submit="cv.send()" autocomplete="off" type="text" maxlength="16000" required ng-model="cv.newText" placeholder="@ChatResources.NewMessagePlaceholder"></textarea>
                            </md-input-container>
                            <button type="submit" class="action-btn no-text" ng-disabled="cv.disabled" ga-track-event="['chat', 'sent-message']">
                                <md-icon md-svg-icon="u:post"></md-icon>
                                @*@Html.Svg("~/images/site/uploadIcons.svg", "post")*@
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @if (!Model)
        {
            <button type="button" class="tab" toggle-chat></button>
        }
    </div>
    <script type="text/ng-template" id="chat-user-template.html">
        <span ng-if="e.unread" class="chat-counter" ng-bind="e.unread"></span>
        <user-image class="img-circle" name="::e.name" image="::e.image" width="40" height="40"></user-image>
        <div class="name-date">
            <span class="member-name ellipsis" ng-bind="::e.name"></span>
            <chat-time-ago ng-if="!e.online" class="comment-date" from-time="{{e.lastSeen}}" format="mediumDate"></chat-time-ago>
        </div>
        <md-tooltip class="chat-tooltip" md-direction="@direction">
            <div>@ChatResources.ChatWith</div>
            <div>{{::e.name}}</div>
        </md-tooltip>

    </script>
</div>
