@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources

<md-dialog class="chat-item-preview" aria-label="dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            @*<h2 class="ellipsis"></h2>*@
            <button aria-label="close" class="close-btn" ng-click="lc.close()">
                <md-icon md-svg-icon="t:close"></md-icon>
            </button>
            <button aria-label="download" download target="_blank" class="download-btn" ng-href="{{::lc.downloadLink}}" title="@ItemsResources.Download">
                <md-icon md-svg-icon="i:download"></md-icon>
            </button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div>
            <div ng-repeat="e in lc.items" ng-include="lc.view"></div>
            <div ng-if="!lc.items" ng-include="lc.view" class="preview-faild"></div>
        </div>
    </md-dialog-content>


</md-dialog>
<script type="text/ng-template" id="chat-Image.html">
    <img ng-src="{{::e}}" />
</script>
<script type="text/ng-template" id="chat-Svg.html">
    <img class="svg-item" ng-src="{{::e}}" />
</script>
<script type="text/ng-template" id="chat-Text.html">
    <iframe sandbox="" ng-src="{{::e}}"></iframe>
</script>
<script type="text/ng-template" id="preview-faild.html">
    <img src="@Url.CdnContent("~/Images/Site/preview_failed_icon.png")" alt="Preview failed">
    <p>
        @ItemsResources.PreviewNotAvailable<br />
        @ItemsResources.PleaseUseThe@Html.Raw("&nbsp")<a class="actionText" target="_Blank" download href="{{::lc.downloadLink}}">@ItemsResources.Download</a>@Html.Raw("&nbsp")@ItemsResources.PreviewFailed2
    </p>
</script>