@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<!-- ko stopBinding: true -->

<li class="navItem"><a href="@Url.Action("Index", "Dashboard")" data-title="@SharedResources.Home" data-navigation="Dashboard" class="homeLink rFloat"></a></li>
<li class="navItem"><a data-title="@SharedResources.Help" class="feedBack rFloat" href="@Url.Action("Help", "Home")"></a></li>
<li class="navItem headerInvites" id="headerInvites">
    <button class="navLinks newInvites noInvites" id="invites" data-title="@SharedResources.Notifications">
        <span id="invitesCounter" class="invitesCounter"></span>
    </button>
    <div class="notifyWpr">
        <div class="arrow upArrow"></div>
        <div class="notifyTop">Notifications</div>
        <ul id="invitesList" class="notifyList"></ul>
    </div>
</li>

<script type="text/html" id="inviteTemplate">
    <li class="notifyItem">
        <a data-navigation="Box" href="{{url}}">
            <img src="{{senderImg}}" alt="" />
            <span>{{senderName}}</span>
            <span data-time="{{date}}"></span><br />
            Invites you to follow <span>{{boxName}}</span>
        </a>
    </li>
</script>
<script type="text/html" id="messageTemplate">
    <li class="notifyItem">
        <img class="imgBorder notifyImg" src="{{senderImg}}" alt="" />
        <span>{{senderName}}</span>
        <span data-time="{{date}}"></span>
        <div>{{message}}</div>
    </li>
</script>
<!-- /ko -->
