@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<li class="navItem"><a href="@Url.Action("Index", "Dashboard")" tooltip="@SharedResources.Home" class="homeLink rFloat"></a></li>
<li class="navItem"><a tooltip="@SharedResources.Help" target="_self" class="feedBack rFloat" href="@Url.Action("Help", "Home")"></a></li>
<li class="navItem headerInvites" id="headerInvites">
    <button class="navLinks newInvites" id="invites" tooltip="@SharedResources.Notifications">
        <span id="invitesCounter" class="invitesCounter"></span>
    </button>
    <div id="notifyWpr" class="notifyWpr">
        <div class="arrow upArrow"></div>
        <div class="notifyTop">@SharedResources.Notifications</div>
        <ul id="invitesList" class="notifyList"></ul>
        <div class="notifyEmpty">@SharedResources.NoNotifications</div>
    </div>
</li>

<script type="text/html" id="inviteTemplate">
    <li class="notifyItem{{isRead}}" id="{{id}}" data-boxid="{{boxId}}">
        <a data-navigation="Box" href="{{url}}">
            <img class="imgBorder notifyImg" src="{{senderImg}}" alt="" />
            <span class="semiFont notifier elps">{{senderName}}</span>
            
            <span class="createTime" date-time="{{date}}"></span><br />
            <div class="inviteTxtWpr">
                @SharedResources.InvitesYou&nbsp;<span class="semiFont">"{{boxName}}"</span>
            </div>
        </a>
    </li>
</script>
<script type="text/html" id="messageTemplate">
    <li class="notifyItem{{isRead}}" id="{{id}}">
        <a data-navigation="messaging" href="{{url}}">
            <img class="imgBorder notifyImg" src="{{senderImg}}" alt="" />
            <span class="semiFont notifier elps">{{senderName}}</span>
            <span class="createTime" date-time="{{date}}"></span>
            <div class="elps notifyMsg">{{message}}</div>
        </a>
</li>
</script>
