@using Zbang.Cloudents.Mvc4WebRole.Views.Error.Resources

@{
    ViewBag.Title = "Members only";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="members-only-page">
    <img src="@Url.CdnContent("~/Images/Site/membersOnly.png")" alt="Members only">
    <div class="text">
        <h2>@ErrorResources.NeedPermission</h2>
        <p>@ErrorResources.PrivateContent</p>
        @if (User != null && !User.Identity.IsAuthenticated)
        {
            <a target="_self" href="@Url.Action("Index", "Home")" class="text-capitalize">@ErrorResources.BackToHome</a>
        }
        else
        {
            <a target="_self" href="@Url.Action("Index", "Dashboard")" class="text-capitalize">@ErrorResources.Back</a>
        }
    </div>
</div>