@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    Layout = "~/Views/Shared/_LayoutStatic.mobile.cshtml";
}

<div class="error">
    <h1>@ErrorResources.MembersOnly</h1>
    <div class="">@ErrorResources.ToView</div>

    <div>@ErrorResources.Please&nbsp;<a style="color:#952262" href="/Account#connect">@SharedResources.SignIn</a>&nbsp;@ErrorResources.TryAgain</div>
    <div class="goBack">@ErrorResources.GoBack<a href="/" class="btn1">@ErrorResources.HomePage</a></div>
</div>
