@using Zbang.Cloudents.Mvc4WebRole.Views.Error.Resources

@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="error-page">
    <h2>
        @ErrorResources.NotFound
        <span class="text-capitalize">@ErrorResources.FileFlew</span>
    </h2>
    
    <div class="image">
        <img src="@Url.CdnContent("~/Images/Site/404_image.png")" alt="Page not found">
        @if (User != null && !User.Identity.IsAuthenticated)
        {
            <a target="_self" href="@Url.Action("Index", "Home")" class="text-capitalize">@ErrorResources.BackToHome</a>
        }
        else
        {
            <a target="_self" href="@Url.Action("Index", "Dashboard")" class="text-capitalize">@ErrorResources.Back</a>
        }
    </div>
</div>


