@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Share.Resources

@model Zbang.Zbox.ViewModel.Dto.BoxDtos.BoxMetaDto

@{
    var img = Model.Image ?? "/images/emptyState/my_default3.png";
}

<div id="invite" class="page">

    <div class="inviteWpr">
        <aside class="invSidebar rFloat">
            <form id="inviteSendEmailForm" class="invForm">
                <h3>@InviteResources.InviteByEmail</h3>

                <div class="inputText emailUser">
                    <div class="inviteEmailListWpr">
                        <ul id="inviteEmailList" class="emailList"></ul>
                        <input id="inviteInput" class="inviteInput" type="text" placeholder="@InviteResources.AddEmails" />
                    </div>
                </div>
                <div class="invSent">
                    <h4>@InviteResources.Success!</h4>
                    <div>@InviteResources.MailSent</div>
                </div>
                <button id="inviteSendEmail" type="submit" class="rFloat btn1">@DialogResources.Send</button>
            </form>

            <h2 id="inviteConnectMore">@InviteResources.ConnectMore</h2>
            <button type="button" class="connectMore fb"></button>
            <button type="button" class="connectMore gmail"></button>
        </aside>
        <div class="invMain elps">
            <div class="inviteSources rFloat">
                <button type="button" class="invTab cloudents"></button>
                <button type="button" class="invTab fb"></button>
                @*<button type="button" class="invTab gPlus"></button>*@
                <button type="button" class="invTab gmail"></button>
            </div>

            <a id="inviteBoxName" data-inv-header="@SharedResources.InviteCloudents" data-invbox-header="@DialogResources.InviteTo"
               href="@Model.Url" class="invHeaderText">
                <span>@Model.Name</span>
                <img id="inviteBoxImage" src="@img" alt="" width="26" height="34" class="invboxImg" />

            </a>

            <div class="invContentWpr">
                <div class="invContentTop">
                    <h4 data-inv-cloud="@InviteResources.CloudentsFriends" data-inv-fb="@InviteResources.FbFriends" @*data-inv-gplus="@InviteResources.GplusFriends"*@ data-inv-gmail="@InviteResources.GmailFriends"></h4>
                    <input id="inviteSearchByName" type="search" class="inputText" placeholder="@InviteResources.SearchByName" />
                </div>

                <div class="invContent">
                    <ul class="invList clearfix" data-inv-invite="@SharedResources.Invite" data-inv-member="@SharedResources.Member" data-inv-sent="@SharedResources.Sent"></ul>
                </div>

                <div id="connectAccount" class="connectAccount">
                    <span class="connectFrom fromCloudents"></span>
                    <span class="connector"></span>
                    <span class="connectTo"></span>
                    <div class="connectTxt" data-inv-fbaccount="@InviteResources.FbAccount" data-inv-gpaccount="@InviteResources.GpAccount" data-inv-gmailaccount="@InviteResources.GmailAccount">@InviteResources.FindFriends&nbsp;</div>
                    <button id="inviteConnectAccount" type="button" class="btn3">@SharedResources.Connect</button>
                </div>
                <div class="invNoResults">
                    <h2>@InviteResources.NoResults</h2>
                    <div>@InviteResources.CheckFor</div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/html" id="inviteFriendTemplate">
    <li class="invItem lFloat">
        <a href="{{url}}">
            <img alt="{{name}}" class="friendImg calloutTrgr" data-uid="{{id}}" src="{{defaultImage}}" data-src="{{userImage}}" width="34" height="34">
        </a>
        <span class="invName elps">{{name}}</span>
        <button data-id="{{id}}" type="button" class="invBtn rFloat">
            @SharedResources.Invite
        </button>

    </li>
</script>
<script type="text/html" id="inviteFriendOtherCloudents">
    <li class="invItem lFloat">
        <img alt="{{name}}" class="friendImg" data-uid="{{id}}" src="{{defaultImage}}" data-src="{{userImage}}" width="34" height="34">
        <span class="invName elps">{{name}}</span>
        <button data-id="{{id}}" type="button" class="invBtn rFloat">
            @SharedResources.Invite
        </button>

    </li>
</script>

@section scripts {
    @Html.Script2("General")
    @Html.Script2("cd1")
}
@section search {
<form class="dashLibSearch" id="g_search">
    <input id="g_searchQ" autocomplete="off"
           type="search" name="query" class="dashLibSearchInput" placeholder="@SharedResources.Search" />
    <button id="searchDropDownBtn" disabled type="submit"></button>
    <div class="searchDD allResults">
        <h3>@SharedResources.Courses / @SharedResources.GroupBoxes</h3>
        <ul class="searchList boxes"></ul>
        <h3>@SharedResources.Materials</h3>
        <ul class="searchList items"></ul>
        <h3>@SharedResources.People</h3>
        <ul class="searchList people"></ul>
        <h3>@SharedResources.ResultsOther</h3>
        <ul class="searchList university"></ul>
        <a class="showAll" target="_self">@SharedResources.AllResults&nbsp;<q></q></a>
        <div class="emptySearch">@SharedResources.NoResults</div>
    </div>
</form>
<script type="text/html" id="boxesSearchTemplate">
    <li>
        <a href="{{url}}" data-navigation="box" class="searchItem">
            <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{name}}</div>
                <span class="searchDetail {{allDetails}}">{{proffessor}}</span>
                <span class="searchDetail">{{courseCode}}</span>
            </div>
        </a>
    </li>
</script>
<script type="text/html" id="itemsSearchTemplate">
    <li>
        <a href="{{url}}" data-navigation="item" class="searchItem">
            <div class="otherUni semiFont">{{universityName}}</div>
            <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{name}}</div>
                <div class="boxLoc searchDetail" data-ignore-rtl="true" data-search-in="@SharedResources.In">{{boxName}}</div>
            </div>
        </a>
    </li>
</script>
<script type="text/html" id="peopleSearchTemplate">
    <li>
        <a href="{{url}}" data-navigation="user" class="searchItem">
            <img class="lFloat imgBorder userImg" src="{{image}}" alt="" width="33" height="33" />
            <div class="searchTitle semiFont elps">{{name}}</div>
        </a>
    </li>
</script>
<script type="text/html" id="emailSelectedItemTemplate">
    <li class="emailItem" data-id="{{id}}"><span class="emailText">{{name}}</span><button type="button" class="removeItem"></button><input type="hidden" name="Recepients" value="{{id}}" /></li>
</script>
}
