@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources

<a id="invite"></a>
<div class="portlet invite invite-dialog" ng-cloak ng-controller="inviteController as i">
    <div class="portlet-title">
        <div class="caption text-capitalize">
            @IndexResources.Invite {{i.title}}
        </div>
    </div>
    <div class="content">
        <div class="tabs" layout="row">
            <button class="spitball backgroundTC21" ng-if="i.inBox" ng-class="{active: i.tab === i.state.spitball}" ng-click="i.switchTab(i.state.spitball)" flex layout="row" layout-align="center center">
                <span class="mobile-icon" @*ng-if="i.tab === i.state.spitball"*@><md-icon md-svg-icon="t:smallLogo"></md-icon></span>
                <span class="desktop-icon" @*ng-if="i.tab === i.state.spitball"*@><md-icon md-svg-icon="t:logo"></md-icon></span>
            </button>
            <button class="email" ng-class="{active: i.tab === i.state.email}" ng-click="i.switchTab(i.state.email)" flex layout="row" layout-align="center center">
                <span ng-if="i.tab === i.state.email"><md-icon md-svg-icon="t:gmail"></md-icon></span>
                <span ng-if="i.tab !== i.state.email"><md-icon md-svg-icon="t:gmailgrey"></md-icon></span>
            </button>
            <button class="facebook" ng-class="{active: i.tab === i.state.facebook}" ng-click="i.switchTab(i.state.facebook)" flex layout="row" layout-align="center center">
                <span ng-if="i.tab === i.state.facebook">@Html.Svg("~/images/site/social-icons.svg", "facebook-colored")</span>
                <span ng-if="i.tab !== i.state.facebook">@Html.Svg("~/images/site/social-icons.svg", "fbgrey")</span>
            </button>
        </div>
        <div class="center">
            <div class="contacts" ng-if="i.allContacts.length || i.filterQuery !== ''">
                <div class="search-user">
                    <md-input-container class="md-block">
                        <label ng-if="i.tab === i.state.email">@IndexResources.AddMail</label>
                        <label ng-if="i.tab === i.state.spitball">@IndexResources.AddSpitball</label>
                        <input ng-model="i.filterQuery" ng-change="i.querySearch(i.filterQuery)">
                    </md-input-container>
                </div>
                <div class="invite-list-wrapper" ng-if="(i.tab === i.state.email || i.tab === i.state.spitball) && i.allContacts.length" ng-scrollbars>
                    <md-list class="invite-list" flex="100" layout-wrap layout="row" layout-align="start start" @*ng-slimscroll watch-content="true" height="290px" width="100%" color="#BBB"*@>
                        <md-list-item class="contact-item" flex-xs="100" flex-sm="50" flex="33" ng-repeat="contact in i.allContacts">
                            <div class="item-wrapper" layout="row" layout-align="space-between center" flex="100">
                                <div class="user" layout="row" layout-align="start center" ng-class="{selected: contact.isSelected}" ng-click="i.toggleContact(contact)">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="avatar"><user-image class="md-avatar" name-title name="contact.name" image="contact.image" width="40" height="40"></user-image></div>
                                            <div class="checkbox"></div>
                                        </div>
                                    </div>
                                    <div class="md-list-item-text compact">{{contact.name}}</div>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="empty-state" ng-if="i.tab === i.state.spitball && !i.allContacts.length">@IndexResources.EmptyStateSpitballInvite</div>
                <div class="empty-state" ng-if="i.tab === i.state.email && !i.allContacts.length">@IndexResources.EmptyStateGmailInvite</div>
                <div class="bottom">
                    <md-button class="cancel-btn" scroll-to-top ng-click="i.closeInvite()" ga-track-event="['invite', 'cancel']">
                        @GeneralResources.Cancel
                    </md-button>
                    <md-button class="action-btn space-before send" ga-track-event="['invite', 'send']" ng-if="i.allContacts.length" ng-click="i.sendInvite()" ng-disabled="i.submitDisabled">
                        @IndexResources.Send
                    </md-button>
                </div>
            </div>
            <div class="email" ng-if="!i.allContacts.length && !i.nonFilteredContacts.length && i.tab === i.state.email && i.filterQuery == ''">
                <div class="text-wrapper">
                    <span class="text">@IndexResources.GmailContact</span>
                </div>

                <div class="bottom">
                    <md-button class="cancel-btn close" scroll-to-top ng-click="i.closeInvite()" ga-track-event="['invite', 'cancel']">
                        @GeneralResources.Cancel
                    </md-button>
                    <button class="gmail action-btn space-before" ng-click="i.importGoogleContract()" type="button" ga-track-event="['invite', 'import gmail']">
                        <span>
                            @LogOnResources.ExternalProvider
                        </span>
                    </button>
                </div>
            </div>
            <div class="facebook" ng-if="i.tab === i.state.facebook">
                <div class="text-wrapper">
                    <span class="text">@IndexResources.FacebookContact</span>
                </div>

                <div class="bottom">
                    <md-button class="close cancel-btn" scroll-to-top ng-click="i.closeInvite()" ga-track-event="['invite', 'cancel']">
                        @GeneralResources.Cancel
                    </md-button>
                    <button class="gmail action-btn space-before" ng-click="i.fbShare()" type="button" ga-track-event="['invite', 'import gmail']">
                        <span>
                            @UserResources.Share
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
