@using Zbang.Cloudents.Mvc4WebRole.Views.Flashcard.Resources
<md-dialog class="share-dialog">
    <md-toolbar>
        <h1>@FlashcardResources.FlashcardShareTitle</h1>
        <md-button class="close" ng-click="sd.close()">
            <md-icon md-svg-icon="t:close"></md-icon>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <span>@FlashcardResources.FlashcardShareSubtitle</span>
        <div class="share-options">
            <button class="twitter share-button" type="button" ng-click="sd.twitter()">
                <md-icon md-svg-icon="s:twitter"></md-icon>
                <div>Twitter</div>
            </button>
            <button class="fb share-button" type="button" ng-click="sd.facebook()">
                <md-icon md-svg-icon="b:facebook-colored"></md-icon>
                <div>Facebook</div>
            </button>
            <a ng-href="{{::sd.whatappLink}}" target="_top" class="whatsapp share-button" ng-click="sd.whatapp()">
                <md-icon md-svg-icon="b:whatsapp"></md-icon>
                <div>Whatsapp</div>
            </a>
        </div>
        <hr />
        <div>@FlashcardResources.FlashcardShareCopyUrl</div>
        <input id="shareUrl" type="text" ng-model="sd.url" />
        <button class="action-btn" type="button" ngclipboard ngclipboard-success="sd.onSuccess()" data-clipboard-target="#shareUrl">
            @FlashcardResources.FlashcardShareCopyLink
            <md-tooltip md-direction="top" md-visible="">
                <div>@FlashcardResources.FlashcardShareCopiedLink</div>
            </md-tooltip>
        </button>
    </md-dialog-content>
</md-dialog>
