@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings.AccountSettings
@using Zbang.Cloudents.Mobile.Views.Account.Resources

<div class="accountSettings">

    @Html.LabelFor(m => m.Email)
    <div class="changeEmail">
        <div class="propValue">{{data.email}}</div>
        <button ng-show="!params.changingEmail" type="button" class="btnTxt" ng-click="changeEmail()">@AccountSettingsResources.ChangeEmail</button>
        <div class="newEmail" ng-show="params.changingEmail">
            <input ng-show="params.changingEmail && !params.verifyCode" type="text" class="inputText" placeholder="@AccountSettingsResources.EnterEmail" ng-model="emailForm.email" />
            <input ng-show="params.verifyCode" type="text" class="inputText" placeholder="@AccountSettingsResources.EnterCode" ng-model="emailForm.verifyCode" />
            <button type="button" class="btnTxt" ng-click="changeEmail()" ng-class="{checkMail : params.verifyCode}">{{params.changeEmailBtnText}}</button>
            <span class="validation-summary-errors">{{params.changeEmailError}}</span>
            <div class="checkMailMsg">
                <div class="semifont">@AccountSettingsResources.CheckMail</div>
                <div class="checkMailTxt">@AccountSettingsResources.CodeSent</div>
            </div>
        </div>
    </div>

    <div class="section">
        <label>@AccountSettingsResources.Password</label>
        <div class="changePwd" ng-class="{show: params.changingPassword}">

            <span class="validation-summary-errors">{{params.passwordError}}</span>
            @Html.LabelFor(m => m.Password.CurrentPassword,new { @for="oldpsw"})
            <input id="oldpsw" type="password" class="inputText" ng-model="passwordForm.oldPassword" />

            @Html.LabelFor(m => m.Password.NewPassword,new {@for="newpsw"})
            <input id="newpsw" type="password" class="inputText" ng-model="passwordForm.newPassword" />

        </div>
        <button type="button" class="btnTxt" ng-click="changePassword()" analytics-on="click">@AccountSettingsResources.ChangePwd</button>
    </div>

    <div class="section">
      @Html.LabelFor(m => m.Language)
            @Html.DropDownListFor(m => m.Language.Language,
                Zbang.Zbox.Infrastructure.Culture.Languages.SupportedCultures.Select(s => new SelectListItem
                {                    
                    Text = s.Name,
                    Value = s.Culture
                }), new { @class = "inputText", id = "language", ng_model = "languageForm.selected" })
    </div>
    <input type="button" class="btn1" value="@AccountSettingsResources.Save" ng-click="changeLanguage()" />
</div>
