@using Zbang.Cloudents.Mobile.Views.Account.Resources

<header class="logoHeader">
    <a href="@Url.RouteUrl("accountLink")" class="backBtn lFloat" ui-sref="root.dashboard">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </a>
    <h1><a ui-sref="root.dashboard">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>
<section class="signIn">
    <h1>@AccountResources.LogIn</h1>
    <button type="button" class="facebook" ng-click="login.facebook()">        
        <span class="fbImg">
            @Html.Svg("~/Images/Defs.svg", "fbIcon", new { @class = "svg-fb" })
        </span>@AccountResources.Facebook
    </button>
    <div class="splitHR">@AccountResources.ByEmail</div>
    <form name="loginForm" ng-submit="login.submit(loginForm.$valid)" novalidate focus-invalid>
        <div class="loginError" clear-on-input>{{login.serverError}}</div>
        <div class="ng-message-errors" ng-messages="login.submitted && loginForm.email.$error">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="pattern">@AccountResources.InvalidEmail</span>
        </div>
        <input type="email" class="inputText" ng-class="{error: login.submitted && loginForm.email.$error}"
               name="email" placeholder="@AccountResources.Email" required ng-model="login.formData.email"
               ng-pattern="params.pattern" tabindex="1" />
        <div class="ng-message-errors" ng-messages="login.submitted && loginForm.password.$error">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
        </div>
        <input name="password" type="password" ng-class="{error: login.submitted && loginForm.password.$error}"
               class="inputText" tabindex="2" placeholder="@AccountResources.Password" required ng-model="login.formData.password" />
        <a class="forgotLink rFloat" target="_self" href="@Url.Action("ResetPassword","Account")">@AccountResources.ForgotPassword</a>
        <input type="checkbox" class="checkbox" id="RememberMe" name="RememberMe" ng-model="login.formData.rememberMe" tabindex="2" />
        <label class="cbLabel lFloat" for="RememberMe">
            @Html.Svg("~/Images/Defs.svg", "tick", new { @class = "svg-checked" })
            @AccountResources.RememberMe
        </label>
        <input ng-disabled="login.disabled" class="btn1" type="submit" value="@AccountResources.LogIn">
    </form>
    <div>
        <span>@AccountResources.DontHaveAnAccount</span>
        <a class="loginTxt" ui-sref="root.register">@AccountResources.SignUp</a>
    </div>
</section>





    

