@using Zbang.Cloudents.Mobile.Views.Account.Resources
@model Zbang.Cloudents.Mobile.Models.Account.Confirmation
@using Zbang.Cloudents.Mobile.Views.Shared.Resources

<header class="logoHeader">
    <a href="@Url.RouteUrl("accountLink")" class="backBtn lFloat">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </a>
    <h1><a href="@Url.RouteUrl("accountLink")">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>
<section class="checkEmail">
    <h1>@AccountResources.CheckEmail</h1>
    <p>@AccountResources.WeEmailed</p>
    <p>@AccountResources.EnterBelow</p>
    @using (Html.BeginForm("Confirmation", "Account",new { @continue = Request.QueryString["continue"] }, FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        @Html.ValidationMessageFor(m => m.Code)
        @Html.TextBoxFor(m => m.Code, new { type="number", @class = "inputText", autofocus = "autofocus" })

        @Html.HiddenFor(m => m.Key)

     <button type="submit" class="btn1">@AccountResources.Continue</button>

    }
    @*<form>
        <div class="ng-message-errors" ng-messages="register.submitted && registerForm.newEmail.$error">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="pattern">@AccountResources.InvalidEmail</span>
        </div>
        <input type="email" class="inputText" placeholder="@AccountResources.Email" />
        <button type="submit" class="btn1">@AccountResources.Continue</button>
        <button type="button" class="btn1" disabled>@SharedResources.Cancel</button>
    </form>*@
</section>