@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<section class="checkEmail">
    <h1>@AccountResources.CheckEmail</h1>
    <p>@AccountResources.WeEmailed</p>
    <p>@AccountResources.EnterBelow</p>
    <input type="text" class="inputText" placeholder="@AccountResources.Email" />
    <button type="button" class="btn1">@AccountResources.Continue</button>
    <button type="button" class="btn1" disabled>@SharedResources.Cancel</button>
</section>