
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<section class="choosePwd">
    <h1>@AccountResources.ChoosePwd</h1>
    <input type="text" class="inputText" placeholder="@AccountResources.Password" />
    <input type="text" class="inputText" placeholder="@AccountResources.ConfirmPassword" />
    <button type="button" class="btn1">@AccountResources.Continue</button>
    <button type="button" class="btn1" disabled>@SharedResources.Cancel</button>
</section>