
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
@model Zbang.Cloudents.Mobile.Models.Account.NewPassword

<header class="logoHeader">
    <a href="@Url.RouteUrl("accountLink")" class="backBtn lFloat" ui-sref="root.dashboard">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back ltr" })
    </a>
    <h1><a ui-sref="root.dashboard">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>
<section class="choosePwd">
    <h1>@AccountResources.ChoosePwd</h1>
    @using (Html.BeginForm("PasswordUpdate", "Account", new { key = Request.QueryString["key"] }))
    {
        @*<div class="ng-message-errors" ng-messages="register.submitted && registerForm.password.$error">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="minlength">@AccountResources.PwdAtLeast6Chars</span>
        </div>*@
        @Html.ValidationMessageFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "inputText",placeholder=AccountResources.Password, autofocus = "autofocus", autocomplete = "off" });
        @*<div class="ng-message-errors" ng-messages="register.submitted && registerForm.password.$error">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="minlength">@AccountResources.PwdAtLeast6Chars</span>
            <span class="ng-message-error" ng-message="compare"></span>
        </div>*@
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new
           {
               @class = "inputText",
               placeholder = AccountResources.ConfirmPassword,
               autocomplete = "off"
           });
     
        <button type="submit" class="btn1">@AccountResources.Continue</button>
        <button type="button" class="btn1">@SharedResources.Cancel</button>
    }

</section>