
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<section class="choosePwd">
    <h1>@AccountResources.ChoosePwd</h1>
    <form>
        <div class="ng-message-errors" ng-messages="register.submitted && registerForm.password.$error">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="minlength">@AccountResources.PwdAtLeast6Chars</span>
            <span class="ng-message-error" ng-message="compare"></span>
        </div>
        <input type="password" class="inputText" placeholder="@AccountResources.Password" />
        <input type="password" class="inputText" placeholder="@AccountResources.ConfirmPassword" />
        <button type="submit" class="btn1">@AccountResources.Continue</button>
        <button type="button" class="btn1" disabled>@SharedResources.Cancel</button>
    </form>
</section>