
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
@model Zbang.Cloudents.Mobile.Models.Account.NewPassword

<header class="logoHeader">
    <a href="@Url.RouteUrl("accountLink")" class="backBtn lFloat">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </a>
    <h1><a href="@Url.RouteUrl("accountLink")">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>
<section class="choosePwd">
    <h1>@AccountResources.ChoosePwd</h1>
    @using (Html.BeginForm("PasswordUpdate", "Account", new { key = Request.QueryString["key"] }))
    {
       
        @Html.ValidationMessageFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "inputText",placeholder=AccountResources.Password, autofocus = "autofocus", autocomplete = "off" });
       
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new
           {
               @class = "inputText",
               placeholder = AccountResources.ConfirmPassword,
               autocomplete = "off"
           });
     
        <button type="submit" class="btn1">@AccountResources.Continue</button>
    }

</section>