@using Zbang.Cloudents.Mobile.Views.Account.Resources
@model Zbang.Cloudents.Mobile.Models.Account.ForgotPassword

<header class="logoHeader">
    <a href="@Url.RouteUrl("accountLink")" class="backBtn lFloat" ui-sref="root.dashboard">
        @Html.Svg("~/images/defs.svg", "back", new { @class = "svg-back rtl" })
    </a>
    <h1><a ui-sref="root.dashboard">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>
<section class="forgotPwd">
    <h1>@AccountResources.ForgotPassword</h1>
    <p>@AccountResources.JustEnter</p>
    <p>@AccountResources.LocateAccount</p>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "inputText", placeholder = AccountResources.Email })
        <button type="submit" class="btn1">@AccountResources.Reset</button>
    }
</section>