
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<section class="forgotPwd">
    <h1>@AccountResources.ForgotPassword</h1>
    <p>@AccountResources.JustEnter</p>
    <p>@AccountResources.LocateAccount</p>
    <input type="text" class="inputText" placeholder="@AccountResources.Email" />
    <button type="button" class="btn1">@AccountResources.Reset</button>
    <button type="button" class="btn1" disabled>@SharedResources.Cancel</button>
</section>