
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
@model Zbang.Cloudents.Mobile.Models.Account.ForgotPassword
<section class="forgotPwd">
    <h1>@AccountResources.ForgotPassword</h1>
    <p>@AccountResources.JustEnter</p>
    <p>@AccountResources.LocateAccount</p>
    @using (Html.BeginForm())
    {
        @*<div class="ng-message-errors" ng-messages="">
            <span class="ng-message-error" ng-message="required">@AccountResources.FieldRequired</span>
            <span class="ng-message-error" ng-message="pattern">@AccountResources.InvalidEmail</span>
        </div>*@
        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "inputText", autofocus = "autofocus", placeholder = AccountResources.Email })
        <button type="submit" class="btn1">@AccountResources.Reset</button>
        <button type="button" class="btn1" disabled>@SharedResources.Cancel</button>
        @Html.ValidationSummary(true)
    }
</section>