@using Zbang.Cloudents.Mobile.Extensions
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Culture

<div class="homepage">
    @Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })
    <h1>@AccountResources.SocialStudy</h1>
    <div class="bottom">
        <button type="button" class="facebook" ng-click="account.facebookLogin()">
            <span class="fbImg">
                @Html.Svg("~/Images/Defs.svg", "fbIcon", new { @class = "svg-fb" })
            </span>@AccountResources.FacebookSignUp
        </button>

        <a ui-sref="root.register" class="emailBtn" analytics-on analytics-event="Register" analytics-category="Home page" analytics-label="User clicked on register with email">
            <span class="emailImg">
                @Html.Svg("~/Images/Defs.svg", "emailIcon", new { @class = "svg-email" })
            </span>@AccountResources.EmailSignUp
        </a>

        <span class="homeTxt1">@AccountResources.AlreadyHave</span>
        <a class="homeTxt2" ui-sref="root.login" analytics-on analytics-event="Login" analytics-category="Home page" analytics-label="User clicked on login with email">@AccountResources.LogIn</a>

        <div class="lang">
            <select class="langSelect" ng-change="account.changeLanguage()" ng-model="account.language" ng-init="account.language ='@(System.Threading.Thread.CurrentThread.CurrentUICulture.Name)'">
                <option value="@Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture">@Languages.EnglishUsName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture">@Languages.EnglishGbName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.RussianName).Culture">@Languages.RussianName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.HebrewName).Culture">@Languages.HebrewName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.ArabicName).Culture">@Languages.ArabicName</option>
            </select>
        </div>
        
    </div>

    <section class="app-download" ng-class="{closed : params.isPopupClosed}">
        <h2>@AccountResources.MadeAnApp</h2>
        <a href="#" class="download">@AccountResources.DownloadApp</a>
        <button type="button" class="continue" ng-click="closePopup()">@AccountResources.ContinueBrowsing</button>
        <button type="button" class="close" ng-click="closePopup()">@Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })</button>
    </section>
</div>