@using Zbang.Cloudents.Mobile.Extensions
@using Zbang.Cloudents.Mobile.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Culture

<div class="homepage">
     <img class="svg-logo" src="~/Images/logo.png" />
    <h1 class="header">@AccountResources.HomePageTitle</h1>
    <h1 class="header">@AccountResources.HomePageTitle2</h1>
    <h2 class="header first">@AccountResources.HomePageTitle3</h2>
    <h2 class="header">@AccountResources.HomePageTitle4</h2>
    <h2 class="header">@AccountResources.HomePageTitle5</h2>
    <h3 class="header">@AccountResources.HomePageTitle6</h3>
    <h4 class="header">@AccountResources.HomePageTitle7</h4>    
    <div class="bottom">
        <button type="button" class="facebook" ng-click="account.facebookLogin()">
            <span class="fbImg">
                @Html.Svg("~/Images/Defs.svg", "fbIcon", new { @class = "svg-fb" })
            </span>@AccountResources.FacebookSignUp
        </button>

        <a ui-sref="root.register" class="emailBtn" analytics-on analytics-event="Register" analytics-category="Home page" analytics-label="User clicked on register with email">
            <span class="emailImg">
                @Html.Svg("~/Images/Defs.svg", "emailIcon", new { @class = "svg-email" })
            </span>@AccountResources.EmailSignUp
        </a>

        <span class="homeTxt1">@AccountResources.AlreadyHave</span>
        <a class="homeTxt2" ui-sref="root.login" analytics-on analytics-event="Login" analytics-category="Home page" analytics-label="User clicked on login with email">@AccountResources.LogIn</a>

        <div class="lang">
            <select class="langSelect" ng-change="account.changeLanguage()" ng-model="account.language" ng-init="account.language ='@(System.Threading.Thread.CurrentThread.CurrentUICulture.Name)'">
                <option value="@Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture">@Languages.EnglishUsName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture">@Languages.EnglishGbName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.RussianName).Culture">@Languages.RussianName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.HebrewName).Culture">@Languages.HebrewName</option>
                <option value="@Languages.GetLanguageDetailByName(Languages.ArabicName).Culture">@Languages.ArabicName</option>
            </select>
        </div>
        
    </div>

    <section class="app-download" ng-class="{closed : account.isPopupClosed}" ng-if="account.firstTime">
       
        <div class="wrapper">
            <button type="button" class="close" ng-click="account.closePopup()">@Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })</button>
            <img class="download_bg" src="~/Images/app_bg@3x.png" />
            <div class="download_text">@AccountResources.GetFull</div>
            <div class="download_text2">@AccountResources.VersionNow</div>
            @*<a href="http://m.onelink.me/cb0eeb35" class="downloadLink androidLink" target="_blank">@AccountResources.DownloadApp</a>*@
            <a href="http://m.onelink.me/cb0eeb35" class="download_store"><img src="~/Images/app_store.png"></a>
            <a href="http://m.onelink.me/cb0eeb35" class="download_play"><img src="~/Images/google_play.png"></a>
        </div>
    </section>
</div>

