@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Gamification
<div class="badges-wrapper">
    @Helpers.UserGamification("u.leaderboardUser")
    <div class="badges-bar">
        <md-tabs class="badges-tabs" md-dynamic-height="true" md-stretch-tabs="always">
            <md-tab ui-sref="user.badge({type:'level'})" md-active="g.isActive('level')">
                <md-tab-label><h4>@GamificationResources.Levels</h4></md-tab-label>
            </md-tab>
            <md-tab ui-sref="user.badge({type:'badge'})" md-active="g.isActive('badge')">
                <md-tab-label><h4>@GamificationResources.Badges</h4></md-tab-label>
            </md-tab>
            <md-tab ui-sref="user.badge({type:'community'})" md-active="g.isActive('community')">
                <md-tab-label><h4>@GamificationResources.Leaderboard</h4></md-tab-label>
            </md-tab>
        </md-tabs>
    </div>

    <div class="badges-tab-content" ng-switch="$state.params['type']">
        <div ng-switch-when="level" class="tab levels">
            <ul>
                @foreach (var level in Model.Levels)
                {
                    <li class="level">
                        @{ string progress = "g.levels.l" + level.Index + ".progress"; }
                        <div class="title">
                            <div class="image">
                                <img ng-class="{inprogress: @progress!==0}" src="@Url.CdnContent("/images/gamification/level_" + level.Name + ".png")" alt="@level.Name"/>
                            </div>
                            <div class="name">@level.Name</div>
                        </div>
                        <div class="body">
                            @level.Description
                            <div class="progress">
                                <md-progress-linear class="custom-progress-bar" md-mode="determinate" value="{{@progress}}">
                                </md-progress-linear>
                                {{@progress}}% complete
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
        <div ng-switch-when="badge" class="tab levels">
            <ul>
                @foreach (var level in Model.Badges)
                {
                    <li class="level">
                        @{ string progress = "g.badges." + level.BadgeSystem + ".progress"; }
                        <div class="title">
                            <div class="image">
                                @*<img ng-if="@progress===0" src="@Url.CdnContent("/images/gamification/level_" + level.Name + "_hidden.png")" alt="@level.Name" />*@
                                <img ng-class="{inprogress: @progress!==100}" src="@Url.CdnContent("/images/gamification/badge_" + level.Name + ".png")" alt="@level.Name" />
                            </div>
                            <div class="name">@level.Name</div>
                        </div>
                        <div class="body">
                            @level.Description
                            <div class="progress">
                                <md-progress-linear class="custom-progress-bar" md-mode="determinate" value="{{@progress}}">
                                </md-progress-linear>
                                {{@progress}}% complete
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        @*<div ng-switch-when="badge" class="tab badges">
            <div class="badges-container" ng-if="!g.badgeInfo">
                <div class="wrapper" ng-repeat="badge in ::g.badges">
                    <div class="badge-container" ng-click="g.showBadge(badge)">
                        <md-icon md-svg-icon="p:checkmark" ng-if="badge.progress === 100"></md-icon>
                        <img class="image" ng-if="badge.progress === 100" ng-src="{{::badge.image}}" alt="{{badge.name}}" />
                        <img class="image" ng-if="badge.progress !== 100" ng-src="{{::badge.imageHidden}}" alt="{{badge.name}}" />
                        <div class="text" ng-bind="::badge.name"></div>
                        <div class="progress">
                            <md-progress-linear class="custom-progress-bar" ng-cloak md-mode="determinate" value="{{::badge.progress}}"></md-progress-linear>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="g.badgeInfo" class="expanded">
                <div class="prev">
                    <md-icon ng-class="{disabled: !g.badgeInfo.prev}" ng-click="g.showBadge(g.badgeInfo.prev)" md-svg-icon="p:arrow-right"></md-icon>
                </div>
                <div class="badge-container">

                    <md-icon md-svg-icon="p:checkmark" ng-if="g.badgeInfo.data.progress === 100"></md-icon>
                    <img class="image" ng-if="g.badgeInfo.data.progress === 100" ng-src="{{g.badgeInfo.data.image}}" alt="{{g.badgeInfo.data.name}}" />
                    <img class="image" ng-if="g.badgeInfo.data.progress !== 100" ng-src="{{g.badgeInfo.data.imageHidden}}" alt="{{g.badgeInfo.data.name}}" />
                    <div class="text" ng-bind="g.badgeInfo.data.name"></div>
                    <div class="progress">
                        <md-progress-linear class="custom-progress-bar" ng-cloak md-mode="determinate" value="{{g.badgeInfo.data.progress}}"></md-progress-linear>
                    </div>
                    <div class="details">
                        <div class="condition" ng-bind="g.badgeInfo.data.details"></div>
                        <div class="points">+{{g.badgeInfo.data.points}} pts</div>
                    </div>
                </div>
                <div class="next">
                    <md-icon ng-class="{disabled: !g.badgeInfo.next}" ng-click="g.showBadge(g.badgeInfo.next)" md-svg-icon="p:arrow-right"></md-icon>
                </div>
                <md-icon class="close" md-svg-icon="t:close" ng-click="g.badgeInfo=false"></md-icon>
            </div>
        </div>*@
        <div ng-switch-when="community" class="tab community" srph-infinite-scroll="g.loadMoreLeaderboard()">
            @{
                // ReSharper disable once Mvc.PartialViewNotResolved
                Html.RenderPartial("_LeaderBoard");}
        </div>
    </div>
</div>
