@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Flashcard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Consts
<div class="ad">
    <adsense ad-client="ca-pub-1215688692145777" ad-slot="1334764954" inline-style="display:block;" ad-format="auto"></adsense>
</div>
<div class="page-head indent-content">
    <div class="page-title">
        <h1>@IndexResources.User </h1>
    </div>
</div>
<div class="userPage indent-content">
    <div class="profile-sidebar">
        @*<div class="portlet light profile-sidebar-portlet" ng-if="::!u.isUserProfile">
            <div class="profile-userpic">
                <user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="125" height="125"></user-image>
            </div>
            <div class="profile-usertitle">
                <h3 class="profile-usertitle-name multi-line-ellipsis limit-two" ng-bind="::u.details.name"></h3>
                <h4 class="profile-usertitle-job" ng-bind="::u.details.universityName"></h4>
                <button class="message" ng-if="::!u.isUserProfile" ng-click="u.sendMessage()" user-not-register-popup="click">
                    <div class="content">
                        <md-icon md-svg-icon="t:chat"></md-icon>
                        <span>@UserResources.MessageButton</span>
                    </div>
                </button>
            </div>
        </div>*@
        @*<label for="show-points-info" class="points-container">
            <span count-up id="points" end-val="{{::u.details.score}}" duration="3"></span>
            <span>@UserResources.Points</span>
        </label>
        <input id="show-points-info" type="checkbox" />*@
        <section class="points-info" ng-if="::u.isUserProfile">
            <h1>@GamificationResources.GamificationTableTitle</h1>
            <table>
                <tbody>
                    <tr class="titles">
                        <th></th>
                        <td><md-icon class="view" md-svg-icon="b:eye"></md-icon></td>
                        <td><md-icon class="download" md-svg-icon="i:download"></md-icon></td>
                        <td><md-icon class="like" md-svg-icon="b:like"></md-icon></td>
                    </tr>
                    <tr>
                        <th>@IndexResources.Items:</th>
                        <td>@ReputationConst.ItemView</td>
                        <td>@ReputationConst.ItemDownload</td>
                        <td>@ReputationConst.ItemLike</td>
                    </tr>
                    <tr>
                        <th>@GeneralResources.Quizzes:</th>
                        <td>@ReputationConst.QuizView</td>
                        <td>@ReputationConst.QuizSolve</td>
                        <td>@ReputationConst.QuizLike</td>
                    </tr>
                    <tr>
                        <th>@FlashcardResources.CardsLabel:</th>
                        <td>@ReputationConst.FlashcardView</td>
                        <td></td>
                        <td>@ReputationConst.FlashcardLike</td>
                    </tr>
                    <tr>
                        <th>@GeneralResources.Post:</th>
                        <td></td>
                        <td></td>
                        <td>@ReputationConst.CommentLike</td>
                    </tr>
                    <tr>
                        <th>@BoxResources.Comment:</th>
                        <td></td>
                        <td></td>
                        <td>@ReputationConst.ReplyLike</td>
                    </tr>
                </tbody>
            </table>






        </section>

    </div>
    <div class="profile-content">
        <div class="portlet light">
            <md-tabs class="page-tabs">
                <md-tab ui-sref="user.badge" md-active="u.isActive('user.badge')">
                    <md-tab-label>
                        <h3>@UserResources.Points</h3>
                        <div class="number" ng-bind="::u.details.score | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.item" md-active="u.isActive('user.item')">
                    <md-tab-label>
                        <h3>@UserResources.Uploads</h3>
                        <div class="number" ng-bind="::u.details.numItem | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.feed" md-active="u.isActive('user.feed')">
                    <md-tab-label>
                        <h3>@UserResources.Posts</h3>
                        <div class="number" ng-bind="::u.details.numFeed | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.quiz" md-active="u.isActive('user.quiz')">
                    <md-tab-label>
                        <h3>@GeneralResources.Quizzes</h3>
                        <div class="number" ng-bind="::u.details.numQuiz | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.flashcard" md-active="u.isActive('user.flashcard')">
                    <md-tab-label>
                        <h3>@FlashcardResources.CardsLabel</h3>
                        <div class="number" ng-bind="::u.details.numFlashcard | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.classmates" md-active="u.isActive('user.classmates')">
                    <md-tab-label>
                        <h3>@GeneralResources.Members</h3>
                        <div class="number" ng-bind="::u.details.numFriend | megaNumber"></div>
                    </md-tab-label>
                </md-tab>

            </md-tabs>
            <div class="page-animation" ui-view></div>
        </div>
    </div>
</div>

