@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="page-head">
    <div class="page-title">
        <h1>@IndexResources.User </h1>
    </div>
</div>
<div class="userPage">
    <div class="profile-sidebar">
        <div class="portlet light profile-sidebar-portlet" @*ng-if="::!u.isUserProfile"*@>
            <div class="profile-userpic">
                <user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="125" height="125"></user-image>
            </div>
            <div class="profile-usertitle">
                <h3 class="profile-usertitle-name multi-line-ellipsis limit-two" ng-bind="::u.details.name"></h3>
                <h4 class="profile-usertitle-job" ng-bind="::u.details.universityName"></h4>
                <button class="message" ng-if="::!u.isUserProfile" ng-click="u.sendMessage()" user-not-register-popup="click">
                    <div class="content">
                        <md-icon md-svg-icon="t:chat"></md-icon>
                        <span>@UserResources.MessageButton</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="points-container" ng-if="!u.isUserProfile">
            <h5 count-up id="points" end-val="{{u.details.score}}" duration="3"></h5>
            <h5>@UserResources.Points</h5>
        </div>
        <div class="points-awards" hide-xs>
            <span class="earn">@UserResources.Share</span>
            <ul style="list-style-type:square">
                <li>@UserResources.Creating</li>
                <li>@UserResources.Accepted</li>
            </ul>
            <span class="earn">@UserResources.PointMenu2</span>
            <ul style="list-style-type:square">
                <li>@UserResources.AcceptedToCourse</li>
                <li>@UserResources.UploadItem</li>
                <li>@UserResources.Answering</li>
                <li>@UserResources.Asking</li>
                <li>@UserResources.Likes</li>
                <li>@UserResources.ShareFB</li>
            </ul>
        </div>
    </div>
    <div class="profile-content">
        <div class="portlet light">
            <md-tabs class="page-tabs">
                <md-tab ui-sref="user.badge" md-active="u.isActive('user.badge')">
                    <md-tab-label>
                        <h3>@GamificationResources.Badges</h3>
                        <div class="number" ng-bind="::u.details.numBadge"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.item" md-active="u.isActive('user.item')">
                    <md-tab-label>
                        <h3>@UserResources.Uploads</h3>
                        <div class="number" ng-bind="::u.details.numItem | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.feed" md-active="u.isActive('user.feed')">
                    <md-tab-label>
                        <h3>@UserResources.Posts</h3>
                        <div class="number" ng-bind="::u.details.numFeed | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.quiz" md-active="u.isActive('user.quiz')">
                    <md-tab-label>
                        <h3>@GeneralResources.Quizzes</h3>
                        <div class="number" ng-bind="::u.details.numQuiz | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.classmates" md-active="u.isActive('user.classmates')">
                    <md-tab-label>
                        <h3>@GeneralResources.Members</h3>
                        <div class="number" ng-bind="::u.details.numFriend | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
            </md-tabs>
            <div class="page-animation" ui-view></div>
        </div>
    </div>
</div>

