@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="ad">
    <adsense ad-client="ca-pub-1215688692145777" ad-slot="1334764954" inline-style="display:block;" ad-format="auto"></adsense>
</div>
<div class="page-head">
    <div class="page-title">
        <h1>@IndexResources.User </h1>
    </div>
</div>
<div class="userPage">
    <div class="profile-sidebar">
        <div class="portlet light profile-sidebar-portlet" ng-if="::!u.isUserProfile">
            <div class="profile-userpic">
                <user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="125" height="125"></user-image>
            </div>
            <div class="profile-usertitle">
                <h3 class="profile-usertitle-name multi-line-ellipsis limit-two" ng-bind="::u.details.name"></h3>
                <h4 class="profile-usertitle-job" ng-bind="::u.details.universityName"></h4>
                <button class="message" ng-if="::!u.isUserProfile" ng-click="u.sendMessage()" user-not-register-popup="click">
                    <div class="content">
                        <md-icon md-svg-icon="t:chat"></md-icon>
                        <span>@UserResources.MessageButton</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="points-container" @*ng-if="!u.isUserProfile"*@>
            <h5 count-up id="points" end-val="{{::u.details.score}}" duration="3"></h5>
            <h5>@UserResources.Points</h5>
        </div>
        <section class="points-info" hide-xs ng-if="::u.isUserProfile">
            <h1>Earning points</h1>
            <table>
                <tbody>
                    <tr class="titles">
                        <th></th>
                        <td><md-icon class="view" md-svg-icon="b:eye"></md-icon></td>
                        <td><md-icon class="download" md-svg-icon="i:download"></md-icon></td>
                        <td><md-icon class="like" md-svg-icon="b:like"></md-icon></td>
                    </tr>
                    <tr>
                        <th>Documents:</th>
                        <td>1</td>
                        <td>20</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Quiz:</th>
                        <td>5</td>
                        <td>100</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <th>Flashcard:</th>
                        <td>5</td>
                        <td></td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Post:</th>
                        <td></td>
                        <td></td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Comment:</th>
                        <td></td>
                        <td></td>
                        <td>100</td>
                    </tr>
                </tbody>
            </table>





            @*<div class="info-wrapper">
                    <div class="section docs">
                        <h2 class="title">Documents</h2>
                        <div class="points">
                            <div class="keys">
                                <div class="name">View</div>
                                <div class="name">Download</div>
                                <div class="name">Like</div>
                            </div>
                            <div class="values">
                                <div class="value">20</div>
                                <div class="value">1</div>
                                <div class="value">100</div>
                            </div>
                        </div>
                    </div>
                    <div class="section quiz">
                        <h2 class="title">Quiz</h2>
                        <div class="keys">
                            <div class="name">View</div>
                            <div class="name">Solve</div>
                            <div class="name">Like</div>
                        </div>
                        <div class="values">
                            <div class="value">5</div>
                            <div class="value">100</div>
                            <div class="value">150</div>
                        </div>
                    </div>
                    <div class="section flashcards">
                        <h2 class="title">Flashcard</h2>
                        <div class="keys">
                            <div class="name">View</div>
                            <div class="name">Like</div>
                        </div>
                        <div class="values">
                            <div class="value">5</div>
                            <div class="value">100</div>
                        </div>
                    </div>
                    <div class="section post">
                        <h2 class="title">Post</h2>
                        <div class="keys">
                            <div class="name">Like</div>
                        </div>
                        <div class="values">
                            <div class="value">100</div>
                        </div>
                    </div>
                    <div class="section comment">
                        <h2 class="title">Comment</h2>
                        <div class="keys">
                            <div class="name">Like</div>
                        </div>
                        <div class="values">
                            <div class="value">100</div>
                        </div>
                    </div>
                </div>*@
        </section>
        @*<div class="points-awards" hide-xs>
                <span class="earn">@UserResources.Share</span>
                <ul style="list-style-type:square">
                    <li>@UserResources.Creating</li>
                    <li>@UserResources.Accepted</li>
                </ul>
                <span class="earn">@UserResources.PointMenu2</span>
                <ul style="list-style-type:square">
                    <li>@UserResources.AcceptedToCourse</li>
                    <li>@UserResources.UploadItem</li>
                    <li>@UserResources.Answering</li>
                    <li>@UserResources.Asking</li>
                    <li>@UserResources.Likes</li>
                    <li>@UserResources.ShareFB</li>
                </ul>
            </div>*@
    </div>
    <div class="profile-content">
        <div class="portlet light">
            <md-tabs class="page-tabs">
                <md-tab ui-sref="user.badge" md-active="u.isActive('user.badge')">
                    <md-tab-label>
                        <h3>@UserResources.Points</h3>
                        <div class="number" ng-bind="::u.details.score | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.item" md-active="u.isActive('user.item')">
                    <md-tab-label>
                        <h3>@UserResources.Uploads</h3>
                        <div class="number" ng-bind="::u.details.numItem | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.feed" md-active="u.isActive('user.feed')">
                    <md-tab-label>
                        <h3>@UserResources.Posts</h3>
                        <div class="number" ng-bind="::u.details.numFeed | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.quiz" md-active="u.isActive('user.quiz')">
                    <md-tab-label>
                        <h3>@GeneralResources.Quizzes</h3>
                        <div class="number" ng-bind="::u.details.numQuiz | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
                <md-tab ui-sref="user.classmates" md-active="u.isActive('user.classmates')">
                    <md-tab-label>
                        <h3>@GeneralResources.Members</h3>
                        <div class="number" ng-bind="::u.details.numFriend | megaNumber"></div>
                    </md-tab-label>
                </md-tab>
            </md-tabs>
            <div class="page-animation" ui-view></div>
        </div>
    </div>
</div>

