@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
@model Zbang.Zbox.ViewModel.DTOs.UserDtos.UserMinProfile

<div class="userPage page" id="user" data-firsttime="true" data-bind="delegatedHandler: 'click',css : { myPage : viewSelf() }">
    <div class="upContentWpr">
        <div class="upTop">

            <!--ko if:viewSelf()-->
            <a id="upAccountSettings" class="rFloat iconTxt" data-navigation="account" href="@Url.Action("Settings","Account")?r=user">@UserResources.EditAccount</a>
            <!--/ko-->
            <img class="upImg" id="upUserImg" src="@Model.Image" width="100" height="100" alt="" />
            <h1 class="semiFont" id="upUsername">@Model.Name</h1>
            <div class="upSchool" id="upUserSchool">@Model.UniversityName</div>
            <!--ko ifnot:viewSelf()-->
            <button id="upSendMessage" type="button" class="btn3">@SharedResources.Message</button>
            <!--/ko-->
        </div>

        <section class="upMembers" data-bind="visible: membersSectionVisible()">
            <h2>@UserResources.UniMembers</h2>
            <div class="membersContent" data-bind="css: { noResults : membersLoaded() && !displayMembersFilter().length} ">
                <div class="membersTop">
                    <input id="upMemberSettings" type="checkbox" class="checkbox" data-click="unSelected" />
                    <label for="upMemberSettings" class="cbLabel">@SharedResources.All</label>
                    <button type="button" id="upMbrSetingsSndMsg" class="btn3 messageBtn">@SharedResources.Message</button>
                    <div class="searchWpr rFloat">
                        <span class="membersCount" data-label="@SharedResources.Members" data-bind="text: membersLength() "></span>
                        <input class="membersSearch" id="upMembersSearch" type="search" placeholder="@Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources.IndexResources.SearchMember" />
                    </div>
                </div>
                <div class="memberTopRow">
                    <span class="memberCol">@SharedResources.Name</span>
                    <input type="checkbox" class="checkbox" id="cbDept" />
                    <label for="cbDept" class="deptCol">@SharedResources.Department</label>
                    <div id="deptPopup" class="deptPopup">
                        <ul>
                            <!--ko foreach:departments-->
                            <li>
                                <input type="checkbox" class="checkbox" data-bind="attr: { id: 'dep_' + id},checked: selected" />
                                <label class="cbLabel" data-bind="attr: { for: 'dep_' + id},text:fullname"></label>
                            </li>
                            <!--/ko-->
                        </ul>
                    </div>
                    <span class="dateCol">@UserResources.JoinDate</span>
                    <span class="courseCol">@SharedResources.Courses</span>
                </div>
                <ul id="upMembersList" class="upMembersList">
                    <!--ko foreach:displayMembersFilter-->
                    <li class="memberItem">
                        <input type="checkbox" class="checkbox" data-bind="checked: selected,attr: {id : inputId}" />
                        <label for="" class="cbLabel memberCol" data-bind="attr: {for: inputId}">
                            <img class="friendImg calloutTrgr" alt="" data-bind="attr: { 'src': image,'data-uid' : id }" width="34" height="34" />
                            <span class="upMemberName elps" data-bind="text: name"></span>
                        </label>

                        <span class="deptCol elps" data-bind="text: department"></span>
                        <span class="dateCol" data-bind="text: joinDate"></span>
                        <span class="courseCol"><span class="courseList"></span></span>
                    </li>
                    <!--/ko-->
                    <li class="upMemberBoxes">
                        <div class="upMemberBoxesTitle semiFont">@UserResources.CoursesList</div>
                        <ul class="upMemberBoxList" id="upMemberBoxList"></ul>
                        <div class="arrow downArrow"></div>
                    </li>
                </ul>
                <div class="emptySearch emptySearchAdmin">No results were found</div>
            </div>
        </section>

        <aside class="upSidebar rFloat">
            <section class="upPoints" data-bind="visible: !membersSectionVisible()">
                <h2>@SharedResources.Points</h2>
                <div class="pointsWpr" id="pointsWpr">
                    <ul class="pointsList" id="pointsList" data-score="@Model.Score">
                        <li class="point"></li>
                        <li class="point"></li>
                        <li class="point"></li>
                        <li class="point"></li>
                        <li class="point"></li>
                        <li class="point"></li>
                    </ul>

                    <div class="emptyPoints">
                        <div class="semiFont">@UserResources.EarnBy</div>
                        <p>@UserResources.PointsTxt2</p>
                        <p>@UserResources.PointsTxt1</p>
                        <p>@UserResources.PointsTxt7</p>
                        <p>@UserResources.PointsTxt6</p>
                        <p>@UserResources.PointsTxt3</p>
                        <p>@UserResources.PointsTxt4</p>
                        <p>@UserResources.PointsTxt5</p>
                        <p>@UserResources.PointsTxt8</p>
                    </div>
                </div>
            </section>

            <section class="upUploads">
                <h2>@SharedResources.Activity</h2>
                @*Guy: please add class upTab1/uptab2/upTab3 to the upTabs element according to which tab is clicked*@
                <div class="upTabs upTab1">
                    <button type="button" id="filesCount" class="fileCount" data-label="@SharedResources.Files |"></button>
                    <button type="button" id="questionsCount" class="qCount" data-label="@SharedResources.Questions |"></button>
                    <button type="button" id="answersCount" class="aCount" data-label="@SharedResources.Answers"></button>
                </div>

                <div id="filesSection" class="upTabContent filesTab" data-bind="css : filesEmpty">
                    <ul class="uploadsList">
                        <!--ko foreach:files.slice(0,maxFiles())-->
                        <li class="uploadsItem">
                            <a data-navigation="item" data-bind="attr : { href : url }">
                                <img class="upImg" alt="" width="55" height="67" data-bind="attr : { src : image }" />
                                <div class="boxName clamp2" data-bind="text: name"></div>
                                <div class="stars">
                                    <div class="full" data-bind="style: { width : $root.fileRating(rating) }"></div>
                                </div>
                                <div title="@SharedResources.Views" class="views" data-bind="text: views"></div>
                            </a>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--ko if:filesShowMoreVisible()-->
                    <button class="qaMore" type="button" data-click="showMoreFiles">@SharedResources.ShowMore</button>
                    <!--/ko-->
                    <div class="emptyUploads emptyTab">@UserResources.NoFiles</div>
                </div>

                <div id="questionsSection" class="upTabContent qTab" data-bind="css : questionsEmpty">
                    <ul>
                        <!--ko foreach:questions.slice(0,maxQuestions())-->
                        <li class="qaItem">
                            <img class="lFloat imgBorder" src="" alt="" width="28" height="36" data-bind="attr : { src : boxImage }" />
                            <span class="qaBoxname elps" data-bind="text: boxName"></span>
                            <div class="qaWpr">
                                <div class="qaQuestion" data-bind="html: content"></div>
                                <a class="qLink rFloat" href="" data-navigation="box" data-bind="attr : { href : url }">@UserResources.GotoQuestion</a>
                                <span class="qAnswerCount" data-bind="attr : { 'data-up-qacount' : answersCount}">&nbsp;@SharedResources.Answers</span>
                            </div>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--ko if:questionsShowMoreVisible()-->
                    <button class="qaMore" type="button" data-click="showMoreQuestions">@SharedResources.ShowMore</button>
                    <!--/ko-->
                    <div class="emptyQuestions emptyTab">@UserResources.NoQuestions</div>
                </div>

                <div id="answersSection" class="upTabContent aTab" data-bind="css: answersEmpty">
                    <ul>
                        <!--ko foreach:answers.slice(0,maxAnswers())-->
                        <li class="qaItem">
                            <img class="lFloat imgBorder" src="" alt="" width="28" height="36" data-bind="attr : { src : boxImage }" />
                            <span class="qaBoxname elps" data-bind="text: boxName"></span>
                            <div class="qaWpr">
                                <img class="lFloat imgBorder" src="" alt="" width="33" height="33" data-bind="attr : { src : qUserImage }" />
                                <span class="qaUsername semiFont elps" data-bind="text: qUserName"></span>
                                <div class="qaQuestion" data-bind="html: qContent"></div>
                                <div class="answeredBy elps" data-bind="text: $root.name"></div>
                                <div data-bind="html: content"></div>
                                <a class="qLink rFloat" href="" data-navigation="box" data-bind="attr : { href : url }">@UserResources.GotoQuestion</a>
                                <span class="qAnswerCount" data-bind="attr : { 'data-up-qacount' : answersCount}">&nbsp;@SharedResources.Answers</span>
                            </div>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--ko if:answersShowMoreVisible()-->
                    <button class="qaMore" type="button" data-click="showMoreAnswers">@SharedResources.ShowMore</button>
                    <!--/ko-->
                    <div class="emptyAnswers emptyTab">@UserResources.NoAnswers</div>
                </div>


            </section>
        </aside>

        <div class="upContent">
            <section class="upCourses" data-bind="visible: CoursesSectionVisible() , css: { noCourses : emptyBoxes()}">
                <h2>@UserResources.CoursesGroups</h2>
                <div id="upCoursesSection" class="upSectionWpr" data-bind="css: { truncated : !CoursesShowAllVisible()}">
                    <!--ko if:commonBoxesVisible()-->
                    <h4 class="semiFont">@UserResources.InCommon</h4>
                    <ul class="inCommonList clearfix">
                        <!--ko foreach:commonBoxes.slice(0,maxCommonBoxes())-->
                        <li class="box">
                            <a data-bind="attr: { href : url }" data-navigation="box">
                                <img class="boxImg" alt="" width="74" height="98" src="" data-bind="attr:{ 'data-src':image }">
                                <div class="boxWpr clamp2">
                                    <span data-bind="text: name" class="boxName"></span>
                                </div>
                            </a>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--/ko-->
                    <!--ko if:followingBoxesVisible() -->
                    <!--ko if:commonBoxes().length > 0-->
                    <h4 class="semiFont">@SharedResources.Following</h4>
                    <!--/ko-->
                    <ul class="followingList">
                        <!--ko foreach:followingBoxes.slice(0,maxFollowingBoxes())-->
                        <li class="box">
                            <a data-bind="attr: { href: url }" data-navigation="box">
                                <img class="boxImg" alt="" width="74" height="98" src="" data-bind="attr:{ 'data-src':image }">
                                <div class="boxWpr clamp2">
                                    <span class="boxName" data-bind="text: name"></span>
                                </div>
                            </a>
                            <button type="button" class="btn3" data-click="followBox">@SharedResources.Join</button>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--/ko-->
                    <div class="coursesEmpty">Currently not following any courses</div>
                </div>
            </section>
            <!--ko if:CoursesShowAllVisible()-->
            <input type="checkbox" class="upCb" id="coursesShow" />
            <label id="coursesShowLabel" for="coursesShow" data-up-showall="@SharedResources.ShowAll" data-up-showless="@SharedResources.ShowLess" class="upShowAll"></label>
            <!--/ko-->
            <section data-bind="visible: friendSectionVisible()" class="upFriends">
                <h2>@SharedResources.Friends</h2>
                <div id="upFriendsSection" class="upSectionWpr" data-bind="css: { truncated : !friendsShowAllVisible()}">

                    <!--ko if:commonFriendsVisible()-->
                    <!--ko ifnot:viewSelf()-->
                    <h4 class="semiFont">@UserResources.InCommon</h4>
                    <!--/ko-->
                    <ul class="inCommonList">
                        <!--ko foreach:commonFriends.slice(0,maxCommonFriends())-->
                        <li class="upFriend calloutTrgr" data-bind="attr: { 'data-uid' : id }">
                            <a data-navigation="user" data-bind="attr : { href : url}"><img class="upFriendImg" data-bind="attr: {'data-src' : image}" src="" width="74" height="74" /></a>
                            <div class="friendName clamp2" data-bind="text: name"></div>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--/ko-->
                    <!--ko if:allFriendsVisible()-->
                    <!--ko:ifcommonFriends().length > 0-->
                    <h4 class="semiFont">@UserResources.AllFriends</h4>
                    <!--/ko-->
                    <ul class="inAllFriendList">
                        <!--ko foreach:allFriends.slice(0,maxAllFriends())-->
                        <li class="upFriend calloutTrgr" data-bind="attr: { 'data-uid' : id }">
                            <a href="" data-navigation="user" data-bind="attr : { href : url } "><img class="upFriendImg" data-bind="attr: {'data-src' : image }" src="" width="74" height="74" /></a>
                            <div class="friendName clamp2" data-bind="text: name"></div>
                        </li>
                        <!--/ko-->
                    </ul>
                    <!--/ko-->
                </div>

            </section>
            <!--ko if:friendsShowAllVisible()-->
            <input type="checkbox" class="upCb" id="friendsShow">
            <label id="friendsShowLabel" for="friendsShow" data-up-showall="@SharedResources.ShowAll" data-up-showless="@SharedResources.ShowLess" class="upShowAll"></label>
            <!--/ko-->

            <section class="upInvites" data-bind="visible: viewSelf(), css : invitesEmpty()">
                @*<button type="button" class="inviteFriendBtn btn3 rFloat" data-navigation="invite" data-click="inviteFriends" data-href="@Url.Action("Index","Invite")">@SharedResources.InviteFriends</button>*@
                <a data-navigation="invite" href="@Url.Action("Index", "Invite")?r=user" class="inviteFriendBtn btn3 rFloat">@SharedResources.InviteFriends</a>
                <h2>@SharedResources.Invites</h2>
                <div id="upInvitesSection" class="upSectionWpr" data-bind="css: { truncated : !invitesShowAllVisible()}">

                    <ul id="upInviteList" class="upInviteList" data-up-pending="@SharedResources.Pending" data-up-joined="@SharedResources.ActiveMember">
                        <!--ko foreach:invites.slice(0,maxInvites())-->
                        <li class="upInviteItem" data-bind="css : $root.invitePending(status)">
                            <img class="upFriendImg" width="74" height="74" data-bind="attr : { 'data-src' : userImage }" />
                            <div class="usrName semiFont elps" data-bind="text : userName"></div>
                            <div class="inviteStatus" data-bind="text: $root.inviteStatus(status)"></div>
                            <div class="invitedToWpr">
                                <img class="upImg" alt="" width="28" height="36" data-bind="attr : { 'data-src' : inviteImage }" />
                                <div class="invitedTo clamp2" data-bind="text : name"></div>
                            </div>
                            <button type="button" class="btn1" data-bind="visible : inviteType === 'invite'" data-click="reInvite" data-inv-sent="@SharedResources.Sent">@SharedResources.Reinvite</button>
                        </li>
                        <!--/ko-->

                    </ul>

                    <div class="emptyInvites">
                        <span>@UserResources.FindFriends</span>
                        <a data-navigation="invite" href="@Url.Action("Index", "Invite")" class="inviteFriendBtn btn3">@SharedResources.InviteFriends</a>
                    </div>

                </div>
            </section>
            <!--ko if:invitesShowAllVisible()-->
            <input type="checkbox" class="upCb" id="invitesShow">
            <label id="invitesShowLabel" for="invitesShow" data-up-showall="@SharedResources.ShowAll" data-up-showless="@SharedResources.ShowLess" class="upShowAll"></label>
            <!--/ko-->

        </div>


    </div>
</div>

<script type="text/html" id="upMemberBoxItemTemplate">
    <li class="elps">{{name}}</li>
</script>