@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
<md-dialog class="info-dialog">
    <md-button aria-label="close" class="close" ng-click="hide()">
        <md-icon md-svg-icon="t:close"></md-icon>
    </md-button>
    <md-toolbar layout="row" layout-align="space-between center">
        <div class="bg-l" hide-xs></div>
        <div class="text">
            <h2>@GamificationResources.InfoTitle</h2>
            <p>@GamificationResources.InfoText</p>
        </div>
        <div class="bg-r" hide-xs></div>
    </md-toolbar>
    <md-dialog-content>

        <div class="wrapper">
            <div class="text">Next Level in 500 Points</div>
            <button type="button">See all levels</button>
        </div>
        <md-progress-linear ng-cloak md-mode="determinate" value="80"></md-progress-linear>
        <ul class="points-data" layout="row" layout-padding layout-wrap>
            <li class="point-data create-quiz" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="p:create-quiz"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription1</div>
                <div class="points">50&nbsp;@GamificationResources.Points</div>
            </li>
            <li class="point-data accept-invite" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="t:invite"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription2</div>
                <div class="points">150&nbsp;@GamificationResources.Points</div>
            </li>
            <li class="point-data class-invite" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="p:class-invite"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription3</div>
                <div class="points">50&nbsp;@GamificationResources.Points</div>
            </li>
            <li class="point-data upload-doc" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="p:upload-doc"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription4</div>
                <div class="points">100&nbsp;@GamificationResources.Points</div>

            </li>
            <li class="point-data comment" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="b:comment"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription5</div>
                <div class="points">100&nbsp;@GamificationResources.Points</div>

            </li>
            <li class="point-data like" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="b:like"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription6</div>
                <div class="points">150&nbsp;@GamificationResources.Points</div>
            </li>
            <li class="point-data fb" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <md-icon md-svg-icon="b:facebook-transparent"></md-icon>
                </div>
                <div class="description">@GamificationResources.PointsDescription7</div>
                <div class="points">50&nbsp;@GamificationResources.Points</div>
            </li>
            <li class="point-data post" flex-xs="50" flex="25">
                <div class="icon-wrapper">
                    <div class="icon-bg">
                        <md-icon md-svg-icon="u:post"></md-icon>
                    </div>
                </div>
                <div class="description">@GamificationResources.PointsDescription8</div>
                <div class="points">50&nbsp;@GamificationResources.Points</div>

            </li>
        </ul>
    </md-dialog-content>
</md-dialog>
