@using Zbang.Cloudents.Mobile.Views.Shared.Resources

<header class="logoHeader">
    <a href="@Url.RouteUrl("dashboardLink")" class="backBtn lFloat">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </a>
    <h1><a href="@Url.RouteUrl("dashboardLink")">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>
<section class="errorPage">
    
    <svg class="svg-error" style="margin: 40px 0 0 4%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 841.9 595.3" enable-background="new 0 0 841.9 595.3" xml:space="preserve">
<path fill="#DDDDDD" d="M151.5,323.7c0,0-5.6,107.8,70.4,112.7c76.1,4.9,114.1-34.9,128.6-95.5c0,0,14.8-35.6-7.4-49
	c-21.8-13.4-124.7-31.7-145.5-26.8C176.8,269.5,149.7,297.3,151.5,323.7z" />
<path fill="#3399FF" d="M574.2,0c80.7,0,146.2,37.7,146.2,84.5s-65.5,84.5-146.2,84.5S428,131.4,428,84.5S493.5,0,574.2,0z" />
<path fill="#3399FF" d="M394.5,137.4c22.5,0,40.5,10.2,40.5,22.9s-18,22.9-40.5,22.9c-22.5,0-40.5-10.2-40.5-22.9
	S372,137.4,394.5,137.4z" />
<path fill="#3399FF" d="M311.8,183.2c13.7,0,24.7,6.3,24.7,14.1c0,7.7-10.9,14.1-24.7,14.1s-24.7-6.3-24.7-14.1
	C287.1,189.5,298,183.2,311.8,183.2z" />
<path fill="none" d="M347.3,343.4c2.5,1.1,3.2,4.2,2.1,7.4c-1.1,3.2-3.9,4.9-6.3,4.2c-2.5-1.1-3.2-4.2-2.1-7.4
	C342,344.5,344.9,342.7,347.3,343.4z" />
<path fill="#282828" d="M121.5,270.9V305c0,0,22.5,17.6,24.3,22.2c1.8,4.2,5.3,4.2,7.4-2.5c1.8-6.7,1.1-39.1,43.7-41.6
	c42.6-2.5,77.1,2.5,101.8,9.9c25,7.4,46.8,12.3,46.1,41.6V347c0,0,3.5,7.4,7.4,2.5c3.5-4.9,13.4-19.7,26.8-19.7v-49
	c1.8,0-41.9-4.2-83.8-12.3c-33.5-6.7-65.2-7.7-85.9-7.4C188.1,261.7,142.7,262.4,121.5,270.9z" />
<path fill="#DDDDDD" d="M559.4,264.9c-20.8-4.6-123.6,13.7-145.5,26.8c-21.8,13.4-7,49-7,49c14.4,60.6,52.5,100.4,128.6,95.5
	c76.1-4.9,70.4-112.7,70.4-112.7C607.3,297.3,580.2,269.5,559.4,264.9z" />
<path fill="none" d="M416.7,347.7c1.1,3.2,0.4,6.3-2.1,7.4c-2.5,1.1-5.3-1.1-6.3-4.2c-1.1-3.2-0.4-6.3,2.1-7.4
	C412.5,342.7,415.3,344.5,416.7,347.7z" />
<path fill="#282828" d="M548.5,261c-20.8-0.7-52.5,0.7-85.9,7.4c-42.3,8.1-85.9,12.3-83.8,12.3v49c13.4,0,22.9,14.8,26.8,19.7
	c3.5,4.9,7.4-2.5,7.4-2.5v-12.3c-0.7-29.2,21.1-34.2,46.1-41.6c25-7.4,59.5-12.3,101.8-9.9c42.6,2.5,41.9,34.9,43.7,41.6
	c1.8,6.7,5.3,6.7,7.4,2.5c1.8-4.2,24.3-22.2,24.3-22.2v-34.2C614.7,262.4,569.2,261.7,548.5,261z" />
<path fill="#282828" d="M378.3,538.2c0,0,1.4-37-39.5-37s-54.9,31-69.4,44.7c-14.4,13.7-25.7,24-41.6,17.6s-15.9-6-15.9-6
	s3.9,42.3,81,37C370.2,589.3,379,566.7,378.3,538.2z" />
<path fill="#282828" d="M378.3,537.9c0,0-1.4-37,39.5-37s54.6,31,69,44.7c14.4,13.7,25.7,24,41.6,17.6s15.9-6,15.9-6
	s-3.9,42.3-81,37C386.1,589.3,377.6,566.4,378.3,537.9z" />
<g>
        <path fill="#FFFFFF" d="M519.9,119.6v-15.2h-30.8V91.8l32.7-47.9h12.1v47.8h9.4v12.7h-9.4v15.2H519.9z M519.9,91.7V65.9l-17.3,25.8
		H519.9z" />
        <path fill="#FFFFFF" d="M574.6,43.9c7.3,0,13,2.6,17.1,7.8c4.9,6.2,7.4,16.4,7.4,30.7c0,14.3-2.5,24.5-7.4,30.7
		c-4.1,5.1-9.8,7.7-17.1,7.7c-7.3,0-13.2-2.8-17.7-8.5c-4.5-5.6-6.7-15.7-6.7-30.2c0-14.2,2.5-24.4,7.4-30.6
		C561.6,46.5,567.3,43.9,574.6,43.9z M574.6,55.9c-1.7,0-3.3,0.6-4.7,1.7c-1.4,1.1-2.4,3.1-3.2,6c-1,3.7-1.5,10-1.5,18.9
		c0,8.8,0.4,14.9,1.3,18.2c0.9,3.3,2,5.5,3.4,6.6c1.4,1.1,2.9,1.6,4.7,1.6s3.3-0.6,4.7-1.7c1.4-1.1,2.4-3.1,3.2-6
		c1-3.7,1.5-10,1.5-18.8c0-8.8-0.4-14.9-1.3-18.2c-0.9-3.3-2-5.5-3.4-6.6C577.9,56.4,576.3,55.9,574.6,55.9z" />
        <path fill="#FFFFFF" d="M637,119.6v-15.2h-30.8V91.8l32.7-47.9H651v47.8h9.4v12.7H651v15.2H637z M637,91.7V65.9l-17.3,25.8H637z" />
</g>
</svg>

    <h1 style="color: #0f9d58;font-size: 24px;margin: 30px 0;max-width: none;">@SharedResources.Oops...</h1>

    <div>@SharedResources.NotFound</div>
    <div><span>@SharedResources.GoBack</span><a style="color: #0f9d58" href="@Url.RouteUrl("accountLink")" ui-sref="root.dashboard">@SharedResources.HomePage</a></div>
</section>

