@using Zbang.Cloudents.Mobile.Views.Shared.Resources

<header class="logoHeader">
    <a href="@Url.RouteUrl("dashboardLink")" class="backBtn lFloat">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </a>
    <h1><a href="@Url.RouteUrl("dashboardLink")">@Html.Svg("~/Images/Defs.svg", "logo", new { @class = "svg-logo" })</a></h1>
</header>

<div class="membersOnly">
    <div class="table">
        <div class="tableCell">
            @if (User.Identity.IsAuthenticated)
            {
                <h2>@SharedResources.NeedPermission</h2>
                <div>@SharedResources.InvitationOnly</div>
                <a href="@Url.RouteUrl("accountLink")" ui-sref="root.dashboard" class="btn">@SharedResources.HomePage</a>
            }

            else
            {
                <h2>@SharedResources.MembersOnly</h2>
                <div>@SharedResources.ToAccessFile</div>
                <a href="@Url.RouteUrl("accountLink")" ui-sref="root.dashboard" class="btn">@SharedResources.SignIn</a>
            }
        </div>
    </div>
</div>
