@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div id="create" class="dashboard-stat2 color-override backgroundTransparent">
    <button ng-hide="d.createBoxOn" type="button" ng-click="d.createBoxOn = true" class="create-btn" ga-track-event="['dashboard', 'createbox']">
        <div class="title">
            <div class="plus">@Html.Svg("~/images/site/icons.svg", "add")</div>
            <b>@DashboardResource.StudyGroupHeader</b>
            <div>@DashboardResource.StudyGroup</div>
        </div>
    </button>
    <form name="createBox" class="create-txt" novalidate ng-submit="cb.create(createBox)" ng-show="d.createBoxOn" ng-controller="CreateBoxController as cb">
        <div layout="column">
            <md-content>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>@DashboardResource.EnterGroupName</label>
                        <input focus-me="d.createBoxFocus" autocomplete="off" required ng-model="cb.boxName" name="name" ng-change="createBox.name.$setValidity('server',true)">
                        <div ng-messages="createBox.name.$error" ng-show="createBox.name.$dirty">
                            <div ng-message="required">@GeneralResources.RequiredField</div>
                            <div ng-message="server">{{cb.error}}</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </div>
        <div layout="row" layout-align="end center" class="text-capitalize">
            <button type="button" class="btn btn-default" ga-track-event="['dashboard', 'createbox', 'cancel']" ng-click="cb.cancel(createBox)">@GeneralResources.Cancel</button>
            <button type="submit" class="btn button-Blue btn-primary" ga-track-event="['dashboard', 'createbox', 'done']" ng-disabled="!createBox.$valid || cb.submitDisabled">@GeneralResources.Create</button>
        </div>
    </form>
</div>