@{
    var url = "~/images/site/uploadIcons.svg";
}
<div class="portlet box create" ng-controller="CreateClass as cc">
    <div class="portlet-title">
        <div class="caption">
            create class
        </div>
        <button type="button" class="close closeFrom" ng-click="d.createBoxOn = false">X</button>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal">
            <form name="createBox" class="form-wizard" novalidate>
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li ng-class="{active:cc.step === 1}">
                            <a class="step">
                                <span class="number">
                                    1
                                </span>
                                <span class="desc">
                                    class type
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 2}">
                            <a class="step">
                                <span class="number">
                                    2
                                </span>
                                <span class="desc">
                                    class name
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 3}">
                            <a class="step">
                                <span class="number">
                                    3
                                </span>
                                <span class="desc">
                                    department
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 4}">
                            <a class="step">
                                <span class="number">
                                    4
                                </span>
                                <span class="desc">
                                    upload
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 5}">
                            <a class="step">
                                <span class="number">
                                    5
                                </span>
                                <span class="desc">
                                    invite
                                </span>
                            </a>
                        </li>
                    </ul>
                    <progressbar class="progress-striped active" value="cc.step*20" type="info"></progressbar>
                    <div class="tab-content">
                        <alert ng-if="cc.alert" close="closeAlert()" type="danger">{{cc.alert}}</alert>
                        <div class="tab-pane text-center" ng-class="{active:cc.step === 1}">
                            <button type="button" ng-click="cc.chooseBox(1)">
                                @Html.Svg(url, "createBox")
                                <h6>Study group</h6>
                                To work on things in a group
                            </button>
                            <button type="button" ng-click="cc.chooseBox(2)">
                                @Html.Svg(url, "createClass")
                                <h6>Class</h6>
                                To share things with your whole class
                            </button>
                        </div>
                        <div class="tab-pane" ng-class="{active:cc.step === 2}">
                            <div ng-hide="cc.boxType === 2" ng-form="createGroupBox">

                                @*<alert ng-if="createGroupBox.groupBoxName.$error.required" close="closeAlert()" type="danger">{{cc.alert}}</alert>*@

                                <label for="createGroupBoxName">class name</label>
                                <input id="createGroupBoxName" required autofocus class="form-control" name="groupBoxName" type="text" ng-model="cc.box.name" />
                            </div>
                            <div ng-hide="cc.boxType === 1">
                                class name
                                <input autofocus class="form-control" type="text" ng-model="cc.boxName" />
                                <div class="row">
                                    <div class="col-md-6">
                                        class code
                                        <input class="form-control" type="text" ng-model="cc.code" />
                                    </div>
                                    <div class="col-md-6">
                                        instructor
                                        <input class="form-control" type="text" ng-model="cc.professor" />
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" ng-class="{active:cc.step === 3}">
                            department
                        </div>
                        <div class="tab-pane" ng-class="{active:cc.step === 4}" ng-controller="Upload as u">
                            <div class="row uploadSection" ng-if="u.uploadStep === 0">
                                <div class="col-md-3" ng-click="u.uploadStep = 1">
                                    <button type="button">
                                        @Html.Svg(url, "file")
                                        upload files from computer
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" ng-click="u.google()" ng-disabled="!u.googleDriveLoaded">
                                        @Html.Svg(url, "googleDrive")
                                        upload files from google drive
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" ng-click="u.dropBox()" ng-disabled="!u.dropBoxLoaded">
                                        @Html.Svg(url, "dropbox")
                                        upload files from dropbox
                                    </button>
                                </div>
                                <div class="col-md-3" ng-click="u.uploadStep = 4">
                                    <button type="button">
                                        @Html.Svg(url, "link")
                                        add website link
                                    </button>
                                </div>
                            </div>
                            <div ng-if="u.uploadStep === 1" id="dropElement">
                                <a plupload="u.fileUpload.url" plupload-options="u.fileUpload.options" class="btn" plupload-callbacks="u.fileUpload.callbacks">
                                   upload
                                </a>
                            </div>
                            <div ng-if="u.uploadStep === 4" ng-form="uploadLink">
                                <label for="uploadLink">share with your firends youtube video, artivle or other educational material from any site</label>
                                <input type="url" class="form-control" ng-model="u.link" id="uploadLink" name="uploadLink" autofocus required>
                                <input type="submit" class="btn blue" ng-click="u.uploadLink()" ng-disabled="cc.submitFormProcess" value="share" />
                            </div>

                        </div>

                        <div class="tab-pane" ng-class="{active:cc.step === 5}">
                            invite
                        </div>
                    </div>
                </div>
                <div class="form-actions" ng-hide="cc.step === 1">

                    <div class="text-right">
                        <a href="javascript:;" class="btn default button-previous">
                            Back
                        </a>
                        <button type="submit" class="btn blue button-next" ng-click="cc.stepFinish()" ng-disabled="cc.submitFormProcess">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
