@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<div class="modal-header">
    <h3 class="modal-title"><span>@IndexResources.MyFriends</span></h3>
</div>
<div class="modal-body" bindonce>
    <div class="popupTopBar">
        <button data-id="Members" type="button" class="tabBtn">@IndexResources.Members</button>
        <button class="btn3 inviteBtn rFloat" ng-click="inviteFriends()">@IndexResources.Invite</button>
        <div class="arrow tabArrow"></div>
    </div>
    <div class="membersContent">
        <div class="membersTop">
            @*<button type="button" id="frndPopSndMsg" class="btn3 messageBtn">@SharedResources.Message</button>*@
            <div class="searchWpr rFloat">
                <span class="membersCount lFloat">{{::friends.length}} @IndexResources.Members</span>
                <div class="inputWpr">
                    <input ng-model="params.search" class="membersSearch" type="search" placeholder="@IndexResources.SearchMember" ng-change="toggleLimit($event)"/>
                </div>
            </div>
        </div>
        <ul scroll-to-top="{{params.scrollToTop}}" class="membersList" data-pending="@IndexResources.Pending" data-reinvited="@IndexResources.Reinvited" data-uninvited="@IndexResources.Uninvited"
            data-member="@IndexResources.ActiveMember" infinite-scroll="addFriendsLimit()"
            infinite-scroll-distance="2" infinite-scroll-immediate-check="false" height="500" infinite-scroll-element="true">
            <li class="memberItem" ng-repeat="friend in friends track by friend.id | limitTo: params.maxFriends">
                <a bo-href="friend.url">
                    <img class="friendImg" alt="" user-tooltip-popup="{{friend.uid}}" bo-src="friend.image | defaultImage:'user'" width="34" height="34" />
                </a>
                <span class="memberName elps" bo-text="friend.name"></span>
                <span class="rFloat memberActions">
                    <button type="button" tooltip="@DialogResources.SendMessage" class="inviteUserBtn" ng-click="sendMessage(friend)"></button>
                </span>
            </li>
        </ul>
    </div>
    <button type="button" id="closeShowFriends" class="closeDialog" ng-click="close()"></button>
</div>


