@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div id="dash_showfriends" class="dashMembers">
    <div class="popupWrppr boxSettings">
        <header class="popupHeader"><span id="friendsPopupName">@IndexResources.MyFriends</span></header>
        <div class="popupTopBar">

            <button data-id="Members" type="button" class="tabBtn">@IndexResources.Members</button>
            <a data-navigation="invite"
                href="@Url.Action("Index", "Share", new { ViewBag.boxid })"
               @*href="@Url.Action("Index", "Share", new { boxid = ViewBag.boxid })?r=dashboard&s=members"*@ data-link="@Url.Action("Index", "Share")" class="btn3 inviteBtn rFloat" type="button">@IndexResources.Invite</a>
            <div class="arrow tabArrow"></div>
        </div>
        <div class="membersContent">
            <div class="membersTop">
                @*<input id="friendsSettings" type="checkbox" class="checkbox" />
                <label for="friendsSettings" class="cbLabel">@SharedResources.All</label>*@
                <button type="button" id="frndPopSndMsg" class="btn3 messageBtn">@SharedResources.Message</button>
                <div class="searchWpr rFloat">
                    <span class="membersCount lFloat">&nbsp;@IndexResources.Members</span> @*Guy: fill the data-count attribute*@
                    <div class="inputWpr">
                        <input class="membersSearch" id="friendsSearch" type="search" placeholder="@IndexResources.SearchMember" />
                    </div>
                </div>
            </div>
            <ul class="membersList" id="membersListDashboard" data-pending="@IndexResources.Pending" data-reinvited="@IndexResources.Reinvited" data-uninvited="@IndexResources.Uninvited" data-member="@IndexResources.ActiveMember"></ul>
        </div>
        <button id="closeShowFriends" class="closeDialog"></button>
    </div>
    <div class="modal2"></div>
</div>
<script type="text/html" id="friendItemTemplate">
    <li class="memberItem" id="dashfriend{{id}}">
        @*<input id="{{identifier}}" type="checkbox" class="checkbox" />
        <label for="{{identifier}}" class="cbLabel">*@
            <a href="{{url}}" data-navigation="user">
                <img class="friendImg calloutTrgr" data-uid="{{id}}" alt="" src="{{image}}" width="34" height="34" />
            </a>
            <span class="memberName elps">{{name}}</span>
    @*    </label>*@
        <span class="rFloat memberActions">
            <button type="button" data-title="@DialogResources.SendMessage" class="inviteUserBtn"></button>
        </span>
    </li>
</script>
