@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums



    <div class="dashContent" id="dash_Boxes">

        <form class="mainSearch" data-bind="submit: search">
            <input id="dash_SearchQuery" type="search" name="query" class="searchInput" placeholder="@MainViewResources.SearchMySpace" />
            <button class="flipH" type="submit"></button>
        </form>
        <header class="areaHeader">@MainViewResources.MyArea</header>

        <!--ko stopBinding:true-->
        <aside class="asideDash" id="dash_Aside">
            <h3 class="dashHeader">@MainViewResources.LatestUpdates</h3>
            <ul class="asideList dash" id="dash_Wall" data-bind="foreach: wall">
                <li>
                    <img class="asideImg calloutTrgr" data-bind="attr: { src: userImg, 'data-img': userImg, 'data-name': userName, 'data-uid': userUid }" alt="" width="32" height="32" />
                    <div>
                        <span data-bind="text: userAction"></span>
                        <span data-bind="text: userName" class="name"></span>
                        <a data-bind="html: commentText, attr: { href: commentUrl }"></a>
                    </div>
                </li>
            </ul>

            <h3 class="dashHeader friends">@MainViewResources.Friends</h3>
            <ul class="asideList" id="dash_Friend" data-bind="foreach: friends">
                <li>
                    <img class="asideImg calloutTrgr" data-bind="attr: { src: userImage, 'data-img': userImage, 'data-name': userName, 'data-uid': id }" alt="" width="32" height="32" />
                    <span class="elps" data-bind="text: userName"></span>
                </li>
            </ul>
            <div class="extra">placeholder</div>
        </aside>
        <!--/ko-->
        <div class="dashLibRight" data-bind="visible: mptySrchStt">
            <div class="emptyState">
                <div id="dash_seaEmpy">@Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources.MainViewResources.NoResult</div>
                <div>@Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources.MainViewResources.TryAgain</div>
                <img src="@Url.CdnContent("~/Images/search_empty.png")" width="154" height="153" alt="" />
            </div>
        </div>
        <div class="listContainer">

            <div class="boxesHeader">
                <span class="location">
                    <span class="header1 elps boldFont" data-bind="text: titleShow"></span>
                </span>
                <div class="rFloat sortBy2" data-bind="visible: orderVisible">
                    <label for="dash_ord">@SharedResources.SortBy</label>
                    <select id="dash_ord" class="inputText" data-bind="value: orderBy, event: { change: $root.selectChange }">
                        <option value="@OrderBy.LastModified" selected="selected">@OrderBy.LastModified.GetEnumDescription()</option>
                        <option value="@OrderBy.Name">@OrderBy.Name.GetEnumDescription()</option>
                    </select>
                </div>
            </div>

            <ol id="BoxList" class="myAreaList clearfix">
                <li class="box" data-bind="visible: boxvisible" data-ft="dash">
                    <button class="addBtn" data-bind="click: addBox">@MainViewResources.AddBox</button>
                </li>
                <!--ko foreach:boxes-->
                <li class="box" data-bind="attr: { id: uid }">
                    <a data-navigation="Box" data-bind="attr: { href: boxUrl, title: name }">
                        <div>
                            <img class="boxImg" data-bind="attr: { src: boxPicture }" alt="" width="74" height="94" />
                            <ul>
                                <li class="itemImg" data-bind="text: itemCount"></li>
                                <li class="memberImg" data-bind="text: membersCount"></li>
                                <li class="commentImg" data-bind="text: commentCount"></li>
                            </ul>
                        </div>
                        <span class="boxName" data-bind="text: name"></span>
                        <span data-bind="text: courseCode" class="courseCode elps"></span>
                        <span data-bind="text: professor" class="courseCode propName elps">></span>
                    </a>
                </li>
                <!--/ko-->
            </ol>
        </div>

        <!--ko if: emptyState-->
        <div class="dashLibRight dashLibEmpty">
            <div class="emptyState">
                @MainViewResources.EmptyDash
                <img class="hebFlip" src="@Url.CdnContent("/Images/lib_firsttime.png")" width="418" height="143" alt="" />
            </div>
        </div>
        <!--/ko-->
    </div>
    @{
        //Html.RenderPartial("~/Views/Dashboard/_UploadCreateBox.cshtml", new Zbang.Cloudents.Mvc4WebRole.Models.CreateBox());
        Html.RenderPartial("~/Views/Dashboard/_PrivateBoxDialog.cshtml", new Zbang.Cloudents.Mvc4WebRole.Models.CreateBox());
    }
