@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums
@model Zbang.Cloudents.Mvc4WebRole.Models.CreateBox

<div class="modal-header">
    <h3 class="modal-title"><span>@DialogResources.CreateCourse</span></h3>
</div>

<div class="modal-body">

    <div id="privateBoxDialog" style="display: none;">
        <div class="popupWrppr confirm privateBox">
            <header class="popupHeader"><span>@DialogResources.AddPrivateBox</span></header>
            <button class="closeDialog"></button>

            @using (Html.BeginForm("Create", "Dashboard", FormMethod.Post, new { id = "createBoxDialog" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.LabelFor(m => m.BoxName)@Html.ValidationMessageFor(m => m.BoxName)

            @*Mozilla have issue with autocomplete position*@

            @Html.TextBoxFor(m => m.BoxName, new { @class = "inputText boxName", autocomplete = "off" })


            <

                <input type="radio"
                       id="sizeSmall"
                       name="privacySettings"
                       value="@BoxPrivacySettings.MembersOnly" />
                <label for="sizeSmall">@BoxPrivacySettings.MembersOnly.GetEnumDescription()</label>
                <div class="labelExplain explain1">@SharedResources.OnlyPeople</div>

                <input type="radio"
                       id="sizeMed" checked="checked"
                       name="privacySettings"
                       value="@BoxPrivacySettings.AnyoneWithUrl" />

                <label for="sizeMed">@BoxPrivacySettings.AnyoneWithUrl.GetEnumDescription()</label>
                <div class="labelExplain">@SharedResources.AnyoneWho</div>
                <input type="submit" class="btn1 next" value="@DialogResources.Create" />
                <button type="reset" class="btn2 cancel">@DialogResources.Cancel</button>
            }

        </div>
        <div class="modal2"></div>
    </div>
</div>