@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Share.Resources

<section class="socialInvite" ng-controller="SocialInviteCtrl" ng-class="params.state">
    <header>@IndexResources.InviteFriends</header>

    <div class="socialWpr">
        <button class="cloudentsBtn"></button>
        <button class="fbBtn"></button>
        <button class="gmailBtn"></button>
    </div>

    <div class="socialContentWpr" ng-class="{jsNotConnected : params.isConnected }">
        <input class="cloudInput" type="search" placeholder="{{params.searchPlaceholder}}" ng-model="params.contactSearch"/>

        <ul class="socialList" bindonce ng-class="{noResults : users.length === 0}">
            <li class="lFloat" ng-repeat="contact in params.contacts track by contact.id" ng-class="{jsInviteSent : user.invited}">
                <img width="64" height="64" bo-src="contact.image" alt="" />
                <div bo-text="user.name"></div>
                <button data-sent-txt="@SharedResources.Sent" ng-disabled="user.invited" ng-click="inviteContact(contact)">@SharedResources.Invite</button>
            </li>


            <li class="emptySearch">@SharedResources.NoResults</li>
        </ul>

        <div class="socialConnect">
            <div class="socialConnectTxt" data-find-fb="@IndexResources.FindFb" data-find-gm="@IndexResources.FindGmail"></div>
            <button class="btn3" ng-click="socialConnect()">@SharedResources.Connect</button>
        </div>
    </div>
    <div class="btnWpr">
        <button type="reset" class="btn2 wz-prev" ng-click="cancel()">@SharedResources.Back</button>
        <input type="button" class="btn1 wz-next" value="@DialogResources.Continue" />
    </div>
</section>
@*Guy when sending the form add here class invSuccess, then remove it after 2 sec (see Invite.js Ln:440-449)*@
<aside class="invSidebar rFloat" ng-class="{invSucces: params.invFormSent }">
    <form id="" class="invForm">
        <h3>@IndexResources.InviteViaEmail</h3>

        <div class="inputText emailUser">
            <div class="inviteEmailListWpr">
                <ul class="emailList"></ul>
                <input class="inviteInput" type="text" placeholder="@IndexResources.CommaSeparate">
            </div>
        </div>
        <div class="invSent">
            <h4>@InviteResources.Success!</h4>
            <div>@InviteResources.MailSent</div>
        </div>
        <button type="submit" class="rFloat btn1" ng-click="inviteByEmail()">@DialogResources.Send</button>
    </form>
</aside>