@model Zbang.Zbox.ViewModel.DTOs.Dashboard.UniversityDashboardInfoDto
@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums

<div id="dashboard" class="page dashboard">
    <div class="dashContent" id="dash_Boxes">
        <aside class="asideDash lFloat" id="dash_Aside">
            <a class="dashTop" href="@Url.GenerateUrl("Index", "Library")" data-navigation="Library">
                <span class="uniLogo">
                    <img alt="" width="70" height="70" src="@Model.Img" />
                </span>
                <span class="uniName"><span class="uniText">@Model.Name</span></span>

            </a>
            @if (!string.IsNullOrEmpty(Model.AdvertismentUrl))
            {
                <button id="dash_Product" type="button" class="productsBtn" data-url="@Model.AdvertismentUrl">
                    <h2 class="productsHeader">חנות האגודה</h2>
                    <div>הנחות ומבצעים יחודיים לחברי האגודה</div>
                    <div class="closeProducts"></div>
                </button>
            }
            <div class="dashLists">
                <div id="dash_friends">
                    <h3 class="sectionHeader friends">@MainViewResources.Friends <button id="showUserFriends" class="showAll rFloat" type="button">@SharedResources.ShowAll</button></h3>@*id="showAllMembers"*@
                    <ul class="friendsList" id="dash_Friend">
                        <li class="friendItem friendBtn" data-action="true">
                            <a data-navigation="invite" data-dash-invite="@SharedResources.InviteFriends" data-dash-inviteto="@SharedResources.InviteCloudents" href="@Url.Action("Index", "Invite", new {boxid = "" })?r=dashboard&s=sidebar" class="inviteFriendBtn btn3"></a>
                        </li>
                    </ul>
                </div>
                <div class="feedList" id="dash_feed">
                    <h3 class="sectionHeader">@IndexResources.ActivityFeed</h3>
                    <div>
                        <ul class="asideList dash" id="dash_Wall" data-itemtext="@IndexResources.AddedItem" data-questiontext="@IndexResources.AskedQuestion" data-answertext="@IndexResources.AnsweredQuestion"></ul>
                    </div>
                </div>
            </div>
        </aside>


        @*<div class="searchEmpty " data-bind="visible: mptySrchStt, css: { noResults: mptySrchStt }">
            <h2 id="dash_seaEmpy">@Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources.MainViewResources.NoResult</h2>
            <div class="searchEmptyText">@Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources.MainViewResources.TryAgain</div>
        </div>*@
        <div class="contentWpr" id="dash_right" data-bind="fadeVisible: loadedAnimation">
            <section class="unionCourses">
                <header class="boxesHeader" data-bind="text: titleShow"></header>
                <!--ko if: emptyState-->
                <div class="emptyDash">
                    <div class="followEmpty">
                        <h2 class="boldFont">@IndexResources.FollowCourses</h2>
                        <div>@IndexResources.FindCourses</div>
                    </div>
                </div>
                <!--/ko-->
                <ol id="BoxList" class="myAreaList clearfix" data-data="@ViewBag.Boxes" @*data-bind="visible: boxvisible"*@>
                    <li class="box" @*data-bind="visible: boxvisible"*@>
                        <a class="addBtn browse" href="@Url.Action("Index","Library")?r=dashboard" data-navigation="Library">@SharedResources.BrowseCourses</a>
                    </li>
                    <!--ko template:{name:'dashBoxTemplate', foreach : academicBoxes}-->
                    <!--/ko-->
                </ol>

            </section>
            <section class="groupBoxes">
                <header class="boxesHeader" @*data-bind="visible: boxvisible"*@>@IndexResources.MyGroup</header>
                <!--ko if: emptyState-->
                <div class="emptyDash">
                    <div class="groupEmpty">
                        <h2 class="boldFont">@IndexResources.WhereStudy</h2>
                        <div>@IndexResources.UploadContent</div>
                    </div>
                </div>
                <!--/ko-->
                <ol class="myAreaList clearfix">
                    <li class="box" @*data-bind="visible: boxvisible"*@>
                        <button class="addBtn" data-bind="click: addBox">@SharedResources.CreateNew</button>
                    </li>
                    <!--ko template:{name:'dashBoxTemplate', foreach : privateBoxes}-->
                    <!--/ko-->
                </ol>
            </section>
        </div>
        <script type="text/html" id="dashBoxTemplate">
            <li class="box" data-bind="attr: { id: 'dashB' + uid }">
                <a data-navigation="Box" data-bind="attr: { href: boxUrl, title: name }">
                    <div>
                        <img class="boxImg" data-bind="attr: { 'data-src': boxPicture }" alt="" width="77" height="98" />
                        <ul class="boxHoverList">
                            <li class="hoverItem itemImg" data-bind="text: itemCount"></li>
                            <li class="hoverItem memberImg" data-bind="text: membersCount"></li>
                            <li class="hoverItem commentImg" data-bind="text: commentCount"></li>
                        </ul>
                    </div>
                    <div class="boxWpr clamp2">
                        <span class="boxName" data-bind="text: name"></span>
                    </div>
                    <span data-bind="text: courseCode" class="courseCode elps"></span>
                    <span data-bind="text: professor" class="courseCode propName elps"></span>
                </a>
                <button type="button" class="removeItem" data-bind="visible: userType() !== 'none', click: $root.removeBox, attr: { title: removeBoxTitle }"></button>
                @*<div class="dropToBox boldFont">Drop files here</div>*@
            </li>
        </script>
        <script type="text/html" id="activityFeedTemplate">
            <li class="activityItem">
                <a class="asideImgLink" href="{{userUrl}}" data-navigation="user">
                    <img class="asideImg calloutTrgr" src="{{userImg}}" data-uid="{{userUid}}" alt="" width="32" height="32" />
                </a>
                <div class="latest">
                    <a data-navigation="Box" href="{{boxurl}}">
                        <div class="latestName elps">{{boxName}}</div>
                        <span class="semiFont">{{userName}}</span>
                        <span class="activityAction">{{textAction}}</span>
                    </a>
                </div>
            </li>
        </script>

        <script type="text/html" id="friendsTemplate">            
                <li class="friendItem"><a href="{{url}}" data-navigation="user"><img class="friendImg calloutTrgr" src="{{userImage}}" alt="" data-uid="{{id}}" width="31" height="31" /></a></li>
            
        </script>
    </div>
    @{
        Html.RenderPartial("_PrivateBoxDialog", new Zbang.Cloudents.Mvc4WebRole.Models.CreateBox());
        Html.RenderPartial("_Friends");

    }
</div>
