@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="dashboard">
    <div class="page-head"> </div>
    <div uib-collapse="!d.inviteOpen">
        @{Html.RenderPartial("_Invite");}
    </div>
    <div class="page-title">
        <h1>@IndexResource.Title</h1>
    </div>

    <div layout="row" layout-padding layout-wrap>
        <div flex-gt-lg="33" flex-lg="33" flex="100" class="flex">
            @{ Html.RenderPartial("_University");}
        </div>
        <div class="leaderboard flex" flex-gt-lg="33" flex-lg="33" flex-md="50" flex="100">
            @{ Html.RenderPartial("_Leaderboard");}
        </div>

        <div flex-gt-lg="33" flex-lg="33" flex-md="50" flex="100" class="flex">
            <div class="portlet light invite">
                <button type="button" ng-click="d.inviteToSpitabll()" class="portlet-body">
                    @Html.Svg("~/images/site/icons.svg", "invite")
                    @IndexResource.InviteToSpitball
                </button>
            </div>
        </div>
        <div flex-gt-lg="33" flex-lg="33" flex-md="50" flex-sm="100" class="create-box flex" ng-class="{'create-box-show' : d.createBoxOn}">
            <div class="dashboard-stat2">
                <button ng-hide="d.createBoxOn" type="button" ng-click="d.createBoxOn = true" class="create-btn">
                    <div class="plus">@Html.Svg("~/images/site/icons.svg", "add")</div>
                    <div class="title">@IndexResource.StudyGroup</div>
                </button>
                <form name="createBox" novalidate ng-submit="cb.create()" ng-show="d.createBoxOn" ng-controller="CreateBoxController as cb">
                    <div layout="column">
                        <md-content>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Enter study group name</label>
                                    <input autocomplete="off" required ng-model="cb.boxName">
                                    <span class="error" ng-show="cb.error">{{cb.error}}</span>
                                </md-input-container>
                            </div>
                        </md-content>

                    </div>
                    <span>
                        <button type="button" class="btn btn-default text-capitalize pull-left" ng-click="d.createBoxOn = false">@GeneralResources.Cancel</button>
                        <button type="submit" class="btn text-capitalize pull-right" ng-disabled="!createBox.$valid">@GeneralResources.Done</button>
                    </span>
                </form>
            </div>
        </div>
        <div flex-gt-lg="33" flex-lg="33" flex-md="50" flex-sm="100" ng-repeat="e in d.boxes" class="flex">
            <div class="box-cube">
                <div ng-include="'box-template.html'"></div>
                <div class="updates" ng-if="e.updates !== 0">{{e.updates}}</div>
                
                <md-menu >
                    <md-button aria-label="open menu" class="md-icon-button delete" ng-click="d.openMenu($mdOpenMenu, $event)">
                        @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
                    </md-button>
                    <md-menu-content width="1">
                        <md-menu-item>
                            <md-button aria-label="remove box" ng-click="d.deleteBox($event,e)">

                                @Html.Svg("~/images/site/icons.svg", "delete", new { @class = "delete-icon" })
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                @*<button ng-click="d.deleteBox($event,e)" type="button" class="delete">@Html.Svg("~/images/site/icons.svg", "delete")</button>*@
            </div>
        </div>
    </div>
</div>

<button type="button" class="add visible-xs-block" ng-click="d.createBoxOn = true" ng-hide="d.createBoxOn">@Html.Svg("~/images/site/icons.svg", "add")</button>
