
@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources


<div id="dashboard" class="page dashboard" ng-controller="DashboardCtrl">
    <div class="dashContent" >
        <aside class="asideDash lFloat">
            <a class="dashTop" href="@Url.RouteUrl("LibraryDesktop",null)" bindonce>
                <img class="uniLogo lFloat" alt="University logo" width="80" height="80" ng-src="{{params.image}}" />
                <span class="ghost"><span class="vCentered">{{params.name}}</span></span>
            </a>

            <section class="leaderBoard" ng-class="{empty: !leaderBoard.length }">
                <header>
                    @Html.Svg("~/Images/Defs.svg", "leaderBoard")&nbsp;
                    <span class="lbText">@SharedResources.BestInSchool</span>
                </header>
                @Html.Svg("~/Images/Defs.svg", "podium", new { @class = "svg-podium" })

                <ol class="bestUserList">
                    <li class="firstUser" user-tooltip-popup="{{leaderBoard.first.id}}">
                        <img class="top3Img" ng-src="{{leaderBoard.first.image}}" alt="" width="48" height="48" />
                        @Html.Svg("~/Images/Defs.svg", "crown", new { @class = "svg-crown" })
                        <div class="rep" data-pts="@SharedResources.Pts">{{leaderBoard.first.score}}</div>
                    </li>
                    <li ng-if="leaderBoard.second" class="secondUser lFloat" user-tooltip-popup="{{leaderBoard.second.id}}">
                        <img class="top3Img" ng-src="{{leaderBoard.second.image}}" alt="" width="48" height="48" />
                        @Html.Svg("~/Images/Defs.svg", "trophy", new { @class = "svg-trophy" })
                        <div class="rep" data-pts="@SharedResources.Pts">{{leaderBoard.second.score}}</div>
                    </li>
                    <li ng-if="!leaderBoard.second" class="secondUser empty lFloat">
                        <img class="top3Img" src="http://placehold.it/48x48" alt="" width="48" height="48" />
                        @Html.Svg("~/Images/Defs.svg", "trophy", new { @class = "svg-trophy" })                        
                    </li>

                    <li ng-if="leaderBoard.third" class="thirdUser rFloat" user-tooltip-popup="{{leaderBoard.third.id}}">
                        <img class="top3img" ng-src="{{leaderBoard.third.image}}" alt="" width="48" height="48" />
                        @Html.Svg("~/Images/Defs.svg", "badge", new { @class = "svg-badge" })
                        <div class="rep" data-pts="@SharedResources.Pts">{{leaderBoard.third.score}}</div>
                    </li>

                    <li ng-if="!leaderBoard.third" class="thirdUser empty rFloat">
                        <img class="top3img" src="http://placehold.it/48x48" alt="" width="48" height="48" />
                        @Html.Svg("~/Images/Defs.svg", "badge", new { @class = "svg-badge" })                        
                    </li>
                </ol>
                <div class="lbEmpty">
                    <div class="lbEmptyTxtWpr">
                        <div class="lbEmptyTxt1">@IndexResources.GetPoints</div>
                        <div class="lbEmptyTxt2">@IndexResources.UploadFiles</div>
                    </div>
                    @Html.Svg("~/Images/Defs.svg", "trophyEmpty", new { @class = "svg-trophyEmpty" })
                </div>
            </section>

            <section class="recommendedWpr" bindonce>
                <header>@IndexResources.RecommendedCourses</header>
                <ul>
                    <li class="recommended" ng-repeat="course in recommendedCourses">

                        <a bo-href="course.url" class="courseLink">
                            <div class="rcDetails" ng-class="{ rcFull : course.professor && course.courseCode }">
                                <img alt="" width="46" height="46" bo-src="course.url" />
                                <div class="elps courseName" bo-text="course.name"></div> 
                                <span class="prof elps" bo-text="course.professor"></span>
                                <span class="elps" bo-text="course.courseCode"></span> 

                            </div>
                            <div class="rcStats">
                                <div class="friends" bo-attr bo-attr-data-friends-count="{{course.membersCount}}">@SharedResources.Friends</div> 
                                <div class="files" bo-attr bo-attr-data-files-count="{{course.itemCount}}">@SharedResources.Files</div> 
                            </div>
                        </a>
                    </li>                   
                </ul>
            </section>


            @*@if (!string.IsNullOrEmpty(Model.AdvertisementUrl))
            {
                <button type="button" class="productsBtn" ng-init="options.storeUrl='@Model.AdvertisementUrl'" ng-click="productStore()">
                    <h2 class="productsHeader">חנות האגודה</h2>
                    <div>הנחות ומבצעים יחודיים לחברי האגודה</div>
                    <div class="closeProducts"></div>
                </button>
            }*@       
        </aside>

        <div class="contentWpr" ng-class="{fadeVisible : contentLoaded}">
            <div class="dashHeader">
                <div class="rFloat">
                    <button class="rFloat notificationBtn" id="invites" title="@SharedResources.Notifications" dropdown-toggle ng-click="openNotifications()">
                        @Html.Svg("~/Images/Defs.svg", "notification", new { @class = "svg-notification" })
                        <span class="invitesCounter" ng-class="{invitesCounterShow : params.newNotifications}">{{params.newNotifications}}</span>
                    </button>
                    <div class="notifyWpr dropdown-menu" role="menu" ng-class="{ noResults : !notifications.length }">
                        <div class="arrow upArrow"></div>
                        <div class="notifyTop">@SharedResources.Notifications</div>
                        <ul class="notifyList" bindonce infinite-scroll="addNotifications()"
                            infinite-scroll-distance="1" infinite-scroll-immediate-check="false" infinite-scroll-element="true">
                            <li class="notifyItem" ng-class="{new : !notification.isRead }" ng-repeat="notification in notifications track by notification.msgId">
                                <a bo-href="notification.url" ng-click="markAsRead(notification)">
                                    <img class="imgBorder notifyImg" bo-src="notification.userPic" alt="" />
                                    <span class="semiFont notifier elps" bo-text="notification.userName"></span>

                                    <span class="createTime" display-time="{{notification.date}}"></span><br />
                                    <div class="inviteTxtWpr">
                                        @SharedResources.InvitesYou&nbsp;<span class="semiFont">"{{notification.boxName}}"</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="notifyEmpty">@SharedResources.NoNotifications</div>
                    </div>
                    <a title="@SharedResources.Help" target="_self" class="helpLink rFloat" href="@Url.Action("Help", "Home")">
                        @Html.Svg("~/Images/Defs.svg", "help", new { @class = "svg-help" })
                    </a>
                    <a title="" class="lFloat storeLink" href="/store">
                        @Html.Svg("~/Images/Defs.svg", "bag", new { @class = "svg-bag" })
                    </a>
                </div>
                <div class="dhContent">
                    <span class="dhText">@SharedResources.Dashboard</span>
                    <input autocomplete="off"  class="dashLibSearchInput" ng-placeholder="@IndexResources.FindClasses" />
                    <button type="button" title="@SharedResources.Invite" ng-click="inviteFriends()">
                        @Html.Svg("~/Images/Defs.svg", "inviteUser", new { @class = "svg-inviteUser" })
                    </button>
                </div>
            </div>
            @*NEW COURSE SECTION*@
            <section class="setupCourse" ng-if="!academicBoxes.length && !groupBoxes.length">
                <div class="topWpr">
                    <header class="setupCourseTxt1">@IndexResources.WelcomeCloudents</header>
                    <div class="setupCourseTxt2">@IndexResources.FreeOnline</div>
                    <span class="featureTxt1">@IndexResources.ShareFiles</span>
                    <span class="featureTxt2">@IndexResources.CreateQuizzes</span>
                    <span class="featureTxt3">@IndexResources.SwapBooks</span>
                </div>

                <div class="chooseActionWpr">

                    <a href="@Url.RouteUrl("LibraryDesktop",null)" class="browseCourses">
                        <div class="actionTxt">@IndexResources.BrowseCourses</div>
                    </a>
                    <div class="createCourse">
                        <button type="button" ng-click="openCreateBoxWizard()"><div class="actionTxt">@IndexResources.CreateCourse</div></button>
                    </div>
                    @*<section class="recommendedWpr" ng-if="recommendedCourses.length">
                        <header>@IndexResources.RecommendedCourses</header>
                        <ul>
                            <li class="recommended" ng-repeat="course in recommendedCourses" bindonce>
                                <a bo-href="course.url" class="courseLink">
                                    <div class="rFloat">
                                        <div class="friends" bo-attr bo-attr-data-friends-count="course.membersCount">@SharedResources.Friends</div>
                                        <div class="files" bo-attr bo-attr-data-files-count="course.itemCount">@SharedResources.Files</div>
                                    </div>
                                    <img bo-src="course.picture" alt="" width="68" height="68" />
                                    <div class="elps courseName" bo-text="course.name"></div>
                                    <div class="elps" bo-text="course.courseCode"></div>
                                    <div class="prof elps" bo-text="course.professor"></div>
                                </a>
                            </li>
                        </ul>
                    </section>*@
                </div>
            </section>

            <section class="unionCourses" ng-if="academicBoxes.length || groupBoxes.length">
                <header class="boxesHeader" ng-show="contentLoaded">{{myCourses}}</header>
                @*<div ng-if="!academicBoxes.length" class="emptyDash">
                        <div class="followEmpty">
                            <h2 class="boldFont">@IndexResources.FollowCourses</h2>
                            <div>@IndexResources.FindCourses</div>
                        </div>
                    </div>*@
                <ol class="myAreaList clearfix">
                    <li class="box" >
                        <a class="addBtn browse" href="@Url.RouteUrl("LibraryDesktop",null)">@SharedResources.BrowseCourses</a>
                    </li>
                    <li ng-repeat="box in academicBoxes" class="box" ng-include="'dashBoxTemplate'" bindonce>
                    </li>
                </ol>
            </section>

            <section class="groupBoxes" ng-if="academicBoxes.length || groupBoxes.length">
                <header class="boxesHeader">@IndexResources.MyGroup</header>
                <div ng-hide="groupBoxes.length > 0" class="emptyDash">
                    <div class="groupEmpty">
                        <h2 class="boldFont">@IndexResources.WhereStudy</h2>
                        <div>@IndexResources.UploadContent</div>
                    </div>
                </div>
                <ol class="myAreaList clearfix">
                    <li ng-click="openCreateBoxWizard()" class="box">
                        <button class="addBtn">@SharedResources.CreateNew</button>
                    </li>
                    <li ng-repeat="box in groupBoxes" class="box" ng-include="'dashBoxTemplate'" bindonce>
                    </li>
                </ol>
            </section>
        </div>
        <script type="text/ng-template" id="dashBoxTemplate">
            <a bo-href="box.url">
                <div ng-if="box.numOfUpdates > 0" class="notify">{{box.numOfUpdates}}</div>
                <div>
                    <img class="boxImg" ng-src="{{box.boxPicture}}" alt="" width="77" height="98" />
                    <ul class="boxHoverList">
                        <li class="hoverItem itemImg" bo-text="box.itemCount"></li>
                        <li class="hoverItem memberImg" bo-text="box.membersCount"></li>
                        <li class="hoverItem commentImg" bo-text="box.commentCount"></li>
                    </ul>
                </div>
                <div class="boxWpr clamp2">
                    <span class="boxName" bo-text="box.name"></span>
                </div>
                <span class="courseCode elps" bo-text="box.courseCode"></span>
                <span class="courseCode propName elps" bo-text="box.professor"></span>
            </a>
            <button type="button" class="removeItem" ng-show="showRemove(box)" ng-click="removeBox(box)" tooltip-placement="top" tooltip="{{getTitle(box)}}"></button>
        </script>
    </div>
</div>


