@{
    ViewBag.headerTitle = @SharedResources.MySpace;
}
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div id="dashboard" data-header="My area" class="page dashboard">
    @{Html.RenderPartial("_PrivateBoxDialog", new Zbang.Cloudents.Mvc4WebRole.Models.CreateBox() { privacySettings = Zbang.Zbox.Infrastructure.Enums.BoxPrivacySettings.AnyoneWithUrl });}
    
    <div class="topBtns">
        <a class="browseBtn lFloat" href="@Url.GenerateUrl("Index","Library")" data-navigation="Library">
            <img id="dashLibImg" src="" width="30" height="30" alt="lib img" />@SharedResources.BrowseCourses</a>
        <button type="button" data-modelNav="addBox" class="sprite1b createBtn lFloat">@SharedResources.CreateNew</button>
    </div>
    <div data-bind="visible: isSearch" class="sectionHeader"><q data-bind="text: searchTerm"></q> - <span data-bind="text: boxes().length"></span>&nbsp;@SharedResources.Results</div>
    <ul class="courseList" data-bind="foreach: boxes">
        <li class="courseItem sprite1a">
            <a data-navigation="Box" data-bind="attr: { href: boxUrl }">
                <img class="lFloat" data-bind="attr: { src: boxPicture }" width="57" height="70" />
                <div class="description">
                    <div class="courseName boldFont elps" data-bind="text: name"></div>
                    <span data-bind="text: itemCount"></span>&nbsp;@SharedResources.Items
                    <!--ko if:commentCount>0-->
                    |&nbsp;<span data-bind="text: commentCount"></span>&nbsp;@SharedResources.Comments
                    <!--/ko-->
                </div>
            </a>
        </li>
    </ul>
    <div data-bind="visible: emptyStateSearch" class="searchEmptyState">
        @Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources.MainViewResources.MobileNoResult
    </div>
    
    @* FRIEND PAGE *@
    @*<div class="friendPage">
    <div class="sectionHeader">142 Friends</div>
    <ul class="friendspageList">
        <li>
            <a>
            <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
            <div class="elps">Friend name appears here</div>
            </a>
        </li>
        <li>
            <a>
                <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
                <div class="elps">Professor Alexander Andrew Jeremy Julian William Jonathan Junior</div>
            </a>
        </li>
        <li>
            <a>
                <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
                <div class="elps">Friend name appears here</div>
            </a>
        </li>
        <li>
            <a>
                <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
                <div class="elps">Friend name appears here</div>
            </a>
        </li>
    </ul>
</div>*@

</div>
