@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="ad">
    <adsense ad-client="ca-pub-1215688692145777" ad-slot="8210510557" inline-style="display:block;" ad-format="auto"></adsense>
</div>
<div uib-collapse="!d.inviteOpen" compile-html="d.html" expanding="d.inviteExpand()"></div>

<div class="page-title indent-content">
    <h1>@DashboardResource.Title</h1>
</div>
<div class="dashboard-actions" layout="row" layout-wrap>
    <div class="actions-container flex" layout-padding layout="row" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="66" flex-gt-lg="50" flex="100">
        <button ng-if="d.boxes.length > 2" type="button" ng-click="d.inviteToSpitabll()" class="inviteBtn box-style action" ng-class="{'active' :d.inviteOpen}" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="50" flex-gt-lg="50" ga-track-event="['dashboard', 'invite open']">
            <div class="wrapper">
                <md-icon md-svg-icon="t:invite" class="icon"></md-icon>
                <span class="text">@DashboardResource.InviteToSpitball&nbsp;<span class="lowercase">@ChatResources.ClassmatesHeader</span></span>
            </div>
        </button>
        <button type="button" ng-click="d.createNewBox()" focus-upon-click="createBoxInput" class="create-btn box-style action" ng-class="{'active' :d.createBoxOn}" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="50" flex-gt-lg="50" ga-track-event="['dashboard', 'createbox']">
            <div class="wrapper">
                <md-icon md-svg-icon="t:add" class="icon"></md-icon>
                <span class="text">@DashboardResource.StudyGroupHeader</span>
            </div>
        </button>
    </div>
</div>
<div class="dashboard-content" layout="row" layout-padding layout-wrap>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" class="create-box flex" ng-if="d.createBoxOn">
        @{ Html.RenderPartial("_Create");}
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" flex="100" class="flex">
        @{ Html.RenderPartial("_University");}
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" class="flex" flex="100">
        @{ Html.RenderPartial("_Gamification");}
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" ng-repeat="e in d.boxes track by e.id" class="flex">
        <div class="box-cube">
            <div ng-include="'box-template.html'"></div>
            <div class="updates" ng-if="e.updates !== 0"><span ng-bind="e.updates"></span></div>
            <md-menu>
                <button type="button" class="md-icon-button delete" ng-click="$mdOpenMenu($event)" @*open-menu="$mdOpenMenu($event)"*@ ga-track-event="['dashboard', 'deleteBoxMenu']">
                    <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                </button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <button type="button" class="md-button remove-box-btn" aria-label="remove box" ng-click="d.deleteBox($event,e)" ga-track-event="['dashboard', 'deleteBox']">
                            @GeneralResources.Remove
                        </button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    @*<div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" ng-repeat="e in ::d.suggested" class="flex">
            <div class="box-cube">
                <div ng-include="'box-template.html'"></div>
            </div>
        </div>*@
</div>