@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="dashboard">
    <div uib-collapse="!d.inviteOpen">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @{Html.RenderPartial("_Invite");}
    </div>
    <div class="page-title">
        <h1>@DashboardResource.Title</h1>
    </div>

    <div layout="row" layout-padding layout-wrap>
        <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" flex="100" class="flex">
            @{ Html.RenderPartial("_University");}
        </div>
        <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" class="flex" flex="100">
            @* ReSharper disable once Mvc.PartialViewNotResolved *@
            @{ Html.RenderPartial("_Leaderboard");}
        </div>

        <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" flex="100" class="flex inviteBtn">
            <div class="portlet light invite">
                <button type="button" ng-click="d.inviteToSpitabll()" class="portlet-body" ga-track-event="['dashboard', 'invite open']">
                    @Html.Svg("~/images/site/icons.svg", "invite")
                    @DashboardResource.InviteToSpitball
                </button>
            </div>
        </div>
        <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" class="create-box flex" ng-class="{'create-box-show' : d.createBoxOn}">
            <div id="create" class="dashboard-stat2">
                <button ng-hide="d.createBoxOn" type="button" ng-click="d.createBoxOn = true" class="create-btn" ga-track-event="['dashboard', 'createbox']">
                    <div class="plus">@Html.Svg("~/images/site/icons.svg", "add")</div>
                    <div class="title">@DashboardResource.StudyGroup</div>
                </button>
                <form name="createBox" class="create-txt" novalidate ng-submit="cb.create(createBox)" ng-show="d.createBoxOn" ng-controller="CreateBoxController as cb">
                    <div layout="column">
                        <md-content>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Enter study group name</label>
                                    <input autofocus autocomplete="off" required ng-model="cb.boxName" name="name" ng-change="createBox.name.$setValidity('server',true)">
                                    <div ng-messages="createBox.name.$error" ng-show="createBox.name.$dirty">
                                        <div ng-message="required">This is required!</div>
                                        <div ng-message="server">{{cb.error}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                    <span class="text-capitalize pull-right">
                        <button type="submit" class="btn btn-primary" ga-track-event="['dashboard', 'createbox', 'done']" ng-disabled="!createBox.$valid">@GeneralResources.Done</button>
                        <button type="button" class="btn btn-default" ga-track-event="['dashboard', 'createbox', 'cancel']" ng-click="cb.cancel(createBox)">@GeneralResources.Cancel</button>
                    </span>
                </form>
            </div>
        </div>
        <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" ng-repeat="e in d.boxes" class="flex">
            <div class="box-cube">
                <div ng-include="'box-template.html'"></div>
                <div class="updates" ng-if="e.updates !== 0">{{e.updates}}</div>
                <md-menu>
                    <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['dashboard', 'deleteBoxMenu']">
                        @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3" })
                    </md-button>
                    <md-menu-content width="1">
                        <md-menu-item>
                            <md-button aria-label="remove box" ng-click="d.deleteBox($event,e)" ga-track-event="['dashboard', 'deleteBox']">
                                @GeneralResources.Delete
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
</div>

<button type="button" class="add" hide show-xs ng-click="d.createBoxOn = true" ng-hide="d.createBoxOn" ga-track-event="['dashboard', 'createbox', 'plus']">
    <div class="mobile-plus">
        @Html.Svg("~/images/site/icons.svg", "add")
    </div>
</button>
