@model Zbang.Zbox.ViewModel.Dto.Dashboard.UniversityDashboardInfoDto
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums


<div id="dashboard" class="page dashboard" ng-controller="DashboardCtrl">
    <div class="dashContent">
        <aside class="asideDash lFloat">
            <a class="dashTop" href="@Url.RouteUrl("LibraryDesktop",null)">
                <span class="uniLogo">
                    <img alt="University logo" width="70" height="70" src="@Model.Img" />
                </span>
                <span class="uniName"><span class="uniText">@Model.Name</span></span>
            </a>
            @if (!string.IsNullOrEmpty(Model.AdvertismentUrl))
            {
                <button type="button" class="productsBtn" ng-init="options.storeUrl='@Model.AdvertismentUrl'" ng-click="productStore()">
                    <h2 class="productsHeader">חנות האגודה</h2>
                    <div>הנחות ומבצעים יחודיים לחברי האגודה</div>
                    <div class="closeProducts"></div>
                </button>
            }
            <div class="dashLists">
                <div class="dashFriends">
                    <h3 class="sectionHeader friends">@MainViewResources.Friends <button ng-click="openShowFriends()" class="showAll rFloat" type="button">@SharedResources.ShowAll</button></h3>
                    <ul class="friendsList">

                        <li class="friendItem" ng-repeat="friend in friends | limitTo:11">
                            <a href="{{friend.url}}">
                                <img class="friendImg" user-tooltip-popup="{{friend.uid}}" ng-src="{{friend.image}}" width="31" height="31" />
                            </a>
                        </li>
                        <li class="friendItem friendBtn" data-action="true">
                            <a target="_self" data-dash-invite="@SharedResources.InviteFriends" data-dash-inviteto="@SharedResources.InviteCloudents"
                               href="@Url.RouteUrl("Invite", new { boxid = "" })" class="inviteFriendBtn btn3"></a>
                        </li>
                    </ul>
                </div>
                <div class="feedList" id="dash_feed" data-itemtext="@IndexResources.AddedItem" data-commenttext="@IndexResources.PostedComment">
                    <h3 class="sectionHeader">@IndexResources.ActivityFeed</h3>
                    <div class="activityWpr">
                        <div m-custom-scrollbar bottom="0">
                            <ul class="asideList dash">
                                <li class="activityItem" ng-repeat="activity in wall">
                                    <img class="asideImg asideImgLink" user-tooltip-popup="{{activity.userId}}" ng-src="{{activity.userImage}}" alt="" width="32" height="32" />
                                    <div class="latest">
                                        <a href="{{activity.url}}">
                                            <div class="latestName elps">{{activity.boxName}}</div>
                                            <span class="semiFont">{{activity.userName}}</span>
                                            <span class="activityAction">{{activity.action | actionText}}</span>
                                        </a>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="contentWpr" ng-class="{fadeVisible : contentLoaded}">

            @*NEW COURSE SECTION*@
            <section class="setupCourse" ng-if="firstTime.dashboard">
                <div class="topWpr">
                    <header class="setupCourseTxt1">@IndexResources.WelcomeCloudents</header>
                    <div class="setupCourseTxt2">@HomeResources.StudyPlatform</div>
                    <span class="featureTxt1">@IndexResources.ShareFiles</span>
                    <span class="featureTxt2">@IndexResources.CreateQuizzes</span>
                    <span class="featureTxt3">@IndexResources.SwapBooks</span>
                </div>
                <div class="chooseActionWpr">
                    <a href="@Url.RouteUrl("LibraryDesktop",null)" class="browseCourses" ng-if="!newUniversity">
                        <div class="actionTxt">@IndexResources.BrowseCourses</div>
                    </a>
                    <div class="createCourse">
                        <button type="button" ng-click="openCreateBoxWizard()"><div class="actionTxt">@IndexResources.CreateCourse</div></button>
                    </div>
                    <section class="recommendedWpr" ng-if="recommendedCourses.length">
                        <header>@IndexResources.RecommendedCourses</header>
                        <ul>
                            <li class="recommended" ng-repeat="course in recommendedCourses" bindonce>
                                <a bo-href="course.url" class="courseLink">
                                    <div class="rFloat">
                                        <div class="friends" bo-attr bo-attr-data-friends-count="course.membersCount">@SharedResources.Friends</div>
                                        <div class="files" bo-attr bo-attr-data-files-count="course.itemCount">@SharedResources.Files</div>
                                    </div>
                                    <img bo-src="course.picture" alt="" width="68" height="68" />
                                    <div class="elps courseName" bo-text="course.name"></div>
                                    <div class="elps" bo-text="course.courseCode"></div>
                                    <div class="prof elps" bo-text="course.professor"></div>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>                
            </section>

            <section class="unionCourses" ng-if="!firstTime.dashboard">
                <header class="boxesHeader" ng-show="contentLoaded">{{myCourses}}</header>

                <div ng-if="!academicBoxes.length" class="emptyDash">
                    <div class="followEmpty">
                        <h2 class="boldFont">@IndexResources.FollowCourses</h2>
                        <div>@IndexResources.FindCourses</div>
                    </div>
                </div>
                <ol class="myAreaList clearfix">
                    <li class="box">
                        <a class="addBtn browse"
                           href="@Url.RouteUrl("LibraryDesktop",null)">@SharedResources.BrowseCourses</a>
                    </li>

                    <li ng-repeat="box in academicBoxes" class="box" ng-include="'dashBoxTemplate'" bindonce>

                    </li>

                </ol>

            </section>

            <section class="groupBoxes" ng-if="!firstTime.dashboard">
                <header class="boxesHeader">@IndexResources.MyGroup</header>
                <div ng-hide="groupBoxes.length > 0" class="emptyDash">
                    <div class="groupEmpty">
                        <h2 class="boldFont">@IndexResources.WhereStudy</h2>
                        <div>@IndexResources.UploadContent</div>
                    </div>
                </div>
                <ol class="myAreaList clearfix">
                    <li ng-click="openCreateBox()" class="box">
                        <button class="addBtn">@SharedResources.CreateNew</button>
                    </li>
                    <li ng-repeat="box in groupBoxes" class="box" ng-include="'dashBoxTemplate'" bindonce>
                    </li>
                </ol>
            </section>
        </div>
        <script type="text/ng-template" id="dashBoxTemplate">
            <a bo-href="box.url">
                <div bo-if="box.numOfUpdates > 0" class="boxNotify" bo-text="box.numOfUpdates"></div>
                <div>
                    <img class="boxImg" ng-src="{{box.boxPicture}}" alt="" width="77" height="98" />
                    <ul class="boxHoverList">
                        <li class="hoverItem itemImg" bo-text="box.itemCount"></li>
                        <li class="hoverItem memberImg" bo-text="box.membersCount"></li>
                        <li class="hoverItem commentImg" bo-text="box.commentCount"></li>
                    </ul>
                </div>
                <div class="boxWpr clamp2">
                    <span class="boxName" bo-text="box.name"></span>
                </div>
                <span class="courseCode elps" bo-text="box.courseCode"></span>
                <span class="courseCode propName elps" bo-text="box.professor"></span>
            </a>
            <button type="button" class="removeItem" ng-show="showRemove(box)" ng-click="removeBox(box)" tooltip-placement="top" tooltip="{{getTitle(box)}}"></button>
        </script>

        <script type="text/ng-template" id="wizard.html">
            <div>
                <div class="steps" ng-transclude></div>
                <ul class="steps-indicator steps-{{steps.length}}" ng-if="!hideIndicators">
                    <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in steps">
                        <a ng-click="goTo(step)">{{step.title || step.wzTitle}}</a>
                    </li>
                </ul>
            </div>
        </script>
        <script type="text/ng-template" id="step.html">
            <section ng-show="selected" ng-class="{current: selected, done: completed}" class="step" ng-transclude></section>
        </script>

</div>
</div>

<div class="formWpr" ng-class="{'js-private' : formData.privacySettings === '@BoxPrivacySettings.MembersOnly', 'js-academic' : formData.privacySettings === '@BoxPrivacySettings.AnyoneWithUrl', addDept: display.addDepartment}"
     wizard-on-finish="completewizard()" template="'wizard.html'" ng-if="$root.params.createBoxWizard">
    <div class="dashboardCreateBoxWizard" ng-controller="CreateBoxWizardCtrl">
        <div wz-step template="'step.html'">
            <div class="actionTxt">@IndexResources.CreateCourse</div>
            <div class="courseType">
                    <input class="radio" type="radio" id="PrivateCourse" name="courseType" value="@BoxPrivacySettings.MembersOnly" ng-model="formData.privateBox.privacySettings" />
                <label for="PrivateCourse">@IndexResources.PrivateCourse</label>
                <div class="labelExplain explain1">@IndexResources.InviteOnly</div>
            </div>

            <div class="courseType">
                    <input class="radio" type="radio" id="OpenCourse" name="courseType" value="@BoxPrivacySettings.AnyoneWithUrl" ng-model="formData.privateBox.privacySettings"/>
                <label for="OpenCourse">@IndexResources.OpenCourse</label>
                <div class="labelExplain">@IndexResources.AnyoneUrl</div>
            </div>

            @*Guy: if user clicks on the 'change department button add the class 'editDept' here*@
            <div class="newAcademic clearfix">
                @{
                    Html.RenderPartial("_UploadCreateAcademicBox", new Zbang.Cloudents.Mvc4WebRole.Models.CreateAcademicBox());
                }
            </div>

            <div class="newPrivate clearfix">
                @{
                    Html.RenderPartial("_PrivateBoxDialog2", new Zbang.Cloudents.Mvc4WebRole.Models.CreateBox() { privacySettings = Zbang.Zbox.Infrastructure.Enums.BoxPrivacySettings.AnyoneWithUrl });
                }
            </div>

            @{
                Html.RenderPartial("_CreateDepartment", new Zbang.Cloudents.Mvc4WebRole.Models.CreateDepartment());
            }
        </div>
        <div wz-step template="'step.html'">
            @{
                Html.RenderPartial("_SocialInvite");
            }
        </div>
        <div wz-step template="'step.html'">
            @{
                Html.RenderPartial("_UploadFiles");
            }
        </div>
    </div>
</div>

@*Guy: When user clicks the 'private course' radio btn - add class 'js-private' here
     When user clicks the 'open course' radio btn - add class 'js-academic' here
    When user clicks the 'Create a new Department' btn - add class 'js-addDept' here
*@

@*js-academic | js-private | js-addDept*@

