@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div uib-collapse="!d.inviteOpen" compile-html="d.html" expanding="d.inviteExpand()">
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @*@{Html.RenderPartial("_Invite");}*@
</div>
<div class="page-title">
    <h1>@DashboardResource.Title</h1>
</div>

<div layout="row" layout-padding layout-wrap>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" flex="100" class="flex">
        @{ Html.RenderPartial("_University");}
    </div>
    <div ng-if="d.showLeaderboard" flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" class="flex" flex="100">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @{ Html.RenderPartial("_Leaderboard", DashboardResource.LeaderboardTitle);}
    </div>

    <div ng-if="d.boxes.length > 2" flex-lg="33" flex-gt-lg="25" flex-md="50" flex-sm="50" flex="100" class="flex inviteBtn">
        <div class="portlet light invite button-Blue">
            <button type="button" ng-click="d.inviteToSpitabll()" class="portlet-body color-override textColor8" ga-track-event="['dashboard', 'invite open']">
                @Html.Svg("~/images/site/icons.svg", "invite")
                <span>@DashboardResource.InviteToSpitball</span>
            </button>
        </div>
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order-xs="20" class="create-box flex" ng-class="{'create-box-show' : d.createBoxOn}">
        @{ Html.RenderPartial("_Create");}
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="{{math.min(math.floor($index/5), 15)}}" ng-repeat="e in d.boxes" class="flex">
        <div class="box-cube color-override borderColor6">
            <div ng-include="'box-template.html'"></div>
            <div class="updates color-override textColor8" ng-if="e.updates !== 0">{{e.updates}}</div>
            <md-menu ng-if="!e.recommended">
                <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['dashboard', 'deleteBoxMenu']">
                    @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3 color-override svgColor6" })
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button aria-label="remove box" ng-click="d.deleteBox($event,e)" ga-track-event="['dashboard', 'deleteBox']">
                            @GeneralResources.Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="{{math.min(math.floor(d.boxes.length + $index/5), 15)}}" ng-repeat="e in d.suggested" class="flex">
        <div class="box-cube color-override outlineColor6">
            <div ng-include="'box-template.html'"></div>
        </div>
    </div>
    <div ng-if="d.boxes.length > 2" flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="1" class="google-ad">
        <adsense ad-client="ca-pub-1215688692145777" ad-slot="1567632158" inline-style="display:inline-block;width:100%;height:179px"></adsense>
    </div>
    <div ng-if="d.boxes.length > 2" ng-controller="adController as ad" ng-show="ad.show" flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" flex-order="2" class="i-student-ad" ng-bind-html="ad.content" ga-track-event="['istudentad', 'dashboard']"></div>
</div>

@*<button type="button" class="add" hide show-xs ng-click="d.openCreate()" ng-hide="d.createBoxOn" ga-track-event="['dashboard', 'createbox', 'plus']">
    @Html.Svg("~/images/site/icons.svg", "add", new { @class = "color-override svgColor8" })
</button>*@
