@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="dashboard">
    <div class="page-head"> </div>
    <div uib-collapse="!d.inviteOpen">
        @{Html.RenderPartial("_Invite");}
    </div>
    <div class="page-title">
        <h1>@IndexResource.Title</h1>
    </div>

    <div @*class="row"*@ layout="row" layout-padding layout-wrap>
        <div @*class="col-lg-6  col-md-8 col-sm-12"*@ flex-gt-lg="33" flex-lg="33" flex="100" class="flex">
            @{ Html.RenderPartial("_University");}
        </div>
        <div @*class="col-lg-3 col-md-4 col-sm-6 col-xs-6 leaderboard"*@ class="leaderboard flex" flex-gt-lg="33" flex-lg="33" flex-md="50" flex="100">
            @{ Html.RenderPartial("_Leaderboard");}
        </div>

        <div @*class="col-lg-3 col-md-4 col-sm-6 col-xs-6"*@ flex-gt-lg="33" flex-lg="33" flex-md="50" flex="100" class="flex">
            <div class="portlet light invite">
                <button type="button" ng-click="d.inviteToSpitabll()" class="portlet-body">
                    @Html.Svg("~/images/site/icons.svg", "invite")
                    @IndexResource.InviteToSpitball
                </button>
            </div>
        </div>
        <div @*class="col-lg-3 col-md-4 col-sm-6 col-xs-12  create-box"*@ flex-gt-lg="33" flex-lg="33" flex-md="50" flex-sm="100" class="create-box flex" ng-class="{'create-box-show' : d.createBoxOn}">
            <div class="dashboard-stat2">
                <button ng-hide="d.createBoxOn" type="button" ng-click="d.createBoxOn = true" class="create-btn">
                    <div class="plus">@GeneralResources.Plus</div>
                    <div class="title">@IndexResource.StudyGroup</div>
                </button>
                <form name="createBox" novalidate ng-submit="cb.create()" ng-show="d.createBoxOn" ng-controller="CreateBoxController as cb">
                    <div layout="column">
                        <md-content>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Enter study group name</label>
                                    <input autocomplete="off" required ng-model="cb.boxName">
                                    <span class="error" ng-show="cb.error">{{cb.error}}</span>
                                </md-input-container>
                            </div>
                        </md-content>

                    </div>
                    <span>
                        <button type="button" class="btn btn-default text-capitalize pull-left" ng-click="d.createBoxOn = false">@GeneralResources.Cancel</button>
                        <button type="submit" class="btn text-capitalize pull-right" ng-disabled="!createBox.$valid">@GeneralResources.Done</button>
                    </span>
                </form>
            </div>
        </div>
        <div @*class="col-lg-3 col-md-4 col-sm-6 col-xs-12"*@ flex-gt-lg="33" flex-lg="33" flex-md="50" flex-sm="100" ng-repeat="e in d.boxes" ng-include="'box-template.html'" class="flex"></div>
    </div>
</div>

<button type="button" class="add visible-xs-block" ng-click="d.createBoxOn = true" ng-hide="d.createBoxOn">@GeneralResources.Plus</button>