@model string
@using Zbang.Cloudents.Mobile.Views.Item.Resources


<div class="previewFailed">
    <h2>@ItemsResources.PreviewNotAvailable</h2>
    <div class="previewFailedText">
        @ItemsResources.PleaseUseThe@Html.Raw("&nbsp")<a class="actionText" target="_Blank" href="@Model">@ItemsResources.Download</a>@Html.Raw("&nbsp")@ItemsResources.PreviewFailed2
    </div>
</div>





