
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Flashcard.Resources
<header layout="row">
    <div flex class="text-center text-capitalize">@FlashcardResources.flashCardTitle</div>
    <button flex="none" type="button" ng-click="f.close($event)" class="close" ga-track-event="['createFlashcard', 'close']"><md-icon md-svg-icon="t:close"></md-icon></button>
</header>
<form name="f.form" class="content" interaction-done>
    <div layout="row" layout-align="space-between center" class="flashcard-top">
        <md-input-container flex="50">
            <input name="name" type="text"
                   placeholder="@FlashcardResources.flashcardPlaceholder" autocomplete="off" autofocus required md-no-asterisk ng-model="f.data.name" />
        </md-input-container>
        <button type="button" ng-click="f.publish()" class="action-btn">@GeneralResources.Create</button>
    </div>
    <div class="flashcard-body">
        <div layout="row" layout-align="space-between center" class="header">

            <div flex="50">@FlashcardResources.front</div>
            <md-button type="button" ng-click="f.flip()" class="flip-btn">
                <md-icon md-svg-icon="b:flashcard-arrow"></md-icon>
            </md-button>
            <div flex="50">@FlashcardResources.back</div>
        </div>
        <ol ui-on-drop="true">
            <li id="drag{{$index}}" class="card-container" ui-on-drop="f.move($data,card)" layout="row" card-settings="#settings{{$index}}" card-settings-event="click" ng-repeat="card in f.data.cards">
                <card-form flex="50" slide="card.front" upload="f.upload"></card-form>
                <card-form flex="50" slide="card.cover" upload="f.upload"></card-form>
                <button type="button" class="settings-btn" hide-gt-xs card-settings-toggler card-settings="#settings{{$index}}" card-settings-event="click">
                    <md-icon md-svg-icon="t:settingMenu"></md-icon>
                </button>
                <div class="card-settings" id="settings{{$index}}">
                    <button type="button" class="drag-btn desktop" drag="{{$index}}" ui-draggable="true" drag-image-element-id="'drag' + $index"><md-icon md-svg-icon="t:headerMenu" tabindex="0"></md-icon></button>
                    <button type="button" class="add-btn desktop" ng-click="f.add($index)"><md-icon md-svg-icon="t:add" tabindex="0"></md-icon></button>
                    <button type="button" class="remove-btn desktop" ng-click="f.removeCard($index)"><md-icon md-svg-icon="t:close" tabindex="0"></md-icon></button>
                </div>
            </li>
            <li layout="row" class="add-card" ng-click="f.add()">
                <div flex="50" flex-xs="100">
                    <md-icon md-svg-icon="t:add"></md-icon>
                </div>
                <div flex="50" hide-xs></div>
            </li>

        </ol>
    </div>
</form>
<script type="text/ng-template" id="card-form.html">
    <md-input-container class="md-icon-right">
        <textarea ng-model="slide.text" tabindex="-1"></textarea>
        <md-icon ng-if="!slide.image" md-svg-icon="b:image-icon" plupload="upload.url"
                 plupload-options="upload.options(slide)"
                 plupload-callbacks="upload.callbacks" tabindex="0" hide-xs></md-icon>
        <div class="image-container">
            <md-progress-circular ng-if="slide.uploadProgress" md-mode="determinate" md-diameter="50" value="{{slide.uploadProgress}}"></md-progress-circular>
            <img width="100" height="100" ng-src="{{slide.image}}" ng-if="slide.image" />
            <button type="button" class="remove-img" ng-click="upload.removeImage(slide)" ng-if="slide.image"><md-icon md-svg-icon="t:close"></md-icon></button>
        </div>
    </md-input-container>
</script>
