@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@using Zbang.Zbox.ViewModel.Dto.Store

@helper Category(IEnumerable<CategoryDto> categories)
{
    var url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
    <ul>
        @foreach (var sub in categories)
        {

            <li><a href="@url.RouteUrl("storeCategory", new { categoryid = sub.Id, universityId = Request.QueryString["universityId"], producerId = Request.QueryString["producerId"] })">@sub.Name</a></li>
        }
    </ul>
}
@helper ProductCategories(IList<CategoryDto> model)
{
    <div class="categoryDD">
        <ul class="categoryList">
            <li class="spr-computer">
                <h3>מחשבים \ טאבלטים</h3>
                @Category(model.Where(w => w.ParentId == 613))

            </li><li class="spr-cal">
                <h3>מחשבונים</h3>
                @Category(model.Where(w => w.ParentId == 697))

            </li><li class="spr-dic">
                <h3>מילונים \ אנגלית</h3>
                @Category(model.Where(w => w.ParentId == 699))
            </li><li class="spr-smartphone">
                <h3>סלולר</h3>
                @Category(model.Where(w => w.ParentId == 675))

            </li><li class="spr-printers">
                <h3>ציוד היקפי מחשב</h3>
                @Category(model.Where(w => w.ParentId == 612))
            </li><li class="spr-covers">
                <h3>כריכת חוברות</h3>
                @Category(model.Where(w => w.ParentId == 703))

            </li><li class="spr-chair">
                <h3>ריהוט משרדי</h3>
                @Category(model.Where(w => w.ParentId == 690))
            </li><li class="spr-martini">
                <h3>פנאי ובילויים</h3>
                @Category(model.Where(w => w.ParentId == 622))
            </li><li class="spr-tv">
                <h3>מוצרי חשמל</h3>
                @Category(model.Where(w => w.ParentId == 629))
            </li><li class="spr-eco">
                <h3>מערכות שמע</h3>
                @Category(model.Where(w => w.ParentId == 669))
            </li><li>
                <h3>ספורט</h3>
                @Category(model.Where(w => w.ParentId == 631))
            </li><li class="spr-house">
                <h3>מוצרים לבית</h3>
                @Category(model.Where(w => w.ParentId == 633))
            </li>
        </ul>
    </div>
}
