@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<script type="text/ng-template" id="dashLibBox">
    <a ng-href="{{::box.url}}">
        <div class="boxStats rFloat">
            <div class="friends" data-friends-count="{{box.membersCount}}">
                @Html.Svg("~/Images/Defs.svg", "user", new { @class = "svg-user" })
                <span>@SharedResources.Friends</span>
            </div>
            <div class="files" data-files-count="{{box.itemCount}}">
                @Html.Svg("~/Images/Defs.svg", "document", new { @class = "svg-doc" })
                <span>@SharedResources.Files</span>
            </div>
        </div>
        <div class="ghost">
            <div ng-if="::box.numOfUpdates > 0" class="newCounter">{{::box.numOfUpdates}}</div>
            <div class="vCentered"> @*data-letter="{{::box.name[0]}}"*@
                <box-logo name="::box.name" type="::box.boxType"></box-logo>                
                <h3 class="elps">{{::box.name}}</h3>
                <div class="courseId elps">{{::box.courseCode}}</div>
                <div class="elps">{{::box.professor}}</div>
            </div>
        </div>
    </a>

    <button type="button" class="removeItem" ng-show="showRemove(box)" ng-click="removeBox(box)" tooltip-placement="top" tooltip="{{getTitle(box)}}">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </button>
</script>
