@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Message

<div id="inviteDialog" style="display: none;">
    <div class="popupWrppr invite">
        <header class="popupHeader">
            <span class="invHeader boldFont lFloat">@DialogResources.InviteTo</span><q><span id="iboxName" class="iBoxName"></span></q>‎
        </header>
        <button type="button" class="closeDialog"></button>
        <div class="step1">
            <div class="inviteHeader">@DialogResources.InviteFriends</div>
            <div class="inviteVia">
                <div id="invite_Facebook" class="facebook"><span class="fbImg"></span><span class="fbTxt">@DialogResources.ViaFacebook</span></div>
                <div id="invite_Mail" class="email"><span class="emailImg"></span><span class="emailTxt">@DialogResources.ViaEmail</span></div>
            </div>
        </div>
        <div class="step2">
            @using (Html.BeginForm("InviteBox", "Share", FormMethod.Post, new { id = "fInvite", @class = "popupForm" }))
            {
                <div>
                    @Html.ValidationSummary()
                    <div class="inputText emailUser">
                        @Html.LabelFor(m => m.Recepients, new { @class = "inputLabel" })
                        <ul class="emailList">
                        </ul>
                        <input class="inviteInput" type="text" placeholder="@Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources.DialogResources.UsernameOr" />

                    </div>
                    @*<button type="button" disabled="disabled" class="addInvite"></button>*@
                    <div class="addressBook">@DialogResources.SelectPeople
                        <span class="invYahoo invImg"></span>
                        <span class="invGoogle invImg"></span>
                        <span class="invMsn invImg"></span>
                    </div>
                </div>
                @Html.TextAreaFor(m => m.Note, new { @class = "inputText inviteMsg" , id="iNote" , placeholder= @DialogResources.CommentHere})
                <input type="submit" class="btn1 invite2 next" value="@DialogResources.Send"/>
                <input type="button" id="iCancel" class="btn2 invite2 cancel" value="@DialogResources.Cancel" />
            }
        </div>       
    </div>
    <div class="modal2"></div>
</div>

