@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Share.Message


<div id="sendMsgDialog" class="invite" style="display: none;" title="@SharedResources.ShareBy">
    @using (Html.BeginForm("Message", "Share", FormMethod.Post, new { id = "fMessage", @class = "popupForm" }))
    {
        @Html.ValidationSummary()
        <div class="emailUserWpr">
            <div class="inputText emailUser">
                @Html.LabelFor(m => m.Recepients, new { @class = "inputLabel" })
                <div class="emailListWpr">
                    <ul class="emailList" id="emailList"></ul>
                    <input class="inviteInput" id="messageInput"
                           type="text" placeholder="@Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources.DialogResources.UsernameOr" />
                </div>            
                <button type="button" class="gConnect">@SharedResources.Connect</button>    
            </div>            
            <ul class="emailMenu" id="emailMenu">
             </ul>
        </div>
        <div style="display:none;" class="singleEmailUserWpr">


        </div>
        @Html.TextAreaFor(m => m.Note, new { @class = "inputText inviteMsg", id = "mNote", placeholder = SharedResources.WriteMessage })        
        <input type="submit" class="btn1 next" value="@DialogResources.Send" />
        <input type="reset" class="btn2 cancel" value="@DialogResources.Cancel" />
    }
</div>

<script type="text/html" id="emailMenuItemTemplate">

    <li class="emailMenuItem">
        <img class="eImg" src="{{defaultImage}}" data-src="{{userImage}}" alt="{{name}}" />
        <div class="eDetails">
            <div class="eAddress">{{id}}</div>
            <div class="eName">{{highlightName}}</div>
        </div>
    </li>
</script>

<script type="text/html" id="singleUserEmailTemplate">
    <img class="eSingleImg" src="{{userImage}}" alt="{{name}}" />
        <div class="eSingleName">{{name}}</div>
    <input type="hidden" name="Recepients" value="{{id}}" />
</script>

<script type="text/html" id="emailSelectedItemTemplate">
    <li class="emailItem" data-id="{{id}}"><span class="emailText">{{display}}</span><button type="button" class="removeItem"></button><input type="hidden" name="Recepients" value="{{id}}" /></li>
</script>