@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Culture



<aside class="sideBar">
    <label for="sidebarCb" class="closeMenuBtn">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </label>
    <ul>
        <li><a href="@Url.Action("Settings", "Account")">@UserDetailResources.AccountSettings</a></li>
        <li><a target="_self" href="@Url.Action("Help","Home")">@UserDetailResources.Feedback</a></li>
        <li>
            @Html.ActionLink(FooterResources.AboutUs, "AboutUs", "Home", null, new { target = "_self" })
        </li>
        <li>
            @Html.ActionLink(FooterResources.ContactUs, "ContactUs", "Home", null, new { target = "_self" })
        </li>
        <li>
            @Html.ActionLink(FooterResources.PrivacyPolicy, "Privacy", "Home", null, new { target = "_self" })
        </li>
        <li>
            @Html.ActionLink(FooterResources.TermsOfService, "TermsOfService", "Home", null, new { target = "_self" })
        </li>
        <li class="last"><a href="@Url.Action("LogOff", "Account")" ng-click="$root.logout($event)">@UserDetailResources.LogOut</a></li>
    </ul>
</aside>

