@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Culture
@model bool

@helper ShowLanguageBar(bool displayLanguage = false)
{
    if (!displayLanguage)
    {
        return;
    }
    <ul class="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
        <li><a href="@Url.Action("ChangeLocale", "Account", new {Lang = Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture})" title="English (US)">@Languages.EnglishUsName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new {Lang = Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture})" title="English (UK)">@Languages.EnglishGbName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new {Lang = Languages.GetLanguageDetailByName(Languages.RussianName).Culture})" title="Russian site">@Languages.RussianName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new {Lang = Languages.GetLanguageDetailByName(Languages.HebrewName).Culture})" title="Hebrew site">@Languages.HebrewName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new {Lang = Languages.GetLanguageDetailByName(Languages.ArabicName).Culture})" title="Arabic site">@Languages.ArabicName</a></li>
        <li class="last"><a href="@Url.Action("ChangeLocale", "Account", new {Lang = Languages.GetLanguageDetailByName(Languages.ChineseName).Culture})" title="Chinese site">@Languages.ChineseName</a></li>
    </ul>
}

<aside class="sideBar">
    <label for="sidebarCb" class="closeMenuBtn">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </label>
    <ul>
        <li><a href="~/">@HomeResources.Homepage</a></li>
        <li><a href="@Url.Action("AboutUs", "Home")" target="_self">@HomeResources.AboutCloudents</a></li>
        <li><a href="@Url.Action("Help", "Home")" target="_self">@SharedResources.Help</a></li>
        <li><a href="@Url.Action("Privacy", "Home")" target="_self">@FooterResources.PrivacyPolicy</a></li>
        <li><a href="@Url.Action("TermsOfService", "Home")" target="_self">@FooterResources.TermsOfService</a></li>
        <li class="last"><a href="@Url.Action("ContactUs", "Home")" target="_self">@FooterResources.ContactUs</a></li>
        <li class="sideBarSignupBtn addRegister" login-btn="register">@LogOnResources.SignUp</li>
        <li class="last addConnect" login-btn="connect">@SharedResources.SignIn</li>
    </ul>
    @ShowLanguageBar(Model)
</aside>
