@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Culture



<aside class="sideBar">
    <label for="sidebarCb" class="closeMenuBtn">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </label>
    <ul>
        <li><a href="@Url.Action("settings", "account")">@UserDetailResources.AccountSettings</a></li>
        <li><a target="_self" href="@Url.Action("help","home")">@UserDetailResources.Feedback</a></li>
        <li>
            @Html.ActionLink(FooterResources.AboutUs, "aboutUs", "home", null, new { target = "_self" })
        </li>
        <li>
            @Html.ActionLink(FooterResources.ContactUs, "contactus", "home", null, new { target = "_self" })
        </li>
        <li>
            @Html.ActionLink(FooterResources.PrivacyPolicy, "privacy", "home", null, new { target = "_self" })
        </li>
        <li>
            @Html.ActionLink(FooterResources.TermsOfService, "termsofservice", "home", null, new { target = "_self" })
        </li>
        <li class="last"><a href="@Url.Action("logoff", "account")" ng-click="$root.logout($event)">@UserDetailResources.LogOut</a></li>
    </ul>
</aside>

