@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Zbox.Infrastructure.Culture
<aside class="sideBar">
    <button class="closeMenu" type="button"></button>
    <ul>
        <li><a href="~/">@HomeResources.Homepage</a></li>
        <li><a href="@Url.Action("AboutUs", "Home")">@HomeResources.AboutCloudents</a></li>
        <li><a href="@Url.Action("Help", "Home")">@SharedResources.Help</a></li>
        <li><a href="@Url.Action("Privacy", "Home")">@FooterResources.PrivacyPolicy</a></li>
        <li><a href="@Url.Action("TermsOfService", "Home")">@FooterResources.TermsOfService</a></li>
        <li class="last"><a href="@Url.Action("ContactUs", "Home")">@FooterResources.ContactUs</a></li>
        <li class="sideBarSignupBtn addRegister">@LogOnResources.SignUp</li>
        <li class="last addConnect">@SharedResources.SignIn</li>
    </ul>
    <ul class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.Name)">
        <li><a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.EnglishUsName).Culture })" title="English (US)">@Languages.EnglishUsName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.EnglishGbName).Culture })" title="English (UK)">@Languages.EnglishGbName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.RussianName).Culture })" title="Russian site">@Languages.RussianName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.HebrewName).Culture })" title="Hebrew site">@Languages.HebrewName</a></li>
        <li><a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.ArabicName).Culture })" title="Arabic site">@Languages.ArabicName</a></li>
        <li class="last"><a href="@Url.Action("ChangeLocale", "Account", new { Lang = Languages.GetLanguageDetailByName(Languages.ChineseName).Culture })" title="Chinese site">@Languages.ChineseName</a></li>
    </ul>
</aside>

@*<aside class="sideBar">
    <button class="closeMenu" type="button"></button>
    <ul>
        <li><a href="~/">@HomeResources.Homepage</a></li>
        <li><a href="@Url.Action("AboutUs", "Home")">@HomeResources.AboutCloudents</a></li>
        <li><a href="@Url.Action("Help", "Home")">@SharedResources.Help</a></li>
        <li><a href="@Url.Action("Privacy", "Home")">@FooterResources.PrivacyPolicy</a></li>
        <li><a href="@Url.Action("TermsOfService", "Home")">@FooterResources.TermsOfService</a></li>

        <li class="last"><a href="@Url.Action("ContactUs", "Home")">@FooterResources.ContactUs</a></li>
        <li class="sideBarSignupBtn addRegister" data-university="@ViewBag.universityId">@LogOnResources.SignUp</li>
        <li class="last addConnect" data-university="@ViewBag.universityId">@SharedResources.SignIn</li>
    </ul>
</aside>*@