@*@model Zbang.Zbox.ViewModel.Dto.UserDtos.UserDetailDto*@
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@if (User != null && User.Identity.IsAuthenticated)
{
    <li class="navItem navUser" ng-controller="UserDetailsCtrl" bindonce>
        <a bo-href="user.url" class="userAnchor">
            <img id="userImg" bo-src="user.image" class="lFloat userImg" alt="user image" width="36" height="36" />
            @*data-id we need for old code*@
            <div id="userName" class="userName elps" bo-attr bo-attr-title="user.name" bo-text="user.firstName"></div>
            <div id="userPts" class="userPts" data-points="&nbsp;@SharedResources.Pts" bo-text="user.score"></div>
        </a>
    </li>
    <li class="navItem userSettings" id="userDetails" data-menu="user" dropdown>
        <div tooltip="@DialogResources.Settings" tooltip-placement="right-bottom" class="userDrpSettings" dropdown-toggle>
            @Html.Svg("~/Images/Defs.svg", "menu", new { @class = "svg-menu" })
        </div>
        <ul class="userMenu dropdown-menu" role="menu">
            <li class="menuItem">
                <a class="menuLink" href="@Url.Action("Settings", "Account")">@UserDetailResources.AccountSettings</a>
            </li>
            <li class="menuItem">
                <a class="menuLink" target="_self" href="@Url.Action("Help","Home")">@UserDetailResources.Feedback</a>

            </li>
            <li class="menuItem">

                @Html.ActionLink(FooterResources.AboutUs, "AboutUs", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                @Html.ActionLink(FooterResources.ContactUs, "ContactUs", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                @Html.ActionLink(FooterResources.PrivacyPolicy, "Privacy", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                @Html.ActionLink(FooterResources.TermsOfService, "TermsOfService", "Home", null, new { @class = "menuLink", target = "_self" })
            </li>
            <li class="menuItem">
                <button class="menuLink" ng-click="$root.logout()">@UserDetailResources.LogOut</button>
            </li>
        </ul>
    </li>
}

else
{
    <li class="navItem signUp">
        <button class="btn addRegister">@LogOnResources.SignUp</button>
        <button class="btn addConnect">@SharedResources.SignIn</button>
    </li>
}
