@model Zbang.Zbox.ViewModel.Dto.UserDtos.UserDetailDto
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@if (User != null && User.Identity.IsAuthenticated)
{
    <ul class="userNav">
        <li class="navItem navUser">
            <a href="@Model.Url" class="userAnchor">
                <img id="userImg" src="@Model.Image" class="lFloat userImg" alt="user image" width="36" height="36" />
                @*data-id we need for old code*@
                <div id="userName" class="userName elps" data-id="@Model.Id" title="@Model.Name">@Model.Name.Split(' ')[0]</div>
                <div id="userPts" class="userPts" data-points="&nbsp;@SharedResources.Pts">@Model.Score</div>
            </a>
        </li>
    </ul>
    Html.RenderPartial("_SettingsAuth");
}

else
{
    <ul class="userNav">
        <li class="navItem signUp">
            <button class="btn addRegister">@LogOnResources.SignUp</button>
            <button class="btn addConnect">@SharedResources.SignIn</button>
        </li>
    </ul>
    Html.RenderPartial("_SettingsUnauth");
}

