@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

<div class="staticWpr popupWrppr" id="connect">
    <div class="enterTitle">@SharedResources.SignIn</div>
    <div id="fb_log" class="facebook"><span class="fbImg"></span>@LogOnResources.Facebook</div>            
    <div class="enterForm">
    @{Html.RenderPartial("LogOn", new Zbang.Cloudents.Mvc4WebRole.Models.Account.LogOn());}
    </div>
    <div class="create">@LogOnResources.NoAccount&nbsp;<button class="addRegister" type="button">@LogOnResources.CreateNew</button></div>
    <button class="closeDialog" data-closelogin="close"></button>    
</div>
<div class="staticWpr popupWrppr" id="register" ng-class="{store: $root.isStore()}">
    <div class="welcomeStore">
        <div class="storeTxt1">@StoreResources.Description</div>
        <div class="storeTxt2">@StoreResources.PayLess</div>
        <div class="storeTxt3">@StoreResources.OnlyRegistered</div>
        <div class="storeTxt4">@StoreResources.HowToBuy</div>
        <div class="couponWpr">
            <span class="userHelp">?</span>
            <div class="helpPopup">@StoreResources.ToGetACoupon</div>
            <input ng-model="coupon.code" type="text" class="inputText" />
            <button type="button" disabled class="btn1">@StoreResources.Enter</button>
            
        </div>
        <span>@StoreResources.Or</span>
    </div>

    <div class="signInUp">
        <div class="regFirstTxt">
            <div>@SharedResources.RegisterFirst</div>
            <div>@SharedResources.RegisterFree</div>
        </div>
        <div class="enterTitle">@LogOnResources.CreateAccount</div>
        <button class="closeDialog" data-closelogin="close"></button>
    </div>

    <button type="button" class="facebook"><span class="fbImg"></span>@SharedResources.FacebookSignUp</button>
    <div class="emailBtnWpr">
        <button class="emailBtn" type="button"><span class="emailImg"></span>@SharedResources.EmailSignUp</button>
        <div class="registerContent">
            <div class="enterForm" id="joinForm">
                @{Html.RenderPartial("Register", new Zbang.Cloudents.Mvc4WebRole.Models.Account.Register { MarketEmail = true });}
            </div>
            <div class="connect">@LogOnResources.AlreadyHave&nbsp;<button class="addConnect" type="button">@SharedResources.SignIn</button></div>
        </div>
    </div>
</div>

<div class="modal2"></div>
