@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="staticWpr popupWrppr" id="connect">
    <div class="enterTitle">@SharedResources.SignIn</div>
    <div id="fb_log" class="facebook"><span class="fbImg"></span>@LogOnResources.Facebook</div>            
    <div class="enterForm">
    @{Html.RenderPartial("LogOn", new Zbang.Cloudents.Mvc4WebRole.Models.Account.LogOn());}
    </div>
    <div class="create">@LogOnResources.NoAccount&nbsp;<button class="addRegister" type="button">@LogOnResources.CreateNew</button></div>
    <button class="closeDialog" data-closelogin="close"></button>    
</div>
@*Guy: When user needs to register in order to perform an action - add the class 'registerFirst' to the popup
When the user ckicks the button 'emailBtn' - add the class 'step2' to the popup*@
<div class="staticWpr popupWrppr registerFirst" id="register">
    <div class="regFirstTxt">
        <div>@SharedResources.RegisterFirst</div>
        <div class="regFirstTxt2">@SharedResources.FreePlatform</div>
        <div>@SharedResources.RegisterFree</div>
    </div>
    <div class="enterTitle">@LogOnResources.CreateAccount</div>
    <button type="button" class="facebook"><span class="fbImg"></span>@SharedResources.FacebookSignUp</button>
    <button class="closeDialog" data-closelogin="close"></button>
    <div class="emailBtnWpr">
        <button class="emailBtn" type="button"><span class="emailImg"></span>@SharedResources.EmailSignUp</button>
        <div class="registerContent">
            <div class="enterForm" id="joinForm">
                @{Html.RenderPartial("Register", new Zbang.Cloudents.Mvc4WebRole.Models.Account.Register { MarketEmail = true });}
            </div>
            <div class="connect">@LogOnResources.AlreadyHave&nbsp;<button class="addConnect" type="button">@SharedResources.SignIn</button></div>
        </div>
    </div>
</div><div class="modal2"></div>
