@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

<div class="staticWpr popupWrppr" id="connect">
    <div class="enterTitle">@SharedResources.SignIn</div>
    <div id="fb_log" class="facebook">
        <span class="fbImg">
            <svg class="fbIcon" viewBox="0 0 11.861 23.303">
                @*width="11.861" height="23.303"*@
                <path d="M11.861,8.323H7.594V6.243c0,0-0.239-1.978,1.144-1.978c1.563,0,2.811,0,2.811,0V0H6.763c0,0-4.005-0.017-4.005,4.005   c0,0.864-0.004,2.437-0.01,4.318H0v3.434h2.741c-0.016,5.46-0.035,11.545-0.035,11.545h4.888V11.757h3.226L11.861,8.323z" />
            </svg>
        </span>@LogOnResources.Facebook
    </div>
    <p class="fbTxt">@AccountSettingsResources.NeverPost</p>
    <div class="enterForm">
        @{Html.RenderPartial("LogOn", new Zbang.Cloudents.Mvc4WebRole.Models.Account.LogOn());}
    </div>
    <div class="create">@LogOnResources.NoAccount&nbsp;<button class="addRegister" type="button">@LogOnResources.CreateNew</button></div>
    <button type="button" class="closeModal" data-closelogin="close">
        <svg data-closelogin="close" class="svg-close" viewbox="-523.8 392.1 57.6 57.6">
            <path data-closelogin="close" d="M-468.2,403.5l-17.4,17.4l17.4,17.4c2.6,2.6,2.6,6.8,0,9.4c-1.3,1.3-3,1.9-4.7,1.9c-1.7,0-3.4-0.6-4.7-1.9
	l-17.4-17.4l-17.4,17.4c-1.3,1.3-3,1.9-4.7,1.9c-1.7,0-3.4-0.6-4.7-1.9c-2.6-2.6-2.6-6.8,0-9.4l17.4-17.4l-17.4-17.4
	c-2.6-2.6-2.6-6.8,0-9.4c2.6-2.6,6.8-2.6,9.4,0l17.4,17.4l17.4-17.4c2.6-2.6,6.8-2.6,9.4,0C-465.6,396.7-465.6,400.9-468.2,403.5z" />
        </svg>
    </button>
</div>

<div class="staticWpr popupWrppr" id="register" ng-class="{store: $root.isStore()}">
    <div class="welcomeStore">
        <div class="storeTxt1">@StoreResources.Description</div>
        <div class="storeTxt2">@StoreResources.PayLess</div>
        <div class="storeTxt3">@StoreResources.ExclusiveBenefits</div>
        <div class="storeTxt4">@StoreResources.HowToBuy</div>
        <div class="couponWpr">
            <span class="userHelp">?</span>
            <div class="helpPopup">@StoreResources.ToGetACoupon</div>
            <input ng-model="$root.params.store.coupon.code" type="text" class="inputText" ng-placeholder="הכנס קוד קופון" />
            <button type="button" ng-disabled="!$root.params.store.coupon.code.length" class="btn1" ng-click="$root.validateCoupon()">@StoreResources.Enter</button>

        </div>
        <span class="or">@StoreResources.Or</span>
    </div>

    <div class="signInUp">
        <div class="regFirstTxt">
            <div>@SharedResources.RegisterFirst</div>
            <div>@SharedResources.RegisterFree</div>
        </div>
        <div class="enterTitle">@LogOnResources.CreateAccount</div>
    </div>
    <button type="button" class="closeModal" data-closelogin="close">
        <svg data-closelogin="close" class="svg-close" viewbox="-523.8 392.1 57.6 57.6">
            <path data-closelogin="close" d="M-468.2,403.5l-17.4,17.4l17.4,17.4c2.6,2.6,2.6,6.8,0,9.4c-1.3,1.3-3,1.9-4.7,1.9c-1.7,0-3.4-0.6-4.7-1.9
	l-17.4-17.4l-17.4,17.4c-1.3,1.3-3,1.9-4.7,1.9c-1.7,0-3.4-0.6-4.7-1.9c-2.6-2.6-2.6-6.8,0-9.4l17.4-17.4l-17.4-17.4
	c-2.6-2.6-2.6-6.8,0-9.4c2.6-2.6,6.8-2.6,9.4,0l17.4,17.4l17.4-17.4c2.6-2.6,6.8-2.6,9.4,0C-465.6,396.7-465.6,400.9-468.2,403.5z" />
        </svg>
    </button>
    <div class="signupBtns">
        <button type="button" class="facebook">
            <span class="fbImg">
                <svg class="fbIcon" viewBox="0 0 11.861 23.303">
                    @*width="11.861" height="23.303"*@
                    <path d="M11.861,8.323H7.594V6.243c0,0-0.239-1.978,1.144-1.978c1.563,0,2.811,0,2.811,0V0H6.763c0,0-4.005-0.017-4.005,4.005   c0,0.864-0.004,2.437-0.01,4.318H0v3.434h2.741c-0.016,5.46-0.035,11.545-0.035,11.545h4.888V11.757h3.226L11.861,8.323z" />
                </svg>
            </span>@SharedResources.FacebookSignUp
        </button>
        <p class="fbTxt">@AccountSettingsResources.NeverPost</p>
        <div class="emailBtnWpr">
            <button ng-click="$root.params.isStore = false" class="emailBtn" type="button">
                <span class="emailImg">
                    <svg class="emailIcon" viewBox="-49 205 512 384">
                        <path d="M463,525c0,11.2-3.2,21.6-8.2,30.8L293.1,374.9L453,235c6.2,9.9,10,21.5,10,34V525z M207,407.8l222.5-194.7
	                    c-9.1-5-19.4-8.1-30.5-8.1H15c-11.1,0-21.4,3.1-30.5,8.1L207,407.8z M269,396l-51.5,45.1c-3,2.6-6.8,3.9-10.5,3.9s-7.5-1.3-10.5-3.9
	                    L145,396L-18.8,579.2c9.8,6.2,21.3,9.8,33.8,9.8h384c12.4,0,23.9-3.7,33.8-9.8L269,396z M-39,235c-6.2,9.9-10,21.5-10,34v256
	                    c0,11.2,3.1,21.6,8.2,30.8l161.6-180.9L-39,235z" />
                    </svg>
                </span>@SharedResources.EmailSignUp
            </button>
            <div class="registerContent">
                <div class="enterForm" id="joinForm">
                    @{Html.RenderPartial("Register", new Zbang.Cloudents.Mvc4WebRole.Models.Account.Register { MarketEmail = true });}
                </div>
                <div class="connect">@LogOnResources.AlreadyHave&nbsp;<button class="addConnect" type="button">@SharedResources.SignIn</button></div>
            </div>
        </div>

    </div>
</div>



<div class="modal2"></div>
