@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Register
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
    new { @class = "register", id = "registerForm" }
   ))
{
    @Html.ValidationSummary(true)
    Html.RenderAction("AntiForgeryToken", "Home", true);

    @Html.ValidationMessageFor(model => model.FirstName, null)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "inputText firstName", tabindex = 10, @placeholder= @SharedResources.FirstName })

    @Html.ValidationMessageFor(model => model.LastName, null)
    @Html.TextBoxFor(model => model.LastName, new { @class = "inputText", tabindex = 11, @placeholder= @SharedResources.LastName })

    @Html.ValidationMessageFor(model => model.NewEmail, null)
    @Html.TextBoxFor(model => model.NewEmail, new { @class = "inputText", tabindex = 12, @placeholder= SharedResources.Email, type="email" })

    @Html.ValidationMessageFor(model => model.ConfirmEmail, null)
    @Html.TextBoxFor(model => model.ConfirmEmail, new { @class = "inputText", tabindex = 13, @placeholder = RegisterResources.VerifyEmail, type = "email" })

    
    @Html.ValidationMessageFor(model => model.Password, null)
    @Html.PasswordFor(model => model.Password, new { @class = "inputText", tabindex = 14, @placeholder= LogOnResources.Password })
   <span>
    @Html.ValidationMessageFor(m=>m.IsMale)
    @Html.RadioButtonFor(model => model.IsMale, true, new { id = "maleRadio" })
    <label class="genderLabel first" for="maleRadio">@SharedResources.Male</label>
    </span>
    <span>
    @Html.RadioButtonFor(model => model.IsMale, false, new { id = "femaleRadio" })
    <label class="genderLabel" for="femaleRadio">@SharedResources.Female</label>
    </span>
    <div class="formBottom">
        <span class="acceptTerms">
            @RegisterResources.IAgree<!--
         --><a target="_blank" href="@Url.Action("TermsOfService", "Home")">&nbsp;@RegisterResources.TermsOfServices</a>&nbsp;@RegisterResources.And&nbsp;<!--
         --><a target="_blank" href="@Url.Action("Privacy", "Home")">@RegisterResources.PrivacyPolicy</a>&nbsp;@RegisterResources.ofZbang
        </span>
        <input class="btn1 lFloat" type="submit" tabindex=15 value="@LogOnResources.SignUp"  />
    </div>
}

