@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Register
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
    new { @class = "register", id = "registerForm" }
   ))
{
    @Html.ValidationSummary(true)
    Html.RenderAction("AntiForgeryToken", "Home", true);

    @Html.ValidationMessageFor(model => model.NewUserName, null)
    @Html.TextBoxFor(model => model.NewUserName, new { @class = "inputText", @*autofocus = "autofocus",*@ tabindex = 10, @placeholder= @SharedResources.Username })

    @Html.ValidationMessageFor(model => model.NewEmail, null)
    @Html.TextBoxFor(model => model.NewEmail, new { @class = "inputText", tabindex = 11, @placeholder= SharedResources.Email, type="email" })

    @Html.ValidationMessageFor(model => model.ConfirmEmail, null)
    @Html.TextBoxFor(model => model.ConfirmEmail, new { @class = "inputText", tabindex = 12, @placeholder = @RegisterResources.VerifyEmail, type = "email" })

    
    @Html.ValidationMessageFor(model => model.Password, null)
    @Html.PasswordFor(model => model.Password, new { @class = "inputText", tabindex = 13, @placeholder= LogOnResources.Password })
   
    <div class="formBottom">
        <span class="acceptTerms">
            @RegisterResources.IAgree<!--
         --><a target="_blank" href="@Url.Action("TermsOfService", "Home")">&nbsp;@RegisterResources.TermsOfServices</a>&nbsp;@RegisterResources.And&nbsp;<!--
         --><a target="_blank" href="@Url.Action("Privacy", "Home")">@RegisterResources.PrivacyPolicy</a>&nbsp;@RegisterResources.ofZbang
        </span>
        <input class="btn1 lFloat" type="submit" tabindex=15 value="@LogOnResources.SignUp"  />
    </div>
}

