@model Team

<div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
    <div class="team-photo">
        <img src="@Model.Image" alt="team">
        @* ReSharper disable once Html.IdNotResolved *@
        <a href="#team-profile-@ViewData["index"]" class="expand-trigger content-popup"></a>
    </div>
    <div class="team-info">
        <h5 class="team-name" lang="en">@Model.FirstName <br>@Model.LastName</h5>
        <span class="team-title">@Html.Raw(Model.Title)</span>
        <ul class="team-social">
            <li><a href="@Model.LinkdinLink"><em class="fab fa-linkedin-in"></em></a></li>
        </ul>
    </div>

    <!-- Start .team-profile  -->
    <div id="team-profile-@ViewData["index"]" class="team-profile mfp-hide">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <div class="container-fluid">
            <div class="row no-mg">
                <div class="col-md-6">
                    <div class="team-profile-photo">
                        <img src="@Model.Image" alt="team" />
                    </div>
                </div><!-- .col  -->

                <div class="col-md-6">
                    <div class="team-profile-info">
                        <h3 class="name" lang="en">@Model.FirstName  @Model.LastName</h3>
                        <p class="sub-title">@Model.Title</p>
                        <ul class="tpi-social">
                            <li><a href="@Model.LinkdinLink"><em class="fab fa-linkedin-in"></em></a></li>
                        </ul>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>
                </div><!-- .col  -->

            </div><!-- .row  -->
        </div><!-- .container  -->
    </div><!-- .team-profile  -->
</div>