@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}


<!-- Header -->
<header class="site-header is-sticky">

    <!-- Navbar -->
    <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
        <nav class="container">
            <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="https://www.spitball.co/" target="_blank">
                <img class="logo logo-light" alt="logo" src="~/images/logo-beta.svg">
                <img class="logo logo-dark" alt="logo" src="~/images/logo-beta-blue.svg">
            </a>
            <div class="language-switcher animated" data-animate="fadeInDown" data-delay=".75">
                <a href="#" data-toggle="dropdown">EN</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">FR</a>
                    <a class="dropdown-item" href="#">CN</a>
                    <a class="dropdown-item" href="#">BR</a>
                </div>
            </div>
            <a href="https://t.me/Spitball" target="_blank" class="navbar-toggler">
                <em class="fa fa-paper-plane" style="margin-right: 3px;"></em>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                    <li class="nav-item" id="whitepaper-nav">
                        <a href="https://zboxstorage.blob.core.windows.net/zboxhelp/white%20paper%201.1.pdf" target="_blank" class="nav-link menu-link"> <em class="fa fa-file" style="margin-right: 8px;"></em> @Localizer["Download Whitepaper"]</a>
                    </li>
                    <li class="nav-item" id="telegram-nav"><a href="https://t.me/Spitball" target="_blank" class=" nav-link menu-link"><em class="fa fa-paper-plane" style="margin-right: 14px;"></em>@Localizer["Join Telegram"] </a></li>
                </ul>

            </div>

        </nav>
    </div>
    <!-- End Navbar -->
    <!-- Banner/Slider -->
    <div id="header" class="banner banner-tokensale d-flex align-items-center">
        <div class="header-angle-bg">
            <div class="overlay-bubble">
                <div class="overlay-bubble-1"></div>
                <div class="overlay-bubble-2"></div>
                <div class="overlay-bubble-3"></div>
                <div class="overlay-bubble-4"></div>
                <div class="overlay-bubble-5"></div>
                <div class="overlay-bubble-6"></div>
            </div>
            <div id="particles-js" class="particles-container particles-js"></div>
        </div>
        <div class="container">
            <div class="banner-content mr--x3">
                <div class="gaps size-3x d-lg-none"></div>
                <div class="row align-items-center mobile-center" style="margin-bottom: -90px;">
                    <div class="col-lg-5 col-md-12 text-lg-left text-center res-m-bttm">
                        <div class="header-txt">
                            <h1 class="animated header-title mb-4" data-animate="fadeInUp"
                                data-delay="1.25">
                                @Localizer["Title"]
                                <br class="d-none d-xl-block">
                            </h1>
                            <p class="lead animated" data-animate="fadeInUp" data-delay="1.35">
                                @Localizer["FirstParagraph"]

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 offset-lg-1 offset-md-0 res-m-bttm-lg">
                        <div class="animated" data-animate="fadeInUp" data-delay="1.55">
                            <div class="header-image-muscari">
                                <img src="~/images/muscari/header-image-muscari.png" style="visibility: hidden;" alt="header">
                            </div>
                            <div class="countdown-box countdown-transparent text-center">
                                <iframe width="100%" height="360" src="https://www.youtube.com/embed/69daYsNqNUA?feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div><!-- .col  -->
                </div><!-- .row  -->
                <div class="row">
                    <div class="col-lg-5 col-md-12 text-lg-left text-center res-m-bttm res-top-lg">
                        <div class="header-subscription">
                            <h6 class="animated white" data-animate="fadeInUp" data-delay=".6">@Localizer["Subscribe to our newsletter"]</h6>
                            <form id="subscribe-form" class="subscription-form animated" data-animate="fadeInUp" data-delay=".7">
                                <input type="email" name="email" class="input-round required email" placeholder="@Localizer["Enter your email"]" required>
                                <button type="submit" class="btn btn-plane">@Localizer["Subscribe"]</button>
                                <div class="subscribe-results"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- .banner-content  -->
        </div><!-- .container  -->
    </div>

</header>
<div class="section section-pad-md section-bg-muscari section-angle">
    <div class="section-bg-angle section-muscari" style="background-color: #E5E8FC; color:#3532d5;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-head-s4">
                    <h2 class="section-title animated blue mb-4" data-animate="fadeInUp" data-delay=".1">@Localizer["Title2"]</h2>
                    <p class="lead animated blue" data-animate="fadeInUp" data-delay=".2">
                        @Localizer["Vision"]
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 res-m-bttm">
                <div class="text-box animated" data-animate="fadeInUp" data-delay=".3">
                    <h4></h4>
                    <p class="lead animated blue">
                        @Localizer["Mission"]
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-box text-box-bg animated" data-animate="fadeInUp" data-delay=".5">
                    <div class="img-holder">
                        <img src="~/images/muscari/hevra.png" alt="Kiwi standing on oval">
                    </div>
                    <h6></h6>
                    <p class="lead animated">
                        @Localizer["Believe"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-pad-md token-section section-bg-light-alt" id="tokenSale">
    <div class="container">

        <div class="row align-items-start">
            <div class="col-lg-7 res-m-bttm">
                <img src="/images/muscari/spitball_app.png" alt="spitball app">
            </div>
            <div class="col-lg-5">
                <h2 class="section-title animated fadeInUp">@Localizer["Spitball 2.0"]</h2>
                <h2 class="section-title animated fadeInUp mb-4">@Localizer["UseCase"]</h2>
                <div class="text-block">
                    <ul class="animated fadeInUp main-purple" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">
                        <li class="lead">@Localizer["Peer-to-Peer Tutoring"]</li>
                        <li class="lead">@Localizer["Sharing of instructional material"]</li>
                        <li class="lead">@Localizer["Sharing of class notes & practice quizzes"]</li>
                        <li class="lead">@Localizer["Buying & selling of textbooks"]</li>
                        <li class="lead">@Localizer["Buying miscellaneous"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad-md section-bg-muscari section-muscari" id="apps">
    <div class="overlay-bars">
        <div class="overlay-bar-1"></div>
        <div class="overlay-bar-2"></div>
        <div class="overlay-bar-3"></div>
        <div class="overlay-bar-4"></div>
        <div class="overlay-bar-5"></div>
        <div class="overlay-bar-6"></div>
        <div class="overlay-bar-7"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 res-m-btm">
                <div class="text-block">
                    <h2 class="animated" data-animate="fadeInUp" data-delay=".0">
                        @Localizer["Spitball 2.0"]
                    </h2>
                    <h2 class="animated mb-4"><b>@Localizer["Token Economy"]</b></h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".1">
                        @Localizer["Token Economy Desc"]
                    </p>
                    <div class="animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="blocks"><p><span class="yellow">@Localizer["Users"]</span>@Localizer["Token Economy 1"]</p></div>
                        <div class="blocks"><p><span class="yellow">@Localizer["Partners"]</span>@Localizer["Token Economy 2"]</div>
                        <div class="blocks"><p><span class="yellow">@Localizer["Developers"]</span>@Localizer["Token Economy 3"]</div>
                    </div>
                </div>
            </div><!-- .col  -->
            <div class="col-lg-6 col-md-7">
                <div class="animated" data-animate="fadeInUp" data-delay=".4">
                    <img src="/images/muscari/spitball_economy.png" alt="spitball economy">
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
<div class="section section-pad-md section-bg-light roadmap-section" id="roadmap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-head-s5 text-center">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".0">@Localizer["Roadmap"]</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".1">
                        @Localizer["Founded"]
                    </p>
                </div>
            </div>
        </div>
        <div class="roadmap-carousel-container animated" data-animate="fadeInUp" data-delay=".2">
            <div class="roadmap-carousel-withnav">
                <div class="roadmap-item roadmap-done">
                    <h6>@Localizer["Q1 2014"]</h6>
                    <p>@Localizer["Spitball is launched in Israel as a social studying app"]</p>
                </div>
                <div class="roadmap-item roadmap-done">
                    <h6>@Localizer["Q3 2016"]</h6>
                    <p>@Localizer["Spitball is launched in the United States"]</p>
                </div>
                <div class="roadmap-item roadmap-done">
                    <h6>@Localizer["Q3 2017"]</h6>
                    <p>@Localizer["Spitball partners with 25+ leading educational companies to become the premier aggregator of academic content & services"]</p>
                </div>
                <div class="roadmap-item">
                    <h6>@Localizer["Q3 2018"]</h6>
                    <p>@Localizer["Whitepaper published and launch of Spitball 2.0 Homework Help marketplace"]</p>
                </div>
                <div class="roadmap-item">
                    <h6>@Localizer["Q3 2018"]</h6>
                    <p>@Localizer["Initial wallet released"]</p>
                </div>
                <div class="roadmap-item">
                    <h6>@Localizer["Q3 & Q4 2018"]</h6>
                    <p>
                        @Localizer["Launch of Spitball Marketplace for all student-related goods and services (tutors, textbooks, class material, second-hand items, etc.)"]
                    </p>
                </div>
                <div class="roadmap-item">
                    <h6>
                        @Localizer["Q4 2018"]
                    </h6>
                    <p>@Localizer["Spitball expands to new markets (Asia, EU)"]</p>
                </div>
                <div class="roadmap-item">
                    <h6>@Localizer["Q1 2019"]</h6>
                    <p>@Localizer["Integration with 3rd party sites to accept SBL token"]</p>
                </div>
                <div class="roadmap-item">
                    <h6>@Localizer["Q2 2019"]</h6>
                    <p>@Localizer["Integration with 3rd party (offline) stores & universities to accept SBL on campuses"]</p>
                </div>
            </div>
        </div>
    </div><!-- .container  -->
</div>
<!-- Start Section -->
@await Component.InvokeAsync("TeamComponent");
<!-- Start Section -->
<div class="section section-pad-md section-bg-light">
    <div class="section-bg-angle section-bg-light-alt"></div>
    <div class="container">
        <div class="gaps size-2x d-lg-none"></div>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2 class="sub-heading" style="margin-bottom: 30px;">@Localizer["Our Partners"]</h2>
                <img src="~/images/muscari/partners.png" alt="spitball partners">
            </div>
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>

<div class="section section-pad-md section-bg-light section-angle-bottom contact-section" id="contact">
    <div class="section-bg-angle section-bg-light-alt"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-head-s5 text-center">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">@Localizer["Get In Touch"]</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="gaps"></div>
                <p class="animated" data-animate="fadeInUp" data-delay=".1">@Localizer["Any questions? Reach out to us and we’ll get back to you shortly."]</p>
                <ul class="contact-info-alt">
                    <li class="animated" data-animate="fadeInUp" data-delay=".2"><em class="fa fa-phone"></em><span>@Localizer["+972 52 883 0686"]</span></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".3"><em class="fa fa-envelope"></em><span> <a href="mailto:token@spitball.co?Subject=Spitball%20Info">token@spitball.co</a></span></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".4"><em class="fa fa-paper-plane"></em><span><a href="https://t.me/Spitball" target="_blank">@Localizer["Join us on Telegram"]</a></span></li>
                </ul>
            </div><!-- .col  -->
            <div class="col-lg-5">
                @*action="form/contact.php" method="post"*@
                /**/
                /**/
                <form id="contact-form" class="form-message text-left">
                    <div class="form-results"></div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                        <input name="name" type="text" class="input-line required" required>
                        <label class="input-title">@Localizer["Your Name"]</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                        <input name="email" type="email" class="input-line required email" required>
                        <label class="input-title">@Localizer["Your Email"]</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                        <textarea name="text" class="txtarea input-line required" required></textarea>
                        <label class="input-title">@Localizer["Your Message"]</label>
                    </div>
                    /**/
                    /**/
                    @*<input type="text" class="d-none" name="form-anti-honeypot" value="">*@
                    /**/
                    /**/
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
                        <button type="submit" class="btn">@Localizer["Submit"]</button>
                    </div>
                </form>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
<!-- End Section -->
<!-- Start Section -->
<div class="section section-bg-muscari section-muscari section-pad-md footer-fix" id="partners">
    <div class="overlay-bars reverse">
        <div class="overlay-bar-1"></div>
        <div class="overlay-bar-2"></div>
        <div class="overlay-bar-3"></div>
        <div class="overlay-bar-4"></div>
        <div class="overlay-bar-5"></div>
        <div class="overlay-bar-6"></div>
        <div class="overlay-bar-7"></div>
    </div>
    <div class="gaps size-6x"></div>
    <div class="gaps size-6x"></div>
    <div class="gaps size-6x"></div>
    <div class="container">
        <div class="row text-center" style="display:none;">
            <div class="col-md-6 offset-md-3">
                <div class="section-head">
                    <h6 class="section-title-sm  animated" data-animate="fadeInUp" data-delay="0">@Localizer["As seen in"]</h6>
                </div>
            </div>
        </div>
        <div class="partner-list" style="display:none;">
            <div class="row text-center">
                <div class="col-sm col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="~/images/partner-xs-light-a.png" alt="partner">
                    </div>
                </div><!-- .col  -->
                <div class="col-sm col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".2">
                        <img src="~/images/partner-xs-light-b.png" alt="partner">
                    </div>
                </div><!-- .col  -->
                <div class="col-sm col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".3">
                        <img src="~/images/partner-xs-light-c.png" alt="partner">
                    </div>
                </div><!-- .col  -->
                <div class="col-sm col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".4">
                        <img src="~/images/partner-xs-light-d.png" alt="partner">
                    </div>
                </div><!-- .col  -->
                <div class="col-sm col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".5">
                        <img src="~/images/partner-xs-light-e.png" alt="partner">
                    </div>
                </div><!-- .col  -->
                <div class="col-sm col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".6">
                        <img src="~/images/partner-xs-light-f.png" alt="partner">
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <div class="row text-center">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-sm col-6">
                            <div class="single-partner animated" data-animate="fadeInUp" data-delay=".7">
                                <img src="~/images/partner-xs-light-a.png" alt="partner">
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm col-6">
                            <div class="single-partner animated" data-animate="fadeInUp" data-delay=".8">
                                <img src="~/images/partner-xs-light-b.png" alt="partner">
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm col-6">
                            <div class="single-partner animated" data-animate="fadeInUp" data-delay=".9">
                                <img src="~/images/partner-xs-light-c.png" alt="partner">
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm col-6">
                            <div class="single-partner animated" data-animate="fadeInUp" data-delay="1.0">
                                <img src="~/images/partner-xs-light-d.png" alt="partner">
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .partner-list  -->

        <div class="gaps size-3x"></div>
        <hr class="hr-line">
        <div class="gaps size-3x"></div>

        <div class="row">
            <div class="col-sm-6 col-xl-4 res-l-bttm">
                <a class="footer-brand animated" data-animate="fadeInUp" data-delay="0" href="./">
                    <img class="logo logo-light" alt="logo" src="~/images/logo-beta.svg">
                </a>
                <ul class="social">
                    <li class="animated" data-animate="fadeInUp" data-delay=".1">
                        <a href="https://t.me/Spitball" target="_blank"><em class="fa fa-paper-plane"></em></a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".1">
                        <a href="https://www.facebook.com/spitballstudy/" target="_blank"><em class="fab fa-facebook-f"></em></a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".2">
                        <a href="https://twitter.com/SpitballStudy" target="_blank"><em class="fab fa-twitter"></em></a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".3">
                        <a href="https://www.youtube.com/channel/UC9qGHTJixreP2bbwugmSi2Q?view_as=subscriber" target="_blank"><em class="fab fa-youtube"></em></a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".4">
                        <a href="https://github.com/Cloudents/Spitball" target="_blank"><em class="fab fa-github"></em></a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".5">
                        <a href="https://www.linkedin.com/company/spitball/" target="_blank"><em class="fab fa-linkedin"></em></a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".6">
                        <a href="https://medium.com/@@spitballstudy" target="_blank"><em class="fab fa-medium-m"></em></a>
                    </li>
                </ul>
            </div><!-- .col  -->
            <div class="col-sm-6 col-xl-4 res-l-bttm">
                <!-- <div class="footer-subscription">
                                                                                             <h6 class="animated" data-animate="fadeInUp" data-delay=".6">Subscribe to our newsletter</h6>
                                                                                             <form id = "subscribe-form" class="subscription-form animated" data-animate="fadeInUp" data-delay=".7">
                                                                                                 <input type = "email" name="email" class="input-round required email" placeholder="Enter your email" required>
                /**/
                /**/
                                                     @*<input type="text" class="d-none" name="form-anti-honeypot" value="">*@
                /**/
                /**/
                                                                                         <button type="submit" class="btn btn-plane">Subscribe</button>
                                                                                         <div class="subscribe-results"></div>
                                                                                         </form>
                </div> -->
            </div><!-- .col  -->
            <div class="col-xl-4">
                <ul class="link-widget animated" data-animate="fadeInUp" data-delay=".8">
                    <li><a href="#intro" class="menu-link">@Localizer["VisionFooter"]</a></li>
                    <li><a href="#roadmap" class="menu-link">@Localizer["Roadmap"]</a></li>
                    <li><a href="#apps" class="menu-link">@Localizer["Use Cases"]</a></li>
                    <li><a href="#team" class="menu-link">@Localizer["Team"]</a></li>
                    <!-- <li><a href="#faq" class="menu-link">@Localizer["FAQs"]</a></li> -->
                    <li><a href="#contact" class="menu-link">@Localizer["Contact Us"]</a></li>
                    <li><a href="https://zboxstorage.blob.core.windows.net/zboxhelp/white%20paper%201.1.pdf" target="_blank" class="menu-link">@Localizer["Whitepaper"]</a></li>
                    <li><a href="https://www.spitball.co/" target="_blank" class="menu-link">@Localizer["Spitball 1.0"]</a></li>
                    <!--  <li><a href="#" class="menu-link">Teams</a></li>-->
                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
        <div class="gaps size-2x"></div>
        <div class="row">
            <div class="col-md-7">
                <span class="copyright-text">
                    @Localizer["Copyright & 2018, Cloudents LTD ."]
                    <span>@Localizer["All trademarks and copyrights belong to their respective owners."]</span>
                </span>
            </div><!-- .col  -->
            <div class="col-md-5 text-right mobile-left" id="footer">
                <ul class="footer-links">
                    <li><a href="https://www.spitball.co/privacy" target="_blank">@Localizer["Privacy Policy"]</a></li>
                    <li><a href="https://www.spitball.co/terms" target="_blank">@Localizer["Terms & Conditions"]</a></li>
                    <li>
                        <div class="language-switcher">
                            <a href="#" data-toggle="dropdown">@Localizer["EN"]</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">@Localizer["FR"]</a>
                                <a class="dropdown-item" href="#">@Localizer["CH"]</a>
                                <a class="dropdown-item" href="#">@Localizer["BR"]</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
<a id="mobile-whitepaper" href="https://zboxstorage.blob.core.windows.net/zboxhelp/white%20paper%201.1.pdf" target="_blank" class="btn btn-sm btn-outline menu-link">
    <em class="fa fa-file" style="margin-right: 8px;"></em> @Localizer["Download Whitepaper"]
</a>
<!-- <div class="card" id="telegramPopUp">
    <a href="#" id="closeTelegramPopUp" class="fa fa-times"></a>
    <div class="card-body">
        <h5 class="card-title">WE’RE ON TELEGRAM</h5>
        <h3 class="card-text">come ask us anything!</h3>
        <a href="https://t.me/Spitball" target="_blank" class="btn popUpbtn"><em class="fa fa-paper-plane" style="margin-right: 8px;"></em>Join us on Telegram</a>
    </div>
</div> -->
