@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model int

<div class="modal-body">
    <div class="quizPopupHeader">@QuizResources.QuizTime</div>
    <div class="classmatesWpr">
        <div class="friendsPics @(Model > 3 ? "plus" : "")" data-plus-count="@(Model-3) ">
            <span ng-repeat="user in popupUsers">
                <user-image name="user.name" image="user.image" width="50" height="50"></user-image>
            </span>
        </div>
        <div class="quizPopupTxtWpr">
            <div class="quizPopupTxt1">@QuizResources.OfYourMates</div>
            <div class="quizPopupTxt2">@QuizResources.YouReady</div>
        </div>
    </div>
    <div class="quizPopupBtnWpr">
        <button class="btn1" ng-click="takeChance()">@QuizResources.TakeChance</button>
        <button class="btn1" ng-click="afraidTry()">@QuizResources.Afraid</button>
    </div>
</div>
