@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model int

@*Guy: please add the class 'quizPopup' on the modal-dialog*@

<div class="modal-body">
    <div class="quizPopupHeader">@QuizResources.QuizTime</div>
    <div class="classmatesWpr">

        @*Guy:  (1) please add the class 'plus' to friendsPics are > 3 classmates who took the quiz
            (2) set a value to the data-plus-count attribute
            (3) Set the img src to /Images/user-img.png if there are < 3 classmates who took the quiz*@
        <div class="friendsPics @(Model > 3 ? "plus" : "")" data-plus-count="@(Model-3) ">
            <img ng-repeat="user in users" alt="" ng-src="{{user.image || '~/Images/user-img.png'}}" tooltip="{{user.name}}" width="51" height="51" />
        </div>
        <div class="quizPopupTxtWpr">
            <div class="quizPopupTxt1">@QuizResources.OfYourMates</div>
            <div class="quizPopupTxt2">@QuizResources.YouReady</div>
        </div>
    </div>
    <div class="quizPopupBtnWpr">
        <button class="btn1" ng-click="takeChance()">@QuizResources.TakeChance</button>
        <button class="btn1" ng-click="afraidTry()">@QuizResources.Afraid</button>
    </div>
</div>
