@using Zbang.Cloudents.Mvc4WebRole.Views.Quiz.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@*@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}*@

<script type="text/ng-template" id="quizChallenge.html">
    <h5 class="text-capitalize">@QuizResources.Time<br /> @QuizResources.Take</h5>
    <div class="completed-quiz" flex-xs="100" flex-gt-xs="50">
        <div layout="row" class="classmates backgrounds">
            <div class="classmates-images">
                <div class="img-wrapper" ng-repeat="user in ::q.topUsers">
                    <user-image class="img-circle c-img" name="::user.name" image="::user.image" width="25" height="25"></user-image>
                </div>
            </div>
            <span flex>{{::q.classmatesCount}} @QuizResources.OfClassmates</span>
        </div>
        <div class="ready backgrounds">
            <div class="img-wrapper">
                <md-icon md-svg-icon="q:bald"></md-icon>
                @*@Html.Svg("/images/site/quizicons.svg", "bald")*@
            </div>
            <span class="text-capitalize">@QuizResources.TestYourself</span>
        </div>
        <div class="buttons" layout="row" layout-align="center stretch">
            <button type="button" class="cancel-btn" ng-click="q.afraid()" ga-track-event="['quiz', 'scared']">@QuizResources.Scared</button>
            <button type="button" class="action-btn space-before" ng-click="q.start()" ga-track-event="['quiz', 'take a chance']">@QuizResources.Chance</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="quizGoodJob.html">
    <div class="goodjob">
        <h5 class="text-uppercase">@QuizResources.GoodJob</h5>
    </div>
    <div class="completed-quiz" flex-xs="100" flex-gt-xs="50">
        <div layout="row" layout-align="space-between center" class="complete backgrounds">
            <md-icon md-svg-icon="q:checkmark"></md-icon>
            @*@Html.Svg("/images/site/quizicons.svg", "checkmark")*@
            <span>@QuizResources.CompletedQuiz</span>
        </div>
        <div layout="row" layout-align="space-between center" class="ranking backgrounds">
            <md-icon md-svg-icon="q:rank"></md-icon>
            @*@Html.Svg("/images/site/quizicons.svg", "rank")*@
            <span>@QuizResources.Answered {{q.answersCount}}/{{::q.questions.length}}</span>
        </div>
        <div class="buttons" layout="row" layout-align="center stretch">
            <button type="button" class="cancel-btn text-capitalize" ng-click="q.back()" ga-track-event="['quiz', 'go back']">@QuizResources.GoBack</button>
            <button type="button" class="action-btn space-before text-capitalize" ng-click="q.checkAnswers()" ga-track-event="['quiz', 'submit']">@QuizResources.Submit</button>
        </div>
        <div class="like-wrapper">
            <span>@QuizResources.LikeLabel</span>&nbsp;
            <button @*ng-class="{liked:...}"*@>
                <div>
                    <md-icon md-svg-icon="b:like"></md-icon>@GeneralResources.Like
                </div>
            </button>
        </div>
    </div>
</script>


