@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources;

<input id="quizToggle" type="checkbox" class="checkbox" />
<label for="quizToggle" class="toggleQuiz"></label>
<aside id="quizSideBar" class="quizSideBar">
    <section class="quiz">
        <header>
            @QuizResources.CreateQuiz
            <button type="button" id="closeQuiz" class="closeDialog"></button>
        </header>
        <div ng-scrollbar rebuild-on-resize rebuild-on="rebuild:quiz" class="quizwpr">
            <div data-quizin="@SharedResources.Course:" class="quizLoc">{{quiz.courseName}}</div>
            <input type="text" ng-model="quiz.name" class="inputText quizName" placeholder="@QuizResources.ChooseName" autofocus ng-blur="saveQuiz()" />
            <ul class="quizQuestionList">
                <li class="questionHolder" ng-repeat=" question in quiz.questions" ng-include="'quizQuestionTemplate'"></li>
            </ul>
            <button type="button" class="quizAddQuestion iconTxt" ng-click="addQuestion()">@QuizResources.AddQuestion</button>
        </div>
        <div class="quizBottom">
            <button type="button" ng-click="saveQuiz()" class="saveQuiz btn1 lFloat">@QuizResources.Publish</button>
            <span class="error">@QuizResources.CheckQuiz</span>
            <button type="button" class="quizPreviewBtn rFloat" ng-click="previewQuiz()">@QuizResources.PreviewQuiz</button>
        </div>
    </section>
</aside>

<div id="quitQuizDialog" class="quitQuizDialog">
    <div class="popupWrppr confirm quitQuiz">
        <div>
            <header class="popupHeader">@QuizResources.LeaveQuiz</header>
            <button type="button" class="closeDialog"></button>
        </div>
        <div>
            <div class="quitQuizTxt">@QuizResources.NotFinished</div>
            <div>@QuizResources.ChooseDraft</div>
            <button type="button" id="quizClosePublish" class="btn1">@QuizResources.PublishQuiz</button>
            <button type="button" id="quizCloseDraft" class="btn1">@QuizResources.SaveDraft</button>
            <button type="button" id="quizCloseDelete" class="btn2">@QuizResources.DeleteQuiz</button>
        </div>
    </div>
    <div class="modal2"></div>
</div>

<script type="text/ng-template" id="quizQuestionTemplate">
    <form>
        <button type="button" class="closeDialog quizRemoveQuestion" ng-click="removeQuestion($index)"></button>
        <textarea class="inputText questionText" placeholder="@SharedResources.Question #{{$index + 1}}" ng-blur="saveQuestion(question)" ng-model="question.text" ></textarea>
        <span class="rFloat error addQuestion">@QuizResources.AddQuestion</span>
        <div class="lFloat answers">@SharedResources.Answers:</div>
        <span class="lFloat error addAnswer">@QuizResources.AddAnswer</span>
        <div class="rFloat correct">@QuizResources.CorrectAnswer</div>
        <ul class="quizAnswersList">
            <li class="quizAnswer" ng-repeat="answer in question.answers" ng-include="'quizAnswerTemplate'">
            </li>

            <li class="quizAnswer disabled">
                <textarea class="inputText questionAnswer" placeholder="@QuizResources.AddAnswer" readonly="readonly" ng-click="addAnswer(question)"></textarea>
                <input type="radio" class="correctAnswer" disabled="disabled" name="quizRadio" />
                <label></label>
            </li>
        </ul>
    </form>
</script>

<script type="text/ng-template" id="quizAnswerTemplate">
    <textarea class="inputText questionAnswer" placeholder="@SharedResources.Answer {{$index + 1}}" ng-blur="saveAnswer(question,answer)" ng-model="answer.text"></textarea>
    <input id="quizRadio{{$parent.$parent.$index}}{{$index}}" type="radio" class="correctAnswer"
           ng-disabled="isEmptyAnswer(answer)" ng-checked="answer.text.length && isCorrect(question,answer)" name="quizRadio" />
    <label for="quizRadio{{$parent.$parent.$index}}{{$index}}" ng-click="markCorrect(question,answer)"></label>

    

</script>

<script type="text/html" id="quizPreviewTemplate">
    <div class="quizPreview" id="preview">
        <h2 class="elps">{{name}}</h2>
        <button type="button" class="closePreview">@SharedResources.Back</button>
        <div class="quizTitle" data-questioncount="{{numOfQuestions}}">@QuizResources.MultipleChoice</div>
        <div class="quizPrevWpr">

            <ul class="quizQList">{{questions}}</ul>
        </div>
    </div>
</script>

<script type="text/html" id="quizQuestionPreviewTemplate">
    <li>
        <div class="qPreview">{{text}}</div>
        <ul class="quizAList">
            {{answers}}
        </ul>
    </li>
</script>

<script type="text/html" id="quizAnswerPreviewTemplate">
    <li><span {{correct}}>{{text}}</span></li>
</script>