@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using QuizResources = Zbang.Cloudents.Mvc4WebRole.Views.Quiz.Resources.QuizResources

<div class="full-screen quiz-create">
    <header>
        <div class="text-center text-capitalize">@QuizResources.CreateQuiz</div>
        <button type="button" ng-click="q.openClose()" class="close">@Html.Svg("~/images/site/icons.svg", "close")</button>
    </header>
    <div class="not-supported" hide-gt-md show-md show-sm>
        <div class="bubble">
            <div class="error-image">
                <img src="@Url.CdnContent("~/Images/Site/oops.png")" alt="Oops">
            </div>
            <div class="text">
                @QuizResources.NotSupported
            </div>
        </div>
    </div>

    <div class="supported" show-gt-md hide-md hide-sm>

        <span>@QuizResources.Course {{::q.boxName}}</span>
        <input class="form-control" ng-disabled="q.quizNameDisabled" type="text" placeholder="Enter quiz name" autofocus required ng-model="q.name" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="q.saveName()" ng-blur="q.saveNameOnBlur()" />
        <button type="button" ng-click="q.quizNameDisabled = false">@Html.Svg("~/images/site/icons.svg", "edit")</button>
        <div class="quiz-wrapper" ng-repeat="question in q.questions" ng-include="q.template(question)"></div>
        <button type="button" class="btn btn-primary text-capitalize add-question" ng-click="q.addQuestion()">@Html.Svg("~/images/site/icons.svg", "add") @QuizResources.AddQuestion</button>
        <button type="button" ng-click="q.publish()" class="btn btn-primary text-capitalize pull-right">@QuizResources.Publish</button>
    </div>
</div>

<script type="text/ng-template" id="create-quiz-question-template.html">
    <div id="{{question.$$hashKey}}" ng-form="questionForm" class="portlet box blue create-question">
        <div class="portlet-title">
            <div class="caption text-capitalize">@QuizResources.QuestionNumber{{$index + 1}}</div>
            <div class="tools">
                <button type="button" ng-show="q.deleteQuestionShow()" ng-click="q.deleteQuestion(question)">@Html.Svg("~/images/site/icons.svg", "delete")</button>
            </div>
        </div>
        <div class="portlet-body">
            <div placeholder="Write your question:" ng-blur="q.saveQuestion(question)" text-angular ta-text-editor-class="question-content" ng-model="question.text" data-ng-required></div>
            <div class="answers-header text-capitalize">@QuizResources.Answers</div>
            <span class="correct-answer-error">@QuizResources.CorrectAnswer</span>
            <ol class="counter">
                <li class="answer counter-inc" ng-repeat="answer in question.answers">
                    <div>
                        <span class="counter-view"></span>
                        <input type="text" required ng-model="answer.text" ng-blur="q.saveAnswer(question,answer)" placeholder="@QuizResources.Answer {{$index + 1}}" />
                    </div>
                    <input required type="radio" name="question {{$parent.$index}}" ng-disabled="!answer.text.length" ng-click="q.markcorrect(question,answer)" ng-checked="answer.id === question.correctAnswer" />
                    <button type="button" ng-show="q.deleteAnswerShow(question)" ng-click="q.deleteAnswer(question,answer)">@Html.Svg("~/images/site/icons.svg", "delete")</button>
                    <span class="error-answer-msg">@QuizResources.AddAnswer</span>
                </li>
                <li class="answer add-answer counter-inc" ng-click="q.addAnswer(question)">
                    <div>
                        <span class="counter-view"></span>
                        <input type="text" placeholder="@QuizResources.AddAnswer" />
                    </div>
                    <input disabled type="radio" />
                </li>
            </ol>
        </div>
    </div>
</script>

<script type="text/ng-template" id="quiz-question-template.html">
    <div class="quiz-question">
        <div class="q">
            <span class="index">{{$index + 1}}.</span>
            <div class="q-body" ng-bind-html="::question.text"></div>
            <div class="q-actions">
                <button type="button" ng-click="q.editQuestion(question)">@Html.Svg("~/images/site/icons.svg", "edit")</button>
                <button type="button" ng-show="q.deleteQuestionShow()" ng-click="q.deleteQuestion(question)">@Html.Svg("~/images/site/icons.svg", "delete")</button>
            </div>
        </div>
        <ol class="counter">
            <li class="counter-inc" ng-repeat="answer in question.answers">
                <div class="circle">
                    <span class="counter-view"></span>
                </div>
                <div class="a-body">
                    {{::answer.text}}
                </div>
            </li>
        </ol>
    </div>
</script>


<script type="text/ng-template" id="quiz-create-leave-template.html">
    <h4 class="text-capitalize">@QuizResources.Leave</h4>
    <div class="text-capitalize">@QuizResources.CanChoose</div>
    <div>(@QuizResources.OnlyYou)</div>
    <div class="buttons">
        <button type="button" class="btn btn-default save text-capitalize" ng-click="c.draft()">@QuizResources.Draft</button>
        <button type="button" class="btn btn-default delete text-capitalize" ng-click="c.delete()">@GeneralResources.Delete</button>
    </div>
</script>