@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using QuizResources = Zbang.Cloudents.Mvc4WebRole.Views.Quiz.Resources.QuizResources

<div class="full-screen quiz-create">
    <header layout="row">
        <div flex class="text-center text-capitalize">@GeneralResources.CreateQuiz</div>
        <button flex="none" type="button" ng-click="q.openClose()" class="close" ga-track-event="['createQuiz', 'close']">@Html.Svg("~/images/site/icons.svg", "close")</button>
    </header>
    <div class="not-supported" hide-gt-sm show-xs show-sm>
        <div class="bubble">
            <div class="error-image">
                <img src="@Url.CdnContent("~/Images/Site/oops.png")" alt="Oops">
            </div>
            <div class="text">
                @QuizResources.NotSupported
            </div>
        </div>
    </div>

    <div class="supported" show-gt-sm hide-xs hide-sm id="quizCreate">

        <span class="course-name">{{::q.boxName}}</span>

        <md-input-container class="quiz-name" md-no-float>
            <input class="form-control" focus-me="q.quizNameDisabled === false" ng-disabled="q.quizNameDisabled" type="text" placeholder="Enter quiz name" autofocus required ng-model="q.name" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="q.saveName()" ng-blur="q.saveNameOnBlur()" />
            <button type="button" ng-click="q.quizNameDisabled = false">@Html.Svg("~/images/site/icons.svg", "edit")</button>
        </md-input-container>

        <div id="create-question" class="quiz-wrapper" ng-repeat="question in q.questions" ng-include="q.template(question)"></div>
        
            <button type="button" class="btn btn-primary text-capitalize add-question" ng-click="q.addQuestion()" ga-track-event="['createQuiz', 'add question']">
                <div layout="row" layout-align="start center">
                    @Html.Svg("~/images/site/icons.svg", "add")
                    <span>@QuizResources.AddQuestion</span>
                </div>
            </button>
            <button type="button" ng-click="q.publish()" ng-disabled="q.submitDisabled" class="btn btn-primary text-capitalize pull-right" ga-track-event="['createQuiz', 'publish quiz']">@QuizResources.Publish</button>
        <div id="quiz-error"></div>
    </div>
</div>

<script type="text/ng-template" id="create-quiz-question-template.html">
    <div id="{{question.$$hashKey}}" ng-form="questionForm" class="portlet box blue create-question">
        <div class="portlet-title">
            <div class="caption text-capitalize">@QuizResources.QuestionNumber{{$index + 1}}</div>
            <div class="tools">
                <button type="button" ng-show="q.deleteQuestionShow()" ng-click="q.deleteQuestion(question)" ga-track-event="['createQuiz', 'delete question']">@Html.Svg("~/images/site/icons.svg", "delete")</button>
            </div>
        </div>
        <div class="portlet-body">
            <div placeholder="Write your question:" ng-blur="q.saveQuestion(question)" text-angular ta-text-editor-class="question-content" ng-model="question.text" data-ng-required></div>
            <div class="header" layout="row" layout-align="start center">
                <div class="answers-header text-capitalize">@QuizResources.Answers</div>
                <span class="correct-answer text-capitalize">@QuizResources.CorrectAnswer</span>
            </div>
            <ol class="counter">
                <li class="answer counter-inc" ng-repeat="answer in question.answers">
                    <div>
                        <span class="counter-view"></span>
                        <input type="text" required ng-model="answer.text" ng-blur="q.saveAnswer(question,answer)" placeholder="@QuizResources.Answer {{$index + 1}}" />
                    </div>
                    <input required type="radio" name="question {{$parent.$index}}" ng-disabled="!answer.text.length" ng-click="q.markcorrect(question,answer)" ng-checked="answer.id === question.correctAnswer" />
                    <button type="button" ng-show="q.deleteAnswerShow(question)" ng-click="q.deleteAnswer(question,answer)" ga-track-event="['createQuiz', 'delete answer']">@Html.Svg("~/images/site/icons.svg", "delete")</button>
                    <span class="error-answer-msg">@QuizResources.AddAnswer</span>
                </li>
                <li class="answer add-answer counter-inc" ng-click="q.addAnswer(question)">
                    <div>
                        <span class="counter-view"></span>
                        <input disabled type="text" placeholder="@QuizResources.AddAnswer" />
                    </div>
                    <input disabled type="radio" />
                </li>
            </ol>
        </div>
    </div>
</script>

<script type="text/ng-template" id="quiz-question-template.html">
    <div class="quiz-question">
        <div class="q">
            <span class="index">{{$index + 1}}.</span>
            <div class="q-body" ng-bind-html="::question.text"></div>
            <div class="q-actions">
                <button type="button" ng-click="q.editQuestion(question)" ga-track-event="['createQuiz', 'edit question']">@Html.Svg("~/images/site/icons.svg", "edit")</button>
                <button type="button" ng-show="q.deleteQuestionShow()" ng-click="q.deleteQuestion(question)" ga-track-event="['createQuiz', 'delete question']">@Html.Svg("~/images/site/icons.svg", "delete")</button>
            </div>
        </div>
        <ol class="counter">
            <li class="counter-inc" ng-repeat="answer in question.answers">
                <div class="circle">
                    <span class="counter-view"></span>
                </div>
                <div class="a-body">
                    {{::answer.text}}
                </div>
            </li>
        </ol>
    </div>
</script>


<script type="text/ng-template" id="quiz-create-leave-template.html">
    <h4 class="text-capitalize">@QuizResources.Leave</h4>
    <div class="text-capitalize">@QuizResources.CanChoose</div>
    <div>(@QuizResources.OnlyYou)</div>
    <div class="buttons text-capitalize">
        <button type="button" class="btn btn-default save" ng-click="c.draft()">@QuizResources.Draft</button>
        <button type="button" class="btn btn-default" ng-click="c.delete()">@GeneralResources.Delete</button>
    </div>
</script>