@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using QuizResources = Zbang.Cloudents.Mvc4WebRole.Views.Quiz.Resources.QuizResources


<header class="" layout="row">
    <div flex class="text-center text-capitalize">@GeneralResources.CreateQuiz</div>
    <button flex="none" type="button" ng-click="q.close($event)" class="close" ga-track-event="['createQuiz', 'close']"><md-icon md-svg-icon="t:close"></md-icon>@*@Html.Svg("~/images/site/icons.svg", "close")*@</button>
</header>
<div class="not-supported" hide-gt-sm show-xs show-sm>
    <div class="bubble">
        <div class="error-image">
            <img src="@Url.CdnContent("~/Images/Site/oops.png")" alt="Oops">
        </div>
        <div class="text">
            @QuizResources.NotSupported
        </div>
    </div>
</div>

<div class="supported" show-gt-sm hide-xs hide-sm id="quizCreate">
    <span class="course-name" ng-bind="::q.boxName"></span>
    <form name="quizName" novalidate>
        <md-input-container class="quiz-name" md-no-float>
            <input class="form-control" name="name" ng-disabled="q.quizNameDisabled && q.quizData.name" type="text"
                   placeholder="@QuizResources.EnterQuizName" autofocus required md-no-asterisk ng-model="q.quizData.name"
                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-blur="q.quizNameDisabled = true" />
            <button type="button" ng-click="q.quizNameDisabled = false"><md-icon md-svg-icon="t:edit"></md-icon>@*@Html.Svg("~/images/site/icons.svg", "edit")*@</button>
            <div class="error-message show" ng-messages="quizName.name.$error" ng-show="true">
                <div ng-message="required">@GeneralResources.RequiredField</div>
            </div>
        </md-input-container>
    </form>
    <form novalidate name="createQuestions" id="create-question">
        <div class="quiz-wrapper" ng-repeat="question in q.quizData.questions" ng-include="q.template(question)"></div>
    </form>
    <div layout="row" layout-align="space-between center">
        <button type="button" class="action-btn add-question" ng-click="q.addQuestion()" ga-track-event="['createQuiz', 'add question']">
            <div layout="row" layout-align="start center">
                <md-icon md-svg-icon="t:add"></md-icon>
                <span>@QuizResources.AddQuestion</span>
            </div>
        </button>
        <button id="quiz-error" type="button" ng-click="q.publish()" ng-disabled="q.submitDisabled" class="action-btn"
                ga-track-event="['createQuiz', 'publish quiz']">
            @QuizResources.Publish
        </button>
    </div>
</div>

<script type="text/ng-template" id="create-quiz-question-template.html">
    <div @*id="{{question.$$hashKey}}"*@ @*form="questionForm-{{$index + 1}}"*@ class="create-question">
        <div class="title" layout="row" layout-align="start center">
            <div class="text">@QuizResources.QuestionNumber{{$index + 1}}</div>
            <div class="tools">
                <button type="button" ng-show="q.quizData.questions.length > 1" ng-click="q.deleteQuestion(question)" ga-track-event="['createQuiz', 'delete question']"><md-icon md-svg-icon="t:delete"></md-icon></button>
            </div>
        </div>
        <div novalidate class="question-body" @*name="questionForm{{$index}}"*@ @*ng-blur="q.blur()"*@ @*bind-to-scope="$parent.$parent"*@ @*due to ng repeat ng include*@>
            <div placeholder="@QuizResources.WriteQuestion:" @*ng-blur="q.saveQuestion(question)"*@ text-angular ta-text-editor-class="question-content" ng-model="question.text" data-ng-required @*need data*@></div>
            <div class="header" layout="row" layout-align="start center">
                <div class="answers-header text-capitalize">@QuizResources.Answers</div>
                <span class="correct-answer text-capitalize">@QuizResources.CorrectAnswer</span>
            </div>
            <input type="hidden" ng-model="z" name="valids_{{$index}}" />
            
            <md-radio-group ng-model="question.correctAnswer">
                <ol class="counter">
                    <li class="answer counter-inc" ng-repeat="answer in question.answers">
                        <div>
                            <span class="counter-view"></span>
                            <input type="text" required ng-model="answer.text" @*ng-blur="q.saveAnswer(question,answer)"*@ placeholder="@QuizResources.Answer {{$index + 1}}" />
                        </div>
                        <md-radio-button aria-label="Correct Answer" required name="question-{{$parent.$index}}" ng-disabled="!answer.text.length" @*ng-click="q.markcorrect(question,answer)"*@ value="{{$index}}"></md-radio-button>
                        <button type="button" ng-show="question.answers.length > 2" ng-click="question.removeAnswer($index)" ga-track-event="['createQuiz', 'delete answer']"><md-icon md-svg-icon="t:delete"></md-icon>@*@Html.Svg("~/images/site/icons.svg", "delete")*@</button>
                        <span class="error-answer-msg">@QuizResources.AddAnswer</span>
                    </li>
                    <li class="answer add-answer counter-inc">
                        <div ng-click="question.addAnswer()">
                            <span class="counter-view"></span>
                            <span class="disabled">@QuizResources.AddAnswer</span>
                        </div>
                        <md-radio-button aria-label="Add answer" ng-disabled="true" value="-1"></md-radio-button>
                    </li>
                </ol>
            </md-radio-group>
            <div class="error-message" ng-messages="createQuestions['valids_' + $index].$error" @*ng-show="createBox.name.$dirty"*@>
                <div ng-message="server">{{q.error}}</div>
            </div>
        </div>
        
    </div>
</script>

<script type="text/ng-template" id="quiz-question-template.html">
    <div class="quiz-question">
        <div class="q">
            <span class="index">{{$index + 1}}.</span>
            <div class="q-body" ng-bind-html="::question.text"></div>
            <div class="q-actions">
                <button type="button" ng-click="q.editQuestion(question)" ga-track-event="['createQuiz', 'edit question']"><md-icon md-svg-icon="t:edit"></md-icon></button>
                <button type="button" @*ng-show="q.deleteQuestionShow()"*@ ng-click="q.deleteQuestion(question)" ga-track-event="['createQuiz', 'delete question']"><md-icon md-svg-icon="t:delete"></md-icon></button>
            </div>
        </div>
        <ol class="counter">
            <li class="counter-inc" ng-repeat="answer in ::question.answers">
                <div class="circle">
                    <span class="counter-view"></span>
                </div>
                <div class="a-body" ng-bind="::answer.text"></div>
            </li>
        </ol>
    </div>
</script>

