@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources;

<input id="quizToggle" type="checkbox" class="checkbox" />
<label for="quizToggle" class="toggleQuiz"></label>
<aside id="quizSideBar" class="quizSideBar">
    <section class="quiz">
        <header>
            @QuizResources.CreateQuiz
            <button id="closeQuiz" class="closeDialog"></button>
    </header>
    <div class="quizWpr">
        <div data-quizin="@SharedResources.In" class="quizLoc"></div>
        <input type="text" class="inputText quizName" placeholder="@QuizResources.ChooseName" />
        <ul class="quizQuestionList" id="quizQuestionList"></ul>
        <button class="quizAddQuestion iconTxt" id="quizAddQuestion">@QuizResources.AddQuestion</button>
    </div>
    <div class="quizBottom">
        <button id="saveQuiz" class="saveQuiz btn1 lFloat">@QuizResources.Publish</button>
        <span class="error">@QuizResources.CheckQuiz</span>
        <button class="quizPreviewBtn rFloat" id="quizPreview">@QuizResources.PreviewQuiz</button>
    </div>
</section>
</aside>

<div id="quitQuizDialog" class="quitQuizDialog">
    <div class="popupWrppr confirm quitQuiz">
        <div>
            <header class="popupHeader">@QuizResources.LeaveQuiz</header>
            <button class="closeDialog"></button>
        </div>
        <div>
            <div class="quitQuizTxt">@QuizResources.NotFinished</div>
            <div>@QuizResources.ChooseDraft</div>
            <button type="button" id="quizClosePublish" class="btn1">@QuizResources.PublishQuiz</button>
            <button type="button" id="quizCloseDraft" class="btn1">@QuizResources.SaveDraft</button>
            <button type="button" id="quizCloseDelete" class="btn2">@QuizResources.DeleteQuiz</button>
        </div>
    </div>
    <div class="modal2"></div>
</div>

<script type="text/html" id="quizQuestionTemplate">
    <li class="questionHolder">
        <form>
            <button class="closeDialog quizRemoveQuestion"></button>
            <textarea class="inputText questionText" placeholder="@SharedResources.Question #{{index}}"></textarea>
            <span class="rFloat error addQuestion">@QuizResources.AddQuestion</span>
            <div class="lFloat answers">@SharedResources.Answers:</div>
            <span class="lFloat error addAnswer">@QuizResources.AddAnswer</span>
            <div class="rFloat correct">@QuizResources.CorrectAnswer</div>
            <ul class="quizAnswersList">                
                <li class="quizAnswer disabled">
                    <textarea class="inputText questionAnswer" placeholder="@QuizResources.AddAnswer" readonly="readonly"></textarea>
                    <input type="radio" class="correctAnswer" disabled="disabled" name="quizRadio" />
                    <label></label>
                </li>
            </ul>
        </form>
    </li>
</script>

<script type="text/html" id="quizAnswerTemplate">
    <li class="quizAnswer">
        <textarea class="inputText questionAnswer" placeholder="@SharedResources.Answer {{index}}"></textarea>
        <input id="quizRadio{{topIndex}}{{index}}" type="radio" class="correctAnswer" name="quizRadio" />
        <label for="quizRadio{{topIndex}}{{index}}"></label>
    </li>
</script>

<script type="text/html" id="quizPreviewTemplate">
    <div class="quizPreview" id="preview">
        <h2>{{name}}</h2>
        <button class="closeDialog"></button>
        <div class="quizTitle" data-questioncount="{{numOfQuestions}}">@QuizResources.MultipleChoice</div>
        <div class="quizPrevWpr">

            <ul class="quizQList">{{questions}}</ul>
        </div>
    </div>
</script>

<script type="text/html" id="quizQuestionPreviewTemplate">
    <li>
        <div>{{text}}</div>
        <ul class="quizAList">
            {{answers}}
        </ul>
    </li>
</script>

<script type="text/html" id="quizAnswerPreviewTemplate">
    <li ><span {{correct}}>{{text}}</span></li>
</script>