@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Quiz.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@*@{
        const string svgUrl = "~/images/site/quizIcons.svg";
    }*@

<header layout="row" layout-align="space-between center">
    <div class="ellipsis text-center" id="quiz-top" ng-bind-html="::q.name"></div>
    <button type="button" ng-click="app.back(q.boxUrl)" class="close" ga-track-event="['quiz', 'close quiz']"><md-icon md-svg-icon="t:close"></md-icon></button>
</header>

<div md-swipe-left="q.swipeLeft()" md-swipe-right="q.swipeRight()">
    <div class="arrows prev" ng-if="q.state === 2 || q.state === 4">

        <button type="button" ng-click="q.back()" hide-xs ng-show="q.index > 0 && q.index < q.questions.length" ga-track-event="['quiz', 'previous question']">
            <md-icon md-svg-icon="t:arrow"></md-icon>
        </button>
    </div>
    <div class="wrapper">
        <div ng-if="q.state === 4" class="solveActions">
            <div layout="row" layout-align="center center">
                    <button flex="100" class="action-btn" type="button" ng-click="q.retakeQuiz()" ga-track-event="['quiz', 'retake quiz']">@QuizResources.Retake</button>
                
            </div>

            <div layout-wrap layout="row" layout-align="space-between stretch">
                <div flex-xs="100" class="black-bullet score">
                    <h5 class="text-capitalize">@QuizResources.Score</h5>
                    {{q.sheet.score}}
                </div>

                <div flex-xs="100" class="black-bullet score-details">
                    <div class="correct">
                        <md-icon md-svg-icon="q:correct"></md-icon>
                        @*@Html.Svg(svgUrl, "correct")*@
                        <div class="text">
                            <h6>@QuizResources.Correct</h6>
                            {{q.sheet.correct}}
                        </div>
                    </div>
                    <div class="wrong">
                        <div class="text">
                            <h6>@QuizResources.Wrong</h6>
                            {{q.sheet.wrong}}

                        </div>
                        <md-icon md-svg-icon="q:wrong"></md-icon>
                    </div>
                </div>

                <div flex-xs="100" class="black-bullet time-taken" layout="row" layout-align="center center">
                    <md-icon md-svg-icon="q:clock"></md-icon>
                    <span class="text">{{q.sheet.timeTaken}}</span>
                </div>
            </div>

        </div>
        <div layout="row" class="quiz-take-stats" ng-class="{'no-progress': q.state === 1}" ng-show="q.state !== 4">
            <div flex="none" layout="row" layout-align="start center" class="stop-watch-wrapper">
                <stopwatch control="q.timerControl"></stopwatch>

                <button type="button" class="stopwatch-btn" ng-click="q.timerControl.toggle()" ng-disabled="q.state === 1">
                    <md-icon md-svg-icon="q:pause" class="pause" ng-if="q.timerControl.isRunning"></md-icon>
                    <md-icon md-svg-icon="q:play" class="play" ng-if="!q.timerControl.isRunning"></md-icon>
                </button>

            </div>
            <div flex class="progress-wrapper">
                <span class="question-progress">{{q.index + 1}}/{{q.questions.length}}</span>
                <md-progress-linear md-mode="determinate" value="{{q.index /(q.questions.length - 1)*100}}"></md-progress-linear>
            </div>
        </div>
        <div class="quiz-challenge" ng-if="q.state === 1" ng-include="'quizChallenge.html'"></div>
        <div class="quiz-wrapper" ng-class="q.isCorrect(q.questions[q.index])" ng-if="q.state === 2 || q.state === 4">
            <div class="no-answer-element">@QuizResources.NoAnswer</div>
            <div ng-if="q.index < q.questions.length" ng-include="'quiz-question-template.html'" ng-repeat="question in ::q.questions"></div>
            <div ng-if="q.state === 4" class="add-discussion">
                <form class="clearfix" novalidate name="addDiscussion" ng-submit="q.postComment(q.questions[q.index],addDiscussion)">
                    <md-input-container md-no-float>
                        <textarea required md-no-asterisk placeholder="@ItemsResources.CreateComment" name="newComment" ng-model="q.questions[q.index].newComment"></textarea>
                        <div ng-messages="addDiscussion.newComment.$error">
                            <div ng-message="required">@GeneralResources.RequiredField</div>
                        </div>
                        <button class="action-btn pull-right" ng-disabled="!addDiscussion.$valid" type="submit" ga-track-event="['quiz', 'post comment']">@GeneralResources.Post</button>
                    </md-input-container>

                </form>
                <ol class="list-unstyled replies feed" ng-if="q.questions[q.index].comments.length">
                    <li ng-repeat="post in q.questions[q.index].comments" class="comment reply post">
                        <div class="indent info">
                            <a href="{{::post.userUrl}}" layout="row" layout-align="start center" class="userblock username" ga-track-event="['quiz', 'go to user page']">
                                <user-image class="c-img" name="::post.userName" image="::post.userImage" width="52" height="52"></user-image>
                                <span class="user-name ellipsis">{{::post.userName}}</span>
                            </a>
                            <time-ago class="comment-date" from-time="{{::post.creationTime }}" format="mediumDate"></time-ago>
                        </div>
                        <md-menu ng-if="post.userId === q.user.id">
                            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['quiz', 'deletePost']">
                                <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                            </md-button>
                            <md-menu-content width="1">
                                <md-menu-item>
                                    <md-button ng-click="q.removeComment(q.questions[q.index], post)" ga-track-event="['quiz', 'didDelete']">
                                        @GeneralResources.Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <div ng-bind-html="::post.content | linky:'_blank'" class="indent content-text"></div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="quiz-challenge" ng-if="q.state === 3" ng-include="'quizGoodJob.html'">

        </div>
    </div>
    <div class="arrows next" ng-if="q.state === 2 || q.state === 4">
        <button type="button" hide-xs ng-show="(q.state === 2 && q.index < q.questions.length) || (q.state === 4 && q.index < q.questions.length - 1)" ng-click="q.next()" ga-track-event="['quiz', 'next question']">
            <md-icon md-svg-icon="t:arrow"></md-icon>
        </button>
    </div>
</div>



@{Html.RenderPartial("_QuizChallenge");}

<script type="text/ng-template" id="quiz-question-template.html">
    <div class="quiz-question" ng-show="$index === q.index">
        <div class="q">
            <span class="index">{{$index + 1}}.</span>
            <div class="q-body" ng-bind-html="::question.text"></div>
        </div>
        <ol class="counter">
            <li class="counter-inc" ng-repeat="answer in ::question.answers">
                <div class="circle">
                    <button type="button" ng-disabled="q.isSolved" class="counter-view" ng-class="{'answer-selected' : question.selectedAnswer === answer, 'correct-answer': q.isCorrectAnswer(question,answer)}" ng-click="q.selectAnswer(question,answer)"></button>
                </div>
                <div class="a-body" ng-bind-html="::answer.text"></div>
            </li>
        </ol>
    </div>
</script>
