@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources


@model Zbang.Zbox.ViewModel.DTOs.ItemDtos.ItemWithDetailDto

<div id="quiz" class="page itemPage quizPage">
    <div class="leftPanel lFloat">
        <div class="itemTop">
            <div class="moreFilesThumb lFloat"></div>
            <div class="itemNameWpr">
                <div class="item-name semiFont"><span role="textbox" class="itemNameText" data-bind="text: itemName, attr: { 'data-title': itemName, 'data-name': itemName }">Quiz name here</span></div>
            </div>
            <div class="itemOwner elps">
                <span class="calloutTrgr" data-bind="text: ownerName, attr: { 'data-uid': ownerId }">Owner name here</span>
            </div>
            <span class="lFloat" data-bind="text: update">28/01/03</span>
            <button type="button" class="itemFlag rFloat" data-bind="click: flagItem, visible: flagAllow()">@ItemsResources.Flag</button>
            <div class="actions">
                <span data-title="@SharedResources.Views" class="lFloat views" data-bind="text: numberOfViews">12312</span>
                <span data-title="@SharedResources.Downloads"  class="lFloat downloads" data-bind="text: numberOfDownloads">4365</span>
                <div  class="rFloat rateContainer">
                    <span class="stars">
                        <span class="full" data-bind="style: { width: rate() + 'px' }"></span>
                    </span>
                    <button type="button"  class="rateBtn"></button>
                    <div  class="bubble">
                        <div class="arrow upArrow"></div>
                        <div data-step2="@ItemsResources.Thankyou" data-step1="@ItemsResources.RateItem" class="bubbleText"></div>

                        <ul class="rateList">
                            <li  class="star">5</li>
                            <li  class="star star4">4</li>
                            <li  class="star star3">3</li>
                            <li  class="star star2">2</li>
                            <li  class="star star1">1</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <h3 class="sectionHeader">@QuizResources.QuizSummary</h3>
        <div class="userResults">
            <div class="userScore" data-user-score="70">@QuizResources.YourScore:</div>
            <div>@QuizResources.YouGot:</div>
            <div class="results" data-results="7">@QuizResources.Correct</div>
            <div class="results wrong" data-results="3">@QuizResources.Wrong</div>
            <div>@QuizResources.TimeWas:</div>
            <div class="quizTime" data-time-unit="@QuizResources.Min">00:12:45</div>
            <button class="btn1">@QuizResources.RetakeQuiz</button>
        </div>
    </div>
    <div class="itemRight">
        <div class="itemActions topBar barShadow">
            
            <section class="shareBtn rFloat">
                <input class="checkbox" type="checkbox" id="quizShare" data-ddcbox="itemShare" />
                <label for="itemShare" class="shareBtnTxt iconTop">@SharedResources.Share</label>
                <div class="dropDown shareDD" data-dropdown="itemShare">
                    <label class="closeItem rFloat" for="itemShare"></label>
                    <div class="arrow shareArrow"></div>
                    <h4 class="semiFont">@SharedResources.ShareItem</h4>
                    <div class="shareTxt">@SharedResources.ShareUsing</div>
                    <ul class="shareList">
                        <li class="shareItem">
                            <button type="button" id="quiz_FS" class="fbShare">@SharedResources.Facebook</button></li>

                        @if (User.Identity.IsAuthenticated)
                            {
                            <li class="shareItem">
                                <button type="button" id="quiz_msg" class="emailShare">@SharedResources.Email</button></li>
                            }
                    </ul>
                    <div class="shareTxt">@SharedResources.OrCopyLink</div>
                    <input type="text" id="quiz_CL" class="linkShare elps" readonly="readonly" data-bind="value: copyLink" />
                </div>
            </section>

            <a class="backWpr elps lFloat" data-navigation="Box" data-bind=" attr: { href: boxurl }">
                <div>@ItemsResources.Backto</div>
                <h2 class="semiFont elps" data-bind="text: boxName">Box name here</h2>
            </a>
        </div>
        <div class="quizTitle" data-questioncount="3">multiple choice questions</div>
        <div class="quizPrevWpr">

            <ul class="quizQList">
                <li class="userCorrect">
                    <div>Why did the duck cross the road?</div>
                    <ul class="quizAList">

                        <li class="correct">To get to the other side</li>

                        <li>To prove he's no chicken</li>

                        <li>because it was the chicken's day off</li>

                    </ul>
                </li>

                <li class="userWrong">
                    <div>Why did the duck cross the road?</div>
                    <ul class="quizAList">

                        <li>To get to the other side</li>

                        <li class="correct">To prove he's no chicken</li>

                        <li class="wrong">because it was the chicken's day off</li>

                    </ul>
                </li>

                <li class="userCorrect">
                    <div>Why did the duck cross the road?</div>
                    <ul class="quizAList">

                        <li>To get to the other side</li>

                        <li>To prove he's no chicken</li>

                        <li class="correct">because it was the chicken's day off</li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
