@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources

@model Zbang.Zbox.ViewModel.DTOs.ItemDtos.QuizWithDetailDto

<div id="quiz" class="page itemPage quizPage" data-data="@ViewBag.userD">
    <div class="leftPanel lFloat">
        <div class="itemTop">
            <div class="moreFilesThumb lFloat"></div>
            <div class="itemNameWpr">
                <div class="item-name semiFont"><span role="textbox" class="itemNameText">@Model.Name</span></div>
            </div>
            <div class="itemOwner elps">
                <span class="calloutTrgr" data-uid="@Model.OwnerId">@Model.Owner</span>
            </div>
            <span class="lFloat">@Model.Date.ToString("d/M/yy")</span>
            @*<button type="button" class="itemFlag rFloat">@ItemsResources.Flag</button>*@
            <div class="actions">
                <span data-title="@SharedResources.Views" class="lFloat views">@Model.NumberOfViews</span>

                @*<div id="quizRateContainer" class="rFloat rateContainer">
                    <span class="stars">
                        <span class="full" data-bind="style: { width: rate() + 'px' }"></span>
                    </span>
                    <button type="button" id="quizRateBtn" class="rateBtn"></button>
                    <div id="quizRateBubble" class="bubble">
                        <div class="arrow upArrow"></div>
                        <div data-step2="ItemsResources.Thankyou" data-step1="@ItemsResources.RateItem" class="bubbleText"></div>

                        <ul class="rateList">
                            <li id="star5" class="star">5</li>
                            <li id="star4" class="star star4">4</li>
                            <li id="star3" class="star star3">3</li>
                            <li id="star2" class="star star2">2</li>
                            <li id="star1" class="star star1">1</li>
                        </ul>
                    </div>
                </div>*@
            </div>
        </div>
        <h3 class="sectionHeader">@QuizResources.QuizSummary</h3>
        <div class="timeWpr0">
            <button type="button" class="btn1 rFloat" id="quizTimerToggle" data-quiz-play="@QuizResources.Play" data-quiz-pause="@QuizResources.Pause">@QuizResources.Play</button>
            <div data-timer-label="@QuizResources.Timer" class="quizTime" id="quizTimer">00:00:00</div>
        </div>
        <div class="userResults">
            <div id="quizUserScore" class="userScore" data-user-score="70">@QuizResources.YourScore:</div>
            <div class="resultsWpr">
                <div>@QuizResources.YouGot:</div>
                <div id="quizUserRight" class="results" data-results="7">@QuizResources.Correct</div>
                <div id="quizUserWrong" class="results wrong" data-results="3">@QuizResources.Wrong</div>
            </div>
            <div class="timeWpr">
                <div>@QuizResources.TimeWas:</div>
                <div id="quizTimerResult" class="quizTime">00:00:00</div>
                <button type="button" id="quizRetake" class="btn1">@QuizResources.RetakeQuiz</button>
            </div>
        </div>
    </div>
    <div class="itemRight">
        <div id="quizRatePopup" class="ratePopup">
            <div class="rateTxt2">@SharedResources.SweetThanks</div>
            <div class="rateWpr">
                <span class="lFloat rateTxt">@ItemsResources.RateItem</span>
                <span class="starsWpr lFloat">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </span>
            </div>
            <button type="button" class="closeDialog" data-closediag="close"></button>
        </div>
        <div class="itemActions topBar barShadow">
            <section class="shareBtn rFloat">
                <input class="checkbox" type="checkbox" id="quizShare" data-ddcbox="quizShare" />
                <label for="quizShare" class="shareBtnTxt iconTop">@SharedResources.Share</label>
                <div class="dropDown shareDD" data-dropdown="quizShare">
                    <label class="closeItem rFloat" for="quizShare"></label>
                    <div class="arrow shareArrow"></div>
                    <h4 class="semiFont">@SharedResources.ShareItem</h4>
                    <div class="shareTxt">@SharedResources.ShareUsing</div>
                    <ul class="shareList">
                        <li class="shareItem">
                            <button type="button" id="quiz_FS" class="fbShare">@SharedResources.Facebook</button>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="shareItem">
                                <button type="button" id="quiz_msg" class="emailShare">@SharedResources.Email</button>
                            </li>
                        }
                    </ul>
                    <div class="shareTxt">@SharedResources.OrCopyLink</div>
                    <input type="text" id="quiz_CL" class="linkShare" readonly="readonly" />
                </div>
            </section>

            <a id="quizBackBtn" href="@ViewBag.boxUrl"class="backWpr elps lFloat" data-navigation="Box">
                <div>@SharedResources.Backto</div>
                <h2 class="semiFont elps">@ViewBag.boxName</h2>
            </a>
            @*<button type="button" class="itemPrint iconTop" id="quiz_P" data-link="@Url.Action("Print", "Item")">@ItemsResources.Print</button>*@
        </div>
        <div class="quizTitle">@Html.Raw(Model.Name)</div>
        <div class="quizPrevWpr">
            @{
                var questionIndex = 0;
            }
          
            <ul class="quizQList" data-no-answer="@QuizResources.NoAnswer" id="quizTQuestion">
                @foreach (var item in Model.Questions)
                {
                    var answerIndex = 0;
                    <li data-id="@item.Id">
                        <div class="quizQuestion">@Html.Raw(item.Text)</div>
                        <ul class="quizAList">
                            @foreach (var answer in item.Answers)
                            {
                                <li class="@(answer.Id==item.CorrectAnswer?"correct":string.Empty) ">
                                    <input data-id="@answer.Id" id="@string.Format("quizTestRadio{0}{1}", questionIndex, answerIndex)" type="radio" name="@string.Format("quizTestRadio{0}", questionIndex)" />
                                    <label for="@string.Format("quizTestRadio{0}{1}", questionIndex, answerIndex)">@Html.Raw(answer.Text)</label>
                                </li>
                                answerIndex++;
                            }
                        </ul>
                        <div class="commentWpr">
                            <div class="splitHR"><button class="splitHRText" data-discussion="discussion" type="button"><span class="qNumOfCmnts iconTxt">@IndexResources.AddComment</span></button></div>
                            
                            <ul class="quizComments"></ul>
                            
                            <div class="cTextAreaWpr">
                                <img class="quizUserCommentImg imgBorder lFloat" src=""  alt="" width="32" height="32" />
                                <textarea class="cTextArea" placeholder="@SharedResources.WriteComment"></textarea>
                                <button type="submit" disabled class="askBtn rFloat">@SharedResources.Comment</button>
                            </div>
                        </div>
                    </li>
                            questionIndex++;
                }
            </ul>
            <button type="button" class="btn1" id="quizCheckAnswers" disabled="disabled">@QuizResources.CheckAnswers</button>
        </div>
    </div>
</div>


<script type="text/html" id="quizCommentTemplate">
    <li data-id="{{id}}">
        <button type="button" class="closeDialog"></button>
        <img class="imgBorder calloutTrgr" data-uid="{{userId}}" width=" 32" height="32" alt="" src="{{userPicture}}" />
        <span class="semiFont">{{userName}}</span>
        <span class="createTime" data-time="{{date}}"></span>
        <div class="commentTxt">{{text}}</div>      
    </li>
</script>