@using Zbang.Cloudents.Mvc4WebRole.Views.Quiz.Resources

@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}

<div class="full-screen quizPage">
    <header>
        <div class="text-center" id="quiz-top">{{::q.name}}</div>
        <button type="button" ng-click="app.back(q.boxUrl)" class="close">@Html.Svg("~/images/site/icons.svg", "close")</button>
    </header>
    <div>

        <div class="hidden-sm hidden-xs arrows prev" ng-if="q.state === 2 || q.state === 4">
            <button type="button" ng-click="q.back()" ng-show="q.index > 0 && q.index < q.questions.length">
                @Html.Svg("~/images/site/icons.svg", "arrow")
            </button>
        </div>
        <div class="wrapper">
            <div ng-if="q.state === 4" class="solveActions">
                <div class="row margin-bottom-15">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button class="retake" type="button" ng-click="q.retakeQuiz()">@QuizResources.Retake</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12 margin-bottom-15">
                        <div class="black-bullet score">
                            <h5 class="text-capitalize">@QuizResources.Score</h5>
                            {{q.sheet.score}}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 margin-bottom-15">

                        <div class="black-bullet score-details">
                            <div>
                                @Html.Svg(svgUrl, "correct")
                                <div>
                                    <h6>@QuizResources.Correct</h6>
                                    {{q.sheet.correct}}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h6>@QuizResources.Wrong</h6>
                                    {{q.sheet.wrong}}

                                </div>
                                @Html.Svg(svgUrl, "wrong")
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12 margin-bottom-15">
                        <div class="black-bullet time-taken">
                            @Html.Svg(svgUrl, "clock") <span>{{q.sheet.timeTaken}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quiz-take-stats" ng-class="{'no-progress': q.state === 1}" ng-show="q.state !== 4">
                <div class="stop-watch-wrapper">
                    <stopwatch control="q.timerControl"></stopwatch>
                    <button type="button" class="stopwatch-btn" ng-click="q.start()" ng-disabled="q.state === 1">
                        @Html.Svg(svgUrl, "pause", new { @class = "pause", ng_if = "q.timerControl.isRunning" })
                        @Html.Svg(svgUrl, "play", new { @class = "play", ng_if = "!q.timerControl.isRunning" })
                    </button>
                </div>
                <div class="progress-wrapper">
                    <span class="question-progress">{{q.index}}/{{q.questions.length}}</span>
                    @*<div class="progress-wrapper">*@
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{q.index/q.questions.length*100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: q.index/q.questions.length*100 + '%'}">
                            <span class="sr-only">{{q.index/q.questions.length*100}}% @QuizResources.Complete</span>
                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>
            <div class="quiz-challenge" ng-if="q.state === 1" ng-include="'quizChallenge.html'"></div>
            <div class="quiz-wrapper" ng-class="q.isCorrect(q.questions[q.index])" ng-if="q.state === 2 || q.state === 4">
                <div class="no-answer-element">@QuizResources.NoAnswer</div>
                <div ng-if="q.index < q.questions.length" ng-include="'quiz-question-template.html'" ng-repeat="question in ::q.questions"></div>
                <div ng-if="q.state === 4"  class="add-discussion">
                    <form class="clearfix" novalidate name="addDiscussion"  ng-submit="q.postComment(q.questions[q.index])">
                        <textarea required placeholder="Write a comment" ng-model="q.questions[q.index].newComment"></textarea>
                        <button class="btn pull-right send" ng-disabled="!addDiscussion.$valid" type="submit">@QuizResources.Post</button>
                    </form>
                    <ol class="list-unstyled feed">
                        <li class="comment reply" ng-repeat="post in q.questions[q.index].comments">
                            <div class="top">
                                <user-image class="img-circle c-img" name="::post.userName" image="::post.userImage" width="48" height="48"></user-image>
                                <span class="user-name">{{::post.userName}}</span>

                                <div ng-bind-html="::post.content" class="content-text"></div>
                            </div>
                            <span class="comment-date">{{::post.creationTime | date : 'MMM d,yyyy H:m'}}</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class ="quiz-challenge" ng-if="q.state === 3" ng-include="'quizGoodJob.html'">

            </div>
        </div>
        <div class="hidden-sm hidden-xs arrows next" ng-if="q.state === 2 || q.state === 4">
            <button type="button" ng-show="(q.state === 2 && q.index < q.questions.length) || (q.state === 4 && q.index < q.questions.length - 1)" ng-click="q.next()">
                @Html.Svg("~/images/site/icons.svg", "arrow")
            </button>
        </div>
    </div>

</div>


@{Html.RenderPartial("_QuizChallenge");}

<script type="text/ng-template" id="quiz-question-template.html">
    <div class="quiz-question" ng-show="$index === q.index">
        <div class="q">
            <span class="index">{{$index + 1}}.</span>
            <div class="q-body" ng-bind-html="::question.text"></div>
        </div>
        <ol class="counter">
            <li class="counter-inc" ng-repeat="answer in ::question.answers">
                <div class="circle">
                    <button type="button" ng-disabled="q.isSolved" class="counter-view" ng-class="{'answer-selected' : question.selectedAnswer === answer, 'correct-answer': q.isCorrectAnswer(question,answer)}" ng-click="q.selectAnswer(question,answer)"></button>
                </div>
                <div class="a-body">
                    {{::answer.text}}
                </div>
            </li>
        </ol>
    </div>
</script>
