@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="page itemPage quizPage" ng-controller="QuizCtrl" ng-class="{checkQuiz : quiz.userDone, afraid: quiz.afraid}">

    <div class="itemActions topBar barShadow">
        <div class="quizActionsWpr">
            <section class="shareBtn rFloat">
                <input class="checkbox" type="checkbox" id="quizShare" />
                <label for="quizShare" class="shareBtnTxt iconTop">@SharedResources.Share</label>
                <div class="dropDown shareDD" data-dropdown="quizShare">
                    <label class="closeItem rFloat" for="quizShare"></label>
                    <div class="arrow shareArrow"></div>
                    <h4 class="semiFont">@SharedResources.ShareItem</h4>
                    <div class="shareTxt">@SharedResources.ShareUsing</div>
                    <ul class="shareList">
                        <li class="shareItem">
                            <button type="button" id="quiz_FS" class="fbShare">@SharedResources.Facebook</button>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="shareItem">
                                <button type="button" id="quiz_msg" class="emailShare">@SharedResources.Email</button>
                            </li>
                        }
                    </ul>
                    <div class="shareTxt">@SharedResources.OrCopyLink</div>
                    <input type="text" id="quiz_CL" class="linkShare" readonly="readonly" />
                </div>
            </section>
            <a ng-href="{{quiz.boxUrl}}" class="backWpr elps lFloat">
                <div>@SharedResources.Backto</div>
                <h2 class="semiFont elps">{{quiz.boxName}}</h2>
            </a>
            @*<button type="button" class="itemPrint iconTop" id="quiz_P" data-link="@Url.Action("Print", "Item")">@ItemsResources.Print</button>*@
        </div>
    </div>

    <div class="leftPanel lFloat" bindonce>
        <div class="itemTop">
            <div tooltip="@SharedResources.Views" class="rFloat quizViews quizSprite">{{quiz.numberOfViews}}</div>
            <div class="itemNameWpr quizSprite">
                <div class="item-name semiFont elps">{{quiz.name}}</div>
                <div class="itemOwner elps lFloat" user-tooltip-popup="{{quiz.ownerId}}">{{quiz.owner}}</div>
                <div class="rFloat">{{quiz.date | date: 'dd/MM/yy'}}</div>
            </div>
        </div>

        <div class="timeWpr">
            <div class="quizTime" id="quizTimer">

                <timer interval="1000" autostart="false">{{hours}}:{{mminutes}}:{{sseconds}}</timer>
            </div>
            <button type="button" ng-click="takeQuiz()">{{timer.state}}</button>
        </div>


        <div class="userResults">
            <div class="resultsWpr">
                <div id="quizUserRight" class="results" data-results="{{quiz.correctAnswers}}">@QuizResources.Correct</div>
                <div id="quizUserWrong" class="results wrong" data-results="{{quiz.wrongAnswers}}">@QuizResources.Wrong</div>


            </div>
            <div class="userScoreWpr">
                <div id="quizUserScore" class="userScore" data-user-score="{{quiz.result}}">@QuizResources.YourScore:</div>
            </div>

            <div class="timeRetakeWpr clearfix">
                <div id="quizTimerResult" class="quizTimerResult lFloat iconTxt">{{quiz.timeTaken}}</div>
                <button type="button" class="btn1 rFloat elps" ng-click="retakeQuiz()">@QuizResources.RetakeQuiz</button>
            </div>

            <div class="topUsersWpr">
                <div class="topUsersTxt">@QuizResources.TopThree</div>
                <ol >
                    <li ng-repeat="user in quiz.topUsers" ng-class="{star: user.image}" class="topUser"><img ng- alt="" ng-src="{{user.image}}" /></li>
                </ol>
            </div>

            <div class="distributionWpr">
                <div class="distributionTxt">@QuizResources.ScoreDistribution</div>
                <canvas width="308" height="202" quiz-graph user-done="{{quiz.userDone}}"></canvas>
            </div>

        </div>
    </div>

    <div class="itemRight" bindonce>
        <div class="quizTitle">{{quiz.name}}</div>
        <div class="quizPrevWpr">
            <ul class="quizQList">
                <li ng-repeat="question in quiz.questions" ng-class="{userCorrect: question.correct, userWrong: question.wrong, noAnswer: question.noAnswer}" data-no-answer="@QuizResources.NoAnswer">
                    <div class="quizQuestion" bo-text="question.text"></div>
                    <ul class="quizAList">
                        <li ng-repeat="answer in question.answers" ng-class="{correct: answer.correct, wrong : answer.wrong}">
                            <input id="quizTestRadio{{$index+ $parent.$index.toString()}}" ng-checked="answer.isChecked" type="radio" name="quizTestRadio{{$parent.$index}}" ng-click="markCorrect(question,answer)" ng-disabled="quiz.userDone || quiz.afraid" />
                            <label for="quizTestRadio{{$index+ $parent.$index.toString()}}" bo-text="answer.text"></label>
                        </li>
                    </ul>
                    <div class="commentWpr">
                        <div class="splitHR"><button class="splitHRText" type="button"><span class="iconTxt" ng-bind="getCommentsLength(question.comments)"></span></button></div>

                        <ul class="quizComments">
                            <li ng-repeat="comment in question.comments">
                                <button type="button" class="closeDialog" ng-click="deleteComment(question,comment)" ng-if="comment.isDelete"></button>
                                <img class="imgBorder" user-tooltip-popup="{{comment.userId}}" width=" 32" height="32" alt="" bo-src="comment.userPicture" />
                                <span class="semiFont" bo-text="comment.userName"></span>
                                <span class="createTime" display-time="{{comment.date}}"></span>
                                <div class="commentTxt" bo-text="comment.text"></div>
                            </li>
                        </ul>

                        <div class="cTextAreaWpr">
                            <img class="imgBorder lFloat" src="" alt="" width="32" height="32" bo-src="profile.userImage" />
                            <textarea text-direction msd-elastic class="cTextArea" ng-placeholder="@SharedResources.WriteComment" ng-model="question.newComment"></textarea>
                            <button type="submit" ng-disabled="!question.newComment || question.newComment.length === 0" class="askBtn rFloat" ng-click="createComment(question)">@SharedResources.Comment</button>
                        </div>
                    </div>

            </ul>
            <button type="button" class="btn1" ng-disabled="!quiz.testInProgress" ng-click="checkAnswers()">@QuizResources.CheckAnswers</button>
        </div>
    </div>
</div>
@{
 //   Html.RenderPartial("_QuizDialog");
}
