@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="searchPage page" id="search" data-data="@ViewBag.data">
    <div class="sTabs sTab3">
        <button type="button" data-stab-count="7">Courses&nbsp;</button>
        <button type="button" data-stab-count="63">Materials&nbsp;</button>
        <button type="button" data-stab-count="11">Members&nbsp;</button>
    </div>
    <div class="arrow upArrow"></div>
    <h2 class="semiFont" data-resultcount="7">&nbsp;results for <q>math</q></h2>
    @*Guy: please add the class 'noResults' when user query produces no search results*@
    <div class="sTabContent">
        <section class="sCourses">
            <ul class="sCourseList">
                <li class="box sCourseItem">
                    <a data-navigation="Box" href="#" title="">
                        <img class="lFloat boxImg" alt="" width="77" height="98" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_1V3.png">
                        <div class="sCourseName">Art and Crafts for the eccentric</div>
                        @*Guy: Add the 'allDetails' class to the professor when we have both prof and code values*@
                        <span class="sDetail allDetails">Dr. Asaf Finkelstein</span>
                        <span class="sDetail">Mr Bean</span>
                    </a>
                </li>
                <li class="box sCourseItem">
                    <a data-navigation="Box" href="#" title="">
                        <img class="lFloat boxImg" alt="" width="77" height="98" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_1V3.png">
                        <div class="sCourseName">Art and Crafts for the eccentric</div>
                        <span class="sDetail">Dr. Asaf Finkelstein</span>
                        <span class="sDetail">Mr Bean</span>
                    </a>
                </li>
                <li class="box sCourseItem">
                    <a data-navigation="Box" href="#" title="">
                        <img class="lFloat boxImg" alt="" width="77" height="98" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_1V3.png">
                        <div class="sCourseName">Art and Crafts for the eccentric</div>
                        <span class="sDetail">Dr. Asaf Finkelstein</span>
                        <span class="sDetail">Mr Bean</span>
                    </a>
                </li>
            </ul>
            <div class="splitHR"><span class="splitHRText">Results from other universities</span></div>
            <ul>
                <li class="box sCourseItem">
                    <a data-navigation="Box" href="#" title="">
                        <img class="lFloat boxImg" alt="" width="77" height="98" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_1V3.png">
                        <div class="sCourseUni semiFont">The open university</div>
                        <div class="sCourseName">Art and Crafts for the eccentric</div>
                        <span class="sDetail">Mr Bean</span>
                    </a>
                </li>
                <li class="box sCourseItem">
                    <a data-navigation="Box" href="#" title="">
                        <div class="sCourseUni semiFont">The open university</div>
                        <img class="lFloat boxImg" alt="" width="77" height="98" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_1V3.png">
                        <div class="sCourseName">Art and Crafts for the eccentric</div>
                        <span class="sDetail">Dr. Asaf Finkelstein</span>

                    </a>
                </li>
                <li class="box sCourseItem">
                    <a data-navigation="Box" href="#" title="">
                        <img class="lFloat boxImg" alt="" width="77" height="98" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_1V3.png">
                        <div class="sCourseUni semiFont">The open university</div>
                        <div class="sCourseName">Art and Crafts for the eccentric</div>
                        <span class="sDetail allDetails">Dr. Asaf Finkelstein</span>
                        <span class="sDetail">Mr Bean</span>
                    </a>
                </li>
            </ul>
        </section>
        <section class="sMaterials">
            <ul class="sMaterialsList">
                <li class="sMaterialsItem">
                    tab2
                </li>
            </ul>
        </section>
        <section class="sMembers">
            <ul class="sMembersList">
                <li class="sMembersItem">
                    <img class="imgBorder lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxprofilepic/S100X100/userpic9.jpg" width="74" height="74" />
                    <div class="sMemberName elps">Eidan Apelbaum</div>
                    <button type="button" title="@DialogResources.SendMessage" class="inviteuserbtn"></button>
                </li>
                <li class="sMembersItem">
                    <img class="imgBorder lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxprofilepic/S100X100/userpic9.jpg" width="74" height="74" />
                    <div class="sMemberName elps">Eidan Apelbaum</div>
                    <button type="button" title="@DialogResources.SendMessage" class="inviteuserbtn"></button>
                </li>
                <li class="sMembersItem">
                    <img class="imgBorder lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxprofilepic/S100X100/userpic9.jpg" width="74" height="74" />
                    <div class="sMemberName elps">Eidan Apelbaum</div>
                    <button type="button" title="@DialogResources.SendMessage" class="inviteuserbtn"></button>
                </li>
                <li class="sMembersItem">
                    <img class="imgBorder lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxprofilepic/S100X100/userpic9.jpg" width="74" height="74" />
                    <div class="sMemberName elps">Eidan Apelbaum</div>
                    <button type="button" title="@DialogResources.SendMessage" class="inviteuserbtn"></button>
                </li>
            </ul>
        </section>
        <div class="emptySearch">No results were found</div>
    </div>
</div>
