@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Search.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="page-head">
    <div class="ad" data-ng-dfp-ad-container>
        <div data-ng-dfp-ad="div-gpt-ad-1461243129238-6" data-ng-dfp-ad-hide-when-empty></div>
    </div>
    <div layout="row" layout-align="space-between center" class="page-title">
        <h1 flex>@SearchResources.SearchTitle</h1>
        <button flex="none" type="button" class="close" ng-click="s.back()" ga-track-event="['search', 'close search']"><md-icon md-svg-icon="t:close"></md-icon></button>
    </div>
</div>
<div srph-infinite-scroll="s.myPagingFunction()">
    <md-tabs md-selected="s.tabIndex" md-enable-disconnect="true" class="page-tabs">
        <md-tab md-on-select="s.changeTab('doc')" md-active="s.tab === 'doc'" ga-track-event="['search', 'search items']">
            <md-tab-label>@BoxResources.Items</md-tab-label>
        </md-tab>
        <md-tab md-on-select="s.changeTab('course')" md-active="s.tab === 'course'" ga-track-event="['search', 'search classes']">
            <md-tab-label>@GeneralResources.Classes</md-tab-label>
        </md-tab>
        <md-tab md-on-select="s.changeTab('quiz')" md-active="s.tab === 'quiz'" ga-track-event="['search', 'search quizzes']">
            <md-tab-label>@GeneralResources.Quizzes</md-tab-label>
        </md-tab>
    </md-tabs>

    <div class="tab-content" ng-switch="s.tab">
        <div ng-switch-when="doc">
            <div layout="row" layout-padding layout-wrap>
                <div flex-gt-lg="25" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100" ng-repeat="e in s.result" ng-include="'item-template.html'"></div>
            </div>
            <div class="no-results" ng-show="s.noResults">
                <div class="text-wrapper">
                    <h2>@GeneralResources.NoResultsTitle</h2>
                    <div >@GeneralResources.SearchEmptyStateDocumentsText</div>
                </div>
            </div>
        </div>
        <div ng-switch-when="course">
            <div layout="row" layout-padding layout-wrap>
                <div flex-lg="33" flex-gt-lg="25" flex-md="50" flex-xs="100" flex-sm="50" ng-repeat="e in s.result" ng-include="'box-template.html'"></div>
            </div>
            <div class="no-results" ng-show="s.noResults">
                <div class="text-wrapper">
                    <h2>@GeneralResources.NoResultsTitle</h2>
                    <div class="text">@GeneralResources.SearchEmptyStateClassesText</div>
                    <p class="create-class">
                        @GeneralResources.SearchEmptyStateCreateCourse
                        &nbsp;<button type="button" ng-click="s.univeristyClick()" @*href="@Url.RouteUrl("LibraryDesktop")"*@>@GeneralResources.SearchEmptyStateCreateCourseLinkText</button>
                    </p>
                </div>
            </div>
        </div>
        <div ng-switch-when="quiz">
            <div layout="row" layout-padding layout-wrap>
                <div flex-gt-lg="25" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100" ng-repeat="e in s.result" ng-include="'quiz-template.html'"></div>
            </div>
            <div class="no-results" ng-show="s.noResults">
                <div class="text-wrapper">
                    <h2>@GeneralResources.NoResultsTitle</h2>
                    <div>@GeneralResources.SearchEmptyStateQuizzesText</div>
                </div>
            </div>
        </div>
    </div>
</div>