@using Zbang.Cloudents.Mvc4WebRole.Views.Search.Resources

<div class="search full-screen">
    <button type="button" class="close" ng-click="app.back('/dashboard/')">@Html.Svg("~/images/site/icons.svg", "close")</button>
    <input type="search" class="search-text" placeholder="Search..." ng-model="s.term" ng-model-options="{debounce : 250}" ng-change="s.search()" ng-minlength="2" />
    <ul class="nav nav-tabs tabbable">
        <li ng-class="{active: s.tab === 'b'}">
            <button type="button" class="text-capitalize" ng-click="s.tab = 'b'">@SearchResources.Classes</button>
        </li>
        <li ng-class="{active: s.tab === 'i'}">
            <button type="button" class="text-capitalize" ng-click="s.tab = 'i'">@SearchResources.Items</button>
        </li>
        <li ng-class="{active: s.tab === 'q'}">
            <button type="button" class="text-capitalize" ng-click="s.tab = 'q'">@SearchResources.Quizzes</button>
        </li>
    </ul>
    <div layout="row" layout-align="space-between start" layout-wrap infinite-scroll="s.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
        <div flex-gt-sm="25" flex="100" class="s-hide" ng-class="{show: s.tab === 'b'}">
            <h3 class="text-capitalize">@SearchResources.Classes</h3>
            <div layout="row" layout-padding layout-wrap>
                <div flex-gt-sm="100" flex-sm="50" flex-xs="100" ng-repeat="e in s.result.boxes" ng-include="'box-template.html'"></div>
            </div>
        </div>
        <div flex-gt-sm="25" flex="100" class="s-hide" ng-class="{show: s.tab === 'i'}">
            <h3 class="text-capitalize">@SearchResources.Items</h3>
            <div layout="row" layout-padding layout-wrap>
                <div flex-gt-sm="100" flex-sm="50" flex-xs="100" ng-repeat="e in s.result.items" ng-include="'item-template.html'"></div>
            </div>
        </div>
        <div flex-gt-sm="25" flex="100" class="s-hide" ng-class="{show: s.tab === 'q'}">
            <h3 class="text-capitalize">@SearchResources.Quizzes</h3>
            <div layout="row" layout-padding layout-wrap layout-align="start stretch">
                <div flex-gt-sm="100" flex-sm="50" flex-xs="100" ng-repeat="e in s.result.quizzes" ng-include="'quiz-template.html'"></div>
            </div>
        </div>
    </div>
</div>