@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="searchPage page" id="search" data-data="@ViewBag.data">
    <div id="sTabsMenu" class="sTabs sTab1">
        <button id="sTabCourses" type="button">@SharedResources.Courses</button>
        <button id="sTabMaterials" type="button">@SharedResources.Materials</button>
        <button id="sTabMembers" type="button">@SharedResources.Members</button>
    </div>
    <div class="arrow upArrow"></div>
    <h2 id="sTabResults" class="semiFont"><span class="sResult">@SharedResources.ResultsFor&nbsp;</span><span class="sResult">@SharedResources.SearchingFor&nbsp;</span><q id="sSearchTerm"></q></h2>
    <div id="sTabContent" class="sTabContent">
        <section class="sCourses" data-list="@SharedResources.Courses">
            <ul id="sCourseList" class="sCourseList"></ul>
        </section>
        <section class="sMaterials" data-list="@SharedResources.Materials">
            <ul id="sMaterialsList" class="sMaterialsList"></ul>
            <div class="splitHR"><span class="splitHRText">@SharedResources.ResultsOther</span></div>
            <ul id="sOtherMaterialsList" class="sMaterialsList" data-list="@SharedResources.Materials"></ul>
            <button id="sOtherMaterialsBtn" class="sOtherMaterialsBtn">@SharedResources.ResultsOther</button>
        </section>
        <section class="sMembers" data-list="@SharedResources.Members">
            <ul id="sMembersList" class="sMembersList"></ul>
        </section>
        <div class="emptySearch">@SharedResources.NoResults</div>
    </div>
</div>


<script type="text/html" id="sCourseItemTemplate">
    <li class="box sCourseItem">
        <a data-navigation="box" href="{{url}}" title="">
            <img class="lFloat boxImg" alt="" width="77" height="98" src="{{image}}">
            <div class="sTitle elps">{{name}}</div>
            <span class="sDetail {{allDetails}}">{{proffessor}}</span>
            <span class="sDetail">{{courseCode}}</span>
        </a>
    </li>
</script>

<script type="text/html" id="sMaterialItemTemplate">

    <li class="sMaterialsItem clearfix">
        <a class="sMaterialLink" data-navigation="item" href="{{url}}">
            <div class="sOtherUni semiFont {{dotted}}">{{universityName}}</div>
            <img class="lFloat imgBorder sMaterialImg" alt="" width="110" height="141" src="{{image}}">
            <div class="sTitle elps">{{name}}</div>
            <div class="sSnippet">{{content}}</div>
            <div class="stars">
                <div class="full" style="width:{{width}}px;"></div>
            </div>
            <div data-title="@SharedResources.Views" class="views">{{views}}</div>
        </a>
    </li>
</script>

<script type="text/html" id="sMemberItemTemplate">
    <li class="userItem calloutTrgr" data-uid="{{id}}">
        <a href="{{url}}" data-navigation="user">
            <img class="userItemImg" src="{{image}}" width="74" height="74" /></a>
        <div class="userItemName" data-ignore-rtl="true">{{name}}</div>
    </li>
</script>
@section scripts {
    @Html.Script2("General")
    @Html.Script2("cd1")
}
@section search {
    <form class="dashLibSearch" id="g_search">
        <input id="g_searchQ" autocomplete="off"
               type="search" name="query" class="dashLibSearchInput" placeholder="@SharedResources.Search" />
        <button id="searchDropDownBtn" disabled type="submit"></button>
        <div class="searchDD allResults">
            <h3>@SharedResources.Courses / @SharedResources.GroupBoxes</h3>
            <ul class="searchList boxes"></ul>
            <h3>@SharedResources.Materials</h3>
            <ul class="searchList items"></ul>
            <h3>@SharedResources.People</h3>
            <ul class="searchList people"></ul>
            <h3>@SharedResources.ResultsOther</h3>
            <ul class="searchList university"></ul>
            <a class="showAll" target="_self">@SharedResources.AllResults&nbsp;<q></q></a>
            <div class="emptySearch">@SharedResources.NoResults</div>
        </div>
    </form>
<script type="text/html" id="boxesSearchTemplate">
    <li>
        <a href="{{url}}" data-navigation="box" class="searchItem">
            <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{name}}</div>
                <span class="searchDetail {{allDetails}}">{{proffessor}}</span>
                <span class="searchDetail">{{courseCode}}</span>
            </div>
        </a>
    </li>
</script>
<script type="text/html" id="itemsSearchTemplate">
    <li>
        <a href="{{url}}" data-navigation="item" class="searchItem">
            <div class="otherUni semiFont">{{universityName}}</div>
            <img class="lFloat imgBorder" width="40" height="50" src="{{image}}" alt="">
            <div class="searchDetails">
                <div class="searchTitle semiFont elps">{{name}}</div>
                <div class="boxLoc searchDetail" data-ignore-rtl="true" data-search-in="@SharedResources.In">{{boxName}}</div>
            </div>
        </a>
    </li>
</script>
<script type="text/html" id="peopleSearchTemplate">
    <li>
        <a href="{{url}}" data-navigation="user" class="searchItem">
            <img class="lFloat imgBorder userImg" src="{{image}}" alt="" width="33" height="33" />
            <div class="searchTitle semiFont elps">{{name}}</div>
        </a>
    </li>
</script>
}