@using Zbang.Zbox.Mvc3WebRole.Views.Home.Resources

<div class="staticPage">
    <header class="header">@ContactUsResources.ContactUs</header>

    <div class="lFloat">
        
        <div class="subHeader">@ContactUsResources.Headquarters</div>
        <div>@ContactUsResources.Address</div>
        @ContactUsResources.Country
        
        <div class="subHeader">@ContactUsResources.Email</div>
        support@zbang.it

    </div>
    <img class="rFloat" src="@Url.CdnContent("/Images/map.jpg")" alt="" width="466" height="400" />
</div>
