@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Zbox.Infrastructure.Enums
@model Zbang.Cloudents.Mvc4WebRole.Models.FlagBadItem


<div class="modal-header">
    <h3 class="modal-title"><span>@FlagItemResources.ReportItem</span></h3>
</div>
<div class="modal-body">
    <div class="flagRequest">
        @using (Html.BeginForm("Create", "Dashboard", FormMethod.Post, new { id = "flagDialog", @class = "flagDialog" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            <div>@FlagItemResources.WhyReport</div>
            <ul class="flagList">
                <li>
                    @Html.RadioButtonFor(x => x.BadItem, BadItem.RightViolation, new { id = "flag_radioRight" })
                    <label for="flag_radioRight">@BadItem.RightViolation.GetEnumDescription()</label>
                </li>
                <li>
                    @Html.RadioButtonFor(x => x.BadItem, BadItem.Spam, new { id = "flag_radioSpan" })
                    <label for="flag_radioSpan">@BadItem.Spam.GetEnumDescription()</label>
                </li>
                <li>
                    @Html.RadioButtonFor(x => x.BadItem, BadItem.Porn, new { id = "flag_radioPorn" })
                    <label for="flag_radioPorn">@BadItem.Porn.GetEnumDescription()</label>
                </li>
                <li>
                    @Html.RadioButtonFor(x => x.BadItem, BadItem.Attack, new { id = "flag_radioAttack" })
                    <label for="flag_radioAttack">@BadItem.Attack.GetEnumDescription()</label>
                </li>
                <li>
                    @Html.RadioButtonFor(x => x.BadItem, BadItem.Hate, new { id = "flag_radioHate" })
                    <label for="flag_radioHate">@BadItem.Hate.GetEnumDescription()</label>
                </li>
                <li>
                    @Html.RadioButtonFor(x => x.BadItem, BadItem.Other, new { id = "flag_radioOther" })
                    <label for="flag_radioOther">@BadItem.Other.GetEnumDescription()</label>
                    @Html.TextBoxFor(x => x.Other, new { @class = "inputText", id = "flag_other" })
                </li>
            </ul>
            <input type="submit" class="btn1 next" value="@FlagItemResources.SendReport" />
            <button type="reset" class="btn2 cancel">@DialogResources.Cancel</button>
        }
    </div>
    <div class="requestSent">
        <div class="requestSentDiv first">@FlagItemResources.ReportSent</div>
        <div class="requestSentDiv">@FlagItemResources.ContactYou</div>
    </div>
    <button type="button" class="closeDialog" ng-click="cancel()"></button>
</div>
