@using Zbang.Zbox.Infrastructure.Enums
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<form name="flagitem" class="flag-form" novalidate ng-submit="i.flagItem()" ng-if="i.selectedState === i.state.flag">
    <div class="title text-capitalize">@ItemsResources.ReportAbuse</div>
    <md-content>
        <md-input-container flex="100">
            <md-select placeholder="@ItemsResources.FlagItemPlaceHolder" required md-no-asterisk name="flag" ng-model="i.flag" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                <md-option value="@BadItem.RightViolation">@BadItem.RightViolation.GetEnumDescription()</md-option>
                <md-option value="@BadItem.Spam">@BadItem.Spam.GetEnumDescription()</md-option>
                <md-option value="@BadItem.Porn">@BadItem.Porn.GetEnumDescription()</md-option>
                <md-option value="@BadItem.Attack">@BadItem.Attack.GetEnumDescription()</md-option>
                <md-option value="@BadItem.Hate">@BadItem.Hate.GetEnumDescription()</md-option>
                <md-option value="@BadItem.Other">@BadItem.Other.GetEnumDescription()</md-option>
            </md-select>
        </md-input-container>
        <input class="rounded-input" autofocus autocomplete="off" ng-model="i.customFlag" ng-if="i.flag === 'Other'" />
    </md-content>

    <span layout="row" layout-align="end center">
        <button type="button" class="cancel-btn text-capitalize" ng-click="i.cancelFlag()" ga-track-event="['itemPage', 'cancel']">@GeneralResources.Cancel</button>
        <button type="submit" class="action-btn space-before text-capitalize" ng-disabled="!flagitem.$valid" ga-track-event="['itemPage', 'report']">@ItemsResources.Report</button>
    </span>
</form>

