@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="comments-section" ng-controller="CommentsController as c">
    <md-sidenav class="comments-wrapper md-sidenav" md-component-id="commentsMenu" 
                md-is-locked-close="true">
        <div>
            <div class="menu-toggler">
                <button type="button" class="menu-icon" ng-click="c.toggleComments()">
                    <md-icon md-svg-icon="b:comment" class="commentsMenu"></md-icon>
                </button>
            </div>
            <md-content role="navigation">
                <div class="comments" ng-scrollbars ng-scrollbars-config="c.scrollSetup">
                    <div class="title">@ItemsResources.CreateComment</div>
                    <div class="new-comment" layout="row">
                        <div class="user-image">
                            <a ui-sref="user({userId:c.currUser.id, userName:c.currUser.name})" @*href="{{::c.currUser.url}}"*@ user-not-register-popup="click" class="username">
                                <user-image class="img-circle c-img" name="c.currUser.name" image="c.currUser.image" width="25" height="25"></user-image>
                            </a>
                        </div>
                        <form name="newComment" class="new-comment-form" novalidate ng-submit="c.addComment(newComment)">
                            <md-input-container md-no-float>
                                <input autocomplete="off" required md-no-asterisk ng-model="c.newCommentText" name="comment" user-not-register-popup="focus" ng-focus="c.commentFocused()" placeholder="@ItemsResources.NewComment" ng-change="newComment.comment.$setValidity('server',true)">
                                <div ng-messages="newComment.comment.$error" ng-show="newComment.comment.$dirty">
                                    <div ng-message="required">@GeneralResources.RequiredField</div>
                                    <div ng-message="server">{{c.error}}</div>
                                </div>
                            </md-input-container>
                            <div class="buttons" ng-if="c.showButtons">
                                <button type="button" class="cancel-btn" ng-click="c.cancelComment(newComment);">@GeneralResources.Cancel</button>
                                <button type="submit" ng-disabled="!newComment.$valid || c.commentDesabled" class="action-btn space-before"> @ItemsResources.NewComment</button>
                            </div>
                        </form>
                    </div>
                    <ul class="comments-list list-unstyled">
                        <li ng-repeat="comment in c.comments" class="reply">
                            <div class="comment-data" layout="row">
                                <div class="user-image">
                                    <a ui-sref="user({userId:comment.userId, userName:comment.userName})" class="username">
                                        <user-image class="img-circle c-img" name="comment.userName" image="comment.userImage" width="25" height="25"></user-image>
                                    </a>
                                </div>
                                <div class="comment-text">
                                    <div class="comment-info"><span class="author">@ItemsResources.CommentAuthor <a ui-sref="user({userId:comment.userId, userName:comment.userName})"> {{::comment.userName}}</a></span><span class="date"><time-ago class="comment-date" from-time="{{::comment.creationDate }}" format="mediumDate"></time-ago></span></div>
                                    <div class="comment-content" ng-bind-html="::comment.comment | linky:'_blank'"></div>

                                </div>
                                <md-menu ng-if="::c.canDelete(comment.userId)">
                                    <md-button aria-label="open menu" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
                                        <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                                    </md-button>
                                    <md-menu-content width="1">
                                        <md-menu-item>
                                            <md-button ng-click="c.deleteComment($event, comment)">
                                                @GeneralResources.Delete
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                            <ul class="comment-replies list-unstyled">
                                <li ng-repeat="reply in comment.replies" class="reply">
                                    <div class="reply-data" layout="row">
                                        <div class="user-image">
                                            <a ui-sref="user({userId:reply.userId, userName:reply.userName})" user-not-register-popup="click" class="username">
                                                <user-image class="img-circle c-img" name="comment.userName" image="reply.userImage" width="25" height="25"></user-image>
                                            </a>
                                        </div>
                                        <div class="reply-wrapper">
                                            <div class="reply-text">
                                                <div class="comment-info"><span class="author">@ItemsResources.CommentAuthor <a ui-sref="user({userId:comment.userId, userName:comment.userName})"> {{::reply.userName}}</a></span> <span class="date"><time-ago class="comment-date" from-time="{{::reply.creationDate }}" format="mediumDate"></time-ago></span></div>
                                                <div class="comment-content" ng-bind-html="::reply.comment | linky:'_blank'"></div>
                                            </div>
                                            <md-menu ng-if="::c.canDelete(reply.userId)">
                                                <md-button aria-label="open menu" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
                                                    <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                                                </md-button>
                                                <md-menu-content width="1">
                                                    <md-menu-item>
                                                        <md-button ng-click="c.deleteReply($event, reply, comment)">
                                                            @GeneralResources.Delete
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="reply-btn">
                                <button type="button" class="text-capitalize margins" ng-disabled="comment.showFrom" ng-click="c.replyClicked(comment)">@ItemsResources.NewReply</button>
                            </div>
                            <form name="newReply" class="add-comment-reply add-reply" novalidate ng-if="comment.showFrom" ng-submit="c.addCommentReply(comment, newReply)">
                                <div class="add-reply-wrapper">
                                    <md-input-container md-no-float>
                                        <input autocomplete="off" name="reply" user-not-register-popup="click" required md-no-asterisk autofocus ng-model="c.newCommentReplyText" placeholder="@ItemsResources.NewComment" ng-change="newReply.reply.$setValidity('server',true)">
                                        <div ng-messages="newReply.reply.$error" ng-show="newReply.reply.$dirty">
                                            <div ng-message="required">@GeneralResources.RequiredField</div>
                                            <div ng-message="server">{{c.error}}</div>
                                        </div>
                                    </md-input-container>
                                    <div class="buttons">
                                        <button type="button" class="cancel-btn" ng-click="c.cancelReply(newComment, comment);">@GeneralResources.Cancel</button>
                                        <button type="submit" ng-disabled="!newReply.$valid || c.commentDesabled" class="action-btn space-before">@ItemsResources.NewComment</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </md-content>
        </div>
    </md-sidenav>

</div>