@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{ ViewBag.Description = ViewBag.Description ?? string.Empty;}
<div id="item" class="page itemPage" ng-controller="ItemCtrl">
    @*<h1>@ViewBag.Description</h1>*@

    <div class="topBar">
        @* class itemTop has gone*@
        @*<div class="moreFilesThumb lFloat" data-bind="text: extension, css: extensionColor"></div>*@
        <div class="leftPart">
            <a class="backWpr elps lFloat" ng-href="{{item.boxUrl}}">
                <div>@SharedResources.Backto</div>                <h2 class="semiFont elps">{{item.boxName}}</h2>
                <svg class="svg-back"><use xlink:href="~/Images/Defs.svg#back" /></svg>
            </a>
        </div>
        <div class="mainPart">
            <ul class="middleActionList">
                <li class="middleActionItem">
                    <a class="actionLink" ng-href="{{item.downloadUrl}}" target="_blank">
                        <svg class="svg-download"><use xlink:href="~/Images/Defs.svg#download" /></svg>
                        <div>@ItemsResources.Download</div>
                    </a>
                </li>

                <li class="middleActionItem">
                    <a class="actionLink" href="{{item.printUrl}}" target="_blank">
                        <svg class="svg-print"><use xlink:href="~/Images/Defs.svg#print" /></svg>
                        <span>@ItemsResources.Print</span>
                    </a>


                </li>


                <li class="middleActionItem">
                    <button type="button" ng-click="fullScreenWindow()" class="">
                        <svg class="svg-fullscreen"><use xlink:href="~/Images/Defs.svg#fullscreen" /></svg>
                        @*<svg class="svg-smallscreen"><use xlink:href="~/Images/Defs.svg#smallscreen" /></svg>*@
                        <div>@ItemsResources.FullScreen</div>
                        <svg class="svg-fullscreen"><use xlink:href="~/Images/Defs.svg#fullscreen" /></svg>
                    </button>
                </li>


                <li class="middleActionItem">
                    <input class="checkbox" type="checkbox" id="itemShare" data-ddcbox="itemShare" />
                    <label for="itemShare" class="">
                        <span>@SharedResources.Share</span>
                        <svg class="svg-share"><use xlink:href="~/Images/Defs.svg#share" /></svg>
                    </label>
                    <div class="dropDown shareDD" data-dropdown="itemShare">
                        <label class="closeItem rFloat" for="itemShare"></label>
                        <div class="arrow shareArrow"></div>
                        <h4 class="semiFont">@SharedResources.ShareItem</h4>
                        <div class="shareTxt">@SharedResources.ShareUsing</div>
                        <ul class="shareList">
                            <li class="shareItem"><button type="button" id="item_FS" class="fbShare">@SharedResources.Facebook</button></li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="shareItem"><button type="button" id="item_msg" class="emailShare">@SharedResources.Email</button></li>
                            }
                        </ul>
                        <div class="shareTxt">@SharedResources.OrCopyLink</div>
                        <input type="text" id="item_CL" class="linkShare" readonly="readonly" data-bind="value: copyLink" />
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="secondBar">
        <div class="leftPart">
            <span class="lFloat views" tooltip="@SharedResources.Views">
                <svg class="svg-eye"><use xlink:href="~/Images/Defs.svg#eye" /></svg>
                <span>{{item.numberOfViews}}</span>
            </span>
            <span ng-show="item.numberOfDownloads !== null" class="downloads" tooltip="@SharedResources.Downloads">
                <svg class="svg-download"><use xlink:href="~/Images/Defs.svg#download" /></svg>
                <span>{{item.numberOfDownloads}}</span>
            </span>

            @*Guy: please add windowClass 'flagItem' in the js Cntrl file*@
            <button type="button" class="itemFlag rFloat" data-bind="click: flagItem, visible: flagAllow()">
                <svg class="svg-flag"><use xlink:href="~/Images/Defs.svg#flag" /></svg>
                <span>@ItemsResources.Flag</span>
            </button>
        </div>

        <div class="mainPart">
            <a ng-show="item.navigation.next" ng-href="{{item.navigation.next}}" class="rFloat navBtn"><svg class="svg-next"><use xlink:href="~/Images/Defs.svg#right" /></svg></a>
            <a ng-show="item.navigation.previous" ng-href="{{item.navigation.previous}}" class="lFloat navBtn"><svg class="svg-prev"><use xlink:href="~/Images/Defs.svg#right" /></svg></a>
            <div class="itemNameWpr">
                <h2 class="item-name elps lFloat">
                    <span tooltip="{{item.name}}">{{item.name}}</span>
                    <button class="itemRenameBtn" tooltip="@SharedResources.Rename" type="button" ng-click="renameWindow()">
                        <svg class="svg-pencil"><use xlink:href="~/Images/Defs.svg#pencil" /></svg>
                    </button>
                </h2>
                <div class="uploadInfo">
                    <span class="itemOwner" user-tooltip-popup="{{item.ownerId}}">{{item.owner}}</span>
                   
                    <time>{{item.updateTime | date:'d MMMM yyyy'}}</time>
                </div>
            </div>
        </div>
    </div>

    <div class="leftPanel lFloat">
        <span class="rateTxt">@ItemsResources.Rate</span>
        <div class="rateWpr">
            <svg class="svg-star"><use xlink:href="~/Images/Defs.svg#star" /></svg>
            <svg class="svg-star"><use xlink:href="~/Images/Defs.svg#star" /></svg>
            <svg class="svg-star"><use xlink:href="~/Images/Defs.svg#star" /></svg>
            <svg class="svg-star"><use xlink:href="~/Images/Defs.svg#star" /></svg>
            <svg class="svg-star"><use xlink:href="~/Images/Defs.svg#star" /></svg>
        </div>

        <section class="itemComments">
            <header>@SharedResources.AddComment</header>
            <form ng-init="showBtn=false" name="addAnnotation" class="clearfix itemCommentsForm" ng-submit="create(addAnnotation.$valid)" novalidate>
                <div class="textareaWpr">
                    <textarea placeholder="@SharedResources.AddComment" ng-model="formData.Comment" ng-focus="showBtn=true" text-direction msd-elastic class="commentsTextarea" required></textarea>
                    <div class="rFloat">
                        <button ng-show="showBtn" ng-disabled="commentp" ng-init="commentp=false" type="submit" class="post rFloat">@SharedResources.Post</button>
                        <button ng-show="showBtn" type="button" class="cancel rFloat" ng-click="showBtn=false">@DialogResources.Cancel</button>
                    </div>
                </div>
            </form>
            <div m-custom-scrollbar>
                <ul class="itemCommentsList">
                    <li class="itemComment" ng-repeat="comment in item.comments">
                        <span>@ItemsResources.PostedBy</span>
                        <span user-tooltip-popup="{{comment.userId}}" class="user-name">{{comment.userName}}</span>
                        <time display-time="{{comment.creationDate}}"></time>
                        <p>{{comment.comment}}</p>
                        <ul>
                            <li ng-repeat="reply in comment.replies">
                                <span>@ItemsResources.PostedBy</span>
                                <span user-tooltip-popup="{{reply.userId}}" class="user-name">{{reply.userName}}</span>
                                <time display-time="{{reply.creationDate}}"></time>
                                <p>{{reply.comment}}</p>
                                <button type="button" class="closeDialog" ng-click="deleteReply(reply,comment)" ng-if="canDelete(reply.userId)"></button>
                            </li>
                        </ul>
                        <button class="addComBtn" type="button" ng-init="comment.showReplyF=false" ng-hide="comment.showReplyF" ng-click="comment.showReplyF=true">@SharedResources.AddComment</button>
                        <button type="button" class="closeDialog" ng-click="deleteComment(comment)" ng-if="canDelete(comment.userId)"></button>
                        <form name="addReplyF" novalidate ng-submit="addReply(comment)" class="clearfix itemCommentsForm" ng-show="comment.showReplyF">
                            <div class="textareaWpr">
                                <textarea text-direction msd-elastic ng-model="fromReply.Comment" class="commentsTextarea" required></textarea>
                                <div class="rFloat">
                                    <button type="submit" ng-init="comment.replyp=false" class="post rFloat" ng-disabled="comment.replyp">@SharedResources.Post</button>
                                    <button type="button" class="cancel rFloat" ng-click="comment.showReplyF=false">@DialogResources.Cancel</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="itemRight" load-spinner="load.contentLoading" load-spinner-type="init">
        <div class="itemPreview scrollEffect" ng-class="{fulscrn: fullScreen}">
            <div class="previewWrapper" ng-bind-html="preview" infinite-scroll="loadMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check="false"></div>
            <div load-spinner="load.contentLoadMore" load-spinner-type="page"></div>
        </div>
    </div>
</div>