@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    const string svgUrl = "~/images/site/itemIcons.svg";
}
<div class="full-screen itemPage">
    <header layout="row" layout-align="space-between center">
        <div class="fb-like">
            <button type="button" ng-click="i.like()">@Html.Svg("~/images/site/box-icons.svg", "like") @GeneralResources.Like</button>
        </div>

        <div @*class="text-center"*@>
            <a target="_blank" href="{{i.details.downloadUrl}}">@Html.Svg(svgUrl, "download")</a>
            <a target="_blank" href="{{i.details.printUrl}}">@Html.Svg(svgUrl, "print")</a>
            @*<a href="#" tooltip-placement="bottom" tooltip-html="">@Html.Svg(svgUrl, "share")</a>*@
            <md-menu flex>
                <md-button aria-label="open menu" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
                    @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)">
                            Rename
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)">
                            flag an item
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <button type="button" ng-click="app.back(i.details.boxUrl)" class="closeItem">@Html.Svg("~/images/site/icons.svg", "close")</button>

    </header>
    <div class="full-screen-body">
        <div class="fileName" layout="row" layout-align="center center">
            <div class="name-info" focus-me="i.renameOn" ng-if="!i.renameOn && !i.flagItemOn">
                <span contenteditable="{{i.renameOn}}" ng-model="i.details.name"></span>
                @*<button type="button" ng-click="i.renameItem()">@Html.Svg("~/images/site/icons.svg", "edit")</button>*@
                <a class="info" href="#" tooltip-placement="bottom" tooltip-class="copy-right"
                   tooltip="@Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources.ItemsResources.CopyRight">@Html.Svg(svgUrl, "info")</a>
            </div>
            <form name="rename-item" class="rename-form" novalidate ng-submit="i.renameItem()" ng-if="i.renameOn && !i.flagItemOn">
                <md-content layout="column">
                    <md-input-container flex>
                        <label>Name</label>
                        <input autocomplete="off" required ng-model="i.details.name" />
                    </md-input-container>
                </md-content>

                <span layout="row" layout-align="end center">
                    <button type="button" class="btn grey btn-default text-capitalize" ng-click="i.itemCancel()">cancel</button>
                    <button type="submit" class="btn blue text-capitalize">save</button>
                </span>
            </form>

            <form name="flag-item" class="flag-form" novalidate ng-submit="i.flagItem()" ng-if="i.flagItemOn && !i.renameOn">
                <div class="title">Report abuse</div>
                <md-content layout="column">
                    <md-input-container flex="100">
                        <md-select name="flag" ng-model="i.flag" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                            <md-option value="woop1">woop1</md-option>
                            <md-option value="woop2">woop2</md-option>
                            <md-option value="other">other</md-option>
                        </md-select>
                    </md-input-container>
                    <input class="rounded-input" autocomplete="off" required ng-model="i.customFlag" ng-if="i.flag === 'other'" />
                </md-content>

                <span layout="row" layout-align="end center">
                    <button type="button" class="btn grey btn-default text-capitalize" ng-click="i.itemCancel()">cancel</button>
                    <button type="submit" class="btn blue text-capitalize">report</button>
                </span>
            </form>
        </div>
        <div class="arrows">
            <button type="button" class="arrow left">@Html.Svg("~/images/site/icons.svg", "arrow")</button>
            <button type="button" class="arrow right">@Html.Svg("~/images/site/icons.svg", "arrow")</button>
        </div>
        <div class="preview" ng-bind-html="i.preview" infinite-scroll="i.loadMore()" infinite-scroll-distance="2">
        </div>
    </div>
</div>
