@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
<div srph-infinite-scroll="i.loadMore()" unregister-scroll="true" collapse-header ng-class="{hideActions: i.selectedState === 1 || i.selectedState === 2}">
    <header layout="row" layout-align="space-between center">
        <div class="progress-bar"><md-progress-linear ng-if="i.loader" md-mode="indeterminate"></md-progress-linear></div>
        <div class="top-wrapper">
            <div class="name-actions" layout="row" layout-align="space-between center">
                <div class="fileName">
                    <div class="name-info" layout="row" layout-align="center center" ng-if="i.selectedState === 0">
                        <h1 class="ellipsis" dir="auto">{{i.details.name}}</h1>
                        <div class="info">
                            <md-icon md-svg-icon="i:info"></md-icon>
                            <md-tooltip>
                                @ItemsResources.CopyRight
                            </md-tooltip>
                        </div>
                    </div>
                    <form name="renameItem" class="rename-form" novalidate ng-submit="i.renameItem(renameItem)" ng-if="i.selectedState === 1">
                        <md-content>
                            <md-input-container flex>
                                <label class="text-capitalize">@ItemsResources.Name</label>
                                <input @*focus-me="i.selectedState === 1"*@ dir="auto" autocomplete="off" required md-no-asterisk ng-model="i.renameText" name="name" />
                                <div ng-messages="renameItem.name.$error" ng-show="renameItem.name.$dirty">
                                    <div ng-message="required">@GeneralResources.RequiredField</div>
                                </div>
                            </md-input-container>
                        </md-content>
                        <span layout="row" layout-align="end center  text-capitalize">
                            <button type="button" class="cancel-btn" ng-click="i.selectedState = 0" ga-track-event="['itemPage', 'cancel rename']">@GeneralResources.Cancel</button>
                            <button type="submit" class="action-btn space-before" ng-disabled="!renameItem.$valid || i.submitDisabled" ga-track-event="['itemPage', 'save rename']">@ItemsResources.Save</button>
                        </span>
                    </form>

                    @{ Html.RenderPartial("_FlagItem");}
                </div>
                <div class="item-actions" layout="row" layout-align="space-between center">
                    <a hide-xs target="_blank" ng-click="i.followBox()" user-not-register-popup="click" href="{{i.details.downloadUrl}}" ga-track-event="['itemPage', 'download']"><md-icon md-svg-icon="i:download"></md-icon></a>
                    <a hide-xs user-not-register-popup="click" ng-click="i.followBox()" target="_blank" href="{{i.details.printUrl}}"><md-icon md-svg-icon="i:print"></md-icon></a>
                    <div class="item-menu">
                        <md-menu flex>
                            <md-button aria-label="open menu" class="md-icon-button" user-not-register-popup="click" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['itemPage', 'delete']">
                                <md-icon md-svg-icon="t:ThreeDots"></md-icon>
                            </md-button>
                            <md-menu-content width="1">
                                <md-menu-item hide-gt-xs>
                                    <md-button target="_blank" user-not-register-popup="click" href="{{i.details.downloadUrl}}" ga-track-event="['itemPage', 'download']">
                                        @ItemsResources.Download
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item hide-gt-xs>
                                    <md-button user-not-register-popup="click" target="_blank" href="{{i.details.printUrl}}" ga-track-event="['itemPage', 'print']">
                                        @ItemsResources.Print
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button class="text-capitalize" ng-click="i.showRename()" ga-track-event="['itemPage', 'rename']">
                                        @GeneralResources.Rename
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="i.selectedState = 2" ga-track-event="['itemPage', 'flag']">
                                        @ItemsResources.Flag
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    {{i.boxUrl}}
                    <button class="close-btn" type="button" ng-click="app.back(i.details.boxUrl)" ga-track-event="['itemPage', 'close']"><md-icon md-svg-icon="t:close"></md-icon>@*@Html.Svg("~/images/site/icons.svg", "close")*@</button>

                </div>
            </div>
            <div class="second-line" ng-if="i.selectedState === 0">
                <div class="item-meta">
                    <a class="ellipsis" ui-sref="user({userId:i.details.ownerId,userName:i.details.owner})" ng-bind="::i.details.owner"></a>
                    <span>&nbsp;-&nbsp;</span>
                    <span class="date">{{::i.details.date | date : 'mediumDate'}}</span>
                </div>
                <div class="achievements">
                    <span ng-bind="::i.details.ownerScore | megaNumber"></span>
                    <span class="separator"></span>
                    <ng-pluralize count="i.details.ownerBadges" when="{
                                                                                     'one': '{} @GamificationResources.Badge',
                                                                                     'two': '{} @GamificationResources.Badges',
                                                                                     'other' : '{} @GamificationResources.Badges'
                                                                                     }"></ng-pluralize>
                </div>
            </div>
        </div>
    </header>
    <div class="item-content" md-swipe-left="i.swipeLeft()" md-swipe-right="i.swipeRight()">
        <div class="ad">
            <adsense ad-client="ca-pub-1215688692145777" ad-slot="1167934950" inline-style="display:block;" ad-format="auto"></adsense>
        </div>
        <div class="side-ad">
            <adsense ad-client="ca-pub-1215688692145777" ad-slot="5039731352" inline-style="display:inline-block;width:160px;height:600px"></adsense>
        </div>
        @{ Html.RenderPartial("_ItemComments");}

        <a class="arrow prev" ng-if="i.details.previous" href="{{i.details.previous}}" hide-xs keyboard-action="37" ga-track-event="['itemPage', 'previous item']">
            <md-icon md-svg-icon="t:arrow"></md-icon>
        </a>
        <div class="preview" ng-bind-html="i.preview"></div>
        <a class="arrow next" ng-if="i.details.next" href="{{i.details.next}}" hide-xs keyboard-action="39" ga-track-event="['itemPage', 'next item']">
            <md-icon md-svg-icon="t:arrow"></md-icon>
        </a>

        <div class="raw-text" ng-if="i.document">
            <md-switch ng-model="i.showRawText">
                @ItemsResources.ShowRawText
            </md-switch>
            <div class="text-wrapper" ng-class="{'collapse': !i.showRawText}">
                <div class="text">
                    {{::i.document}}
                </div>
            </div>
        </div>
    </div>
</div>

<script defer type="text/ng-template" id="likeToasterTemplate.html">
    <md-toast class="like-toaster-template">
        <div class="wrapper" layout="row" layout-align="space-between center">
            <div class="like-area">
                <div class="text">@ItemsResources.LikeToasterText</div>
                <button class="fb-like content-wrapper" ng-click="lt.like()" ng-class="{blue : lt.detail}" user-not-register-popup="click" type="button" ga-track-event="['itemPage', 'like item']">
                    <div>
                        <md-icon md-svg-icon="b:like"></md-icon>
                        <div class="button-text">@GeneralResources.Like</div>
                    </div>
                </button>
            </div>
            <button class="close" ng-click="lt.close()">
                <md-icon md-svg-icon="t:close"></md-icon>
            </button>
        </div>
    </md-toast>
</script>