@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="title" content="Cloudents" />
    <meta name="description" content="Study, share and connect with your classmates on the world’s largest academic library." />
    <title>Cloudents</title>
    @Html.Css2("itemMobile")
    @Html.CssRtl("itemMobileRtl")
</head>

<body>
    <header>
        <a href="#" class="back lFloat" id="backToBox"></a>
        <div class="btnWpr">
            <button id="prevItem" disabled class="lFloat prevBtn"></button>
            <button id="nextItem" disabled class="rFloat nextBtn"></button>
        </div>
        <a target="_blank" href="#" data-url="@Url.RouteUrl("ItemDownload")" id="download" class="rFloat downloadBtn"></a>
    </header>
    <div id="Item">
        <div class="itemContent" id="item_content" >
           
        </div>
    </div>

    @*<script type="text/javascript" src="@Url.UICultureContent("~/Js/Resources/ZboxResources.js")" ></script>*@
    
    <script type="text/javascript" src="~/Js/CDNFallback.min.js"></script>
    @Html.Script2("mobileItem")
    <div id="cssCheck"></div>
</body>
</html>
