@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@{
    const string svgUrl = "~/images/site/itemIcons.svg";
}
<div class="full-screen itemPage">
    <header>
        <div class="fb-like" ng-class="{blue : i.details.like}">
            <button type="button" ng-click="i.like()">
                <div class="content">@Html.Svg("~/images/site/box-icons.svg", "like") {{i.details.likes}} @GeneralResources.Like</div>
            </button>
        </div>

        <div class="text-center">
            <a target="_blank" href="{{i.details.downloadUrl}}">@Html.Svg(svgUrl, "download")</a>
            <a target="_blank" href="{{i.details.printUrl}}">@Html.Svg(svgUrl, "print")</a>
            @*<a href="#" tooltip-placement="bottom" tooltip-html="">@Html.Svg(svgUrl, "share")</a>*@
            <md-menu flex>
                <md-button aria-label="open menu" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)">
                    @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3" })
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button class="text-capitalize" aria-label="delete post" ng-click="i.showRename()">
                            @GeneralResources.Rename
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button aria-label="delete post" ng-click="i.selectedState = i.state.flag">
                            @ItemsResources.Flag
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <button class="close-btn" type="button" ng-click="app.back(i.details.boxUrl)">@Html.Svg("~/images/site/icons.svg", "close")</button>

    </header>
   
    <div class="full-screen-body" md-swipe-left="i.swipeLeft()" md-swipe-right="i.swipeRight()">
        <md-progress-linear ng-if="i.loader" md-mode="indeterminate"></md-progress-linear>
        <div class="fileName">
            <div class="name-info" layout="row" layout-align="center center" ng-if="i.selectedState === i.state.regular">
                <span class="ellipsis">{{i.details.name}}</span>
                <a class="info" href="#" tooltip-placement="bottom" tooltip-class="copy-right"
                   uib-tooltip="@ItemsResources.CopyRight">@Html.Svg(svgUrl, "info")</a>
            </div>
            <form name="renameItem" class="rename-form" novalidate ng-submit="i.renameItem(renameItem)" ng-if="i.selectedState === i.state.rename">
                <md-content layout="column">
                    <md-input-container flex>
                        <label class="text-capitalize">@ItemsResources.Name</label>
                        <input autocomplete="off" required ng-model="i.renameText" name="name" />
                        <div ng-messages="renameItem.name.$error" ng-show="renameItem.name.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                </md-content>

                <span layout="row" layout-align="end center  text-capitalize">
                    <button type="button" class="btn grey btn-default" ng-click="i.selectedState = i.state.regular">@GeneralResources.Cancel</button>
                    <button type="submit" class="btn blue" ng-disabled="!renameItem.$valid">@ItemsResources.Save</button>
                </span>
            </form>

            @{ Html.RenderPartial("_FlagItem");}
        </div>
        <div class="arrows">
            <a ng-if="i.details.previous" href="{{i.details.previous}}" hide-xs class="arrow left">@Html.Svg("~/images/site/icons.svg", "arrow")</a>
            <a ng-if="i.details.next" href="{{i.details.next}}" hide-xs class="arrow right">@Html.Svg("~/images/site/icons.svg", "arrow")</a>
        </div>
        <div class="preview" ng-bind-html="i.preview" infinite-scroll="i.loadMore()" infinite-scroll-distance="2" infinite-scroll-immediate-check="false">
        </div>
    </div>
</div>
