@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
<div id="upload" class="portlet invite box upload" ng-controller="Upload as u">
    <div class="portlet-title">
        <div class="caption">
            @IndexResources.UploadFiles
        </div>
    </div>
    <div class="portlet-body form" id="uploadSection">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="tab-content" flex="100">
                    <div layout-wrap layout="row" class="uploadSection" ng-if="u.uploadStep === 0">
                        <div flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="25" ng-click="u.uploadStep = 1">
                            <button type="button">
                                <span>
                                    <md-icon md-svg-icon="u:file" class="file"></md-icon>
                                </span>
                                @IndexResources.UploadFromComputer
                            </button>
                        </div>
                        <div flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="25">
                            <button type="button" ng-click="u.google()" ng-disabled="!u.googleDriveLoaded">
                                <span>
                                    <md-icon md-svg-icon="u:googleDrive"></md-icon>
                                </span>

                                @IndexResources.UploadFromGoogle
                            </button>
                        </div>
                        <div flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="25">
                            <button type="button" ng-click="u.dropBox()" ng-disabled="!u.dropBoxLoaded">
                                <span>
                                    <md-icon md-svg-icon="u:dropbox" class="dropbox"></md-icon>
                                </span>
                                @IndexResources.UploadFromDropbox
                            </button>
                        </div>
                        <div flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="25" ng-click="u.uploadStep = 4">
                            <button type="button">
                                <span>
                                    <md-icon md-svg-icon="u:link" class="link"></md-icon>
                                </span>
                                @IndexResources.WebLink
                            </button>
                        </div>
                    </div>
                    <div ng-if="u.uploadStep === 1" id="dropElement" drop-file class="uploadFile text-center">
                        <div>
                            <div ng-hide="u.files.length">
                                <div>@IndexResources.DragHere</div>
                                <div class="buttons">
                                    <md-button class="cancel-btn" ng-click="u.uploadStep = 0">
                                        @GeneralResources.Cancel
                                    </md-button>
                                    <a plupload="u.fileUpload.url" plupload-options="u.fileUpload.options" class="action-btn space-before upload-button" plupload-callbacks="u.fileUpload.callbacks">
                                        @IndexResources.UploadFiles
                                    </a>
                                </div>
                            </div>
                            <h5 ng-if="u.files.length">
                                <span class="completed">{{u.filesCompleteCount}} @IndexResources.Completed</span> |
                                <span class="failed">{{u.filesErrorCount}} @IndexResources.UploadFailed</span>
                            </h5>
                            <ul class="list-inline file-upload-area">
                                @*<li class="file-upload">
                        <span class="check-mark" ng-if="file.complete">@Html.Svg(url, "checkMark")</span>
                        <div class="file" layout="column" layout-align="space-between center">
                            <div class="file-name">
                                <div class="multi-line-ellipsis limit-three">
                                    this is a test
                                </div>
                                <md-progress-linear class="file-upload-progress" value="50" ng-if="!file.complete" md-mode="determinate">
                                </md-progress-linear>
                            </div>
                            <div class="file-footer">
                                <div class="file-size">25kb</div>
                                <button type="button" ng-click="file.remove()">@IndexResources.Remove</button>
                            </div>
                        </div>
                    </li>*@
                                <li class="file-upload" ng-repeat="file in u.files" ng-include="'file-upload.html'">
                            </ul>
                        </div>
                    </div>
                    <div class="uploadLink" ng-if="u.uploadStep === 4" ng-form="uploadLink">
                        <form name="uploadLink" novalidate ng-submit="u.uploadLink(uploadLink)">
                            <md-input-container class="padding">
                                <label>@IndexResources.Share</label>
                                <input type="text" spellcheck="false" name="link" autocomplete="off" ng-model="u.link"
                                       autofocus required md-no-asterisk ng-change="uploadLink.link.$setValidity('server',true)" />
                                <div ng-messages="uploadLink.link.$error">
                                    <div ng-message="required">@GeneralResources.RequiredField</div>
                                    <div ng-message="server">{{u.error}}</div>
                                </div>
                            </md-input-container>
                            <div class="buttons">
                                <md-button class="cancel-btn" ng-click="u.uploadStep = 0">
                                    @GeneralResources.Cancel
                                </md-button>
                                <button type="submit" class="action-btn space-before" ng-disabled="u.submitFormProcess || !uploadLink.$valid">@UserResources.Share</button>
                            </div>
                        </form>
                    </div>
                </div>
                <button type="button" class="close" ng-click="u.closeUpload()"><md-icon md-svg-icon="t:close"></md-icon>@*@Html.Svg("~/images/site/icons.svg", "close")*@</button>
            </div>
        </div>
    </div>
</div>

