@model Zbang.Cloudents.Mvc4WebRole.Models.InsertUser
@{
    var x = Request.QueryString["complete"];
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<div class="insertUser">
    <h1>
        טופס משתמש חדש לקלאודנטס
        <br />
        אגודת הסטודנטים המכללה למינהל
    </h1>

    @using (Html.BeginForm("InsertUser", "home", FormMethod.Post, new { @class = x }))
    {
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, null, new { autocomplete = "off" })

        @Html.ValidationMessageFor(m => m.LastName)
        @Html.LabelFor(m => m.LastName)

        @Html.TextBoxFor(m => m.LastName, null, new { autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Id)
        @Html.LabelFor(m => m.Id)

        @Html.TextBoxFor(m => m.Id, null, new { autocomplete = "off" })

        <input type="submit" value="עדכן" class="btn1" id="insert" />
        <div class="success">הפרטים שהזנת עודכנו בהצלחה!</div>
    }

</div>

@section scripts {
    @Html.Script2("General")
    <script>
        $('#mLoading').hide();
        //if (location.search.indexOf('complete') > 0) {
        //$('.insertUser form').addClass('complete');
        window.setTimeout(function () {
            $('.insertUser form').removeClass('complete');

        }, 2000);
        if (window.history && window.history.replaceState) {
            window.history.replaceState(null, '', location.origin + location.pathname);
        }
                $this.removeClass('complete');
    </script>


}
