@model Zbang.Zbox.Mvc3WebRole.Models.Account.AccountSettings.AccountSettings
@using Zbang.Zbox.Mvc3WebRole.Views.Account.Resources

@{ViewContext.FormContext = new FormContext();}
<div class="accountSettings" id="Account">
    @*@using (Ajax.BeginForm("ChangeSettings", null, new AjaxOptions(), new { @class = "accountSettings", id = "tab1" }))
{ *@

    @*  @Html.LabelFor(m => m.Email)
    <div class="emails">
        <ul class="emailList">
            <li>
                @Html.RadioButtonFor(m => m.Email, new { })
                <input type="radio" id="radio1" name="radios" value="apelbaum@gmail.com" checked />
                <label for="radio1">apelbaum@gmail.com</label>
                <button class="seeMore dotChar2">@AccountSettingsResources.Remove</button>
            </li>
            <li>
                <input type="radio" id="radio2" name="radios" value="apelbaum@yahoo.com" />
                <label for="radio2">apelbaum@yahoo.com </label>
                <button class="seeMore dotChar2">@AccountSettingsResources.Remove</button>
            </li>
        </ul>
        <button class="seeMore" id="AddEmail">@AccountSettingsResources.AddEmail</button>
        <div class="addEmail">
            <div class="seeMore">Add email:</div>
            <input type="text" class="inputText" placeholder="Enter neww email" />
            <button class="btn4" id="AddBtn">Change</button>
        </div>
    </div>*@
    @Html.LabelFor(m => m.Email)
    <div class="changeEmail">
        <span>@Model.Email</span>
        <button class="seeMore" id="ChangeEmail">@AccountSettingsResources.ChangeEmail</button>
        <div class="newEmail">
            @Html.TextBoxFor(m=>m.NewEmail.Email,new {@class="inputText", placeholder=AccountSettingsResources.EnterEmail , id="newEmail"})
            @*<input type="text" class="inputText" placeholder="@AccountSettingsResources.EnterEmail" />*@
            <button class="btn4" id="AddBtn">@AccountSettingsResources.Change</button>
            <span id="emailerr" class="validation-summary-errors"></span>
        </div>
    </div>

    <div class="section">
        <label for="ChangePwd">@AccountSettingsResources.Password</label>
        <div class="changePwd">
            <span id="passerr" class="validation-summary-errors"></span>
            @Html.PasswordFor(m => m.Password.CurrentPassword, new { @class = "inputText", placeholder = @AccountSettingsResources.OldPwd, id = "oldpsw" })
            @Html.PasswordFor(m => m.Password.NewPassword, new { @class = "inputText", placeholder = @AccountSettingsResources.NewPwd, id = "newpsw" })
        </div>
        <button class="btn4" id="ChangePwd">@AccountSettingsResources.Change</button>
    </div>

    <div class="section">
        @Html.LabelFor(m => m.Language)
        @Html.DropDownListFor(m => m.Language.Language,
            Zbang.Zbox.Infrastructure.Culture.Languages.supportedCultures.Select(s =>
                {
                    return new SelectListItem()
                    {
                        Selected = s.Culture == Model.Language.Language,
                        Text = s.Name,
                        Value = s.Culture
                    };
                }
         ), new { @class = "inputText", id="language" })
    </div>

    @*<div class="sectionHeader">Default box settings:</div>

    <div class="section">
        <label>Notifications:</label>
        <select class="inputText">
            <option>Off</option>
            <option selected>On every change</option>
            <option>Once a day</option>
            <option>Once a week</option>
        </select>
    </div>

    <div class="sectionPrivacy">
        <label>Privacy:</label>
        <select class="inputText">
            <option>Private</option>
            <option selected>Anyone with a URL</option>
            <option>Members Only</option>
        </select>
    </div>*@

    <input id="ChangeLanguage" type="button" class="btn1" value="@AccountSettingsResources.Save" />
    @*<button class="btn2">@AccountSettingsResources.Cancel</button>*@

</div>
