@using Zbang.Zbox.Mvc3WebRole.Views.Account.Resources


@section Header
{
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
}

@model Zbang.Zbox.Mvc3WebRole.Models.Account.ForgotPassword

<div class="specialPage">
    <div class="forgotPassword">@ForgotPasswordResources.ForgotPassword</div>
    <p>@ForgotPasswordResources.DontWorry</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.LabelFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email, null, new { @class = "smallErrMsg " })
        
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "inputText"})
            <button type="submit" class="btn1">@ForgotPasswordResources.Reset</button>
        </div>      
    }
</div>
