@using Zbang.Cloudents.Mobile.Extensions
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<div class="searchWpr" inner-scroll="{{search.loading}}">
    <button type="button" class="backBtn lFloat" ui-sref="root.dashboard">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </button>
    <form class="searchForm rFloat" close-keyboard>
        <input class="searchInput" placeholder="@SharedResources.Search" ng-change="search.query()" type="search" name="query" ng-model="search.formData.query" ng-model-options="{debounce:250}" focus-search minlength="2" />
        <div class="searchBtn rFloat" ng-if="!search.formData.query">
            @Html.Svg("~/Images/Defs.svg", "search", new { @class = "svg-search ltr" })
        </div>
        <div class="searchBtn rFloat" ng-if="search.formData.query.length > 0" ng-click="search.clearInput()">
            @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
        </div>
    </form>
</div>
<div class="searchContent" scroll-paging on-scroll="search.query(true)">
    <div class="tabs">
        <span class="tab" ng-click="search.setCurrentTab('courses')" ng-class="{ active : search.currentTab === 'courses'}">@SharedResources.Courses</span>
        <span class="tab" ng-click="search.setCurrentTab('items')" ng-class="{ active : search.currentTab === 'items'}">@SharedResources.Items</span>
        @*<span class="tab">Members</span>*@
    </div>

    <div ng-switch="search.currentTab">
        <ul class="courseList" ng-switch-when="courses">
            <li ng-repeat="course in search.courses">
                <a href="{{::course.url}}" class="ghost"
                   analytics-on analytics-event="Click on box" analytics-category="Search page" analytics-label="User clicked on a box">
                    <div class="courseName elps vCentered" data-box-letter="{{::course.name[0]}}">{{::course.name}}</div>
                </a>
            </li>
        </ul>
        <ul class="itemsList" ng-switch-when="items">
            <li ng-repeat="item in search.items">
                <a href="{{::item.url}}" class="ghost" target="_self"
                   analytics-on analytics-event="Click on item" analytics-category="Search page" analytics-label="User clicked on a item">
                    <div class="details vCentered">
                        <div class="fileName elps">{{::item.name}}</div>
                    </div>
                    <img width="64" height="78" ng-src="{{::item.image}}" />
                </a>
            </li>
        </ul>
    </div>
    @*<ul class="membersList">
            <li>
                <a href="#" class="ghost"
                analytics-on analytics-event="Click on member" analytics-category="Search page" analytics-label="User clicked on a member">
                    <div class="userName vCentered">{Username should go here}</div>
                    <img width="40" height="40" src="http://placehold.it/40x40" />
                </a>
            </li>
        </ul>*@
</div>
