@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
	@Html.Css2("staticPage")
	@Html.Css2("alex")
	@*@{ Html.RenderPartial("_Head");}*@
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui,user-scalable=yes">
</head>
<body class="internal-page @ViewBag.page-page">
<div class="page-overlay-wrapper">
	<div class="fade-gradient_NOPE"></div>
</div>
@{Html.RenderPartial("_StaticPageHeader");}
<div class="content">
	<img class="coffee" src="@Url.CdnContent("~/Images/Alex/coffee2_500px.png")" />
	@RenderBody()
</div>
@* ReSharper disable once Mvc.PartialViewNotResolved *@
<div id="cssCheck"></div>
@Html.Script2("alex")
</body>
</html>
