@{
	Layout = null;
}
<!doctype html>
<html class="no-js">
<head>
	@Html.Css2("alex")
	<meta charset="utf-8">
	<title>Alex</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body class="home-page fader">

<div class="page-overlay-wrapper">
	<div class="fade-gradient_NOPE"></div>

</div>

<div class="header-wrapper">
	<header class="header fluid-width mobile-full-width">
		<a class="fader-link close-overlay" href="#">
			<h1 class="spitball-logo float-left">spitball</h1>
		</a>
		<div class="header-nav-links">
			<a class="header-nav-link hover-color about-link about-header-link" href="#">About</a>
			<a class="header-nav-link hover-color faq-link faq-header-link" href="#">FAQ</a>
		</div>
		<a class="menu" href="">Menu</a>
	</header>
</div>

<section class="fixed-content fluid-width">
	<div class="content">
		<div class="constrain">

			<div class="content-text">
				<div class="text-slide active" data-slide="0">
					<h2 class="js-animate-this">Class Materials</h2>
					<div class="js-animate-this">
						Tests, study guides, notes, homeworks and more!
					</div>
					<a href="https://itunes.apple.com/us/app/id990911114?utm_source=website&utm_medium=homepage">
						<img src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
					</a>
				</div>
				<div class="text-slide" data-slide="1">
					<h2 class="js-animate-this">Textbooks</h2>
					<div class="js-animate-this">
						Rent, buy or sell textbooks at the best prices
					</div>

				</div>
				<div class="text-slide" data-slide="2">
					<h2 class="js-animate-this">Flashcards</h2>
					<div class="js-animate-this">
						Test yourself with our student-made flashcards
					</div>
				</div>
				<div class="text-slide" data-slide="3">
					<h2 class="js-animate-this">Tutors</h2>
					<div class="js-animate-this">
						24/7 help from in-person or online experts
					</div>
				</div>

			</div>
			<div class="device-frame">
				<div class="image-slides">
					<img class="image-slide init-image" alt="Docs - How Remarketing Keeps Customers Coming Back" src="@Url.CdnContent("~/Images/Alex/Docs_240px.png")"/>
					<img class="image-slide init-image" alt="Content - Get Customers Interested by Telling a Great Story" src="@Url.CdnContent("~/Images/Alex/unnamed_240px.png")"/>
					<img class="image-slide init-image" alt="Flashcard- How Remarketing Keeps Customers Coming Back" src="@Url.CdnContent("~/Images/Alex/FC_240px.png")"/>
					<img class="image-slide init-image" alt="Tutor - Advertising Content Measurement Strategy" src="@Url.CdnContent("~/Images/Alex/tutor_240px.png")"/>
				</div>
				<img class="init-image device" src="@Url.CdnContent("~/Images/Alex/iphone_300px.png")"/>
			</div>
		</div>
	</div>

</section>
<section class="scroll-container">
	<section class="scroll-section scroll-section-one" data-from-time="0.01" data-to-time="1.33" data-reverse-from-time="" data-reverse-to-time="">
		<div class="scroll-section-content">
			<picture>
				<source class="layer-object apple js-load-async" srcset="@Url.CdnContent("~/Images/Alex/apple_360px.png")" media="(min-width: 769px)">
				<img class="layer-object apple js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object headphones js-load-async" srcset="@Url.CdnContent("~/Images/Alex/headphone_620px.png")" media="(min-width: 769px)">
				<img class="layer-object headphones js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object spinner js-load-async" srcset="@Url.CdnContent("~/Images/Alex/spinner_small_350.png")" media="(min-width: 769px)">
				<img class="layer-object spinner js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
		</div>

	</section>
	<section class="scroll-section scroll-section-two" data-from-time="1.50" data-to-time="2.67" data-reverse-from-time="6.73" data-reverse-to-time="8.07">
		<div class="scroll-section-content">
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object book js-load-async" srcset="@Url.CdnContent("~/Images/Alex/Book_small_550px.png")" media="(min-width: 769px)">
				<img class="layer-object book js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/coffee2_500px.png")" media="(min-width: 769px)"/>
				<img class="layer-object coffee js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object sp-note js-load-async" srcset="@Url.CdnContent("~/Images/Alex/notebook_pencil_small_750px.png")" media="(min-width: 769px)"/>
				<img class="layer-object sp-note js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
		</div>

	</section>
	<section class="scroll-section scroll-section-three" data-from-time="2.83" data-to-time="4.00" data-reverse-from-time="5.40" data-reverse-to-time="6.57">
		<div class="scroll-section-content">
			<picture>
				<source class="layer-object folder js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object folder js-load-async" srcset="@Url.CdnContent("~/Images/Alex/red_folder_850px.png")" media="(min-width: 769px)">
				<img class="layer-object folder js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object sun-glasses js-load-async" srcset="@Url.CdnContent("~/Images/Alex/sun_glasses_small_350px.png")" media="(min-width: 769px)"/>
				<img class="layer-object sun-glasses js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object pizza js-load-async" srcset="@Url.CdnContent("~/Images/Alex/pizza_small_700px_crop.png")" media="(min-width: 769px)"/>
				<img class="layer-object pizza js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
		</div>

	</section>
	<section class="scroll-section scroll-section-four" data-from-time="" data-to-time="" data-reverse-from-time="4.06" data-reverse-to-time="5.23">
		<div class="scroll-section-content">
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>

				<source class="layer-object doc js-load-async" srcset="@Url.CdnContent("~/Images/Alex/Doc_small_45px.png")" media="(min-width: 769px)">

				<img class="layer-object doc js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/coffee2_500px.png")" media="(min-width: 769px)"/>
				<img class="layer-object coffee js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object mac js-load-async" srcset="@Url.CdnContent("~/Images/Alex/mac_small_790.png")" media="(min-width: 769px)"/>
				<img class="layer-object mac js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
			<picture>
				<source class="layer-object coffee js-load-async" srcset="@Url.CdnContent("~/Images/Alex/appIcon.png")" media="(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)"/>
				<source class="layer-object calc js-load-async" srcset="@Url.CdnContent("~/Images/Alex/calculator_380px.png")" media="(min-width: 769px)"/>
				<img class="layer-object calc js-load-async" src="@Url.CdnContent("~/Images/Alex/appIcon.png")"/>
			</picture>
		</div>
	</section>
</section>

<footer class="footer fluid-width mobile-full-width">
	<a href="" data-ga-label="DownArrow" class="down-arrow hover-fill js-ga-track">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="43" viewBox="0 0 24 43">
			<g fill="#FFF" fill-rule="nonzero">
				<path d="M12 32C5.373 32 0 26.627 0 20v-8C0 5.373 5.373 0 12 0s12 5.373 12 12v8a12 12 0 0 1-12 12zm0-30C6.477 2 2 6.477 2 12v8c0 5.523 4.477 10 10 10s10-4.477 10-10v-8A10 10 0 0 0 12 2zM12 42.41l-5.66-5.65a1 1 0 0 1 1.41-1.41L12 39.59l4.24-4.24a1 1 0 0 1 1.41 1.41L12 42.41z"/>
				<path d="M12 13a1 1 0 0 1-1-1V6a1 1 0 0 1 2 0v6a1 1 0 0 1-1 1z"/>
			</g>
		</svg>
	</a>
</footer>
@Html.Script2("alex")
</body>
</html>