@model Zbang.Cloudents.Mvc4WebRole.Models.CreateUniversity
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums

<div id="addSchool" class="addSchool popup" style="display:none">
    <div class="popupWpr">
        <div class="addSchoolContent">
            <div class="subTitle topContent">@DialogResources.AddSchool</div>

            <form>
                @{Html.RenderAction("AntiForgeryToken", "Home", true);}
                @Html.ValidationSummary(true)

                @Html.ValidationMessageFor(m=>m.Name)
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "inputText" })


                @Html.ValidationMessageFor(m=>m.Country)
                @Html.LabelFor(m => m.Country)
                @Html.TextBoxFor(m => m.Country, new { @class = "inputText" })

                @Html.LabelFor(m => m.Type)
                <select class="inputText" name="SchoolType">
                    <option value="" disabled selected style='display: none;'>@DialogResources.SelectFromList</option>
                    <option value="@SchoolType.University.ToString("g")">@SchoolType.University.GetEnumDescription()</option>
                    <option value="@SchoolType.College.ToString("g")">@SchoolType.College.GetEnumDescription()</option>
                    <option value="@SchoolType.HighSchool.ToString("g")">@SchoolType.HighSchool.GetEnumDescription()</option>
                </select>

                <input type="submit" class="btn1 rFloat" value="@DialogResources.SendRequest" />
            </form>
        </div>
        <div class="requestSent addSchoolContent">
            <h1>@DialogResources.ApplicationSent</h1>
            <div>@DialogResources.GetBackToYou</div>
        </div>
    </div>
</div>
