@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="dashboard-stat2">
    <button ng-hide="l.createBoxOn" type="button" ng-click="l.openCreateBox()" class="create-btn" ga-track-event="['university', 'add new class']">
        <div class="plus">@Html.Svg("~/images/site/icons.svg", "add")</div>
        <div class="title">@LibraryResources.AddClass</div>
    </button>
    <form name="createBox" novalidate ng-submit="l.createBox(createBox)" ng-show="l.createBoxOn">
        <md-content layout="column" flex>
            <md-input-container flex ng-if="!l.secondStep">
                <label>@LibraryResources.EnterClassName</label>
                <input autocomplete="off" name="name" required ng-model="l.boxName" ng-change="createBox.professor.$setValidity('server',true)" />
                <div ng-messages="createBox.name.$error" ng-show="createBox.name.$dirty">
                    <div ng-message="required">@GeneralResources.RequiredField</div>
                </div>
            </md-input-container>
            <md-input-container flex ng-if="l.secondStep">
                <label>@LibraryResources.EnterCode</label>
                <input autocomplete="off" ng-model="l.code" ng-change="createBox.professor.$setValidity('server',true)" />
            </md-input-container>
            <md-input-container flex ng-if="l.secondStep">
                <label>@LibraryResources.Instractor</label>
                <input autocomplete="off" ng-model="l.professor" name="professor" ng-change="createBox.professor.$setValidity('server',true)" />
                <div ng-messages="createBox.professor.$error">
                    <div ng-message="server">{{l.error}}</div>
                </div>
            </md-input-container>

        </md-content>
        <span layout="row" layout-align="end stretch" class="text-capitalize">
            <button type="button" class="btn btn-default" ng-click="l.boxCancel()" ga-track-event="['university', 'cancel new class']">@GeneralResources.Cancel</button>
            <button type="button" class="btn btn-primary" ng-if="!l.secondStep" ng-disabled="!l.boxName" ng-click="l.boxNext()" ga-track-event="['university', 'next step new class']">@LibraryResources.Next</button>
            <button type="submit" class="btn btn-primary" ng-if="l.secondStep" ng-disabled="!createBox.$valid || l.submitDisabled" ga-track-event="['university', 'create new class']">@GeneralResources.Create</button>
        </span>
    </form>
</div>
