@model Zbang.Cloudents.Mvc4WebRole.Models.CreateAcademicBox
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources

<div class="emptyLib" ng-if="!info.items.length" @*ng-class="{admin : isAdmin()}"*@>
    <h2 class="semiFont">@MainViewResources.SomethingMissing</h2>
    <div class="libEmptyWpr">
        <div class="libEmpty union-sprite">
            <h2 class="semiFont">@MainViewResources.FillGap</h2>
            <h2 class="semiFont">@MainViewResources.CreateCourse</h2>
            <form name="createAcademicBoxForm" ng-submit="submit(createAcademicBoxForm.$valid)" ng-class="{submitted : submitted }" novalidate>
                @Html.LabelFor(m=>m.CourseName)
                @Html.ValidationMessageFor(m => m.CourseName, string.Empty, new { @class = "validateMsg",ng_show="submitted && createAcademicBoxForm.courseName.$error.required" })
                @Html.TextBoxFor(m=>m.CourseName, new {@class="inputText", ng_model="formData.courseName", required="required"})

                
                @Html.LabelFor(m => m.CourseId)
                @Html.TextBoxFor(m => m.CourseId, new { @class = "inputText", ng_model="formData.courseId" })

                @Html.LabelFor(m => m.Professor)
                @Html.TextBoxFor(m => m.Professor, new { @class = "inputText", ng_model="formData.professor" })

                <input type="submit" class="btn1" value="@DialogResources.Create" />
            </form>
        </div>
    </div>
    @*<div class="erase">
        @SharedResources.Or&nbsp;<button class="actionText" type="button" data-bind="click: deleteNode">@SharedResources.Delete</button>&nbsp;@MainViewResources.ThisDepartment
    </div>*@
</div>