@model Zbang.Cloudents.Mvc4WebRole.Models.CreateAcademicBox
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources

<div class="emptyLib" ng-if="!info.items.length" ng-class="{admin : isAdmin()}">
    <h2 class="semiFont">@MainViewResources.SomethingMissing</h2>
    <div class="libEmptyWpr">
        <div class="libEmpty union-sprite">
            <h2 class="semiFont">@MainViewResources.FillGap</h2>
            <h2 class="semiFont">@MainViewResources.CreateCourse</h2>
            <form name="createAcademicBoxForm" ng-submit="submit(createAcademicBoxForm.$valid)" ng-class="{submitted : submitted }" novalidate>                                                
                <label for="createAcademicBoxCourseName">res_Name</label>
                <span id="createAcademicBoxCourseName" class="validateMsg" ng-show="submitted && createAcademicBoxForm.courseName.$error.required">res_Invalid</span>
                <input type="text" name="courseName" class="inputText" ng-model="formData.courseName" required/>

                <label for="createAcademicBoxCourseId">res_Course_Id</label>
                <input id="createAcademicBoxCourseId" type="text" name="courseId" class="inputText" ng-model="formData.courseId" />

                <label for="createAcademicBoxCourseProf">res_Proffesor</label>
                <input id="createAcademicBoxCourseProf" type="text" name="courseId" class="inputText" ng-model="formData.professor" />                


                <input type="submit" class="btn1" value="@DialogResources.Create" />
            </form>
        </div>
    </div>
    <div class="erase">
        @SharedResources.Or&nbsp;<button class="actionText" type="button" data-bind="click: deleteNode">@SharedResources.Delete</button>&nbsp;@MainViewResources.ThisDepartment
    </div>
</div>
