@model Zbang.Cloudents.Mvc4WebRole.Models.UniversityViewModel
@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Zbox.Infrastructure.Enums
@using System.Threading

@if (Model.Exists)
{
    <div class="libraryContent" id="LibraryContent">
        <form class="mainSearch" data-bind="submit: search">
            <input id="lib_SearchQuery" type="search" name="query" class="searchInput required" placeholder="@MainViewResources.SearchBank" />
            <button class="flipH" type="submit"></button>
        </form>

        <header data-university = "@Model.Exists.ToString().ToLower()" >
            <img src="@Model.Image" alt="" width="68" height="68" />
            <span class="heading">@MainViewResources.AcedemicBankOf @Model.Name</span>
        </header>

        <aside class="asideLib">
            <div class="files">@Model.ItemCount.ToString("N0", Thread.CurrentThread.CurrentCulture)<span class="statCategory">@MainViewResources.Files</span></div>
            <div class="courses">@Model.BoxesCount.ToString("N0", Thread.CurrentThread.CurrentCulture)<span class="statCategory">@MainViewResources.Courses</span> </div>
            <div class="students">@Model.MemberCount.ToString("N0", Thread.CurrentThread.CurrentCulture)<span class="statCategory">@MainViewResources.Students</span></div>

            <h3 class="libHeader">@MainViewResources.Contributors</h3>
            <ul class="asideList">
                @foreach (var user in Model.Contributers)
                {
                    <li>
                        <img class="asideImg calloutTrgr" data-img="@user.Image" data-name="@user.Name" data-uid="@user.Uid" src="@user.Image" alt="" width="32" height="32" />
                        <span class="elps">@user.Name</span>
                    </li>
                }
            </ul>
            <div class="extra">placeholder</div>
        </aside>
        <div class="listContainer">
            <div class="boxesHeader">
                <span class="location">
                    <a id="lib_Back" data-navigation="Library" class="back" data-bind="visible: backvisible, attr: { href: backUrl }">@MainViewResources.Back</a>
                    <span class="container">
                        <span id="lib_NodeName" class="header1 elps" data-bind="text: titleShow"></span>
                        <span class="libBoxActions">
                            <button id="lib_NodeRename" class="boxRename" title="rename" data-bind="visible: renameNodeVisible"></button>
                            <button class="boxDelete" title="delete" data-bind="visible: deleteNodeVisible, click: deleteNode"></button>
                        </span>
                    </span>
                </span>

                <div class="rFloat sortBy2" data-bind="visible: boxvisible">
                    <label for="lib_ord">@SharedResources.SortBy</label>
                    <select id="lib_ord" class="inputText" data-bind="value: orderBy, event: { change: $root.selectChange }">
                        <option value="@OrderBy.LastModified">@OrderBy.LastModified.GetEnumDescription()</option>
                        <option value="@OrderBy.Name" selected="selected">@OrderBy.Name.GetEnumDescription()</option>
                    </select>
                </div>

            </div>

            <ul id="libraryList" class="libraryList clearfix">
                <!--ko template:{name:displayMode,foreach:elements}-->
                <!--/ko-->
                <li class="libraryItem addDep" data-bind="visible: nodevisible">
                    <button class="addBtn" data-bind="click: addnode, style: { height: nodevisible() && boxvisible() ? '100px' : '58px' }">@MainViewResources.AddItem</button>
                </li>
                <li class="box addCourse" data-bind="visible: boxvisible">
                    <button class="addBtn" data-bind="click: addBox">@MainViewResources.AddCourse</button>
                </li>
            </ul>

            <div class="emptyState" data-bind="visible: searchEmptyState">
                <div id="libseaEmpy">@MainViewResources.NoResult</div>
                <div>@MainViewResources.TryAgain</div>
                <img src="@Url.CdnContent("~/Images/search_empty.png")" width="154" height="153" alt="" />
            </div>
            <!--ko if:emptyState-->
            <div class="emptyState dashLibEmpty">
                <div>@MainViewResources.EmptyLib</div>
                <img src="@Url.CdnContent("/Images/lib_firsttime.png")" class="hebFlip" width="418" height="143" alt="" />
            </div>
            <!--/ko-->
        </div>

    </div>
     
                Html.RenderPartial("~/Views/Library/_CreateLibraryItem.cshtml", new Zbang.Cloudents.Mvc4WebRole.Models.CreateLibraryItem());
                Html.RenderPartial("~/Views/Library/_UploadCreateAcademicBox.cshtml", new Zbang.Cloudents.Mvc4WebRole.Models.CreateAcademicBox());
                

}
else
{
    Html.RenderPartial("~/Views/Library/_SelectUni.cshtml");
    //Html.RenderPartial("~/Views/Library/_AddSchoolDialog.cshtml");
}


