@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    ViewBag.data = ViewBag.data ?? null;
}
<header class="siteHeader">
    @{Html.RenderPartial("_Header");}
</header>

<div class="library page">  @*id="library"*@
   
    <div class="libEmpty libraryChoose" id="libraryChoose">
        <h1 class="libEmptyTitle">@MainViewResources.WelcomeTo</h1>
        <h2>@MainViewResources.ChooseSchool</h2>

        <div class="uniWpr" ng-style="{display: display.searchUniversity ? 'block' : 'none'}">
            <input type="text" class="inputText" ng-placeholder="@MainViewResources.SearchFor" autocomplete="off"
                   ng-model="formData.searchInput" ng-model-options="{ debounce: 150 }"  ng-change="selectSearch()" />
        </div>
        <ul class="fbUniList" ng-style="{display: display.facebook ? 'block' : 'none'}">
            <li ng-repeat="university in FBUniversities">
                <div class="schoolItem" ng-click="selectUniversity(university,true)">
                    <img ng-src="{{::university.image | defaultImage:'uni'}}" class="lFloat uniImg" width="66" height="66" alt="{{::university.name}}" />
                    <div class="uniDetails">
                        <button type="button" class="btn3 rFloat">@SharedResources.Choose</button>
                        <div class="uniName elps boldFont">{{::university.name}}</div>
                        @*<div class="friendsCount" bo-attr bo-attr-data-friendscount="university.friendsCount">@MainViewResources.FriendsRegistered</div> *@
                    </div>
                </div>
                <ul class="fbFriendsList">
                    <li ng-repeat="friend in ::university.friends">
                        <img ng-src="{{::friend.image | defaultImage:'user'}}" class="lFloat imgBorder" width="32" height="32" tooltip="{{::friend.name}}" alt="{{::friend.name}}" />
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="uniList" ng-class="{noResults : universities.length === 0 }" ng-style="{display: display.search ? 'block' : 'none'}">
            <li class="schoolItem" ng-repeat="university in universities track by university.id" ng-click="selectUniversity(university)">
                <img ng-src="{{::university.image | defaultImage:'uni'}}" class="lFloat uniImg" width="66" height="66" alt="{{::university.name}}" />
                <span class="uniDetails">
                    <span class="uniName elps boldFont">{{::university.name}}</span>
                </span>
            </li>
            <li class="emptySearch">@SharedResources.NoResults</li>
            <li class="newUni">
                <span>@MainViewResources.CantFind</span>
                <button type="button" class="createUni" ng-click="createUniversity()" analytics-on analytics-category="Select university" analytics-label="Create new university">@SharedResources.CreateNew</button>
            </li>
        </ul>

        @{
            Html.RenderPartial("_AddSchoolDialog", new Zbang.Cloudents.Mvc4WebRole.Models.CreateUniversity { Country = ViewBag.country });
        }

        @*<div class="completeRegistration" ng-style="{display: display.complete ? 'block' : 'none'}">
            <div class="top">
                <img class="uniImg" ng-src="{{selectedUni.image}}" alt="" width="66" height="66" />
                <div class="uniRegTxt1" data-school="{{selectedUni.name}}">@MainViewResources.YouStudyAt</div>
                @*<div class="uniRegTxt2" data-regfriends-count="23">@MainViewResources.OfYourFriends</div>
            </div>
            @{
                Html.RenderPartial("_ChooseDepartment", new Zbang.Cloudents.Mvc4WebRole.Models.ChooseDepartment());
                Html.RenderPartial("_CreateDepartment", new Zbang.Cloudents.Mvc4WebRole.Models.CreateDepartment());
            }
        </div>*@
    </div>
</div>
@*<script type="text/ng-template" id="universityItemTemplate">
    </script>
    <script type="text/ng-template" id="universityItemFbTemplate">
    </script>
    <script type="text/ng-template" id="fBFriendTemplate">
    </script>*@
