@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    ViewBag.data = ViewBag.data ?? null;
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<div id="library" class="page" >
    <div class="libEmpty libraryChoose" id="libraryChoose" data-data="@ViewBag.data" data-haveuniversity="@ViewBag.haveUniversity" data-country="@ViewBag.country">
        <div class="libEmptyTitle">@MainViewResources.WelcomeAcademic</div>
        <div class="uniWpr">
            <input type="text" id="uni_search" class="inputText uniSearch" placeholder="Search for your school" autocomplete="off" />
        </div>
        @*Guy: If no results please add noResults class on the list*@
        <ul class="uniList" id="uniList">
            <li class="emptySearch">@SharedResources.NoResults</li>
            <li class="newUni">
                <span>@MainViewResources.CantFind</span>
                <a href="#" class="createUni">@SharedResources.CreateNew</a>
            </li>

        </ul>
    </div>
</div>
@section scripts
{
<script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6013174718407';
    fb_param.value = '0.00';
    fb_param.currency = 'USD';
    (function () {
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
    })();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6013174718407&amp;value=0&amp;currency=USD" /></noscript>
    @Html.Script2("ChooseLib")
}

<script type="text/html" id="universityItemTemplate">
    <li class="schoolItem" data-id="{{id}}" data-ncode="{{nCode}}">
            <img src="{{image}}" class="lFloat uniImg" width="50" height="50" alt="" />
            <span class="uniDetails">
                <span class="uniName elps boldFont">{{name}}</span>
                <span class="uniCount">{{membersCount}}</span>
            </span>    
    </li>
</script>
