@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    ViewBag.data = ViewBag.data ?? null;
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
@if (ViewBag.country == "IL")
{
    <aside class="chairman rFloat">
        <h2>דבר יו"ר ההתאחדות</h2>
        <p>סטודנטים וסטודנטיות יקרים/ות, שותפים/ות  לדרך,</p>
        <p>אני גאה בפלטפורמה שיתופית זו שתאפשר לכולנו, ציבור הסטודנטים והסטודנטיות, לחלוק ידע זו עם זה. יכולתינו לנצל את כלל המשאבים והכישורים העומדים לרשותינו באופן יעיל ונוח היא מה שמאפשרת לנו להוביל שינויים והישגים בכל התחומים. אני סמוך ובטוח שתעשו שימוש נכון בפלטפורמה זו לא רק לצרכים אקדמיים אלא גם כדי לקדם מטרות חשובות נוספות.</p>
        <p> לנו, דור הצעירים, יכולת להתחבר מהר לתהליכים חברתיים כלכליים ופוליטיים שקורים ולהשפיע עליהם בזמן אמת. היכולת שלכם כסטודנטים לגייס ידע וטכנולוגיה היא זו שמובילה את השינויים החברתיים בגדולים בזמננו ומעבירה אותם לשטח ולמציאות הקונקרטית. </p>
        <p> התאחדות הסטודנטים מתחייבת לפעול למענכם הסטודנטים והסטודנטיות בישראל, ולמען הגשמת שאיפותיכם וחלומותיכם כאן ועכשיו. אתם דור העתיד של המדינה, מתוככם תצמח המנהיגות הפוליטית, הכלכלית, האקדמית והתרבותית של ישראל. נמשיך לעשות כל שידרש כדי לקדם שיתופי ידע ושיתופי הפעולה שמקדמים את ציבור הסטודנטים ומאפשרים לו לתת ביטוי אמיתי לחלומות, לרצונות ולצרכים שלו.</p>
        <p> יש לזכור שמוטלת עלינו הסטודנטים החובה לא רק לזעוק ולצעוק על עוולות חברתיות אלא יותר מכל עלינו לשנס מותניים ליזום ולהוביל מיזמים חברתיים לקידום הפריפריה החברתית ולהגברת הערבות החברתית בישראל. אותה ערבות צריכה להסתמך על למידה מעמיקה ושיח עמיתים בין כולנו, שאתר Cloudents מאפשר. </p>
        <p> של ההתאחדות. ההון האנושי האיכותי ממנו מורכב עולם הסטודנטים יחד עם ההטרוגניות שלו ופריסתו הארצית מאפשרת ותאפשר לנו להמשיך וליזום פרויקטים מסוג אלו. <a target="_blank" href="http://www.nuis.co.il/wp-content/uploads/2012/02/%D7%9E%D7%A6%D7%A2%D7%99%D7%A8-%D7%9C%D7%90%D7%96%D7%A8%D7%97-%D7%9E%D7%A9%D7%9B%D7%99%D7%9C-%D7%99%D7%A6%D7%A8%D7%A0%D7%99-%D7%95%D7%9E%D7%A9%D7%A4%D7%99%D7%A2-%D7%9E%D7%93%D7%99%D7%A0%D7%99%D7%95%D7%AA-%D7%A6%D7%A2%D7%99%D7%A8%D7%99%D7%9D-%D7%91%D7%99%D7%A9%D7%A8%D7%90%D7%9C.pdf">בחוברת החזון החברתי</a> בשנים האחרונות מפעילה התאחדות הסטודנטים מספר לא מועט של מיזמים חברתיים ברוח זאת, המוצגים </p>
        <p> בברכת עשייה והגשמה</p>
        <p>
            אורי רשטיק
            <br />
            יו”ר התאחדות הסטודנטים בישראל
        </p>
    </aside>
}
<div id="library" class="page" >
    <div class="libEmpty libraryChoose" id="libraryChoose" data-data="@ViewBag.data" data-haveuniversity="@ViewBag.haveUniversity" data-country="@ViewBag.country">
        <h1 class="libEmptyTitle">@MainViewResources.WelcomeTo</h1>
        <h2>@MainViewResources.ChooseSchool</h2>

        <div class="uniWpr">
            <input type="text" id="uni_search" class="inputText uniSearch" placeholder="@MainViewResources.SearchFor" autocomplete="off" />
        </div>        
        <ul class="fbUniList" id="fbUniList">           
        </ul>

        <ul class="uniList" id="uniList">
            <li class="emptySearch">@SharedResources.NoResults</li>
            <li class="newUni">
                <span>@MainViewResources.CantFind</span>
                <a href="#" class="createUni">@SharedResources.CreateNew</a>
            </li>
            
        </ul>
    </div>
</div>


<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '450314258355338',
            xfbml: true,
            version: 'v2.0'
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

@section scripts{

    @Html.Script2("ChooseLib")
}

<script type="text/html" id="universityItemTemplate">
    <li class="schoolItem" data-id="{{id}}">
        <img src="{{image}}" class="lFloat uniImg" width="66" height="66" alt="{{name}}" />
        <span class="uniDetails">
            <span class="uniName elps boldFont">{{name}}</span>
            <span class="uniCount" data-students="@MainViewResources.Students" data-student="@MainViewResources.Student">{{membersCount}}</span>
        </span>    
    </li>
</script>


<script type="text/html" id="universityItemFbTemplate">
    <li>
        <div class="schoolItem">
            <img src="{{image}}" class="lFloat uniImg" width="66" height="66" alt="uni" />
            <div class="uniDetails">
                <button type="button" class="btn3 rFloat" data-id="{{id}}">Choose</button>
                <div class="uniName elps boldFont">{{name}}</div>
                <div class="friendsCount" data-friendscount="{{friendsCount}}">of your friends are registered</div>

            </div>
        </div>
        <ul class="fbFriendsList">
            {{friendsList}}
        </ul>
    </li>     
</script>
<script type="text/html" id="fBFriendTemplate">
    <li><img src="{{image}}" class="lFloat imgBorder" width="32" height="32" title="{{name}}" alt="{{name}}" /></li>
</script>