@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources

<div ng-if="!lc.needCode" id="lib-choose">
    <div class="search-form-wrapper">
        <div class="intro-text">@LibraryResources.UniversitySearchTitle</div>
        <form novalidate ng-submit="lc.search()" layout="row" layout-wrap>
            <input spellcheck="false" autofocus ng-disabled="lc.createUniversity" type="search" class="search-text" placeholder="@LibraryResources.UniversitySearchPlaceholder" ng-model="lc.term" ng-model-options="{debounce : 250}" ng-change="lc.search()" ng-minlength="2" />
            <button type="submit" class="search-button">
                @Html.Svg("~/images/site/icons.svg", "searchIcon")
            </button>
        </form>
    </div>

    <div layout="row" layout-align="start center" layout-padding layout-wrap ng-if="!lc.createUniversity" srph-infinite-scroll="lc.paging()">
        <div flex="100" class="flex" ng-repeat="u in lc.universities track by u.id">
            <div ng-click="lc.selectUniversity(u)" class="univeristy" ga-track-event="['universityChoose', 'selected university']">
                <img class="img-circle" ng-src="{{::u.image}}" width="70" height="70" />
                <div>
                    <span class="ellipsis color-1">{{::u.name}}</span>
                    <ul class="list-inline">
                        <li ng-repeat="img in ::u.userImages track by $index">
                            <img ng-src="{{::img}}" width="30" height="30" />
                        </li>
                        <li ng-if="u.extraPeople">+{{::u.extraPeople}}</li>
                    </ul>

                </div>
            </div>
        </div>
        <div flex="100" class="flex" ng-if="lc.universities.length">
            <div class="add-uni-btn" ng-click="lc.createUniversity = true" ga-track-event="['universityChoose', 'add new university']">
                <span>@Html.Svg("~/images/site/icons.svg", "add")</span>
                <div class="text-capitalize">@LibraryResources.AddSchool</div>
            </div>
        </div>
    </div>

    @{ Html.RenderPartial("_ChooseCreateUniversity");}
</div>
@{ Html.RenderPartial("_ChooseEnterCode");}
