@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources

<div class="library">
    <div class="page-head">
        <div class="page-title">
            <h1>{{::l.universityName}}</h1>
            <div ng-if="l.nodeDetail && !l.settingsOpen" layout="row" layout-align="space-between center">
                <h2 layout="row">
                    <a href="{{::l.nodeDetail.parentUrl}}">
                        <span class="arrow back-arrow">@Html.Svg("~/images/site/icons.svg", "arrow")</span>
                        {{::l.nodeDetail.name}}
                    </a>
                </h2>
                <button flex="none" type="button" ng-click="l.toggleSettings()">@Html.Svg("/images/site/box-icons.svg", "settings")</button>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("_Settings");}
    <div layout="row" layout-padding layout-wrap class="margin-top-10">

        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="flex department-wrap" ng-repeat=" dep in l.departments">
            <a href="{{::dep.url}}" class="dashboard-stat2 department" d-color="{{::dep.name.length}}">
                <div class="corner" d-color="{{::dep.name.length}}">
                </div>
                <div class="display">
                    <div class="number">
                        <h3 class="multi-line-ellipsis limit-three">{{::dep.name}}</h3>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress background" d-color="{{::dep.name.length}}">
                    </div>
                    <div class="status">
                        <div class="status-title">
                            {{::dep.noBoxes}} @GeneralResources.Courses
                        </div>
                    </div>
                </div>
            </a>
            <md-menu ng-if="l.canDelete(dep)">
                <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)">
                    @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3" })
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button aria-label="remove department" ng-click="l.deleteDepartment($event,dep)">
                            @GeneralResources.Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="flex" ng-repeat="e in l.boxes" ng-include="'box-template.html'"></div>
        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="create-box flex" ng-if="l.createDepartmentShow">
            <div class="dashboard-stat2">
                <button type="button" ng-hide="l.createDepartmentOn" ng-click="l.createDepartmentOn = true" class="create-btn">
                    <div class="plus">@Html.Svg("~/images/site/icons.svg", "add")</div>
                    <div class="title">@LibraryResources.AddDepartment</div>
                </button>
                <form name="createDepartment" class="create-department" novalidate ng-submit="l.createDepartment(createDepartment)" ng-show="l.createDepartmentOn">
                    <md-content layout="column">
                        <md-input-container flex>
                            <label>@LibraryResources.EnterDepName</label>
                            <input autocomplete="off" name="name" required ng-model="l.departmentName" ng-change="createDepartment.name.$setValidity('server',true)" />
                            <div ng-messages="createDepartment.name.$error" ng-show="createDepartment.name.$dirty">
                                <div ng-message="required">@GeneralResources.RequiredField</div>
                                <div ng-message="server">{{l.error}}</div>
                            </div>
                        </md-input-container>
                    </md-content>
                    <span layout="row" layout-align="end center text-capitalize">
                        <button type="button" class="btn btn-default" ng-click="l.departmentCancel(createDepartment)">@GeneralResources.Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="!createDepartment.$valid">@GeneralResources.Done</button>
                    </span>
                </form>
            </div>
        </div>
        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="create-box flex" ng-if="l.createClassShow">
            <div class="dashboard-stat2">
                <button ng-hide="l.createBoxOn" type="button" ng-click="l.createBoxOn = true" class="create-btn">
                    <div class="plus">@Html.Svg("~/images/site/icons.svg", "add")</div>
                    <div class="title">@LibraryResources.AddClass</div>
                </button>
                <form name="createBox" novalidate ng-submit="l.createBox(createBox)" ng-show="l.createBoxOn">
                    <md-content layout="column" flex>
                        <md-input-container flex ng-if="!l.secondStep">
                            <label>@LibraryResources.EnterClassName</label>
                            <input autocomplete="off" name="name" required ng-model="l.boxName" ng-change="createBox.professor.$setValidity('server',true)" />
                            <div ng-messages="createBox.name.$error" ng-show="createBox.name.$dirty">
                                <div ng-message="required">@GeneralResources.RequiredField</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex ng-if="l.secondStep">
                            <label>@LibraryResources.EnterCode</label>
                            <input autocomplete="off" ng-model="l.code" ng-change="createBox.professor.$setValidity('server',true)" />
                        </md-input-container>
                        <md-input-container flex ng-if="l.secondStep">
                            <label>@LibraryResources.Instractor</label>
                            <input autocomplete="off" ng-model="l.professor" name="professor" ng-change="createBox.professor.$setValidity('server',true)" />
                            <div ng-messages="createBox.professor.$error">
                                <div ng-message="server">{{l.error}}</div>
                            </div>
                        </md-input-container>

                    </md-content>
                    <span layout="row" layout-align="end stretch">
                        <button type="button" class="btn btn-default text-capitalize" ng-click="l.boxCancel()">@GeneralResources.Cancel</button>
                        <button type="button" class="btn btn-primary text-capitalize" ng-if="!l.secondStep" ng-disabled="!l.boxName" ng-click="l.boxNext()">@LibraryResources.Next</button>
                        <button type="submit" class="btn btn-primary text-capitalize" ng-if="l.secondStep" ng-disabled="!createBox.$valid">@GeneralResources.Done</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>