@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="library">
    <div class="page-head">
        <div class="page-title">
            <h1>{{::l.universityName}}</h1>
            <div class="course-nav" ng-if="l.nodeDetail && !l.settingsOpen" layout="row" layout-align="space-between center">
                <h2 layout="row">
                    <a layout="row" layout-align="start center" href="{{::l.nodeDetail.parentUrl}}" ga-track-event="['university', 'back arrow']">
                        <span class="arrow back-arrow">@Html.Svg("~/images/site/icons.svg", "arrow")</span>
                        <div>
                            {{::l.nodeDetail.name}}
                        </div>
                    </a>
                </h2>
                <button flex="none" type="button" ng-click="l.toggleSettings()" ga-track-event="['university', 'settings']">@Html.Svg("/images/site/box-icons.svg", "settings")</button>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("_Settings");}
    <div layout="row" layout-padding layout-wrap class="margin-top-10">

        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="flex department-wrap" ng-repeat=" dep in l.departments">
            <a href="{{::dep.url}}" class="dashboard-stat2 department" d-color="{{::dep.name.length}}" ga-track-event="['university', 'select department']">
                <div class="corner" d-color="{{::dep.name.length}}">
                </div>
                <div class="display">
                    <div class="number">
                        <h3 class="multi-line-ellipsis limit-three">{{::dep.name}}</h3>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress background" d-color="{{::dep.name.length}}">
                    </div>
                    <div class="status">
                        <div class="status-title">
                            {{::dep.noBoxes}} @GeneralResources.Courses
                        </div>
                    </div>
                </div>
            </a>
            <md-menu ng-if="l.canDelete(dep)">
                <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['university', 'delete department']">
                    @Html.Svg("~/images/site/icons.svg", "ThreeDots", new { @class = "dots-3" })
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button aria-label="remove department" ng-click="l.deleteDepartment($event,dep)" ga-track-event="['university', 'didDelete']">
                            @GeneralResources.Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="flex" ng-repeat="e in l.boxes" ng-include="'box-template.html'"></div>
        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="create-box flex" ng-if="l.createDepartmentShow">
            @{ Html.RenderPartial("_CreateDepartment");}
        </div>
        <div flex-lg="25" flex-gt-lg="25" flex-md="33" flex-xs="100" flex-sm="50" class="create-box flex" ng-if="l.createClassShow">
            @{ Html.RenderPartial("_CreateCourse");}
        </div>
    </div>
</div>