@model Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings.University
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div id="libEnterId" title="">
    <div class="popupWrppr enterCode">
        <header class="popupHeader">שלום, <span>@ViewBag.userName</span></header>
        <button id="closeRegIdPopup" class="closeDialog"></button>
        @using (Html.BeginForm("UpdateUniversity", "Account"))
        {
            Html.RenderAction("AntiForgeryToken", "Home", true);
            <img class="lFloat" src="@Url.CdnContent("/Images/code-icon1.png")" alt="" width="108" height="114" />
            <div>
                @ViewBag.AgudaSentence
            </div>

            @Html.HiddenFor(m => m.UniversityId)
            @Html.ValidationMessageFor(m => m.Code)
            <label for="Code">מספר ת"ז - נא להכניס 9 ספרות</label>
            <input id="userIdNumber" type="text" name="studentID" class="inputText" placeholder="הכנס ת.ז. כאן" autofocus />
            <input id="submitRegIdPopup" type="submit" class="btn1" disabled="disabled" value="המשך" />
        }
        <div class="noCode">
            <div class="boldFont">אינו רשום במערכת?</div>
            <div style="margin-bottom: 5px;">
                 יש לשלוח מייל ל&nbsp;<a class="mailTo" href="mailto:@ViewBag.AgudaMail" target="_blank">@ViewBag.AgudaMail</a>
                <br />
                <span class="boldFont" style="margin-top: 5px; display: inline-block;">עם הפרטים הבאים</span> :
            </div>
            <div>
                - שם פרטי ומשפחה<br />
                - כתובת מייל (אליו ישלח הקוד)<br />
                - תעודת זהות<br />
                - מספר טלפון<br /><br />

                @ViewBag.AgudaPhone
            </div>
        </div>
    </div>
    <div class="modal2"></div>
</div>