@model IEnumerable<Zbang.Zbox.ViewModel.DTOs.Library.DepartmentDto>
<div data-popup=""  >
    <div class="popupWrppr departmentChoose" >
        <header class="popupHeader">Воронежский институт высоких технологий</header>
        <button type="button" class="closeDialog"></button>
        <div class="chooseDptTxt">Пожалуйста заполните подробности ниже:</div>

        <input checked type="radio" id="studentRadio" name="userStatus"   />
        <label class="statusLabel first" for="studentRadio">Я студент</label>
        <input class="lecturerRadio" id="lecturerRadio" name="userStatus" type="radio" />
        <label class="statusLabel" for="lecturerRadio">Я преподаватель</label>

        <label for="department">Ваш раздел</label>
       
        <select id="department">
            <option class="placeholder" selected="selected">выберите раздел</option>
            @foreach (var item in Model.Select(s=>s.Name).Distinct())
            {
                <option value="@item">@item</option>
            }
         
        </select>

        
        <label for="year">
            период обучения
        </label>
        <select id="year">
            <option class="placeholder" value="-1" selected="selected">выберите период обучения</option>
          @foreach (var item in Model)
          {
              <option style="display:none;" value="@item.Id" data-department="@item.Name">@item.Year</option>
          }
        </select>
        <div class="dptDetail first">
            <label>Номер группы</label>
            <input type="text" class="inputText" />
        </div>
        <div class="dptDetail">
            <label>Номер зачетной книжки</label>
            <input type="text" class="inputText" />
        </div>
        <input id="depSubmit"  type="submit" class="btn1" disabled="disabled" value="Продолжить"/>
    </div>
    <div class="modal2"></div>
</div>
