@page
@model MarkAsCorrectModel
@{
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td:last-child {
        width: 85px
    }

    td:nth-child(4n) {
        width: 50px;
    }
    td:first-child {
        width: 50px;
    }
    td {
        overflow-wrap: break-word;
    }
</style>


<table>
    <tr>
        <td>Question Id</td>
        <td>Question Text</td>
        <td>Answer Text</td>
        <td>Link</td>
        <td></td>

        @foreach (var q in Model.Questions)
        {
        <tr>
            <td>@q.QuestionId</td>
            <td>@q.QuestionText</td>
            <td>@q.AnswerText</td>
            <td><a href="@q.Url" target="_blank">Link</a> </td>
            <td>
                <form method="POST">
                    <input type="hidden" asp-for="@Model.Model.QuestionId" value="@q.QuestionId" />
                    <input type="hidden" asp-for="@Model.Model.AnswerId" value="@q.AnswerId" />
                    <input type="submit" value="approve" />
                </form>
            </td>
        </tr>
    }
    </table>

    @*<form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Model.QuestionId"></label>
        <input asp-for="Model.QuestionId" />
        <br />
        <label asp-for="Model.AnswerId"></label>
        <input asp-for="Model.AnswerId" />
        <input type="submit" />
    </form>*@
