@using System
@using System.Globalization
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<footer>
    <ul class="footer">
        <li>@FooterResources.ZbangIt&rlm;&nbsp;&lrm;&copy;@DateTime.UtcNow.Year.ToString(CultureInfo.InvariantCulture)&nbsp;@FooterResources.RightsReserved&nbsp;V @VersionHelper.CurrentVersion(false)</li>
        <li><a href="@Url.Action("AboutUs", "Home")">@FooterResources.AboutUs</a></li>
        <li><a href="@Url.Action("Help", "Home")">@SharedResources.Help</a></li>
        <li><a href="@Url.Action("ContactUs", "Home")">@FooterResources.ContactUs</a></li>
        <li><a href="@Url.Action("Privacy", "Home")">@FooterResources.PrivacyPolicy</a></li>
        <li class="removePipe"><a href="@Url.Action("TermsOfService", "Home")">@FooterResources.TermsOfService</a></li>
        
    </ul>
</footer>
