@using Zbang.Cloudents.Mobile.Extensions
<!DOCTYPE html>

<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    @Html.Css2("mobile")
    @*@Html.CssRtl("mobileRtl")*@
    @Html.CssCulture("lang")
    <title>@ViewBag.Title</title>

    <base href="/">
</head>
<body data-version="@VersionHelper.CurrentVersion(true)">
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
