@using Zbang.Cloudents.Mobile.Extensions
<!DOCTYPE html>

<html data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name" ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    @*<meta property="al:ios:url" content="cloudents://" />
    <meta property="al:ios:app_store_id" content="990911114" />
    <meta property="al:ios:app_name" content="Cloudents" />
    <meta property="al:android:url" content="cloudents://" />
    <meta property="al:android:app_name" content="Cloudents" />
    <meta property="al:android:package" content="com.cloudents.zbox2" />
    <meta property="al:web:url"
          content="http://applinks.org/documentation" />*@
    @Html.Css2("mobile")
    @Html.CssCulture("lang")
    <title>@ViewBag.Title</title>

    <base href="/">
</head>
<body class="@Html.ClassOfRtl()" data-version="@VersionHelper.CurrentVersion(true)">
    @RenderBody()
    @*DO NOT REMOVE THIS AT ALL TIME*@
    <div id="cssCheck"></div>

    @RenderSection("scripts", false)

    @*<script>
        deeplink.setup({
            fallback: false,
            urlFallback: location.href,
            android: {
                appId: "com.cloudents.zbox2"
            }
        });
        window.onload = function () {
            deeplink.open("cloudents://" + location.pathname) ;
        }
    </script>*@
</body>
</html>
