@using Zbang.Cloudents.Mobile.Extensions
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    @Html.Css2("mobile")
    @Html.CssCulture("lang")
    <title>@ViewBag.Title</title>

    <base href="/">
</head>
<body>
     @RenderBody()
    @*@{Html.RenderPartial("_FbRegister");}*@
     @RenderSection("scripts", false)
</body>
</html>
